<template>
  <div class="container-admin">
    <div class="title_area" v-if="titles.title_1 || titles.title_sub_1">
      <div class="title-1" v-if="titles.title_1">{{titles.title_1}}</div>
      <div class="title-sub-1" v-if="titles.title_sub_1">{{titles.title_sub_1}}<span v-if="titles.title_sub_2"> / {{titles.title_sub_2}}</span></div>
    </div>

    <div class="inner-wrap">
      <router-view @setTitle="updateTitle"></router-view>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      titles: {
        title_1: '',
        title_sub_1: '',
        title_sub_2: ''
      },
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      this.updateTitle;

      this.checkIfAdmin()
        .then(response => {
          this.admin = response>0 ? true : false;
          // console.log('admin', this.admin);
          this.$store.commit('setAuthAdmin', this.admin);
          if (!this.admin) {
            location.href = '/main';
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    updateTitle(titles) {
      this.titles.title_1 = titles.title_1 || '';
      this.titles.title_sub_1 = titles.title_sub_1 || '';
      this.titles.title_sub_2 = titles.title_sub_2 || '';
    },
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/admin.scss";

</style>