<template>
  <div v-if="!$store.state.skeleton">
    <ul class="list-card col--3">
      <li>
        <v-card tile>
          <v-card-title>출품 마감</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div v-if="ispermission('aw')" class="scon">{{remainDay | dDay}}</div>
            <div v-else class="scon no-permission">출품관리 권한 없음</div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>출품 수</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div v-if="ispermission('aw')" class="scon">{{cntTotalWork | addComma}}</div>
            <div v-else class="scon no-permission">출품관리 권한 없음</div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <!-- <v-card-title>수상 예정</v-card-title> -->
          <v-card-title>&nbsp;</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <!-- <div v-if="ispermission('aw')" class="scon">{{cntExpectedWinner | addComma}}</div>
            <div v-else class="scon no-permission">출품관리 권한 없음</div> -->
            <div v-if="ispermission('aw')" class="scon">&nbsp;</div>
            <div v-else class="scon no-permission">&nbsp;</div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>무통장 입금 확정 필요</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div v-if="ispermission('pa')" class="scon">{{cntNeedToConfirmedDeposit | addComma}}</div>
            <div v-else class="scon no-permission">결제관리 권한 없음</div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>세금계산서 발행 요청</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div v-if="ispermission('pa')" class="scon">{{cntNeedToTax | addComma}}</div>
            <div v-else class="scon no-permission">결제관리 권한 없음</div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>신용카드 결제 금액</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <div v-if="ispermission('pa')" class="scon">{{totalCreditPrice | addComma}}</div>
            <div v-else class="scon no-permission">결제관리 권한 없음</div>
          </v-card-text>
        </v-card>
      </li>
    </ul>
  </div>

  <skeleton v-else></skeleton>
</template>

<script>
import Skeleton from '@/components/skeleton/admin/Dashboard.vue';

export default {
  components: {
    Skeleton: Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '대시보드' },
      usersession: [],
      permission: [],

      remainDay: 0,
      cntTotalWork: 0,
      cntExpectedWinner: 0,
      cntNeedToConfirmedDeposit: 0,
      totalCreditPrice: 0,
      cntNeedToTax: 0
    }
  },
  mounted() {
    this.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.$axios.get('/api/get/usersession').then(res => {
        this.usersession = res.data.data;
        // console.log(this.usersession);

        this.permission = this.usersession.ua_auth ? this.usersession.ua_auth.split(',') : '';
      });

      this.$axios.get('/api/admin/dashboard').then(res => {
        var load_data = res.data.data;
        // console.log(load_data);
        var {remainDay,cntTotalWork,cntExpectedWinner} = load_data.aw.data;
        var {cntNeedToConfirmedDeposit,totalCreditPrice,cntNeedToTax} = load_data.pa.data;
        //console.log("is assigned? ",remainDay,cntTotalWork,cntExpectedWinner,cntNeedToConfirmedDeposit,totalCreditPrice,cntNeedToTax)
        this.remainDay = remainDay
        this.cntTotalWork = cntTotalWork
        this.cntExpectedWinner = cntExpectedWinner
        this.cntNeedToConfirmedDeposit = cntNeedToConfirmedDeposit
        this.totalCreditPrice = totalCreditPrice
        this.cntNeedToTax = cntNeedToTax
      });
    },
    ispermission(auth) {
      return this.permission.indexOf(auth) >= 0 ? true : false;
    }
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    },
    dDay: function(value) {
      return value == 0 ? 'D-DAY' : 'D' + value;
    }
  }
}
</script>
