<template>
  <div class="content_wrap no-permission">
    <v-icon>mdi-account-cancel</v-icon>
    <div class="con">관리 권한이 없습니다</div>
    <div class="dsc">
      <div>{{usersession.u_id}} 관리자의 현재 권한</div>
      <div>[ {{formatAuth(usersession.ua_auth)}} ]</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      usersession: [],
    }
  },
  mounted() {
    this.$axios.get('/api/get/usersession').then(res => {
      this.usersession = res.data.data;
      // console.log(this.usersession);
    });
  },
  methods: {
    formatAuth(value) {
      let auths = value ? value.split(',') : '';
      let arr = [], type = [];
      if (auths.length == 0) {
        return '아무 권한 없음';
      } else if (auths.length == 6) {
        return '모든 권한';
      } else {
        for (let auth of auths) {
          if (auth == 'da') {
            type = '대시보드';
          } else if (auth == 'us') {
            type = '회원설정';
          } else if (auth == 'pa') {
            type = '결제관리';
          } else if (auth == 'ba') {
            type = '기본설정';
          } else if (auth == 'aw') {
            type = '출품관리';
          } else if (auth == 'ua') {
            type = '관리자설정';
          }
          arr.push(type);
        };
        return arr.join(' / ');
      }
    },
  }
}
</script>