<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1 title-winner"><span>출품작 미리보기</span></h1>
      </div>
    </div>

    <v-dialog
      v-model="modalWorkDetail"
      fullscreen
      hide-overlay
      open-on-focus
      scrollable
      transition="dialog-bottom-transition"
      content-class="modal-winner-detail"
    >
      <v-card>
        <v-btn icon dark @click="closeWinnerDetail" class="btn-close">
          <v-icon>xi-close-thin</v-icon>
        </v-btn>
        <div class="container-modal-full">
          <div class="content_area scrollable" v-scroll.self="onScrollModal">
            <div class="toptext" id="toptext">A.N.D. AWARD WINNERS</div>
            <div class="inner-content wtitle_wrap">
              <div class="wtitle" id="wtitle-top">{{w_info.w_title}}</div>
            </div>
            <div class="vspace"><div></div></div>
            <div class="visual">
              <div class="holder-img">
                <div class="img_key">
                  <v-img v-if="w_info.w_thumbnail" :src="w_info.w_thumbnail" :aspect-ratio="1470/882" @error="w_info.w_thumbnail = null"></v-img>
                  <v-img v-else :src="noimage" :aspect-ratio="1470/882" class="noimg"></v-img>
                </div>
              </div>
              <div class="inner-content">
                <div class="prize">{{prize_info.z_title ? prize_info.z_title : 'WINNER'}}</div>
                <!-- <div v-else class="prize">WINNER</div> -->
                <div class="category">{{w_info.cp_title}} 부문</div>
                <div class="subcategory">{{w_info.c_title}} 분야</div>
                <div class="year">{{w_info.a_id}}</div>
              </div>
            </div>
            <div class="con_aera inner-content">
              <div v-if="w_info.w_comment && !$vuetify.breakpoint.mdAndUp" class="comment pre-formatted">{{w_info.w_comment}}</div>
              <div class="description">
                <div v-if="w_info.w_comment && $vuetify.breakpoint.mdAndUp" class="comment pre-formatted">{{w_info.w_comment}}</div>
                <div class="con pre-formatted">{{w_info.w_descript}}</div>
                <v-btn depressed tile text outlined default :href="w_info.w_url" target="_blank" class="btn-type-extlink">수상작 확인하기
                  <v-icon right>xi-external-link</v-icon>
                </v-btn>
              </div>
              <ul class="img_add">
                <li v-for="(w_image, index) in w_images" :key="w_image.w_id + '-' + index">
                  <v-img v-if="w_image.wo_name" :src="w_image.wo_url + w_image.wo_name" @error="w_image.wo_url == null || w_image.wo_name == null"></v-img>
                  <v-img v-else :src="noimage" class="noimg"></v-img>
                </li>
              </ul>
            </div>
            <div class="info_area">
              <div class="inner-content">
                <div class="con">
                  <ul>
                    <li>
                      <div class="ilabel">개발사</div>
                      <div class="itext">{{w_info.e_company}}</div>
                    </li>
                    <li>
                      <div class="ilabel">고객사</div>
                      <div class="itext">{{w_info.w_client}}</div>
                    </li>
                    <li>
                      <div class="ilabel">공동개발사</div>
                      <div class="itext">{{w_info.w_coworker | notExist}}</div>
                    </li>
                    <li>
                      <div class="ilabel">제작기간</div>
                      <div class="itext">{{formatDate(w_info.w_start)}} - {{formatDate(w_info.w_end)}}</div>
                    </li>
                  </ul>
                  <!-- <v-btn depressed tile text outlined large :to="{ name: 'userAwardWinnerList', params: { award: '2019' }, query: {category: '1'}}">수상작 목록
                    <v-icon right>xi-angle-right</v-icon>
                  </v-btn> -->
                  <!-- <v-btn depressed tile text outlined large @click="closeWinnerDetail">수상작 목록</v-btn> -->
                </div>
                <div class="img_bot">
                  <v-img v-if="w_info.w_thumbnail" :src="w_info.w_thumbnail" :aspect-ratio="580/348" @error="w_info.w_thumbnail = null"></v-img>
                  <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      noimage: '/assets/img/common/noimage_600.png',
      modalWorkDetail: false,

      current_award: [],
      a_id: 0,
      w_id: '',
      category_type: 1,
      winner_detail: [],

      w_info: [],
      work_category: [],
      w_key_image: '',
      w_images: [],
      prize_info: [],

      subcategory_target: [],
      subcategory_target_offset: [],
      subcategory_target_content: [],
      eCounter: 0,
    }
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.w_id = this.$route.params.w_id ? this.$route.params.w_id : 0;
      this.openWinnerDetail(this.w_id);
    },
    formatDate(value) {
      return value == '0000-00-00' ? '0000.00.00' : this.$moment(value).format('YYYY.MM.DD');
    },
    openWinnerDetail(w_id) {
      this.$axios.get('/api/get/current_award').then(res => {
        this.current_award = res.data;
        this.a_id = res.data.a_id;

        this.$axios.get('/api/admin_award/' + this.a_id + '/results_view/' + this.w_id).then(res => {
          const w_info_data = res.data.data;
          // console.log(w_info_data);
          let c_title = [];
          for (var k = 0; k < w_info_data.category_data.length; k++) {
            c_title.push(w_info_data.category_data[k].c_title);
          }
          w_info_data.c_title = c_title.join(', ');

          this.w_info = w_info_data;
          // console.log(this.w_info);

          this.work_category = this.w_info.category_data;
          // console.log(this.work_category);
          this.w_images = this.w_info.child_data;
          // console.log(this.w_images);

          this.$axios.get('/api/admin_award/' + this.a_id + '/winner_prize/' + this.w_id).then(res => {
            this.prize_info = res.data.data;
            // console.log(this.prize_info);
          });
        });
      });
      this.modalWorkDetail = true;
    },
    closeWinnerDetail() {
      window.open('','_self').close();
    },
    onScrollModal(e) {
      let target_offsetTop = e.target.scrollTop;
      let toptext = document.getElementById('toptext');
      let elem = document.getElementById('wtitle-top');
      let elemH = elem.offsetHeight;
      let classCheck = new RegExp("(\\s|^)active(\\s|$)");
      if (this.eCounter == 0) {
        if (target_offsetTop > 140) {
          e.target.className += ' active';
          toptext.style.marginBottom = elemH+'px';
          this.eCounter++;
        }
      }
      if (this.eCounter == 1) {
        if (target_offsetTop <= 140) {
          e.target.className = e.target.className.replace(classCheck, ' ').trim();
          toptext.style.marginBottom = 0;
          this.eCounter--;
        }
      }
    }
  },
  filters: {
    // prizeName: function(value) {
    //   return value == 'M' ? 'MINISTER PRIX' : value == 'K' ? 'KOBACO PRIX' : value == 'S' ? 'KISA PRIX' : value == 'G' ? 'GRAND PRIX' : 'WINNER';
    // },
    categoryName: function(value) {
      return value == '1' ? 'DIGITAL MEDIA & SERVICES' : 'DIGITAL AD & CAMPAIGNS';
    },
    notExist: function(value) {
      return value ? value : '-';
    }
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/winner.scss";
</style>