<template>
  <v-dialog
    v-model="sendEmail"
    overlay-color="rgba(0,0,0)"
    overlay-opacity="0.6"
    content-class="modal-send dialog-admin"
    max-width="640px"
    persistent
    eager
  >
    <v-card>
      <v-card-title>이메일 발송하기</v-card-title>
      <v-card-text>
        <v-autocomplete
          v-model="user_selected"
          :items="user_all"
          item-text="u_id"
          item-value="u_no"
          label="회원 선택"
          append-icon="xi-angle-down-min"
          multiple
          chips
          hide-details
          flat
          solo
          open-on-clear
          no-data-text="일치하는 회원이 없습니다"
          :menu-props="{ closeOnContentClick:true, contentClass: 'item_select item_user', maxHeight: 202 }"
          class="items_user"
        >
          <template v-slot:selection="data">
            <v-chip
              v-bind="data.attrs"
              :input-value="data.selected"
              close
              @click:close="removeChip(data.item.u_id)"
            >
              {{data.item.u_id}} ({{data.item.u_email}})
            </v-chip>
          </template>
          <template v-slot:item="data">
            <template v-if="typeof data.item !== 'object'">
              <v-list-item-content v-text="data.item"></v-list-item-content>
            </template>
            <template v-else>
              <v-list-item-content>
                <v-list-item-title>{{data.item.u_id}} ({{data.item.u_email}})</v-list-item-title>
              </v-list-item-content>
            </template>
          </template>
        </v-autocomplete>
        <v-text-field
          v-model="email_subject"
          label="이메일 제목"
          autocomplete="off"
          hide-details
          solo
        >
          <template v-slot:message="{message}"><span v-html="message"></span></template>
        </v-text-field>
        <v-textarea
          v-model="email_content"
          label="이메일 본문"
          autocomplete="off"
          rows="8"
          row-height="24"
          auto-grow
          hide-details
          solo
          flat
          class="scdesc"
        >
          <template v-slot:message="{message}"><span v-html="message"></span></template>
        </v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-btn depressed tile text outlined small @click="submit_send">발송하기</v-btn>
        <v-btn depressed tile text outlined small @click="closeModal">닫기</v-btn>
      </v-card-actions>
      <div class="btn_wrap">
        <v-btn depressed icon @click="closeModal" class="btn-close">
          <v-icon>xi-close</v-icon>
        </v-btn>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'sendEmail',
  props: {
    sendEmail: {
      type: Boolean
    },
    user_all: {
      type: Array,
      default: () => {
        return []
      }
    },
  },
  data() {
    return {
      user_selected: [],
      searchInput: '',

      email_subject: '',
      email_content: '',

      snackbar: {
        send: { content: '발송되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.selected = this.user_selected;
  },
  methods: {
    closeModal() {
      this.user_selected = [];
      this.email_content = '';
      this.email_subject = '';
      this.$emit('close');
    },
    removeChip(u_id) {
      this.user_selected.splice(this.user_selected.indexOf(u_id), 1)
    },
    submit_send() {
      const formdata = new FormData();
      // console.log(this.user_selected);
      formdata.append('userlist', this.user_selected);
      formdata.append('subject', this.email_subject);
      formdata.append('contents', this.email_content);

      this.$axios.post('/api/admin/send/form_notice/email', formdata,
      ).then(res => {
        // console.log(res);
        this.$store.commit('showSnackbar', this.snackbar.send);
        this.user_selected = [];
        this.email_content = '';
        this.email_subject = '';
        this.$emit('close');
      }).catch(err => {
        // console.log(err);
        this.user_selected = [];
        this.email_content = '';
        this.email_subject = '';
        this.$emit('close');
      })
    }
  }
}
</script>