<template>
  <div class="container container-full-width" v-scroll="onScroll">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1 title-winner">{{a_id}}<br><span>앤어워드 심사 리스트</span></h1>
        <div class="title-sub-1 title-winner">심사위원님에게 배정된 앤어워드의 출품작들을 확인해보세요</div>
      </div>
    </div>

    <!-- <section v-if="showCategory" class="section section-winner-list mt-sm-16">
      <div class="container container-inner container-basic">
        <ul class="tab_category">
          <li v-for="(category, index) in categories.slice(0,2)" :key="category.c_id" :class="{ active: cp_id == category.c_id}" @click="get_winners(category.c_id)">{{category.c_title}}</li>
        </ul>
      </div>
    </section> -->

    <section class="section section-winner-main section-winner-category">
      <div class="container container-inner container-basic">
        <!-- <div v-for="(winners, index) in winner_all" :key="winners.c_id" class="subcategory_wrap"> -->
        <div class="subcategory_wrap">

            <div class="winner_wrap">
              <ul class="list-winner list-winner2">
                <li v-for="(winner, index) in winner_child" :key="winner.w_id" @click="openWinnerDetail(winner.w_id)">
                  <div class="thumb">
                    <v-img v-if="winner.w_thumbnail" :src="winner.w_thumbnail" :aspect-ratio="580/348" @error="winner.w_thumbnail = null">
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular
                            indeterminate
                            color="grey lighten-5"
                          ></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                    <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
                  </div>
                  <div class="tit">{{winner.w_title}}</div>
                  <!-- <div class="company">{{winner.e_company}}</div> -->
                  <div :class="winner.jm_score?'active':''" class="status">{{winner.jm_score?'심사 완료':'심사 중'}}</div>
                </li>
              </ul>
            </div>

        </div>
      </div>
    </section>

    <!-- <div id="subcategory_title_top" class="subcategory_title_top">
      <div class="container container-inner container-basic">
        <div class="holder" id="subcategory_title_holder"></div>
      </div>
    </div> -->

    <v-dialog
      v-model="modalUser"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-user"
      max-width="640px"
      @keydown.enter.prevent="confirmPassword"
      open-on-focus
      persistent
      eager
    >
      <v-card>
        <v-card-title>심사위원 비밀번호 입력</v-card-title>
        <v-card-text>
          <div class="modal-text-field mt-3">
            <v-form
              ref="form"
              v-model="formValid"
            >
              <v-text-field
                v-model="judge_password"
                name="judge_password"
                :rules="[rules.required]"
                label="심사위원 비밀번호"
                placeholder="배정받은 열람 비밀번호 입력"
                autocomplete="off"
                autofocus
                solo
                flat
                required
              >
                <template v-slot:message="{message}"><span v-html="message"></span></template>
              </v-text-field>
            </v-form>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn depressed tile color="primary" :disabled="!formValid" @click="confirmPassword">확인</v-btn>
          <v-btn depressed tile text outlined @click="modalUser = false">취소</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalUser = false" class="btn-close">
            <v-icon>xi-close-thin</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalWinnerDetail"
      fullscreen
      hide-overlay
      open-on-focus
      scrollable
      transition="dialog-bottom-transition"
      content-class="modal-winner-detail"
    >
      <v-card>
        <v-btn icon dark @click="closeWinnerDetail" class="btn-close">
          <v-icon>xi-close-thin</v-icon>
        </v-btn>
        <div class="container-modal-full">
          <div class="content_area scrollable" id="modal-scroll" v-scroll.self="onScrollModal">
            <div class="toptext" id="toptext">A.N.D. AWARD JUDGEMENT</div>
            <div class="inner-content wtitle_wrap">
              <div class="wtitle" id="wtitle-top">{{w_info.w_title}}</div>
            </div>
            <div class="vspace"><div></div></div>
            <div class="visual">
              <div class="holder-img">
                <div class="img_key">
                  <v-img v-if="w_info.w_thumbnail" :src="w_info.w_thumbnail" :aspect-ratio="1470/882" @error="w_info.w_thumbnail = null"></v-img>
                  <v-img v-else :src="noimage" :aspect-ratio="1470/882" class="noimg"></v-img>
                </div>
              </div>
              <div class="inner-content">
                <div class="category">{{w_info.cp_title}} 부문</div>
                <!-- <div class="subcategory">{{w_info.c_title}} 분야</div> -->
                <div class="year">{{w_info.a_id}}</div>
              </div>
            </div>
            <div class="con_aera inner-content">
              <div v-if="w_info.w_comment && !$vuetify.breakpoint.mdAndUp" class="comment pre-formatted">{{w_info.w_comment}}</div>
              <div class="description">
                <div v-if="w_info.w_comment && $vuetify.breakpoint.mdAndUp" class="comment pre-formatted">{{w_info.w_comment}}</div>
                <div class="con pre-formatted">{{w_info.w_descript}}</div>
                <v-btn depressed tile text outlined default :href="w_info.w_url" target="_blank" class="btn-type-extlink">출품작 확인하기
                  <v-icon right>xi-external-link</v-icon>
                </v-btn>
              </div>
              <ul class="img_add">
                <li v-for="(w_image, index) in w_images" :key="index">
                  <v-img v-if="w_image" :src="w_image.wo_url + w_image.wo_name" @error="w_image = null">
                    <template v-slot:placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                  <v-img v-else :src="noimage" class="noimg"></v-img>
                </li>
              </ul>
            </div>
            <div class="info_area">
              <div class="inner-content">
                <div class="con">
                  <!-- <ul>
                    <li>
                      <div class="ilabel">개발사</div>
                      <div class="itext">{{w_info.e_company}}</div>
                    </li>
                    <li>
                      <div class="ilabel">고객사</div>
                      <div class="itext">{{w_info.w_client}}</div>
                    </li>
                    <li>
                      <div class="ilabel">공동개발사</div>
                      <div class="itext">{{w_info.w_coworker | notExist}}</div>
                    </li>
                    <li>
                      <div class="ilabel">제작기간</div>
                      <div class="itext">{{formatDate(w_info.w_start)}} - {{formatDate(w_info.w_end)}}</div>
                    </li>
                  </ul> -->
                  <div class="btn_wrap">
                    <v-btn depressed tile text outlined large @click="open_judgement">심사 하기</v-btn>
                    <v-btn depressed tile text outlined large @click="closeWinnerDetail">심사 목록</v-btn>
                  </div>
                </div>
                <div class="img_bot">
                  <v-img v-if="w_info.w_thumbnail" :src="w_info.w_thumbnail" :aspect-ratio="580/348" @error="w_info.w_thumbnail = null"></v-img>
                  <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalJudgement"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-judgement"
      max-width="1000px"
      persistent
      eager
    >
      <v-card>
        <v-form
          ref="formJudgement"
          v-model="formJudgementValid"
        >
          <v-card-title>
            <div>심사표</div>
          </v-card-title>
          <v-card-text>
            <div class="inner-content">
              <v-simple-table class="basic">
                <thead>
                  <tr>
                    <th class="text-center">부문</th>
                    <th class="text-center">항목</th>
                    <th>심사기준</th>
                    <th class="text-center">채점</th>
                    <th class="text-center td-score">점수</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="content in judgement_rule[pindex].contents">
                    <tr
                      v-for="(item, index) in content.sub"
                      :key="item.category"
                    >
                      <td v-if="index == 0" :rowspan="content.sub.length" class="text-center td_sub">
                        {{content.part}}
                      </td>
                      <td :class="index+1!=content.sub.length?'td_in':''" class="text-center td_clause" v-html="item.clause"></td>
                      <td :class="index+1!=content.sub.length?'td_in':''" v-html="item.guideline"></td>
                      <td :class="index+1!=content.sub.length?'td_in':''">
                        <v-radio-group
                          v-model="scores[item.cindex]"
                          row
                          class="radio-group-score"
                          @change="set_score"
                        >
                          <v-radio label="매우 우수" value="5" color="#64DD17" off-icon ="mdi-checkbox-blank-circle-outline" on-icon ="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="우수" value="4" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="보통" value="3" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="미흡" value="2" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="매우 미흡" value="1" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                        </v-radio-group>
                      </td>
                      <td :class="index+1!=content.sub.length?'td_in':''" class="text-center">
                        <div :class="scores[item.cindex]==0?'zero':''">{{scores[item.cindex]}}<span class="mobile_helper_inline ml-1">점</span></div>
                      </td>
                    </tr>
                  </template>
                  <tr>
                    <td colspan="5" class="text-center td_total">총점 : <span :class="totalScore==0?'zero':''" style="display:inline-block;margin-left:5px;width:30px;">{{totalScore}}</span></td>
                  </tr>
                </tbody>
              </v-simple-table>
            </div>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_judgement()">저장하기</v-btn>
            <v-btn depressed icon @click="close_judgement()" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      noimage: '/assets/img/common/noimage_600.png',
      modalWinnerDetail: false,
      modalUser: false,
      modalJudgement: false,
      formValid: false,
      formJudgementValid: false,

      current_award: [],
      categories: [],
      a_id: '',
      judge_route: '',
      judge_password: '',
      judge_info: [],
      j_id: '',
      // showCategory: false,
      w_id: '',
      // cp_id: '',
      winner_all: [],
      winner_child: [],
      winner_detail: [],
      w_info: [],
      w_images: [],
      work_category: [],

      subcategory_target: [],
      subcategory_target_offset: [],
      subcategory_target_content: [],
      eCounter: 0,

      pindex: 0,
      scores: [],
      totalScore: 0,
      judgement_rule: [
        {
          category: "디지털 미디어 & 서비스",
          contents: [
            {
              part: "목적성",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 목적에 적합하게 제작되었다",
                  cindex: "0"
                },
                {
                  clause: "독창성",
                  guideline: "유사 프로젝트 대비 차별화된 독창성이 높다",
                  cindex: "1"
                },
                {
                  clause: "효율성",
                  guideline: "본 프로젝트는 사업 목적 달성에 효과적으로 기여할 것으로 보인다<br>(목적: 홍보/마케팅/판매촉진/효율증대 등)",
                  cindex: "2"
                },
                {
                  clause: "완성도",
                  guideline: "프로젝트가 전체적으로 구현의 완성도가 높다",
                  cindex: "3"
                },
                {
                  clause: "혁신성",
                  guideline: "프로젝트 목적, 사업 성격, 제작 기법 등으로 보아 시장을 선도할 혁신성이 발견된다",
                  cindex: "4"
                },
              ],
            },
            {
              part: "디자인",
              sub: [
                {
                  clause: "적합성",
                  guideline: "적용된 디자인 컨셉은 해당 프로젝트에 적합하다",
                  cindex: "5"
                },
                {
                  clause: "독창성",
                  guideline: "독자적인 아이덴티티가 분명하며 디자인 요소가 참신하다",
                  cindex: "6"
                },
                {
                  clause: "효율성",
                  guideline: "디자인 요소들이 프로젝트 목적을 방해하지 않으며 효과적으로 적용되었다",
                  cindex: "7"
                },
                {
                  clause: "완성도",
                  guideline: "이미지, 그래픽, 레이아웃 등 디자인 요소의 완성도가 높다",
                  cindex: "8"
                },
                {
                  clause: "혁신성",
                  guideline: "디자인적으로 트렌드를 선도하는 혁신성을 발견할 수 있다",
                  cindex: "9"
                },
              ],
            },
            {
              part: "콘텐츠",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 목적에 부합하는 콘텐츠를 갖추고 있다",
                  cindex: "10"
                },
                {
                  clause: "독창성",
                  guideline: "콘텐츠 구성 및 내용이 참신하다",
                  cindex: "11"
                },
                {
                  clause: "효율성",
                  guideline: "콘텐츠가 이해하기 쉽고 효과적으로 적용되었다",
                  cindex: "12"
                },
                {
                  clause: "완성도",
                  guideline: "콘텐츠 구성요소들(텍스트,이미지,영상 등)이 완성도가 높다",
                  cindex: "13"
                },
                {
                  clause: "혁신성",
                  guideline: "콘텐츠가 트렌드를 선도할만큼 혁신적이다",
                  cindex: "14"
                },
              ],
            },
            {
              part: "UI/UX",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 사용자를 고려한 적합한 UX/UI가 적용되어 있다",
                  cindex: "15"
                },
                {
                  clause: "독창성",
                  guideline: "독창적이고 차별화된 사용자 경험을 제공하고 있다",
                  cindex: "16"
                },
                {
                  clause: "효율성",
                  guideline: "적용된 UX/UI는 사용자에게 긍정적 경험과 감성을 제공하고 있다",
                  cindex: "17"
                },
                {
                  clause: "완성도",
                  guideline: "적용된 UX/UI는 직관적이며 높은 품질을 지니고 있다",
                  cindex: "18"
                },
                {
                  clause: "혁신성",
                  guideline: "트렌드에 맞는 선도적인 혁신적인 UX/UI를 보여주고 있다",
                  cindex: "19"
                },
              ],
            },
            {
              part: "기술",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 목적에 부합되는 기술 요소가 적용되었다",
                  cindex: "20"
                },
                {
                  clause: "독창성",
                  guideline: "참신한 기술 요소 및 독창적인 기술 적용 방식을 찾을 수 있다",
                  cindex: "21"
                },
                {
                  clause: "효율성",
                  guideline: "적용된 기술 요소는 프로젝트 목적을 달성하는데 효율적으로 작동하고 있다",
                  cindex: "22"
                },
                {
                  clause: "완성도",
                  guideline: "주요 기능을 수행함에 있어 오류나 불편함이 없다",
                  cindex: "23"
                },
                {
                  clause: "혁신성",
                  guideline: "트렌드를 선도하는 혁신적인 기술을 발견할 수 있다",
                  cindex: "24"
                },
              ],
            },
          ]
        },
        {
          category: "디지털 광고 & 캠페인",
          contents: [
            {
              part: "목적",
              sub: [
                {
                  clause: "적합성",
                  guideline: "본 광고/캠페인은 목적에 적합하게 제작되었다",
                  cindex: "0"
                },
                {
                  clause: "독창성",
                  guideline: "유사 광고/캠페인 대비 차별화된 독창성이 높다",
                  cindex: "1"
                },
                {
                  clause: "효율성",
                  guideline: "본 광고/캠페인은 사업 목적 달성에 효과적으로 기여할 것으로 보인다<br>(목적: 홍보/마케팅/판매촉진/회원증대 등)",
                  cindex: "2"
                },
                {
                  clause: "완성도",
                  guideline: "본 광고/캠페인은 전체적으로 구현의 완성도가 높다",
                  cindex: "3"
                },
              ],
            },
            {
              part: "크리에이티브",
              sub: [
                {
                  clause: "적합성",
                  guideline: "본 광고/캠페인의 크리에이티브 컨셉은 적절하다",
                  cindex: "4"
                },
                {
                  clause: "독창성",
                  guideline: "독자적인 아이덴티티가 분명하며 크리에이티브 요소가 참신하다",
                  cindex: "5"
                },
                {
                  clause: "완성도",
                  guideline: "이미지, 카피, 그래픽, 사운드 등 크리에이티브 요소의 완성도가 높다",
                  cindex: "6"
                },
                {
                  clause: "혁신성",
                  guideline: "본 광고/캠페인의 크리에이티브에서 트렌드를 선도하는 혁신성을 발견할 수 있다",
                  cindex: "7"
                },
              ],
            },
            {
              part: "콘텐츠",
              sub: [
                {
                  clause: "적합성",
                  guideline: "목적에 부합하는 콘텐츠를 갖추고 있으며 메세지가 명확하다",
                  cindex: "8"
                },
                {
                  clause: "독창성",
                  guideline: "콘텐츠 구성 및 내용이 참신하다",
                  cindex: "9"
                },
                {
                  clause: "효율성",
                  guideline: "콘텐츠가 이해하기 쉽고 효과적으로 적용되었다",
                  cindex: "10"
                },
                {
                  clause: "완성도",
                  guideline: "콘텐츠 구성요소들(텍스트,이미지,영상 등)이 완성도가 높다",
                  cindex: "11"
                },
              ],
            },
            {
              part: "기술",
              sub: [
                {
                  clause: "적합성",
                  guideline: "크리에이티브 및 매체에 부합되는 기술 요소가 적용되었다",
                  cindex: "12"
                },
                {
                  clause: "독창성",
                  guideline: "참신한 기술 요소 및 독창적인 기술 적용 방식을 찾을 수 있다",
                  cindex: "13"
                },
                {
                  clause: "혁신성",
                  guideline: "트렌드를 선도하는 혁신적인 기술을 발견할 수 있다",
                  cindex: "14"
                },
              ],
            },
          ]
        },
      ],

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },

      snackbar: {
        password_ok: { content: '비밀번호가 확인되었습니다', color: 'success', icon: 'xi-check' },
        password_no: { content: '비밀번호가 일치하지 않습니다', color: 'error', icon: 'xi-error-o' },
        required_judge: { content: '채점되지 않은 항목이 있습니다', color: 'error', icon: 'xi-error-o' },
        save_judge: { content: '심사가 완료되었습니다', color: 'success', icon: 'xi-check' },
      },
    }
  },
  mounted() {
    this.a_id = this.$route.params.award ? this.$route.params.award : 0;
    // this.judge_route = this.$route.params.j_access ? this.$route.params.j_access : 0;
    this.judge_route = this.$route.params.jp_access ? this.$route.params.jp_access : 0;
    this.w_id = this.$route.query.w_id ? this.$route.query.w_id : 0;

    this.$axios.get('/api/get/judge_route/' + this.judge_route).then(res => {
      let judge_data = res.data.data.data[0];
      // console.log(judge_data);
      let arr_j_id = judge_data.j_ids.split(',');
      let arr_j_password = judge_data.jp_password.split(',');
      this.judge_info = arr_j_id.map((id, index) => {
        return {
            j_id: id,
            j_password: arr_j_password[index]
        }
      });

      if (judge_data.jp_password.replace(/,/g, "")) {
        this.modalUser = true;
      } else {
        this.fetchItems();
      }
    });

    // this.$axios.get('/api/get/category/' + this.a_id).then(res => {
    //   this.categories = res.data.data.data;
    //   // console.log(this.categories);
    //   this.cp_id = this.categories[0].c_id;
    // });

    // this.fetchItems();

    if (this.w_id > 0) {
      this.openWinnerDetail(this.w_id);
    }
  },
  methods: {
    fetchItems() {
      this.$axios.get('/api/get/award/' + this.a_id).then(res => {
        this.current_award = res.data.data;
        // console.log(this.current_award);
      });

      setTimeout(() => {
        this.$axios.get('/api/service/judgement_data/' + this.a_id + '/' + this.judge_route + '/' + this.j_id).then(res => {
          let data = res.data.data;
          // this.winner_all = data.filter(obj => obj.hasOwnProperty('child') && obj.cp_id == this.cp_id);
          this.winner_all = data.filter(obj => obj.hasOwnProperty('child'));
          // console.log('winner_all', this.winner_all);

          this.winner_child = [];
          for (let winner of this.winner_all) {
            for (let child of winner.child) {
              this.winner_child.push(child);
            }
          };
          console.log('winner_child', this.winner_child);
          // setTimeout(() => {
          //   this.get_subcategory_name();
          // }, 0)
        });
      }, 10)

      // for (var i=0; i < $('.radio-group-score').length; i++) {
      //   this.$set(this.scores, i, "0");
      // }
      // this.totalScore = 0;
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD') : '-';
    },
    confirmPassword() {
      let judge = this.judge_info.find(o => o.j_password == this.judge_password);
      if (judge) {
        this.j_id = judge.j_id;
        this.$store.commit('showSnackbar', this.snackbar.password_ok);
        this.fetchItems();
        // this.showCategory = true;
        this.modalUser = false;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.password_no);
      }
    },
    get_winners(value) {
      this.cp_id = value;
      this.fetchItems();
    },
    get_subcategory_name() {
      this.subcategory_target = document.querySelectorAll('.subcategory_wrap');
      for (let i=0; i<this.subcategory_target.length; i++) {
        // if (this.subcategory_target[i].hasChildNodes() && this.subcategory_target[i].childNodes[0].nodeName != '#comment') {
          this.subcategory_target_offset[i] = this.subcategory_target[i].getBoundingClientRect().top + this.$store.state.offsetTop;
          this.subcategory_target_content[i] = this.subcategory_target[i].getElementsByClassName('subcategory')[0].innerHTML;
        // } else {
        //   this.subcategory_target_offset[i] = 0;
        //   this.subcategory_target_content[i] = 0;
        // }
      }
    },
    openWinnerDetail(w_id) {
      // this.$axios.get('/api/service/winner/' + w_id).then(res => {
      //   this.winner_detail = res.data.data;
      //   // console.log('winner_detail', this.winner_detail);
      // });

      this.$axios.get('/api/service/judgement_view/' + this.a_id + '/' + w_id + '/' + this.j_id).then(res => {
        // this.w_info = res.data.data;
        // console.log(this.w_info);
        const w_info_data = res.data.data;
        // console.log(w_info_data);
        let c_title = [];
        for (var k = 0; k < w_info_data.category_data.length; k++) {
          c_title.push(w_info_data.category_data[k].c_title);
        }
        w_info_data.c_title = c_title.join(', ');

        this.w_info = w_info_data;
        // console.log(this.w_info);

        this.work_category = this.w_info.category_data;
        // console.log(this.work_category);
        this.w_images = this.w_info.child_data;
        // console.log(this.w_images);

        this.pindex = this.w_info.c_type == '2' ? '1' : '0';
        let score_count = this.w_info.c_type == '2' ? 15 : 25;
        for (var i=0; i < score_count; i++) {
          this.$set(this.scores, i, "0");
        }
        this.totalScore = 0;
      });
      this.modalWinnerDetail = true;
      setTimeout(() => {
        this.$vuetify.goTo(0, {container: '#modal-scroll', duration: 0});
      }, 0)
    },
    closeWinnerDetail() {
      this.scores = [];
      this.totalScore = 0;
      this.winner_detail = [];
      this.modalWinnerDetail = false;
    },
    open_judgement() {
      console.log(this.w_info);
      if (this.w_info.jm_score) {
        this.scores = this.w_info.jm_score.split(',');
        this.totalScore = this.scores.reduce(function(a, b){return Number(a)+Number(b);});
      }
      this.modalJudgement = true;
      setTimeout(() => {
        this.$vuetify.goTo(0, {container: '.modal-judgement .inner-content', duration: 0});
      }, 0)
    },
    close_judgement() {
      this.modalJudgement = false;
    },
    set_score() {
      this.totalScore = this.scores.reduce(function(a, b){return Number(a)+Number(b);});
    },
    submit_judgement() {
      if (this.scores.indexOf("0") != -1) {
        this.$store.commit('showSnackbar', this.snackbar.required_judge);
      } else {
        this.$axios.post(
          '/api/service/set_judgement/' + this.a_id + '/' + this.w_info.w_id, 'j_id='+this.j_id+'&scores='+this.scores
        ).then((res) => {
          this.$store.commit('showSnackbar', this.snackbar.save_judge);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        }).finally(() => {
          this.fetchItems();
          this.modalJudgement = false;
          this.modalWinnerDetail = false;
        });
      }
    },
    onScroll(e) {
      // let elem = document.getElementById('subcategory_title_holder');
      // let win_offsetTop = this.$store.state.offsetTop;
      // let target_offsetTop = this.subcategory_target_offset;

      // if (target_offsetTop[0] > win_offsetTop) {
      //     elem.innerHTML = '';
      // }
      // for (let [index, item] of target_offsetTop.entries()) {
      //   if (item <= win_offsetTop) {
      //     // console.log(this.subcategory_target_content[index]);
      //     elem.innerHTML = this.subcategory_target_content[index];
      //   }
      // }
    },
    onScrollModal(e) {
      let target_offsetTop = e.target.scrollTop;
      let toptext = document.getElementById('toptext');
      let elem = document.getElementById('wtitle-top');
      let elemH = elem.offsetHeight;
      let classCheck = new RegExp("(\\s|^)active(\\s|$)");
      if (this.eCounter == 0) {
        if (target_offsetTop > 140) {
          e.target.className += ' active';
          toptext.style.marginBottom = elemH+'px';
          this.eCounter++;
        }
      }
      if (this.eCounter == 1) {
        if (target_offsetTop <= 140) {
          e.target.className = e.target.className.replace(classCheck, ' ').trim();
          toptext.style.marginBottom = 0;
          this.eCounter--;
        }
      }
    }
  },
  filters: {
    notExist: function(value) {
      return value ? value : '-';
    }
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/winner.scss";
body {
  touch-action: pan-y, pan-x;
}
</style>