<template>
  <ul class="list-card col--1-2">
    <li>
      <v-card tile>
        <v-card-title style="padding:20px 24px;">
          <v-skeleton-loader
            type="heading"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="padding:38px 24px;">
          <v-skeleton-loader
            type="label-field@5"
            :types="{ 'label-field': 'text, button' }"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-text>
      </v-card>
    </li>
    <li>
      <v-card tile>
        <v-card-title style="padding:20px 24px;">
          <v-skeleton-loader
            type="heading"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="padding:38px 24px;">
          <v-skeleton-loader
            type="label-field@5"
            :types="{ 'label-field': 'text, button' }"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-text>
      </v-card>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>