<template>
  <v-skeleton-loader
    type="avatar, space@3, list-box-2"
    :types="{ 'list-box-2': 'list-box@2' }"
    tile
    class="inner"
  >
  </v-skeleton-loader>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>