<template>
  <ul class="list-card">
    <li>
      <v-card tile>
        <v-card-title style="padding:20px 24px;">
          <v-skeleton-loader
            type="heading"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-skeleton-loader
            type="card-c@2"
            :types="{ 'card-c': 'card-wrap@6', 'card-wrap': 'image, text' }"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-text>
      </v-card>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>