<template>
  <v-skeleton-loader
    type="heading-award, space@3, list-box-3, list-box-3, list-box-3"
    :types="{ 'heading-award': 'heading', 'list-box-3': 'list-box@3' }"
    tile
    class="inner"
  >
  </v-skeleton-loader>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>