<template>
  <v-skeleton-loader
    type="avatar, space@3, list-post-3@2"
    :types="{ 'list-post-3': 'list-post@3' }"
    tile
    class="inner"
  >
  </v-skeleton-loader>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>