<template>
  <header id="header">
    <div class="logo"><a v-ripple href="/">N Award</a></div>
    <nav id="nav">
      <ul>
        <li>
          <router-link v-ripple :to="{ name: 'adminDashboard' }">대시보드</router-link>
        </li>
        <li class="has-child">
          <router-link v-ripple :to="{ name: 'adminConfig' }">기본설정</router-link>
          <ul class="child-2">
            <li><router-link v-ripple :to="{ name: 'adminTerms' }">약관 설정</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminNotification' }">알림 설정</router-link></li>
          </ul>
        </li>
        <li class="has-child">
          <router-link v-ripple :to="{ name: 'adminUser' }">회원관리</router-link>
          <ul class="child-2">
            <li><router-link v-ripple :to="{ name: 'adminUserListStatus', params: { status: 'active' }}">회원 목록</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminUserListStatus', params: { status: 'rest' }}">휴면 회원 목록</router-link></li>
          </ul>
        </li>
        <li class="has-child">
          <router-link v-ripple :to="{ name: 'adminPaymentList' }">결제관리</router-link>
          <ul class="child-4">
            <li><router-link v-ripple :to="{ name: 'adminPaymentList' }">전체</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminPaymentStatus', params: { status: 'rest' }}">결제 대기</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminPaymentStatus', params: { status: 'fin' }}">결제 완료</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminPaymentStatus', params: { status: 'request' }}">계산서 요청</router-link></li>
          </ul>
        </li>
        <li>
          <!-- <router-link v-ripple :to="{ name: 'adminAward' }">출품관리</router-link> -->
          <router-link v-ripple :to="{ name: 'adminAwardMain', params: { a_id: current_award.a_id }}">출품관리</router-link>
          <!-- <ul class="child-3">
            <li><router-link v-ripple :to="{ name: 'adminAward' }">전역 관리</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminAward' }">세부 관리</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminAward' }">후속 관리</router-link></li>
          </ul> -->
        </li>
        <li>
          <router-link v-ripple :to="{ name: 'adminCart' }">출품함</router-link>
        </li>
        <li class="has-child">
          <router-link v-ripple :to="{ name: 'adminAdministratorList' }">관리자설정</router-link>
          <ul class="child-2">
            <li><router-link v-ripple :to="{ name: 'adminAdministratorList' }">관리자 목록</router-link></li>
            <li><router-link v-ripple :to="{ name: 'adminAdministratorLogs' }">관리자 로그</router-link></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      current_award: [],
    }
  },
  mounted() {
    this.$axios.get('/api/get/current_award').then(res => {
      this.current_award = res.data;
      // console.log(this.current_award);
    });
  },
}
</script>