<template>
  <div class="layout-admin">
    <admin-header/>
    <slot/>
    <admin-footer/>
  </div>
</template>

<script>
  import AdminHeader from '@/components/layout/AdminHeader';
  import AdminFooter from '@/components/layout/AdminFooter';

  export default {
    name: 'LayoutAdmin',
    components: {
      AdminHeader,
      AdminFooter,
    },
  }
</script>

<style>

</style>
