<template>
  <component :is="layout" v-scroll="onScroll">
    <slot/>
    <Snackbar></Snackbar>
    <modal-ready></modal-ready>
  </component>
</template>

<script>
import { computed } from '@vue/composition-api';
import LayoutAdmin from '@/components/layout/Admin';
import LayoutDefault from '@/components/layout/Default';
import LayoutFull from '@/components/layout/Full';
import LayoutSimple from '@/components/layout/Simple';
import Snackbar from '@/components/common/Snackbar.vue'
import ModalReady from '@/components/common/ModalReady.vue'

export default {
  name: 'LayoutCommon',
  components: {
    LayoutAdmin,
    LayoutDefault,
    LayoutFull,
    LayoutSimple,
    Snackbar,
    ModalReady,
  },
  setup(props, { root }) {
    const layout = computed(() => root.$route.meta.layout);
    return {
      layout,
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },
  created() {
    this.checkIfLogged()
      .then(response => {
        this.user = response>0 ? true : false;
        this.$store.commit('setAuthUser', this.user);
      })
      .catch(error => {
        console.log(error);
      });

    this.checkIfAdmin()
      .then(response => {
        this.admin = response>0 ? true : false;
        this.$store.commit('setAuthAdmin', this.admin);
      })
      .catch(error => {
        console.log(error);
      });
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize(e) {
      this.$store.commit('setOffsetBottom');
    },
    onScroll(e) {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop;
      this.scrollInvoked++;

      this.$store.commit('setOffsetTop', this.offsetTop);
      this.$store.commit('setScrollInvoked', this.scrollInvoked);
    }
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/common.scss";
</style>