<template>
  <div class="layout-default" id="layout-default">
    <default-header/>
    <slot/>
    <layer-popup></layer-popup>
    <default-footer/>
  </div>
</template>

<script>
  import DefaultHeader from '@/components/layout/DefaultHeader';
  import DefaultFooter from '@/components/layout/DefaultFooter';
  import LayerPopup from '@/components/common/LayerPopup';

  export default {
    name: 'LayoutDefault',
    components: {
      DefaultHeader,
      DefaultFooter,
      LayerPopup,
    },
  }
</script>