<template>
  <header id="header" :class="{'theme--light': onScroll }">
    <div class="header-inner">
      <nav id="nav">
        <!-- <ul>
          <li><a href="/about">소개</a></li>
          <li><a href="/enroll">출품</a></li>
          <li><a href="/winner">수상</a></li>
          <li><a href="/archive">아카이브</a></li>
          <li><a href="">안내</a></li>
        </ul> -->
        <ul>
          <li><router-link :to="{ name: 'userAboutIndex' }">소개</router-link></li>
          <li><router-link :to="{ name: 'userEnrollMain' }">출품</router-link></li>
          <!-- <li><router-link :to="{ name: 'userAwardMain', params: { award: current_year }}">수상</router-link></li> -->
          <li><a href="/winners">수상</a></li>
          <li><router-link :to="{ name: 'userAwardArchiveWinnerList', params: { award: archive_year }}">아카이브</router-link></li>
          <!-- <li><a href="" @click.prevent="openReady('ready')">아카이브</a></li> -->
          <li><router-link :to="{ name: 'userFaq' }">안내</router-link></li>
        </ul>
      </nav>
      <v-slide-y-transition>
        <div v-show="!scrolled || drawer" class="logo">
          <a href="/"><div class="holder"></div></a>
        </div>
      </v-slide-y-transition>
      <div class="txt-header">
        <div class="holder">A.N.D. AWARD {{current_award.a_id}}</div>
        <!-- <div class="d-flex" style="margin-top:10px;font-size:13px;line-height:1.2;text-align:right;">
          offset: {{$store.state.offsetTop}}/{{$store.state.offsetBottom}}<br>
          user: {{$store.state.user}}<br>
          admin: {{$store.state.admin}}
        </div> -->
      </div>
      <div class="btn_nav">
        <!-- <v-btn depressed icon @click.stop="drawer = !drawer"><v-icon>xi-bars</v-icon></v-btn> -->
        <v-btn depressed icon class="hamburger hamburger--spin" :class="{'is-active' : drawer}" @click.stop="openDrawer">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </v-btn>
      </div>
    </div>

    <v-navigation-drawer
      v-model="drawer"
      fixed
      right
      temporary
      width="100%"
      class="navigation-mobile"
      :class="{'sub-active': activeSub}"
    >
      <ul class="menu">
        <li>
          <v-btn depressed tile text class="btn-type-link" @click.stop="openSub('about')">소개</v-btn>
        </li>
        <li>
          <v-btn depressed tile text class="btn-type-link" @click.stop="openSub('enroll')">출품</v-btn>
        </li>
        <li>
          <!-- <v-btn :to="{ name: 'userAwardMain', params: { award: '2019' }}" depressed tile text class="btn-type-link">수상</v-btn> -->
          <v-btn depressed tile text class="btn-type-link" @click.stop="openSub('winner')">수상</v-btn>
        </li>
        <li>
          <!-- <v-btn href="" depressed tile text class="btn-type-link" @click.prevent="openReady('ready')">아카이브</v-btn> -->
          <v-btn depressed tile text class="btn-type-link" @click.stop="openSub('archive')">아카이브</v-btn>
        </li>
        <li>
          <v-btn :to="{ name: 'userFaq' }" depressed tile text class="btn-type-link">안내</v-btn>
        </li>
        <li>
          <!-- <v-btn href="/mypage" depressed tile text class="btn-type-link">마이페이지</v-btn></li> -->
          <v-btn depressed tile text class="btn-type-link" @click.stop="openSub('mypage')">마이페이지</v-btn></li>
      </ul>
      <div class="menu-sub">
        <!-- <ul v-if="activeAbout"> -->
        <ul :class="{'on': activeAbout}">
          <li><router-link :to="{ name: 'userAboutIndex' }">소개</router-link></li>
          <li><router-link :to="{ name: 'userAboutJudge' }">심사위원</router-link></li>
          <li><router-link :to="{ name: 'userAboutSponsor' }">후원사</router-link></li>
        </ul>
        <!-- <ul v-if="activeEnroll"> -->
        <ul :class="{'on': activeEnroll}">
          <li><router-link :to="{ name: 'userEnrollMain' }">출품개요</router-link></li>
          <li><router-link :to="{ name: 'userEnrollCategory' }">카테고리</router-link></li>
          <!-- <li v-if="awardStart"><a href="/enroll/work" class="link-enroll-work">출품하기</a></li>
          <li v-else><a href="" class="link-enroll-work" @click.prevent="openReady('enroll')">출품하기</a></li> -->
          <li><a href="/enroll/work" class="link-enroll-work" @click.prevent="enrollWork">출품하기</a></li>
        </ul>
        <!-- <ul v-if="activeWinner"> -->
        <ul :class="{'on': activeWinner}">
          <!-- <li><router-link :to="{ name: 'userAwardMain', params: { award: current_year }}">수상인덱스</router-link></li> -->
          <li><a href="/winners">수상인덱스</a></li>
          <li><router-link :to="{ name: 'userAwardWinnerList', params: { award: current_award.a_id }}">수상작</router-link></li>
          <li><router-link :to="{ name: 'userAboardList', params: { award: current_award.a_id }}">토크샤워</router-link></li>
        </ul>
        <ul :class="{'on': activeArchive}">
          <!-- <li><router-link :to="{ name: 'userAwardArchive', params: { award: archive_year }}">수상인덱스</router-link></li> -->
          <li><router-link :to="{ name: 'userAwardArchiveWinnerList', params: { award: archive_year }}">수상작</router-link></li>
          <li><router-link :to="{ name: 'userArchiveAboardList', params: { award: archive_year }}">토크샤워</router-link></li>
        </ul>
        <ul :class="{'on': activeMypage}">
          <li><a href="/mypage/recipient">출품내역</a></li>
          <li><a href="/mypage/payment">결제내역</a></li>
          <li><a href="/mypage/prize">수상내역</a></li>
          <li><a href="/mypage/profile">회원정보</a></li>
        </ul>
      </div>
      <div class="menu_btn_area">
        <div class="sns">
          <v-btn href="https://www.facebook.com/nawards" depressed tile text x-small target="_blank" class="btn-type-link">Facebook<v-icon>xi-external-link</v-icon></v-btn>
        </div>
        <v-spacer></v-spacer>
        <div class="member" v-if="!$store.state.user">
          <v-btn :to="{name: 'userLogin', query: { redirect: $router.currentRoute.path}}" depressed tile text small class="btn-type-link">로그인</v-btn>
          <v-btn href="/join-guide" depressed tile text small class="btn-type-link">회원가입</v-btn>
        </div>
        <div class="member" v-else>
          <v-btn href="/logout" depressed tile text small class="btn-type-link">로그아웃</v-btn>
          <div class="cart">
            <v-btn href="/enroll/cart" depressed tile text small class="btn-type-link">출품함</v-btn>
            <div class="count">{{cart_count}}</div>
          </div>
        </div>
      </div>
    </v-navigation-drawer>
  </header>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,

      activeSub: false,
      activeAbout: false,
      activeEnroll: false,
      activeWinner: false,
      activeMypage: false,
      activeArchive: false,

      current_award: [],
      cart_count: 0,
      awardStart: false,
      current_year: 0,
      archive_year: 0,

      modalReady: {
        enroll: { title: '출품 안내', content: '출품 준비중입니다<br><br>출품 기간<br>2023년 10월 30일(월) ~ <br class="hidden-md-and-up">11월 24일(금)<br>※ 어워드 사정에 따라 연장 될 수 있습니다.' },
        ready: { title: '준비중입니다', content: '새롭게 준비중입니다' },
        closing: { title: '출품 종료', content: '출품기간이 종료되었습니다' },
      },
    }
  },
  mounted() {
    this.$axios.get('/api/get/current_award').then(res => {
      this.current_award = res.data;
    //   console.log(this.current_award);

      let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
    //   if (this.current_award.award_start || this.current_award.reaward_end) {
      if (this.current_award.award_start || this.current_award.award_end) {
        // if (now >= this.current_award.award_start && now <= this.current_award.reaward_end) {
        if (now >= this.current_award.award_start && now <= this.current_award.award_end) {
          this.awardStart = true;
        }
      } else {
        this.awardStart = true;
      }

      if (this.current_award.win_date) {
        if (now >= this.current_award.win_date) {
          this.current_year = this.current_award.a_id;
        } else {
          this.current_year = Number(this.current_award.a_id) - 1;
        }
      } else {
        this.current_year = this.current_award.a_id;
      }
    });

    if (this.$store.state.user) {
      this.$axios.get('/api/enroll/cart_count').then(res => {
        this.cart_count = res.data.data.count;
      });
    }

    //아카이브(어워드 - 1)년도 가져오기
    this.$axios.get('/api/get_archive_year').then(res => {
      this.archive_year = res.data.a_id;
    });
  },
  computed: {
    onScroll(e) {
      if (document.body.classList.contains('page-userMain')) {
        let offsetTop = this.$store.state.offsetTop;
        let offsetBottom = this.$store.state.offsetBottom;
        if (offsetBottom != 0) {
          if (this.$vuetify.breakpoint.mdAndUp == true) {
            return offsetTop + 50 >= offsetBottom ? true : false;
          } else {
            return offsetTop + 380 >= offsetBottom ? true : false;
          }
        }
      }
    },
    scrolled() {
      return (this.$store.state.offsetTop < 100) ? false : true;
    }
  },
  watch: {
    drawer(val) {
      const txtLnb = $('#nav-lnb');
      if (val) {
        if (this.$vuetify.breakpoint.mdAndUp != true) {
          txtLnb.addClass('d-none');
        }
      } else {
        if (this.$vuetify.breakpoint.mdAndUp != true) {
          txtLnb.removeClass('d-none');
        }
      }
    }
  },
  methods: {
    openDrawer() {
      this.activeAbout = false;
      this.activeEnroll = false;
      this.activeWinner = false;
      this.activeMypage = false;
      this.activeSub = false;
      this.activeArchive = false;
      let elem = document.getElementById('subcategory_title_top');
      if (this.drawer) {
        this.drawer = false;
        if (elem) {
          elem.style.display = '';
        }
      } else {
        this.drawer = true;
        if (elem) {
          elem.style.display = 'none';
        }
      }
    },
    openSub(type) {
      if (type == 'about') {
        this.activeEnroll = false;
        this.activeWinner = false;
        this.activeMypage = false;
        this.activeArchive = false;
        this.activeAbout = true;
      } else if (type == 'enroll') {
        this.activeAbout = false;
        this.activeWinner = false;
        this.activeMypage = false;
        this.activeArchive = false;
        this.activeEnroll = true;
      } else if (type == 'winner') {
        this.activeAbout = false;
        this.activeEnroll = false;
        this.activeMypage = false;
        this.activeArchive = false;
        this.activeWinner = true;
      } else if (type == 'mypage') {
        this.activeAbout = false;
        this.activeEnroll = false;
        this.activeWinner = false;
        this.activeArchive = false;
        this.activeMypage = true;
      } else if (type == 'archive') {
        this.activeAbout = false;
        this.activeEnroll = false;
        this.activeWinner = false;
        this.activeMypage = false;
        this.activeArchive = true;
      }
      this.activeSub = true;
    },
    openReady(type) {
      this.$store.commit('showReady', eval('this.modalReady.' + type));
    },
    enrollWork() {
      this.$axios.get('/api/get/current_award').then(res => {
        this.current_award = res.data;
        let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
        if (this.current_award.award_start || this.current_award.award_end) {
          if (now < this.current_award.award_start) {
            this.openReady('enroll')
          } else if (now > this.current_award.award_end) {
            this.openReady('closing')
          } else {
            location.href = '/enroll/work';
          }
        }
      });
    }
  }
}
</script>