<template>
  <footer id="footer" :class="{'theme--light': onScroll, 'scrolled': scrolled}">
    <div v-if="$vuetify.breakpoint.mdAndUp" class="footer-inner">
      <div class="description justify-end">
        <v-slide-x-transition>
          <!-- <div v-show="!scrolled" class="notice dsc1 dsc1-1">출품작을 제외한 모든 권리를 보유하고 있습니다<br>자세한 사항은 이용약관을 참고해 주세요</div> -->
          <div v-show="!scrolled" class="notice dsc1 dsc1-1">사단법인. 한국디지털기업협회</div>
        </v-slide-x-transition>
        <!-- <v-slide-x-transition>
          <div v-show="!scrolled" class="company dsc1 dsc1-2">사단법인. 한국디지털기업협회</div>
        </v-slide-x-transition> -->
        <v-slide-x-transition>
          <!-- <div v-show="!scrolled" class="slogan dsc1 dsc1-3">서울시 강남구 도산대로176 503호(논현동, 대광빌딩)<br>대표자 고경구  사업자등록번호 201-82-05787</div> -->
          <div v-show="!scrolled" class="slogan dsc1 dsc1-3">서울시 강남구 도산대로176 503호(논현동, 대광빌딩)<br>대표자 : 고경구 &nbsp; 사업자등록번호 : 201-82-05787<br>전화번호 : 02-3462-5627 &nbsp; 팩스번호 : 02-3462-5630<br>E-mail : master@dea.or.kr</div>
        </v-slide-x-transition>
        <v-expand-transition>
          <div v-show="scrolled" class="dsc2">
            <div class="scroll_indicator"></div>
          </div>
        </v-expand-transition>
      </div>

      <div class="content justify-end">
        <!-- 카테고리 플로팅 버튼 -->
        <template v-if="isMatch">
          <v-btn depressed color="#0819ed" class="btn_category_open" @click="openCategory()">
            <v-icon>$vuetify.icons.customList</v-icon>
            분야 선택하기
          </v-btn>
        </template>
        <!-- ------------- -->
        <v-expand-transition>
          <div v-if="cart_count > 0" class="cart">
            <v-btn href="/enroll/cart" depressed tile text small class="btn-type-link">
              <v-icon>mdi-briefcase-outline</v-icon>
            </v-btn>
            <div class="count">{{cart_count}}</div>
          </div>
        </v-expand-transition>
        <div class="member" v-if="!$store.state.user">
          <v-btn :to="{name: 'userLogin', query: { redirect: $router.currentRoute.path}}" depressed tile text small class="btn-type-link">로그인</v-btn>
          <v-btn href="/join-guide" depressed tile text small class="btn-type-link">가입하기</v-btn>
        </div>
        <div class="member" v-else>
          <v-btn href="/logout" depressed tile text small class="btn-type-link">로그아웃</v-btn>
          <v-btn href="/mypage" depressed tile text small class="btn-type-link">마이페이지</v-btn>
        </div>
        <v-expand-transition>
          <div class="term" v-show="!scrolled">
            <v-btn depressed tile text x-small @click="openTerms(2)" class="btn-type-link">개인정보취급방침</v-btn>
            <v-btn depressed tile text x-small @click="openTerms(1)" class="btn-type-link">이용약관</v-btn>
          </div>
        </v-expand-transition>
        <div class="sns">
          <v-btn href="https://www.facebook.com/nawards" depressed tile text x-small target="_blank" class="btn-type-link">Facebook<v-icon>xi-external-link</v-icon></v-btn>
        </div>
        <div class="copyright">
          <v-icon>xi-copyright</v-icon>Copyright 2020 A.N.D. AWARD
        </div>
        <v-expand-transition>
          <div class="browser" v-show="!scrolled">본 사이트는 크롬에 최적화되어 있습니다</div>
        </v-expand-transition>
      </div>
      <v-scroll-y-reverse-transition>
        <div class="btn_top" v-show="!scrolled_btn_top" @click="$vuetify.goTo(0)"><v-icon>xi-arrow-up</v-icon></div>
      </v-scroll-y-reverse-transition>
    </div>

    <div v-else class="footer-inner footer-mobile">
      <div class="description">
        <!-- <div class="notice dsc1 dsc1-1">출품작을 제외한 모든 권리를 보유하고 있습니다<br>자세한 사항은 이용약관을 참고해 주세요</div> -->
        <!-- <div class="company dsc1 dsc1-2">사단법인. 한국디지털기업협회</div> -->
        <!-- <div class="slogan dsc1 dsc1-3">서울시 강남구 도산대로176 503호(논현동, 대광빌딩)<br>대표자 고경구  사업자등록번호 201-82-05787</div> -->
        <div class="notice dsc1 dsc1-1">사단법인. 한국디지털기업협회</div>
        <div class="slogan dsc1 dsc1-3">서울시 강남구 도산대로176 503호(논현동, 대광빌딩)<br>대표자 : 고경구 &nbsp; 사업자등록번호 : 201-82-05787<br>전화번호 : 02-3462-5627 &nbsp; 팩스번호 : 02-3462-5630<br>E-mail : master@dea.or.kr</div>
      </div>

      <div class="content">
        <!-- 카테고리 플로팅 버튼 -->
        <template v-if="isMatch">
          <v-btn fab depressed color="#0819ed" class="btn_category_open" @click="openCategory()">
            <v-icon>$vuetify.icons.customList</v-icon>
          </v-btn>
          
        </template>
        <!-- ------------- -->
        <div class="term">
          <v-btn depressed tile text x-small @click="openTerms(2)" class="btn-type-link">개인정보취급방침</v-btn>
          <v-btn depressed tile text x-small @click="openTerms(1)" class="btn-type-link">이용약관</v-btn>
        </div>
        <div class="sns">
          <v-btn href="https://www.facebook.com/nawards" depressed tile text x-small target="_blank" class="btn-type-link">Facebook<v-icon>xi-external-link</v-icon></v-btn>
        </div>
        <div class="copyright">
          <v-icon>xi-copyright</v-icon>Copyright 2020 A.N.D. AWARD
        </div>
        <div class="browser">본 사이트는 크롬에 최적화되어 있습니다</div>
      </div>
    </div>

    <v-dialog
      v-model="modalTerm"
      fullscreen
      hide-overlay
      open-on-focus
      scrollable
      transition="dialog-bottom-transition"
      content-class="modal-term"
    >
      <v-card>
        <v-btn icon dark @click="closeTerm" class="btn-close">
          <v-icon>xi-close-thin</v-icon>
        </v-btn>
        <div class="container-modal-full">
          <div class="content_area scrollable" v-scroll.self="onScrollModal_t">
            <div class="ttoptext" id="ttoptext">{{modalSubTitle}}</div>
            <div class="inner-content ttitle_wrap">
              <div class="ttitle" id="ttitle-top">{{modalTitle}}</div>
            </div>
            <div class="tdsc inner-content pre-formatted">{{modalDescription}}</div>
            <div class="con_aera inner-content pre-formatted">{{modalContent}}</div>
            <div class="btn_wrap">
              <v-btn depressed tile text outlined large @click="closeTerm">닫기</v-btn>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>

    <v-navigation-drawer
      v-model="drawerCategory"
      fixed
      right
      temporary
      :width="$vuetify.breakpoint.mdAndUp == true ? '640' : '100%'"
      class="navigation-category"
    >
      <div class="stitle">카테고리 이동</div>
      <v-btn icon dark @click="closeCategory" class="btn-close">
        <v-icon>xi-close</v-icon>
      </v-btn>
      <div class="nav-category">
        <v-btn icon dark @click="changeTitle('prev')" class="angle_left">
          <v-icon>xi-angle-left</v-icon>
        </v-btn>
        <div class="category_name">{{ categoryTitle }}</div>
        <v-btn icon dark @click="changeTitle('next')" class="angle_right">
          <v-icon>xi-angle-right</v-icon>
        </v-btn>
      </div>
      <div class="category_list_wrap">
        <ul>
          <li>
            <v-btn depressed tile text @click="allCategory()">분류 전체 보기</v-btn>
          </li>
          <li>
            <v-btn depressed tile text @click="specialPrize()">기관장상</v-btn>
          </li>
          <li v-for="(option, index) in categoryInfo" v-if="index => 0">
            <v-btn depressed tile text @click="changeCategory(option.c_id)">{{ option.c_title }}</v-btn>
          </li>
        </ul>
      </div>
    </v-navigation-drawer>
  </footer>

</template>

<script>
import { EventBus } from "../../common/EventBus";

export default {
  data() {
    return {
      cart_count: '',

      modalTerm: false,
      drawerCategory: false,
      modalTitle: '',
      modalSubTitle: '',
      modalDescription: '',
      modalContent: '',
      tCounter: 0,

      query_terms: '',

      categories: [],
      categoryTitle: '',
      categoryInfo: [],
      categoryInfo2: [],
      type: 1,
      a_year: '',
      isMatch: false,
      winner_all: [],
    };
  },
  mounted() {
    this.query_terms = this.$route.query.terms ? this.$route.query.terms : '';

    //console.log(document.location.href.indexOf('winners') > -1);
    if(document.location.href.indexOf('winners') > -1){
      this.isMatch = true;
    }

    setTimeout(() => {
      if (this.$store.state.user) {
        this.$axios.get('/api/enroll/cart_count').then(res => {
          this.cart_count = res.data.data.count;
          // console.log(this.cart_count);
        });
      }
    }, 200);

    if (this.query_terms) {
      this.openTerms(this.query_terms);
    }
  },
  created() {
    EventBus.$on('change-tab', (type) => {
      this.type = type;
    });
  },
  computed: {
    onScroll(e) {
      if (document.body.classList.contains('page-userMain')) {
        let offsetTop = this.$store.state.offsetTop;
        let offsetBottom = this.$store.state.offsetBottom;
        if (offsetBottom != 0) {
          if (this.$vuetify.breakpoint.mdAndUp == true) {
            return offsetTop + 50 >= offsetBottom ? true : false;
          } else {
            return offsetTop + 380 >= offsetBottom ? true : false;
          }
        }
      }
    },
    scrolled() {
      return (this.$store.state.offsetTop < 100) || (this.$store.state.offsetTop >= this.$store.state.offsetBottom) ? false : true;
    },
    scrolled_btn_top() {
      if(this.$store.state.offsetBottom == 0)
        return true;
      if (document.body.classList.contains('page-userMain') || document.body.classList.contains('page-userAwardArchiveWinnerList') || document.body.classList.contains('page-userArchiveAboardList')) {
        return this.$store.state.offsetTop >= this.$store.state.offsetBottom ? false : true;
      } else {
        return (this.$store.state.offsetTop > 1000) || (this.$store.state.offsetTop >= this.$store.state.offsetBottom) ? false : true;
      }
    }
  },
  watch: {
    $route(to, from) {
      if(to.path != from.path) {
        if (to.path.indexOf('winners') > -1 && to.path.indexOf('main') < 0) {
          this.isMatch = true;
        } else {
          this.isMatch = false;
        }
      }
    },
    drawerCategory(val) {
      const navMobile = $('#header').find('.btn_nav');
      const logoHeader = $('#header').find('.logo');
      const txtHeader = $('#header').find('.txt-header');
      const txtLnb = $('#nav-lnb');
      if (val) {
        navMobile.addClass('hide');
        logoHeader.addClass('d-none');
        txtHeader.addClass('d-none');
        if (this.$vuetify.breakpoint.mdAndUp != true) {
          txtLnb.addClass('d-none');
        }
      } else {
        navMobile.removeClass('hide');
        logoHeader.removeClass('d-none');
        txtHeader.removeClass('d-none');
        if (this.$vuetify.breakpoint.mdAndUp != true) {
          txtLnb.removeClass('d-none');
        }
      }
    }
  },
  methods: {
    openTerms(id) {
      this.modalTitle = '';
      this.modalDescription = '';
      this.modalContent = '';
      this.$axios.get('/api/service/terms/' + id
      ).then(res => {
        this.modalTitle = res.data.data.title;
        this.modalDescription = res.data.data.description;
        this.modalContent = res.data.data.contents;
        if (id == '2') {
          this.modalSubTitle = 'PRIVACY STATEMENT';
        } else if (id == '5') {
          this.modalSubTitle = 'DISCLAIMER';
        }
        this.modalTerm = true;
      }).catch(err => {
      });
    },
    closeTerm() {
      this.modalTitle = '';
      this.modalDescription = '';
      this.modalContent = '';
      this.modalTerm = false;
    },
    openCategory(changeType) {
      if(changeType == null){
        var urlSplitArr = document.location.href.split('/');
        var slct_type = urlSplitArr[3]
        var a_year = urlSplitArr[4]
        if (5 < urlSplitArr.length) {
          slct_type = urlSplitArr[4]
          a_year = urlSplitArr[5]
        }

        // if(a_year == null || $('#a_year').val() == null ) {
        //   if (urlSplitArr[3] == 'archive') {
        //     a_year = '2019';
        //   } else {
        //     a_year = '2020';
        //   }
        // }
        this.a_year = a_year;

        // if($('.tab_category li:first').attr('class') != 'active') {
        //   this.type = 2;
        // }

        this.$axios.get('/api/get/category/' + a_year).then(res => {
          this.categories = res.data.data.data;

          this.$axios.get('/api/service/winners_category/' + a_year + '/' + this.type).then(res => {
            this.drawerCategory = true;
            // this.categoryTitle = this.type == 1 ? '디지털 미디어 & 서비스' : '디지털 광고 & 캠페인'
            this.categoryTitle = this.categories[this.type - 1].c_title;
            this.categoryInfo = res.data;
          }).catch(err => {});
        });
      } else {
        this.$axios.get('/api/service/winners_category/' + this.a_year + '/' + changeType).then(res => {
          this.drawerCategory = true;
          // this.categoryTitle = changeType == 1 ? '디지털 미디어 & 서비스' : '디지털 광고 & 캠페인'
          this.categoryTitle = this.categories[this.type - 1].c_title;
          this.categoryInfo = res.data;
          this.categoryInfo.push();
        }).catch(err => {});
      }
      $('#subcategory_title_top').hide();
    },
    closeCategory() {
      this.drawerCategory = false;
    },
    changeTitle(val) {
      if (val == 'next') {
        var changeType = this.type + 1;
        if (this.type == this.categories.length) {
          changeType = 1;
        }
      } else {
        var changeType = this.type - 1;
        if (this.type == 1) {
          changeType = this.categories.length;
        }
      }
      this.openCategory(changeType);
      this.type = changeType;
    },
    changeCategory(c_id) {
      this.$axios.get('/api/service/winners_choice/' + this.a_year + '/' + this.type + '/' + c_id).then(res => {
        let data = res.data.data;
        this.winner_all = data.filter(obj => obj.hasOwnProperty('child'));
        setTimeout(() => {
          //this.subcategory_target = document.querySelectorAll('.subcategory_wrap');
          //console.log('this.subcategory_target: {}', this.subcategory_target);
        }, 0)
        EventBus.$emit('change-category', this.winner_all, this.type);
        setTimeout(() => {
          this.$vuetify.goTo('#section-winner-list-year');
        }, 0)
      });
      this.closeCategory();
      $('#subcategory_title_top').hide();
    },
    allCategory() {
      this.$axios.get('/api/service/winners/' + this.$route.params.award + '/' + this.type).then(res => {
        let data = res.data.data;
        this.winner_all = data.filter(obj => obj.hasOwnProperty('child'));
        setTimeout(() => {
          // this.get_subcategory_name();
        }, 0)
        EventBus.$emit('all-category', this.type);
        setTimeout(() => {
          this.$vuetify.goTo('#section-winner-list-year');
        }, 0)
      });
      this.closeCategory();

      if (this.$route.name == 'userAwardWinnerList') {
        $('#subcategory_title_top').show();
      }
    },
    specialPrize() {
      this.$axios.get('/api/service/winners_special/' + this.$route.params.award).then(res => {
        this.winner_special = res.data.data;
        EventBus.$emit('special-winner');
        setTimeout(() => {
          this.$vuetify.goTo('#section-winner-list-year');
        }, 0)
      }).catch(err => {
        EventBus.$emit('special-winner');
      });
      this.closeCategory();

      if (this.$route.name == 'userAwardWinnerList') {
        $('#subcategory_title_top').show();
      }
    },
    onScrollModal_t(e) {
      let target_offsetTop = e.target.scrollTop;
      let toptext = document.getElementById('ttoptext');
      let elem = document.getElementById('ttitle-top');
      let elemH = elem.offsetHeight;
      let classCheck = new RegExp("(\\s|^)active(\\s|$)");
      // console.log(elemH);
      if (this.tCounter == 0) {
        if (target_offsetTop > 140) {
          e.target.className += ' active';
          toptext.style.marginBottom = elemH+'px';
          this.tCounter++;
        }
      }
      if (this.tCounter == 1) {
        if (target_offsetTop <= 140) {
          e.target.className = e.target.className.replace(classCheck, ' ').trim();
          toptext.style.marginBottom = 0;
          this.tCounter--;
        }
      }
    }
  }
}
</script>