<template>
  <div class="layout-default layout-full">
    <default-header/>
    <slot/>
    <default-footer/>
  </div>
</template>

<script>
  import DefaultHeader from '@/components/layout/DefaultHeader';
  import DefaultFooter from '@/components/layout/DefaultFooter';

  export default {
    name: 'LayoutFull',
    components: {
      DefaultHeader,
      DefaultFooter,
    },
  }
</script>