<template>
  <div class="layout-default" id="layout-default">
    <simple-header/>
    <slot/>
    <simple-footer/>
  </div>
</template>

<script>
  import SimpleHeader from '@/components/layout/SimpleHeader';
  import SimpleFooter from '@/components/layout/SimpleFooter';

  export default {
    name: 'LayoutSimple',
    components: {
      SimpleHeader,
      SimpleFooter,
    },
  }
</script>