<template>
  <footer id="footer" :class="{'theme--light': onScroll, 'scrolled': scrolled}">
    <div v-if="$vuetify.breakpoint.mdAndUp" class="footer-inner">
      <div class="description justify-end">
      </div>

      <div class="content justify-end">
        <div class="copyright">
          <v-icon>xi-copyright</v-icon>Copyright 2020 A.N.D. AWARD
        </div>
      </div>
      <v-scroll-y-reverse-transition>
        <div class="btn_top" v-show="!scrolled_btn_top" @click="$vuetify.goTo(0)"><v-icon>xi-arrow-up</v-icon></div>
      </v-scroll-y-reverse-transition>
    </div>

    <div v-else class="footer-inner footer-mobile">
      <div class="description">
      </div>

      <div class="content">
        <div class="copyright">
          <v-icon>xi-copyright</v-icon>Copyright 2020 A.N.D. AWARD
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
    };
  },
  mounted() {
  },
  computed: {
    onScroll(e) {
    },
    scrolled() {
      return (this.$store.state.offsetTop < 100) || (this.$store.state.offsetTop >= this.$store.state.offsetBottom) ? false : true;
    },
    scrolled_btn_top() {
      if(this.$store.state.offsetBottom == 0)
        return true;
      if (document.body.classList.contains('page-userMain')) {
        return this.$store.state.offsetTop >= this.$store.state.offsetBottom ? false : true;
      } else {
        return (this.$store.state.offsetTop > 1000) || (this.$store.state.offsetTop >= this.$store.state.offsetBottom) ? false : true;
      }
    }
  },
  methods: {
    onScrollModal_t(e) {
      let target_offsetTop = e.target.scrollTop;
      let toptext = document.getElementById('ttoptext');
      let elem = document.getElementById('ttitle-top');
      let elemH = elem.offsetHeight;
      let classCheck = new RegExp("(\\s|^)active(\\s|$)");
      // console.log(elemH);
      if (this.tCounter == 0) {
        if (target_offsetTop > 140) {
          e.target.className += ' active';
          toptext.style.marginBottom = elemH+'px';
          this.tCounter++;
        }
      }
      if (this.tCounter == 1) {
        if (target_offsetTop <= 140) {
          e.target.className = e.target.className.replace(classCheck, ' ').trim();
          toptext.style.marginBottom = 0;
          this.tCounter--;
        }
      }
    }
  }
}
</script>