<template>
  <header id="header">
    <div class="header-inner">
      <nav id="nav">
      </nav>
      <v-slide-y-transition>
        <div v-show="!scrolled" class="logo">
          <a href="/"><div class="holder"></div></a>
        </div>
      </v-slide-y-transition>
      <div class="txt-header">
        <!-- <div class="holder">A.N.D. AWARD 2020</div>
        <div class="d-flex" style="margin-top:10px;font-size:13px;line-height:1.2;text-align:right;">
          offset: {{$store.state.offsetTop}}/{{$store.state.offsetBottom}}<br>
          user: {{$store.state.user}}<br>
          admin: {{$store.state.admin}}
        </div> -->
      </div>
    </div>

  </header>
</template>

<script>
export default {
  data () {
    return {
      modalReady: {
        enroll: { title: '출품 안내', content: '출품 준비중입니다<br><br>출품 기간<br>2023년 10월 30일(월) ~ <br class="hidden-md-and-up">11월 24일(금)<br>※ 어워드 사정에 따라 연장 될 수 있습니다.' },
        ready: { title: '준비중입니다', content: '새롭게 준비중입니다' },
      },
    }
  },
  mounted() {
    if (this.$store.state.user) {
      this.$axios.get('/api/enroll/cart_count').then(res => {
        this.cart_count = res.data.data.count;
      });
    }
  },
  computed: {
    scrolled() {
      return (this.$store.state.offsetTop < 100) ? false : true;
    }
  },
  methods: {
    openReady(type) {
      this.$store.commit('showReady', eval('this.modalReady.' + type));
    }
  }
}
</script>