<template>
  <div>
    <div id="nav-lnb">
      <ul>
        <li><router-link :to="{ name: 'userEnrollMain' }">출품개요</router-link></li>
        <li><router-link :to="{ name: 'userEnrollCategory' }">카테고리</router-link></li>
        <!-- <li v-if="awardStart"><a href="/enroll/work" class="link-enroll-work">출품하기</a></li>
        <li v-else ><a href="" class="link-enroll-work" @click.prevent="openReady('closing')">출품하기</a></li> -->
        <li><a href="/enroll/work" class="link-enroll-work" @click.prevent="enrollWork">출품하기</a></li>
      </ul>
    </div>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data () {
    return {
      awardStart: false,

      modalReady: {
        enroll: { title: '출품 안내', content: '출품 준비중입니다<br><br>출품 기간<br>2023년 10월 30일(월) ~ <br class="hidden-md-and-up">11월 24일(금)<br>※ 어워드 사정에 따라 연장 될 수 있습니다.' },
        ready: { title: '준비중입니다', content: '새롭게 준비중입니다' },
        closing: { title: '출품 종료', content: '출품기간이 종료되었습니다' },
      },
    }
  },
  mounted() {
    this.$axios.get('/api/get/current_award').then(res => {
      this.current_award = res.data;
      // console.log(this.current_award);

      let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
      // if (this.current_award.award_start || this.current_award.reaward_end) {
      if (this.current_award.award_start || this.current_award.award_end) {
        // if (now >= this.current_award.award_start && now <= this.current_award.reaward_end) {
        if (now >= this.current_award.award_start && now <= this.current_award.award_end) {
          this.awardStart = true;
        }
      }
    });
  },
  methods: {
    openReady(type) {
      this.$store.commit('showReady', eval('this.modalReady.' + type));
    },
    enrollWork() {
      this.$axios.get('/api/get/current_award').then(res => {
        this.current_award = res.data;
        let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
        if (this.current_award.award_start || this.current_award.award_end) {
          if (now < this.current_award.award_start) {
            this.openReady('enroll')
          } else if (now > this.current_award.award_end) {
            this.openReady('closing')
          } else {
            location.href = '/enroll/work';
          }
        }
      });
    }
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/enroll.scss";
</style>