<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">카테고리</h1>
        <div class="title-sub-1">출품할 출품작의 부문과 분야를 아래의 설명을 참고하여 가장 유사한 콘텐츠를 <br class="hidden-xs-only">선택하여 출품 후보 등록을 해주시기 바랍니다 </div>
      </div>
    </div>

    <section class="section section-items section-enroll-category section-enroll-category-tab">
      <div class="container container-inner container-basic">
        <ul class="tab_category">
          <li v-for="(category, index) in categories" :key="category.c_id" :class="{ active: selectedCategory == category.c_id}" @click="get_subcategories(category.c_id)">
            {{category.c_title}}
          </li>
        </ul>
        <div class="helper-category">{{categoryDescribe}}</div>

        <div class="subcategory_wrap">
          <ul class="list_subcategory">
            <li v-for="(sub_category, index) in sub_categories" :key="sub_category.c_id">
              <div class="inner">
                <div class="name">
                  <div class="tit">{{sub_category.c_title}}</div>
                  <div class="alias">{{sub_category.c_sector}}</div>
                </div>
                <div class="con">
                  <div class="dsc pre-formatted">{{sub_category.c_describe}}</div>
                  <div class="ex pre-formatted">{{sub_category.c_exemple}}</div>
                </div>
              </div>
              <v-divider></v-divider>
            </li>
          </ul>
        </div>
      </div>
    </section>


  </div>
</template>

<script>
export default {
  data(){
    return{
      award: [],
      a_id: '',
      c_id: '',
      categoryDescribe: '',
      categories: [],
      sub_categories: [],

      selectedCategory: '',
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.$axios.get('/api/get_current_award').then(res => {
        this.award = res.data;

        this.a_id = this.award ? this.award.a_id : 0;

        this.$axios.get('/api/get/category/' + this.a_id).then(res => {
          this.categories = res.data.data.data;
          // console.log(this.categories);

          this.c_id = this.categories[0].c_id;
          this.get_subcategories(this.c_id);
        });
      });
    },
    activeCategory(c_id) {
      return true;
    },
    get_subcategories: function(c_id) {
      for (var i=0; i < this.categories.length; i++) {
        if (this.categories[i].c_id === c_id) {
          this.categoryDescribe = this.categories[i].c_describe;
        }
      }
      this.selectedCategory = c_id;
      this.$axios.get('/api/get/subcategory/' + c_id, 'a_id=' + this.a_id).then(res => {
        this.sub_categories = res.data.data.data;
        // console.log(this.sub_categories);
        this.activeCategory(c_id);
      });
    },
  }
}
</script>