<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1 title-line"><span>{{a_id}}</span><br>출품개요</h1>
        <div class="title-sub-1">출품 전 하단의 출품개요 내용을 반드시 확인하신 후 출품을 진행해 주시기 바랍니다</div>
        <!-- <v-btn v-if="awardStart" depressed tile text outlined default href="/enroll/work" class="btn-type-extlink">앤어워드 출품하기
        </v-btn>
        <v-btn v-else depressed tile text outlined default href="" class="btn-type-extlink" @click.prevent="openReady('closing')">앤어워드 출품하기
        </v-btn> -->
        <v-btn depressed tile text outlined default href="/enroll/work" class="btn-type-extlink" @click.prevent="enrollWork">앤어워드 출품하기
        </v-btn>
      </div>
    </div>

    <!-- <section class="section section-items section-enroll-main-cover">
      <div class="cover">
        <v-img src="/assets/img/enroll/cover.png"></v-img>
        <div class="container container-basic">
          <div class="tit">뉴<br>디지털을<br>이야기하다</div>
        </div>
      </div>
    </section> -->

    <section class="section section-items section-enroll-main section-enroll-main-1">
      <div class="container container-inner container-basic">
        <div class="title-4">출품기간</div>
        <div class="con" v-html="">
          <div class="hdline">2023년 10월 30일(월) ~ <br class="hidden-md-and-up">2023년 11월 24일(금)</div>
          <div class="mt-2">※ 어워드 사정에 따라 연장 될 수 있습니다</div>
          <!-- <div class="hdline">2022년 10월 31일(월) ~ <br class="hidden-md-and-up">12월 9일(금)<span class="help_inline">※ 추가 등록기간 포함</span></div> -->
          <!-- <div v-if="award.reaward_end" class="hdline">{{formatDate(award.award_start)}} - <br class="hidden-md-and-up">{{formatDate(award.reaward_end)}}</div>
          <div v-else class="hdline">{{formatDate(award.award_start)}} - <br class="hidden-md-and-up">{{formatDate(award.award_end)}}</div> -->
          <!-- <div class="mt-2">※ 추가 등록기간 포함</div> -->
        </div>
        <div class="help-warning mt-7"><v-icon>mdi-information</v-icon>출품 기간 내 출품비 미납작품은 <br class="hidden-md-and-up"><span class="hidden-md-and-up">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span>심사과정에서 제외됩니다</div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-2">
      <div class="container container-inner container-basic">
        <div class="title-4">출품주체</div>
        <div class="con" v-html="">
          <div>출품작 등록은 디지털 미디어 & 서비스 부문과 디지털 광고 & 캠페인 부문의 작업물 중 <br class="hidden-xs-only"><span class="emphasis">상업적, 공익적 용도로 제작된 작품</span>으로 기업 및 단체 명의로 출품</div>
          <ul class="box-1 col--2">
            <li>
              <div class="tit">디지털 미디어 & 서비스 부문</div>
              <div class="dsc">웹사이트와 모바일웹, 모바일 애플리케이션, 스마트미디어 등 디지털로 생산･구축되고 표현, 배포되는 모든 콘텐츠를 망라합니다.</div>
            </li>
            <li>
              <div class="tit">디지털 광고 & 캠페인 부문</div>
              <div class="dsc">PC, 모바일, TV 등 디지털 디바이스와 웹, SNS, 방송 등 디지털 채널을 아우르는 모든 디지털 영상 및 광고, 캠페인 등을 망라합니다.</div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-3">
      <div class="container container-inner container-basic">
        <div class="title-4">출품대상</div>
        <div class="con" v-html="">
          <div class="hdline">2022년 11월 1일 ~ <br class="hidden-md-and-up">2023년 10월 30일</div>
          <div class="mt-2">* 기간 내에 발표된 디지털 관련 작품</div>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-4">
      <div class="container container-inner container-basic">
        <div class="title-4">출품방법</div>
        <div class="con" v-html="">
          <ul class="box-1 col--2">
            <li>
              <div class="tit">1</div>
              <div class="dsc">출품등록(각 부문별) :<br>앤어워드 공식 웹사이트에서 등록</div>
            </li>
            <li>
              <div class="tit">2</div>
              <div class="dsc">출품방법에 대한 자세한 내용은 로그인 후 <br class="hidden-xs-only">[출품] - [출품하기]에서 확인 할 수 있습니다</div>
            </li>
          </ul>
          <div class="white--text mt-16">주의사항</div>
          <ul class="list-num mt-9">
            <li>출품은 공식 웹사이트를 통한 온라인 접수로만 진행되며, 출품사의 직접 접수 외 대행은 진행되지 않습니다</li>
            <li>1회 출품당 하나의 작품(URL)만 출품할 수 있습니다</li>
            <li>출품 시 URL, 작품내용, 이미지는 심사를 위한 필수 기재 사항입니다 <br><span class="emphasis">URL 내의 내용이 반드시 노출되어야만 심사가 가능하며</span> 심사기간 중 URL 내용이 노출되지 않음으로 인한 책임은 출품사에 있음을 유의하여 주시기 바랍니다</li>
            <li>출품 마감일 이후에는 수정 및 환불이 불가합니다</li>
            <li>출품은 반드시 개발사(공동 개발사 포함)와 고객사의 사전 합의하에 진행해야 합니다</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-5">
      <div class="container container-inner container-basic">
        <div class="title-4">출품비용</div>
        <div class="con" v-html="">
          <!-- <div class="help-warning mt-7"><v-icon>mdi-information</v-icon>코로나19로 인한 디지털산업계의 어려움을 함께 나누고자 출품료를 한시적으로 인하 하였습니다.</div> -->
          <div class="hdline mt-16">전 분야 공히 출품작당 15만원(부가세 포함)</div>
          <div class="mt-2">* 출품작이 7개 이상일 시 8번째 출품작부터 추가등록비 면제<br>* 취소 및 환불 : 입금 후에는 취소 및 환불이 불가합니다.</div>
          <div class="hdline mt-16">출품료 결제 방법</div>
          <div class="mt-2">무통장 계좌, 카드결제<br>무통장 계좌 : 기업은행 274-087499-01-014 / 예금주 : (사)한국디지털기업협회</div>
          <div class="hdline mt-16">수상 확정 시 비용 납부</div>
          <div class="mt-2">수상 확정 시 트로피는 하나의 수상작에 한해 개발사와 고객사에 공동 수여하지만,<br>트로피 제작비는 각기 납부함을 원칙으로 합니다.<br>(양사의 합의 하에 한 회사에서 일괄처리 가능)</div>
          <div class="mt-2">고객사와 개발사의 합의에 따라 수상작에 대한 트로피를 하나만 제작도 가능합니다.</div>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-6">
      <div class="container container-inner container-basic">
        <div class="title-4">시상내용</div>
        <div class="con" v-html="">
          <ul class="list-prize">
            <li class="item_1">
              <div class="dsc">
                <div class="hdline">과학기술정보통신부장관상</div>
                <div class="mt-4">· 디지털 미디어 & 서비스 부문 최고작(1점)<br>· 부문 통합 심사위원 특별 선정작(1점)</div>
              </div>
              <div class="logo"><v-responsive :aspect-ratio="510/154"><img src="/assets/img/about/sponsor-o1.png"></v-responsive></div>
            </li>
            <li class="item_4">
              <div class="dsc">
                <div class="hdline">문화체육관광부장관상</div>
                <div class="mt-4">· 디지털광고 & 캠페인 부문 최고작(1점)</div>
              </div>
              <div class="logo"><v-responsive :aspect-ratio="510/154"><img src="/assets/img/about/sponsor-o2.png"></v-responsive></div>
            </li>
            <!-- <li class="item_5">
              <div class="dsc">
                <div class="hdline">한국콘텐츠진흥원장상</div>
                <div class="mt-4">· 부문 통합 심사위원 특별 선정작(1점)</div>
              </div>
              <div class="logo"><v-responsive :aspect-ratio="510/154"><img src="/assets/img/about/sponsor-o3.png"></v-responsive></div>
            </li> -->
            <li class="item_2">
              <div class="dsc">
                <div class="hdline">한국방송광고진흥공사장상</div>
                <div class="mt-4">· 디지털 광고 & 캠페인 부문(1점)</div>
              </div>
              <div class="logo"><v-responsive :aspect-ratio="510/154"><img src="/assets/img/about/sponsor-1.png"></v-responsive></div>
            </li>
            <li class="item_3">
              <div class="dsc">
                <div class="hdline">한국인터넷진흥원장상</div>
                <div class="mt-4">· 디지털 미디어 & 서비스 부문(1점)</div>
              </div>
              <div class="logo"><v-responsive :aspect-ratio="510/154"><img src="/assets/img/about/sponsor-2b.png"></v-responsive></div>
            </li>
          </ul>
          <v-divider></v-divider>
          <ul class="list-prize mt-16">
            <li>
              <div class="dsc">
                <div class="hdline">디지털 미디어 & 서비스 부문</div>
                <div class="mt-5 white--text">각 분야별</div>
                <div class="mt-4">· Grand Prix(1점)<br>· Winner(1점)</div>
              </div>
            </li>
            <li>
              <div class="dsc">
                <div class="hdline">디지털 광고 & 캠페인 부문</div>
                <div class="mt-5 white--text">각 분야별</div>
                <div class="mt-4">· Grand Prix(1점)<br>· Winner(1점)</div>
              </div>
            </li>
          </ul>
          <div class="mt-2">* Grand Prix 및 Winner는 심사결과에 따라 다수의 수상작이 선정될 수 있습니다<br>* 각 시상 트로피는 고객사와 공동 수상됩니다</div>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-7">
      <div class="container container-inner container-basic">
        <div class="title-4">심사기간</div>
        <div class="con" v-html="">
          <div class="hdline">2023년 12월 13일(수) ~ <br class="hidden-md-and-up">2024년 1월 19일(금) 예정</div>
          <div class="mt-2">* 1차, 2차, 3차 심사 기간 포함</div>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-8">
      <div class="container container-inner container-basic">
        <div class="title-4">수상작 발표</div>
        <div class="con" v-html="">
          <div class="hdline">2024년 1월 25일(목) 오전 10시 발표 예정</div>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-9">
      <div class="container container-inner container-basic">
        <div class="title-4">수상인증비용</div>
        <div class="con" v-html="">
          <div class="hdline">전 분야 공히 수상트로피 제작 비용 납부 필요<br>개발사 / 고객사 각 55만원(부가세 별도)</div>
          <div class="mt-2">* 납부방법 안내는 수상작 발표 후 개별 공지드립니다</div>
          <div class="white--text mt-16">제공사항</div>
          <ul class="list-num mt-9">
            <li>Label (앤어워드 인증마크) : 개발사, 고객사 홈페이지에 적용</li>
            <li>Online exhibition (공식 홈페이지 전시)</li>
            <li>Gift for annual book (판매용) : 연감(수상작품집)에 게재 및 무상 증정</li>
            <li>A.N.D Award 행사장에 수상작 전시 (Show Reel)</li>
          </ul>
          <div class="white--text mt-16">유의사항</div>
          <ul class="list-num mt-9">
            <li>트로피 제작 전 수상사는 정확한 작품명 및 회사명 등의 확인•전달이 필수이며 기재 오류로 인한 트로피 재 제작 시 <br class="hidden-xs-only"> 그 책임은 수상사에 있습니다</li>
            <li>수상사(개발사 혹은 고객사)의 기재오류로 인한 트로피 재 제작 요청 시 추가 제작으로 간주하며 제작비용 납부가 필요합니다 <br> (각 55만원/부가세 별도)</li>
            <li>추가 트로피 제작을 원할 경우 개별 연락 바랍니다</li>
            <li>단독출품(고객사, 개발사 동일) 및 공동개발 또는 복수의 고객사일 경우 수상 확정 후 반드시 필요 트로피 수량을 알려주십시오</li>
            <li>공동개발 또는 복수의 고객사일 경우 수상 확정 후 필요 트로피 수량을 알려주셔야 합니다</li>
            <li>출품사 및 고객사가 트로피를 제작하지 않을 경우, 수상은 자동 취소되며 수상에 대한 대외 홍보 또한 진행 할 수 없습니다</li>
            <li>고객사에서 트로피 제작을 원치 않으시는 경우에는 개발사만 트로피 제작 및 수령이 가능하나, 고객사로부터의 트로피 제작을 원치 않는다는 공문을 요청드릴 수 있습니다. </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section-items section-enroll-main section-enroll-main-9 mt-16">
      <div class="container container-inner container-basic">
        <!-- <v-btn v-if="awardStart" depressed tile text outlined default href="/enroll/work" class="btn-type-extlink">앤어워드 출품하기
        </v-btn>
        <v-btn v-else depressed tile text outlined default href="/enroll/work" class="btn-type-extlink" @click.prevent="openReady('enroll')">앤어워드 출품하기
        </v-btn> -->
        <v-btn depressed tile text outlined default href="/enroll/work" class="btn-type-extlink" @click.prevent="enrollWork">앤어워드 출품하기
        </v-btn>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  data(){
    return{
      award: [],
      a_id: '',
      awardStart: false,

      modalReady: {
        enroll: { title: '출품 안내', content: '출품 준비중입니다<br><br>출품 기간<br>2023년 10월 30일(월) ~ <br class="hidden-md-and-up">11월 24일(금)<br>※ 어워드 사정에 따라 연장 될 수 있습니다.' },
        ready: { title: '준비중입니다', content: '새롭게 준비중입니다' },
        closing: { title: '출품 종료', content: '출품기간이 종료되었습니다' },
      },
    };
  },
  mounted() {
    this.$axios.get('/api/get_current_award').then(res => {
      this.award = res.data;
      this.a_id = this.award ? this.award.a_id : 0;
      // console.log(this.award);

      let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
    //   if (this.award.award_start || this.award.reaward_end) {
      if (this.award.award_start || this.award.award_end) {
        // if (now >= this.award.award_start && now <= this.award.reaward_end) {
        if (now >= this.award.award_start && now <= this.award.award_end) {
          this.awardStart = true;
        }
      }
    });
  },
  methods: {
    openReady(type) {
      this.$store.commit('showReady', eval('this.modalReady.' + type));
    },
    enrollWork() {
      this.$axios.get('/api/get_current_award').then(res => {
        this.award = res.data;
        let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
        if (this.award.award_start || this.award.award_end) {
          if (now < this.award.award_start) {
            this.openReady('enroll')
          } else if (now > this.award.award_end) {
            this.openReady('closing')
          } else {
            location.href = '/enroll/work';
          }
        }
      });
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY년 MM월 DD일 (dd)') : '-';
    },
  }
}
</script>