<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">결제하기</h1>
        <div class="title-sub-1">결제 완료 후 환불이 불가능한 점을 유의 바랍니다<br>출품 수정은 결제 전 출품함 또는 결제 후 마이페이지 [출품 내역]에서 수정이 가능합니다</div>
        <div class="title-sub-helper"><v-icon>mdi-information</v-icon>귀사에서는 {{total_enterprise_enroll}}개의 작품이 결제완료 되었습니다</div>
      </div>
    </div>

    <section class="section section-items section-enroll-cart">
      <div class="container container-inner container-basic">
        <div class="title-4">출품정보</div>
      </div>
    </section>

    <section class="section section-items section-enroll-cart section-enroll-cart-1">
      <div class="container container-inner container-basic">
        <ul class="list-work">
          <li v-for="(work, index) in works" :key="work.w_id">
            <div class="inner" :class="{price_dc: work.price_dc == 'Y'}">
              <div class="thumb">
                <v-img
                  v-if="work.w_thumbnail"
                  :src="thumb(work.w_thumbnail)" :aspect-ratio="350/210" @error="work.w_thumbnail = null">
                </v-img>
                <v-img
                  v-else
                  :src="noimage" :aspect-ratio="350/210" class="noimg">
                </v-img>
              </div>
              <div class="con">
                <div class="name ellipsis-2">{{work.w_title}}</div>
                <div class="category">{{work.cp_title}}<br>{{work.category_data[0].c_title}}<span v-if="work.category_data.length > 1"> 외 {{work.category_data.length - 1}}건</span></div>
                <div class="price"><span>출품가액</span>{{work.total_price | addComma}} 원</div>
                <div class="price_helper"><v-icon>mdi-information</v-icon>출품작이 7개 이상일시 8번째 출품작부터 추가등록비는 면제됩니다</div>
              </div>
              <div class="btn_area">
              </div>
            </div>
            <v-divider></v-divider>
          </li>
        </ul>
        <div class="total_wrap"><span>총 결제금액</span>{{before_total_price | addComma}} 원</div>
      </div>
    </section>

    <section class="section section-items section-enroll-cart">
      <div class="container container-inner container-basic">
        <div class="title-4">기업정보</div>
      </div>
    </section>

    <section class="section section-items section-enroll-work cols-2">
      <div class="container container-inner container-basic">
        <div class="con-left">
          <div class="title-3">기업정보를 확인해주세요</div>
          <div class="title-sub-3">기업정보 변경 필요 시, [마이페이지]에서 수정 후<br>출품하시기 바랍니다</div>
        </div>
        <div class="con-right">
          <ul class="list-input">
            <li>
              <label class="v-label label-alone-basic prefill">기업명</label>
              <div class="con-alone-basic">{{payment_data.e_company || '-'}}</div>
            </li>
            <li>
              <label class="v-label label-alone-basic prefill">대표자명</label>
              <div class="con-alone-basic">{{payment_data.e_name || '-'}}</div>
            </li>
            <li>
              <label class="v-label label-alone-basic prefill">회사 대표 이메일</label>
              <div class="con-alone-basic">{{payment_data.e_email || '-'}}</div>
            </li>
            <li>
              <label class="v-label label-alone-basic prefill">회사 웹사이트 URL</label>
              <div class="con-alone-basic">{{payment_data.e_site || '-'}}</div>
            </li>
            <li>
              <label class="v-label label-alone-basic prefill">회사 주소</label>
              <div class="con-alone-basic">{{payment_data.e_address1 || '-'}} {{payment_data.e_address2}}</div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <v-form
      name="KSPayWeb"
      v-model="formValid"
      method=post
      action="/enroll/process"
    >
      <!-- <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <div class="title-3">행정처리 담당자를 입력해주세요</div>
          </div>
          <div class="con-right">
          <div class="autofill-info">
            <v-spacer></v-spacer>
            <v-btn depressed tile text outlined small @click="autofillInfo">기존 담당자 동일</v-btn>
          </div>
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="enrollee_name"
                  :rules="[rules.required]"
                  label="이름"
                  placeholder="이름 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="enrollee_job"
                  label="직책 (선택사항)"
                  placeholder="직책 입력"
                  autocomplete="off"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="enrollee_phone1"
                  :rules="[rules.phone1]"
                  label="유선번호 (선택사항)"
                  placeholder="유선번호 입력"
                  autocomplete="off"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="enrollee_phone2"
                  :rules="[rules.required, rules.phone2]"
                  label="무선번호"
                  placeholder="무선번호 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="enrollee_mail"
                  :rules="[rules.required, rules.email]"
                  label="이메일"
                  placeholder="이메일 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>
          </div>
        </div>
      </section> -->

      <section class="section section-items section-enroll-cart">
        <div class="container container-inner container-basic">
          <div class="title-4">결제정보 입력</div>
        </div>
      </section>

      <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <div class="title-3">결제수단을 선택해주세요</div>
            <div class="title-sub-3">입금 및 결제 후에는 취소 및 환불이 불가합니다</div>
          </div>
          <div class="con-right">
            <input type="hidden" name="sndReply" value="">
            <input type="hidden" name="sndCharSet" value="UTF-8">
            <input type="hidden" name="sndGoodType" value="2">
            <input type="hidden" name="sndShowcard" value="C"> 
            <input type="hidden" name="sndCurrencytype" value="WON">
            <input type="hidden" name="iframeYn" value="Y">
            <input type="hidden" name="sndInstallmenttype" value="ALL(0:2:3:4:5:6:7:8:9:10:11:12)">
            <input type="hidden" name="sndInteresttype" value="NONE">
            <input type="hidden" name="sndStoreCeoName" value="">
            <input type="hidden" name="sndStorePhoneNo" value="">
            <input type="hidden" name="sndStoreAddress" value="">
            <input type="hidden" name="reWHCid" value="">
            <input type="hidden" name="reWHCtype" value="">
            <input type="hidden" name="reWHHash" value="">
            <input type="hidden" name="sndEscrow" value="0">
            <input type="hidden" name="sndCashReceipt" value="0">
            <input type="hidden" name="sndStoreid" value="2756100009">

            <input type="hidden" name="sndOrdernumber" v-model="sndOrdernumber" value="">
            <input type="hidden" name="sndGoodname" v-model="sndGoodname" value="">
            <input type="hidden" name="sndAmount" v-model="sndAmount" value="">
            <input type="hidden" name="sndOrdername" v-model="sndOrdername" value="">
            <input type="hidden" name="sndEmail" v-model="sndEmail" value="">
            <input type="hidden" name="sndMobile" v-model="sndMobile" value="">

            <!-- <input type="hidden" name="enrollee_name" v-model="enrollee_name" value="">
            <input type="hidden" name="enrollee_job" v-model="enrollee_job" value="">
            <input type="hidden" name="enrollee_phone1" v-model="enrollee_phone1" value="">
            <input type="hidden" name="enrollee_phone2" v-model="enrollee_phone2" value="">
            <input type="hidden" name="enrollee_mail" v-model="enrollee_mail" value=""> -->
            <input type="hidden" name="enrollee_taxmail" v-model="enrollee_taxmail" value="">
            <input type="hidden" name="p_accountname" v-model="p_accountname" value="">

            <ul class="list-input">
              <li>
                <div class="box-select-method">
                  <input type="radio" name="sndPaymethod" id="spm1" value="1000000000" @click="select_paymethod('card')" checked>
                  <label for="spm1">카드</label>
                  <input type="radio" name="sndPaymethod" id="spm2" value="0100000000" @click="select_paymethod('vbank')">
                  <label for="spm2">무통장입금</label>
                </div>
                <div v-if="show_request_taxbill" class="request_tax_wrap">
                  <v-text-field
                    v-model="p_accountname"
                    name="p_accountname"
                    :rules="[rules.required]"
                    label="입금자명"
                    placeholder="입금자명 입력"
                    autocomplete="off"
                    hint="입금 시 입금자명과 출품자명이 같아야 합니다"
                    persistent-hint
                    hide-details
                    required
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </div>
                <v-checkbox
                  v-if="show_request_taxbill"
                  v-model="request_taxbill"
                  label="세금계산서 요청"
                  true-value="1"
                  false-value="0"
                  hide-details
                  off-icon ="mdi-square"
                  on-icon ="mdi-square"
                  class="mt-10 lg-icon"
                >
                </v-checkbox>
                <div v-if="request_taxbill == 1 && show_request_taxbill" class="request_tax_wrap">
                  <v-text-field
                    v-model="enrollee_taxmail"
                    name="enrollee_taxmail"
                    :rules="[rules.required, rules.email]"
                    label="세금계산서 수신 이메일"
                    placeholder="세금계산서 수신 이메일 입력"
                    autocomplete="off"
                    hide-details
                    required
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </div>
                <div v-if="show_request_taxbill" class="label-helper mt-8">※ 회원가입시 등록한 회사정보로 세금계산서가 발행됩니다. <br>반드시 ‘마이페이지-회원정보-계산서 발행을 위한 정보’ 를 확인하여 정확히 기재하신 후 세금계산서를 요청 바랍니다. <br>(내용이 부정확할 경우 세금계산서 수정 발행은 지연될 수 있습니다.)</div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-enroll-work section-enroll-work-last cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <div class="title-3">결제 필수사항에 동의해주세요</div>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <label class="v-label label-alone-basic">결제 필수사항 동의 (필수사항)</label>
                <div class="label-helper">출품비용, 결제 및 환불에 대한 유의사항은 출품개요 페이지(출품비용)에서 <br>확인하였으며 출품에 동의 합니다.</div>
                <div class="label-helper label-helper-white">※ 취소 및 환불 : 가상결제 또는 카드결제 후에는 취소 및 환불이 불가합니다</div>
                <v-checkbox
                  v-model="agree_payment"
                  label="결제 필수사항 동의"
                  :rules="[rules.agree]"
                  true-value="1"
                  false-value="0"
                  off-icon ="mdi-square"
                  on-icon ="mdi-square"
                  class="lg-icon"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div class="btn-area-bottom text-right">
        <div class="container container-inner container-basic">
          <v-tooltip top :disabled="formValid" content-class="clear warn">
            <template v-slot:activator="{ on }">
              <div v-on="on" class="d-inline-flex">
                <v-btn depressed tile text outlined large @click="_submit" :disabled="!formValid" class="btn-type-angle">결제하기
                  <v-icon right>xi-angle-right</v-icon>
                </v-btn>
              </div>
            </template>
            <span>필수값을 올바르게 입력해 주세요</span>
          </v-tooltip>
        </div>
      </div>
    </v-form>

    <v-form
      name="bank_payment"
      method=post
      action="/enroll/receipt"
    >
      <input type="hidden" name="pay_no" v-model="payment_data.p_no">
      <input type="hidden" name="pay_type" value="deposit">
      <input type="hidden" name="pay_price" v-model="before_total_price">
      <input type="hidden" name="pay_accountname" v-model="p_accountname">
      <input type="hidden" name="pay_enrollee_taxmail" v-model="enrollee_taxmail">
      <input type="hidden" name="pay_request_taxbill" v-model="request_taxbill">

      <!-- <input type="hidden" name="pay_enrollee_name" v-model="deposit">
      <input type="hidden" name="pay_enrollee_job" v-model="deposit">
      <input type="hidden" name="pay_enrollee_phone1" v-model="deposit">
      <input type="hidden" name="pay_enrollee_phone2" v-model="deposit">
      <input type="hidden" name="pay_enrollee_mail" v-model="deposit">
      <input type="hidden" name="pay_enrollee_taxmail" v-model="deposit"> -->
    </v-form>
  </div>
</template>

<script language="javascript">

function getLocalUrl(mypage) {
  var myloc = location.href;
  return myloc.substring(0, myloc.lastIndexOf('/')) + '/' + mypage;
}

// goResult() : 결재완료후 결과값을 지정된 결과페이지(kspay_wh_result.php)로 전송합니다.
function goResult() {
  document.KSPayWeb.target = "";
  document.KSPayWeb.action = "./receipt";
  document.KSPayWeb.submit();
}

// eparamSet() : 결재완료후 (kspay_wh_rcv.php로부터)결과값을 받아 지정된 결과페이지(kspay_wh_result.php)로 전송될 form에 세팅합니다.
function eparamSet(rcid, rctype, rhash) {
  document.KSPayWeb.reWHCid.value   = rcid;
  document.KSPayWeb.reWHCtype.value = rctype;
  document.KSPayWeb.reWHHash.value  = rhash;
}

export default {
  data() {
    return {
      formValid: false,
      noimage: '/assets/img/common/noimage_600.png',

      award: [],
      a_id: '',
      works: [],
      payment_data: [],
      call_paymodule : true,

      before_total_price: 0,
      total_enterprise_enroll: 0,
      sndOrdernumber: '',
      sndGoodname: '',
      sndAmount: '',
      sndOrdername: '',
      sndEmail: '',
      sndMobile: '',
      user: [],
      // enrollee_name: '',
      // enrollee_job: '',
      // enrollee_phone1: '',
      // enrollee_phone2: '',
      // enrollee_mail: '',
      enrollee_taxmail: '',
      p_accountname : '',

      show_request_taxbill: false,
      request_taxbill: '',
      agree_payment: '',

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '<i class="xi xi-close"></i>올바른 이메일 형식으로 입력해 주세요'
        },
        phone1: value => {
          return this.chk_tel(value) || '<i class="xi xi-close"></i>올바른 유선 번호를 입력해주세요'
        },
        phone2: value => {
          return this.chk_phone(value) || '<i class="xi xi-close"></i>올바른 휴대폰 번호를 입력해주세요'
        },
        agree: value => {
          return value == 1 || '<i class="xi xi-close"></i>필수 동의 항목입니다'
        }
      },

      snackbar: {
        autofill: { content: '담당자 정보가 입력되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$axios.get('/api/get_current_award').then(res => {
      this.award = res.data;
      this.a_id = this.award ? this.award.a_id : 0;

      this.$axios.get('/api/enroll/cart').then(res => {
        this.works = res.data.data;
      });
    });

    this.$axios.get('/api/enroll/get_total_enterprise').then(res => {
      this.total_enterprise_enroll = res.data > 0 ? res.data : 0;
      // console.log('total_enterprise_enroll', this.total_enterprise_enroll);
    });

    this.before_total_price = this.$store.state.payment_price;

    this.$axios.get('/api/enroll/payment').then(res => {
      this.payment_data = res.data.data;
      // console.log(this.payment_data);
      let sgname = this.payment_data.p_title;
      sgname = sgname.replace(/[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi, "");
      this.sndOrdernumber = this.payment_data.p_no;
      this.sndGoodname = sgname;
      this.sndAmount = this.payment_data.pay_price;
      this.sndOrdername = this.payment_data.u_name;
      this.sndEmail = this.payment_data.u_email;
      this.sndMobile = this.payment_data.u_phone1;

      if (this.before_total_price != this.sndAmount) {
        // alert("결제금액에 변동이 있습니다. 다시 확인해 주세요.");
        this.$router.go(-1);
      }
    }).catch(err => {
      // alert(JSON.parse(err.response.statusText));
      alert("결제정보가 올바르지 않습니다. 다시 확인해 주세요.");
      this.$router.go(-1);
    });

    window.addEventListener('message', function(event) {
      // console.log(event);
      if ( event.data.from == 'child'){
        if ( event.data.type == 'mcancel') {
            closeEvent();
        }else
        if(event.data.type == 'eparamSet'){
            var param_array = event.data.params.split('|');
            eparamSet(param_array[0],param_array[1],param_array[2]);
            goResult();
        }
      }
    });

    let pay_module = document.createElement('script');
    pay_module.setAttribute('src', 'https://kspay.ksnet.to/store/KSPayWebV1.4/js/kspay_web_ssl.js')
    document.head.appendChild(pay_module)
  },
  methods: {
    thumb(img) {
      return img.substring(0, img.lastIndexOf('.')) + '_580_348' + img.substring(img.lastIndexOf('.'));
    },
    autofillInfo() {
      this.$axios.get('/api/enroll/autofill').then(res => {
        this.user = res.data.data;
        this.enrollee_name = this.user.u_name;
        this.enrollee_phone1 = this.user.u_phone1;
        this.enrollee_phone2 = this.user.u_phone2;
        this.enrollee_mail = this.user.u_email;
        this.$store.commit('showSnackbar', this.snackbar.autofill);
      }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
      })
    },
    chk_tel(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      const pattern8 = /^([0-9]{4})-?([0-9]{4})$/
      const pattern9 = /^02-?([0-9]{3})-?([0-9]{4})$/
      const pattern10a = /^02-?([0-9]{4})-?([0-9]{4})$/
      const pattern10b = /^([0-9]{3})-?([0-9]{3})-?([0-9]{4})$/
      const pattern11 = /^([0-9]{3})-?([0-9]{4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return true;
      }
      else if (len == 3) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        this.u_phone1 = this.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 8) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        this.u_phone1 = this.u_phone1.replace(/([0-9]{4})([0-9]{4})/, "$1-$2");
        return pattern8.test(this.u_phone1) || false;
      }
      else if (len == 9) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern9.test(this.u_phone1) || false;
        } else {
          return false;
        }
      }
      else if (len == 10) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern10a.test(this.u_phone1) || false;
        } else {
          this.u_phone1 = this.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
          return pattern10b.test(this.u_phone1) || false;
        }
      }
      else if (len == 11) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          return false;
        } else {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern11.test(this.u_phone1) || false;
        }
      }
      else {
        return false;
      }
    },
    chk_phone(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.enrollee_phone2 = this.enrollee_phone2.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.enrollee_phone2 = this.enrollee_phone2.replace(/\-/g,'');
        this.enrollee_phone2 = this.enrollee_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 10) {
        this.enrollee_phone2 = this.enrollee_phone2.replace(/\-/g,'');
        this.enrollee_phone2 = this.enrollee_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.enrollee_phone2) || false;
      }
      else if (len == 11) {
        this.enrollee_phone2 = this.enrollee_phone2.replace(/\-/g,'');
        this.enrollee_phone2 = this.enrollee_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{4})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.enrollee_phone2) || false;
      }
      else {
        return false;
      }
    },
    select_paymethod(type) {
      if (type == 'card') {
        this.show_request_taxbill = false;
        this.call_paymodule = true;
      } else if (type == 'vbank') {
        this.show_request_taxbill = true;
        this.call_paymodule = false;
      }
    },
    _submit(){
      this.$axios.get('/api/enroll/after_price/'+this.sndOrdernumber).then(price => {

        if(price.data==this.sndAmount){
          document.KSPayWeb.sndReply.value = this._getLocalUrl("process");
          if (this.call_paymodule==true) {
            _pay(document.KSPayWeb);
          } else {
            document.bank_payment.submit();
          }
        }else{
          alert("결제금액에 변동이 있습니다. 다시 확인해 주세요.");
        }
      });
    },
    _getLocalUrl(page){
      var myloc = location.href;
      // console.log(myloc);
      var frameloc = myloc.substring(0, myloc.lastIndexOf('/'));
      frameloc = frameloc.replace('/payment','');
      const return_url = frameloc + '/' + page;
      return return_url;

    }
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    },
  }
}
</script>