<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">결제완료</h1>
        <div v-if="pay_info.p_method == 'credit'" class="title-sub-1">카드 결제가 완료되었습니다.<br>[마이페이지]에서 출품 정보를 확인하실 수 있습니다.</div>
        <div v-else class="title-sub-1">무통장 입금 결제를 진행하셨습니다.<br>아래의 입금 정보를 확인해주시고 해당 계좌로 이체 완료 후 출품작이 최종 등록됩니다.<br>[마이페이지]에서 출품 정보를 확인하실 수 있습니다.</div>
      </div>
    </div>

    <section v-if="pay_info.p_method == 'credit'" class="section section-items section-enroll-receipt">
      <div class="container container-inner container-basic">
        <div class="title-4">결제정보</div>
        <ul class="list-label-con">
          <!-- <li class="list-">
            <div class="hlabel">결제카드사</div>
            <div class="hcon">{{card_name}}</div>
          </li>
          <li>
            <div class="hlabel">결제승인번호</div>
            <div class="hcon">{{pay_info.p_result}}</div>
          </li> -->
          <li>카드 결제가 완료되었습니다.<br>[마이페이지]에서 출품 정보를 확인하실 수 있습니다.</li>
        </ul>
        <div class="total_receipt"><span>총 결제금액</span>{{pay_info.p_totalprice | addComma}} 원</div>
        <div class="btn_complete">
          <v-btn depressed tile text outlined large href="/mypage" class="btn-type-angle">마이페이지 이동
            <v-icon right>xi-angle-right</v-icon>
          </v-btn>
          <v-btn depressed tile text outlined large href="/" class="btn-type-angle">첫페이지 이동
            <v-icon right>xi-angle-right</v-icon>
          </v-btn>
        </div>
      </div>
    </section>

    <section v-else class="section section-items section-enroll-receipt">
      <div class="container container-inner container-basic">
        <div class="title-4">입금정보</div>
        <ul class="list-label-con">
          <li class="list-">
            <div class="hlabel">입금 계좌번호</div>
            <!-- <div class="hcon">{{bank_name}} {{pay_info.p_account}}</div> -->
            <div class="hcon">기업은행 274-087499-01-014</div>
          </li>
          <li>
            <div class="hlabel">예금주</div>
            <div class="hcon">(사)한국디지털기업협회</div>
          </li>
          <li>
            <div class="hlabel">입금자명</div>
            <div class="hcon">{{pay_info.p_accountname}}</div>
          </li>
          <!-- <li>
            <div class="hlabel">입금마감일</div>
            <div class="hcon">{{limit_date}}</div>
            <div class="hdsc">* 입금마감일이 지나면 해당 출품은 자동 취소됩니다</div>
          </li> -->
        </ul>
        <div class="total_receipt"><span>총 결제금액</span>{{pay_info.p_totalprice | addComma}} 원</div>
        <div class="btn_complete">
          <v-btn depressed tile text outlined large href="/mypage" class="btn-type-angle">마이페이지 이동
            <v-icon right>xi-angle-right</v-icon>
          </v-btn>
          <v-btn depressed tile text outlined large href="/" class="btn-type-angle">첫페이지 이동
            <v-icon right>xi-angle-right</v-icon>
          </v-btn>
        </div>
      </div>
    </section>
    
  </div>
</template>

<script>
export default {
  data() {
    return {
      p_no: '',
      pay_info: [],

      totalprice: '',
      method: '',

      card_name: '',
      bank_name: '',
      card_code: [
        {code: '01', name: '비씨카드'},
        {code: '02', name: '국민카드'},
        {code: '03', name: '외환카드'},
        {code: '04', name: '삼성카드'},
        {code: '05', name: '신한카드'},
        {code: '08', name: '현대카드'},
        {code: '09', name: '롯데카드'},
        {code: '11', name: '한미은행'},
        {code: '12', name: '수협'},
        {code: '14', name: '우리은행'},
        {code: '15', name: '농협'},
        {code: '16', name: '제주은행'},
        {code: '17', name: '광주은행'},
        {code: '18', name: '전북은행'},
        {code: '19', name: '조흥은행'},
        {code: '23', name: '주택은행'},
        {code: '24', name: '하나은행'},
        {code: '26', name: '씨티은행'},
        {code: '25', name: '해외카드사'},
        {code: '99', name: '기타'},
      ],
      bank_code: [
        {code: '01', name: '한국은행'},
        {code: '02', name: '산업은행'},
        {code: '03', name: '기업은행'},
        {code: '04', name: '국민은행'},
        {code: '05', name: '외환은행'},
        {code: '06', name: '주택은행'},
        {code: '07', name: '수협은행'},
        {code: '08', name: '수출입'},
        {code: '09', name: '장기신용'},
        {code: '10', name: '신농협중앙'},
        {code: '11', name: '농협중앙'},
        {code: '12', name: '농협회원'},
        {code: '13', name: '농협회원'},
        {code: '14', name: '농협회원'},
        {code: '15', name: '농협회원'},
        {code: '16', name: '축협중앙'},
        {code: '20', name: '우리은행'},
        {code: '21', name: '조흥은행'},
        {code: '22', name: '상업은행'},
        {code: '23', name: '제일은행'},
        {code: '24', name: '한일은행'},
        {code: '25', name: '서울은행'},
        {code: '26', name: '신한은행'},
        {code: '27', name: '한미/시티은행'},
        {code: '28', name: '동화은행'},
        {code: '29', name: '동남은행'},
        {code: '30', name: '대동은행'},
        {code: '31', name: '대구은행'},
        {code: '32', name: '부산은행'},
        {code: '33', name: '충청은행'},
        {code: '34', name: '광주은행'},
        {code: '35', name: '제주은행'},
        {code: '36', name: '경기은행'},
        {code: '37', name: '전북은행'},
        {code: '38', name: '강원은행'},
        {code: '39', name: '경남은행'},
        {code: '40', name: '충북은행'},
        {code: '45', name: '새마을금고'},
        {code: '53', name: '씨티은행'},
        {code: '71', name: '우체국'},
        {code: '76', name: '신용보증'},
        {code: '81', name: '하나은행'},
        {code: '82', name: '보람은행'},
        {code: '83', name: '평화은행'},
        {code: '88', name: '신한은행'},
        {code: '89', name: '케이뱅크'},
        {code: '90', name: '카카오뱅크'},
      ],
    }
  },
  computed: {
    pay_method_name() {
      return this.pay_info.p_method == 'credit' ? '카드' : '무통장입금';
    },
    limit_date() {
      return this.$moment(this.pay_info.p_wdate).add(3, 'days').format('YYYY.MM.DD HH:mm');
    },
  },
  mounted() {
    this.p_no = this.$route.params.p_no;
    this.$axios.get('/api/payment/payment/' + this.p_no).then(res => {
      this.pay_info = res.data.data;
      // console.log(this.pay_info);

      this.totalprice = this.pay_info.p_totalprice;
      this.method = this.pay_info.p_method;

      if (this.method == 'credit') {
        let item_card = this.card_code.find(o => o.code === this.pay_info.p_account.trim());
        this.card_name = item_card.name;
      } else if (this.method == 'deposit') {
        let item_bank = this.bank_code.find(o => o.code === this.pay_info.p_result.trim());
        this.bank_name = item_bank.name;
      }
    }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
    });
  },
  methods: {
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    },
  }
}
</script>