<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">출품함</h1>
        <div class="title-sub-1">출품정보를 확인 후 출품을 진행 바랍니다<br>출품작이 7개 이상일 시 8번째 출품작부터 추가등록비가 면제됩니다</div>
        <div class="title-sub-helper"><v-icon>mdi-information</v-icon>귀사에서는 {{total_enterprise_enroll}}개의 작품이 결제완료 되었습니다</div>
      </div>
    </div>

    <section class="section section-items section-enroll-cart">
      <div class="container container-inner container-basic">
        <div class="title-4">출품정보</div>
      </div>
    </section>

    <section class="section section-items section-enroll-cart section-enroll-cart-1">
      <div class="container container-inner container-basic">
        <ul class="list-work">
          <!-- 7개 이상 무료 임시 제거 : start -->
          <li v-for="(work, index) in works" :key="work.w_id">
            <div class="inner" :class="{price_dc: work.price_dc == 'Y'}">
            <!-- <div class="inner"> -->
          <!-- 7개 이상 무료 임시 제거 : end -->
              <div class="thumb">
                <v-img
                  v-if="work.w_thumbnail"
                  :src="thumb(work.w_thumbnail)" :aspect-ratio="350/210" @error="work.w_thumbnail = null">
                </v-img>
                <v-img
                  v-else
                  :src="noimage" :aspect-ratio="350/210" class="noimg">
                </v-img>
              </div>
              <div class="con">
                <div class="name ellipsis-2">{{work.w_title}}</div>
                <div class="category">{{work.cp_title}}<br>{{work.category_data[0].c_title}}<span v-if="work.category_data.length > 1"> 외 {{work.category_data.length - 1}}건</span></div>
                <div class="price"><span>출품가액</span>{{work.total_price | addComma}} 원</div>
                <div class="price_helper"><v-icon>mdi-information</v-icon>출품작이 7개 이상일시 8번째 출품작부터 추가등록비는 면제됩니다</div>
              </div>
              <div class="btn_area">
                <v-btn depressed tile text outlined small @click="modify_work(work.w_id)">출품 수정</v-btn>
                <v-btn depressed tile text outlined small @click="openModal('delete', work.w_id)">출품 삭제</v-btn>
              </div>
            </div>
            <v-divider></v-divider>
          </li>
        </ul>
        <div class="total_wrap"><span>총 결제금액</span>{{total_price_all | addComma}} 원</div>
      </div>
    </section>

    <div class="btn-area-bottom text-right">
      <div class="container container-inner container-basic">
        <v-btn depressed tile text outlined large @click="submit_payment" class="btn-type-angle">전체 결제하기
          <v-icon right>xi-angle-right</v-icon>
        </v-btn>
      </div>
    </div>

    <v-dialog
      v-model="modalUser"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-user"
      max-width="640px"
      persistent
      eager
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn depressed tile text outlined @click="modalUser = false">취소</v-btn>
          <v-btn v-if="modalType == 'delete'" depressed tile color="primary" @click="delete_work">삭제하기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalUser = false" class="btn-close">
            <v-icon>xi-close-thin</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      noimage: '/assets/img/common/noimage_600.png',

      award: [],
      a_id: '',
      w_id: '',
      works: [],
      total_price_all: 0,
      total_enterprise_enroll: 0,

      modalUser: false,
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '출품삭제', content: '해당 출품을 삭제하시겠습니까?<br>삭제 시, 작성한 출품정보는 복구할 수 없습니다' }
      },

      snackbar: {
        delete: { content: '출품이 삭제되었습니다.', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    };
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.$axios.get('/api/get_current_award').then(res => {
        this.award = res.data;
        // console.log('award', this.award);
        this.a_id = this.award ? this.award.a_id : 0;

        this.$axios.get('/api/enroll/cart').then(res => {
          this.works = res.data.data;
          // console.log('works', this.works);
        });
      });

      this.$axios.get('/api/enroll/get_total_enterprise').then(res => {
        this.total_enterprise_enroll = res.data > 0 ? res.data : 0;
        // console.log('total_enterprise_enroll', this.total_enterprise_enroll);
      }).finally(() => {
        this.$axios.get('/api/enroll/get_price').then(res => {
          let price_data = res.data.data;
          // console.log('price_data', price_data);
          this.total_price_all = price_data.total_price;
          // console.log('total_price_all', this.total_price_all);
        });
      });
    },
    thumb(img) {
      return img.substring(0, img.lastIndexOf('.')) + '_580_348' + img.substring(img.lastIndexOf('.'));
    },
    modify_work(w_id) {
      location.href = '/enroll/work/'+ w_id;
    },
    delete_work() {
      this.$axios.post(
        '/api/enroll/work_delete', 'w_id=' + this.w_id
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.delete);
        this.w_id = 0;
      }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
      }).finally(() => {
        // this.fetchItems();
        location.reload(true);
        this.modalUser = false;
      });
    },
    openModal(type, w_id) {
      this.modalType = type;
      this.w_id = w_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalUser = true;
    },
    submit_payment() {
      this.$store.commit('setPaymentPrice', this.total_price_all);
      this.$router.push({ name: 'userEnrollWorkPayment' });
    }
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    },
  }
}
</script>