<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">{{w_id>0 ? '출품 수정하기': '출품하기'}}</h1>
        <div class="title-sub-1">출품개요, 카테고리 등을 숙지하시고 출품비용 및 출품 마감일 등을 확인하시기 바랍니다</div>
        <v-btn depressed tile text outlined default :to="{ name: 'userEnrollMain' }" target="_blank" class="btn-type-extlink">출품개요 확인하기
          <v-icon right>xi-external-link</v-icon>
        </v-btn>
      </div>
    </div>

    <section class="section section-items section-enroll-work cols-2">
      <div class="container container-inner container-basic">
        <div class="title-4">{{w_id>0 ? '출품 수정하기': '출품 작성하기'}}</div>
      </div>
    </section>

    <v-form
      ref="form"
      v-model="formValid"
    >

      <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <div class="title-3">출품 카테고리를 선택해주세요</div>
            <div v-if="w_id>0" class="title-sub-3">중복출품한 출품작을 수정 시에는<br>각 카테고리별(개별) 수정해야 합니다</div>
            <div v-else class="title-sub-3">카테고리별 중복 체크 가능합니다<br>(단, 카테고리 별 출품료 납부가 부과됩니다)</div>
          </div>
          <div class="con-right">
            <ul v-if="!finalCategory.length" class="list-box category-1">
              <li v-for="category in categories" :key="'c1_'+category.c_id">
                <div v-ripple @click="openCategory(category.c_id)" :data-id="category.c_id" class="box-category">
                  <div class="tit">{{category.c_title}}</div>
                  <div class="dsc">{{category.c_describe}}</div>
                </div>
              </li>
            </ul>
            <div v-else class="complete_select_category">
              <ul class="list-box category-1">
                <li v-if="c_array[0].cp_id == category.c_id" v-for="category in categories" :key="'c1_'+category.c_id">
                  <div class="box-category">
                    <div class="tit">{{category.c_title}}</div>
                    <div class="dsc">{{category.c_describe}}</div>
                  </div>
                </li>
              </ul>
              <div class="chip_area">
                <v-chip v-for="(c_info, index) in c_array" :key="'s_'+c_info.c_id">
                  {{c_info.c_title}}
                </v-chip>
              </div>
              <div class="btn_area">
                <v-btn depressed tile text outlined small @click="reSeletCategory">다시 선택하기</v-btn>
              </div>
              <!-- <div v-if="p_status == 9" class="help-cate">※ 결제 후에는 결제 당시에 선택한 카테고리 개수와 동일한 개수로만 변경이 가능합니다</div> -->
            </div>
            <v-checkbox
              v-model="finalCategoryValid"
              :rules="[v => !!v || '필수']"
              label="선택된 카테고리"
              required
              class="hidden-field"
            ></v-checkbox>
          </div>

          <v-dialog
            v-model="modalCategory"
            fullscreen
            hide-overlay
            open-on-focus
            scrollable
            transition="dialog-bottom-transition"
            content-class="modal-category"
          >
            <v-card>
              <v-btn icon dark @click="closeCategory" class="btn-close">
                <v-icon>xi-close-thin</v-icon>
              </v-btn>
              <div class="container-modal-full">
                <div class="top_area">
                  <div class="inner">
                    <div class="title_modal">
                      <div class="tit">{{category_info.c_title}}</div>
                      <div class="dsc">{{category_info.c_describe}}</div>
                    </div>
                    <div class="search_field">
                      <v-text-field
                        v-model="search"
                        label="출품 분야를 검색해 보세요"
                        prepend-inner-icon="xi-search"
                        autocomplete="off"
                        hide-details
                        solo
                        @input="filterCategory"
                      >
                      </v-text-field>
                    </div>
                    <div v-if="w_id>0" class="warn">중복출품한 출품작을 수정 시에는 각 카테고리별(개별) 수정해야 합니다</div>
                    <div v-else class="warn">중복 선택 시, 카테고리별 출품료가 추가됩니다.</div>
                  </div>
                </div>
                <div class="inner-content scrollable">
                  <ul class="list-box-2 category-2">
                    <li v-for="(subcategory, index) in subcategories" :key="'c2_'+index">
                      <div
                        v-ripple
                        :data-id="index"
                        :class="{ active: selectedItem[selectedItem.findIndex(x => x.index == index)]}"
                        @click="select_category_list(index, subcategory.c_id)"
                        class="box-category-sub"
                      >
                        <div class="tit">{{subcategory.c_title}}</div>
                        <div class="stit">{{subcategory.c_sector}}</div>
                        <div class="dsc">{{subcategory.c_describe}}</div>
                        <div class="ex">{{subcategory.c_exemple}}</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="bottom_area">
                  <div class="inner">
                    <div class="count-area">선택항목 <span>({{selectedCount}}개)</span></div>
                    <div class="chip-area">
                      <v-chip v-for="(c_info, index) in c_array" :key="'s_'+c_info.c_id"
                        close
                        @click:close="removeChip(c_info.c_id)"
                      >
                        {{c_info.c_title}}
                      </v-chip>
                    </div>
                    <div class="btn-area">
                      <v-btn depressed tile text outlined small @click="closeCategory">취소</v-btn>
                      <v-btn depressed tile text outlined small class="btn-submit" @click="completeCategory">적용하기</v-btn>
                    </div>
                  </div>
                </div>
              </div>
            </v-card>
          </v-dialog>
        </div>
      </section>

      <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">출품 정보를 입력해주세요</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="w_title"
                  :rules="[rules.required]"
                  label="출품명"
                  placeholder="출품명 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="w_url"
                  :rules="[rules.required]"
                  :error-messages="error_w_url"
                  :success-messages="success_w_url"
                  label="출품작 URL"
                  placeholder="출품작 URL 입력"
                  autocomplete="off"
                  hint="<div class='msg-warn'><i class='xi xi-info'></i>심사에 필요한 필수항목으로 반드시 정확한 URL을 기재해 주시기 바랍니다<br>잘못 기재 시 심사가 진행될 수 없으며 심사대상에서 제외됩니다</div>"
                  persistent-hint
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-menu
                  ref="menuDate"
                  v-model="menuDate"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  nudge-top="20"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="w_dateRange"
                      :rules="[rules.required, rules.period]"
                      label="제작기간"
                      placeholder="제작기간 선택"
                      autocomplete="off"
                      hint="제작 시작일과 완료일을 선택해주세요"
                      persistent-hint
                      append-icon="mdi-calendar"
                      readonly
                      required
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="w_date"
                    locale="ko"
                    :title-date-format="getTitleFormat"
                    :day-format="getDayFormat"
                    :allowed-dates="allowedDates"
                    range
                    @input="set_dateRange"
                  >
                  </v-date-picker>
                </v-menu>
              </li>
              <li class="space-more">
                <label class="v-label label-alone-basic">대표 이미지</label>
                <div class="label-dsc">
                  <ul class="list-dot">
                    <li>권장 사이즈 - 가로*세로 기준 1470*882px (JPG, GIF, PNG 포맷)</li>
                    <li>이미지 사이즈 제한 - 최소 1470*882px 이상 허용</li>
                    <li>이미지 용량 제한 - 최대 15MB 미만 허용</li>
                    <!-- <li>반드시 제시된 이미지 사이즈로만 업로드가 가능하며 맞지 않을 경우 업로드가 제한됩니다</li> -->
                  </ul>
                </div>
                <div v-ripple class="preview_wrap">
                  <upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    @limit-exceeded="limitExceeded"
                    @size-exceeded="sizeExceeded"
                    @dimension-exceeded="dimensionExceeded"
                    idUpload="image_upload_key"
                    idEdit="image_edit_key"
                    containerWidth="100%"
                    containerHeight="60%"
                    data-id="ki"
                    :data-images="images_key"
                    :multiple="false"
                    :maxImage="1"
                    :maxSize="15728640"
                    :minWidth="1470"
                    :minHeight="882"
                    :showPrimary="false"
                  ></upload-multiple-image>
                </div>
                <v-checkbox
                  v-model="uploadImagesKeyValid"
                  :rules="[v => !!v || '필수']"
                  label="업로드된 키이미지"
                  required
                  class="hidden-field"
                ></v-checkbox>
              </li>
              <li class="space-more">
                <label class="v-label label-alone-basic">추가 이미지 (최대 5개)</label>
                  <div class="label-dsc">
                  <ul class="list-dot">
                    <!-- <li>최소 사이즈는 가로 1470px 이며 높이는 영상 기준 827px, 웹사이트는 2000px 이내 입니다</li> -->
                    <li>권장 사이즈 - 웹사이트 : 1470*2000px / 영상 : 1470*827px (JPG, GIF, PNG 포맷)</li>
                    <li>이미지 사이즈 제한 - 최소 1470*827px 이상 허용</li>
                    <li>이미지 용량 제한 - 최대 15MB 미만 허용</li>
                  </ul>
                </div>
                <div v-ripple class="preview_wrap">
                  <upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    @limit-exceeded="limitExceeded"
                    @size-exceeded="sizeExceeded"
                    @dimension-exceeded="dimensionExceeded"
                    idUpload="image_upload_add"
                    idEdit="image_edit_add"
                    containerWidth="100%"
                    containerHeight="60%"
                    data-id="ai"
                    :data-images="images_add"
                    :multiple="true"
                    :maxImage="5"
                    :maxSize="15728640"
                    :minWidth="1470"
                    :minHeight="827"
                    :showPrimary="false"
                  ></upload-multiple-image>
                </div>
                <v-checkbox
                  v-model="uploadImagesAddValid"
                  :rules="[v => !!v || '필수']"
                  label="업로드된 추가이미지"
                  required
                  class="hidden-field"
                ></v-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <div class="title-3">출품 고객사 및 파트너를 입력주세요</div>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="w_client"
                  :rules="[rules.required]"
                  label="고객사"
                  placeholder="출품 고객사명 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="w_coworker"
                  label="공동 개발사 (선택사항)"
                  placeholder="공동 개발사 입력"
                  autocomplete="off"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <div class="title-3">출품개요를 작성해주세요</div>
            <div class="title-sub-3">개요(목적 및 배경), 목표고객, 사용자 시나리오, <br>전략 및 아이디어, 차별성, 결과 등을 기술해 주시면 심사에 도움이 됩니다.</div>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <v-textarea
                  v-model="w_comment"
                  :rules="[rules.required]"
                  label="소개말"
                  placeholder="출품개요 소개말 입력"
                  autocomplete="off"
                  maxlength="100"
                  counter
                  rows="4"
                  row-height="30"
                  class="maxheight-in maxheight-in-400"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-textarea>
              </li>
              <li>
                <v-textarea
                  v-model="w_descript"
                  :rules="[rules.required, rules.max2000]"
                  label="내용"
                  placeholder="출품개요 본문 내용 입력"
                  autocomplete="off"
                  maxlength="2001"
                  counter
                  rows="9"
                  row-height="30"
                  class="maxheight-in maxheight-in-400"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-textarea>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-enroll-work cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">행정처리 담당자를 입력해주세요</span>
          </div>
          <div class="con-right">
            <div class="autofill-info">
              <v-spacer></v-spacer>
              <v-btn depressed tile text outlined small @click="autofillInfo">기존 담당자 동일</v-btn>
            </div>
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="f_name"
                  :rules="[rules.required]"
                  label="담당자명"
                  placeholder="담당자명 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="f_position"
                  label="직책 (선택사항)"
                  placeholder="담당자 직책 입력"
                  autocomplete="off"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="f_phone1"
                  label="담당자 유선 번호 (선택사항)"
                  :rules="[rules.phone1]"
                  placeholder="담당자 유선 번호 입력"
                  autocomplete="off"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="f_phone2"
                  :rules="[rules.required, rules.phone2]"
                  label="담당자 무선 번호"
                  placeholder="담당자 무선 번호 입력"
                  autocomplete="off"
                  maxlength="13"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="f_email"
                  :rules="[rules.required, rules.email]"
                  label="담당자 이메일"
                  placeholder="담당자 이메일 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </v-form>

    <div class="btn-area-bottom text-right">
      <div class="container container-inner container-basic">
        <v-tooltip top :disabled="formValid" content-class="clear warn">
          <template v-slot:activator="{ on }">
            <div v-on="on" class="d-inline-flex">
              <v-btn v-if="w_id>0" depressed tile text outlined large @click="submit_work('modify')" :disabled="!formValid" class="btn-type-angle">출품 수정하기
                <v-icon right>xi-angle-right</v-icon>
              </v-btn>
              <v-btn v-else depressed tile text outlined large @click="submit_work('enroll')" :disabled="!formValid" class="btn-type-angle">출품함 담기
                <v-icon right>xi-angle-right</v-icon>
              </v-btn>
            </div>
          </template>
          <span>이미지 및 필수값을 올바르게 입력해 주세요</span>
        </v-tooltip>
      </div>
    </div>

    <v-dialog
      v-model="modalUser"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-user modal-enroll"
      max-width="640px"
      persistent
      eager
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'enroll'" depressed tile text outlined class="btn-type-angle" @click="add_enroll">추가 출품하기<v-icon>xi-plus</v-icon></v-btn>
          <v-btn v-if="modalType == 'enroll'" depressed tile text outlined class="btn-type-angle" @click="go_cart">출품함 바로가기<v-icon>xi-angle-right</v-icon></v-btn></v-btn>
        </v-card-actions>
        <!-- <div class="btn_wrap">
          <v-btn depressed icon @click="modalUser = false" class="btn-close">
            <v-icon>xi-close-thin</v-icon>
          </v-btn>
        </div> -->
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';

export default {
  components: {
    UploadMultipleImage,
  },
  data() {
    return {
      formValid: false,
      modalCategory: false,
      selectedItem: [],
      selectedCount: 0,
      finalCategory: [],
      finalCategoryValid: false,
      menuDate: false,
      uploadText: '',
      error_w_url: [],
      success_w_url: [],

      user: [],
      award: [],
      w_id: 0,
      categories: [],
      subcategories: [],
      category_info: '',
      c_type: 0,
      c_index: 0,
      c_array: [],
      c_id: [],
      w_title: '',
      w_url: '',
      child_data: [],
      images_key: [],
      images_add: [],
      uploadImages_key: [],
      uploadImages_add: [],
      uploadImagesKeyValid: false,
      uploadImagesAddValid: false,
      deleteImages_add: [],
      remove_item: [],
      w_date: [],
      w_start: '',
      w_end: '',
      w_dateRange: '',
      w_client: '',
      w_coworker: '',
      // w_short: '',
      w_comment: '',
      w_descript: '',
      p_status: '',
      f_name: '',
      f_position: '',
      f_phone1: '',
      f_phone2: '',
      f_email: '',

      search: '',

      modalUser: false,
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        enroll: { title: '출품작이 출품함에 담겼습니다', content: '출품 마감일 까지 출품료를 결제 하지 않을 시,<br><span class="emphas-white">출품이 완료되지 않으므로</span> 유의 바랍니다' }
      },

      snackbar: {
        autofill: { content: '담당자 정보가 입력되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
        notchange: { content: '수정된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        period: value => {
          return this.chk_period(value) || '<i class="xi xi-close"></i>시작일과 완료일을 모두 선택해주세요'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '<i class="xi xi-close"></i>올바른 이메일 형식으로 입력해 주세요'
        },
        url: value => {
          const pattern = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
          return pattern.test(value) || '<i class="xi xi-close"></i>http(s):// 를 포함한 형식으로 입력해주세요'
        },
        phone1: value => {
          return this.chk_tel(value) || '<i class="xi xi-close"></i>올바른 유선 번호를 입력해주세요'
        },
        phone2: value => {
          return this.chk_phone(value) || '<i class="xi xi-close"></i>올바른 휴대폰 번호를 입력해주세요'
        },
        max2000: value => value.length <= 2000 || '<i class="xi xi-close"></i>2000자 이하로 입력해주세요'
      },
    }
  },
  watch: {
    formValid(value) {
      this.$emit('formValid', value);
    },
    async w_url(value) {
      this.error_w_url = this.error_w_url;
      const pattern = /^(http(s)?:\/\/)[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$%&'\(\)\*\+,;=.]+$/

      if (!pattern.test(value)) {
        this.error_w_url = ['<div class="msg-warn"><i class="xi xi-info"></i><span class="con">심사에 필요한 필수항목으로 반드시 정확한 URL을 기재해 주시기 바랍니다<br>잘못 기재 시 심사가 진행될 수 없으며 심사대상에서 제외됩니다</span><br><div class="msg-res"><i class="xi xi-close"></i>http(s):// 를 포함한 형식으로 유효한 URL을 입력해주세요</div></div>'];
      } else {
        this.error_w_url = [];
        this.success_w_url = ['<div class="msg-warn msg-succ"><i class="xi xi-info"></i><span class="con">심사에 필요한 필수항목으로 반드시 정확한 URL을 기재해 주시기 바랍니다<br>잘못 기재 시 심사가 진행될 수 없으며 심사대상에서 제외됩니다</span><br><div class="msg-res"><i class="xi xi-check"></i>올바른 URL 형식입니다</div></div>'];
      }
    },
  },
  mounted() {
    const ct = document.getElementById('nav-lnb').getElementsByClassName('link-enroll-work')[0];
    ct.className += ' router-link-exact-active';

    this.$axios.get('/api/get_current_award').then(res => {
      this.award = res.data;
      this.a_id = this.award ? this.award.a_id : 0;

      let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
      // if (this.award.award_start || this.award.reaward_end) {
      if (this.award.award_start || this.award.award_end) {
        // if (now >= this.award.award_start && now <= this.award.reaward_end) {
        if (now >= this.award.award_start && now <= this.award.award_end) {
          this.awardStart = true;
        } else {
          location.href = '/enroll';
        }
      } else {
        location.href = '/enroll';
      }

      this.$axios.get('/api/get/category/' + this.a_id).then(res => {
        this.categories = res.data.data.data;
        // console.log(this.categories);
      });
    });

    this.w_id = this.$route.params.w_id ? this.$route.params.w_id : 0;
    // console.log(this.w_id);
    if (this.w_id > 0) {
      this.$axios.get('/api/enroll/work/' + this.w_id).then(res => {
        const work_data = res.data.data;
        // console.log('work_data', work_data);
        const arr_c_id = work_data.category_data;
        for (let c_id of arr_c_id) {
          this.c_array.push(c_id);
        }
        this.finalCategoryValid = true;
        this.w_id = work_data.w_id;
        this.finalCategory = work_data.c_id;
        this.w_title = work_data.w_title;
        this.w_url = work_data.w_url;
        this.w_title = work_data.w_title;
        this.w_start = work_data.w_start;
        this.w_end = work_data.w_end;
        this.w_date[0] = work_data.w_start;
        this.w_date[1] = work_data.w_end;
        this.w_dateRange = work_data.w_start + ' ~ ' + work_data.w_end;

        this.w_client = work_data.w_client;
        this.w_coworker = work_data.w_coworker
        // this.w_short = work_data.w_short;
        this.w_comment = work_data.w_comment;
        this.w_descript = work_data.w_descript;
        this.p_status = work_data.p_status;
        this.f_name = work_data.f_name;
        this.f_position = work_data.f_position;
        this.f_phone1 = work_data.f_phone1;
        this.f_phone2 = work_data.f_phone2;
        this.f_email = work_data.f_email;

        if (work_data.w_thumbnail) {
          this.images_key.push({'path': work_data.w_thumbnail});
        }
        if (work_data.child_data.length) {
          this.child_data = work_data.child_data;
          work_data.child_data.forEach(element => {
            this.images_add.push({'path': element.wo_url + element.wo_name});
          });
        }
        if (this.images_key[0].path) {
          this.uploadImagesKeyValid = true;
        }
        if (this.images_add.length) {
          this.uploadImagesAddValid = true;
        }
      }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
      });
    }
  },
  methods: {
    openCategory(c_id) {
      this.finalCategory = [];
      this.c_array = [];
      this.selectedItem = [];
      this.selectedCount = this.c_array.length;
      this.get_subcategory_list(c_id);
      this.get_category_info(c_id);
      this.modalCategory = true;
    },
    closeCategory() {
      this.finalCategory = [];
      this.c_array = [];
      this.selectedItem = [];
      this.selectedCount = this.c_array.length;
      this.modalCategory = false;
    },
    select_category_list(index, c_id) {
      const newItem = c_id;
      const itemExist = this.selectedItem.some(item => item.c_id == newItem);
      let target = document.getElementsByClassName('box-category-sub');

      if (itemExist) {
        this.selectedItem.splice(this.selectedItem.findIndex(x => x.c_id == c_id), 1);
        this.c_array.splice(this.c_array.findIndex(x => x.c_id == c_id), 1);
      } else {
        this.selectedItem.push({index: index, c_id: c_id});
        this.c_array.push(this.subcategories[index]);
        // console.log('c_array', this.c_array)
      }
      this.selectedCount = this.c_array.length;

      if (this.w_id>0) {
        if (this.selectedItem.length == 1) {
          for (var i = 0; i < target.length; i++) {
              target[i].style.pointerEvents = 'none';
          }
          target[index].style.pointerEvents = 'auto';
        } else {
          for (var i = 0; i < target.length; i++) {
              target[i].style.pointerEvents = 'auto';
          }
        }
      }
    },
    get_category_info(c_id) {
      this.$axios.get('/api/get/category_info/' + c_id).then(res => {
        this.category_info = res.data.data.data;
        // console.log('category_info', this.category_info);
      });
    },
    get_subcategory_list(c_id) {
      this.c_array = [];
      this.$axios.get('/api/get/subcategory/' + c_id).then(res => {
        this.subcategories = res.data.data.data;
        // console.log('subcategories', this.subcategories);
      });
    },
    filterCategory(value) {
      let keyword, target, tit, stit, dsc, s1, s2, s3, i;
      keyword = value.toUpperCase();
      target = document.getElementsByClassName('box-category-sub');
      for (i=0; i<target.length; i++) {
        tit = target[i].getElementsByClassName('tit');
        stit = target[i].getElementsByClassName('stit');
        dsc = target[i].getElementsByClassName('dsc');

        s1 = tit[0].innerHTML.toUpperCase().indexOf(keyword);
        s2 = stit[0].innerHTML.toUpperCase().indexOf(keyword);
        s3 = dsc[0].innerHTML.toUpperCase().indexOf(keyword);

        if (s1 > -1 || s2 > -1 || s3 > -1) {
          target[i].parentNode.style.display = "block";
        } else {
          target[i].parentNode.style.display = "none";
        }
      }
    },
    removeChip(c_id) {
      this.c_array.splice(this.c_array.findIndex(x => x.c_id == c_id), 1);
      this.selectedItem.splice(this.selectedItem.findIndex(x => x.c_id == c_id), 1);
      this.selectedCount = this.c_array.length;
      let target = document.getElementsByClassName('box-category-sub');

      if (this.w_id>0) {
        for (var i = 0; i < target.length; i++) {
            target[i].style.pointerEvents = 'auto';
        }
      }
    },
    getTitleFormat(value) {
      let date;
      if (this.w_date.length == 1) {
        date = value[0];
      } else if (this.w_date.length == 2) {
        date = value[1];
      } else {
        date = new Date();
      }
      return this.$moment(date).locale('ko').format('M월 D일 (ddd)');
    },
    getDayFormat(isoDate) {
      return this.$moment(isoDate).format('D');
    },
    allowedDates(value) {
      if (this.w_date.length == 1) {
        if (value >= this.w_date[0]) {
          return true
        }
      } else {
        return true
      }
    },
    set_dateRange() {
      if (this.w_date.length == 1) {
        this.w_start = this.w_date[0];
        this.w_dateRange = this.w_date[0] + ' ~ '
      } else if (this.w_date.length == 2) {
        this.w_end = this.w_date[1];
        this.menuDate = false
        this.w_dateRange = this.w_date.join(' ~ ')
      }
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      if (id == 'ki') {
        for (let uploadImage of files) {
          this.uploadImages_key[index] = uploadImage;
        }
        this.uploadImagesKeyValid = true;
      } else if (id == 'ai') {
        for (let uploadImage of files) {
          this.uploadImages_add[index] = uploadImage;
        }
        this.uploadImagesAddValid = true;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      if (id == 'ki') {
        this.uploadImagesKeyValid = false;
      } else if (id == 'ai') {
        let deleted_child = this.child_data.splice(index, 1);
        if (deleted_child.length > 0) {
          this.remove_item.push(deleted_child[0].wo_id);
          this.deleteImages_add = this.remove_item.join(',');
        }
        this.uploadImages_add.splice(index, 1);
        if (length == 0) {
          this.uploadImagesAddValid = false;
        }
      }
      done()
    },
    editImage(formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      // this.uploadDialog = true
      // this.uploadText = '최대 5개까지 업로드가 가능합니다'
      alert('최대 5개까지 이미지 업로드가 가능합니다.');
    },
    sizeExceeded(file){
      let size_mb = (file.size / (1024*1024)).toFixed(2);
      alert(file.name+' ('+size_mb+'MB) \n해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    dimensionExceeded(dimension){
      alert(dimension.name+' ('+dimension.width+'*'+dimension.height+') \n해당 이미지가 허용된 사이즈보다 작습니다. \n제한 사이즈를 확인해 주시기 바랍니다.');
    },
    chk_period() {
      if (this.w_date.length == 2) {
        return true;
      } else {
        return false;
      }
    },
    chk_tel(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      const pattern8 = /^([0-9]{4})-?([0-9]{4})$/
      const pattern9 = /^02-?([0-9]{3})-?([0-9]{4})$/
      const pattern10a = /^02-?([0-9]{4})-?([0-9]{4})$/
      const pattern10b = /^([0-9]{3})-?([0-9]{3})-?([0-9]{4})$/
      const pattern11 = /^([0-9]{3})-?([0-9]{4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return true;
      }
      else if (len == 3) {
        this.f_phone1 = this.f_phone1.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.f_phone1 = this.f_phone1.replace(/\-/g,'');
        this.f_phone1 = this.f_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 8) {
        this.f_phone1 = this.f_phone1.replace(/\-/g,'');
        this.f_phone1 = this.f_phone1.replace(/([0-9]{4})([0-9]{4})/, "$1-$2");
        return pattern8.test(this.f_phone1) || false;
      }
      else if (len == 9) {
        this.f_phone1 = this.f_phone1.replace(/\-/g,'');
        if (this.f_phone1.substring(0, 2) == '02') {
          this.f_phone1 = this.f_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern9.test(this.f_phone1) || false;
        } else {
          return false;
        }
      }
      else if (len == 10) {
        this.f_phone1 = this.f_phone1.replace(/\-/g,'');
        if (this.f_phone1.substring(0, 2) == '02') {
          this.f_phone1 = this.f_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern10a.test(this.f_phone1) || false;
        } else {
          this.f_phone1 = this.f_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
          return pattern10b.test(this.f_phone1) || false;
        }
      }
      else if (len == 11) {
        this.f_phone1 = this.f_phone1.replace(/\-/g,'');
        if (this.f_phone1.substring(0, 2) == '02') {
          return false;
        } else {
          this.f_phone1 = this.f_phone1.replace(/([0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern11.test(this.f_phone1) || false;
        }
      }
      else {
        return false;
      }
    },
    chk_phone(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.f_phone2 = this.f_phone2.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.f_phone2 = this.f_phone2.replace(/\-/g,'');
        this.f_phone2 = this.f_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 10) {
        this.f_phone2 = this.f_phone2.replace(/\-/g,'');
        this.f_phone2 = this.f_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.f_phone2) || false;
      }
      else if (len == 11) {
        this.f_phone2 = this.f_phone2.replace(/\-/g,'');
        this.f_phone2 = this.f_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{4})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.f_phone2) || false;
      }
      else {
        return false;
      }
    },
    autofillInfo() {
      this.$axios.get('/api/enroll/autofill').then(res => {
        this.user = res.data.data;
        this.f_name = this.user.u_name;
        this.f_phone1 = this.user.u_phone1;
        this.f_phone2 = this.user.u_phone2;
        this.f_email = this.user.u_email;
        this.$store.commit('showSnackbar', this.snackbar.autofill);
      }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
      })
    },
    completeCategory() {
      if (this.c_array.length) {
        this.c_array.forEach(element => {
          this.finalCategory.push(element.c_id);
        });
        this.finalCategoryValid = true;
      }
      this.modalCategory = false;
    },
    reSeletCategory() {
      this.finalCategory = [];
      this.finalCategoryValid = false;
    },
    openModal(type) {
      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalUser = true;
    },
    add_enroll() {
      location.href = '/enroll/work';
    },
    go_cart() {
      location.href = '/enroll/cart';
    },
    submit_work(type) {
      const formdata = new FormData();
      formdata.append('w_id', this.w_id);
      formdata.append('c_id', this.finalCategory);
      formdata.append('w_title', this.w_title);
      let w_url_full = '';
      if (this.w_url) {
        if (!this.w_url.match(/^https?:\/\//)) {
            w_url_full = 'http://' + this.w_url;
            formdata.append('w_url', w_url_full);
        } else {
          formdata.append('w_url', this.w_url);
        }
      }
      formdata.append('w_start', this.w_start);
      formdata.append('w_end', this.w_end);
      formdata.append('w_client', this.w_client);
      formdata.append('w_coworker', this.w_coworker);
      // formdata.append('w_short', this.w_short);
      formdata.append('w_comment', this.w_comment);
      formdata.append('w_descript', this.w_descript);
      formdata.append('f_name', this.f_name);
      formdata.append('f_position', this.f_position);
      formdata.append('f_phone1', this.f_phone1);
      formdata.append('f_phone2', this.f_phone2);
      formdata.append('f_email', this.f_email);
      if (this.uploadImages_key) {
        for (let uploadImage_key of this.uploadImages_key) {
          // console.log(uploadImage_key);
          formdata.append('image_key', uploadImage_key);
        }
      }
      if (this.uploadImages_add) {
        for (let uploadImage_add of this.uploadImages_add) {
          // console.log(uploadImage_add);
          formdata.append('image_add[]', uploadImage_add);
        }
      }
      if (this.deleteImages_add) {
        formdata.append('delete_list', this.deleteImages_add);
      }

      this.$axios.post('/api/enroll/work', formdata, {
          headers: { "Content-Type": "multipart/form-data" }, showLoading: true
        }
      ).then(res => {
        if (type == 'enroll') {
          this.openModal('enroll');
        } else if (type == 'modify') {
          this.$store.commit('showSnackbar', this.snackbar.save);
          window.history.back();
        }
      }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
        if (type == 'modify') {
          // this.$store.commit('showSnackbar', this.snackbar.notchange);
          this.$store.commit('showSnackbar', this.snackbar.save);
          window.history.back();
        }
      })
    }
  },
}
</script>