.btn {
  background-color: transparent;
  outline:0;
  border: 0;
  line-height: 1;
  transition: all .2s;
  transition-property: border-color, background-color, color;
  i {
    vertical-align: middle;
  }
  &.disabled {
    pointer-events: none;
    cursor: not-allowed !important;
    border-color: $color-disabled !important;
    background-color: $color-disabled !important;
    color: #fff !important;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  &.btn {
    &-normal {
      border: 1px solid #e3e2ea;
      color: $color-text;
      text-align: center;
      background-color: #fff;
      &:hover {
        background: #f6f7fc;
      }
    }
    &-white {
      border: 1px solid #cfced9;
      color: $color-text;
      text-align: center;
      background-color: #fff;

      &:hover {
        background: #f6f7fc;
      }
    }
    &-white-gray {
      border: 1px solid $color-text;
      color: #767676;
      text-align: center;
      background-color: #fff;

      &:hover {
        background: #f6f7fc;
      }
    }
    &-white-primary {
      border: 1px solid $color-primary;
      color: $color-primary;
      text-align: center;
      background-color: #fff;

      &:hover {
        background: #f6f7fc;
      }
    }
    &-white-black {
      border: 1px solid #222;
      color: #222;
      text-align: center;
      background-color: #fff;

      &:hover {
        background: #f6f7fc;
      }
    }
    &-transparent {
      border: 1px solid #666;
      color: #222;
      text-align: center;
      background-color: transparent;
    }
    &-primary {
      color: #fff;
      background-color: $color-primary;
    }
    &-primary-white {
      border: 1px solid #fff;
      color: #fff;
      background-color: $color-primary;
    }
  }
}

.btn {
  &-experience {
    width: 24em;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 3.625em;
    letter-spacing:0;
  }
  &-view-more {
    width:100%;
    border-radius:2px;
    line-height:2.286em;
    font-size:0.875em;
  }
  &-template-link {
    min-width: 13.750em;
    line-height: 2.625em;  border-radius: 4px;
    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
  &-product-detail {
    display: inline-block;
    width: 10.7143em;
    border-radius: 4px;
    font-size: .875em;
    font-weight: 500;
    text-align: center;
    line-height: 2.7143;
  }
}

.btn-svg {
  svg {
    pointer-events: none;
    vertical-align: middle;
  }
  .fill {
    transition: fill .4s;
  }
  .fill-black {
    fill:$color-text;
  }
  &:hover {
    .hover-fill {
      &-primary {
        fill: $color-primary;
      }
    }
  }
}

@media screen and (max-width:$break-md) {
  .btn {
    &-viwe-more {
      width: 100%;
      line-height: 58px;
      height: 58px;
    }
  }
}