@font-face {
  font-family:'NotoSansKR';
  font-weight:300;
  font-style:normal;
  src:url("/assets/font/notosanskr/NotoSans-Light.eot");
  src:url("/assets/font/notosanskr/NotoSans-Light.eot?#iefix") format("embedded-opentype"),url("/assets/font/notosanskr/NotoSans-Light.woff2") format("woff2"),url("/assets/font/notosanskr/NotoSans-Light.woff") format("woff");
  }
@font-face {
  font-family:'NotoSansKR';
  font-weight:400;
  font-style:normal;
  src:url("/assets/font/notosanskr/NotoSans-Regular.eot");
  src:url("/assets/font/notosanskr/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),url("/assets/font/notosanskr/NotoSans-Regular.woff2") format("woff2"),url("/assets/font/notosanskr/NotoSans-Regular.woff") format("woff");
}
@font-face {
  font-family:'NotoSansKR';
  font-weight:500;
  font-style:normal;
  src:url("/assets/font/notosanskr/NotoSans-Medium.eot");
  src:url("/assets/font/notosanskr/NotoSans-Medium.eot?#iefix") format("embedded-opentype"),url("/assets/font/notosanskr/NotoSans-Medium.woff2") format("woff2"),url("/assets/font/notosanskr/NotoSans-Medium.woff") format("woff");
}
@font-face {
  font-family:'NotoSansKR';
  font-weight:700;
  font-style:normal;
  src:url("/assets/font/notosanskr/NotoSans-Bold.eot");
  src:url("/assets/font/notosanskr/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),url("/assets/font/notosanskr/NotoSans-Bold.woff2") format("woff2"),url("/assets/font/notosanskr/NotoSans-Bold.woff") format("woff");
}


@font-face {
  font-family:'Inter';
  font-weight:300;
  font-style:normal;
  src:url("/assets/font/inter/Inter-Light.eot");
  src:url("/assets/font/inter/Inter-Light.eot?#iefix") format("embedded-opentype"),url("/assets/font/inter/Inter-Light.woff2") format("woff2"),url("/assets/font/inter/Inter-Light.woff") format("woff");
}
@font-face {
  font-family:'Inter';
  font-weight:400;
  font-style:normal;
  src:url("/assets/font/inter/Inter-Regular.eot");
  src:url("/assets/font/inter/Inter-Regular.eot?#iefix") format("embedded-opentype"),url("/assets/font/inter/Inter-Regular.woff2") format("woff2"),url("/assets/font/inter/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family:'Inter';
  font-weight:500;
  font-style:normal;
  src:url("/assets/font/inter/Inter-Medium.eot");
  src:url("/assets/font/inter/Inter-Medium.eot?#iefix") format("embedded-opentype"),url("/assets/font/inter/Inter-Medium.woff2") format("woff2"),url("/assets/font/inter/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family:'Inter';
  font-weight:700;
  font-style:normal;
  src:url("/assets/font/inter/Inter-Bold.eot");
  src:url("/assets/font/inter/Inter-Bold.eot?#iefix") format("embedded-opentype"),url("/assets/font/inter/Inter-Bold.woff2") format("woff2"),url("/assets/font/inter/Inter-Bold.woff") format("woff");
}