// base
html,
body {
  // height: 100%;
  font-size: 16px;
  word-break: keep-all;
}

body {
  font-family: $font-stack;
  overflow-x: hidden;
  min-width: 320px;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color-text;
  background-color: $color-bg;
}


// layout-default
.layout-default {
  height: 100%;
  #header {
    position: fixed;
    width: 100vw;
    z-index: 102;
    // @include scrimGradient($startColor: #000000, $direction: 'to bottom');
    pointer-events: none;
    transition: 1s color, 2s background-color;
    .header-inner {
      padding: 40px 60px;
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      z-index: 9;
      #nav {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        ul {
          li {
            padding: 2px 0;
            a {
              font-size: 20px;
              font-weight: 700;
              color: #acacac;
              pointer-events: auto;
              &.router-link-active,
              &.router-link-exact-active {
                color: #fff;
              }
            }
          }
        }
      }
      .logo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .holder {
          width: 156px;
          height: 64px;
          background: url(/assets/img/common/logo-white.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          pointer-events: auto;
        }
      }
      .txt-header {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        .holder {
          @include font-en;
          font-size: 14px;
          font-weight: 700;
          color: #a1a1a1;
        }
      }
      .btn_nav {
        position: absolute;
        right: 20px;
        top: 20px;
        pointer-events: auto;
        display: none;
        .v-icon {
          font-size: 30px;
          font-weight: 400;
        }
      }
    }
    &.theme--light {
      color: #000;
      background: transparent;
      .header-inner {
        #nav {
          ul {
            li {
              a {
                color: #000;
              }
            }
          }
        }
        .txt-header {
          .holder {
            color: #000;
          }
        }
      }
    }
    .navigation-mobile {
      background-color: #000;
      .menu {
        position: absolute;
        left: 50%;
        top: calc(50% - 20px);
        transform: translate(-50%, -50%);
        font-size: 26px;
        font-weight: 700;
        transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        li {
          .v-btn {
            &.v-btn--active:before {
              opacity: 0.1;
            }
          }
        }
      }
      .menu-sub {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #0f0f0f;
        transform: translateX(100%);
        transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        font-size: 18px;
        font-weight: 700;
        ul {
          position: absolute;
          left: 78px;
          top: calc(50% - 20px);
          height: 320px;
          transform: translateY(-50%);
          opacity: 0;
          transition: all 0.5s;
          pointer-events: none;
          li {
            margin-bottom: 10px;
            a {
              color: #fff;
            }
          }
        }
      }
      .menu_btn_area {
        position: absolute;
        left: 24px;
        bottom: 24px;
        width: calc(100% - 48px);
        display: flex;
        .sns {
          font-size: 14px;
          font-weight: 700;
          .btn-type-link {
            padding: 0 10px;
            height: 32px;
            font-weight: inherit;
            letter-spacing: 0;
            pointer-events: auto;
            .v-icon {
              margin-left: 3px;
              font-weight: 400;
            }
          }
        }
        .member {
          font-size: 16px;
          font-weight: 700;
          .btn-type-link {
            padding: 0 9px;
            height: 32px;
            font-weight: inherit;
            pointer-events: auto;
            backdrop-filter: blur(0.8);
            &.v-btn--active:before {
              opacity: 0;
            }
            &:first-child:after {
              content: '';
              display: block;
              position: absolute;
              right: -3px;
              top: calc(50% + 1px);
              transform: translateY(-50%);
              width: 2px;
              height: 14px;
              background-color: #484848;
            }
          }
        }
        .cart {
          position: relative;
          display: inline-flex;
          vertical-align: middle;
          .btn-type-link {
            font-weight: inherit;
            pointer-events: auto;
            backdrop-filter: blur(0.8);
            &:after {
              display: none !important;
            }
          }
          .count {
            position: absolute;
            right: -5px;
            top: -2px;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            font-weight: 600;
            color: #fff;
            background-color: #0819ed;
            border-radius: 50%;
          }
        }
      }
      &.sub-active {
        .menu {
          left: 10px;
          transform: translate(0, -50%);
          font-size: 22px;
        }
        .menu-sub {
          transform: translateX(0);
          ul.on {
            left: 28px;
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
  #footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: $zindex-header;
    // @include scrimGradient($startColor: #000000, $direction: 'to top');
    pointer-events: none;
    transition: 1s color, 2s background-color;
    .footer-inner {
      padding: 40px 50px 40px 60px;
      display: flex;
      flex-flow: row nowrap;
      .description {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5px;
        font-size: 14px;
        .notice {
          font-weight: 700;
          pointer-events: auto;
          color: #fff;
        }
        .company {
          margin-top: 22px;
          font-size: 13px;
          font-weight: 700;
          color: #a1a1a1;
          pointer-events: auto;
        }
        .slogan {
          margin-top: 12px;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.4;
          color: #a1a1a1;
          pointer-events: auto;
        }
        .scroll_indicator {
          width: 1px;
          height: 50px;
          background-color: rgba(255,255,255,0.7);
          position: relative;
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: -4px;
            top: 0;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background-color: #fff;
            transform: scale(0.1);
            animation: 2.8s cubic-bezier(0.76, 0, 0.24, 1) infinite wheel-up-down;
          }
        }
      }
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .cart {
          position: relative;
          margin-bottom: 8px;
          .btn-type-link {
            font-weight: inherit;
            pointer-events: auto;
            backdrop-filter: blur(0.8);
            .v-btn__content {
              font-size: 45px;
            }
          }
          .count {
            position: absolute;
            right: 7px;
            top: 3px;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: 600;
            color: #fff;
            background-color: #0819ed;
            border-radius: 50%;
          }
        }
        .btn_category_open {
          width: auto;
          height: 64px;
          margin: 0px 8px 30px 0px;
          padding: 0 38px;
          font-size: 16px;
          border-radius: 32px;
          pointer-events: auto;
          .v-icon {
            padding-top: 2px;
            font-size: 40px;
            width: 22px;
            margin-right: 12px;
          }
        }
        .member {
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 700;
          .btn-type-link {
            padding: 0 10px;
            height: 32px;
            font-weight: inherit;
            pointer-events: auto;
            backdrop-filter: blur(0.8);
          }
        }
        .term {
          font-size: 14px;
          font-weight: 500;
          .btn-type-link {
            padding: 0 10px;
            height: 32px;
            font-weight: inherit;
            color: #a1a1a1;
            pointer-events: auto;
            &:first-of-type {
              &::after {
                content: '';
                display: block;
                position: absolute;
                right: -2px;
                top: calc(50% + 1px);
                transform: translateY(-50%);
                width: 1px;
                height: 13px;
                background-color: #999;
              }
            }
          }
        }
        .sns {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 700;
          .btn-type-link {
            padding: 0 10px;
            height: 32px;
            font-weight: inherit;
            letter-spacing: 0;
            pointer-events: auto;
            .v-icon {
              font-size: 12px;
              margin-top: 2px;
              margin-left: 3px;
              font-weight: 400;
            }
          }
        }
        .copyright {
          padding-right: 10px;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: -0.02em;
          // color: #707070;
          pointer-events: auto;
          transition: opacity 0.5s;
          .v-icon {
            margin-right: 4px;
            margin-bottom: 2px;
            font-size: 16px;
            font-weight: 400;
            color: inherit;
          }
        }
        .browser {
          margin-top: 5px;
          padding-right: 10px;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: #fff;
        }
        .v-btn {
          .v-btn__content {
            transition: 1s color;
          }
        }
        .v-icon {
          transition: auto;
        }
      }
      .btn_top {
        position: absolute;
        top: -45px;
        left: 55px;
        pointer-events: auto;
        cursor: pointer;
        .v-icon {
          font-size: 45px;
        }
      }
    }
    .navigation-category {
      padding: 46px 56px 40px 56px;
      background-color: #272727;
      .stitle {
        padding: 0 22px;
        font-size: 54px;
        font-weight: 700;
      }
      .btn-close {
        position: absolute;
        top: 60px;
        right: 60px;
        .v-icon {
          width: 30px;
          height: 30px;
          font-size: 34px;
        }
      }
      .nav-category {
        margin-top: 50px;
        padding: 0 14px;
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        .v-btn {
          width: 40px;
          height: 40px;
          .v-icon {
            width: 30px;
            height: 30px;
            font-size: 30px;
          }
        }
        .category_name {
          font-size: 30px;
          font-weight: 700;
          flex: 1 1 auto;
        }
      }
      .category_list_wrap {
        margin-top: 50px;
        >ul {
          overflow-y: auto;
          height: calc(100vh - 336px);
          // height: calc(100vh - 296px);
          // padding-bottom: 40px;
          li {
            .v-btn {
              width: 100%;
              justify-content: flex-start;
              font-size: 26px;
              font-weight: 700;
            }
          }
        }
      }
    }
    &.scrolled {
      .footer-inner {
        .content {
          .copyright {
            opacity: 0.5;
          }
        }
      }
    }
    &.theme--light {
      color: #000;
      background: transparent;
      .footer-inner {
        .description {
          .notice {
            color: #000;
          }
          .company {
            color: #484848;
          }
          .slogan {
            font-weight: 500;
            color: #484848;
          }
        }
        .content {
          .v-btn {
            .v-btn__content {
              color: #000;
            }
            &:first-of-type::after {
              background-color: #000;
            }
          }
          .browser {
            color: #000;
          }
        }
        .btn_top {
          .v-icon {
            color: #000;
          }
        }
      }
    }
    .expand-transition-enter-active, .expand-transition-leave-active {
      transition-duration: 1.2s !important;
      transition-delay: 0.5s !important;
    }
    
    .slide-x-transition-enter-active, .slide-x-transition-leave-active {
      transition-duration: 1.2s !important;
      transition-delay: 0.5s !important;
    }
    
    .expand-transition-leave-active {
      &.dsc2 {
        transition-duration: 0.5s !important;
        transition-delay: 0s !important;
      }
    }
    .expand-transition-enter-active {
      &.dsc2 {
        transition-delay: 1.5s !important;
      }
    }
    
    .slide-x-transition-leave-active {
      &.dsc1 {
        transition-duration: 0.5s !important;
        &-1 {
          transition-delay: 0.4s !important;
        }
        &-2 {
          transition-delay: 0.5s !important;
        }
        &-3 {
          transition-delay: 0.6s !important;
        }
      }
    }
    .slide-x-transition-enter-active {
      &.dsc1 {
        &-1 {
          transition-delay: 0.7s !important;
        }
        &-2 {
          transition-delay: 0.8s !important;
        }
        &-3 {
          transition-delay: 0.9s !important;
        }
      }
    }
  }
  .container {
    margin: 0 auto;
    &-full {
      width: 100%;
      height: 100%;
      max-width: 100%;
      padding: 0;
    }
    &-full-width {
      width: 100%;
      height: auto;
      max-width: 100%;
      padding: 0;
    }
    &-basic {
      padding: 320px 0;
      max-width: 1400px;
    }
    &-first {
      padding-bottom: 0;
      max-width: 1400px;
    }
    &-modal-full {
      padding: 60px 0 100px;
      .inner {
        max-width: 1500px;
        margin: 0 auto;
      }
    }
    &-inner {
      padding: 0;
    }
  }
  .section {
    position: relative;
    outline: none;
    &.full {
      width: 100% !important;
      height: 100vh;
      .half {
        width: 50%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        &-40 {
          width: 40.625%;
          background-color: #000;
          min-width: 780px;
          right: 0;
          top: 0;
        }
        .inner {
          margin-bottom: 120px;
          width: 56.4102%;
          min-width: 440px;
        }
      }
    }
    &.cols-2 {
      >.container-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        >.con-left {
          flex: 0 0 47.5%;
        }
        >.con-right {
          flex: 0 0 47.5%;
          padding-top: 10px;
        }
      }
    }
  }
}


// layout-admin
.layout-admin {
  display: flex;
  flex-direction: column;
  height: 100%;
  letter-spacing: -0.05em !important;
  #header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 120px;
    background-color: #1b1b1b;
    .logo {
      height: 64px;
      line-height: 64px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: normal;
      color: #4c4c4c;
      text-align: center;
      border-bottom: 1px solid #323232;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    #nav {
      ul {
        li {
          border-bottom: 1px solid #323232;
          a {
            display: block;
            height: 44px;
            line-height: 44px;
            padding-left: 28px;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            &.router-link-active {
              color: #ffc107;
              background-color: #272727;
              +ul {
                // display: block;
                &.child-2 {
                  max-height: 70px;
                }
                &.child-3 {
                  max-height: 100px;
                }
                &.child-4 {
                  max-height: 130px;
                }
              }
            }
          }
          &.has-child {
            ul {
              // display: none;
              max-height: 0;
              background-color: #272727;
              overflow: hidden;
              transition: all 0.5s;
              li {
                border: none;
                &:last-child {
                  padding-bottom: 10px;
                }
                a {
                  font-size: 13px;
                  font-weight: 400;
                  height: 30px;
                  line-height: 30px;
                  border: 0;
                  &.router-link-active {
                    color: inherit;
                  }
                  &.router-link-exact-active {
                    color: #ffc107;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #footer {
    margin-left: 120px;
    height: auto;

  }
  .container-admin {
    // display: flex;
    flex: 1 1 0;
    margin-left: 120px;
    padding: 22px 30px;
    overflow-y: auto;
    background-color: #222;
  }
}


#nav-lnb {
  position: fixed;
  top: 330px;
  left: 60px;
  max-width: 200px;
  pointer-events: none;
  z-index: 100;
  ul {
    li {
      padding: 5px 0;
      a {
        font-size: 28px;
        font-weight: 700;
        color: #606060;
        pointer-events: auto;
        &.router-link-exact-active {
          color: #fff;
        }
        &.width-less {
          letter-spacing: -0.1em;
        }
      }
    }
  }
}


.hamburger {
  // padding: 13px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  pointer-events:auto;}
.hamburger:hover {
  opacity: 0.8; }
.hamburger.is-active:hover {
  opacity: 0.8; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff; }
.hamburger-box {
  width: 24px;
  height: 24px;
  /*display: inline-block;*/
  display:block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 24px;
  height: 2px;
  background-color: #fff;
  /*box-shadow:0 0 3px rgba(0, 0, 0, 0.8);*/
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -8px; }
.hamburger-inner::after {
  bottom: -8px; }

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }



@media screen and (max-width:2000px) {
  .layout-default {
    .container {
      &-basic {
        margin-left: 300px;
        padding-right: 60px;
        width: calc(100% - 300px);
      }
    }
  }
}

@media screen and (max-width:$break-md) {
  .layout-default {
    #header {
      @include scrimGradient($startColor: #000000, $direction: 'to bottom');
      &.theme--light {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
          background-color: #000;
        }
        .hamburger {
          &.is-active {
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
              background-color: #fff;
            }
          }
        }
      }
      .header-inner {
        padding: 20px;
        #nav {
          display: none;
        }
        .logo {
          .holder {
            width: 102px;
            height: 42px;
          }
        }
        .txt-header {
          display: none;
        }
        .btn_nav {
          display: block;
          &.hide {
            display: none;
          }
        }
      }
    }
    .container {
      width: 100%;
      &-basic {
        margin-left: 0;
        padding: 150px 24px 0;
      }
      &-inner {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .mb-full {
      margin: 0 -20px;
    }

    #footer {
      position: relative;
      &.theme--light {
        background-color: #fff;
        .description {
          .company {
            color: #484848;
          }
        }
      }
      .footer-inner {
        flex-direction: column;
        padding: 25px;
        .content {
          margin-top: 30px;
          align-items: flex-start;
          .btn_category_open {
            position: fixed;
            right: 25px;
            bottom: 25px;
            width: 54px;
            height: 54px;
            margin: 0;
            padding: 0;
            .v-icon {
              font-size: 36px;
              margin: 0;
            }
          }
          .term {
            margin-left: -10px;
          }
          .sns {
            margin-left: -10px;
          }
          .copyright {
            margin-top: 5px;
          }
          .browser {
            margin-top: 8px;
          }
        }
      }
      .navigation-category {
        padding: 0 10px;
        .v-navigation-drawer__content {
          padding-top: 50px;
          display: flex;
          flex-direction: column;
        }
        .stitle {
          font-size: 34px;
        }
        .btn-close {
          top: 24px;
          right: 24px;
          .v-icon {
            font-size: 28px;
          }
        }
        .nav-category {
          margin-top: 40px;
          .v-btn {
            .v-icon {
              font-size: 26px;
            }
          }
          .category_name {
            font-size: 18px;
          }
        }
        .category_list_wrap {
          flex: 1;
          margin-top: 40px;
          overflow: hidden;
          >ul {
            // height: calc(100vh - 228px);
            height: 100%;
            padding-bottom: 30px;
            li {
              .v-btn {
                height: 50px;
                font-size: 22px;
              }
            }
          }
        }
      }
    }

    .section {
      &.full {
        .half {
          width: 100%;
          position: relative;
          &-40 {
            width: 100%;
            min-width: 100%;
          }
          .inner {
            margin-bottom: 80px;
            width: 100%;
            min-width: 100%;
          }
        }
      }
    }
    .section-items {
      &.section {
        margin-top: 100px;
      }
    }
  }

  #nav-lnb {
    display: none;
  }

  .page-userAwardArchiveWinnerList,
  .page-userArchiveAboardList {
    #nav-lnb {
      display: block;
      top: 10px;
      left: 18px;
      z-index: 999;
      ul {
        li {
          display: none;
          &:last-child {
            display: block;
          }
        }
      }
    }
  }
}