$break-xlg: 1904px;
$break-lg: 1264px;
$break-md: 960px;;
$break-sm: 600px;

$color-primary: #0819ed;
$color-secondary: #ffc107;
$color-text: #fff;
$color-bg: #000;

$color-success: #4dba35;
$color-error: #ff1c86;
$color-warning: #c70039;
$color-info: #2196F3;
$color-disabled: #cfced9;

$font-stack: Inter, NotoSansKR, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$letter-spacing: -0.05em;
$line-height:1.7;

$zindex-modal: 1301;
$zindex-dimmer: 1300;
$zindex-header: 100;


@mixin font-kr {
  font-family: NotoSansKR;
  letter-spacing: -0.1em;
}
@mixin font-en {
  font-family: Inter;
  letter-spacing: normal;
}

@mixin bg_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin ellipsis($line-cnt, $line-height) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt;
  -webkit-box-orient: vertical;
  word-break: break-word;
  // line-height: $line-height;
  // height: $line-height * $line-cnt;
}

@mixin scrimGradient($startColor: $color-black, $direction: 'to bottom') {
  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }

  background: linear-gradient(unquote($direction), $stops);
}