//********** theme **********//
application a { color: #ffffff; }
.v-application .primary {
  background-color: #0819ed !important;
  border-color: #0819ed !important;
}
.v-application .primary--text {
  color: #0819ed !important;
  caret-color: #0819ed !important;
}
.v-application .secondary {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}
.v-application .secondary--text {
  color: #ffc107 !important;
  caret-color: #ffc107 !important;
}
.v-application .accent {
  background-color: #0819ed !important;
  border-color: #0819ed !important;
}
.v-application .accent--text {
  color: #0819ed !important;
  caret-color: #0819ed !important;
}
.v-application .error {
  background-color: #ff1c86 !important;
  border-color: #ff1c86 !important;
}
.v-application .error--text {
  color: #ff1c86 !important;
  caret-color: #ff1c86 !important;
}
.v-application .info {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}
.v-application .info--text {
  color: #2196f3 !important;
  caret-color: #2196f3 !important;
}
.v-application .success {
  background-color: #4dba35 !important;
  border-color: #4dba35 !important;
}
.v-application .success--text {
  color: #4dba35 !important;
  caret-color: #4dba35 !important;
}
.v-application .warning {
  background-color: #c70039 !important;
  border-color: #c70039 !important;
}
.v-application .warning--text {
  color: #c70039 !important;
  caret-color: #c70039 !important;
}


//********** common **********//
.v-application {
  font-family: $font-stack !important;
  letter-spacing: $letter-spacing !important;
  line-height: $line-height !important;
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline,
  .text-h1, .text-sm-h1, .text-md-h1, .text-lg-h1, .text-xl-h1,
  .text-h2, .text-sm-h2, .text-md-h2, .text-lg-h2, .text-xl-h2,
  .text-h3, .text-sm-h3, .text-md-h3, .text-lg-h3, .text-xl-h3,
  .text-h4, .text-sm-h4, .text-md-h4, .text-lg-h4, .text-xl-h4,
  .text-h5, .text-sm-h5, .text-md-h5, .text-lg-h5, .text-xl-h5,
  .text-h6, .text-sm-h6, .text-md-h6, .text-lg-h6, .text-xl-h6,
  .text-subtitle-1, .text-sm-subtitle-1, .text-md-subtitle-1, .text-lg-subtitle-1, .text-xl-subtitle-1,
  .text-subtitle-2, .text-sm-subtitle-2, .text-md-subtitle-2, .text-lg-subtitle-2, .text-xl-subtitle-2,
  .text-body-1, .text-sm-body-1, .text-md-body-1, .text-lg-body-1, .text-xl-body-1,
  .text-body-2, .text-sm-body-2, .text-md-body-2, .text-lg-body-2, .text-xl-body-2,
  .text-button, .text-sm-button, .text-md-button, .text-lg-button, .text-xl-button,
  .text-caption, .text-sm-caption, .text-md-caption, .text-lg-caption, .text-xl-caption,
  .text-overline, .text-sm-overline, .text-md-overline, .text-lg-overline, .text-xl-overline {
    font-family: $font-stack !important;
    letter-spacing: $letter-spacing !important;
  }
}

.v-application {
  .headline,
  .title {
    font-weight: 700;
  }
  a {
    color: inherit;
  }
  ol, ul {
    padding: 0;
  }
}

.v-icon {
  &.v-icon {
    font-size: inherit;
    font-weight: inherit;
  }
}

.theme--dark {
  &.v-application {
    background-color: #000;
  }
}


//********** card **********//
.theme--dark {
  .v-card {
    background-color: #000;
  }
}


//********** form **********//
.v-input {
  .v-label {
    font-size: 24px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
  }
  input {
    max-height: 50px;
    font-size: 24px;
    font-weight: 700;
  }
  textarea {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 0;
    line-height: 1.5;
  }
}

.v-input--selection-controls {
  .v-label {
    font-size: 18px;
  }
}

.v-input--radio-group.v-input--radio-group--row .v-input--checkbox {
  margin-right: 18px;
}

.v-input__slot {
  margin-bottom: 15px;
}

.v-text-field {
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 10px;
  &--outlined, &--solo {
    border-radius: 0;
  }
  .v-label--active {
    transform: translateY(-42px) scale(.75);
  }
  input {
    padding: 10px 0;
  }
  .v-input__control {
    .v-input__slot {
      &:before, &:after {
        border-width: 2px
      }
    }
  }
  .v-input__append-inner,
  .v-input__prepend-inner {
    margin-top: 10px;
  }
  .v-input__icon {
    width: 30px;
    min-width: 30px;
    height: 30px;
    font-size: 24px;
  }
}

.v-messages {
  font-size: 14px;
  font-weight: 700;
  min-height: 16px;
}
.v-messages__message {
  line-height: 14px;
  >span {
    display: flex;
    align-items: center;
    .xi {
      margin-right: 6px;
      font-size: 17px;
      vertical-align: middle;
    }
  }
  .msg-warn {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    line-height: 1.4;
    background-color: #ff1c86;
    color: #fff;
    &.msg-succ {
      background-color: #4dba35;
    }
    .xi {
      margin-top: -2px;
      vertical-align: unset;
    }
    .con {
      flex: 1;
    }
    .msg-res {
      width: 100%;
      margin-top: 8px;
      .xi {
        margin-top: -4px;
        vertical-align: middle;
      }
    }
  }
}

.theme--dark {

  .v-label {
    color: #fff;
  }
  .v-input {
    input,
    textarea {
      &::placeholder {
        color: #484848;
      }
    }
  }
  .v-text-field {
    &--solo {
      // &.v-textarea {
        .v-input__control {
          .v-input__slot {
            background-color: rgba(255, 255, 255, 0.03);
            border: 1px solid rgba(255, 255, 255, 0.15);
          }
        }
      // }
      &.v-input--is-focused {
        // &.v-textarea {
          .v-input__control {
            .v-input__slot {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        // }
      }
    }
    .v-input__control {
      .v-input__slot {
        &:before {
          border-color: #2b2b2b;
          z-index: 2;
        }
      }
    }
  }
  .v-input--switch {
    .v-input--switch__thumb {
      color: #686868;
    }
  }

}


//********** button **********//
.v-btn {
  font-weight: 700;
  letter-spacing: $letter-spacing;
  text-indent: unset;
  text-transform: none;
  &.v-size- {
    &-x-small {
      font-size: 0.875rem;
      font-weight: 400;
      &:not(.v-btn--round) {
        height: 30px;
        padding: 0 10px;
      }
    }
    &-small {
      font-size: 1rem;
      &:not(.v-btn--round) {
        height: 42px;
        padding: 0 16px;
      }
    }
    &-default {
      font-size: 1.25rem;
      &:not(.v-btn--round) {
        height: 58px;
        padding: 0 22px;
      }
    }
    &-large {
      font-size: 1.625rem;
      &:not(.v-btn--round) {
        height: 74px;
        padding: 0 35px;
        border-width: 3px;
      }
    }
    &-x-large {
      font-size: 2.5rem;
      &:not(.v-btn--round) {
        height: 100px;
        padding: 0 45px;
        border-width: 3px;
      }
    }
  }
  &.v-btn- {
    &-outlined {
      border: 2px solid;
    }
  }
}

.theme--dark {
  .v-btn {
    &.v-btn- {
      &-outlined.v-btn--text {
        border-color: #fff;
      }
      &-disabled {
        color: rgba(255, 255, 255, 0.5) !important;
        border-color: rgba(255, 255, 255, 0.5) !important;
        .v-icon, .v-btn__loading {
          color: rgba(255, 255, 255, 0.5) !important;
          border-color: rgba(255, 255, 255, 0.5) !important;
        }
      }
    }
  }
}


//********** stepper **********//
.v-stepper, .v-stepper__header {
  box-shadow: none;
}

.v-stepper__header {
  >.v-icon {
    font-size: 50px;
    padding-top: 40px;
    color: #606060;
  }
}

.v-stepper__step {
  padding: 0;
  .v-stepper__label {
    background-color: #1a1a1a;
    width: 100%;
    padding: 27px 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
  }
  .v-stepper__step__step {
    font-size: 20px;
    font-weight: 700;
    &:before {
      content: '0';
    }
    .v-icon {
      font-size: 1.5rem;
      &:before {
        font-weight: 700;
      }
    }
  }
  &--active {
    .v-stepper__step__step {
      color: #fff;
    }
    .v-stepper__label {
      background-color: $color-primary;
    }
  }
  &--complete {
    .v-stepper__step__step {
      &:before {
        display: none;
      }
    }
    &+.v-icon {
      color: #fff;
    }
  }
}

.v-stepper--alt-labels {
  .v-stepper__step {
    align-items: flex-start;
    flex-basis: 26%;
    &__step {
      margin-bottom: 16px;
    }
  }
}

.v-stepper__content {
  padding: 300px 0 0;
}

.theme--dark {
  .v-stepper {
    background-color: transparent;
    .v-stepper__step {
      .v-stepper__step__step {
        color: #a1a1a1;
        background-color: transparent !important;
        .v-icon {
          color: $color-success;
        }
      }
    }
  }
}


//********** dialog **********//
.v-dialog {
  margin: 0;
  border-radius: 0;
  .v-card {
    padding: 35px;
    border-radius: 0;
    .v-card__title {
      margin-bottom: 20px;
      padding: 0;
      font-size: 34px;
      font-weight: 700;
    }
    .v-card__text {
      padding: 0;
      font-size: 20px;
      font-weight: 500;
    }
    .v-card__actions {
      margin-top: 50px;
      padding: 0;
    }
  }
}

.theme--dark {
  .v-dialog {
    &.dialog-normal {
      .v-card {
        background-color: #000;
      }
    }
    &.dialog-admin {
      .v-card {
        background-color: #2f2f2f;
      }
    }
    .v-card {
      background-color: #272727;
      .v-card__text {
        color: #a1a1a1;
      }
    }
  }
}


//********** tooltip **********//
.v-tooltip__content {
  &.clear {
    background: transparent;
  }
  &.warn {
    color: $color-error;
  }
}


//********** datepicker **********//
.v-date-picker-table {
  .v-btn {
    letter-spacing: 0;
  }
}

.theme--dark {
  .v-picker {
    background-color: #2c2c2c;
  }
  .v-date-picker-table {
    .v-btn {
      &.v-date-picker-table__current {
        color:#4dba35 !important;
        caret-color:#4dba35 !important;
      }
    }
  }
}


//********** data table **********//
.v-data-table {
  .v-data-table-header {
    th {
      &.sortable {
        .v-data-table-header__icon {
          margin-left: 6px;
          font-weight: 400;
          opacity: 0.4;
        }
        &:hover {
          .v-data-table-header__icon {
            color: hsla(0,0%,100%,.8);
          }
        }
      }
      &.active {
        .v-data-table-header__icon {
          opacity: 1;
        }
      }
      &.desc {
        .v-data-table-header__icon {
          // transform: scaleY(-1);
          transform: none;
          &:before {
            content: "\e975";
          }
        }
      }
    }
  }
  &.basic {
    >.v-data-table__wrapper {
      >table {
        >thead,
        >tbody {
          >tr {
            &:hover {
              background-color: transparent !important;
            }
            >th,
            >td {
              border: thin solid hsla(0,0%,100%,.2) !important;
              &.td-score {
                width: 70px;
              }
              &.td_in {
                border-bottom: thin solid hsla(0,0%,100%,.07) !important;
              }
            }
          }
        }
        >thead {
          >tr {
            >th {
              background-color: #171717;
            }
          }
        }
      }
    }
  }
}

.theme--dark {
  .v-data-table {
    >.v-data-table__wrapper {
      >table {
        >tbody {
          >tr {
            &:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper):not(.v-data-table__selected) {
              background: #2c2c2c;
            }
          }
        }
      }
    }
  }
}


//********** image **********//
.v-image__image--preload {
  filter: blur(10px);
  transform: scale(1.02);
}


//********** skeleton **********//
.v-skeleton-loader {
  width: 100%;
  &__heading {
    &-large {
      height: 60px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.12);
      &:nth-child(2) {
        width: 60%;
      }
    }
    &-xlarge {
      height: 86px;
      width: 31%;
      margin-top: 14px;
      margin-bottom: 10px;
      background: rgba(255, 255, 255, 0.12);
    }
  }
  &__heading-award {
    .v-skeleton-loader__heading {
      margin-top: 20px;
      margin-bottom: 18px;
      width: 120px;
      height: 48px;
    }
  }
  &__label {
    max-width: 100px;
    height: 20px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.12);
  }
  &__field {
    height: 45px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.12);
    &-set {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__button {
    &-large {
      max-width: 180px;
      height: 70px;
      background: rgba(255, 255, 255, 0.12);
      margin-left: auto;
    }
  }
  &__stepper {
    padding-top: 5px;
    &-title {
      max-width: 26px;
      height: 20px;
      margin-bottom: 17px;
      background: rgba(255, 255, 255, 0.12);
    }
    &-box {
      width: 100%;
      height: 150px;
      background: rgba(255, 255, 255, 0.12);
    }
    &-3 {
      display: flex;
      justify-content: space-between;
      .v-skeleton-loader__stepper {
        flex-basis: 26%;
      }
    }
  }
  &__list {
    &-box {
      flex: 1;
      height: 147px;
      margin-bottom: 20px;
      margin-right: 20px;
      background: rgba(255, 255, 255, 0.12);
      &-2 {
        display: flex;
        .v-skeleton-loader__list-box {
          height: 63px;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
      &-3 {
        display: flex;
        .v-skeleton-loader__list-box {
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
    &-post {
      flex: 1;
      height: 270px;
      margin-right: 30px;
      margin-bottom: 30px;
      background: rgba(255, 255, 255, 0.12);
      &-3 {
        display: flex;
        .v-skeleton-loader__list-post {
          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }
  &__box {
    &-title {
      height: 71px;
      margin-bottom: 4px;
      background: rgba(255, 255, 255, 0.12);
    }
    &-content {
      height: 284px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.12);
    }
  }
  &__box2-full,
  &__box4-full {
    .v-skeleton-loader__box-title {
      height: 62px;
    }
    .v-skeleton-loader__box-content {
      height: 108px;
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
  &__filter {
    &-wrap {
      display: flex;
      margin-top: 4px;
    }
    &-date {
      width: 166px;
      height: 42px;
      margin-right: 28px;
      background: rgba(255, 255, 255, 0.12);
    }
    &-search {
      width: 201px;
      height: 42px;
      margin-left: auto;
      background: rgba(255, 255, 255, 0.12);
    }
  }
  &__table-thead {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent !important;
    .v-skeleton-loader__heading {
      max-width: 12%;
    }
  }
  &__table-tbody {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: transparent !important;
    .v-skeleton-loader__table-row {
      .v-skeleton-loader__table-cell {
        width: 12%;
      }
    }
    .v-skeleton-loader__divider {
      height: 1px;
    }
  }
  &__avatar {
    width: 56px;
    height: 56px;
    margin-bottom: 5px;
    border-radius: 50% !important;
  }
  &__table-footer {
    display: flex;
    margin-top: 30px;
    .v-skeleton-loader__button {
      width: 120px;
      height: 40px;
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
  &__config {
    .v-skeleton-loader__space {
      height: 18px;
    }
  }
  &__detail-top {
    display: flex;
    .v-skeleton-loader__avatar {
      width: 40px;
      height: 40px;
      border-radius: 0 !important;
      margin-right: auto;
    }
    .v-skeleton-loader__button {
      width: 80px;
      margin-left: 20px;
    }
  }
  &__detail-con,
  &__detail-con2,
  &__detail-con3,
  &__detail-con4,
  &__detail-con5 {
    display: flex;
    margin-top: 8px;
    .v-skeleton-loader__heading {
      width: 90px;
      margin-right: 40px;
    }
    .v-skeleton-loader__label-con-wrap {
      width: 582px;
      .v-skeleton-loader__label-con {
        margin-top: 40px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .v-skeleton-loader__label-con {
      flex: 1;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      .v-skeleton-loader__text {
        width: 80%;
        height: 16px;
        &:first-child {
          width: 50%;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__detail-con2 {
    .v-skeleton-loader__heading + .v-skeleton-loader__label-con {
      flex: auto;
      width: 250px;
    }
  }
  &__detail-con3 {
    margin-top: 11px;
    .v-skeleton-loader__space {
      width: 130px;
    }
  }
  &__detail-con4 {
    margin-top: 11px;
    .v-skeleton-loader__image {
      width: 240px;
      height: 240px;
      margin-right: 80px;
    }
  }
  &__detail-con5 {
    margin-top: 11px;
    .v-skeleton-loader__image {
      width: 378px;
      height: 372px;
      margin-right: 80px;
    }
  }
  &__editor {
    .v-skeleton-loader__heading {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
    .v-skeleton-loader__paragraph,
    .v-skeleton-loader__sentences {
      margin-top: 10px;
    }
  }
  &__label-field {
    margin-top: 34px;
    .v-skeleton-loader__text {
      width: 40%;
      height: 18px;
    }
    .v-skeleton-loader__button {
      width: 100%;
      height: 42px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__card-c {
    display: flex;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    .v-skeleton-loader__card-wrap {
      width: 16.6666%;
      margin-right: 15px;
      margin-bottom: 15px;
      &:nth-child(6n) {
        margin-right: 0;
      }
    }
    .v-skeleton-loader__image {
      width: 100%;
      height: 177.5px;
    }
    .v-skeleton-loader__text {
      margin-top: 10px;
      width: 60%;
      height: 18px;
    }
  }
  &__divider-c {
    margin-top: 8px;
    height: 1px;
  }
  &__space {
    height: 10px;
    background: transparent;
  }
  .v-skeleton-loader__bone {
    &.v-skeleton-loader__heading-large-2,
    &.v-skeleton-loader__heading-award,
    &.v-skeleton-loader__list-box-2,
    &.v-skeleton-loader__list-box-3,
    &.v-skeleton-loader__list-post-3,
    &.v-skeleton-loader__box-full,
    &.v-skeleton-loader__box2-full,
    &.v-skeleton-loader__box3-full,
    &.v-skeleton-loader__card-c,
    &.v-skeleton-loader__card-wrap,
    &.v-skeleton-loader__filter-wrap,
    &.v-skeleton-loader__field-set,
    &.v-skeleton-loader__field-set-2,
    &.v-skeleton-loader__field-set-3,
    &.v-skeleton-loader__stepper,
    &.v-skeleton-loader__stepper-3,
    &.v-skeleton-loader__table-admin,
    &.v-skeleton-loader__table-footer,
    &.v-skeleton-loader__editor,
    &.v-skeleton-loader__config,
    &.v-skeleton-loader__detail-top,
    &.v-skeleton-loader__detail-con,
    &.v-skeleton-loader__detail-con2,
    &.v-skeleton-loader__detail-con3,
    &.v-skeleton-loader__detail-con4,
    &.v-skeleton-loader__detail-con5,
    &.v-skeleton-loader__label-con-wrap,
    &.v-skeleton-loader__label-con,
    &.v-skeleton-loader__label-field,
    &.v-skeleton-loader__space {
      &:after {
        display: none;
      }
    }
  }
}





@media screen and (max-width:960px) {
  .v-btn {
    &.v-size- {
      &-x-small {
        font-size: 0.875rem;
        font-weight: 400;
        &:not(.v-btn--round) {
          height: 30px;
          padding: 0 10px;
        }
      }
      &-small {
        font-size: 1rem;
        &:not(.v-btn--round) {
          height: 42px;
          padding: 0 16px;
        }
      }
      &-default {
        font-size: 1.25rem;
        &:not(.v-btn--round) {
          height: 58px;
          padding: 0 22px;
        }
      }
      &-large {
        font-size: 16px;
        &:not(.v-btn--round) {
          height: 52px;
          padding: 0 18px;
          border-width: 2px;
        }
      }
      &-x-large {
        font-size: 2.5rem;
        &:not(.v-btn--round) {
          height: 100px;
          padding: 0 45px;
          border-width: 2px;
        }
      }
    }
  }

  .v-data-table {
    background-color: transparent !important;
    &.basic {
      >.v-data-table__wrapper {
        >table {
          >thead {
            display: none;
          }
          >tbody {
            >tr {
              display: block;
              width: 100%;
              margin-top: 8px;
              &:first-child {
                margin-top: 0;
                >th,
                >td {
                  &.td_sub {
                    margin-top: 0;
                  }
                }
              }
              >th,
              >td {
                display: block;
                width: 100% !important;
                height: auto !important;
                padding: 6px 10px;
                border-top: 0 !important;
                background-color: #1e1e1e;
                &.td_in {
                  border-bottom: thin solid hsla(0,0%,100%,.2) !important;
                }
                &.td_sub {
                  margin-top: 24px;
                  margin-bottom: 8px;
                  padding: 10px;
                  font-size: 17px;
                  background-color: #000;
                  border: 0 !important;
                }
                &.td_clause {
                  background-color: #151515;
                  border-top: thin solid hsla(0,0%,100%,.2) !important;
                }
                &.td_total {
                  margin-top: 24px;
                  padding: 10px;
                  font-size: 17px;
                  background-color: #000;
                  border: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}