@charset "utf-8";

.section-items {
  &.section {
    margin-top: 240px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    .container-inner {
      padding-left: 50px;
      padding-right: 50px;
    }
    p {
      margin-bottom: 35px;
    }

    .notyet {
      padding: 200px 0;
      font-size: 30px;
      color: #606060;
      text-align: center;
    }

    &-about-background {
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100vh;
      margin-top: 0;
      pointer-events: none;
      .symbol {
        width: 384px;
        height: 483px;
        margin: 0 auto;
        background-image: url(/assets/img/about/symbol-and-1.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition-property: transform, opacity;
        transition-duration: 1s;
      }
    }
    &:last-child {
      margin-bottom: 400px;
    }
    &-about-1 {
      // padding: 220px 0 200px;
      margin-top: 0;
      .txt_wrap {
        width: 100%;
        // display: flex;
        // justify-content: space-between;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        .txt {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 160px;
          line-height: 1;
          &-1 {
            color: #000;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
          }
        }
        @supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
          .txt-1 {
              color: transparent;
              -webkit-text-stroke: 2px #fff;
              text-stroke: 2px #fff;
              text-shadow: none;
          }
        }
      }
    }
    &-about-2 {
      color: #a1a1a1;
      .container {
        display: flex;
      }
      .dsc {
        flex: 1;
      }
      .host {
        margin-left: 130px;
        width: 270px;
        li {
          margin-bottom: 40px;
          .hlabel {
            margin-bottom: 10px;
            font-size: 18px;
            color: #fff;
          }
        }
      }
    }
    &-about-3 {
      margin-top: 0;
      .character_wrap {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        .char {
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          opacity: 0.5;
          &-1 {
            width: 230px;
            height: 500px;
            background-image: url(/assets/img/about/symbol-char-1.svg);
            transform: translate(calc(-50% + 44px), calc(-50% - 24px)) rotate(140deg);
          }
          &-2 {
            width: 266px;
            height: 268px;
            background-image: url(/assets/img/about/symbol-char-2.svg);
            transform: translate(calc(-50% - 57px), calc(-50% + 93px)) rotate(140deg);
          }
        }
      }
    }
    &-about-4 {
      // padding: 220px 0 200px;
      margin-top: 0;
      .txt_wrap {
        width: 100%;
        // display: flex;
        // flex-direction: column;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        .txt {
          font-size: 140px;
          line-height: 1;
          position: absolute;
          transform: translate(0, -50%);
          &-1 {
            width: 1630px;
            left: 50%;
            top: 50%;
            transform: translate(50%, calc(-50% - 80px));
            color: #000;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
          }
          &-2 {
            width: 1650px;
            right: 50%;
            top: 50%;
            transform: translate(-50%, calc(-50% + 80px));
          }
        }
        @supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
          .txt-1 {
              color: transparent;
              -webkit-text-stroke: 2px #fff;
              text-stroke: 2px #fff;
              text-shadow: none;
          }
        }
      }
    }
    &-about-5 {
      color: #a1a1a1;
    }
    &-about-6 {
      margin-bottom: 0 !important;
      padding-left: 0;
      padding-right: 0;
      color: #fff;
      .container {
        padding: 160px 0 50px;
        position: relative;
        .year {
          position: absolute;
          left: 0;
          top: 50px;
          font-size: 160px;
          line-height: 1;
          z-index: 9;
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: -220px;
            top: 50%;
            transform: translateY(-50%);
            width: 160px;
            height: 10px;
            background-color: #fff;
          }
          ul {
            height: 160px;
            overflow: hidden;
            li {
              transform: translateY(0);
            }
          }
        }
        .v-progress-circular {
          position: absolute;
          left: 50px;
          bottom: 50px;
          z-index: 9;
          .v-progress-circular__underlay {
            stroke: #1a1a1a;
          }
          .v-progress-circular__overlay {
            transition: none;
          }
        }
      }
      .slide_history {
        // overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
        ul {
          display: flex;
          li {
            flex: 0 0 auto;
            position: relative;
            width: 1060px;
            margin-left: 100px;
            &:first-child {
              margin-left: 29%;
            }
            &.space {
              width: calc(20.6% - 100px);
            }
            .thumb {
              width: 580px;
              height: 580px;
              background-color: #101010;
              img {
                width: 100%;
                height: auto;
              }
            }
            .dsc {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(0, -50%);
              // text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
              .hlabel {
                font-size: 18px;
              }
              .con {
                margin-top: 20px;
                font-size: 24px;
                color: #a1a1a1;
              }
              .sponsor {
                margin-top: 60px;
                .logo {
                  margin-top: 20px;
                  height: 45px;
                  img {
                    height: 100%;
                    + img {
                      margin-left: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &-judge-1 {
      .steps {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        li {
          flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 50px);
          padding: 40px;
          background-color: #1a1a1a;
          .num {
            font-size: 60px;
            line-height: 1.2;
          }
          .con {
            margin-top: 70px;
            font-size: 24px;
            font-weight: 500;
            color: #a1a1a1;
          }
        }
      }
    }
    &-judge-2 {
      .list-judge {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1400px;
        margin: 100px auto 0;
        li {
          flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 147.99px);
          margin-bottom: 100px;
          &.col--2-a {
            margin-left: 18.5%;
          }
          &.col--2-b {
            margin-right: 18.5%;
            margin-top: 10%;
          }
          &.col--3-a {
            margin-top: 20%;
          }
          &.col--3-b {
            margin-top: 10%;
          }
          .con {
            margin-top: 20px;
            .name {
              font-size: 24px;
            }
            .company {
              font-size: 18px;
              font-weight: 600;
              color: #a1a1a1;
            }
          }
        }
      }
    }
    &-judge-3 {
      .list-judge {
        display: flex;
        flex-wrap: wrap;
        max-width: 1400px;
        margin: 100px auto 0;
        li {
          flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 30px);
          display: flex;
          justify-content: space-between;
          padding: 17px 30px;
          margin-right: 30px;
          margin-bottom: 30px;
          background-color: #1a1a1a;
          &:nth-of-type(3n) {
            margin-right: 0;
          }
          .name {
            max-width: 150px;
            margin-right: 10px;
            font-size: 24px;
          }
          .company {
            max-width: 230px;
            font-size: 23px;
            font-weight: 500;
            color: #a1a1a1;
          }
        }
      }
    }

    &-sponsor-1, &-sponsor-2 {
      .list-sponsor {
        margin-top: 120px;
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 100px;
          .logo {
            flex: 0 0 40%;
            min-width: 540px;
            height: 80px;
            img {
              height: 100%;
            }
          }
          .con {
            flex: 0 0 40%;
            min-width: 600px;
            padding-top: 10px;
            .name {
              font-size: 34px;
              .v-btn {
                padding: 0 10px;
                height: 46px;
                vertical-align: top;
                .v-btn__content {
                  font-size: 24px;
                  font-weight: 400;
                }
              }
            }
            .dsc {
              margin-top: 30px;
              max-width: 540px;
              font-size: 24px;
              color: #a1a1a1;
            }
          }
          &.item-31 {
            .logo {
              height: 100px;
            }
          }
          &.item-32 {
            .logo {
              height: 64px;
            }
          }
          &.item-33 {
            .logo {
              height: 64px;
            }
          }
          &.item-2 {
            .logo {
              height: 90px;
            }
          }
          &.item-3 {
            .logo {
              height: 55px;
            }
          }
          &.item-4 {
            .logo {
              height: 50px;
            }
          }
          &.item-5 {
            .logo {
              height: 60px;
            }
          }
          &.item-6 {
            .logo {
              height: 110px;
            }
          }
          &.item-7 {
            .logo {
              height: 60px;
            }
          }
          &.item-8 {
            .logo {
              height: 60px;
            }
          }
          &.item-9 {
            .logo {
              height: 60px;
            }
          }
          &.item-10 {
            .logo {
              height: 80px;
            }
          }
          &.item-11 {
            .logo {
              height: 80px;
            }
          }
          &.item-12 {
            .logo {
              height: 55px;
            }
          }
          &.item-13 {
            .logo {
              height: 100px;
            }
          }
          &.item-14 {
            .logo {
              height: 100px;
            }
          }
          &.item-16 {
            .logo {
              height: 50px;
            }
          }
          &.item-17 {
            .logo {
              height: 60px;
            }
          }
          &.item-18 {
            .logo {
              height: 50px;
            }
          }
        }
      }
      .list-sponsor-2 {
        margin-top: 150px;
        margin-right: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        li {
          flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 30px);
          margin-right: 30px;
          margin-bottom: 80px;
          display: flex;
          align-items: center;
          &:nth-of-type(3n) {
            margin-right: 0;
          }
          .logo {
            width: 100%;
            height: 80px;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              img {
                max-height: 100%;
              }
            }
          }
          &.item-4 {
            .logo {
              height: 60px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width:2000px) {
  .section-items.section-judge-2, .section-items.section-judge-3 {
    .list-judge {
      margin-left: 300px;
      width: calc(100% - 300px);
    }
  }
}


@media screen and (max-width: 960px) {
  .section-items {
    &.section {
      font-size: 16px;
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
      }
      &:last-child {
        margin-bottom: 100px;
      }
      .notyet {
        padding: 80px 0;
        font-size: 22px;
      }
    }
  }
  .section-items.section-about-background {
    margin-top: 0 !important;
    .symbol {
      width: 168px;
      height: 212px;
    }
  }
  .section-items.section-about-1 {
    margin-top: 0 !important;
    .txt_wrap {
      .txt {
        font-size: 72px;
        &.txt-1 {
          top: calc(50% - 50px);
        }
        &.txt-2 {
          top: calc(50% + 50px);
        }
      }
    }
  }
  .section-items.section-about-2 {
    margin-top: 0 !important;
    .container-basic {
      padding-top: 0;
      flex-wrap: wrap;
      .host {
        margin-left: 0;
        li {
          margin-bottom: 30px;
          .hlabel {
            margin-bottom: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .section-items.section-about-3 {
    .character_wrap {
      .char {
        &-1 {
          width: 100px;
          height: 220px;
          transform: translate(calc(-50% + 18px), calc(-50% - 10px)) rotate(140deg);
        }
        &-2 {
          width: 114px;
          height: 115px;
          transform: translate(calc(-50% - 25px), calc(-50% + 41px)) rotate(140deg);
        }
      }
    }
  }
  .section-items.section-about-4 {
    .txt_wrap {
      .txt {
        font-size: 50px;
        &-1 {
          width: 580px;
          transform: translate(35%, calc(-50% - 30px));
        }
        &-2 {
          width: 584px;
          transform: translate(-35%, calc(-50% + 30px));
        }
      }
    }
  }
  .section-items.section-about-6 {
    .container {
      padding-top: 98px;
      .year {
        left: 24px;
        font-size: 60px;
        &:after {
          right: -80px;
          width: 72px;
          height: 5px;
        }
        ul {
          height: 60px;
        }
      }
      .v-progress-circular {
        width: 48px !important;
        height: 48px !important;
        left: 22px;
        bottom: auto;
        top: 436px;
      }
    }
    .slide_history {
      ul {
        li {
          width: auto;
          &.space {
            width: 100px;
          }
          .thumb {
            width: 260px;
            height: 260px;
          }
          .dsc {
            position: relative;
            left: 10px;
            top: auto;
            transform: translate(0, -100px);
            .hlabel {
              font-size: 14px;
            }
            .con {
              margin-top: 5px;
              font-size: 18px;
            }
            .sponsor {
              margin-top: 30px;
              .logo {
                margin-top: 18px;
                height: 32px;
              }
            }
          }
        }
      }
    }
  }
  .section-items.section-judge-1,
  .section-items.section-judge-2,
  .section-items.section-judge-3 {
    .container-basic {
      padding-top: 20px;
      .title-4 {
        font-size: 36px;
      }
      .steps {
        margin-top: 60px;
        flex-direction: column;
        li {
          padding: 20px 22px;
          margin-bottom: 20px;
          .num {
            font-size: 36px;
          }
          .con {
            margin-top: 50px;
            font-size: 18px;
          }
        }
      }
    }
    .list-judge {
      margin-left: 0;
      padding: 0 24px;
      width: 100%;
      flex-direction: column;
      li {
        display: flex;
        margin-bottom: 20px;
        &.col--2-a,
        &.col--2-b,
        &.col--3-a,
        &.col--3-b {
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
        }
        .thumb {
          width: 156px;
        }
        .con {
          width: calc(100% - 180px);
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .name {
            font-size: 18px;
            line-height: 1.3;
            span {
              display: block;
              margin-top: 8px;
            }
          }
          .company {
            margin-top: 8px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .section-items.section-judge-3 {
    .list-judge {
      margin-top: 60px;
      li {
        margin-bottom: 10px;
        // flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 30px);
        flex: 0 0 100%;
        margin-right: 0;
        padding: 15px 22px;
        .name {
          font-size: 18px;
        }
        .company {
          font-size: 18px;
        }
      }
    }
  }
  .section-items.section-sponsor-1,
  .section-items.section-sponsor-2 {
    .container-basic {
      padding-top: 20px;
      .title-4 {
        font-size: 36px;
      }
      .list-sponsor {
        margin-top: 60px;
        li {
          flex-direction: column;
          &.item-31 {
            .logo {
              height: 60px;
            }
          }
          &.item-32 {
            .logo {
              height: 39px;
            }
          }
          &.item-33 {
            .logo {
              height: 39px;
            }
          }
          &.item-2 {
            .logo {
              height: 50px;
            }
          }
          &.item-3 {
            .logo {
              height: 32px;
            }
          }
          &.item-4 {
            .logo {
              height: 28px;
            }
          }
          &.item-5 {
            .logo {
              height: 38px;
            }
          }
          &.item-6 {
            .logo {
              height: 60px;
            }
          }
          &.item-7 {
            .logo {
              height: 36px;
            }
          }
          &.item-8 {
            .logo {
              height: 36px;
            }
          }
          &.item-9 {
            .logo {
              height: 36px;
            }
          }
          &.item-10 {
            .logo {
              height: 40px;
            }
          }
          &.item-11 {
            .logo {
              height: 48px;
            }
          }
          &.item-12 {
            .logo {
              height: 34px;
            }
          }
          &.item-13 {
            .logo {
              height: 60px;
            }
          }
          &.item-14 {
            .logo {
              height: 54px;
            }
          }
          &.item-16 {
            .logo {
              height: 30px;
            }
          }
          &.item-17 {
            .logo {
              height: 34px;
            }
          }
          &.item-18 {
            .logo {
              height: 32px;
            }
          }
          .logo {
            flex: 0 0 auto;
            min-width: auto;
            height: 48px;
          }
          .con {
            flex: 0 0 auto;
            min-width: auto;
            padding-top: 30px;
            .name {
              font-size: 24px;
              .v-btn {
                min-width: 30px;
                height: 30px;
                .v-btn__content {
                  font-size: 18px;
                }
              }
            }
            .dsc {
              margin-top: 12px;
              font-size: 16px;
            }
          }
        }
      }
      .list-sponsor-2 {
        margin-top: 50px;
        margin-right: 0;
        padding: 0 20px 0 0;
        li {
          flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 30px);
          margin-bottom: 40px;
          &:nth-of-type(3n) {
            margin-right: 30px;
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          .logo {
            height: 32px;
          }
        }
      }
    }
  }
}