@charset "utf-8";

.inner-wrap {
  width: 1400px;
  &--width-nav-top {
    padding-top: 75px;
  }
}

#nav-top {
  position: fixed;
  left: 120px;
  top: 0;
  width: calc(100% - 120px);
  background-color: #222;
  border-bottom: 1px solid #323232;
  z-index: 9;
  .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1430px;
    ul {
      display: flex;
      li {
        position: relative;
        border-right: 1px solid #323232;
        .v-btn {
          height: 63px;
          padding: 0 30px;
          font-size: 15px;
          font-weight: 700;
          letter-spacing: -0.05em !important;
          &.v-btn--active {
            color: #ffc107;
            &.btn-index {
              color: #fff;
            }
            &:before {
              opacity: 0;
              background-color: #fff;
            }
            &:hover {
              &:before {
                opacity: .08;
              }
            }
          }
        }
        &.go-back {
          .v-btn {
            font-size: 18px;
            &.v-btn--active {
              color: #fff;
            }
          }
        }
      }
    }
    .award_status {
      .slabel {
        display: inline-flex;
        align-items: center;
        margin-left: 15px;
        font-size: 12px;
        font-weight: 700;
        .v-input--selection-controls {
          margin-top: 0;
          margin-left: 15px;
          padding-top: 0;
          .v-input__control {
            .v-input__slot {
              margin-top: 5px;
              margin-bottom: 0;
              .v-input--selection-controls__input {
                margin: 0;
              }
            }
            .v-messages {
              display: none;
            }
          }
        }
      }
    }
  }
}

.nav-top-child {
  .v-list {
    background-color: #272727;
    .v-list-item {
      min-height: auto;
      padding: 0 8px;
      .v-btn {
        flex: 1;
        justify-content: flex-start;
        padding: 0 23px;
        height: 38px;
        font-size: 14px;
        letter-spacing: -0.05em !important;
        &.v-btn--active {
          color: #ffc107;
          &:before {
            opacity: .05;
            background-color: #fff;
          }
          &:hover {
            &:before {
              opacity: .08;
            }
          }
        }
      }
    }
  }
}

.top-menu-sub {
  margin-bottom: 23px;
  padding: 0 20px;
  ul {
    display: flex;
    li {
      margin-right: 5px;
      a {
        display: block;
        padding: 0 5px;
        font-size: 15px;
        font-weight: 700;
        color: rgba(255,255,255,0.5);
        &.router-link-active,
        &.router-link-exact-active {
          color: #fff;
        }
      }
    }
  }
}


.filter_wrap {
  display: flex;
  padding: 0 25px;
  .filter-date {
    display: flex;
    align-items: center;
    .v-text-field {
      width: 165px;
    }
    .sep {
      margin: 0 10px;
    }
  }
  .filter-category {
    width: 200px;
    &-sub {
      display: none;
      margin-left: 10px;
      width: 272px;
      &.open {
        display: block;
      }
    }
    .v-input {
      &--is-disabled {
        .v-select__slot {
          opacity: 0.5;
        }
      }
    }
  }
  .filter-keyword {
    .v-text-field {
      width: 200px;
    }
  }
  .v-text-field {
    .v-input__icon {
      width: 20px;
      min-width: 20px;
      height: 20px;
      font-size: 18px;
      &.v-input__icon--clear {
        .v-icon {
          color: #929292;
        }
      }
    }
  }
  .v-btn {
    margin-left: 15px;
    &.v-size--x-small:not(.v-btn--round) {
      padding: 0 15px;
      height: 40px;
      font-size: 13px;
      border: 1px solid #fff;
    }
    &:first-child {
      margin-left: 0;
    }
    &.btn-reset-filter {
      margin-left: 10px;
      height: 42px !important;
      background: rgba(255,255,255,.03) !important;
      border: 1px solid rgba(255,255,255,.15) !important;
    }
  }
}


.bot_util_wrap {
  display: flex;
  margin-top: 30px;
  padding: 0 25px;
  // .pagination-admin {
  //   margin-left: -20px;
  // }
  .items_per_page {
    flex: 0 0 auto;
    width: 165px;
    font-size: 13px;
    .v-input__control {
      .v-input__slot {
        background-color: transparent;
        border: 1px solid #fff;
      }
    }
  }
  .v-btn {
    margin-left: 15px;
    &.v-size--x-small:not(.v-btn--round) {
      padding: 0 15px;
      height: 40px;
      font-size: 13px;
      border: 1px solid #fff;
    }
    &:first-child {
      margin-left: 0;
    }
    &.btn-type-pagination {
      margin: .3rem 0;
      padding: 0 !important;
      min-width: 28px !important;
      width: 28px !important;
      height: 28px !important;
      font-size: 18px !important;
      background-color: transparent !important;
      border: 0 !important;
      opacity: 1;
      &.btn-page-first {
        margin-left: -5px;
      }
      &:hover,
      &:focus,
      &.v-btn--active {
        &:before {
          opacity: 0;
        }
      }
      &.router-link-exact-active {
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }
}


.menu-award-index {
  .v-list {
    padding: 0;
    .v-list-item {
      min-height: 34px;
      border-bottom: 1px solid #dfdfdf;
      &:last-of-type {
        border: none;
      }
      &:hover {
        .v-list-item__title {
          color: rgba(0, 0, 0, 0.8);
        }
      }
      .v-list-item__title {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}


.layout-admin,
.dialog-admin {
  .content_wrap {
    padding: 24px 0 40px;
    background-color: #2f2f2f;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    &.skeleton {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .v-input {
    &.v-textarea {
      &.v-text-field--enclosed.v-text-field--single-line:not(.v-input--dense) {
        .v-label {
          top: 10px;
        }
        textarea {
          margin-top: 2px;
        }
      }
    }
    &.v-input--selection-controls {
      .v-input__control {
        .v-input__slot {
          .v-label {
            color: #ccc;
          }
        }
      }
    }
    &.v-input--switch {
      &.v-input--switch--inset {
        &.v-input--is-dirty {
          .v-input--selection-controls__input {
            .v-input--switch__thumb {
              transform: translate(32px)!important;
              &.primary--text {
                color: #fff !important;
              }
            }
            .v-input--selection-controls__ripple {
              transform: translate(32px)!important;
            }
          }
        }
        .v-input__control {
          min-height: 28px;
          .v-input--selection-controls__input {
            width: 56px;
            .v-input--switch__track {
              width: 56px;
              height: 24px;
              left: -3px;
              background-color: rgba(0,0,0, 0.2);
              border: 1px solid #5d5d5d;
              border-radius: 30px;
              opacity: 1;
            }
            .v-input--switch__thumb {
              width: 18px;
              height: 18px;
              top: calc(50% - 11px);
            }
            .v-input--selection-controls__ripple {
              left: -15px;
              top: calc(50% - 26px);
            }
          }
        }
      }
    }
    .v-input__control {
      min-height: 40px;
      .v-input__slot {
        .v-label {
          top: calc(50% - 11px);
          font-size: 14px;
          font-weight: 400;
          color: #5a5a5a;
        }
        input {
          font-size: 14px;
          font-weight: 400;
          color: #fff;
        }
        textarea {
          font-size: 14px;
          font-weight: 400;
          color: #fff;
        }
      }
      .v-select__slot {
        .v-select__selection {
          font-size: 13px;
          font-weight: 400;
          color: #fff;
        }
      }
    }
    &.v-input--is-disabled {
      .v-input__control {
        .v-input__slot {
          input {
            color: hsla(0,0%,100%,.5);;
          }
        }
      }
    }
  }
  .modal-text-field {
    .v-input {
      .v-input__slot {
        margin-bottom: 10px;
      }
      .v-text-field__details {
        .v-messages {
          font-size: 12px;
        }
      }
    }
  }
}


.list-card-award {
  margin-top: 35px;
  li {
    .v-card {
      opacity: 0.5;
      background-color: #3c3c3c;
      transition-duration: 0.3s;
      &__text {
        .onair {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 84px;
          min-height: 28px;
          font-size: 13px;
          font-weight: 700;
          letter-spacing: normal;
          border: 1px solid rgba(255, 255, 255, 0.6);
        }
      }
      &:hover {
        opacity: 0.8;
      }
      &.active {
        background-color: #ba5151;
        opacity: 1;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}


.list-card-category {
  margin-top: 35px;
  li {
    .v-card {
      cursor: pointer;
      transition-duration: 0.3s;
      transition-property: opacity,background-color;
      &:hover {
        background-color: #373737;
      }
      &__text {
        display: flex;
        justify-content: space-between;
        color: #fff;
        .atitle {
          width: calc(100% - 52px);
          font-size: 18px;
          font-weight: 700;
        }
        .action_area {
          display: flex;
          margin-right: -8px;
          .v-btn--icon {
            width: 24px;
            height: 24px;
            .v-icon {
              font-size: 15px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}


.list-card-prize {
  margin-top: 35px;
  li {
    .v-card {
      transition-duration: 0.3s;
      transition-property: opacity, background-color;
      &__text {
        .v-input {
          margin-bottom: 10px;
          .v-input__control {
            min-height: 30px;
            .v-input__slot {
              border: 1px solid rgba(255,255,255,.2);
              input {
                padding: 3px 0;
                font-size: 13px;
                font-weight: 400;
              }
            }
          }
          &.v-input--is-disabled {
            .v-input__slot {
              padding: 0 8px;
              border: 0;
              background-color: transparent;
              box-shadow: none;
            }
            &.sctitle {
              input {
                font-size: 15px;
                font-weight: 700;
              }
            }
            &.scsummary {
              input {
                font-weight: 700;
              }
            }
          }
        }
        .filed-with-action {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          .name {
            width: calc(100% - 60px);
          }
          .action_area {
            display: flex;
            margin-left: 10px;
            margin-right: -8px;
            .v-btn--icon {
              width: 24px;
              height: 24px;
              .v-icon {
                font-size: 15px;
                font-weight: 400;
              }
            }
          }
        }
        .slabel {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          width: 100%;
          font-size: 13px;
          font-weight: 700;
          color: #fff;
          .v-input--selection-controls {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 20px;
            .v-input__slot {
              margin-bottom: 0;
              border: 0;
              .v-input--selection-controls__input {
                margin-right: 0;
              }
            }
            .v-label {
              font-size: 14px;
              font-weight: 400;
            }
            .v-messages {
              display: none;
            }
          }
        }
        .v-image {
          border: 1px solid #505050;
        }
        .preview_wrap {
          margin-bottom: 25px;
          border: 1px solid #505050;
          .image-container {
            background: url(/assets/img/common/bg-transparent.png);
            background-repeat: repeat;
            background-position: center;
            background-size: 20px;
            .image-icon-drag-wrap {
              margin: 0;
              svg {
                width: 20px;
              }
            }
            .browse-text {
              display: none;
            }
          }
        }
      }
      &:hover {
        background-color: #373737;
      }
    }
  }
  &.active {
    li {
      .v-card {
        opacity: 0.6;
      }
      &.modified {
        .v-card {
          opacity: 1;
        }
      }
    }
  }
}


.list-card-image,
.list-card-party {
  display: flex;
  flex-wrap: wrap;
  &.list-card-popup,
  &.list-card-aboard {
    margin-top: 35px;
  }
  &.col--6 {
    >li {
      flex: 0 0 calc(1/6 * 100% - (1 - 1/6) * 15px);
      margin-right: 15px;
      margin-bottom: 15px;
      &:nth-of-type(6n) {
        margin-right: 0;
      }
    }
  }
  &.col--3 {
    >li {
      flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 30px);
      margin-right: 30px;
      margin-bottom: 30px;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
  li {
    &.add_new {
      .v-image {
        cursor: pointer;
        .v-responsive__content {
          display: flex;
          justify-content: center;
          align-items: center;
          .v-icon {
            font-size: 30px;
            opacity: 0.5;
            transition-duration: 0.5s;
            transition-property: opacity;
          }
        }
        &:hover {
          .v-icon {
            opacity: 1;
          }
        }
      }
    }
    &.list-item {
      cursor: move;
    }
    &.active {
      .v-card {
        .v-image {
          &:after {
            display: none;
          }
        }
      }
    }
    .v-card {
      background-color: transparent;
      .v-image {
        border: 1px solid #979797;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(255,255,255,0.5);
        }
        &.noimg {
          border-color: #434343;
          background-color: #292929;
        }
      }
      .v-card__text {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        color: #fff;
        .name {
          width: calc(100% - 52px);
          font-size: 14px;
          font-weight: 700;
          &.w-full {
            width: 100%;
          }
        }
        .action_area {
          display: flex;
          // width: 52px;
          margin-right: -3px;
          .v-btn--icon {
            width: 24px;
            height: 24px;
            .v-icon {
              font-size: 15px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  &.list-card-popup,
  &.list-card-aboard {
    li {
      .v-card {
        .v-card__text {
          .name {
            width: calc(100% - 120px);
          }
          .action_area {
            .slabel {
              display: inline-flex;
              margin-right: 10px;
              .v-input--selection-controls {
                margin-top: 0;
                padding-top: 0;
                .v-input__control {
                  .v-input__slot {
                    margin-bottom: 0;
                    .v-input--selection-controls__input {
                      margin: 0;
                    }
                  }
                  .v-messages {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.list-card-party {
  li {
    .v-card {
      .v-image {
        &:after {
          display: none;
        }
      }
      .party_member {
        position: relative;
        background-color: #292929;
        border: 1px solid #434343;
        &:before {
          content: '';
          display: block;
          padding-bottom: 55.5556%;
        }
        ul {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          padding: 20px 30px;
          column-count: 2;
          // column-gap: 10px;
          column-fill: auto;
          li {
            margin-bottom: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}


.v-dialog {
  .v-card {
    padding: 24px;
    .v-card__title {
      font-size: 15px;
      font-weight: 700;
    }
    .v-card__text {
      font-size: 13px;
      font-weight: 400;
      .w_name_list {
        margin-top: 15px;
      }
    }
    .btn_wrap {
      position: absolute;
      top: 24px;
      right: 17px;
      display: flex;
      .btn-submit {
        font-size: 15px;
        font-weight: 700;
      }
      .btn-close {
        width: 30px;
        height: 30px;
        .v-icon {
          font-size: 18px;
          font-weight: 400;
          color: #9e9e9e;
        }
      }
    }
  }
  .v-input {
    margin-bottom: 12px;
    .v-input__control {
      min-height: 42px;
      .v-input__slot {
        border: 1px solid rgba(255, 255, 255, 0.7);
        .v-label {
          top: calc(50% - 12px);
        }
      }
    }
    &.v-input--is-disabled {
      .v-input__control {
        .v-input__slot {
          border: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }
    &.v-input--selection-controls {
      .v-input__control {
        .v-input__slot {
          border: 0;
        }
      }
    }
  }
}


.title-award {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
}


.help {
  &-btn-add {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
  }
}

.btn-type-link {
  .v-icon {
    margin-left: 10px;
  }
}


.modal {
  &-add-judge {
    .v-card__text {
      display: flex;
      justify-content: space-between;
      .img_area {
        flex: 0 0 240px;
        .preview_wrap {
          border: 1px solid #505050;
          .image-container {
            background: url(/assets/img/common/bg-transparent.png);
            background-repeat: repeat;
            background-position: center;
            background-size: 20px;
            .image-icon-drag-wrap {
              margin: 0;
              svg {
                width: 20px;
              }
            }
            .browse-text {
              display: none;
            }
          }
        }
        .ihelp {
          margin-top: 15px;
        }
      }
      .input_area {
        flex: 0 0 calc(100% - 270px);
        &.input_area_type2 {
          flex: 1;
          display: flex;
          justify-content: space-between;
        }
        .top {
          display: flex;
          justify-content: space-between;
          .tleft {
            width: 245px;
          }
          .tright {
            width: 230px;
          }
        }
      }
      .list-field {
        li {
          display: flex;
          .v-btn {
            &.width-input {
              margin-left: 10px;
              font-size: 14px;
              font-weight: 400;
              border: 1px solid rgba(255,255,255,.7);
            }
          }
          &.password_wrap {
            flex-direction: column;
            margin-top: 12px;
            .judge_password {
              // display: flex;
              // .judge_name {
              //   display: flex;
              //   align-items: center;
              //   margin-bottom: 12px;
              //   width: 80px;
              //   color: #fff;
              // }
              .v-text-field {
                &.primary--text {
                  .v-text-field__prefix {
                    color: #fff;
                  }
                }
                .v-text-field__prefix {
                  padding-right: 15px;
                  font-size: 14px;
                  color: #999;
                }
              }
            }
          }
        }
      }
      .list-judge {
        flex: 0 0 calc(100% - 285px);
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            flex: 0 0 calc(1/5 * 100% - (1 - 1/5) * 5px);
            margin-right: 5px;
            margin-bottom: 5px;
            border: 1px solid rgba(255,255,255,.3);
            &:nth-of-type(5n) {
              margin-right: 0;
            }
            &.disabled {
              cursor: not-allowed;
              border-color: rgba(255,255,255,.2);
              .box-judge {
                background-color: #353535;
                color: #999;
                pointer-events: none;
                &.active {
                  background-color: #1b1b1b;
                  color: #bbb;
                  pointer-events: auto;
                }
              }
            }
            &.nodata {
              flex: 0 0 100%;
              border: 0;
              padding: 5px 0;
            }
            .box-judge {
              padding: 5px;
              font-weight: 500;
              text-align: center;
              color: #ccc;
              background-color: #1b1b1b;
              opacity: 0.4;
              position: relative;
              cursor: pointer;
              &.active {
                opacity: 1;
              }
            }
          }
        }
      }
      .token-judge {
        flex: 0 0 250px;
      }
      .slabel {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        .v-input--selection-controls {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: -2px;
          .v-input__slot {
            margin-bottom: 0;
            .v-input--selection-controls__input {
              margin-right: 0;
            }
          }
          .v-label {
            font-size: 14px;
            font-weight: 400;
          }
          .v-messages {
            display: none;
          }
        }
      }
    }
  }
  &-assign-judge {
    .v-card__text {
      display: flex;
      justify-content: space-between;
      .input_area {
          width: 100%;
        .list-judge {
          margin-top: 15px;
          border: 1px solid rgba(255,255,255,.1);
          background-color: #2c2c2c;
          &:first-child {
            margin-top: 0;
          }
          .tit {
            padding: 10px 12px 0;
            font-weight: 500;
            color: #fff;
            letter-spacing: -0.02em;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            padding: 12px 12px 4px;
            li {
              flex: 0 0 calc(1/5 * 100% - (1 - 1/5) * 8px);
              margin-right: 8px;
              margin-bottom: 8px;
              border: 1px solid rgba(255,255,255,.4);
              &:nth-of-type(5n) {
                margin-right: 0;
              }
              &.nodata {
                border: 0;
                flex: 0 0 100%;
              }
              .box-judge {
                color: #ddd;
                background-color: #1b1b1b;
                opacity: 0.5;
                position: relative;
                cursor: pointer;
                &.active {
                  opacity: 1;
                }
                .jname {
                  border-bottom: 1px solid rgba(255,255,255,.7);
                }
                .jlist {
                  padding: 5px;
                  height: 54px;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  span {
                    flex: 0 0 33.333%;
                    text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-add-popup {
    .v-card__text {
      display: flex;
      flex-direction: column;
      .top_area {
        display: flex;
        justify-content: space-between;
        .img_area {
          flex: 0 0 240px;
          .preview_wrap {
            margin-bottom: 25px;
            border: 1px solid #505050;
            .image-container {
              background: url(/assets/img/common/bg-transparent.png);
              background-repeat: repeat;
              background-position: center;
              background-size: 20px;
              .image-icon-drag-wrap {
                margin: 0;
                svg {
                  width: 20px;
                }
              }
              .browse-text {
                display: none;
              }
            }
          }
        }
        .input_area {
          flex: 0 0 calc(100% - 270px);
          .list-field {
            li {
              .col--2 {
                display: flex;
                justify-content: space-between;
                .v-input {
                  flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 10px);
                }
              }
            }
          }
        }
      }
      .bot_area {
        margin-top: 15px;
      }
      .alabel {
        margin-bottom: 10px;
        width: 100%;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
      }
      .slabel {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        .v-input--selection-controls {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: -2px;
          .v-input__slot {
            margin-bottom: 0;
            .v-input--selection-controls__input {
              margin-right: 0;
            }
          }
          .v-label {
            font-size: 14px;
            font-weight: 400;
          }
          .v-messages {
            display: none;
          }
        }
      }
    }
  }
  &-subcategory.v-dialog {
    .v-card {
      padding: 0;
      &__title {
        flex-direction: column;
        align-items: normal;
        margin: 0;
        .mtitle {
          padding: 24px;
        }
        .btn_area {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 24px 24px 30px;
          .btn-type-add-item {
            background-color: #0f0f0f !important;
            transition-property: box-shadow,transform,opacity,background-color,-webkit-box-shadow,-webkit-transform;
            &:hover {
              background-color: #ba5151 !important;
            }
          }
          .help-btn-add {
            font-weight: 400;
          }
        }
      }
      &__text {
        padding: 0 24px 10px;
        min-height: 453px;
        .list-card-subcategory {
          .list-item {
            cursor: move;
            .v-card {
              background-color: #1b1b1b;
              transition-duration: 0.3s;
              transition-property: opacity,background-color;
              opacity: 0.6;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              &__text {
                padding: 15px;
                min-height: auto;
                .scitem {
                  font-size: 13px;
                  font-weight: 400;
                  &.sctitle {
                    font-size: 15px;
                    font-weight: 700;
                  }
                  &.scsummary {
                    margin-top: 10px;
                    font-weight: 700;
                  }
                  &.scdesc {
                    margin-top: 15px;
                    min-height: 110px;
                  }
                  &.scexec {
                    margin-top: 15px;
                    min-height: 70px;
                  }
                }
                .filed-with-action {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .scitem {
                    width: calc(100% - 60px);
                  }
                  .action_area {
                    display: flex;
                    margin-left: 10px;
                    margin-right: -8px;
                    .v-btn--icon {
                      width: 24px;
                      height: 24px;
                      .v-icon {
                        font-size: 15px;
                        font-weight: 400;
                      }
                    }
                  }
                }
              }
              &:hover {
                opacity: 1;
              }
            }
            &.dragging {
              .v-card {
                opacity: 1;
                background-color: #121212;
                box-shadow: 0 6px 10px 0 rgba(0,0,0,.3);
                pointer-events: auto !important;
              }
            }
          }
        }
      }
    }
  }
  &-add-prize {
    .v-card {
      &__text {
        .slabel {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          font-size: 13px;
          font-weight: 700;
          color: #fff;
          .v-input--selection-controls {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: -2px;
            .v-input__slot {
              margin-bottom: 0;
              .v-input--selection-controls__input {
                margin-right: 0;
              }
            }
            .v-label {
              font-size: 14px;
              font-weight: 400;
            }
            .v-messages {
              display: none;
            }
          }
        }
        .preview_wrap {
          border: 1px solid #505050;
          .image-container {
            background: url(/assets/img/common/bg-transparent.png);
            background-repeat: repeat;
            background-position: center;
            background-size: 20px;
            .image-icon-drag-wrap {
              margin: 0;
              svg {
                width: 20px;
              }
            }
            .browse-text {
              display: none;
            }
          }
        }
      }
    }
  }
  &-add-post {
    .img_area {
      width: 350px;
      .preview_wrap {
        margin-bottom: 25px;
        border: 1px solid #505050;
        .image-container {
          background: url(/assets/img/common/bg-transparent.png);
          background-repeat: repeat;
          background-position: center;
          background-size: 20px;
          .image-icon-drag-wrap {
            margin: 0;
            svg {
              width: 20px;
            }
          }
          .browse-text {
            display: none;
          }
        }
      }
    }
    .btn_wrap {
      .slabel {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        width: 100px;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        .v-input--selection-controls {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: -2px;
          .v-input__slot {
            margin-bottom: 0;
            .v-input--selection-controls__input {
              margin-right: 0;
            }
          }
          .v-label {
            font-size: 14px;
            font-weight: 400;
          }
          .v-messages {
            display: none;
          }
        }
      }
    }
  }
  &-send {
    .v-card__actions {
      justify-content: flex-end;
      .v-btn {
        padding: 0 30px;
        font-weight: 400;
        border:1px solid rgba(255,255,255,0.2) !important;
      }
    }
    .v-autocomplete {
      .v-select__selections {
        .v-chip {
          border-radius: 2px;
          box-shadow: inset 0px 0px 2px #fff;
          // &:first-child {
          //   margin-left: -3px;
          // }
        }
      }
      &.v-select--is-menu-active {
        .v-input__control {
          .v-select__slot {
            .v-input__icon {
              .v-icon {
                transform: scaleY(-1);
              }
            }
          }
        }
      }
    }
  }
}


.pagination-admin {
  .v-pagination {
    li {
      .v-pagination__navigation {
        margin: .3rem 0;
        width: 28px;
        height: 28px;
        font-size: 18px;
        background-color: transparent;
        box-shadow: none;
      }
      .v-pagination__item {
        min-width: 28px;
        height: 28px;
        font-size: 12px;
        font-weight: 700;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 0;
        box-shadow: none;
        opacity: 0.5;
        &.v-pagination__item--active {
          background-color: transparent !important;
          border-color: #fff !important;
          color: #fff !important;
          opacity: 1;
        }
      }
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
}


.page-adminUserListStatus,
.page-adminPaymentList,
.page-adminPaymentStatus,
.page-adminAwardResultList,
.page-adminAwardResultStatus,
.page-adminAwardWinnerList,
.page-adminAwardWinnerStatus,
.page-adminAwardJudgement,
.page-adminAdministratorList,
.page-adminAdministratorLogs,
.page-adminCart {
  .v-data-table {
    margin-top: 20px;
    background-color: transparent;
    border-bottom: thin solid hsla(0,0%,100%,.12);
    border-radius: 0;
    >.v-data-table__wrapper {
      >table {
        >thead, >tbody {
          >tr {
            >th, >td {
              padding: 8px 16px;
              &:first-child {
                padding-left: 25px;
              }
              &:last-child {
                padding-right: 25px;
              }
              &.view-detail {
                width: 100px;
              }
              &.td_no {
                width: 80px;
              }
              &.td_date {
                width: 165px;
              }
              &.td_id {
                width: 100px;
              }
              &.td_pno {
                width: 180px;
              }
              &.td_wpno {
                width: 190px;
              }
              &.td_category {
                width: 160px;
              }
              &.td_subcategory {
                width: 150px;
              }
              &.td_company {
                width: 180px;
              }
              &.td_method {
                width: 110px;
              }
              &.td_count {
                width: 96px;
              }
              &.td_prize {
                width: 100px;
              }
              &.td_judge {
                width: 100px;
              }
              &.td_status {
                width: 110px;
              }
              &.td_status2 {
                width: 92px;
              }
              &.td_super {
                width: 115px;
              }
              .v-data-table__checkbox {
                .v-icon {
                  font-size: 18px;
                  color: #555;
                }
                .v-input--selection-controls__ripple {
                  left: -16px;
                }
              }
            }
            &.v-data-table__selected {
              th, td {
                .v-data-table__checkbox {
                  .v-icon {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
        >tbody {
          >tr {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.page-adminCart {
  .v-data-table {
    >.v-data-table__wrapper {
      >table {
        >thead,
        >tbody {
          >tr {
            cursor: auto;
            >th,
            >td {
              &.td_no {
                width: 110px;
              }
              &.td_id {
                width: 150px;
              }
              &.td_company {
                width: 240px;
              }
              &.td_date {
                width: 175px;
              }
            }
          }
        }
      }
    }
  }
}

.page-adminAwardJudgement {
  .modal-judgement {
    .v-data-table {
      margin-top: 0;
      background-color: #1e1e1e;
      border-bottom: 0;
      >.v-data-table__wrapper {
        >table {
          >thead,
          >tbody {
            >tr {
              cursor: auto;
              >th,
              >td {
                padding: 0 16px;
                font-weight: 500;
                &:first-child {
                  padding-left: 16px;
                }
                &:last-child {
                  padding-right: 16px;
                }
                .radio-group-score {
                  pointer-events: none;
                  margin-bottom: 0;
                  .v-radio {
                    .v-label {
                      top: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.selected-preview_wrap {
      position: fixed;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      z-index: 9;
      // .selected-preview {
      //   position: fixed;
      //   left: 0;
      //   top: 0;
      //   width: 1280px;
      //   background-color: #fff;
      //   z-index: 9;
      //   display: none;
      // }
    }
    .preview_wrap {
      position: fixed;
      left: 0;
      top: 0;
      width: 1280px;
      padding: 25px 30px 17px;
      color: #000;
      background-color: #fff;
      display: none;
      // &.preview_item {
      //   position: relative;
      //   left: auto;
      //   top: auto;
      //   display: block;
      //   .space_empty_1 {
      //     height: 630px;
      //   }
      // }
      .p_title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
      }
      .p_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 500;
        .p_work {
          text-align: left;
          .w_id {
            margin-left: 10px;
          }
        }
        .p_judge {
          text-align: right;
        }
      }
      .v-data-table {
        background-color: transparent;
        // border-top: 1px solid #000;
        >.v-data-table__wrapper {
          >table {
            >thead,
            >tbody {
              >tr {
                >th,
                >td {
                  height: 34px;
                  color: #000;
                  background-color: transparent;
                  border: 1px solid #888 !important;
                  &.td_in {
                    border-bottom-color: #ddd !important;
                  }
                  &.td-part {
                    width: 130px;
                  }
                  &.td-clause {
                    width: 90px;
                  }
                  &.td-check {
                    width: 380px;
                  }
                  &.td-score {
                    width: 90px;
                  }
                  &.td-total {
                    padding: 16px;
                    font-size: 16px;
                  }
                  +th,
                  +td,
                  &.td-second {
                    border-left-width: 0 !important;
                  }
                }
                +tr {
                  >th,
                  >td {
                    border-top-width: 0 !important;
                  }
                }
              }
            }
            >thead {
              >tr {
                >th,
                >td {
                  border-bottom-width: 0 !important;
                }
              }
            }
          }
        }
      }
      .v-input--radio-group {
        &.v-input--radio-group--row {
          &.radio-group-score {
            width: 280px;
            margin: 0 auto;
            padding-top: 10px;
            .v-radio {
              margin-right: 0;
              opacity: 0.7;
              transition: opacity 0.3s;
              &.v-item--active {
                opacity: 1;
                .v-icon {
                  font-size: 20px;
                }
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      .v-input--selection-controls {
        .v-input__slot {
          margin-bottom: 0;
        }
        .v-messages {
          min-height: 10px;
        }
        .v-radio {
          flex-direction: column;
          flex: 1;
          .v-input--selection-controls__input {
            margin-right: 0;
          }
          >.v-label {
            height: 18px;
            font-size: 10px;
            font-weight: 400;
            white-space: nowrap;
            color: #000;
          }
          .v-icon {
            color: #000;
          }
        }
      }
    }
  }
}


.page-adminUserDetail,
.page-adminUserCreate,
.page-adminPaymentDetail,
.page-adminAwardResultDetail,
.page-adminAwardWinnerDetail,
.page-adminAdministratorDetail,
.page-adminAdministratorCreate {
  .top_area {
    align-items: center;
    margin-bottom: 50px;
    padding: 0 24px;
    .btn-back {
      width: 40px;
      min-width: auto;
      height: 40px;
      padding: 0;
      font-size: 13px;
      border-width: 1px;
    }
    .atitle {
      margin-left: 18px;
      font-size: 15px;
      font-weight: 700;
      .num {
        margin-left: 12px;
      }
    }
    .user_date {
      font-size: 13px;
      font-weight: 700;
      color: #7e7e7e;
      span {
        margin-left: 10px;
        font-weight: 400;
        color: #fff;
      }
    }
    .user_state {
      margin-left: 30px;
      font-size: 13px;
      font-weight: 700;
      color: #7e7e7e;
      span {
        margin-left: 10px;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 18px;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
  .content_area {
    padding: 0 24px;
    .tb_user {
      tr {
        th {
          font-size: 13px;
          font-weight: 700;
          color: #7e7e7e;
          &.stit {
            width: 120px;
            padding: 0 50px 0 0;
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            vertical-align: top;
          }
        }
        td {
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          vertical-align: top;
          padding-right: 10px;
          .holder {
            height: 30px;
            line-height: 30px;
            margin-bottom: 27px;
            &.line-2 {
              padding-top: 5px;
              height: 50px;
              line-height: 1.5;
            }
            &.line-multi {
              padding-top: 8px;
              height: auto;
              line-height: 1.5;
            }
            &.w-xlong {
              max-width: 350px;
            }
            &~a {
              display: inline-block;
              vertical-align: top;
              padding-top: 3px;
            }
            .btn-type-copy {
              height: 30px;
            }
          }
          .holder-btn {
            height: 30px;
            line-height: 30px;
            margin-top: 10px;
            .v-btn {
              min-width: 96px;
              border-width: 1px;
              font-size: 12px;
            }
          }
          .v-input {
            &.v-text-field {
              max-width: 150px;
              &.w-long {
                max-width: 250px;
              }
              &.w-xlong {
                max-width: 350px;
              }
              &.w-max {
                max-width: 100%;
              }
              // &.v-textarea {
              //   &.memo {
              //     .v-input__control {
              //       .v-input__slot {
              //         background-color: #272727;
              //       }
              //     }
              //   }
              // }
              &.v-input--is-disabled {
                .v-text-field__details {
                  opacity: 0;
                }
              }
              .v-input__control {
                min-height: 30px;
                .v-input__slot {
                  margin-bottom: 5px;
                  .v-text-field__slot {
                    .v-label {
                      font-size: 13px;
                      color: #5a5a5a;
                    }
                    input {
                      padding: 0;
                      color: #fff;
                    }
                  }
                }
                .v-text-field__details {
                  padding: 0;
                  .v-messages {
                    min-height: 14px;
                    font-size: 11px;
                    font-weight: 400;
                    .xi {
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            &.v-input--is-disabled {
              .v-input__slot {
                padding: 0;
                border: 0;
                background-color: transparent;
                box-shadow: none;
              }
            }
          }
          .v-divider {
            padding-bottom: 25px;
          }
          &.td_date {
            width: 130px;
          }
          &.td_email {
            .v-input {
              &.v-text-field {
                max-width: 220px;
                width: 220px;
              }
            }
          }
          &.td_address {
            .v-input {
              &.v-text-field {
                .v-input__control {
                  .v-input__slot {
                    margin-bottom: 1px
                  }
                }
              }
            }
          }
          &:last-child {
            padding-right: 0;
          }
        }
        &.v-data-table__empty-wrapper {
          td {
            padding: 0 16px;
            height: 100px;
          }
        }
      }
      .tb_payment_detail_wrap {
        min-height: 245px;
        background-color: #252525;
        border: 1px solid #565656;
        .v-data-table {
          background-color: #252525;
          td {
            vertical-align: middle;
            &.td_wpno {
              width: 200px;
            }
          }
        }
      }
    }
    .work_img_area {
      width: 410px;
      padding-right: 30px;
      margin-bottom: 27px;
      .img_key {
        border: 1px solid #505050;
        position: relative;
        .v-image {
          cursor: pointer;
          &.noimg {
            cursor: auto;
          }
        }
        .btn-download {
          position: absolute;
          right: 5px;
          top: 5px;
          .v-icon {
            font-weight: 400;
          }
        }
      }
      .img_add {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        li {
          flex: 0 0 calc(1/5 * 100% - (1 - 1/5) * 10px);
          margin-left: 10px;
          border: 1px solid #505050;
          position: relative;
          &:first-child {
            margin-left: 0;
          }
          .v-image {
            cursor: pointer;
            &.noimg {
              cursor: auto;
            }
          }
        }
        .btn-download {
          position: absolute;
          right: 2px;
          top: 2px;
          width: 24px;
          height: 24px;
          .v-icon {
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
    .work_dsc_area {
      width: 658px;
    }
    .preview_wrap {
      margin-top: 8px;
      margin-bottom: 10px;
      .image-icon-drag-wrap {
        margin: 0;
        svg {
          width: 20px;
        }
      }
      .browse-text {
        display: none;
      }
    }
    .v-input--radio-group {
      margin: 0;
      padding: 0;
      .v-input__control {
        margin-left: -3px;
        label {
          letter-spacing: -0.05em;
        }
      }
      .v-input--checkbox {
        margin-top: 0;
      }
    }
    .list-judge {
      padding-top: 8px;
      margin-bottom: 27px;
    }
  }
  .bottom_area {
    padding: 0 24px;
    margin-top: 70px;
    .v-btn {
      margin-left: 15px;
      &.v-size--x-small:not(.v-btn--round) {
        height: 40px;
        padding: 0 15px;
        font-size: 13px;
        border: 1px solid #fff;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .btn_area {
    margin-top: 15px;
    display: flex;
    .v-btn {
      margin-left: 15px;
      &.v-size--x-small:not(.v-btn--round) {
        height: 40px;
        padding: 0 15px;
        font-size: 13px;
        border: 1px solid #fff;
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
}


.page-adminPaymentList,
.page-adminPaymentStatus {
  .v-data-table {
    .payment_num {
      padding: 3px 0;
      font-size: 13px;
      text-align: center;
      background-color: #5f5f5f;
      &.active {
        background-color: #62d32a;
        text-shadow: 0 0 2px rgba(0,0,0,.4);
      }
    }
  }
}


.page-adminAwardMain {
  .list-card {
    li {
      .v-card {
        transition-duration: 0.3s;
        transition-property: box-shadow,opacity,background-color,-webkit-box-shadow;
        &.v-card--link {
          &:hover {
            background-color: #373737;
            .v-card__title {
              .v-icon {
                color: #fff;
              }
            }
          }
        }
        .v-card__title {
          justify-content: space-between;
          .v-icon {
            font-weight: 400;
            color: #7e7e7e;
          }
        }
        .v-card__text {
          &.inner_list {
            padding: 20px 0;
          }
          .list-arrow {
            min-height: 200px;
            li {
              a {
                padding: 0 24px;
                transition-duration: 0.3s;
                transition-property: opacity,background-color;
                .v-icon {
                  color: #7e7e7e;
                }
                &:hover {
                  background-color: #373737;
                  .v-icon {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.page-adminAwardBase {
  .list-card {
    li {
      .v-card {
        .v-card__text {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .list-field {
            flex: 1;
            &.list-field-mh {
              min-height: 250px;
            }
            &.col--2 {
              flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 40px);
              li {
                margin-bottom: 18px;
              }
            }
            li {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              margin-bottom: 18px;
              &.sep {
                margin-top: 8px;
                margin-bottom: 21px;
              }
              .v-text-field {
                margin-bottom: 0;
                &.v-input--is-focused {
                  .v-input__control {
                    .v-input__slot {
                      background-color: rgba(0,0,0,.3);
                    }
                  }
                }
                .v-input__control {
                  .v-input__slot {
                    padding: 0 12px;
                    background-color: rgba(255,255,255,.03);
                    border: 1px solid rgba(255,255,255,1);
                    &::before,
                    &::after {
                      display: none;
                    }
                    .v-text-field__slot {
                      .v-label {
                        max-width: 140%;
                        font-weight: 700;
                        transform: translate(-12px,-38px) scale(1);
                        color: #fff;
                        &.primary--text {
                          color: #fff !important;
                        }
                      }
                      input {
                        caret-color: auto;
                      }
                    }
                    .v-input__append-inner {
                      margin-top: 5px;
                    }
                  }
                }
              }
              .color-chip {
                margin-left: 8px;
                display: inline-flex;
                flex: 0 0 auto;
                width: 40px;
                height: 40px;
                background-color: #555;
                background: url(/assets/img/common/bg-transparent.png);
                background-repeat: repeat;
                background-position: center;
                background-size: 20px;
                border: 1px solid #fff;
                transition-duration: 0.3s;
                transition-property: opacity,background-color;
              }
              .v-btn {
                margin-left: 15px;
                width: 64px;
                height: 40px;
                border-width: 1px;
              }
              .slabel {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: 13px;
                font-weight: 700;
              }
              .alabel {
                width: 100%;
                font-size: 14px;
                font-weight: 700;
              }
              .acon {
                display: flex;
                width: 100%;
                margin-top: 8px;
              }
              .shelp {
                font-size: 12px;
              }
              .preview_wrap {
                width: 100%;
                max-width: 266px;
                height: auto;
                border: 1px solid #505050;
                .image-container {
                  min-height: 130px;
                  background: url(/assets/img/common/bg-transparent.png);
                  background-repeat: repeat;
                  background-position: center;
                  background-size: 20px;
                }
                .image-icon-drag-wrap {
                  margin: 0;
                  svg {
                    width: 20px;
                  }
                }
                .browse-text {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}


.page-adminAwardPrizes {
  .top_btn_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.page-adminAwardResultList,
.page-adminAwardResultStatus,
.page-adminCart {
  .v-data-table {
    tr {
      td {
        .payment_num {
          padding: 3px 0;
          font-size: 13px;
          text-align: center;
          background-color: #5f5f5f;
          border: 1px solid #5f5f5f;
          text-shadow: 0 0 2px rgba(0,0,0,.4);
        }
      }
      &.wait {
        td {
          .payment_num {
            background-color: #5f5f5f;
            border-color: #5f5f5f;
          }
        }
      }
      &.process {
        td {
          .payment_num {
            background-color: #e23a15;
            border-color: #e23a15;
          }
        }
      }
      &.finish {
        td {
          &:not(.view-detail) {
            opacity: 0.5;
          }
          .payment_num {
            background-color: transparent;
            border-color: #979797;
          }
        }
      }
      &.hold {
        td {
          &:not(.view-detail) {
            opacity: 0.5;
          }
          .payment_num {
            background-color: #5f5f5f;
            border-color: #5f5f5f;
          }
        }
      }
      &.confirm {
        td {
          .payment_num {
            background-color: #62d32a;
            border-color: #62d32a;
          }
        }
      }
      &.cancel {
        td {
          &:not(.view-detail) {
            opacity: 0.2;
          }
          .payment_num {
            background-color: transparent;
            border-color: #979797;
          }
        }
      }
    }
  }
}


.page-adminAwardJudges {
  .list-card-image {
    li {
      .v-image {
        &:after {
          display: none;
        }
      }
    }
  }
}


.page-adminAwardWinnerList,
.page-adminAwardWinnerStatus {
  .v-data-table {
    tr {
      td {
        .payment_num {
          padding: 3px 0;
          font-size: 13px;
          text-align: center;
          background-color: #5f5f5f;
          border: 1px solid #5f5f5f;
          text-shadow: 0 0 2px rgba(0,0,0,.4);
        }
      }
      &.wait {
        td {
          .announcement-pre {
            background-color: #5f5f5f;
            border-color: #5f5f5f;
          }
        }
      }
      &.announcement-complete {
        td {
          .payment_num {
            background-color: #caa181;
            border-color: #caa181;
          }
        }
      }
      &.yearbook-request {
        td {
          .payment_num {
            background-color: #2a85d3;
            border-color: #2a85d3;
          }
        }
      }
      &.yearbook-complete {
        td {
          .payment_num {
            background-color: #0a1fdd;
            border-color: #0a1fdd;
          }
        }
      }
      &.closing {
        td {
          &:not(.view-detail) {
            opacity: 0.5;
          }
          .payment_num {
            background-color: #000;
            border-color: #000;
          }
        }
      }
    }
  }
}


.page-adminAdministratorDetail,
.page-adminAdministratorCreate {
  .box_auth {
    display: flex;
    align-items: center;
    .list_auth {
      width: 250px;
      height: 247px;
      padding: 0;
      background-color: #252525;
      border: 1px solid #565656;
      overflow: hidden;
      pointer-events: none;
      &.active {
        pointer-events: auto;
      }
      .v-list-item {
        min-height: 40px;
        font-size: 13px;
        border-bottom: 1px solid #434343;
        display: none;
        &.v-list-item--active {
          display: flex;
          &:before {
            opacity: 0;
          }
        }
        &:hover {
          &:before {
            opacity: 0.08;
          }
        }
        .v-list-item__content {
            padding: 8px 0;
        }
      }
    }
    .sep {
      display: flex;
      flex-direction: column;
      margin: 0 25px;
      .v-icon {
        margin-top: 8px;
        width: 30px;
        height: 30px;
        font-size: 10px;
        font-weight: 700;
        border: 1px solid #fff;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}


.page-adminAwardMain,
.page-adminAwardBase,
.page-adminAwardJudges,
.page-adminAwardPopup,
.page-adminAwardDescript,
.page-adminAwardCategories,
.page-adminAwardPrizes,
.page-adminAwardResultList,
.page-adminAwardResultStatus,
.page-adminAwardResultDetail,
.page-adminAwardWinnerList,
.page-adminAwardWinnerDetail,
.page-adminAwardJudgement,
.page-adminAwardAboardList {
  .layout-admin .container-admin > .title_area {
    display: none;
  }
}


.content_wrap.no-permission {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  .v-icon {
    font-size: 50px;
  }
  .con {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .dsc {
    margin-top: 50px;
    font-size: 14px;
    color: #a1a1a1;
    text-align: center;
  }
}