@charset "utf-8";

@import './variables';
@import './reset';
@import './font';
@import './layout';
@import './vuetify';


[class^="xi-"],
[class*=" xi-"] {
  line-height: inherit;
}

.blind {
  position:absolute;
  clip:rect(0,0,0,0);
  width:1px;
  height:1px;
  margin:-1px;
  overflow:hidden
}

.w60 {
  width: 60px;
}

.pre-formatted {
  white-space: pre-wrap;
}

.emphasis {
  color: #fff;
  font-weight: 700;
}

.ellipsis-1 {
  @include ellipsis(1, $line-height);
}
.ellipsis-2 {
  @include ellipsis(2, $line-height);
}
.ellipsis-3 {
  @include ellipsis(3, $line-height);
}

.mobile_helper {
  display: none;
}

// layout-default
.layout-default {
  .title_area {
    // margin-bottom: 90px;
    font-weight: 700;
    line-height: 1.4;
    .title {
      &-1 {
        font-size: 80px;
        &.title-winner {
          font-size: 120px;
          line-height: 1.1;
          span {
            font-size: 100px;
            color: #000;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
          }
          @supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
            span {
                color: transparent;
                -webkit-text-stroke: 2px #fff;
                text-stroke: 2px #fff;
                text-shadow: none;
            }
          }
          &.title-archive {
            font-size: 100px;
            line-height: 1.4;
          }
        }
      }
      &-2 {
        font-size: 60px;
      }
      &-5 {
        font-size: 38px;
        letter-spacing: -0.05em;
      }
    }
    .title-sub {
      &-1 {
        margin-top: 50px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.7;
        color: #a1a1a1;
        &.title-winner {
          font-size: 30px;
          color: #fff;
          a {
            color: #ff6ebe;
          }
        }
      }
    }
    .title-line {
      span {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: -220px;
          top: 50%;
          transform: translateY(-50%);
          width: 160px;
          height: 10px;
          background-color: #fff;
        }
      }
    }
    .v-btn {
      margin-top: 35px;
      &.v-btn--active:before {
        opacity: 0;
      }
      &:hover:before {
        opacity: .08;
      }
    }
    .help-covid {
      font-size: 20px;
      color: #0819ed;
    }
  }

  .title-3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
  }

  .title-sub-3 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
    color: #a1a1a1;
  }

  .title-4 {
    font-size: 54px;
    font-weight: 700;
    line-height: 1;
  }
}


// layout-admin
.layout-admin {
  .title_area {
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1.4;
    .title {
      &-1 {
        margin-bottom: 10px;
        font-size: 30px;
      }
    }
    .title-sub {
      &-1 {
        font-size: 15px;
      }
    }
  }
}


.list-card {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  &.col--3 {
    >li, >.list-item {
      flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
  &.col--2 {
    >li, >.list-item {
      flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
  &.col--1-2 {
    >li, >.list-item {
      flex: 0 0 calc(1/3 * 100% - (1 - 1/3) * 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-of-type(2n) {
        flex: 0 0 calc(2/3 * 100% - (1 - 2/3) * 20px);
        margin-right: 0;
      }
    }
  }
  li, >.list-item {
    margin-bottom: 20px;
    flex: 0 0 100%;
    .v-card {
      background-color: #2f2f2f;
      &:not(.v-sheet--outlined) {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      }
      &__title {
        padding: 16px 24px;
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        letter-spacing: -0.02em;
        .v-btn {
          margin-right: -10px;
          .v-icon {
            font-size: 18px;
          }
        }
      }
      &__text {
        padding: 20px 24px;
        font-size: 14px;
        color: #fff !important;
        letter-spacing: -0.02em;
        transition-duration: 0.3s;
        transition-property: opacity,background-color;
        &.is-open {
          background-color: #272727;
          .ctitle {
            .v-icon {
              // transform: rotate(-180deg);
              transform: scaleY(-1);
            }
          }
          .toggle_wrap {
            max-height: 2000px;
          }
        }
        .scon {
          padding: 10px 0;
          font-size: 30px;
          font-weight: 700;
          &.no-permission {
            color: #3f3f3f;
          }
        }
        .ctitle {
          display: flex;
          align-items: center;
          font-weight: 700;
          cursor: pointer;
          .v-icon {
            color: #7e7e7e;
          }
        }
        .toggle_wrap {
          max-height: 0;
          overflow: hidden;
          transition: all 0.3s;
        }
        .list-templete {
          padding-top: 20px;
          &.templete-sms {
            padding-bottom: 10px;
            max-width: 250px;
          }
          dt {
            display: flex;
            align-items: center;
            .v-btn {
              margin-right: -8px;
            }
          }
          dd {
            margin-top: 12px;
            &:first-of-type {
              margin-top: 8px;
            }
          }
        }
        .v-input--selection-controls {
          margin-top: 0;
          margin-left: -2px;
          .v-input__slot {
            margin-bottom: 0;
            .v-input--selection-controls__input {
              margin-right: 0;
            }
          }
          .v-label {
            font-size: 14px;
            font-weight: 400;
          }
          .v-messages {
            display: none;
          }
          &.v-input--radio-group {
            >.v-input__control {
              >.v-input__slot {
                cursor: auto;
                >.v-input--radio-group__input {
                  align-items: center;
                  .btn-submit {
                    margin-right: -10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


.list-dot {
  li {
    padding-left:1em;
    text-indent:-0.5em;
    &:before {
      content:'\2022';
      display: inline-block;
      margin-right:8px;
      transform: scale(0.8);
    }
  }
}

.list-num {
  counter-reset:step;
  li {
    padding-left:1.4em;
    text-indent:-1em;
    counter-increment:step;
    &:before {
      content:counter(step)'.';
      // display: inline-block;
      margin-right:5px;
    }
  }
}

.list-arrow {
  li {
    margin-bottom: 0;
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 40px;
    }
  }
}

.list-input {
  >li {
    margin-bottom: 50px;
    &.space-more {
      padding-top: 20px;
    }
  }
  &-check {
    li {
      margin-bottom: 20px;
    }
  }
}

.list-label-con {
  li {
    margin-bottom: 40px;
    .hlabel {
      font-size: 18px;
      font-weight: 700;
      color: #a1a1a1;
    }
    .hcon {
      margin-top: 8px;
      font-size: 24px;
      font-weight: 700;
    }
    .hdsc {
      margin-top: 5px;
      font-size: 14px;
      color: #a1a1a1;
    }
  }
}

.list-box {
  li {
    margin-bottom: 25px;
  }
}

.list-box-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 40px;
  }
}

.list-inline {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 20px;
  }
}

.box-1 {
  display: flex;
  justify-content: space-between;
  li {
    padding: 50px;
    background-color: #303030;
  }
  &.col--2 {
    li {
      flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 40px);
    }
  }
}


.loading-image {
  margin: 0;
  height: 100%;
  justify-content: center !important;
  align-items: center !important;
  .v-progress-circular {
    color: #ddd;
    caret-color: #ddd;
  }
}


.label-alone-basic {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  transform: scale(0.75);
  transform-origin: top left;
  &.prefill {
    color: #a1a1a1;
  }
}

.label-dsc {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
}

.label-helper {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #a1a1a1;
  &-white {
    color: #fff;
  }
}

.con-alone-basic {
  font-size: 24px;
}


.btn {
  &-area {
    &-bottom {
      margin-top: 120px;
      margin-bottom: 300px;
      .container-inner {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  }
  &-close {
    &_top-right {
      position: absolute;
      right: 26px;
      top: 26px;
    }
  }
  &-type {
    &-angle {
      display: inline-flex;
      justify-content: space-between;
      &:not(.btn-type-intable).v-size- {
        &-x-small {
          .v-icon {
            margin-left: 10px;
          }
        }
        &-small {
          .v-icon {
            margin-left: 15px;
          }
        }
        &-default {
          .v-icon {
            margin-left: 20px;
          }
        }
        &-large {
          .v-icon {
            margin-left: 25px;
          }
        }
        &-x-large {
          .v-icon {
            margin-left: 30px;
          }
        }
      }
      &.wide {
        &:not(.btn-type-intable).v-size- {
          &-x-small {
            .v-icon {
              margin-left: 20px;
            }
          }
          &-small {
            .v-icon {
              margin-left: 45px;
            }
          }
          &-default {
            .v-icon {
              margin-left: 60px;
            }
          }
          &-large {
            .v-icon {
              margin-left: 90px;
            }
          }
          &-x-large {
            .v-icon {
              margin-left: 100px;
            }
          }
        }
      }
    }
    &-extlink {
      display: inline-flex;
      justify-content: space-between;
      .v-icon {
        font-weight: 400;
      }
      &:not(.btn-type-intable).v-size- {
        &-x-small {
          .v-icon {
            margin-left: 5px;
          }
        }
        &-small {
          .v-icon {
            margin-left: 8px;
          }
        }
        &-default {
          .v-icon {
            margin-left: 10px;
          }
        }
        &-large {
          .v-icon {
            margin-left: 20px;
          }
        }
        &-x-large {
          .v-icon {
            margin-left: 25px;
          }
        }
      }
    }
    &-link {
      font-size: inherit !important;
      letter-spacing: -0.05em;
    }
    &-intable {
      .v-icon {
        font-size: 0.8em;
        font-weight: 700;
      }
    }
    &-copy {
      font-weight: 400;
    }
    &-add-item {
      background-color: #3c3c3c !important;
      opacity: 0.5;
      &:hover {
        background-color: #ba5151 !important;
        opacity: 1;
        &::before {
          opacity: 0 !important;
        }
      }
    }
  }
}

.link {
  &-underline {
    height: auto !important;
    padding: 5px 1px 5px 0 !important;
    border-bottom: 1px solid #fff;
  }
  &-underline-dense {
    height: auto !important;
    padding: 2px 1px 2px 0 !important;
    border-bottom: 1px solid #fff;
  }
}


.v-dialog {
  &.modal {
    &-user {
      .v-card {
        padding: 60px 40px;
        .v-card__title {
          padding-top: 20px;
          font-size: 34px;
          font-weight: 700;
        }
        .v-card__text {
          margin-top: 40px;
          font-size: 24px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: -0.05em;
          color: #a1a1a1;
          .emphas-white {
            color: #fff;
          }
          .v-input {
            &.v-text-field--solo {
              .v-input__control {
                .v-input__slot {
                  .v-text-field__slot {
                    .v-label {
                      top: calc(50% - 11px);
                      font-size: 18px;
                      font-weight: 400;
                      color: #999;
                    }
                    input {
                      font-size: 20px;
                      font-weight: 400;
                    }
                  }
                  .v-input__append-inner {
                    .v-input__icon {
                      .v-btn {
                        min-width: 44px;
                        height: 40px;
                        padding: 0 10px;
                        background-color: transparent;
                        box-shadow: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .v-card__actions {
          margin-top: 65px;
          justify-content: space-between;
          .v-btn {
            flex: auto;
            margin-left: 30px;
            height: 60px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .btn_wrap {
          position: absolute;
          top: 30px;
          right: 30px;
          .btn-close {
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
            .v-icon {
              width: 40px;
              height: 40px;
              font-size: 36px;
              color: #eee;
            }
          }
        }
      }
    }
    &-confirm {
      .v-card {
        .v-card__title {
          font-size: 15px;
          font-weight: 700;
        }
        .v-card__text {
          font-size: 15px;
          color: #eee;
          .text-width-select {
            display: flex;
            align-items: center;
            .v-select {
              margin: 0 10px;
              flex: 0 0 auto;
              width: 150px;
              font-size: 14px;
            }
          }
          .text-width-select-multline {
            .v-select {
              margin: 10px 0;
            }
          }
          .title-width-select {
            .tit {
              margin-bottom: 15px;
              font-weight: 700;
            }
          }
          .v-select {
            margin: 0;
            font-size: 14px;
            .v-input__control {
              .v-input__slot {
                padding: 5px 12px;
                .v-select__selections {
                  min-height: 38px;
                  .v-chip.v-size--default {
                    height: 30px;
                    font-size: 12px;
                    border-radius: 4px;
                  }
                }
              }
            }
          }
        }
        .v-card__actions {
          justify-content: flex-end;
          .v-btn {
            padding: 0 30px;
            font-weight: 400;
            border:1px solid rgba(255,255,255,0.2);
          }
        }
      }
    }
    &-carousel {
      &:not(.v-dialog--fullscreen) {
        max-width: 98%;
        max-height: 98%;
        .v-window__prev, .v-window__next {
          margin: 0 5px;
          .v-btn {
            .v-icon {
              font-size: 24px !important;
            }
          }
        }
      }
      .v-card {
        overflow: hidden;
        .v-card__text {
          position: relative;
          // overflow: hidden;
        }
        .btn_wrap {
          right: 24px;
          .btn-close {
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
            .v-icon {
              color: #eee;
            }
          }
        }
      }
      .v-carousel {
        position: static;
        .v-window__container {
          position: static;
        }
        .v-carousel__controls {
          .v-carousel__controls__item {
            width: 20px;
            height: 20px;
            margin: 0 4px;
            .v-icon {
              font-size: 12px !important;
            }
          }
        }
      }
    }
    &-media {
      &:not(.v-dialog--fullscreen) {
        max-width: 98%;
        max-height: 98%;
        .v-window__prev, .v-window__next {
          margin: 0 5px;
          .v-btn {
            .v-icon {
              font-size: 24px !important;
            }
          }
        }
      }
      .v-card {
        padding: 24px;
        .v-card__text {
          position: relative;
          overflow: hidden;
        }
        .btn_wrap {
          position: absolute;
          top: 24px;
          right: 24px;
          .btn-close {
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
            .v-icon {
              color: #eee;
            }
          }
        }
      }
    }
    &-config {
      .v-card {
        padding: 26px;
        .v-card__title {
          margin-bottom: 30px;
          font-size: 18px;
          font-weight: 700;
        }
        .v-card__text {
          font-size: 16px;
          color: #eee;
          .v-input {
            margin-bottom: 10px;
            .v-input__control {
              min-height: 46px;
              .v-input__slot {
                border: 1px solid rgba(255,255,255,.2);
                .v-label {
                  top: calc(50% - 10px);
                  font-size: 15px;
                  font-weight: 400;
                }
                input {
                  padding: 5px 0;
                  font-size: 15px;
                  font-weight: 400;
                }
              }
              .v-text-field__details {
                display: none;
              }
            }
          }
          .preview_wrap {
            margin-bottom: 25px;
            border: 1px solid #505050;
            .image-container {
              background: url(/assets/img/common/bg-transparent.png);
              background-repeat: repeat;
              background-position: center;
              background-size: 20px;
              .image-icon-drag-wrap {
                margin: 0;
                svg {
                  width: 20px;
                }
              }
              .browse-text {
                display: none;
              }
            }
          }
        }
        .btn_wrap {
          position: absolute;
          top: 24px;
          right: 24px;
          .btn-close {
            width: 30px;
            height: 30px;
            .v-icon {
              font-size: 18px;
              font-weight: 400;
              color: #9e9e9e;
            }
          }
        }
        .v-card__actions {
          margin-top: 30px;
          justify-content: flex-end;
          .v-btn {
            padding: 0 30px;
            font-weight: 400;
            border:1px solid rgba(255,255,255,0.2);
          }
        }
      }
    }
    &-term {
      position: relative;
      &:before,
      &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        pointer-events: none;
        z-index: 8;
      }
      &:before {
        top: 0;
        height: 20%;
        @include scrimGradient($startColor: rgba(0,0,0,0.5), $direction: 'to bottom');
      }
      &:after {
        bottom: 0;
        height: 20%;
        @include scrimGradient($startColor: rgba(0,0,0,0.5), $direction: 'to top');
      }
      .v-card {
        background-color: #000 !important;
        font-size: 20px;
        font-weight: 500;
        color: #a1a1a1;
      }
      .btn-close {
        position: absolute;
        right: 60px;
        top: 60px;
        z-index: 9;
        .v-icon {
          font-size: 42px;
        }
      }
      .container-modal-full {
        display: flex;
        flex: -1 1 100%;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        .content_area {
          padding-bottom: 150px;
          .ttoptext {
            padding: 70px 60px;
            font-size: 18px;
            font-weight: 700;
            color: #a1a1a1;
            position: relative;
            z-index: 8;
          }
          .inner-content {
            width: 100%;
            max-width: 1470px;
            margin: 0 auto;
            padding: 110px 0 110px;
            position: relative;
            &.ttitle_wrap {
              max-width: 100%;
              position: relative;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              padding: 0;
              line-height: 1.3;
              pointer-events: none;
              z-index: 8;
            }
            .ttitle {
              max-width: 1470px;
              margin: 0 auto;
              font-size: 100px;
              font-weight: 700;
              color: #fff;
              transition: transform .4s;
              transform-origin: top left;
            }
          }
          .con_aera {
            padding-bottom: 150px;
            border-top: 1px solid #484848;
          }
          &.active {
            .ttitle_wrap {
              position: fixed;
              top: 20px;
              left: 50%;
              transform: translateX(-50%);
              .ttitle {
                // font-size: 30px;
                transform: scale(0.3);
              }
            }
          }
        }
        .btn_wrap {
          display: flex;
          justify-content: center;
          .v-btn {
            padding: 0 100px;
          }
        }
      }
    }
    &-bill {
      &:not(.v-dialog--fullscreen) {
        max-width: 98%;
        max-height: 98%;
      }
      .v-card {
        padding: 12px;
        .v-card__text {
          position: relative;
          overflow: hidden;
        }
        .btn_wrap {
          position: absolute;
          top: 16px;
          right: 10px;
          .btn-close {
            text-shadow: 0 0 5px rgba(0,0,0,0.5);
            .v-icon {
              font-size: 20px;
              color: #eee;
            }
          }
        }
      }
    }
    &-judgement {
      .v-card {
        padding: 30px;
        .v-card__title {
          font-size: 22px;
          line-height: 1;
        }
        .v-card__text {
          overflow: hidden;
          .inner-content {
            height: calc(90vh - 102px);
            overflow-y: scroll;
            .zero {
              opacity: 0.3;
            }
            .v-input--radio-group {
              &.v-input--radio-group--row {
                &.radio-group-score {
                  width: 280px;
                  margin: 0 auto;
                  padding-top: 20px;
                  .v-radio {
                    margin-right: 0;
                    opacity: 0.7;
                    transition: opacity 0.3s;
                    &.v-item--active {
                      opacity: 1;
                      .v-icon {
                        font-size: 20px;
                      }
                    }
                    &:hover {
                      opacity: 1;
                    }
                  }
                }
              }
            }
            .v-input--selection-controls {
              .v-input__slot {
                margin-bottom: 0;
              }
              .v-radio {
                flex-direction: column;
                flex: 1;
                .v-input--selection-controls__input {
                  margin-right: 0;
                }
                >.v-label {
                  font-size: 12px;
                  white-space: nowrap;
                  color: #ddd;
                }
              }
            }
          }
        }
        .btn_wrap {
          position: absolute;
          top: 24px;
          right: 17px;
          display: flex;
          .btn-submit {
            font-size: 15px;
            font-weight: 700;
          }
          .btn-close {
            width: 30px;
            height: 30px;
            .v-icon {
              font-size: 18px;
              font-weight: 400;
              color: #9e9e9e;
            }
          }
        }
      }
    }
  }
}


.v-select {
  .v-input__control {
    .v-select__slot {
      .v-input__icon--append {
        .v-icon {
          &.primary--text {
            color: #fff !important;
          }
        }
      }
    }
  }
  &.items_archive_year {
    width:90px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.05em;
    pointer-events: auto;
    .v-input__control {
      min-height: auto;
      .v-input__slot {
        padding: 0 !important;
        border: 0;
        background-color: transparent !important;
        .v-select__slot {
          .v-select__selections {
            .v-select__selection--comma {
              margin: 2px 4px 2px 0;
            }
            input {
              flex: 0 0 1px;
              padding: 0;
            }
          }
          .v-input__append-inner {
            .v-input__icon {
              width: 22px;
              min-width: 22px;
              font-size: 20px;
            }
          }
        }
      }
    }
    &.v-select--is-menu-active {
      .v-input__control {
        .v-select__slot {
          .v-select__selections {
            .v-select__selection--comma {
              color: transparent;
            }
          }
          .v-input__icon {
            .v-icon {
              transform: scaleY(-1);
            }
          }
        }
      }
    }
  }
}

.v-menu__content {
  border-radius: 0;
  &.item_select {
    .v-list {
      padding: 0;
      outline: 0;
      .v-subheader {
        height: 34px;
        font-size: 12px;
        background-color: #151515;
      }
      .v-list-item {
        min-height: 40px;
        .v-list-item__title {
          font-size: 13px;
        }
        &.v-list-item--active {
          color: #fff !important;
        }
      }
    }
    &.item_archive_year {
      box-shadow: none;
      .v-list {
        background-color: transparent;
        .v-list-item {
          padding: 0;
          min-height: 30px;
          &:before {
            background-color: transparent;
          }
          .v-list-item__content {
            padding: 0;
            .v-list-item__title {
              font-size: 20px;
              font-weight: 600;
              letter-spacing: -0.05em;
              color: #606060;
            }
          }
          &.v-list-item--active {
            .v-list-item__title {
              color: #fff;
            }
          }
          &:hover {
            .v-list-item__title {
              color: #fff;
            }
          }
        }
      }
    }
  }
}


.inline-editor {
  .cke_textarea_inline {
    &.cke_focus {
      border: 0;
      outline: 0;
    }
  }
  &.isadmin {
    .cke_textarea_inline {
      transition: all 0.3s;
      &:hover,
      &.cke_focus {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
}

.config_admin {
  &.in-section {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    .v-btn {
      background-color: rgba(255,255,255,0.1) !important;
      width: 46px;
      min-width: 46px;
      height: 46px;
    }
  }
}


.cke_float {
  display: none !important;
}


.snackbar-global {
  .v-snack__wrapper {
    width: 520px;
    bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    .v-snack__content {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      // text-shadow: 0 0 5px rgba(0,0,0,.3);
      .v-icon {
        margin-right: 10px;
        font-size: 1.6em;
        font-weight: 400;
      }
    }
  }
}


.scrollable {
  overflow-y:scroll;
  overflow-x:hidden;
  // &::-webkit-scrollbar{width: 6px;}
  // &::-webkit-scrollbar-track {background-color:#111;}
  // &::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,0.3);border-radius: 10px;}
  // &::-webkit-scrollbar-thumb:hover {background: rgba(255,255,255,0.5);}
}


.v-input {
  &.hidden-field {
    // display: none;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
}

.v-textarea {
  &.maxheight-in {
    .v-text-field__slot {
      overflow-y: scroll;
      overflow-x:hidden;
      &::-webkit-scrollbar{width: 6px;}
      &::-webkit-scrollbar-track {background-color:#111;}
      &::-webkit-scrollbar-thumb {background-color:rgba(255,255,255,0.3);border-radius: 10px;}
      &::-webkit-scrollbar-thumb:hover {background: rgba(255,255,255,0.5);}
    }
    &-600 {
      .v-text-field__slot {
        max-height: 600px;
      }
    }
    &-400 {
      .v-text-field__slot {
        max-height: 400px;
      }
    }
  }
}

.v-input--selection-controls {
  &.lg-icon {
    .v-input--selection-controls__input {
      .v-icon {
        font-size: 28px;
      }
    }
  }

}


.popup_wrap {
  // display: none;
  position: fixed;
  z-index: 9999;
  .popup_item {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 15px 6px #000;
    .popup_content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .popup_headline {
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        color: #000;
        text-align: center;
      }
    }
    .popup_close {
      position: absolute;
      right: -10px;
      top: -10px;
      width: 30px;
      height: 30px;
      color: #000;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 4px -4px 10px 2px #000;
      overflow: hidden;
      cursor: pointer;
      .v-icon {
        font-size: 18px;
        color: #000;
        pointer-events: none;
      }
    }
  }
}



// animation
@keyframes wheel-up-down {
  0% {
      top: 0px;
      transform: scale(0.1);
  }
  40% {
      transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  90% {
      top: 41px;
      transform: scale(0.1);
  }
  100% {
    top: 0px;
    transform: scale(0);
  }
}

@keyframes background {
  0% {
    background-color: #000;
  }
  33% {
    background-color: #333;
  }
  66% {
    background-color: #666;
  }
  100% {
    background-color: #999;
  }
}

@keyframes slidetounlock {
  0% {
    background-position: -175px 0;
  }
  10% {
    background-position: -175px 0;
  }
  50% {
    background-position: 175px 0;
  }
  100% {
    background-position: 175px 0;
  }
}




@media screen and (max-width:$break-md) {
  .mobile_helper {
    display: block;
    &_inline {
      display: inline-block;
    }
  }

  .layout-default {
    .title_area {
      .title-1 {
        font-size: 44px;
        &.title-winner {
          font-size: 52px;
          span {
            font-size: 44px;
          }
          &.title-archive {
            font-size: 44px;
            line-height: 1.3;
          }
        }
      }
      .title-sub-1 {
        margin-top: 38px;
        font-size: 16px;
        &.title-winner {
          font-size: 16px;
        }
      }
      .help-covid {
        font-size: 12px;
      }
    }
  }

  .v-dialog {
    &.modal {
      &-user {
        width: calc(100% - 30px);
        .v-card {
          padding: 60px 20px;
          .v-card__title {
            padding-top: 0;
            font-size: 22px;
          }
          .v-card__text {
            margin-top: 20px;
            font-size: 16px;
            .v-input {
              &.v-text-field--solo {
                .v-input__control {
                  .v-input__slot {
                    .v-text-field__slot {
                      .v-label {
                        font-size: 14px;
                      }
                      input {
                        font-size: 16px;
                      }
                    }
                  }
                }
              }
            }
          }
          .v-card__actions {
            margin-top: 20px;
            .v-btn {
              width: 50%;
              height: 50px;
              margin-left: 16px;
              font-size: 16px;
              &:first-child {
                margin-left: 0;
              }
            }
          }
          .btn_wrap {
            right: 15px;
            top: 15px;
            .btn-close {
              .v-icon {
                width: 32px;
                height: 32px;
                font-size: 30px;
              }
            }
          }
        }
      }
      &-term {
        .v-card {
          font-size: 16px;
        }
        .btn-close {
          right: 20px;
          top: 20px;
          .v-icon {
            font-size: 26px;
          }
        }
        .container-modal-full {
          .content_area {
            padding-bottom: 70px;
            .ttoptext {
              padding: 24px 24px;
              font-size: 12px;
            }
            .inner-content {
              padding: 80px 24px 80px;
              &.ttitle_wrap {
                top: 80px;
                left: calc(50% + 24px);
              }
              .ttitle {
                font-size: 42px;
              }
            }
            .tdsc {
              padding-top: 130px;
            }
            .con_aera {
              padding-bottom: 80px;
            }
            &.active {
              .ttitle_wrap {
                top: 20px;
                left: calc(50% + 24px);
                .ttitle {
                  transform: scale(0.4);
                }
              }
            }
          }
          .btn_wrap {
            .v-btn {
              padding: 0 70px;
            }
          }
        }
      }
      &-media {
        .v-card {
          padding: 12px;
          .btn_wrap {
            top: 10px;
            right: 10px;
          }
        }
      }
      &-judgement {
        .v-card {
          padding: 20px;
          .v-card__text {
            .inner-content {
              height: calc(90vh - 82px);
            }
          }
          .btn_wrap {
            top: 16px;
          }
        }
      }
    }
  }

  .v-select {
    &.items_archive_year {
      width: 72px;
      font-size: 16px;
      .v-input__control {
        .v-input__slot {
          .v-select__slot {
            padding-left: 6px;
            .v-input__append-inner {
              padding: 0;
              .v-input__icon {
                width: 18px;
                min-width: 18px;
              }
            }
          }
        }
      }
    }
  }

  .v-menu__content {
    &.item_select {
      &.item_archive_year {
        .v-list {
          background-color: #222;
          .v-list-item {
            padding-left: 6px;
            .v-list-item__content {
              .v-list-item__title {
                font-size: 16px;
                color: #606060;
              }
            }
            &.v-list-item--active {
              .v-list-item__title {
                color: #fff;
              }
            }
            &:hover {
              .v-list-item__title {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .list-box-2 {
    flex-direction: column;
    li {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .config_admin {
    &.in-section {
      right: 24px;
    }
  }

  .label-dsc {
    font-size: 14px;
  }
}