@charset "utf-8";

.section-items {
  &.section {
    margin-top: 200px;
    font-size: 24px;
    font-weight: 700;
    color: #a1a1a1;
    letter-spacing: -0.05em;
    .container-inner {
      padding-left: 80px;
      padding-right: 80px;
    }

    &-enroll-main-cover {
      .cover {
        margin-bottom: 300px;
        color: #fff;
        .container {
          margin-left: 0;
        }
        position: relative;
        .v-image {
          width: 91%;
        }
        .container {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          .tit {
            position: absolute;
            left: 0;
            bottom: -70px;
            font-size: 80px;
            line-height: 1.2;
          }
        }
      }
    }

    &-enroll-main {
      .title-4 {
        color: #fff;
      }
      .con {
        margin-top: 60px;
        .hdline {
          font-size: 34px;
          color: #fff;
          .help_inline {
            margin-left: 10px;
            font-size: 24px;
            color: #a1a1a1;
          }
        }
        .box-1 {
          margin-top: 80px;
          .tit {
            font-size: 34px;
            color: #fff;
          }
          .dsc {
            margin-top: 40px;
            font-size: 22px;
          }
        }
        .list-prize {
          li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            .dsc {
              flex: 0 0 50%;
            }
            .logo {
              flex: 0 0 50%;
              max-width: 510px;
              background-color: #303030;
              .v-responsive__content {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              img {
                max-height: 68px;
              }
            }
            &.item_3 {
              .logo {
                img {
                  max-height: 38px;
                }
              }
            }
            &.item_5 {
              .logo {
                img {
                  max-height: 40px;
                }
              }
            }
          }
        }
      }
      .help-warning {
        color: #ff6ebe;
        .v-icon {
          font-size: 28px;
          font-weight: 400;
          margin-right: 6px;
          color: #ff6ebe;
        }
      }
    }
    &-enroll-main-4 {
      .con {
        .box-1 {
          .tit {
            font-size: 48px;
          }
          .dsc {
            margin-top: 12px;
            font-size: 24px;
            color: #fff;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 300px;
    }

    &-enroll-category {
      color: #fff;
    }
    &-enroll-category-tab {
      .tab_category {
        display: flex;
        li {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          font-size: 28px;
          color: #a1a1a1;
          background-color: transparent;
          border: 2px solid #484848;
          border-left: 0;
          border-right: 0;
          cursor: pointer;
          &:first-child {
            border-left: 2px solid #484848;
          }
          &:last-child {
            border-right: 2px solid #484848;
          }
          &.active {
            color: #fff;
            background-color: #0819ed;
            border-color: #0819ed;
          }
        }
      }
      .helper-category {
        margin-top: 64px;
      }
      .subcategory_wrap {
        margin-top: 120px;
        .list_subcategory {
          display: flex;
          flex-direction: column;
          li {
            .inner {
              display: flex;
              justify-content: center;
              .name {
                flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 30px);
                .tit {
                  font-size: 40px;
                }
                .alias {
                  margin-top: 10px;
                  font-size: 22px;
                  font-weight: 600;
                  color: #a1a1a1;
                }
              }
              .con {
                flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 30px);
                margin-left: 30px;
                .dsc {
                  font-size: 24px;
                }
                .ex {
                  margin-top: 10px;
                  font-size: 22px;
                  color: #a1a1a1;
                }
              }
            }
            .v-divider {
              margin: 78px 0;
              border-color: #303030;
            }
          }
        }
      }
    }

    &-enroll-work {
      color: #fff;
      .label-dsc {
        font-size: 16px;
        font-weight: 500;
        color: #a1a1a1;
      }
      .autofill-info {
        display: flex;
        margin-bottom: 30px;
      }
    }
    &:first-child {
      margin-top: 120px;
    }
    &-enroll-work-last.section {
      margin-bottom: 150px;
    }
    .complete_select_category {
      .category-1 {
        pointer-events: none;
        li {
          .box-category {
            background-color: #0819ed;
            cursor: auto;
          }
        }
      }
      .chip_area {
        pointer-events: none;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .v-chip {
          margin-bottom: 15px;
          height: 30px;
          font-weight: 700;
          border-radius: 0;
          background-color: #0819ed;
          .v-chip__content {
            padding-top: 2px;
          }
        }
      }
      .btn_area {
        margin-top: 40px;
      }
      .help-cate {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #a1a1a1;
      }
    }
    .box-select-method {
      display: flex;
      justify-content: space-between;
      input {
        &[type="radio"]:checked,
        &[type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px;
          width: 0;
          height: 0;
          visibility: hidden;
          &+label {
            position: relative;
            flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 50px);
            padding: 10% 20px;
            font-size: 30px;
            text-align: center;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s;
          }
        }
        &[type="radio"]:not(:checked) + label {
          background-color: #303030;
        }
        &[type="radio"]:checked + label {
          background-color: #0819ed;
        }
      }
    }
    .request_tax_wrap {
      margin-top: 50px;
    }

    &-enroll-cart {
      color: #fff;
      &-1 {
        margin-top: 120px;
      }
      .list-work {
        li {
          display: flex;
          flex-direction: column;
          .inner {
            display: flex;
            justify-content: space-between;
            .thumb {
              flex: 0 0 350px;
              .v-image {

              }
            }
            .con {
              flex: 0 0 calc((100% - 480px) - (2 * 60px));
              position: relative;
              .name {
                font-size: 30px;
                max-height: 102px;
                line-height: 1.3;
              }
              .category {
                margin-top: 13px;
                font-size: 22px;
                color: #a1a1a1;
                line-height: 1.4;
              }
              .price {
                position: absolute;
                bottom: 0;
                font-size: 34px;
                span {
                  margin-right: 55px;
                  font-size: 24px;
                  color: #a1a1a1;
                }
              }
              .price_helper {
                display: none;
                position: absolute;
                bottom: -60px;
                width: calc(100% + 180px);
                font-size: 22px;
                color: #ff6ebe;
                .v-icon {
                  margin-right: 6px;
                  color: #ff6ebe;
                }
              }
            }
            .btn_area {
              display: flex;
              flex-direction: column;
              justify-content: center;
              flex: 0 0 130px;
              text-align: right;
              .v-btn {
                margin-top: 16px;
                width: 124px;
                &:first-child {
                  margin-top: 0;
                }
              }
            }
            &.price_dc {
              padding-bottom: 50px;
              .price_helper {
                display: block;
              }
            }
          }
          .v-divider {
            margin: 78px 0;
            border-color: #303030;
          }
        }
      }
      .total_wrap {
        font-size: 44px;
        text-align: right;
        span {
          margin-right: 80px;
          font-size: 30px;
        }
      }
    }
    &-enroll-receipt {
      color: #fff;
      .list-label-con {
        margin-top: 120px;
      }
      .total_receipt {
        margin-top: 55px;
        font-size: 34px;
        span {
          margin-right: 110px;
          font-size: 30px;
          color: #a1a1a1;
        }
      }
    }
  }
}

.title-sub-helper {
  margin-top: 20px;
  font-size: 22px;
  color: #ff6ebe;
  .v-icon {
    margin-right: 6px;
    margin-bottom: 2px;
    color: #ff6ebe;
  }
}

.box-category {
  width: 100%;
  padding: 32px 32px;
  background-color: #303030;
  color: #fff;
  cursor: pointer;
  .tit {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
  }
  .dsc {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 500;
    word-break: keep-all;
    color: #a1a1a1;
  }
}

.box-category-sub {
  height: 100%;
  padding: 35px;
  min-height: 250px;
  background-color: #303030;
  color: #fff;
  cursor: pointer;
  .tit {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
  }
  .stit {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #a1a1a1;
  }
  .dsc {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    word-break: keep-all;
    color: #f0f0f0;
  }
  .ex {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #a1a1a1;
  }
  &.active {
    background-color: #0819ed;
  }
}

.modal-category {
  position: relative;
  .v-card {
    background-color: #000 !important;
  }
  .btn-close {
    position: absolute;
    right: 60px;
    top: 60px;
    .v-icon {
      font-size: 42px;
    }
  }
  .container-modal-full {
    display: flex;
    flex: -1 1 100%;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    .top_area {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto 30px;
      padding-top: 60px;
      .inner {
        padding: 0 20px;
        .title_modal {
          .tit {
            font-size: 60px;
            font-weight: 700;
            line-height: 1;
          }
          .dsc {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
            color: #a1a1a1;
          }
        }
        .search_field {
          margin-top: 40px;
          .v-text-field {
            .v-input__slot {
              padding-left: 0;
              background-color: transparent;
              border: none;
              border-bottom: 2px solid #484848;
              transition-property: border-color;
              .v-input__prepend-inner {
                margin-bottom: 6px;
                padding-right: 10px;
                .v-icon {
                  &.primary--text {
                    color: #fff !important;
                  }
                }
              }
              .v-text-field__slot {
                .v-label {
                  top: calc(50% - 16px);
                  color: #484848;
                }
                input {
                  padding: 10px 0 20px;
                }
              }
            }
            &.v-input--is-focused {
              .v-input__slot {
                border-color: #fff;
              }
            }
          }
        }
        .warn {
          margin-top: 30px;
          font-size: 18px;
          font-weight: 500;
          color: #a1a1a1;
        }
      }
    }
    .inner-content {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      padding-bottom: 100px;
    }
    .bottom_area {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      background-color: #1a1a1a;
      .inner {
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        align-items: center;
        >div {
          &.count-area {
            width: 130px;
            font-size: 16px;
            font-weight: 700;
            span {
              font-weight: 500;
              color: #a1a1a1;
            }
          }
          &.chip-area {
            flex: 1;
            height: 30px;
            overflow: hidden;
            .v-chip {
              margin-right: 18px;
              height: 30px;
              font-weight: 700;
              border-radius: 0;
              background-color: #0819ed;
              .v-chip__content {
                padding-top: 2px;
              }
              .v-chip__close {
                margin-left: 8px;
                font-size: 16px !important;
                opacity: 0.8;
              }
            }
          }
          &.btn-area {
            width: 350px;
            text-align: right;
            .v-btn {
              margin-left: 20px;
              width: 150px;
              height: 48px;
              &.btn-submit {
                background-color: #0819ed;
                border-color: #0819ed;
              }
            }
          }
        }
      }
    }
    .list-box-2 {
      padding: 0 20px;
    }
  }
}

.btn_complete {
  margin-top: 120px;
  margin-bottom: 500px;
  display: flex;
  .v-btn {
    margin-right: 60px;
  }
}


.page-userEnrollWorkPayment {
  #popup {
    position: fixed !important;
  }
}



@media screen and (max-width: 960px) {
  .layout-default {
    .title_area {
      .title-line {
        span {
          &:after {
            width: 72px;
            height: 5px;
            right: -90px;
          }
        }
      }
      .v-btn {
        margin-top: 25px;
        height: 50px;
        font-size: 16px;
      }
    }
    .title-4 {
      font-size: 34px;
    }
  }
  .section-items {
    &.section {
      font-size: 16px;
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
        &.container-basic {
          padding-top: 30px;
        }
      }
      &:last-child {
        margin-bottom: 100px;
      }
    }
  }
  .section-items.section-enroll-main {
    .con {
      margin-top: 40px;
      .hdline {
        font-size: 24px;
        .help_inline {
          font-size: 14px;
        }
      }
      .box-1 {
        margin-top: 40px;
        flex-direction: column;
        li {
          padding: 28px;
          margin-bottom: 16px;
          .tit {
            font-size: 20px;
          }
          .dsc {
            margin-top: 18px;
            font-size: 13px;
          }
        }
      }
      .list-prize {
        li {
          .dsc {
            flex: 1;
          }
          .logo {
            display: none;
          }
        }
      }
    }
    .help-warning {
      font-size: 14px;
      .v-icon {
        font-size: 18px;
      }
    }
    .mt-9 {
      margin-top: 20px !important;
    }
  }
  .section-items.section-enroll-main-4 {
    .con {
      .box-1 {
        li {
          .dsc {
            margin-top: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }
  .section-items.section-enroll-main-9 {
    .v-btn {
      height: 50px;
      font-size: 16px;
    }
  }
  .section-items.section-enroll-category-tab {
    .tab_category {
      li {
        height: 54px;
        font-size: 16px;
        letter-spacing: -0.1em;
      }
      .helper-category {
        margin-top: 40px;
      }
    }
    .subcategory_wrap {
      margin-top: 100px;
      .list_subcategory {
        li {
          .inner {
            flex-direction: column;
            .name {
              .tit {
                font-size: 24px;
              }
              .alias {
                margin-top: 2px;
                font-size: 14px;
              }
            }
            .con {
              margin-left: 0;
              margin-top: 28px;
              .dsc {
                font-size: 16px;
              }
              .ex {
                font-size: 14px;
              }
            }
          }
          .v-divider {
            margin: 50px 0;
          }
        }
      }
    }
  }
  .section-items.section-enroll-work {
    .container-basic {
      padding-top: 20px;
    }
    .container-inner {
      padding-left: 24px;
      padding-right: 24px;
    }
    &.cols-2 {
      .container-inner {
        flex-direction: column;
        .con-left,
        .con-right {
          flex: 0 0 auto;
          width: 100%;
          .title-3 {
            font-size: 24px;
          }
        }
        .con-right {
          margin-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
  .btn-area-bottom {
    .container-inner {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .modal-category {
    .container-modal-full {
      .top_area {
        .inner {
          padding: 0 24px;
          .title_modal {
            .tit {
              font-size: 30px;
            }
            .dsc {
              font-size: 14px;
            }
          }
          .search_field {
            margin-top: 30px;
            .v-text-field {
              .v-input__slot {
                border-bottom-width: 1px;
                .v-input__prepend-inner {
                  // margin-bottom: 6px;
                  // padding-right: 10px;
                }
                .v-text-field__slot {
                  .v-label {
                    // top: calc(50% - 16px);
                  }
                  input {
                    // padding: 10px 0 20px;
                  }
                }
              }
            }
          }
          .warn {

          }
        }
      }
      .inner-content {

      }
    }
    .btn-close {
      right: 30px;
      top: 30px;
      .v-icon {
        font-size: 30px;
      }
    }
    .bottom_area {
      .inner {
        >div.btn-area {
          .v-btn {
            width: 100px;
          }
        }
      }
    }
  }
}