@charset "utf-8";

.section-items {
  &.section {
    margin-top: 200px;
    font-weight: 700;
    letter-spacing: -0.05em;
    .container-inner {
      padding-left: 80px;
      padding-right: 80px;
    }
    &:last-child {
      margin-bottom: 300px;
    }
  }
}

.v-expansion-panels.list-faq {
  background-color: transparent;
  border-bottom: 2px solid #303030;
  .v-expansion-panel {
    color: #a1a1a1;
    background-color: transparent;
    &:not(:first-child):after {
      border-color: #303030;
    }
    .v-expansion-panel-header {
      padding: 40px 0;
      font-size: 24px;
      line-height: 1.3;
      .v-expansion-panel-header__icon {
        padding-left: 20px;
      }
    }
    .v-expansion-panel-content {
      flex-direction: column;
      font-size: 22px;
      &:after {
        content: '';
        display: block;
        height: 40px;
      }
      a {
        color: #a1a1a1;
        transition: all 0.3s;
        .xi {
          margin-left: 10px;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    &--active {
      color: #fff;
      >.v-expansion-panel-header--active {
        .v-expansion-panel-header__icon:not(.v-expansion-panel-header__icon--disable-rotate) {
          .v-icon {
            transform: scaleY(-1);
          }
        }
      }
    }
  }
}



@media screen and (max-width:960px) {
  .section-items {
    &.section {
      margin-top: 100px;
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 0;
      }
      &:last-child {
        margin-bottom: 150px;
      }
    }
  }

  .v-expansion-panels.list-faq {
    .v-expansion-panel {
      .v-expansion-panel-header {
        padding: 24px 0;
        font-size: 16px;
      }
      .v-expansion-panel-content {
        font-size: 16px;
        &:after {
          height: 24px;
        }
        a {
          transition: all 0.3s;
        }
      }
    }
  }
}