@charset "utf-8";

.step-join.v-stepper {
  margin-top: 120px;
  .v-stepper__step {
    .v-stepper__step__step {
      color: transparent;
    }
  }
  .v-stepper__content {
    padding-top: 0;
  }
}

.section-items.section-join {
  &.section {
    margin-top: 200px;
    .container-inner {
      padding-left: 80px;
      padding-right: 80px;
      .list-input-check {
        margin-top: -25px;
      }
      .v-input--checkbox {
        font-size: 22px;
        .v-input--selection-controls {
          .v-label {
            font-size: 22px;
          }
        }
      }
      .v-input__icon--password {
        .v-btn {
          height: 36px;
          min-width: 36px;
          padding: 0 10px;
          background-color: transparent;
        }
      }
    }
  }
}

.section-items.section-join-guide {
  margin-top: 200px;
  font-size: 24px;
  font-weight: 700;
  color: #a1a1a1;
  letter-spacing: -0.05em;
  .container-inner {
    padding-left: 80px;
    padding-right: 80px;
  }
  .con-left {
    .title-3 {
      color: #fff;
    }
  }
  .con-right {
    padding-top: 0;
  }
}

.user_terms {
  height: 340px;
  padding: 25px;
  background-color: #1a1a1a;
}

.preview_wrap {
  margin-bottom: 15px;
  width: 100%;
  max-width: 360px;
  height: auto;
  .holder_image {
    background-color: #1a1a1a;
    color: #cacaca;
    height: 480px;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    .xi {
      margin-bottom: 10px;
      font-size: 36px;
      color: #cacaca;
    }
    .txt {
      display: inline-block;
      padding: 3px;
      border-bottom: 1px solid #cacaca;
    }
  }
}
.image-input-helper {
  color: #ff1c86;
  font-size: 14px;
  font-weight: 700;
  height: 15px;
  line-height: 14px;
  span {
    display: flex;
    align-items: center;
    .xi {
      margin-right: 6px;
      font-size: 17px;
      vertical-align: middle;
    }
  }
}

.item_select_company {
  .v-list-item {
    .v-list-item__content {
      .v-list-item__title {
        line-height: 1.5;
      }
    }
  }
}

.address_wrap {
  margin-top: -30px;
  .v-text-field {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

.join-complete {
  margin: 200px auto 0;
  text-align: center;
  .v-card__title {
    display: block;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
  }
  .v-card__text {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.7;
    color: #a1a1a1;
    .con {
      span {
        color: #fff;
      }
    }
  }
}



@media screen and (max-width:2000px) {
  .layout-default {
    .section-join {
      .container {
        &-basic {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .section-items.section-join {
    &.section {
      margin-top: 100px;
    }
  }
  .section-items.section-join-guide {
    .container-basic {
      padding-top: 20px;
    }
    .container-inner {
      padding-left: 24px;
      padding-right: 24px;
    }
    &.cols-2 {
      .container-inner {
        flex-direction: column;
        .con-left,
        .con-right {
          flex: 0 0 auto;
          .title-3 {
            font-size: 24px;
          }
        }
        .con-right {
          margin-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
  .page-userJoinGuide {
    .btn-area-bottom {
      margin-top: 80px;
      margin-bottom: 120px;
      .container-basic {
        padding-top: 20px;
      }
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }

  .step-join.v-stepper {
    margin-top: 10px;
    .v-stepper__header {
      .v-stepper__step {
        flex-basis: 30%;
        .v-stepper__step__step {
          margin-bottom: 5px;
          .v-icon {
            font-size: 18px;
          }
        }
        .v-stepper__label {
          display: flex !important;
          justify-content: center;
          min-height: 86px;
          padding: 13px 15px;
          font-size: 16px;
          line-height: 1.3;
        }
      }
      >.v-icon {
        display: none;
      }
    }
    .v-stepper__content {
      
    }
  }

  .section-items.section-join.section {
    margin-top: 80px;
    .container-basic {
      padding-top: 20px;
    }
    .container-inner {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
    }
    &.cols-2 {
      .con-left {
        flex: 0 0 auto;
        width: 100%;
        .title-3 {
          font-size: 24px;
          line-height: 1.5;
        }
      }
      .con-right {
        flex: 0 0 auto;
        width: 100%;
        margin-top: 20px;
        .user_terms {
          padding: 20px;
          font-size: 14px;
        }
        .preview_wrap {
          width: 248px;
          .image-icon-drag {
            width: 30px;
            height: 30px;
          }
          .browse-text {
            height: 38px;
            font-size: 16px;
          }
        }
        .v-input__icon--password {
          .v-btn {
            height: 28px;
            min-width: 30px;
            padding: 0 5px;
          }
        }
      }
    }
  }

  .page-userJoin {
    .btn-area-bottom {
      margin-top: 80px;
      margin-bottom: 100px;
      &.bt2 {
        .v-btn {
          width: calc(50% - 15px);
          height: 50px;
          font-size: 16px;
          .v-icon {
            margin-left: 12px;
          }
        }
      }
    }
    .v-input {
      input {
        font-size: 18px;
      }
    }
    .v-text-field {
      .v-input__control {
        .v-input__slot {
          &:before {
            border-width: 1px;
          }
          &:after {
            border-width: 1px;
          }
        }
      }
    }
    .join-complete {
      margin-top: 80px;
      .v-card__title {
        font-size: 34px;
        line-height: 1.3;
      }
      .v-card__text {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }
}