@charset "utf-8";

.page-userLogin,
.page-userFind,
.page-userPassword {
  .title_area {
    margin-bottom: 34px;
  }
  .help-login {
    margin-bottom: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #ff1c86;
    .v-icon {
      padding-top: 3px;
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .list-input {
    li {
      margin-bottom: 25px;
    }
  }
  .btn-login {
    width: 100%;
    background-color: #0819ed;
    border-color: #0819ed !important;
    &.v-btn--disabled {
      border-color: #0819ed !important;
    }
  }
  .utill_area {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    .v-btn {
      margin-right: -15px;
      font-size: 16px;
      font-weight: 500;
      color: #a1a1a1;
      &.btn-join {
        margin-left: -15px;
        font-size: 18px;
        font-weight: 700;
        color: #fff;
      }
    }
  }
  .btn_area {
    display: flex;
    justify-content: space-between;
    .btn-type-angle:not(.btn-type-intable).v-size--default .v-icon {
      margin-right: 20px;
    }
  }
  .find_result {
    .con {
      margin-bottom: 40px;
      font-size: 24px;
      font-weight: 700;
      color: #a1a1a1;
      span {
        color: #fff;
      }
    }
  }
}




@media screen and (max-width:960px) {
  .fill-login {
    height: auto !important;
  }
  .section-login,
  .section-find,
  .section-password {
    padding: 120px 24px 0;
    height: auto !important;
    .title_area {
      margin-bottom: 22px;
      .title-5 {
        font-size: 26px;
      }
    }
    .help-login {
      padding: 12px 12px;
      font-size: 13px;
      .v-icon {
        margin-right: 5px;
        font-size: 16px;
      }
    }
    .list-input {
      .v-input {
        input {
          font-size: 18px;
        }
      }
      .v-text-field {
        .v-input__control {
          .v-input__slot {
            &:before {
              border-width: 1px;
            }
            &:after {
              border-width: 1px;
            }
          }
        }
      }
    }
    .btn_area {
      >div {
        width: 47%;
      }
      .v-btn {
        width: 100%;
        height: 50px;
        font-size: 16px;
        .v-icon {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
  }
  .section-find {
    padding-top: 0;
    .find_result {
      .con {
        font-size: 18px;
      }
    }
  }
  .section-password {
    padding-top: 0;
  }
}
