@charset "utf-8";

body.page-userMain {
  height: 100vh;
  overflow: hidden;
}

.section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  // margin-top: 200px;
  // &:first-child {
  //   margin-top: 0;
  // }
  .content_wrap {
    position: absolute;
    left: 50%;
    top: 48%;
    // transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
    width: 760px;
    .tit {
      font-size: 94px;
      font-weight: 700;
      line-height: 1.2;
    }
    .stit {
      padding-left: 5px;
      margin-bottom: 40px;
      font-size: 22px;
      font-weight: 600;
      color: #a1a1a1;
      transition: 1s color;
    }
    .dsc {
      margin-top: 60px;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;
    }
    .dsc2 {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 700;
      line-height: 1.4;
    }
    .v-btn {
      margin-top: 50px;
    }
  }
  // .video_wrap {
  //   width: 100%;
  //   height: 100%;
  //   .video_vm {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     overflow: hidden;
  //     pointer-events: none;
  //     iframe {
  //       width: 100vw;
  //       height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  //       min-height: 100vh;
  //       min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //     }
  //   }
  // }
  .video_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    .video_vm {
      width: 100%;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: calc(100% + 200px);
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .half-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #0819ed;
    .content_wrap {
      left: 54px;
      transform: translateY(0);
      width: 660px;
    }
  }
  &-award {
    // background-image: url(/assets/img/main/bg_award_re.png);
  }
  &-enroll {
    // background-image: url(/assets/img/main/bg_enroll_re.png);
    .link-effect {
      display: block;
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translateX(-50%);
      width: 350px;
      padding-left: 60px;
      font-size: 22px;
      font-weight: 700;
      color: #ffffff;
      background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, #fff, 0.6, #4d4d4d, #4d4d4d);
      background: -webkit-gradient(linear, left top, right top, color-stop(0, #4d4d4d), color-stop(0.35, #4d4d4d), color-stop(0.5, #fff), color-stop(0.65, #4d4d4d), color-stop(1, #4d4d4d));
      -moz-background-clip: text;
      -webkit-background-clip: text;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      animation: slidetounlock 4s infinite linear;
      animation-fill-mode: forwards;
      -webkit-text-size-adjust: none;
      text-align: left;
      transition: 0.2s ease-in-out;
      outline: none;
      cursor: pointer;
      z-index: 200;
    }
  }
  &-notice {
    // background-image: url(/assets/img/main/bg_notice_re.png);
  }
  &-category {
    // background-image: url(/assets/img/main/bg_category_re.png);
  }
  &-winner {
    // background-image: url(/assets/img/main/bg_winner_re.png);
  }
  &-winner-item {
    // height: auto !important;
    .list-winner {
      width: 100%;
      height: 100%;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        // padding: 90px 0;
        // position: relative;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        &.item_0 {
          z-index: 4;
          .holder-img {
            transform-origin: bottom right;
          }
          .con {
            opacity: 1;
          }
          .name {
            opacity: 1;
          }
        }
        &.item_1 {
          z-index: 3;
          .holder-img {
            transform: rotate(3deg);
            transform-origin: bottom left;
          }
        }
        &.item_2 {
          z-index: 2;
          .holder-img {
            transform: rotate(-3deg);
            transform-origin: bottom right;
          }
        }
        &.item_3 {
          z-index: 1;
          .holder-img {
            transform: rotate(3deg);
            transform-origin: bottom left;
          }
        }
        .holder-img {
          width: 568px;
          height: 683px;
          border: 40px solid #0819ed;
          transform: rotate(-3deg);
          .v-image {
            &:after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.3);
            }
          }
        }
        .con {
          opacity: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
          text-align: center;
          .prize {
            font-size: 180px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
          }
          @supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
            .prize {
                color: transparent;
                -webkit-text-stroke: 2px #fff;
                text-stroke: 2px #fff;
                text-shadow: none;
            }
          }
          .dsc {
            margin-top: 30px;
            font-size: 30px;
            font-weight: 700;
          }
        }
        .name {
          opacity: 0;
          position: absolute;
          left: 50%;
          top: calc(50% + 330px);
          transform: translate(-50%, -50%);
          width: 100%;
          max-width: 600px;
          font-size: 58px;
          font-weight: 700;
          line-height: 1.3;
          text-align: center;
        }
      }
    }
  }
  &-spotlight {
    // background-image: url(/assets/img/main/bg_spotlight_re.png);
  }
  &-speech {
    padding: 100px 0;
    .inner-section {
      max-width: 1350px;
      margin: 0 auto;
      position: relative;
      &:before {
        content:'';
        display: block;
        padding-top: 105%;
      }
      .v-image {
        width: 600px;
        height: auto;
        position: absolute;
        &.img-1 {
          left: 0;
          top: 0;
        }
        &.img-2 {
          right: -150px;
          top: 50%;
          transform: translateY(-50%);
        }
        &.img-3 {
          left: 0;
          bottom: 0;
        }
      }
      .content_wrap {
        left: 50%;
        top: 43%;
        width: 400px;
        text-align: center;
      }
      .tit {
        font-size: 54px;
      }
      .v-btn {
        display: inline-flex;
      }
    }
  }
  &-sponsors {
    // background-image: url(/assets/img/main/bg_sponsors_re.png);
    transition: 1s color , 2s background-color;
    .content_wrap {
      left: calc(50% + 15px);
      width: 790px;
      .list-sponsor {
        margin-top: 70px;
        ul {
          li {
            margin-bottom: 50px;
            .plabel {
              font-size: 18px;
              font-weight: 700;
            }
            .plogo {
              margin-top: 10px;
              .change_wrap {
                display: inline-block;
                margin-right: 35px;
                position: relative;
                &.img-1 {
                  margin-right: 420px;
                  width: 271px;
                  height: 54px;
                }
                &.img-22 {
                  margin-right: 200px;
                  width: 239px;
                  height: 54px;
                }
                &.img-2 {
                  margin-top: 20px;
                  width: 115px;
                  height: 54px;
                }
                &.img-3 {
                  margin-bottom: 8px;
                  width: 243px;
                  height: 38px;
                }
                &.img-44 {
                  margin-right: 120px;
                  width: 203px;
                  height: 40px;
                }
                &.img-4 {
                  width: 45px;
                  height: 56px;
                }
                &.img-5 {
                  margin-top: 30px;
                  width: 49px;
                  height: 50px;
                }
                &.img-9 {
                  margin-top: 30px;
                  margin-bottom: 5px;
                  width: 126px;
                  height: 40px;
                }
                &.img-10 {
                  width: 90px;
                  height: 40px;
                }
                &.img-11 {
                  width: 180px;
                  height: 45px;
                }
                &.img-6 {
                  margin-bottom: 6px;
                  width: 220px;
                  height: 28px;
                }
                &.img-12 {
                  margin-right: 80px;
                  width: 94px;
                  height: 38px;
                }
                &.img-13 {
                  margin-right: 110px;
                  width: 80px;
                  height: 44px;
                }
                &.img-14 {
                  margin-right: 200px;
                  margin-bottom: 6px;
                  width: 130px;
                  height: 32px;
                }
                &.img-15 {
                  margin-top: 30px;
                  width: 130px;
                  height: 45px;
                }
                &.img-16 {
                  margin-bottom: 7px;
                  width: 165px;
                  height: 35px;
                }
                &.img-17 {
                  margin-bottom: 7px;
                  width: 125px;
                  height: 30px;
                }
                &.img-18 {
                  margin-top: 32px;
                  margin-bottom: 2px;
                  width: 120px;
                  height: 42px;
                }
                &.img-19 {
                  margin-top: 40px;
                  margin-bottom: 15px;
                  width: 150px;
                  height: 22px;
                }
                &.img-7 {
                  margin-top: 30px;
                  margin-bottom: 2px;
                  width: 121px;
                  height: 30px;
                }
                &.img-8 {
                  margin-bottom: 2px;
                  width: 220px;
                  height: 33px;
                }
                &.img-20 {
                  margin-top: 40px;
                  margin-bottom: 10px;
                  width: 120px;
                  height: 24px;
                }
                &.img-21 {
                  width: 120px;
                  height: 40px;
                }
                &.img-23 {
                  width: 53px;
                  height: 50px;
                }
                &.img-24 {
                  width: 56px;
                  height: 56px;
                }
                &.img-25 {
                  margin-bottom: 2px;
                  width: 230px;
                  height: 50px;
                }
                &.img-26 {
                  margin-right: 200px;
                  margin-bottom: 10px;
                  width: 150px;
                  height: 25px;
                }
                &.img-27 {
                  margin-top: 30px;
                  width: 200px;
                  height: 30px;
                }
                &.img-28 {
                  width: 154px;
                  height: 28px;
                }
                .v-image {
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  transition: 1s opacity;
                  &.colored {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.theme--light {
      color: #000;
      background-image: none;
      background-color: #fff;
      .content_wrap {
        .stit {
          color: #000;
        }
        .list-sponsor {
          ul {
            li {
              .plogo {
                .change_wrap {
                  .v-image {
                    opacity: 0;
                    &.colored {
                      opacity: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width:960px) {
  .section {
    .content_wrap {
      padding: 0 25px;
      width: 100%;
      .stit {
        margin-bottom: 28px;
        font-size: 14px;
      }
      .tit {
        word-break: keep-all;
        font-size: 48px;
      }
      .dsc {
        margin-top: 40px;
        font-size: 22px;
      }
      .dsc2 {
        margin-top: 15px;
        font-size: 20px;
      }
      .v-btn {
        margin-top: 40px;
      }
    }
    &.section-enroll {
      .link-effect {

      }
    }
    &.section-category {
      background-size: 320%;
      background-position: 28% bottom;
      // padding-top: 200vh;
      .half-right {
        width: 100%;
        height: 100%;
        .content_wrap {
          width: 100%;
          left: 0;
        }
      }
    }
    &.section-winner {
      background-position: 68% center;
    }
    &.section-winner-item {
      .list-winner {
        padding: 0 25px;
        li {
          padding: 70px 0;
          .holder-img {
            width: 86%;
            height: auto;
            border-width: 25px;
          }
          .con {
            .prize {
              font-size: 64px;
            }
            .dsc {
              font-size: 18px;
            }
          }
          .name {
            top: calc(50% + 156px);
            font-size: 30px;
          }
        }
      }
    }
    &.section-spotlight {
      background-position: 80% center;
    }
    &.section-speech {
      .inner-section {
        &:before {
          padding-top: 230%;
        }
        .v-image.img-2 {
          top: auto;
          right: 0;
          bottom: 0;
          transform: translateY(0);
        }
        .v-image.img-3 {
          display: none;
        }
        .content_wrap {
          left: 50%;
          width: 100%;
          .tit {
            font-size: 30px;
          }
          .btn-type-angle {
            .v-icon {
              margin-left: 50px;
            }
          }
        }
      }
    }
    &.section-sponsors {
      height: 120vh !important;
      .content_wrap {
        left: 50%;
        .list-sponsor {
          margin-top: 45px;
          ul {
            li {
              margin-bottom: 40px;
              .plabel {
                font-size: 14px;
              }
              .plogo {
                .change_wrap {
                  margin-right: 20px;
                  &.img-1 {
                    margin-bottom: 10px;
                    margin-right: 200px;
                    width: 240px;
                    height: 48px;
                  }
                  &.img-22 {
                    width: 212px;
                    height: 48px;
                  }
                  &.img-2 {
                    margin-bottom: 16px;
                    width: 90px;
                  }
                  &.img-3 {
                    margin-bottom: 24px;
                    width: 174px;
                  }
                  &.img-4 {
                    margin-left: 20px;
                    margin-right: 42px;
                    margin-bottom: 30px;
                    width: 43px;
                  }
                  &.img-5 {
                    margin-left: 18px;
                    margin-bottom: 28px;
                    margin-top: 0;
                    width: 45px;
                  }
                  &.img-6{
                    margin-bottom: 24px;
                    width: 170px;
                  }
                  &.img-9 {
                    margin-top: 0;
                    margin-bottom: 25px;
                    width: 95px;
                  }
                  &.img-10 {
                    margin-right: 100px;
                    margin-bottom: 20px;
                    width: 66px;
                  }
                  &.img-11 {
                    margin-bottom: 20px;
                    width: 135px;
                  }
                  &.img-6 {
                    margin-bottom: 30px;
                    margin-right: 0;
                    width: 172px;
                  }
                  &.img-12 {
                    margin-top: 0;
                    margin-right: 30px;
                    margin-bottom: 18px;
                    width: 68px;
                  }
                  &.img-13 {
                    margin-bottom: 18px;
                    width: 55px;
                  }
                  &.img-14 {
                    margin-right: 24px;
                    margin-bottom: 22px;
                    width: 90px;
                  }
                  &.img-15 {
                    margin-top: 0;
                    margin-right: 120px;
                    margin-bottom: 18px;
                    width: 86px;
                  }
                  &.img-16 {
                    margin-bottom: 24px;
                    width: 150px;
                  }
                  &.img-17 {
                    margin-bottom: 33px;
                    width: 100px;
                  }
                  &.img-18 {
                    margin-top: 0;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    width: 100px;
                  }
                  &.img-19 {
                    margin-top: 0;
                    margin-right: 80px;
                    margin-bottom: 30px;
                    width: 124px;
                  }
                  &.img-7 {
                    margin-top: 0;
                    margin-right: 60px;
                    margin-bottom: 28px;
                    width: 97px;
                  }
                  &.img-8 {
                    margin-right: 30px;
                    margin-bottom: 22px;
                    width: 150px;
                  }
                  &.img-20 {
                    margin-top: 0;
                    margin-bottom: 36px;
                    width: 82px;
                  }
                  &.img-21 {
                    margin-bottom: 20px;
                    width: 86px;
                  }
                  &.img-23 {
                    margin-bottom: 25px;
                    width: 43px;
                  }
                  &.img-24 {
                    margin-bottom: 20px;
                    width: 43px;
                  }
                  &.img-25 {
                    margin-bottom: 25px;
                    width: 190px;
                  }
                  &.img-26 {
                    margin-bottom: 25px;
                    width: 108px;
                  }
                  &.img-27 {
                    margin-top: 0;
                    margin-bottom: 25px;
                    width: 152px;
                  }
                  &.img-28 {
                    margin-bottom: 25px;
                    width: 110px;
                  }
                  &.img-44 {
                    width: 144px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
