@charset "utf-8";

.section-items {
  &.section {
    margin-top: 240px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    .container-inner {
      padding-left: 50px;
      padding-right: 50px;
      .v-input__icon--password {
        .v-btn {
          height: 36px;
          min-width: 36px;
          padding: 0 10px;
          background-color: transparent;
        }
      }
    }
  }
  &.section-mypage {
    .list-recipient {
      margin-top: 120px;
      display: flex;
      flex-wrap: wrap;
      li {
        flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 6.45%);
        margin-right: 6.45%;
        margin-bottom: 80px;
        max-width: 580px;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        .thumb {
            cursor: pointer;
        }
        .tit {
          margin-top: 24px;
          font-size: 24px;
          font-weight: 700;
        }
        .con {
          margin-top: 24px;
          font-size: 18px;
          font-weight: 500;
          >div>span {
            margin-right: 25px;
            font-weight: 700;
            color: #a1a1a1;
          }
          .area_mod {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            font-weight: 700;
          }
        }
        .dsc {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .nodata {
      padding: 180px 0 0;
      font-size: 30px;
      font-weight: 700;
      color: #606060;
      text-align: center;
    }
    &:last-child {
      margin-bottom: 300px;
    }
  }
  &.section-mypage-paydetail {
    .pay_summary {
      margin-top: 120px;
      position: relative;
      .tit {
        font-size: 34px;
        font-weight: 600;
      }
      .con {
        margin-top: 36px;
        li {
          margin-bottom: 10px;
          font-size: 20px;
          font-weight: 600;
          .lb {
            margin-right: 25px;
            font-weight: 700;
            color: #a1a1a1;
          }
          .vat {
            font-size: 0.7em;
            opacity: 0.6;
          }
        }
      }
      .btn_area {
        position: absolute;
        right: 0;
        top: calc(50% + 45px);
        text-align: center;
        transform: translateY(-50%);
        .status {
          margin-bottom: 25px;
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }
  &.section-mypage-paydetail-list {
    margin-top: 120px;
    .list-work {
      li {
        display: flex;
        flex-direction: column;
        .inner {
          display: flex;
          justify-content: space-between;
          .thumb {
            flex: 0 0 350px;
            .v-image {

            }
          }
          .con {
            flex: 0 0 calc((100% - 350px) - 60px);
            position: relative;
            .name {
              font-size: 30px;
              max-height: 102px;
              line-height: 1.3;
            }
            .category {
              margin-top: 13px;
              font-size: 22px;
              color: #a1a1a1;
              line-height: 1.4;
            }
            .price {
              position: absolute;
              bottom: 0;
              font-size: 34px;
              .lb {
                margin-right: 55px;
                font-size: 24px;
                color: #a1a1a1;
              }
              .vat {
                font-size: 0.7em;
                opacity: 0.6;
              }
            }
            .price_helper {
              display: none;
              position: absolute;
              bottom: -60px;
              width: calc(100% + 180px);
              font-size: 22px;
              color: #ff6ebe;
              .v-icon {
                margin-right: 6px;
                color: #ff6ebe;
              }
            }
          }
          .btn_area {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 0 0 130px;
            text-align: right;
            .v-btn {
              margin-top: 16px;
              width: 124px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
          &.price_dc {
            padding-bottom: 50px;
            .price_helper {
              display: block;
            }
          }
        }
        .v-divider {
          margin: 78px 0;
          border-color: #303030;
        }
      }
    }
    .total_wrap {
      font-size: 44px;
      text-align: right;
      span {
        margin-right: 80px;
        font-size: 30px;
      }
    }
  }
}


.preview_wrap {
  margin-bottom: 15px;
  width: 100%;
  max-width: 360px;
  height: auto;
  .holder_image {
    background-color: #1a1a1a;
    color: #cacaca;
    height: 480px;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    .xi {
      margin-bottom: 10px;
      font-size: 36px;
      color: #cacaca;
    }
    .txt {
      display: inline-block;
      padding: 3px;
      border-bottom: 1px solid #cacaca;
    }
  }
}

.image-input-helper {
  color: #ff1c86;
  font-size: 14px;
  font-weight: 700;
  height: 15px;
  line-height: 14px;
  span {
    display: flex;
    align-items: center;
    .xi {
      margin-right: 6px;
      font-size: 17px;
      vertical-align: middle;
    }
  }
}

.address_wrap {
  margin-top: -30px;
  .v-text-field {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

.btn-area {
  text-align: right !important;
  .v-btn:not(.link-underline) {
    margin-left: 30px;
    min-width: 250px !important;
  }
}

.btn-area-bottom {
  margin-top: 120px;
  .container-basic {
    padding: 0 50px;
    .v-btn {
      width: 260px;
    }
  }
}



@media screen and (max-width:960px) {
  .section-items.section-mypage {
    &.section-mypage-recipient {
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
        .title-4 {
          font-size: 34px;
        }
        .v-input__icon--password {
          .v-btn {
            height: 28px;
            min-width: 30px;
            padding: 0 5px;
          }
        }
      }
      .container-basic {
        padding-top: 30px;
      }
      .list-recipient {
        margin-top: 50px;
        li {
          flex: 0 0 auto;
          width: 100%;
          .tit {
            margin-top: 15px;
            font-size: 20px;
          }
          .con {
            margin-top: 12px;
            font-size: 16px;
            .area_mod {
              align-items: center;
              margin-top: 25px;
              font-size: 18px;
            }
          }
          .dsc {
            align-items: center;
            margin-top: 25px;
            font-size: 16px;
          }
        }
      }
    }
    .nodata {
      padding: 80px 0 0;
      font-size: 22px;
    }
    &:last-child {
      margin-bottom: 100px;
    }
  }
  .section-items.section-mypage {
    &.section-mypage-profile {
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
        .title-4 {
          font-size: 34px;
        }
      }
      .container-basic {
        padding-top: 30px;
      }
      &.cols-2 {
        margin-top: 35px;
        .container-inner {
          flex-direction: column;
          .con-left,
          .con-right {
            flex: 0 0 auto;
            width: 100%;
            .title-3 {
              font-size: 24px;
              line-height: 1.5;
            }
          }
          .con-right {
            margin-top: 20px;
            font-size: 16px;
            .preview_wrap {
              width: 248px;
              .image-icon-drag {
                width: 30px;
                height: 30px;
              }
              .browse-text {
                height: 38px;
                font-size: 16px;
              }
            }
          }
          .v-input {
            input {
              font-size: 18px;
            }
          }
          .v-text-field {
            .v-input__control {
              .v-input__slot {
                &:before {
                  border-width: 1px;
                }
                &:after {
                  border-width: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
  .section-items.section-mypage {
    &.section-mypage-paydetail {
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
        .title-4 {
          font-size: 34px;
        }
      }
      .container-basic {
        padding-top: 30px;
      }
      .pay_summary {
        margin-top: 60px;
        .tit {
          font-size: 24px;
        }
        .con {
          li {
            font-size: 18px;
          }
        }
        .btn_area {
          position: relative;
          right: auto;
          top: 0;
          transform: translateY(0);
          text-align: left;
          .status {
            margin-top: 32px;
            font-size: 22px;
          }
        }
      }
    }
    &.section-mypage-paydetail-list {
      margin-top: 50px;
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
      }
      .container-basic {
        padding-top: 30px;
      }
      .list-work {
        li {
          .inner {
            flex-direction: column;
            .thumb {
              flex: 0 0 100%;
            }
            .con {
              margin-top: 15px;
              .name {
                font-size: 20px;
              }
              .category {
                font-size: 16px;
              }
              .price {
                margin-top: 10px;
                position: relative;
                bottom: auto;
                font-size: 20px;
                .lb {
                  font-size: 18px;
                }
              }
            }
          }
          .v-divider {
            margin: 50px 0;
          }
        }
      }
      .total_wrap {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        span {
          margin: 0;
          font-size: 20px;
        }
      }
    }
  }
  .page-userMypageProfile {
    .btn-area {
      display: flex;
      justify-content: space-between;
      >.v-btn,
      >.btn_outer {
        flex: 0 0 calc(50% - 10px);
        min-width: 130px !important;
        margin: 0;
        .v-btn {
          width: 100%;
          min-width: auto !important;
          margin: 0;
        }
      }
    }
    .btn-area-bottom {
      margin-top: 60px;
      margin-bottom: 100px;
      .v-btn {
        font-size: 16px;
      }
    }
  }
  .page-userMypagePaymentDetail {
    .btn-area-bottom {
      .container-basic {
        padding-left: 24px;
        padding-right: 24px;
      }
      margin-top: 80px;
      margin-bottom: 100px;
      .v-btn {
        width: 164px;
        font-size: 16px;
      }
    }
  }
}