@charset "utf-8";

@mixin scrimGradient($startColor: $color-black, $direction: 'to bottom') {
  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );

  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();

  @each $colorStop, $alphaValue in $scrimCoordinates {
    $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }

  background: linear-gradient(unquote($direction), $stops);
}

.section.section-winner-main {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  .content_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    .tit {
      font-size: 160px;
      font-weight: 700;
      line-height: 1.2;
      span {
        font-size: 140px;
        color: #000;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
      }
      @supports((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
        span {
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            text-stroke: 2px #fff;
            text-shadow: none;
        }
      }
    }
    .stit {
      margin-top: 10%;
      font-size: 30px;
      font-weight: 700;
      a {
        color: #ff6ebe;
      }
    }
  }
  &.section-winner-cover {
    background-image: url(/assets/img/winner/bg_cover.png);
    background-size: 538px;
  }
  &.section-winner-top {
    .prize {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 540px;
      text-align: center;
      background-color: #fff;
      .tit {
        font-size: 54px;
        font-weight: 700;
        color: #000;
      }
      .logo {
        margin-top: 60px;
        display: inline-block;
        max-width: 360px;
        height: auto;
        &.logo-4 {
          max-width: 280px;
        }
        &.logo-5 {
          max-width: 280px;
        }
      }
    }
    .winner_wrap {
      position: relative;
      &:after {
        content: '';
        display: block;
        padding-top: 56.25%;
      }
      .inner-winner {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        .thumb {
          flex: 1;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          .v-image {
            height: 100%;
          }
          &.pos-left {
            .v-image {
              .v-image__image {
                background-position: left -50px center !important;
              }
            }
          }
          &.pos-right {
            .v-image {
              .v-image__image {
                background-position: right -50px center !important;
              }
            }
          }
        }
        .dsc {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 20px;
          font-weight: 700;
          background-color: #0819ed;
          .ctop {
            flex: 1;
            width: 100%;
            padding: 5% 18%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            .name {
              font-size: 50px;
              cursor: pointer;
            }
            .category {
              margin-top: 80px;
            }
          }
          .cbot {
            flex: 1;
            width: 100%;
            padding: 5% 18%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .company {
              margin-top: 40px;
              &:first-child {
                margin-top: 0;
              }
              .clabel {
                opacity: 0.8;
              }
              .name {
                margin-top: 20px;
              }
            }
          }
        }
      }
      &.winner-top-left {
        .thumb {
          order: 2;
        }
        .dsc {
          order: 1;
        }
      }
      &.winner-top-right {
        .thumb {
          order: 1;
        }
        .dsc {
          order: 2;
        }
      }
      &.winner-single {
        .inner-winner {
          flex-direction: column;
          flex-wrap: wrap;
          >div {
            flex: 0 0 50%;
            width: 50%;
            &.prize,
            &.dsc {
              justify-content: center;
              align-items: flex-start;
              padding: 0 9%;
              text-align: left;
            }
          }
        }
        &.winner-left {
          .prize {
            order: 1;
          }
          .dsc {
            order: 2;
          }
          .thumb {
            flex: 0 0 100%;
            order: 3;
          }
        }
        &.winner-right {
          .prize {
            order: 2;
          }
          .dsc {
            order: 3;
          }
          .thumb {
            flex: 0 0 100%;
            order: 1;
          }
        }
        .name {
          font-size: 50px;
          cursor: pointer;
        }
        .category {
          margin-top: 100px;
        }
      }
    }
  }
  &.section-winner-category-cover {
    padding-top: 43%;
    background-color: #272727;
    // background-image: url(/assets/img/winner/bg_category.png);
    background-image: linear-gradient(95deg, #1b1b1b 2%, #352f2f 56%, #3f3f3f 98%);
    .tit {
      font-size: 72px;
    }
    .v-btn {
      margin-top: 130px;
    }
  }
  &.section-winner-category {
    .container-inner {
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 150px;
      padding-bottom: 200px;
    }
    .subcategory {
      margin-bottom: 10px;
      font-size: 60px;
      font-weight: 700;
    }
    .subdsc {
      margin-top: 5px;
      margin-bottom: 60px;
      font-size: 20px;
      font-weight: 500;
      // color: #a1a1a1;
      opacity: 0.6;
    }
    .subcategory_wrap {
      >div {
        margin-bottom: 120px;
      }
    }
    .winner_wrap {
      .tit {
        font-size: 50px;
        font-weight: 600;
      }
      .stit {
        font-size: 34px;
        font-weight: 600;
      }
      .list-winner {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        &.list-winner2 {
          margin-top: 40px;
        }
        li {
          flex: 0 0 calc(1/2 * 100% - (1 - 1/2) * 6.45%);
          margin-right: 6.45%;
          margin-bottom: 80px;
          max-width: 580px;
          cursor: pointer;
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          .thumb {

          }
          .tit {
            margin-top: 24px;
            font-size: 24px;
            font-weight: 700;
            max-height: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
          .company {
            margin-top: 12px;
            font-size: 16px;
            font-weight: 700;
            // color: #a1a1a1;
            opacity: 0.6;
          }
          .status {
            margin-top: 20px;
            display: inline-flex;
            align-items: center;
            min-width: 50px;
            height: 42px;
            padding: 0 16px;
            border: 2px solid #fff;
            font-weight: 700;
            opacity: 0.5;
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .nodata {
        padding-top: 20%;
        position: relative;
        span {
          position: absolute;
          // left: 50%;
          left: 0;
          top: 50%;
          // transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          font-size: 30px;
          font-weight: 700;
          color: #606060;
        }
      }
    }
    .btn_area {
      display: flex;
      justify-content: center;
    }
    &#winner_special {
      .container-inner {
        padding-top: 0;
      }
    }
  }
  &.section-winner-aboard {
    .winner_wrap {
      margin-top: 100px;
      &:first-child {
        margin-top: 0;
      }
      .tit {
        font-size: 60px;
      }
      .list-winner {
        li {
          cursor: pointer;
        }
      }
    }
  }
}



.section.section-winner-list {
  .year {
    margin-bottom: 90px;
    font-size: 120px;
    font-weight: 700;
  }
  .tab_category {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 1 1 33.33%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -2px;
      height: 100px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2;
      // color: #a1a1a1;
      opacity: 0.6;
      background-color: transparent;
      border: 2px solid #484848;
      // border-left: 0;
      border-left: 0;
      text-align: center;
      cursor: pointer;
      &:first-child {
        border-left: 2px solid #484848;
      }
      &:nth-child(3n+1) {
        border-left: 2px solid #484848;
      }
      &.active {
        // color: #fff;
        opacity: 1;
        background-color: #0819ed;
        border-color: #0819ed;
      }
    }
    &.odd {
        li {
            flex: 0 0 33.33%;
        }
    }
  }
  .helper-category {
    margin-top: 64px;
  }

  &.section-winner-list-cover {
    margin-top: 50px;
    margin-bottom: 120px;
    padding-top: 40%;
    position: relative;
    .txt_wrap {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(20%, -50%);
      font-size: 400px;
      font-weight: 700;
      white-space: nowrap;
      color: #0819ed;
    }
    .v-icon {
      font-size: 80px;
    }
  }
}


.subcategory_title_top {
  position: fixed;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 103;
  pointer-events: none;
  .container-inner {
    padding-left: 80px;
    padding-right: 80px;
  }
  .holder {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }
}


.modal-winner-detail {
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: 8;
  }
  &:before {
    top: 0;
    height: 20%;
    @include scrimGradient($startColor: rgba(0,0,0,0.5), $direction: 'to bottom');
  }
  &:after {
    bottom: 0;
    height: 20%;
    @include scrimGradient($startColor: rgba(0,0,0,0.5), $direction: 'to top');
  }
  .v-card {
    background-color: #000 !important;
  }
  .btn-close {
    position: absolute;
    right: 60px;
    top: 60px;
    z-index: 9;
    .v-icon {
      font-size: 42px;
    }
  }
  .container-modal-full {
    display: flex;
    flex: -1 1 100%;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    .content_area {
      .toptext {
        padding: 70px 60px;
        font-size: 18px;
        font-weight: 700;
        // color: #a1a1a1;
        opacity: 0.6;
        position: relative;
        z-index: 8;
      }
      .inner-content {
        width: 100%;
        max-width: 1470px;
        margin: 0 auto;
        padding: 100px 60px 110px;
        position: relative;
        &.wtitle_wrap {
          max-width: 100%;
          position: relative;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          padding: 0 60px;
          line-height: 1.3;
          pointer-events: none;
          z-index: 8;
        }
        .wtitle {
          max-width: 1470px;
          margin: 0 auto;
          font-size: 100px;
          font-weight: 700;
          transition: transform .4s;
          transform-origin: top left;
        }
      }
      .vspace {
        width: 100%;
        >div {
          max-width: 1470px;
          margin: 0 auto;
          position: relative;
          &:before {
            content: '';
            display: block;
            padding-top: 44%;
          }
        }
      }
      .visual {
        background-color: #0819ed;
        position: relative;
        padding: 0 60px;
        .holder-img {
          max-width: 1470px;
          margin: 0 auto;
          position: relative;
          &:before {
            content: '';
            display: block;
            padding-top: 20%;
          }
          .img_key {
            width: 100%;
            max-width: 1470px;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);;
            bottom: 0;
          }
        }
      }
      .inner-content {
        .prize {
          font-size: 94px;
          font-weight: 600;
        }
        .category {
          margin-top: 60px;
          font-size: 34px;
          font-weight: 700;
        }
        .subcategory {
          font-size: 34px;
          font-weight: 700;
        }
        .year {
          font-size: 44px;
          font-weight: 600;
          position: absolute;
          right: 0;
          bottom: 110px;
        }
      }
      .con_aera {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        .description {
          flex: 0 0 49.7278%;
          width: 49.7278%;
          max-width: 731px;
          font-size: 20px;
          font-weight: 500;
          .comment {
            margin-bottom: 80px;
            font-size: 34px;
            font-weight: 700;
          }
          .v-btn {
            margin-top: 50px;
          }
        }
        .img_add {
          flex: 0 0 42.0408%;
          width: 42.0408%;
          max-width: 618px;
          // display: flex;
          li {
            margin-top: 45px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
      &.active {
        .wtitle_wrap {
          position: fixed;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
          .wtitle {
            // font-size: 30px;
            transform: scale(0.3);
          }
        }
      }
    }
    .info_area {
      padding-top: 0;
      background-color: #0819ed;
      position: relative;
      &:before,
      &:after {
        content: '';
        display: block;
        width: 100%;
      }
      &:before {
        height: 380px;
        @include scrimGradient($startColor: #000000, $direction: 'to bottom');
      }
      // &:after {
      //   height: 15%;
      //   @include scrimGradient($startColor: #000000, $direction: 'to top');
      // }
      .inner-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 220px;
        .con {
          flex: 0 0 49.7278%;
          width: 49.7278%;
          ul {
            display: flex;
            flex-wrap: wrap;
            padding-top: 7%;
            li {
              flex: 0 0 50%;
              width: 50%;
              margin-bottom: 60px;
              .ilabel {
                font-size: 18px;
                font-weight: 700;
                // color: rgba(255,255,255,0.8);
                opacity: 0.8;
              }
              .itext {
                margin-top: 20px;
                font-size: 26px;
                font-weight: 700;
              }
            }
          }
          .btn_wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .v-btn {
              margin-top: 30px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
          .v-btn {
            padding: 0 65px;
          }
        }
        .img_bot {
          flex: 0 0 42.0408%;
          width: 42.0408%;
        }
      }
    }
  }
}

.page-userJudgementList {
  .modal-winner-detail {
    .info_area {
      .inner-content {
        padding-top: 0;
        padding-bottom: 160px;
      }
    }
  }
}



@media screen and (max-width:960px) {
  .section.section-winner-main {
    &.section-winner-cover {
      background-size: 80%;
      .content_wrap {
        padding-left: 24px;
        padding-right: 24px;
        text-align-last: left;
        .tit {
          font-size: 58px;
          span {
            display: block;
            font-size: 46px;
          };
        }
        .stit {
          font-size: 16px;
        }
      }
    }
    &.section-winner-top {
      .winner-top {
        .prize {
          height: 280px;
          .tit {
            font-size: 24px;
          }
          .logo {
            margin-top: 42px;
            max-width: 171px;
          }
        }
        .winner_wrap {
          &:after {
            display: none;
          }
          .inner-winner {
            flex-direction: column;
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            bottom: auto;
            .thumb {
              order: 1;
              .v-image {
                height: 80vh;
              }
            }
            .dsc {
              order: 2;
              .ctop {
                padding: 45px 24px;
                .name {
                  font-size: 30px;
                }
                .category {
                  margin-top: 38px;
                  font-size: 14px;
                }
              }
              .cbot {
                padding: 50px 24px;
                .company {
                  margin-top: 30px;
                  font-size: 14px;
                  &:first-child {
                    margin-top: 0;
                  }
                  .name {
                    margin-top: 6px;
                  }
                }
              }
            }
          }
        }
      }
      .winner-single {
        &:after {
          display: none;
        }
        .inner-winner {
          flex-direction: column;
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          bottom: auto;
          .prize {
            width: 100% !important;
            padding: 0 !important;
            height: 280px;
            flex: 0 0 auto !important;
            display: flex;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            .tit {
              font-size: 24px;
            }
            .logo {
              margin-top: 42px;
              max-width: 93px;
              &.logo-2 {
                max-width: 170px;
              }
              &.logo-4 {
                max-width: 170px;
              }
              &.logo-5 {
                max-width: 170px;
              }
            }
          }
          .thumb {
            width: 100% !important;
            order: 2 !important;
            .v-image {
              height: 80vh;
            }
          }
          .dsc {
            width: 100% !important;
            order: 3 !important;
            padding: 45px 24px !important;
            .name {
              font-size: 30px;
            }
            .category {
              margin-top: 38px;
              font-size: 14px;
            }
          }
        }
      }
    }
    &.section-winner-category-cover {
      padding-top: 100vh;
      .tit {
        font-size: 28px;
      }
      .v-btn {
        margin-top: 50px;
      }
    }
    &.section-winner-category {
      .container-inner {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 60px;
        padding-bottom: 100px;
      }
      .winner_wrap {
        .tit {
          font-size: 30px;
        }
        .list-winner {
          margin-top: 32px;
          li {
            flex: 0 0 auto;
            width: 100%;
            margin-right: 0;
            margin-bottom: 50px;
            .tit {
              margin-top: 18px;
              font-size: 20px;
              max-height: auto;
            }
            .company {
              margin-top: 3px;
              font-size: 16px;
            }
            .status {
              margin-top: 12px;
              height: 40px;
              padding: 0 14px;
              font-size: 15px;
            }
          }
        }
        .nodata {
          span {
            width: 100%;
            font-size: 22px;
            text-align: center;
          }
        }
      }
      .btn_area {
        .v-btn {
          height: 50px;
          font-size: 16px;
        }
      }
    }
    &.section-winner-aboard {
      .winner_wrap {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      .btn_area {
        .v-btn {
          height: 50px;
          font-size: 16px;
        }
      }
    }
  }
  .modal-winner-detail {
    .container-modal-full {
      .content_area {
        .toptext {
          padding: 38px 24px;
          font-size: 12px;
        }
        .inner-content {
          &.wtitle_wrap {
            padding: 0 24px;
          }
          .wtitle {
            font-size: 40px;
          }
        }
        .visual {
          padding: 0;
          .holder-img {
            &:before {
              padding-top: 22%;
            }
            .img_key {
              width: calc(100% - 48px);
            }
          }
          .inner-content {
            padding: 30px 24px 40px;
            .prize {
              font-size: 26px;
            }
            .category {
              margin-top: 20px;
              font-size: 16px;
            }
            .subcategory {
              font-size: 16px;
            }
            .year {
              right: 24px;
              bottom: 37px;
              font-size: 18px;
            }
          }
        }
        .con_aera {
          padding-top: 70px;
          padding-left: 24px;
          padding-right: 24px;
          flex-direction: column;
          .comment {
            margin-bottom: 70px;
            padding: 0 24px;
            font-size: 22px;
            font-weight: 700;
            text-align: center;
          }
          .description {
            order: 2;
            flex:0 0 auto;
            width: 100%;
            padding-top: 80px;
            font-size: 18px;
            .v-btn {
              height: 50px;
              font-size: 16px;
            }
          }
          .img_add {
            order: 1;
            flex:0 0 auto;
            width: 100%;
            li {
              margin-top: 24px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
        .info_area {
          &:before {
            height: 160px;
          }
          .inner-content {
            padding-top: 0;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 80px;
            .con {
              width: 100%;
              flex:0 0 auto;
              margin-top: -50px;
              text-align: center;
              ul {
                flex-direction: column;
                text-align: left;
                li {
                  flex: 0 0 auto;
                  width: 100%;
                  margin-bottom: 40px;
                  .itext {
                    margin-top: 6px;
                    font-size: 22px;
                  }
                }
              }
              .v-btn {
                margin-top: 55px;
              }
              .btn_wrap {
                .v-btn {
                    margin-top: 30px;
                  }
              }
            }
            .img_bot {
              display: none;
            }
          }
        }
      }
    }
    .btn-close {
      top: 30px;
      right: 26px;
      .v-icon {
        font-size: 24px;
      }
    }
  }

  .section.section-winner-list {
    &.section-winner-list-cover {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 100px;
      .txt_wrap {
        font-size: 114px;
      }
      .v-icon {
        left: 16px;
        top: 20px;
        font-size: 36px;
      }
    }
    .container-basic {
      padding-top: 80px !important;
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
    .year {
      margin-bottom: 20px;
      font-size: 48px;
    }
    .tab_category {
      li {
        height: 50px;
        font-size: 13px;
        letter-spacing: -0.1em;
      }
    }
  }
  .section.section-winner-main {
    &.section-winner-category {
      .subcategory_wrap {
        >div {
          margin-bottom: 0;
        }
        .subcategory {
          font-size: 34px;
          line-height: 1.2;
        }
        .winner_wrap {
          margin-top: 30px;
          .stit {
            font-size: 24px;
          }
          .list-winner {
            margin-top: 20px;
          }
        }
      }
    }
  }
  .subcategory_title_top {
    top: 10px;
    .container-inner {
      padding: 10px 64px 0px 24px;
      .holder {
        font-size: 28px;
        line-height: 1.2;
      }
    }
  }

  .page-userAwardArchiveWinnerList {
    .subcategory_title_top {
      display: none;
    }
  }
}
