<template>
  <div>
    <div id="nav-lnb">
      <ul>
        <li><router-link :to="{ name: 'userMypageRecipient' }">출품내역</router-link></li>
        <li><router-link :to="{ name: 'userMypagePayment' }">결제내역</router-link></li>
        <li><router-link :to="{ name: 'userMypagePrize' }">수상내역</router-link></li>
        <!-- <li><router-link :to="{ name: 'userMypageProfile' }" class="width-less">회원정보 수정</router-link></li> -->
        <li><router-link :to="{ name: 'userMypageProfile' }">회원정보</router-link></li>
      </ul>
    </div>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
@import "@/../../assets/sass/mypage.scss";
</style>