<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">마이페이지</h1>
        <div class="title-sub-1">마이페이지는 출품 기간 내 출품작을 수정하거나<br>결제정보 및 회원정보를 변경할 수 있습니다.</div>
      </div>
    </div>

    <recipient-component></recipient-component>
    <payment-component></payment-component>
    <prize-component></prize-component>
  </div>
</template>

<script>
import Recipient from './Recipient';
import Payment from './Payment';
import Prize from './Prize';

export default {
  components:{
    'recipient-component':Recipient,
    'payment-component':Payment,
    'prize-component':Prize
  },
  data(){
    return{

    };
  },
  mounted() {
  },
  methods: {
  }
}
</script>