<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">마이페이지</h1>
        <div class="title-sub-1">마이페이지는 출품 기간 내 출품작을 수정하거나<br>결제정보 및 회원정보를 변경할 수 있습니다.</div>
      </div>
    </div>

    <section class="section section-items section-mypage section-mypage-recipient">
      <div class="container container-inner container-basic">
        <div class="title-4">결제내역</div>
        <ul v-if="payments.length" class="list-recipient">
          <li v-for="(work, index) in payments" :key="work.w_id">
            <div class="thumb">
              <v-img v-if="work.w_thumbnail" :src="work.w_thumbnail" :aspect-ratio="580/348" @error="work.w_thumbnail = null"></v-img>
              <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
            </div>
            <div class="tit">{{work.p_title}}</div>
            <div class="con">
              <div><span>결제번호</span>{{work.p_no}}</div>
              <div><span>결제일시</span>{{formatDate(work.p_subdate)}}</div>
              <div><span>결제가액</span>{{work.p_totalprice | addComma}} 원</div>
            </div>
            <div class="dsc">
              <div class="status">{{formatStatus(work.p_status)}}</div>
              <v-btn :href="'/mypage/payment_detail/'+work.p_no" depressed tile text outlined small :disabled="work.p_status == '-2'">결제상세내역</v-btn>
            </div>
          </li>
        </ul>
        <div v-else class="nodata">아직 결제내역이 없습니다</div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data(){
    return{
      noimage: '/assets/img/common/noimage_600.png',
      payments : []
    };
  },
  mounted() {
    this.$axios.get('/api/mypage/payment').then(res => {
      this.payments = res.data;
      // console.log(this.payments);
    })
  },
  methods: {
    formatDate(value) {
      return (value == '0000-00-00 00:00:00' || value == null) ? '-' : this.$moment(value).format('YYYY.MM.DD HH:mm:ss');
    },
    formatStatus(value) {
      return value == '1' ? '결제 대기' : value == '9' ? '결제 완료' : value == '-1' ? '결제 취소' : value == '-2' ? '결제 실패' : '결제 대기';
    },
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    }
  }
}
</script>