<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">마이페이지</h1>
        <div class="title-sub-1">마이페이지는 출품 기간 내 출품작을 수정하거나<br>결제정보 및 회원정보를 변경할 수 있습니다.</div>
      </div>
    </div>

    <section class="section section-items section-mypage section-mypage-paydetail">
      <div class="container container-inner container-basic">
        <div class="title-4">결제상세내역</div>
        <div class="pay_summary">
          <div class="tit">{{pay_info.p_title}}</div>
          <ul class="con">
            <li><span class="lb">결제번호</span>{{pay_info.p_no}}</li>
            <li><span class="lb">결제일시</span>{{formatDate(pay_info.p_subdate)}}</li>
            <li><span class="lb">결제유형</span>{{formatMethod(pay_info.p_method)}}</li>
            <!-- <li><span class="lb">출품가액</span>{{pay_info.p_totalprice | addComma}} 원</li> -->
            <li><span class="lb">출품가액</span><span v-html="formatVatPrice(pay_info.p_totalprice)"></span></li>
          </ul>
          <div class="btn_area">
            <div class="status">{{formatStatus(pay_info.p_status)}}</div>
            <v-btn v-if="pay_info.p_method == 'deposit' && pay_info.p_taxrequest == 0" depressed tile text outlined small @click="openModal('taxbill')">세금계산서 요청</v-btn>
            <v-btn v-else-if="pay_info.p_method == 'deposit' && pay_info.p_taxrequest == 1" depressed tile text outlined small disabled>세금계산서 요청됨</v-btn>
            <v-btn v-else-if="pay_info.p_method == 'credit'" depressed tile text outlined small @click="showBill(pay_info.p_result)">영수증 출력</v-btn>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-items section-mypage section-mypage-paydetail-list">
      <div class="container container-inner container-basic">
        <ul class="list-work">
          <li v-for="(work, index) in works" :key="work.w_id">
            <div class="inner" :class="{price_dc: work.price_dc == 'Y'}">
              <div class="thumb">
                <v-img
                  v-if="work.w_thumbnail"
                  :src="thumb(work.w_thumbnail)" :aspect-ratio="350/210" @error="work.w_thumbnail = null">
                </v-img>
                <v-img
                  v-else
                  :src="noimage" :aspect-ratio="350/210" class="noimg">
                </v-img>
              </div>
              <div class="con">
                <div class="name ellipsis-2">{{work.w_title}}</div>
                <div class="category">{{work.cp_title}}<br>{{work.category_data[0].c_title}}<span v-if="work.category_data.length > 1"> 외 {{work.category_data.length - 1}}건</span></div>
                <div class="price"><span class="lb">출품가액</span><span v-html="formatVatPrice(work.total_price)"></span></div>
                <div class="price_helper"><v-icon>mdi-information</v-icon>출품작이 7개 이상일시 8번째 출품작부터 추가등록비는 면제됩니다</div>
              </div>
            </div>
            <v-divider></v-divider>
          </li>
        </ul>
        <div class="total_wrap"><span>총 결제금액</span>{{pay_info.p_totalprice | addComma}} 원</div>
      </div>
    </section>

    <div class="btn-area-bottom text-right">
      <div class="container container-inner container-basic">
        <v-btn href="/mypage/payment" depressed tile large color="primary">확인</v-btn>
      </div>
    </div>

    <v-dialog
      v-model="modalUser"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-user"
      max-width="640px"
      persistent
      eager
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'taxbill'">
          <div v-html="modalContent"></div>
          <div class="modal-text-field mt-3">
            <v-form
              ref="form"
              v-model="formValid"
            >
              <v-text-field
                v-model="enrollee_taxmail"
                name="enrollee_taxmail"
                :rules="[rules.required, rules.email]"
                label="계산서 수신 이메일"
                placeholder="세금계산서 수신 이메일 입력"
                autocomplete="off"
                solo
                flat
                required
              >
                <template v-slot:message="{message}"><span v-html="message"></span></template>
              </v-text-field>
            </v-form>
          </div>
        </v-card-text>
        <v-card-text v-else v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn depressed tile text outlined @click="modalUser = false">취소</v-btn>
          <v-btn v-if="modalType == 'taxbill'" depressed tile color="primary" :disabled="!formValid" @click="requestTaxbill">요청하기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalUser = false" class="btn-close">
            <v-icon>xi-close-thin</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalBill"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-bill"
      max-width="472px"
    >
      <v-card>
        <v-card-text>
          <iframe width="100%" height="725px" frameborder="0" :src="bill_url"></iframe>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalBill = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data(){
    return{
      noimage: '/assets/img/common/noimage_600.png',

      pay_info: [],
      works: [],
      work_selected: [],
      p_no: '',
      method: '',
      enrollee_taxmail: '',

      formValid: false,

      modalUser: false,
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modalBill: false,
      bill_url: '',

      modal: {
        taxbill: { title: '세금계산서 요청', content: '세금계산서를 수신 할 이메일 주소를 입력해 주세요' }
      },

      snackbar: {
        requestTaxbill: { content: '요청 완료되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '<i class="xi xi-close"></i>올바른 이메일 형식으로 입력해 주세요'
        },
      },
    };
  },
  mounted() {
    this.p_no = this.$route.params.p_no ? this.$route.params.p_no : '';
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      if (this.p_no) {
        this.$axios.get('/api/admin/payment/view/' + this.p_no).then(res => {
          this.pay_info = res.data.data;
          // console.log(this.pay_info);

          this.method = this.pay_info.p_method;
        });
        this.$axios.get('/api/admin/payment/work/' + this.p_no).then(res => {
          // this.works = res.data.data;
          // console.log(this.works);
          const works_data = res.data.data;
          // console.log(works_data);
          let c_title = [];
          for (var i = 0; i < works_data.length; i++) {
            c_title[i] = [];
            for (var k = 0; k < works_data[i].category_data.length; k++) {
              c_title[i].push(works_data[i].category_data[k].c_title);
            }
            works_data[i].c_title = c_title[i].join(', ');
          }
          this.works = works_data;
          console.log(this.works);
        });
      }
    },
    formatMethod(value) {
      return value == 'deposit' ? '무통장입금' : '신용카드';
    },
    formatDate(value) {
      return (value == '0000-00-00 00:00:00' || value == null) ? '-' : this.$moment(value).format('YYYY.MM.DD HH:mm:ss');
    },
    formatStatus(value) {
      return value == '1' ? '결제 대기' : value == '9' ? '결제 완료' : value == '-1' ? '결제 취소' : value == '-2' ? '결제 실패' : '결제 대기';
    },
    formatVatPrice(value) {
      var num = new Number(value);
      var price = num - (num / 11);
      var comma_price = price.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
      return comma_price + ' 원 <span class="vat">(VAT 별도)</span>';
    },
    thumb(img) {
      return img.substring(0, img.lastIndexOf('.')) + '_580_348' + img.substring(img.lastIndexOf('.'));
    },
    openModal(type) {
      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalUser = true;
    },
    showBill(tr_no) {
      this.bill_url = 'https://pgims.ksnet.co.kr/pg_infoc/src/bill/new_credit_view.jsp?tr_no=' + tr_no;
      this.modalBill = true;
    },
    requestTaxbill() {
      const formdata = new FormData();
      formdata.append('enrollee_taxmail', this.enrollee_taxmail);

      this.$axios.post(
        '/api/request/taxbill/' + this.p_no, formdata, {
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.requestTaxbill);
      }).catch(err => {
        // this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
        this.modalUser = false;
      });
    }
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    }
  }
}
</script>