<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">마이페이지</h1>
        <div class="title-sub-1">마이페이지는 출품 기간 내 출품작을 수정하거나<br>결제정보 및 회원정보를 변경할 수 있습니다.</div>
      </div>
    </div>

    <section class="section section-items section-mypage section-mypage-recipient">
      <div class="container container-inner container-basic">
        <div class="title-4">수상내역</div>
        <ul v-if="prizes.length" class="list-recipient">
          <li v-for="(work, index) in prizes" :key="work.w_id">
            <div class="thumb">
              <v-img v-if="work.w_thumbnail" :src="work.w_thumbnail" :aspect-ratio="580/348" @error="work.w_thumbnail = null"></v-img>
              <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
            </div>
            <div class="tit">{{work.w_title}}</div>
            <div class="con">
              <div><span>수상연도</span>{{work.a_year}}</div>
              <div><span>수상부문</span>{{work.cp_title}}</div>
              <div><span>수상분야</span>{{work.c_title}}</div>
            </div>
            <div class="dsc">
              <div class="status">{{formatStatus(work.r_status)}}</div>
              <v-btn :href="'/winners/'+work.a_id+'?w_id='+work.w_id" depressed tile text outlined small>공고 확인</v-btn>
            </div>
          </li>
        </ul>
        <div v-else class="nodata">아직 수상내역이 없습니다</div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data(){
    return{
      noimage: '/assets/img/common/noimage_600.png',
      prizes : []
    };
  },
  mounted() {
    this.$axios.get('/api/mypage/prize').then(res => {
      this.prizes = res.data;
      // console.log(this.prizes);
    })
  },
  methods: {
    formatStatus(value) {
      return value == '1' ? '공고 확정' : value == '2' ? '연감 요청' : value == '3' ? '연감 완료' : value == '9' ? '종결' : '공고 예정';
    },
  },
}
</script>