<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">마이페이지</h1>
        <div class="title-sub-1">마이페이지는 출품 기간 내 출품작을 수정하거나<br>결제정보 및 회원정보를 변경할 수 있습니다.</div>
      </div>
    </div>

    <section class="section section-items section-mypage section-mypage-profile">
      <div class="container container-inner container-basic">
        <div class="title-4">회원정보 수정</div>
      </div>
    </section>

    <v-form
      ref="form"
      v-model="formValid"
    >
      <section class="section section-items section-join section-mypage section-mypage-profile cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">아이디와 비밀번호를 입력해주세요</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="user_info.u_id"
                  :rules="[rules.required]"
                  label="아이디"
                  placeholder="사용할 아이디를 입력"
                  autocomplete="off"
                  maxlength="16"
                  disabled
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="u_password"
                  :error-messages="error_password"
                  :success-messages="success_password"
                  :type="showPassword1 ? 'text' : 'password'"
                  label="비밀번호"
                  placeholder="변경할 비밀번호 입력"
                  autocomplete="new-password"
                  hint="8~24자의 영문,숫자,특수문자 조합으로 입력해주세요"
                  persistent-hint
                  maxlength="24"
                  counter
                  @click:append="showPassword1 = !showPassword1"
                  required
                >
                  <template v-slot:append>
                    <div class="v-input__icon v-input__icon--append v-input__icon--password">
                      <v-btn @click="showPassword1 = !showPassword1" tabindex="-1" style="cursor:pointer">
                        <v-icon v-if="showPassword1" >mdi-eye</v-icon>
                        <v-icon v-if="!showPassword1" >mdi-eye-off</v-icon>
                      </v-btn>
                    </div>
                  </template>
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="u_password2"
                  :error-messages="error_password2"
                  :success-messages="success_password2"
                  :type="showPassword2 ? 'text' : 'password'"
                  label="비밀번호 재입력"
                  placeholder="비밀번호 재입력"
                  autocomplete="new-password"
                  hint="동일한 비밀번호를 입력해주세요"
                  persistent-hint
                  @click:append="showPassword2 = !showPassword2"
                  required
                >
                  <template v-slot:append>
                    <div class="v-input__icon v-input__icon--append v-input__icon--password">
                      <v-btn @click="showPassword2 = !showPassword2" tabindex="-1" style="cursor:pointer">
                        <v-icon v-if="showPassword2" >mdi-eye</v-icon>
                        <v-icon v-if="!showPassword2" >mdi-eye-off</v-icon>
                      </v-btn>
                    </div>
                  </template>
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-join section-mypage section-mypage-profile cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">기업 정보를 입력해주세요</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <input type="hidden" name="e_id" v-model="e_id">
                <v-text-field
                  v-model="user_info.e_company"
                  :rules="[rules.required]"
                  label="기업명"
                  placeholder="기업명 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.e_name"
                  :rules="[rules.required]"
                  label="대표자명"
                  placeholder="대표자명 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.e_email"
                  :rules="[rules.required, rules.email]"
                  label="회사 대표 이메일"
                  placeholder="회사 대표 이메일을 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.e_site"
                  label="회사 웹사이트 URL (선택사항)"
                  placeholder="회사 웹사이트 URL 입력"
                  autocomplete="off"
                  persistent-hint
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-dialog v-model="dialogAddress" persistent open-on-focus max-width="600px" content-class="dialog-normal">
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="user_info.e_zipcode"
                      :rules="[rules.required]"
                      label="회사 주소"
                      placeholder="주소 검색"
                      autocomplete="off"
                      v-bind="attrs"
                      v-on="on"
                      required
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                    <div v-show="addressWrap" class="address_wrap">
                      <v-text-field
                        v-model="user_info.e_address1"
                        :rules="[rules.required]"
                        v-bind="attrs"
                        v-on="on"
                        autocomplete="off"
                        hide-details
                        required
                        readonly
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                      <v-text-field
                        v-model="user_info.e_address2"
                        ref='e_address2'
                        :rules="[rules.required]"
                        placeholder="상세주소 입력"
                        autocomplete="off"
                        required
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </div>
                  </template>

                  <v-card>
                    <v-card-title>
                      <span class="headline">주소 검색</span>
                    </v-card-title>
                    <v-card-text>
                      <vue-daum-postcode
                        :animation="true"
                        :hide-map-btn="true"
                        :hide-eng-btn="true"
                        :theme="{
                          bgColor: '#111111',
                          searchBgColor: '#000000',
                          contentBgColor: '#111111',
                          pageBgColor: '#111111',
                          textColor: '#ffffff',
                          queryTextColor: '#ffffff',
                          postcodeTextColor: '#ffd700',
                          emphTextColor: '#999999',
                          outlineColor: '#333333'
                        }"
                        @complete="inputAddress"
                        style="height:444px; overflow:scroll; background-color:#111111;"
                      />
                    </v-card-text>
                    <v-btn depressed icon @click="dialogAddress = false" class="btn-close_top-right">
                      <v-icon>xi-close</v-icon>
                    </v-btn>
                  </v-card>
                </v-dialog>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-join section-mypage section-mypage-profile cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">계산서 발행을 위한 정보를 입력해주세요</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="user_info.e_number"
                  :rules="[rules.required, rules.bregnum]"
                  label="사업자등록번호"
                  placeholder="사업자등록번호 입력"
                  maxlength="12"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <label class="v-label label-alone-basic">사업자등록증 업로드</label>
                <div class="label-dsc">· 사업자등록증 이미지 (JPG, GIF, PNG 파일 가능 / 5MB 이하)</div>
                <div v-ripple class="preview_wrap">
                  <upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    @limit-exceeded="limitExceeded"
                    @size-exceeded="sizeExceeded"
                    idUpload="image_upload_key"
                    idEdit="image_edit_key"
                    containerWidth="100%"
                    containerHeight="135%"
                    :data-id="'u'+user_info.u_id"
                    :data-images="images"
                    :multiple="false"
                    :maxImage="1"
                    :maxSize="15728640"
                    :showPrimary="false"
                  ></upload-multiple-image>
                  </div>
                    <v-checkbox
                      v-model="uploadImagesRegValid"
                      :rules="[v => !!v || '필수']"
                      label="업로드된 사업자등록증"
                      required
                      class="hidden-field"
                    ></v-checkbox>
                    <div class="image-input-helper"><span v-show="!uploadImagesRegValid"><i class="xi xi-close"></i>사업자등록증을 업로드해주세요</span></div>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.e_business"
                  :rules="[rules.required]"
                  label="업태"
                  placeholder="업태 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.e_sector"
                  :rules="[rules.required]"
                  label="업종"
                  placeholder="업종 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <!-- <li>
                <v-text-field
                  v-model="e_taxemail"
                  :rules="[rules.required, rules.email]"
                  label="계산서 수신 이메일"
                  placeholder="세금계산서를 수신할 이메일을 입력해주세요"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li> -->
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-join section-mypage section-mypage-profile cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">연락 받을 담당자 정보를 입력해주세요</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="user_info.u_name"
                  :rules="[rules.required]"
                  label="담당자명"
                  placeholder="담당자명 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.u_phone1"
                  :rules="[rules.phone1]"
                  label="담당자 유선 번호 (선택사항)"
                  placeholder="담당자 유선 번호 입력"
                  autocomplete="off"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="user_info.u_phone2"
                  :rules="[rules.required, rules.phone2]"
                  label="담당자 무선 번호"
                  placeholder="담당자 무선 번호 입력"
                  autocomplete="off"
                  maxlength="13"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="u_email"
                  :rules="[rules.required]"
                  :error-messages="error_email"
                  :success-messages="success_email"
                  label="담당자 이메일"
                  placeholder="담당자 이메일 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- <section class="section section-items section-join cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">알림수신 여부를 선택해주세요</span>
          </div>
          <div class="con-right">
            <ul class="list-input-check">
              <li>
                <v-checkbox
                  v-model="agree_sms"
                  label="SMS 수신 동의"
                  true-value="1"
                  false-value="0"
                  hide-details
                  off-icon ="mdi-square"
                  on-icon ="mdi-square"
                >
                </v-checkbox>
              </li>
              <li>
                <v-checkbox
                  v-model="user_info.agree_email"
                  label="이메일 수신 동의"
                  true-value="1"
                  false-value="0"
                  hide-details
                  off-icon ="mdi-square"
                  on-icon ="mdi-square"
                >
                </v-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </section> -->

      <section class="section section-items section-mypage section-mypage-profile">
        <div class="container container-inner container-basic">
          <div class="btn-area text-right">
            <v-btn depressed tile text outlined large @click="cancelModify">취소</v-btn>
            <!-- <v-btn depressed tile large color="primary" @click="submitModify">수정완료</v-btn> -->
            <v-tooltip top :disabled="formValid" content-class="clear warn">
              <template v-slot:activator="{ on }">
                <div v-on="on" class="btn_outer" style="display:inline-block;">
                  <v-btn depressed tile large color="primary" @click="submitModify" :disabled="!formValid">수정완료</v-btn>
                </div>
              </template>
              <span>필수값을 올바르게 입력해 주세요</span>
            </v-tooltip>
          </div>
          <div class="btn-area-bottom text-right">
            <v-btn depressed tile text class="link-underline" @click="openModal('withdraw')">회원탈퇴</v-btn>
          </div>
        </div>
      </section>
    </v-form>

    <v-dialog
      v-model="modalUser"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-user"
      max-width="640px"
      persistent
      eager
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'withdraw'">
          <div v-html="modalContent"></div>
          <div class="modal-text-field mt-3">
            <v-text-field
              v-model="current_password"
              :error-messages="error_password"
              :success-messages="success_password"
              :type="showPassword3 ? 'text' : 'password'"
              label="비밀번호 입력"
              autocomplete="off"
              maxlength="24"
              solo
              flat
              @click:append="showPassword3 = !showPassword3"
            >
              <template v-slot:append>
                <div class="v-input__icon v-input__icon--append v-input__icon--password">
                  <v-btn @click="showPassword3 = !showPassword3" tabindex="-1" style="cursor:pointer">
                    <v-icon v-if="showPassword3" >mdi-eye</v-icon>
                    <v-icon v-if="!showPassword3" >mdi-eye-off</v-icon>
                  </v-btn>
                </div>
              </template>
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </div>
        </v-card-text>
        <v-card-text v-else v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn depressed tile text outlined @click="modalUser = false">취소</v-btn>
          <v-btn v-if="modalType == 'withdraw'" depressed tile color="primary" @click="withdraw()">탈퇴하기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalUser = false" class="btn-close">
            <v-icon>xi-close-thin</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';
import { VueDaumPostcode } from 'vue-daum-postcode'

export default {
  components: {
    UploadMultipleImage,
    VueDaumPostcode,
  },  
  data(){
    return{
      formValid: false,
      user_info: [],

      showPassword1: false,
      showPassword2: false,
      showPassword3: false,
      dialogAddress: false,
      addressWrap: true,

      error_id: [],
      success_id: [],
      error_password: [],
      success_password: [],
      error_password2: [],
      success_password2: [],
      error_email: [],
      success_email: [],

      u_name: '',
      u_password: '',
      u_password2: '',
      current_password: '',
      u_phone1: '',
      u_phone2: '',
      u_email: '',
      e_id: '',
      e_company: '',
      e_name: '',
      e_address1: '',
      e_address2: '',
      e_zipcode: '',
      e_email: '',
      e_site: '',
      e_number: '',
      images: [],
      uploadImages: [],
      uploadImagesRegValid: false,
      e_business: '',
      e_sector: '',
      e_taxemail: '',
      agree_sms: '1',
      agree_email: '1',

      modalUser: false,
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        withdraw: { title: '회원탈퇴', content: '회원탈퇴를 하시겠습니까?<br>회원 탈퇴 시, <span class="emphas-white">수상작 정보를 제외한</span> 회원정보가 삭제됩니다<br><br>현재 비밀번호를 확인 후 탈퇴가 완료됩니다' }
      },

      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        withdraw: { content: '탈퇴가 완료되었습니다', color: 'success', icon: 'xi-check' },
        withdrawFail: { content: '올바른 비밀번호를 입력해주세요', color: 'error', icon: 'xi-error-o' },
        cancel: { content: '취소되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        password: value => {
          const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/
          return pattern.test(value) || '<i class="xi xi-close"></i>8~24자의 영문,숫자,특수문자 조합으로 입력해주세요'
        },
        password2: value => value == this.u_password || '<i class="xi xi-close"></i>동일한 비밀번호를 입력해주세요',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '<i class="xi xi-close"></i>올바른 이메일 형식으로 입력해 주세요'
        },
        url: value => {
          const pattern = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
          return pattern.test(value) || '<i class="xi xi-close"></i>http:// 를 포함한 형식으로 입력해주세요'
        },
        phone1: value => {
          return this.chk_tel(value) || '<i class="xi xi-close"></i>올바른 유선 번호를 입력해주세요'
        },
        phone2: value => {
          return this.chk_phone(value) || '<i class="xi xi-close"></i>올바른 휴대폰 번호를 입력해주세요'
        },
        bregnum: value => {
          return this.chk_bregnum(value) || '<i class="xi xi-close"></i>올바른 사업자등록번호를 입력해주세요'
        },
      },
    };
  },
  mounted() {
    this.$axios.get('/api/mypage/profile').then(res => {
      this.user_info = res.data;
      // console.log('this.user_info', this.user_info);
      this.u_email = this.user_info.u_email;
      let image = {'path': this.user_info.e_registration};
      // this.e_registration = this.user_info.e_registration;
      if (image.path !== '' && image.path !== null) {
        this.images.push(image);
        this.uploadImagesRegValid = true;
      }
    });
  },
  watch: {
    async u_id(value) {
      this.error_id = this.error_id;
      const pattern = /^[A-Za-z0-9+]{5,16}$/;
      const checkLoginForm = new FormData();
      checkLoginForm.append('u_id', value);

      const res = this.$axios.post('/api/find_user_id', checkLoginForm,{
        headers: { "Content-Type": "multipart/form-data" }
      }).then(res => {
        if (!pattern.test(value)) {
          this.error_id = ['<i class="xi xi-close"></i>5~16자의 영문,숫자로 입력해주세요'];
        } else {
          if (res.status == '200') {
            this.error_id = [];
            this.success_id = ['<i class="xi xi-check"></i>사용 가능한 아이디 입니다'];
          } else {
            this.error_id = ['<i class="xi xi-close"></i>이미 사용중인 아이디 입니다'];
          }
        }
      }).catch(err =>{
        // alert(JSON.parse(err.response.statusText));
        this.error_id = ['<i class="xi xi-close"></i>이미 사용중인 아이디 입니다'];
      });
    },
    async u_password(value) {
      this.error_password = this.error_password;
      const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/;

      if (this.u_password2) {
        if (value !== this.u_password2) {
          this.error_password2 = ['<i class="xi xi-close"></i>동일한 비밀번호를 입력해주세요'];
        } else {
          this.error_password2 = [];
          this.success_password2 = ['<i class="xi xi-check"></i>비밀번호가 확인 되었습니다'];
        }
      }

      if (!pattern.test(value)) {
        this.error_password = ['<i class="xi xi-close"></i>8~24자의 영문,숫자,특수문자 조합으로 입력해주세요'];
      } else {
        this.error_password = [];
        this.success_password = ['<i class="xi xi-check"></i>사용 가능한 비밀번호 입니다'];
      }
    },
    async u_password2(value) {
      this.error_password2 = this.error_password2;

      if (value !== this.u_password) {
        this.error_password2 = ['<i class="xi xi-close"></i>동일한 비밀번호를 입력해주세요'];
      } else {
        this.error_password2 = [];
        this.success_password2 = ['<i class="xi xi-check"></i>비밀번호가 확인 되었습니다'];
      }
    },    
    async u_email(value) {
      this.error_email = this.error_email;
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const checkEmailForm = new FormData();
      checkEmailForm.append('u_email', value);

      const res = this.$axios.post('/api/find_user_email', checkEmailForm,{
        headers: { "Content-Type": "multipart/form-data" }
      }).then(res => {
        if (!pattern.test(value)) {
          this.error_email = ['<i class="xi xi-close"></i>올바른 이메일 형식으로 입력해 주세요'];
        } else {
          if (res.status == '200') {
            this.error_email = [];
            this.success_email = ['<i class="xi xi-check"></i>사용 가능한 이메일 입니다'];
          } else {
            this.error_email = ['<i class="xi xi-close"></i>이미 가입된 이메일 입니다'];
            if (value == this.u_email) {
              this.success_email = ['<i class="xi xi-check"></i>현재 회원 이메일 입니다'];
            } else {
              this.error_email = ['<i class="xi xi-close"></i>이미 가입된 이메일 입니다'];
            }
          }
        }
      }).catch(err =>{
        // alert(JSON.parse(err.response.statusText));
        if (value == this.u_email) {
          this.success_email = ['<i class="xi xi-check"></i>현재 회원 이메일 입니다'];
        } else {
          this.error_email = ['<i class="xi xi-close"></i>이미 가입된 이메일 입니다'];
        }
      });
    }
  },
  methods: {
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    inputAddress(data) {
      this.user_info.e_zipcode = data.zonecode;
      this.user_info.e_address1 = data.address;
      this.dialogAddress = false;
      this.addressWrap = true;
      this.$nextTick(() => {
        this.$refs.e_address2.focus();
      });
    },
    chk_tel(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      const pattern8 = /^([0-9]{4})-?([0-9]{4})$/
      const pattern9 = /^02-?([0-9]{3})-?([0-9]{4})$/
      const pattern10a = /^02-?([0-9]{4})-?([0-9]{4})$/
      const pattern10b = /^([0-9]{3})-?([0-9]{3})-?([0-9]{4})$/
      const pattern11 = /^([0-9]{3})-?([0-9]{4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return true;
      }
      else if (len == 3) {
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/\-/g,'');
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 8) {
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/\-/g,'');
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/([0-9]{4})([0-9]{4})/, "$1-$2");
        return pattern8.test(this.user_info.u_phone1) || false;
      }
      else if (len == 9) {
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/\-/g,'');
        if (this.user_info.u_phone1.substring(0, 2) == '02') {
          this.user_info.u_phone1 = this.user_info.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern9.test(this.user_info.u_phone1) || false;
        } else {
          return false;
        }
      }
      else if (len == 10) {
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/\-/g,'');
        if (this.user_info.u_phone1.substring(0, 2) == '02') {
          this.user_info.u_phone1 = this.user_info.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern10a.test(this.user_info.u_phone1) || false;
        } else {
          this.user_info.u_phone1 = this.user_info.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
          return pattern10b.test(this.user_info.u_phone1) || false;
        }
      }
      else if (len == 11) {
        this.user_info.u_phone1 = this.user_info.u_phone1.replace(/\-/g,'');
        if (this.user_info.u_phone1.substring(0, 2) == '02') {
          return false;
        } else {
          this.user_info.u_phone1 = this.user_info.u_phone1.replace(/([0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern11.test(this.user_info.u_phone1) || false;
        }
      }
      else {
        return false;
      }
    },
    chk_phone(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/\-/g,'');
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 10) {
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/\-/g,'');
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.user_info.u_phone2) || false;
      }
      else if (len == 11) {
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/\-/g,'');
        this.user_info.u_phone2 = this.user_info.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{4})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.user_info.u_phone2) || false;
      }
      else {
        return false;
      }
    },
    chk_bregnum(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /([0-9]{3})-?([0-9]{2})-?([0-9]{5})/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.user_info.e_number = this.user_info.e_number.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 5) {
        this.user_info.e_number = this.user_info.e_number.replace(/\-/g,'');
        this.user_info.e_number = this.user_info.e_number.replace(/([0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 6) {
        this.user_info.e_number = this.user_info.e_number.replace(/\-/g,'');
        this.user_info.e_number = this.user_info.e_number.replace(/([0-9]{3})([0-9]{2})([0-9]+)/, "$1-$2-$3");
        return false;
      }
      else if (len == 10) {
        return pattern.test(this.user_info.e_number) || false;
      }
      else {
        return false;
      }
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
      this.uploadImagesRegValid = true;
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      this.uploadImagesRegValid = false;
      done()
    },
    editImage(formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      this.uploadDialog = true
      this.uploadText = '최대 5개까지 업로드가 가능합니다'
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    openModal(type) {
      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalUser = true;
    },
    submitModify() {
      const formdata = new FormData();
      formdata.append('u_no', this.user_info.u_no);
      formdata.append('u_id', this.user_info.u_id);
      formdata.append('e_id', this.user_info.e_id);
      if (this.u_password) {
        formdata.append('u_password', this.u_password);
      }
      formdata.append('u_name', this.user_info.u_name);
      formdata.append('u_phone1', this.user_info.u_phone1);
      formdata.append('u_phone2', this.user_info.u_phone2);
      formdata.append('u_email', this.u_email);
      formdata.append('e_company', this.user_info.e_company);
      formdata.append('e_name', this.user_info.e_name);
      formdata.append('e_email', this.user_info.e_email);
      if (this.user_info.e_site) {
        if (!this.user_info.e_site.match(/^https?:\/\//)) {
            this.user_info.e_site = 'http://' + this.user_info.e_site;
        }
      }
      formdata.append('e_site', this.user_info.e_site);
      formdata.append('e_zipcode', this.user_info.e_zipcode);
      formdata.append('e_address1', this.user_info.e_address1);
      formdata.append('e_address2', this.user_info.e_address2);
      formdata.append('e_number', this.user_info.e_number);
      formdata.append('e_business', this.user_info.e_business);
      formdata.append('e_sector', this.user_info.e_sector);
      formdata.append('agree_email', this.user_info.agree_email);
      if (this.uploadImages) {
        for (let uploadImage of this.uploadImages) {
          // console.log(uploadImage);
          formdata.append('e_registration', uploadImage);
        }
      }

      var api_user_update = '/api/admin/user/create';
      if(this.user_info.u_no > 0) {
        api_user_update = '/api/admin/user/modify';
      }

      this.$axios.post(
        api_user_update, formdata,{
          headers: { "Content-Type": "multipart/form-data" }, showLoading: true
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
        this.$router.push({ name: 'userMypageMain' });
      }).catch(err => {
        // this.$store.commit('showSnackbar', this.snackbar.error);
      });
    },
    cancelModify() {
      this.$store.commit('showSnackbar', this.snackbar.cancel);
      this.$router.push({ name: 'userMypageMain' });
    },
    withdraw() {
      const formdata = new FormData();
      formdata.append('u_no', this.user_info.u_no);
      formdata.append('u_password', this.current_password);

      this.$axios.post(
        '/api/delete/user', formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.withdraw);
        location.href = '/logout';
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.withdrawFail);
      });
    }
  }
}
</script>