<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">마이페이지</h1>
        <div class="title-sub-1">마이페이지는 출품 기간 내 출품작을 수정하거나<br>결제정보 및 회원정보를 변경할 수 있습니다.</div>
      </div>
    </div>

    <section class="section section-items section-mypage section-mypage-recipient">
      <div class="container container-inner container-basic">
        <div class="title-4">출품내역</div>
        <ul v-if="recipients.length" class="list-recipient">
          <li v-for="(work, index) in recipients" :key="work.w_id">
            <div class="thumb" @click="openWinnerDetail(work.a_id, work.w_id)">
              <v-img v-if="work.w_thumbnail" :src="work.w_thumbnail" :aspect-ratio="580/348" @error="work.w_thumbnail = null"></v-img>
              <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
            </div>
            <div class="tit">{{work.w_title}}</div>
            <div class="con">
              <div><span>출품번호</span>{{work.wp_no}}</div>
              <div><span>출품일시</span>{{formatDate(work.w_date)}}</div>
              <div class="area_mod">
                <div>{{formatStatus(work.w_status)}}</div>
                <v-btn depressed tile text outlined small @click="modify_work(work.w_id)" :disabled="modify_available(work.w_status, work.is_able_modify)">출품 수정</v-btn>
              </div>
            </div>
          </li>
        </ul>
        <div v-else class="nodata">아직 출품내역이 없습니다</div>
      </div>
    </section>

    <v-dialog
      v-model="modalWinnerDetail"
      fullscreen
      hide-overlay
      open-on-focus
      scrollable
      transition="dialog-bottom-transition"
      content-class="modal-winner-detail"
    >
      <v-card>
        <v-btn icon dark @click="closeWinnerDetail" class="btn-close">
          <v-icon>xi-close-thin</v-icon>
        </v-btn>
        <div class="container-modal-full" v-if="winner_detail">
          <div class="content_area scrollable" id="modal-scroll" v-scroll.self="onScrollModal">
            <div class="toptext" id="toptext">A.N.D. AWARD WINNERS</div>
            <div class="inner-content wtitle_wrap">
              <div class="wtitle" id="wtitle-top">{{winner_detail.w_title}}</div>
            </div>
            <div class="vspace"><div></div></div>
            <div class="visual">
              <div class="holder-img">
                <div class="img_key">
                  <v-img v-if="winner_detail.w_thumbnail" :src="winner_detail.w_thumbnail" :aspect-ratio="1470/882" @error="winner_detail.w_thumbnail = null"></v-img>
                  <v-img v-else :src="noimage" :aspect-ratio="1470/882" class="noimg"></v-img>
                </div>
              </div>
              <div class="inner-content">
                <div class="category">{{winner_detail.cp_title}} 부문</div>
                <div class="subcategory">{{winner_detail.c_title}} 분야</div>
                <div class="year">{{winner_detail.a_id}}</div>
              </div>
            </div>
            <div class="con_aera inner-content">
              <div v-if="winner_detail.w_comment && !$vuetify.breakpoint.mdAndUp" class="comment pre-formatted">{{winner_detail.w_comment}}</div>
              <div class="description">
                <div v-if="winner_detail.w_comment && $vuetify.breakpoint.mdAndUp" class="comment pre-formatted">{{winner_detail.w_comment}}</div>
                <div class="con pre-formatted">{{winner_detail.w_descript}}</div>
                <v-btn depressed tile text outlined default :href="work_url" target="_blank" class="btn-type-extlink">수상작 확인하기
                  <v-icon right>xi-external-link</v-icon>
                </v-btn>
              </div>
              <ul class="img_add">
                <li v-for="(w_image, index) in w_images" :key="index">
                  <v-img v-if="w_image" :src="w_image.wo_url + w_image.wo_name" @error="w_image = null">
                    <template v-slot:placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                  <v-img v-else :src="noimage" class="noimg"></v-img>
                </li>
              </ul>
            </div>
            <div class="info_area">
              <div class="inner-content">
                <div class="con">
                  <ul>
                    <li>
                      <div class="ilabel">개발사</div>
                      <div class="itext">{{winner_detail.e_company}}</div>
                    </li>
                    <li>
                      <div class="ilabel">고객사</div>
                      <div class="itext">{{winner_detail.w_client}}</div>
                    </li>
                    <li>
                      <div class="ilabel">공동개발사</div>
                      <div class="itext">{{winner_detail.w_coworker | notExist}}</div>
                    </li>
                    <li>
                      <div class="ilabel">제작기간</div>
                      <div class="itext">{{formatDate2(winner_detail.w_start)}} - {{formatDate2(winner_detail.w_end)}}</div>
                    </li>
                  </ul>
                  <!-- <v-btn depressed tile text outlined large :to="{ name: 'userAwardWinnerList', params: { award: '2019' }, query: {category: '1'}}">수상작 목록
                    <v-icon right>xi-angle-right</v-icon>
                  </v-btn> -->
                  <v-btn depressed tile text outlined large @click="closeWinnerDetail">출품내역 목록</v-btn>
                </div>
                <div class="img_bot">
                  <v-img v-if="winner_detail.w_thumbnail" :src="winner_detail.w_thumbnail" :aspect-ratio="580/348" @error="winner_detail.w_thumbnail = null"></v-img>
                  <v-img v-else :src="noimage" :aspect-ratio="580/348" class="noimg"></v-img>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data(){
    return{
      noimage: '/assets/img/common/noimage_600.png',
      recipients : [],

      modalWinnerDetail: false,

      winner_detail: [],
      w_images: [],
      work_url: '',
      eCounter: 0,

      tooltipCopy: {
        share_url: false,
      },
    };
  },
  mounted() {
    this.$axios.get('/api/mypage/recipient').then(res => {
      this.recipients = res.data;
      // console.log(this.recipients);
    });
  },
  methods: {
    formatStatus(value) {
      return value == '1' ? '출품 심사중' : value == '2' ? '출품 종료' : value == '3' ? '출품 보류' : value == '9' ? '수상 확정' : value == '-1' ? '출품 취소' : '출품 완료';
    },
    openWinnerDetail(a_id, w_id) {
      this.$axios.get('/api/service/work/' + a_id +'/'+ w_id).then(res => {
        this.winner_detail = res.data.data;
        // console.log('winner_detail', this.winner_detail);
        this.w_images = this.winner_detail.child_data;
        this.work_url = this.winner_detail.w_url;
      });
      this.modalWinnerDetail = true;
      setTimeout(() => {
        this.$vuetify.goTo(0, {container: '#modal-scroll', duration: 0});
      }, 0)
    },
    closeWinnerDetail() {
      this.winner_detail = [];
      this.work_url = '';
      this.modalWinnerDetail = false;
    },
    onScrollModal(e) {
      let target_offsetTop = e.target.scrollTop;
      let toptext = document.getElementById('toptext');
      let elem = document.getElementById('wtitle-top');
      let elemH = elem.offsetHeight;
      let classCheck = new RegExp("(\\s|^)active(\\s|$)");
      if (this.eCounter == 0) {
        if (target_offsetTop > 140) {
          e.target.className += ' active';
          toptext.style.marginBottom = elemH+'px';
          this.eCounter++;
        }
      }
      if (this.eCounter == 1) {
        if (target_offsetTop <= 140) {
          e.target.className = e.target.className.replace(classCheck, ' ').trim();
          toptext.style.marginBottom = 0;
          this.eCounter--;
        }
      }
    },
    modify_available(w_status, is_able_modify) {
      // if (is_able_modify == 0) {
      if (is_able_modify != 1) {
        return false;
      } else {
        return true;
      }
    },
    modify_work(w_id) {
      location.href = '/enroll/work/'+ w_id;
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    formatDate2(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD') : '-';
    },
  },
  filters: {
    // prizeName: function(value) {
    //   return value == 'M' ? 'MINISTER PRIX' : value == 'K' ? 'KOBACO PRIX' : value == 'S' ? 'KISA PRIX' : value == 'G' ? 'GRAND PRIX' : 'WINNER';
    // },
    // categoryName: function(value) {
    //   return value == '1' ? 'DIGITAL MEDIA & SERVICES' : 'DIGITAL AD & CAMPAIGNS';
    // },
    notExist: function(value) {
      return value ? value : '-';
    }
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/winner.scss";
</style>