<template>
  <div>
    <div id="nav-lnb">
      <ul>
        <li><router-link :to="{ name: 'userAboutIndex' }">소개</router-link></li>
        <li><router-link :to="{ name: 'userAboutJudge' }">심사위원</router-link></li>
        <li><router-link :to="{ name: 'userAboutSponsor' }">후원사</router-link></li>
      </ul>
    </div>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
@import "@/../../assets/sass/about.scss";
</style>