<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">앤어워드 소개</h1>
        <div class="title-sub-1">앤어워드(Awards For New Digital Award)는 한 해 동안 디지털산업에 <br class="hidden-xs-only">기여한 작품들을 공정한 심사를 통해 수상의 영광을 함께하는 <br class="hidden-xs-only">국내 최대의 디지털산업계 행사 입니다</div>
      </div>
    </div>

    <section class="section section-items section-about-background">
      <div class="symbol"></div>
    </section>

    <section id="section-about-1" class="section full section-items section-about-1">
      <div class="txt_wrap">
        <div class="txt txt-1">DIGITAL</div>
        <div class="txt txt-2">DIGITAL</div>
      </div>
    </section>

    <section class="section section-items section-about-2">
      <div class="container container-inner container-basic">
        <div class="dsc">
          <p>디지털의 세상이 현실화되어 가고 있습니다. 과거 상상하던 모든 것들이 이루어지고 있고, <br class="hidden-xs-only">이제 디지털을 빼고는 산업의 어느 영역이건 그 힘을 발휘할 수 없는 시대가 열렸습니다.<br>‘&’은 이러한 디지털의 확장성과 무한의 잠재력을 나타내는 메타포입니다.</p>
          <p>공식적인 명칭은 ‘앤어워드’ 입니다. 앤어워드의 로고는 ‘Digital & Digital’이란 <br class="hidden-xs-only">어워드 캐치프레이즈에 맞춰 대문자 ‘D’와 소문자 ‘d’로 ‘&’을 구성한 형태입니다.<br>앤어워드에서 잠재력과 확장성 그리고 디지털과 함께 할 수 있는 모든 것을 <br class="hidden-xs-only">경험하고 볼 수 있기를 고대합니다.</p>
        </div>
        <ul class="host">
          <li>
            <div class="hlabel">주관</div>
            <div class="hcon">(사)한국디지털기업협회</div>
          </li>
          <li>
            <div class="hlabel">주최</div>
            <div class="hcon">A.N.D. Award 위원회</div>
          </li>
        </ul>
      </div>
    </section>

    <section id="section-about-3" class="section full section-items section-about-3">
      <div class="character_wrap">
        <div class="char char-1"></div>
        <div class="char char-2"></div>
      </div>
    </section>

    <section id="section-about-4" class="section full section-items section-about-4">
      <div class="txt_wrap">
        <div class="txt txt-1">TODAY'S IMAGINATION.</div>
        <div class="txt txt-2">TOMORROW'S REALITY.</div>
      </div>
    </section>

    <section class="section section-items section-about-5">
      <div class="container container-inner container-basic">
        <div class="dsc">
          <p>지난 2007년, 대한민국 디지털 미디어 산업의 발전을 위해 늘 “도전과 혁신”이라는 주제로 <br class="hidden-xs-only">
          개최해 온 ‘대한민국 디지털 미디어 어워드 (Korea Digital Media Award)’에 시작과 뿌리를 <br class="hidden-xs-only">
          두고 새로운 패러다임으로 재탄생한 ‘앤어워드’가 금년에 16회 째를 맞이하게 되었습니다.</p>

          <p>‘소통’과 ‘참여’라는 기준을 첫 번째로 삼아 늘 초심을 잃지 않기 위해 노력해왔고, <br class="hidden-xs-only">그 열매로 어엿한 중견 어워드로서 자리잡는 계기가 되었습니다.<br>
          ‘앤어워드’의 이러한 성장은 많은 선도 기업들과 우수한 인재들이 창출해 낸 주옥같은 작품들이 있어 가능하였기에 <br class="hidden-xs-only">
          이 자리를 빌어 다시 한 번 그 동안 수상하신 모든 기업, 단체, 종사자분들께 진심으로 감사의 말씀을 전합니다.</p>

          <p>그 동안 ‘앤어워드’는 원칙을 지키려 노력해왔습니다.<br>
          그 원칙은 ‘공정하고 엄격한 심사를 통해 최고의 성과를 거둔 기업 및 단체의 노력을 응원하고 축하하는 것이며 <br class="hidden-xs-only">
          앞으로도 변함없이 초심을 잃지 않고 우리의 길을 묵묵히 걸어나갈 것을 약속 드립니다.</p>

          <p>아울러 급속히 변모하는 산업의 트렌드를 이해하고 리딩해 나간다는 것이 <br class="hidden-xs-only">
          얼마나 어려운 일인지 너무나도 잘 알고 있습니다. 참으로 어렵고 힘든 일이지만 원칙을 지키며, <br class="hidden-xs-only">
          진정성을 가지고 노력하는 것만이 더 나은 미래를 위한 단순하지만 가장 명쾌한 방법이라 믿고 있기에 <br class="hidden-xs-only">
          또 한 번 성장하고 진화하기 위한 도전을 준비하고 있습니다.</p>
        </div>
      </div>
    </section>

    <section id="section-about-6" class="section full section-items section-about-6">
      <div class="container container-inner container-basic">
        <div class="year">
          <ul id="about-6-year">
            <li v-for="(history, index) in historys" :key="index">{{history.year}}</li>
          </ul>
        </div>
        <v-progress-circular
          :rotate="-90"
          :size="120"
          :width="10"
          :value="slideOffset"
          color="#0012ed"
        >
        </v-progress-circular>
        <!-- <div class="slide_history" id="scroll-target" v-scroll:#scroll-target="onScrollHorizontal"> -->
        <div class="slide_history" id="scroll-target">
          <ul>
            <li v-for="(history, index) in historys" :key="index" class="item">
              <div class="thumb">
                <img v-if="history.image" :src="'/assets/img/about/' + history.image">
                <img v-else src="/assets/img/about/symbol-and-2.png">
              </div>
              <div class="dsc">
                <div class="award">
                  <div class="hlabel">시상</div>
                  <div class="con">
                    <div>{{history.awardDate}}</div>
                    <div v-html="history.awardPlace"></div>
                  </div>
                </div>
                <div class="sponsor">
                  <div class="hlabel">공식 후원사</div>
                  <div class="con">
                    <div>{{history.sponsorName}}</div>
                    <div v-if="history.sponsorLogo" class="logo">
                      <img :src="'/assets/img/about/' + history.sponsorLogo">
                      <img v-if="history.sponsorLogo2" :src="'/assets/img/about/' + history.sponsorLogo2">
                      </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="space"></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { TweenMax, TimelineMax } from 'gsap'

export default {
  data() {
    return {
      slideOffset: '0',

      historys: [
        // { year: '2022', image: '', awardDate: '2023.1.19', awardPlace: '@그랜드 인터컨티넨탈 <br>&nbsp;&nbsp; 서울 파르나스 아젤리아홀', sponsorName: '과학기술정보통신부, 문화체육관광부 장관상 수여', sponsorLogo: 'splogo-1.png', sponsorLogo2: 'splogo-2.png'},
        { year: '2022', image: 'and-award-2022.png', awardDate: '2023.1.19', awardPlace: '@그랜드 인터컨티넨탈 <br>&nbsp;&nbsp; 서울 파르나스 아젤리아홀', sponsorName: '과학기술정보통신부 장관상 수여', sponsorLogo: 'splogo-1.png'},
        { year: '2021', image: 'and-award-2021.png', awardDate: '2022.1.27', awardPlace: '@그랜드 인터컨티넨탈 <br>&nbsp;&nbsp; 서울 파르나스 아젤리아홀', sponsorName: '과학기술정보통신부, 장관상 수여', sponsorLogo: 'splogo-1.png'},
        { year: '2020', image: 'and-award-2020.png', awardDate: '2021.1.28', awardPlace: '@그랜드 인터컨티넨탈 <br>&nbsp;&nbsp; 서울 파르나스 아젤리아홀', sponsorName: '과학기술정보통신부, 장관상 수여', sponsorLogo: 'splogo-1.png'},
        { year: '2019', image: 'and-award-2019.png', awardDate: '2020.1.17', awardPlace: '@코엑스 컨퍼런스룸(남)', sponsorName: '과학기술정보통신부, 장관상 수여', sponsorLogo: 'splogo-1.png'},
        { year: '2018', image: 'and-award-2018.png', awardDate: '2019.1.24', awardPlace: '@동대문 DDP 알림2관', sponsorName: '과학기술정보통신부, 장관상 수여', sponsorLogo: 'splogo-1.png'},
        { year: '2017', image: 'and-award-2017.png', awardDate: '2018.1.25', awardPlace: '@동대문 DDP 알림2관', sponsorName: '과학기술정보통신부, 장관상 수여', sponsorLogo: 'splogo-1.png'},
        { year: '2016', image: 'and-award-2016.png', awardDate: '2017.1.24', awardPlace: '@동대문 DDP 알림2관', sponsorName: '미래창조과학부, 장관상 수여', sponsorLogo: ''},
        { year: '2015', image: 'and-award-2015.png', awardDate: '2016.1.21', awardPlace: '@동대문 DDP 알림2관', sponsorName: '미래창조과학부, 장관상 수여', sponsorLogo: ''},
        { year: '2014', image: 'and-award-2014.png', awardDate: '2015.1.15', awardPlace: '@Patio9 그랜드홀', sponsorName: '미래창조과학부, 장관상 수여', sponsorLogo: ''},
        { year: '2013', image: 'and-award-2013.png', awardDate: '2014.1.15', awardPlace: '@Platoon Kunsthalle', sponsorName: '미래창조과학부, 장관상 수여', sponsorLogo: ''},
        { year: '2012', image: 'and-award-2012.png', awardDate: '2013.1.17', awardPlace: '@Platoon Kunsthalle', sponsorName: '문화체육관광부, 장관상 수여', sponsorLogo: ''},
        { year: '2011', image: '', awardDate: '2011.12.1', awardPlace: '@광장동 악스홀', sponsorName: '문화체육관광부', sponsorLogo: ''},
        { year: '2010', image: '', awardDate: '2010.12.1', awardPlace: '@건대 새천년홀', sponsorName: '문화체육관광부, 장관상 수여', sponsorLogo: ''},
        { year: '2009', image: '', awardDate: '2009.12.1', awardPlace: '@건대 새천년홀', sponsorName: '문화체육관광부', sponsorLogo: ''},
        { year: '2008', image: '', awardDate: '2008.11.25', awardPlace: '@COEX 오디토리움', sponsorName: '문화체육관광부', sponsorLogo: ''},
        { year: '2007', image: '', awardDate: '2007.11.30', awardPlace: '@한강 River City', sponsorName: '문화체육관광부', sponsorLogo: ''},
      ]
    }
  },
  mounted() {
    // const target = document.querySelector('#scroll-target');

    // target.addEventListener('wheel', event => {
    //   const toLeft  = event.deltaY < 0 && target.scrollLeft > 0
    //   const toRight = event.deltaY > 0 && target.scrollLeft < target.scrollWidth - target.clientWidth

    //   if (toLeft || toRight) {
    //     event.preventDefault()
    //     target.scrollLeft += event.deltaY
    //   }
    // });

    this.transition();
  },
  methods: {
    transition() {
      let section_about_1_height = document.getElementById('section-about-1').offsetHeight;
      // console.log(section_about_1_height);
      const scene_about_1_tl = new TimelineMax ()
          .add([
            TweenMax.from($('#section-about-1 .txt_wrap .txt-1'), 1, {transform: 'translate(calc(-50% - ' + (section_about_1_height+100) + 'px), -50%)', opacity: '0'}),
            TweenMax.from($('#section-about-1 .txt_wrap .txt-2'), 1, {transform: 'translate(calc(-50% + ' + (section_about_1_height+100) + 'px), -50%)', opacity: '0'}),
          ]);
      const scene_about_1 = this.$scrollmagic.scene({
        triggerElement: '#section-about-1',
        triggerHook: 'onLeave',
        duration: section_about_1_height
      })
        .setPin('#section-about-1')
        .setTween(scene_about_1_tl)
        // .addIndicators({ name: 'scene_about_1' })
      this.$scrollmagic.addScene(scene_about_1);

      let section_about_3_height = document.getElementById('section-about-3').offsetHeight;
      // console.log(section_about_3_height);
      let s3_tr1_x1,s3_tr1_y1,s3_tr1_x2,s3_tr1_y2,s3_tr2_x1,s3_tr2_y1,s3_tr2_x2,s3_tr2_y2;
      if (this.$vuetify.breakpoint.mdAndUp == true) {
        s3_tr1_x1 = 'calc(-50% - ' + (section_about_3_height-100) + 'px)';
        s3_tr1_y1 = 'calc(-50% - 24px)';
        s3_tr1_x2 = 'calc(-50% + ' + (section_about_3_height-100) + 'px)';
        s3_tr1_y2 = 'calc(-50% + 73px)';
        s3_tr2_x1 = 'calc(-50% + 44px)';
        s3_tr2_y1 = 'calc(-50% - 24px)';
        s3_tr2_x2 = 'calc(-50% - 57px)';
        s3_tr2_y2 = 'calc(-50% + 93px)';
      } else {
        s3_tr1_x1 = 'calc(-50% - ' + (section_about_3_height-350) + 'px)';
        s3_tr1_y1 = 'calc(-50% - 10px)';
        s3_tr1_x2 = 'calc(-50% + ' + (section_about_3_height-350) + 'px)';
        s3_tr1_y2 = 'calc(-50% + 41px)';
        s3_tr2_x1 = 'calc(-50% + 18px)';
        s3_tr2_y1 = 'calc(-50% - 10px)';
        s3_tr2_x2 = 'calc(-50% - 25px)';
        s3_tr2_y2 = 'calc(-50% + 41px)';
      }
      const scene_about_3_tl = new TimelineMax ()
          .add([
            TweenMax.from($('#section-about-3 .character_wrap .char-1'), 1, {transform: 'translate('+s3_tr1_x1+', '+s3_tr1_y1+') rotate(0)', opacity: '1'}),
            TweenMax.from($('#section-about-3 .character_wrap .char-2'), 1, {transform: 'translate('+s3_tr1_x2+', '+s3_tr1_y2+') rotate(0)', opacity: '1'}),
          ])
          .add([
            TweenMax.to($('#section-about-3 .character_wrap .char-1'), 1, {transform: 'translate('+s3_tr2_x1+', '+s3_tr2_y1+') rotate(140deg)', opacity: '0'}),
            TweenMax.to($('#section-about-3 .character_wrap .char-2'), 1, {transform: 'translate('+s3_tr2_x2+', '+s3_tr2_y2+') rotate(140deg)', opacity: '0'}),
          ]);
      const scene_about_3 = this.$scrollmagic.scene({
        triggerElement: '#section-about-3',
        triggerHook: 'onLeave',
        duration: section_about_3_height*2
      })
        .setPin('#section-about-3')
        .setTween(scene_about_3_tl)
        // .addIndicators({ name: 'scene_about_3' })
      this.$scrollmagic.addScene(scene_about_3);

      let section_about_4_height = document.getElementById('section-about-4').offsetHeight;
      // console.log(section_about_4_height);
      let s4_tr1_x1,s4_tr1_y1,s4_tr1_x2,s4_tr1_y2;
      if (this.$vuetify.breakpoint.mdAndUp == true) {
        s4_tr1_x1 = '-150%';
        s4_tr1_y1 = 'calc(-50% - 80px)';
        s4_tr1_x2 = '150%';
        s4_tr1_y2 = 'calc(-50% + 80px)';
      } else {
        s4_tr1_x1 = '-135%';
        s4_tr1_y1 = 'calc(-50% - 30px)';
        s4_tr1_x2 = '135%';
        s4_tr1_y2 = 'calc(-50% + 30px)';
      }
      const scene_about_4_tl = new TimelineMax ()
          .add([
            TweenMax.from($('#section-about-4 .txt_wrap .txt-1'), 1, {transform: 'translate('+s4_tr1_x1+', '+s4_tr1_y1+')'}),
            TweenMax.from($('#section-about-4 .txt_wrap .txt-2'), 1, {transform: 'translate('+s4_tr1_x2+', '+s4_tr1_y2+')'}),
          ]);
      const scene_about_4 = this.$scrollmagic.scene({
        triggerElement: '#section-about-4',
        triggerHook: 'onLeave',
        duration: section_about_4_height*4
      })
        .setPin('#section-about-4')
        .setTween(scene_about_4_tl)
        // .addIndicators({ name: 'scene_about_4' })
      this.$scrollmagic.addScene(scene_about_4);

      let section_about_6_width = $('#scroll-target ul li').width();
      // console.log(section_about_6_width);
      let s6_tr1_x1,s6_dur;
      if (this.$vuetify.breakpoint.mdAndUp == true) {
        s6_tr1_x1 = '-'+ (section_about_6_width*14+200) +'px';
        s6_dur = section_about_6_width*14;
      } else {
        s6_tr1_x1 = '-'+ ((section_about_6_width+78)*14) +'px';
        s6_dur = section_about_6_width*14;
      }
      const scene_about_6_tl = new TimelineMax ()
          .add([
            TweenMax.to($('#scroll-target ul'), 1, {transform: 'translateX('+s6_tr1_x1+')'}),
            // TweenMax.to($('#about-6-year li'), 1, {transform: 'translateY(-100%)', repeat: 13}),
            TweenMax.to($('#about-6-year li'), 0.08, {transform: 'translateY(-100%)'}),
            TweenMax.to($('#about-6-year li'), 0.16, {transform: 'translateY(-200%)'}),
            TweenMax.to($('#about-6-year li'), 0.24, {transform: 'translateY(-300%)'}),
            TweenMax.to($('#about-6-year li'), 0.32, {transform: 'translateY(-400%)'}),
            TweenMax.to($('#about-6-year li'), 0.40, {transform: 'translateY(-500%)'}),
            TweenMax.to($('#about-6-year li'), 0.48, {transform: 'translateY(-600%)'}),
            TweenMax.to($('#about-6-year li'), 0.56, {transform: 'translateY(-700%)'}),
            TweenMax.to($('#about-6-year li'), 0.64, {transform: 'translateY(-800%)'}),
            TweenMax.to($('#about-6-year li'), 0.72, {transform: 'translateY(-900%)'}),
            TweenMax.to($('#about-6-year li'), 0.80, {transform: 'translateY(-1000%)'}),
            TweenMax.to($('#about-6-year li'), 0.88, {transform: 'translateY(-1100%)'}),
            TweenMax.to($('#about-6-year li'), 0.96, {transform: 'translateY(-1200%)'}),
            TweenMax.to($('#about-6-year li'), 1.04, {transform: 'translateY(-1300%)'}),
          ]);
      const scene_about_6 = this.$scrollmagic.scene({
        triggerElement: '#section-about-6',
        triggerHook: 'onLeave',
        duration: s6_dur
      })
        .setPin('#section-about-6')
        .setTween(scene_about_6_tl)
        .on('progress', (e) => {
          this.slideOffset = Math.floor(100 * e.progress);
        })
        // .addIndicators({ name: 'scene_about_6' })
      this.$scrollmagic.addScene(scene_about_6);
    },
    // onScrollHorizontal(e) {
    //   this.slideOffset = e.target.scrollLeft / (e.target.scrollWidth - e.target.offsetWidth) * 100;
    // }
  }
}
</script>