<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">심사위원</h1>
        <div class="title-sub-1">앤어워드의 철저한 심사단계와 <br class="hidden-md-and-up">심사위원을 소개합니다</div>
      </div>
    </div>

    <section class="section section-items section-judge-1">
      <div class="container container-inner container-basic">
        <div class="title-4">심사 단계</div>

        <ul class="steps">
          <li v-for="(step, index) in steps" :key="index">
            <div class="num">{{step.num}}</div>
            <div class="con">{{step.con}}</div>
          </li>
        </ul>
      </div>
    </section>

    <section class="section section-items section-judge-2">
      <div class="container container-inner container-basic">
        <div class="title-4">공식심사위원단</div>
      </div>
      <ul v-if="judgeStart" class="list-judge">
        <li v-for="(judge, index) in judges2" :key="judge.j_id" :class="listClass(index)">
          <div class="thumb">
            <v-img v-if="judge.j_picture" :src="judge.j_picture" aspect-ratio="0.76923077" @error="judge.j_picture = null"></v-img>
            <v-img v-else :src="noimage" aspect-ratio="0.76923077" class="noimg"></v-img>
          </div>
          <div class="con">
            <div class="name">{{judge.j_name}} <span>{{judge.j_job}}</span></div>
            <div class="company">{{judge.j_company}}</div>
          </div>
        </li>
      </ul>
      <div v-else class="container container-inner container-basic">
        <div class="notyet">심사 진행 전 입니다</div>
      </div>
    </section>

    <section class="section section-items section-judge-3">
      <div class="container container-inner container-basic">
        <div class="title-4">산업계 CEO</div>
      </div>
      <ul v-if="judgeStart" class="list-judge">
        <li v-for="(judge, index) in judges1" :key="judge.j_id">
          <div class="name text-truncate">{{judge.j_name}}</div>
          <div class="company text-truncate">{{judge.j_company}}</div>
        </li>
      </ul>
      <div v-else class="container container-inner container-basic">
        <div class="notyet">심사 진행 전 입니다</div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slideOffset: '0',
      noimage: '/assets/img/common/noimage_600.png',

      steps: [
        { num: '01', con: '1차 심사(산업계 CEO)를 통해 총 출품작의 40%를 선별' },
        { num: '02', con: '1차 통과 작품을 2차 심사(외부 전문위원)를 진행하여 각 분야별 수상작을 선정' },
        { num: '03', con: 'Grand Prix 수상작을 대상으로 3차 심사(외부 전문위원)를 통해 각 기관장상 수상작 최종 선정' },
      ],

      award: [],
      a_id: '',
      judges: [],
      judges1: [],
      judges2: [],

      judgeStart: false,
    }
  },
  mounted() {
    this.$axios.get('/api/get_current_award').then(res => {
      this.award = res.data;
      // console.log('award', this.award);

      this.a_id = this.award ? this.award.a_id : 0;
      let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');

      if (now >= this.award.judge_start) {
        this.judgeStart = true;
      }

      this.$axios.get('/api/get/judge/' + this.a_id).then(res => {
        this.judges = res.data.data.data;

        for (let judge of this.judges) {
          if (judge.jg_id == '2') {
            this.judges2.push(judge);
          } else if (judge.jg_id == '1') {
            this.judges1.push(judge);
          }
        };
      });
    });
  },
  methods: {
    onScrollHorizontal(e) {
      this.slideOffset = e.target.scrollLeft / (e.target.scrollWidth - e.target.offsetWidth) * 100;
    },
    listClass(index) {
      let i = index + 1;
      return i % 5 === 4 ? 'col--2-a' : i % 5 === 0 ? 'col--2-b' : i % 5 === 2 ? 'col--3-a' : i % 5 === 3 ? 'col--3-b' : 'col--3';
    }
  }
}
</script>