<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">후원사(기관)</h1>
        <div class="title-sub-1">앤어워드와 함께하는 후원사입니다</div>
      </div>
    </div>

    <section class="section section-items section-sponsor-1">
      <div class="container container-inner container-basic">
        <div class="title-4">공식후원사</div>
          <ul class="list-sponsor">
            <li>
              <div class="logo"><img src="/assets/img/about/sponsor-o1n.png"></div>
              <div class="con">
                <div class="name">
                  과학기술정보통신부
                  <v-btn href="https://www.msit.go.kr/" target="_blank" depressed tile text small class="btn-type-link"><v-icon>xi-external-link</v-icon></v-btn>
                </div>
                <div class="dsc">우리나라는 지난 60여 년 간 세계가 주목하는 눈부신 경제발전을 이루어 온 가운데, 이제 그간의 성장을 바탕으로 국민의 창의적 아이디어를 과학기술과 ICT에 접목하여 새로운 부가가치와 일자리를 창출하는 창조경제를 통해 국가경제의 새로운 도약을 이루어 나가고자 합니다.</div>
              </div>
            </li>
            <!-- <li>
              <div class="logo"><img src="/assets/img/about/sponsor-o2n.png"></div>
              <div class="con">
                <div class="name">
                  문화체육관광부
                  <v-btn href="https://www.mcst.go.kr/" target="_blank" depressed tile text small class="btn-type-link"><v-icon>xi-external-link</v-icon></v-btn>
                </div>
                <div class="dsc">백범 김구선생의 소원과 같이 우리나라는 문화의 근원이 되고 목표가 되고 모범이 되어 국민과 함께하는 세계일류 문화매력국가로 발돋움하고 있습니다. 이러한 문화적 강점과 우리 나라의 디지털, ICT 기술력을 접목하여 세계 최고의 문화일류 국가를 만들어 나가는데 이바지하고자 합니다.</div>
              </div>
            </li> -->
            <li class="item-31">
              <div class="logo"><img src="/assets/img/about/sponsor-1n.png"></div>
              <div class="con">
                <div class="name">
                  한국방송광고진흥공사
                  <v-btn href="https://www.kobaco.co.kr/" target="_blank" depressed tile text small class="btn-type-link"><v-icon>xi-external-link</v-icon></v-btn>
                </div>
                <div class="dsc">한국방송광고진흥공사(KOBACO)는 공영미디어렙으로서 디지털광고 산업의 선진화를 위해 다양한 정책연구·시장조사, 창작공간 시설 및 장비지원, 중소기업 광고제작지원 등 광고산업 진흥업무를 다양하게 확장해가고 있습니다. 앞으로도 KOBACO는 대한민국 디지털 미디어 및 광고산업이 세계시장을 향해 힘차게 도약할 수 있도록 최선을 다하겠습니다.</div>
              </div>
            </li>
            <li class="item-32">
              <div class="logo"><img src="/assets/img/about/sponsor-2n.png"></div>
              <div class="con">
                <div class="name">
                  한국인터넷진흥원
                  <v-btn href="https://www.kisa.or.kr/" target="_blank" depressed tile text small class="btn-type-link"><v-icon>xi-external-link</v-icon></v-btn>
                </div>
                <div class="dsc">한국인터넷진흥원은 글로벌 리더를 지향하는 인터넷 정보 보호 진흥기관으로서 산업진흥, 정보보호, 미래선도, 혁신경영을 통해 인터넷으로 국민 모두가 행복한 대한민국 실현과 국가 경제발전을 위해 앞장서겠습니다.</div>
              </div>
            </li>
            <!-- <li class="item-33">
              <div class="logo"><img src="/assets/img/about/sponsor-33n.png"></div>
              <div class="con">
                <div class="name">
                  한국콘텐츠진흥원
                  <v-btn href="https://www.kocca.kr/" target="_blank" depressed tile text small class="btn-type-link"><v-icon>xi-external-link</v-icon></v-btn>
                </div>
                <div class="dsc"></div>
              </div>
            </li> -->
          </ul>
      </div>
    </section>

    <section class="section section-items section-sponsor-2">
      <div class="container container-inner container-basic">
        <div class="title-4">후원사</div>
          <ul class="list-sponsor">
            <li v-for="(sponsor, index) in sponsors" :key="index" :class="'item-' + index">
              <div class="logo"><img :src="'/assets/img/about/' + sponsor.logo"></div>
              <div class="con">
                <div class="name">
                  {{sponsor.name}}
                  <v-btn :href="sponsor.link" target="_blank" depressed tile text small class="btn-type-link"><v-icon>xi-external-link</v-icon></v-btn>
                </div>
                <div class="dsc" v-html="sponsor.dsc"></div>
              </div>
            </li>
          </ul>
          <ul class="list-sponsor-2">
            <li v-for="(sponsor, index) in sponsors_2" :key="index" :class="'item-' + index">
              <div class="logo">
                <a :href="sponsor.link" target="_blank"><img :src="'/assets/img/about/' + sponsor.logo"></a>
              </div>
            </li>
          </ul>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sponsors: [
        { name: '앤드와이즈', logo: 'sponsor2-1.png', link: 'http://www.andwise.com/', dsc: '(주)앤드와이즈는  이메일마케팅, 이메일청구서, 전자세금계산서 등 이메일을 통한 고객 커뮤니케이션을 지원하는 대량메일 솔루션 ‘썬더메일’과 대규모, 다수의 웹사이트를 통합구축하고 관리할 수 있는 컨텐츠관리 솔루션 ‘지니웍스’를 운영하고 있습니다.<br>‘내부 구성원이 행복한 강소기업’을 비전으로, 조금 느리게 외형의 크기 보다는 내실을 추구하고, 그 결과를 구성원들이 함께 공유하고 있습니다.' },
        { name: '리노커뮤니케이션즈', logo: 'sponsor2-2.png', link: 'http://www.renocomms.com/', dsc: '우리는 매 순간 변하는 세상을 살고 있습니다. 하지만 무수한 변화 속에서도 변하지 않는 본질은 존재합니다.<br>공간과 공간을 잇고 시간과 시간을 연결하며 사람과 사람이 만나는 것은 그 방법만 달라질 뿐 시대를 넘어 지속된 바람이고 가치입니다.<br>리노컴즈는 사람과 브랜드를, 무형의 생각과 유형의 기술을, 온라인과 오프라인을 연결하는 새로운 연결을 찾아 클라이언트가 원하는 그 이상의 놀라운 가치를 만듭니다.<br>리노컴즈는 같이 잇게 합니다. 가치 있게 합니다.' },
        { name: '매그넘빈트', logo: 'sponsor2-3n.png', link: 'http://www.magnumvint.com/', dsc: '매그넘빈트(Magnumvint Inc.)는 은행, 증권, 카드, 보험사를 포함한 국내 금융사와 대기업 커머셜 온라인 플랫폼 구축 및 운영 사업 뿐만 아니라, 구축 이후 플랫폼 활성화를 위한 온-오프라인 프로모션, SNS 마케팅 등  온라인 비지니스 Full-Process 수행이 가능한 역량 있는 조직을 갖추고 있습니다.<br>브랜드와 고객이 쌍방향 커뮤니케이션을 통해 WIN-WIN 할 수 있는 최적의 플랫폼을 구현하기 위해 ‘준비된 디지털 에이전시’입니다.' },
        { name: '게티이미지코리아', logo: 'sponsor-5.png', link: 'https://mbdrive.gettyimageskorea.com/', dsc: '최대규모의 이미지, 동영상 컨텐츠를 서비스하는 글로벌 No.1 스톡컨텐츠 회사입니다. 전 세계 30만명의 사진, 영상작가들이 만든 크리에이티브한 컨텐츠가 매일 업데이트 되고 있으며 급변하는 광고, 미디어시장에 지난 20여년간 대체할 수 없는 파트너가 되어 왔습니다.' },
        { name: '더크림유니언', logo: 'sponsor-10.png', link: 'http://www.crea-m.com/', dsc: '더크림유니언은 캠페인, 광고에서 UX/UI 구축, 운영 및 개발, 디지털 마케팅 그리고, 소셜미디어 운영까지 모든 커뮤니케이션을 수행하는 디지털 크리에이티브 에이전시 입니다.' },
        { name: '비즈스프링', logo: 'sponsor-14.png', link: 'http://www.bizspring.co.kr/', dsc: '비즈스프링은 2002년 부터 온라인 고객행동과 마케팅에 특화된 빅데이터의 직접적 수집/적재/리포팅 기술을 기반을 MarTech·AdTech 분야의 다양한 솔루션과 데이터를 제공하며, 데이터엔지니어링 업무와 함께 머신러닝/인공지능을 응용한 플랫폼 구축을 수행하고 있는 온라인 고객 행동과 마케팅 데이터에 특화된 전문기업입니다.' },
        { name: '맑음', logo: 'sponsor-13.png', link: 'http://www.malgum.com/', dsc: '맑음은 "새로운 도전으로 세상을 행복하게 한다"라는 철학으로 빠르게 변화하고 혁신하고 있는 자랑스런 대한민국의 디지털 에이전시입니다. 고객사의 성공을 위해 마케팅 기법이 적용된 최고의 웹사이트와 홍보자료를 제작하고 효율적으로 운영합니다. 또한 빅데이터를 산업장비로부터 수집하고 실시간으로 모니터링하는 수준 높은 기술로 인간을 삶을 더욱 풍요롭고 행복하게 만들고 있습니다.' },
        { name: '바이널씨', logo: 'sponsor-12.png', link: 'http://www.vinylc.com/', dsc: '바이널씨는 ‘가장 쓸모 있는 경험을 디자인 합니다’을 모토로, 사용자 경험을 향상하기 위한 디지털 프로덕트를 제작하고 있는 UX 컨설턴시입니다.<br>우리는 일상적으로 접하는 디지털 프로덕트 안에서 발견한 쓸모 있는 경험을 전달하기 위해 고민합니다.<br>시대가 필요로 하는 인사이트를 바탕으로 쓸모 있는 디지털 프로덕트를 만들기 위해 바이널씨는 최선을 다하고 있습니다.' },
        { name: '아이뱅크', logo: 'sponsor-6n.png', link: 'https://www.ibank.co.kr/', dsc: '㈜아이뱅크는 설립 25년차의 국가대표 디지털 컨설턴시입니다. 정직, 존중, 열정이라는 기업문화 속에서 디지털 솔루션과 데이터 마케팅 부문의 최고 IT전문가들이, 편리하고 아름다운 디지털 세상을 만들기 위해 함께 일합니다.<br>브랜드 관리와 e-커머스를 위한 최적의 솔루션 제공 뿐 아니라, 데이터 분석을 통한 인사이트를 제공하고, 효과적인 디지털 마케팅을 위한 최적의 컨텐츠를 기획, 제작하고 있습니다.<br>즐겁게 성장하는 인재들과 함께 최고의 IT 서비스를 제공하기 위해 끊임 없이 노력하겠습니다.' },
        { name: '아카데미정글', logo: 'sponsor-8.png', link: 'https://www.ejungle.co.kr/', dsc: '아카데미정글/㈜크리에이티브뉴 는 “기술”에 더해 “인간의 삶과 연계된 디자인의 가치”를 중요하게 여기며, 사람과 세상을 공존하게 하는 디자인을 추구하는 디자인 분야 전문인력 양성 교육기관입니다. <br><br>UI/UX디자인, UX 기획, 웹디자인, 웹퍼블리셔, 프론트엔드 개발 등의 교육프로그램을 운영하고 있으며, 각 기업의 구인의뢰에 자격, 자질, 인성을 갖춘 교육 수료생들을 추천하는 제도도 운영하고 있습니다.' },
        { name: '엘루오씨앤씨', logo: 'sponsor-9.png', link: 'http://www.eluocnc.com/', dsc: '엘루오씨앤씨는 웹·모바일 서비스 구축 및 운영, UI/UX 디자인 및 컨설팅, 디지털 콘텐츠 제작 등 통합 디지털 서비스를 제공하는 기업입니다.<br>엘루오는 변화하는 디지털 트랜스포메이션 시대의 핵심 전략을 제시합니다. 본질을 꿰뚫는 전략적 관점으로 디지털 비즈니스를 컨설팅하고, 고객에게 최적의 큐레이션을 제공합니다.<br>분석이 칼로 나누고 도끼로 쪼개는 일이라면, 해석은 풀어서 깨닫는 일입니다.<br>우리는 분석하지 않고 해석하고, 주장하지 않고 해결합니다.<br>엘루오는 변화에 답하는 ‘디지털 컨설턴시’입니다.' },
        { name: '와일리', logo: 'sponsor2-4.png', link: 'http://www.wylie.co.kr/', dsc: '와일리는 "디지털 세상의 행복한 경험을 선도하는 기업"이라는 슬로건하에 급속도로 변화하는 디지털 환경 속 함께 하는 고객, 사용자, 동료 모두가 행복하고 가치 있는 서비스를 경험할 수 있도록 노력하고 있습니다.<br>와일리는 커머스, 멤버십, 금융, 공공 부문과 브랜딩에 이르기까지 다양한 분야의 프로젝트 경험을 바탕으로 비즈니스의 본질을 이해하고 사용자 경험을 기반하여 최적으로 설계된 UI/UX, 디자인, 마케팅을 선사하고 있습니다.' },
        { name: '인크로스', logo: 'sponsor-11.png', link: 'http://www.incross.com/', dsc: '인크로스는 효과적인 디지털 마케팅 전략을 제안하고 효율적인 광고 운영 및 리포팅 서비스를 제공하는 디지털 광고 전문 기업입니다.<br><br>오랜 디지털 마케팅 수행 경험을 바탕으로 디지털 미디어렙과 국내 최초의 동영상 애드네트워크 다윈(dawin), 통신인프라와 AI 기반의 큐레이션 커머스 티딜(T deal) 운영 사업을 영위하며 국내 광고시장을 선도하는 기업으로 성장해 왔습니다.' },
        { name: '인픽스', logo: 'sponsor-15.png', link: 'http://www.inpix.com/', dsc: '인픽스는 준비된 프로들이 프로젝트에 참여합니다.<br>인픽스에는 디지털을 잘 아는 인재들이 있습니다.<br>인픽스는 이러한 경험들을 교육하고 전파하여 인재를 만듭니다.<br>인픽스는 여러 금융사, 대기업, 스타트업의 프로젝트를 수행하고 있습니다.<br>인픽스의 담백하고 진심을 담은 서비스를 경험해 보세요.' },
        { name: '플립커뮤니케이션즈', logo: 'sponsor-16.png', link: 'https://www.pulipinc.com/', dsc: '플립커뮤니케이션즈는 IT가 우리 삶에 조화롭게 스며들어 우리의 삶을 윤택하게 하는 것을 기업의 최우선 목표로 하고 있습니다.<br>플립은 고객의 요구를 단순 수행하는 역할을 넘어 성공적인 비즈니스 목표에 대해 함께 고민하고 가장 적합한 방법을 제시하며 그것을 실제로 실현해 낼 수 있는 ‘종합 디지털 컨설턴시’를 목표로 합니다.' },
        { name: '피씨엔', logo: 'sponsor2-5.png', link: 'http://www.pcninc.co.kr/', dsc: 'PCN은 ‘디지털 세상에서의 가치 창조’라는 비전 아래 끊임없는 변화와 혁신을 통해 전자정부 시대를 선도해온 디지털 전문 서비스 기업입니다.<br>SI, UX, R&D를 비롯하여 빅데이터, 메타버스 등 Digital transformation 시대에 혁신적으로 변화하고 도약할 수 있는 새로운 길을 제시하고 있습니다.' },
        { name: '아이파트너즈', logo: 'sponsor-17.png', link: 'http://www.ipartners.co.kr/', dsc: '아이파트너즈(iPartners)는 프로페셔널 마인드와 열정을 핵심가치로 세계 초일류 기업과 함께하며 고객의 성공적인 비즈니스를 약속합니다.<br>고객의 디지털자산(Digital Asset) 구축 및 운영을 전문으로 하는 창의적 One-Stop Online Service 기업으로 언제나 고객의 Needs에 최적의 Value를 제공합니다.' },
        { name: '펜타브리드', logo: 'sponsor-18.png', link: 'https://www.pentabreed.com/', dsc: '펜타브리드는 디지털 트랜스포메이션 시대에 클라이언트 비즈니스를 위한 다양한 디지털 경험과 자사 서비스를 통한 임팩트 비즈니스를 제공합니다.<br>우리의 모든 활동은 남다른 크리에이티브로 세상에 강렬한 감동과 긍정적이고 선한 영향력을 전합니다' },
        { name: '에코아이티', logo: 'sponsor-19.png', link: 'http://www.echoit.co.kr/', dsc: '에코아이티는 SAP ERP, RPA, 인공지능 등 최신 ICT 기술을 활용해 컨설팅과 시스템 구축, 운영 및 유지관리 등 디지털 혁신에 필요한 토털 IT 서비스를 제조, 유통, 물류, 금융, 공공 등 전 산업분야에 제공하고 있으며, 기업과 공공기관의 성공적인 디지털 혁신에 기여하고 있다.<br>동사는 2008년 홍성호, 최재성 두 공동대표로부터 설립되어 2022년 매출 400억원을 전망하는 명실상부한 B2B기업으로 성장 하였으며, 2019년 경영비전 선포식을 새로운 출발점으로 하여 2022년 8월 신사옥 이전과 함께 사업 영역의 Transformation을 위해 박차를 가하고 있다.' },
      ],
      sponsors_2: [
        { logo: 'sponsor2-6.png', link: 'http://www.hanaad.net/' },
        { logo: 'sponsor2-8.png', link: 'http://www.websmedia.co.kr/' },
      ],
    }
  }
}
</script>