<template>
  <ul class="list-card">
    <li>
      <v-card tile>
        <v-card-title style="padding:25px 24px;">
          <v-skeleton-loader
            type="heading"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="padding:25px 24px;">
          <v-skeleton-loader
            type="editor"
            :types="{ 'editor': 'heading, sentences, heading, paragraph, heading, sentences, sentences, heading, paragraph' }"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-text>
      </v-card>
    </li>
    <li>
      <v-card tile>
        <v-card-title style="padding:25px 24px;">
          <v-skeleton-loader
            type="heading"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text style="padding:25px 24px;">
          <v-skeleton-loader
            type="editor"
            :types="{ 'editor': 'heading, sentences, heading, paragraph, heading, sentences, sentences, heading, paragraph' }"
            tile
            class="inner"
          >
          </v-skeleton-loader>
        </v-card-text>
      </v-card>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>