<template>
  <v-app id="app">
    <layout-common>
      <router-view/>
      <v-overlay
        :value="isLoading"
        color="rgba(0,0,0)"
        opacity="0.6"
        z-index="99999"
      >
        <v-progress-circular
          indeterminate
          size="50"
        ></v-progress-circular>
      </v-overlay>
    </layout-common>
  </v-app>
</template>

<script>
  import mixin from './common/common-mixin.js'
  import store from './vuex/store'
  import LayoutCommon from '@/components/layout/Common'
  global.jQuery = require('jquery');
  var $ = global.jQuery;
  window.$ = $;

  export default {
    store : store,
    name : 'App',
    components: { LayoutCommon },
    metaInfo() {
      return { 
        title: 'A.N.D. Award',
        meta: [
          { name: 'description', content: this.award_description },
          { name: 'keywords', content: '앤어워드, A.N.D.Award' },
          { name: 'theme-color', content: '#000000' },
          { property: 'og:url', content: 'https://naward.or.kr/' },
          { property: 'og:type', content: 'website' },
          { property: 'og:title', content: '앤어워드 (A.N.D. Award)' },
          { property: 'og:description', content: this.award_description },
          { property: 'og:image', content: this.award_image },
          { property: 'twitter:url', content: 'https://naward.or.kr/' },
          { property: 'twitter:card', content: 'summary_large_image' },
          { property: 'twitter:title', content: '앤어워드 (A.N.D. Award)' },
          { property: 'twitter:description', content: this.award_description },
          { property: 'twitter:image', content: this.award_image },
        ]
      }
    },
    data() {
      return {
        refCount: 0,
        timeout: 0,
        isLoading: false,

        current_award: [],
        award_title: '',
        award_description: '',
        award_image: '',
      }
    },
    methods: {
      setLoading(isLoading) {
        if (isLoading) {
          this.refCount++;
          this.isLoading = true;
        } else if (this.refCount > 0) {
          this.refCount--;
          this.isLoading = (this.refCount > 0);
        }
      }
    },
    mounted() {
      this.$axios.get('/api/get/current_award').then(res => {
        this.current_award = res.data;
        // console.log(this.current_award);
        this.award_description = this.current_award.award_descript;
        this.award_image = this.current_award.award_picture;
      });
    },
    created() {
      this.$axios.interceptors.request.use((config) => {
        if (config.showLoading) {
          this.setLoading(true);
        }
        return config;
      }, (error) => {
        this.setLoading(false);
        return Promise.reject(error);
      });

      this.$axios.interceptors.response.use((response) => {
        this.setLoading(false);
        return response;
      }, (error) => {
        this.setLoading(false);
        return Promise.reject(error);
      });
    }
  }
</script>