<template>
  <div>
    <input type="text" v-model="ab_info.ab_title">
    <input type="text" v-model="ab_info.ab_resource">
    <input type="file" v-bind="ab_thumb" v-on:change="imageFileChange">
    <textarea name="" v-model="ab_info.ab_contents" id="" cols="30" rows="10"></textarea>
    <button @click="submit_form">입력완료</button>
  </div>
</template>

<script>
export default {
  data() {
    return{
      a_id : 0,
      ab_type : '',
      ab_info : [],
      ab_thumb : {},
      ab_id : 0
    }
  },
  methods : {
    imageFileChange(event) {
      console.log(event.target.files);
      this.ab_thumb = event.target.files;
      console.log(this.files);
    },
    submit_form:function(){
      const formdata = new FormData();
      formdata.append("a_id",this.a_id);
      formdata.append("ab_type",this.ab_type);
      formdata.append("ab_id",this.ab_id);
      formdata.append("ab_title",this.ab_info.ab_title);
      formdata.append("ab_resource",this.ab_info.ab_resource);
      formdata.append("ab_contents",this.ab_info.ab_contents);
      if (this.ab_thumb) {
          formdata.append("ab_thumb", this.ab_thumb[0]);
      }
      var api_url = '/api/admin_award/'+this.a_id+'/create_aboard/'+this.ab_type;
      if(this.ab_id>0){
        api_url = '/api/admin_award/'+this.a_id+'/modify_aboard/'+this.ab_type;
      }
      this.$axios.post(
        api_url,formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        console.log(res);
      }).catch(err => {
        alert(JSON.parse(err.response.statusText));
      })
    }
  },
  mounted() {
    console.log(this.$route.params);
    this.a_id = this.$route.params.a_id?this.$route.params.a_id:0;
    this.ab_type = this.$route.params.ab_type?this.$route.params.ab_type:0;
    this.ab_id = this.$route.params.ab_id?this.$route.params.ab_id:0;
    if(this.ab_id>0){
      this.$axios.get('/api/admin_award/'+this.a_id+'/'+this.ab_type+'/'+this.ab_id).then(res => {
        this.ab_info = res.data.data;
        // console.log(this.ab_info);
      });
    }
    
  }
}
</script>