<template>
  <div v-if="permission && !$store.state.skeleton">
    <v-btn fab depressed class="btn-type-add-item" @click="add_new">
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>

    <ul class="list-card-image col--3 list-card-aboard">
      <li v-for="aboard in aboard_list" :key="aboard.ab_id" :class="{'active': aboard.ab_status == 1}">
        <v-card tile flat>
          <v-img
            v-if="aboard.ab_thumb"
            :src="aboard.ab_thumb"
            aspect-ratio="1.4"
            @error="aboard.ab_thumb = null"
          ></v-img>
          <v-img v-else :src="noimage"
            aspect-ratio="1.4"
            class="noimg"
          ></v-img>
          <v-card-text>
            <div class="name text-truncate">{{aboard.ab_title}}</div>
            <div class="action_area">
              <div class="slabel">
                <v-switch
                  v-model="aboard.ab_status"
                  true-value="1"
                  false-value="0"
                  inset
                  disabled
                >
                </v-switch>
              </div>
              <v-btn icon @click="get_aboard(aboard.ab_id)">
                <v-icon>xi-pen</v-icon>
              </v-btn>
              <v-btn icon @click="openModal('delete', aboard.ab_type, aboard.ab_id)">
                <v-icon>xi-trash</v-icon>
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-post dialog-admin"
      max-width="850px"
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid"
        >
          <v-card-title>
            <div>{{titles.title_sub_1}} 세부 설정</div>
          </v-card-title>
          <v-card-text>
            <div class="img_area">
              <div v-ripple class="preview_wrap">
                <upload-multiple-image
                  @upload-success="uploadImageSuccess"
                  @before-remove="beforeRemove"
                  @edit-image="editImage"
                  @data-change="dataChange"
                  @limit-exceeded="limitExceeded"
                  @size-exceeded="sizeExceeded"
                  idUpload="image_upload_key"
                  idEdit="image_edit_key"
                  containerWidth="100%"
                  containerHeight="54.625%"
                  data-id="b0"
                  :data-images="images"
                  :multiple="false"
                  :maxImage="1"
                  :maxSize="15728640"
                  :showPrimary="false"
                ></upload-multiple-image>
              </div>
            </div>

            <v-text-field
              v-model="ab_title"
              :rules="[rules.required]"
              label="제목"
              autocomplete="off"
              hide-details
              solo
              required
              autofocus
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>

            <v-textarea
              v-if="ab_type == 'gallery'"
              v-model="ab_contents"
              label="내용"
              autocomplete="off"
              rows="10"
              row-height="24"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
            <v-text-field
              v-else
              v-model="ab_contents"
              :rules="[rules.required]"
              label="동영상 URL"
              autocomplete="off"
              hide-details
              solo
              required
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </v-card-text>
          <div class="btn_wrap">
            <div class="slabel">활성화
              <v-switch
                v-model="ab_status"
                true-value="1"
                false-value="0"
                inset
              >
              </v-switch>
            </div>
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form()">저장하기</v-btn>
            <v-btn depressed icon @click="modalAdd = false" class="btn-close">
              <v-icon>xi-close</v-icon>
            </v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'delete'" v-html="modalContent"></v-card-text>
        <v-card-text v-else></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'delete'" depressed tile text outlined small @click="remove_aboard()">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/AboardList.vue';
import UploadMultipleImage from "@/components/common/UploadMultipleImage.vue";

export default {
  components: {
    noPermission,
    Skeleton,
    UploadMultipleImage,
  },
  data() {
    return{
      titles: { title_1: "후속관리", title_sub_1: "갤러리" },
      permission: false,

      formValid: false,
      noimage: "/assets/img/common/noimage_600.png",
      modalAdd: false,

      aboard_list: [],
      a_id: 0,
      ab_type: '',
      ab_title: '',
      ab_contents: '',
      ab_status: '',
      images: [],
      uploadImages: [],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '게시물 삭제', content: '해당 게시물을 삭제하시겠습니까?' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },      
    }
  },
  created() {
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.ab_type = this.$route.params.ab_type ? this.$route.params.ab_type : 0;

      this.titles.title_sub_1 = this.ab_type == 'gallery' ? '갤러리' : '강연';
      this.$parent.$emit('setTitle', this.titles);

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/' + this.ab_type).then(res => {
        this.aboard_list = res.data.data;
        // console.log(this.aboard_list);
      })
      .catch(err => {
        this.aboard_list = [];
      });
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done();
    },
    editImage(formData, index, fileList) {
      console.log("edit data", formData, index, fileList);
    },
    dataChange(data) {
      console.log(data);
    },
    limitExceeded(amount) {
      this.uploadDialog = true;
      this.uploadText = "최대 5개까지 업로드가 가능합니다";
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    add_new() {
      this.ab_id = '';
      this.ab_title = '';
      this.ab_contents = '';
      this.ab_thumb = '';
      this.ab_resource = '';
      this.ab_status = '';
      this.images = [];
      this.uploadImages = [];

      this.modalAdd = true;
    },
    openModal(type, ab_type, ab_id) {
      this.modalType = type;
      this.ab_id = ab_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    get_aboard: function(ab_id) {
      this.images = [];
      this.uploadImages = [];
      this.$axios.get('/api/admin_award/' + this.a_id + '/' + this.ab_type + '/' + ab_id).then(res => {
        const aboard_info = res.data.data;
        let image = {'path': aboard_info.ab_thumb};
        this.ab_id = aboard_info.ab_id;
        this.ab_title = aboard_info.ab_title;
        this.ab_contents = aboard_info.ab_contents;
        this.ab_resource = aboard_info.ab_resource;
        this.ab_status = aboard_info.ab_status;
        // this.ab_thumb = aboard_info.ab_thumb;
        if (image.path !== '' && image.path !== null) {
          this.images.push(image);
        }
      });
      this.modalAdd = true;
    },
    submit_form: function () {
      if (this.formValid == true) {
        const formdata = new FormData();
        formdata.append('a_id', this.a_id);
        formdata.append('ab_id', this.ab_id);
        formdata.append('ab_type', this.ab_type);
        formdata.append('ab_title', this.ab_title);
        if (this.ab_type == 'speech') {
          if (!this.ab_contents.match(/^https?:\/\//)) {
              this.ab_contents = 'http://' + this.ab_contents;
          }
        }
        formdata.append('ab_contents', this.ab_contents);
        formdata.append('ab_resource', this.ab_resource);
        formdata.append('ab_status', this.ab_status);
        // if (this.ab_thumb) {
        //   formdata.append('ab_thumb', this.ab_thumb[0]);
        // }
        if (this.uploadImages) {
          for (let uploadImage of this.uploadImages) {
            // console.log(uploadImage);
            formdata.append('ab_thumb', uploadImage);
          }
        }

        var api_url = '/api/admin_award/' + this.a_id + '/create_aboard/' + this.ab_type;
        if (this.ab_id > 0) {
          api_url = '/api/admin_award/' + this.a_id + '/modify_aboard/' + this.ab_type;
        }

        this.$axios.post(api_url, formdata, {
          headers: { "Content-Type": "multipart/form-data" }, showLoading: true
        })
        .then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.save);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
        this.ab_type = 0;
        this.ab_id = 0;
        this.modalAdd = false;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.required);
      }
    },
    remove_aboard: function() {
      this.$axios.post('/api/admin_award/' + this.a_id + '/remove_aboard/' + this.ab_type, 'ab_id=' + this.ab_id, {
        headers: { "Content-Type": "multipart/form-data" },
      })
      .then((res) => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.delete);
      })
      .catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.ab_type = 0;
      this.ab_id = 0;
      this.modalConfirm = false;
    }
  }
}
</script>