<template>
  <div v-if="permission && !$store.state.skeleton">
    <ul class="list-card col--1-2">
      <li>
        <v-card tile>
          <v-card-title>전역 색상 설정</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-field">
              <li>
                <v-text-field
                  v-model="color_backg"
                  label="배경색상설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <div class="color-chip" :style="{ 'background': color_backg }"></div>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-text-field
                  v-model="color_text"
                  label="텍스트색상설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <div class="color-chip" :style="{ 'background': color_text }"></div>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-text-field
                  v-model="color_btbackg"
                  label="버튼색배경설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <div class="color-chip" :style="{ 'background': color_btbackg }"></div>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-text-field
                  v-model="color_btline"
                  label="버튼색외곽선설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <div class="color-chip" :style="{ 'background': color_btline }"></div>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-text-field
                  v-model="color_bttext"
                  label="버튼텍스트색상설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <div class="color-chip" :style="{ 'background': color_bttext }"></div>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>출품 일정 설정</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-field list-field-mh col--2">
              <li>
                <v-menu
                  ref="menu_award_start"
                  v-model="menu_award_start"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="award_start"
                      label="출품 시작일시"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-if="!complete_award_start_date"
                    v-model="award_start_date"
                    locale="ko"
                    :day-format="getDayFormat"
                    :allowed-dates="allowed_award_start"
                    no-title
                    @input="input_award_start_date"
                  >
                  </v-date-picker>
                  <v-time-picker
                    v-else
                    v-model="award_start_time"
                    locale="ko"
                    format="24hr"
                    no-title
                    @click:minute="input_award_start_time"
                  >
                  </v-time-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-menu
                  ref="menu_award_end"
                  v-model="menu_award_end"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="award_end"
                      label="출품 종료일시"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-if="!complete_award_end_date"
                    v-model="award_end_date"
                    locale="ko"
                    :day-format="getDayFormat"
                    :allowed-dates="allowed_award_end"
                    no-title
                    @input="input_award_end_date"
                  >
                  </v-date-picker>
                  <v-time-picker
                    v-else
                    v-model="award_end_time"
                    locale="ko"
                    format="24hr"
                    no-title
                    @click:minute="input_award_end_time"
                  >
                  </v-time-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
            </ul>
            <ul class="list-field list-field-mh col--2">
              <!-- <li>
                <v-menu
                  ref="menu_judge_end"
                  v-model="menu_judge_end"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="judge_end"
                      label="심사 종료일"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="judge_end"
                    locale="ko"
                    :day-format="getDayFormat"
                    :allowed-dates="allowed_judge_end"
                    no-title
                    @input="menu_judge_end = false"
                  >
                  </v-date-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li> -->
              <!-- <li class="flex-column align-start">
                <div class="slabel">심사일 예정 처리
                  <v-switch
                    v-model="judge_status"
                    true-value="1"
                    false-value="0"
                    inset
                  >
                  </v-switch>
                </div>
                <div class="shelp">심사일 전체가 예정일 경우, 예정으로 표시합니다.</div>
              </li> -->
              <li>
                <v-menu
                  ref="menu_judge_start"
                  v-model="menu_judge_start"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="judge_start"
                      label="심사위원 노출일시"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-if="!complete_judge_start_date"
                    v-model="judge_start_date"
                    locale="ko"
                    :day-format="getDayFormat"
                    no-title
                    @input="input_judge_start_date"
                  >
                  </v-date-picker>
                  <v-time-picker
                    v-else
                    v-model="judge_start_time"
                    locale="ko"
                    format="24hr"
                    no-title
                    @click:minute="input_judge_start_time"
                  >
                  </v-time-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
            </ul>
            <ul class="list-field list-field-mh col--2">
              <li class="sep"><v-divider></v-divider></li>
              <!-- <li>
                <v-menu
                  ref="menu_reaward_start"
                  v-model="menu_reaward_start"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="reaward_start"
                      label="추가 출품 시작일"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="reaward_start"
                    locale="ko"
                    :day-format="getDayFormat"
                    :allowed-dates="allowed_reaward_start"
                    no-title
                    @input="menu_reaward_start = false"
                  >
                  </v-date-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-menu
                  ref="menu_reaward_end"
                  v-model="menu_reaward_end"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="reaward_end"
                      label="추가 출품 종료일"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-model="reaward_end"
                    locale="ko"
                    :day-format="getDayFormat"
                    :allowed-dates="allowed_reaward_end"
                    no-title
                    @input="menu_reaward_end = false"
                  >
                  </v-date-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li> -->
              <li>
                <v-menu
                  ref="menu_win_date"
                  v-model="menu_win_date"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="win_date"
                      label="수상 발표 일정"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-if="!complete_windate_date"
                    v-model="windate_date"
                    locale="ko"
                    :day-format="getDayFormat"
                    no-title
                    @input="input_windate_date"
                  >
                  </v-date-picker>
                  <v-time-picker
                    v-else
                    v-model="windate_time"
                    locale="ko"
                    format="24hr"
                    no-title
                    @click:minute="input_windate_time"
                  >
                  </v-time-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-menu
                  ref="menu_winspecial_date"
                  v-model="menu_winspecial_date"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="winspecial_date"
                      label="기관장상 발표 일정"
                      autocomplete="off"
                      append-icon="mdi-calendar"
                      hide-details
                      flat
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </template>

                  <v-date-picker
                    v-if="!complete_winspecialdate_date"
                    v-model="winspecialdate_date"
                    locale="ko"
                    :day-format="getDayFormat"
                    no-title
                    @input="input_winspecialdate_date"
                  >
                  </v-date-picker>
                  <v-time-picker
                    v-else
                    v-model="winspecialdate_time"
                    locale="ko"
                    format="24hr"
                    no-title
                    @click:minute="input_winspecialdate_time"
                  >
                  </v-time-picker>
                </v-menu>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
            </ul>
            <ul class="list-field list-field-mh col--2">
              <li class="sep"><v-divider></v-divider></li>
              <!-- <li class="flex-column align-start mb-0 pt-5">
                <div class="slabel">수상 발표 예정 처리
                  <v-switch
                    v-model="win_status"
                    true-value="1"
                    false-value="0"
                    inset
                  >
                  </v-switch>
                </div>
                <div class="shelp">심사일 전체가 예정일 경우, 예정으로 표시합니다.</div>
              </li> -->
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>출품 비용 설정</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-field">
              <li>
                <v-text-field
                  v-model="work_price"
                  label="출품 비용 (부가세 포함 금액)"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-text-field
                  v-model="trophy_price"
                  label="추가 트로피 건당 비용 (부가세 포함 금액)"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>기타 설정</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-field col--2">
              <li>
                <v-text-field
                  v-model="award_route"
                  label="라우트 설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
              <li>
                <v-text-field
                  v-model="award_descript"
                  label="사이트 설명 설정"
                  autocomplete="off"
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
                <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
              </li>
            </ul>
            <ul class="list-field col--2 mt-3">
              <li class="flex-column align-start mb-0">
                <label class="alabel">사이트 이미지 설정</label>
                <div class="acon">
                  <div v-ripple class="preview_wrap">
                    <upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    @limit-exceeded="limitExceeded"
                    @size-exceeded="sizeExceeded"
                    idUpload="image_upload_key"
                    idEdit="image_edit_key"
                    containerWidth="100%"
                    containerHeight="54.625%"
                    :data-id="'a'+a_id"
                    :data-images="images"
                    :multiple="false"
                    :maxImage="1"
                    :maxSize="15728640"
                    :showPrimary="false"
                    ></upload-multiple-image>
                  </div>
                  <v-btn depressed tile text outlined x-small @click="submitForm()">적용</v-btn>
                </div>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
    </ul>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Base.vue';
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';

export default {
  components: {
    noPermission,
    Skeleton,
    UploadMultipleImage,
  },
  data() {
    return{
      titles: { title_1: '전역관리', title_sub_1: '기본 설정' },
      permission: false,

      menu_award_start: false,
      menu_award_end: false,
      menu_judge_start: false,
      menu_judge_end: false,
      menu_reaward_start: false,
      menu_reaward_end: false,
      menu_win_date: false,
      menu_winspecial_date: false,
      complete_award_start_date: false,
      complete_award_end_date: false,
      complete_judge_start_date: false,
      complete_windate_date: false,
      complete_winspecialdate_date: false,

      award_info: [],
      a_id: '',
      color_backg: '',
      color_text: '',
      color_btbackg: '',
      color_btline: '',
      color_bttext: '',
      award_start: '',
      award_start_date: '',
      award_start_time: '',
      award_end: '',
      award_end_date: '',
      award_end_time: '',
      judge_start: '',
      judge_start_date: '',
      judge_start_time: '',
      judge_end: '',
      judge_status: '',
      reaward_start: '',
      reaward_end: '',
      win_date: '',
      windate_date: '',
      windate_time: '',
      winspecial_date: '',
      winspecialdate_date: '',
      winspecialdate_time: '',
      win_status: '',
      work_price: '',
      trophy_price: '',
      award_route: '',
      award_descript: '',
      award_picture: '',
      descript_1: '',
      descript_2: '',
      descript_3: '',
      descript_4: '',
      descript_5: '',
      descript_6: '',

      images: [],
      uploadImages: [],

      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.images = [];
      this.uploadImages = [];

      this.$axios.get('/api/admin_award/' + this.a_id + '/view').then(res => {
        this.award_info = res.data.data;
        // console.log(this.award_info);
        let image = {'path': this.award_info.award_picture};
        this.color_backg = this.award_info.color_backg;
        this.color_text = this.award_info.color_text;
        this.color_btbackg = this.award_info.color_btbackg;
        this.color_btline = this.award_info.color_btline;
        this.color_bttext = this.award_info.color_bttext;
        this.award_start = this.award_info.award_start != '0000-00-00 00:00:00' ? this.award_info.award_start : '';
        this.award_start_date = this.award_info.award_start != '0000-00-00 00:00:00' ? this.$moment(this.award_info.award_start).format('YYYY-MM-DD') : '';
        this.award_end = this.award_info.award_end != '0000-00-00 00:00:00' ? this.award_info.award_end : '';
        this.award_end_date = this.award_info.award_end != '0000-00-00 00:00:00' ? this.$moment(this.award_info.award_end).format('YYYY-MM-DD') : '';
        this.judge_start = this.award_info.judge_start != '0000-00-00 00:00:00' ? this.award_info.judge_start : '';
        this.judge_start_date = this.award_info.judge_start != '0000-00-00 00:00:00' ? this.$moment(this.award_info.judge_start).format('YYYY-MM-DD') : '';
        this.judge_end = this.award_info.judge_end != '0000-00-00' ? this.award_info.judge_end : '';
        this.judge_status = this.award_info.judge_status;
        this.reaward_start = this.award_info.reaward_start != '0000-00-00' ? this.award_info.reaward_start : '';
        this.reaward_end = this.award_info.reaward_end != '0000-00-00' ? this.award_info.reaward_end : '';
        this.win_date = this.award_info.win_date != '0000-00-00 00:00:00' ? this.award_info.win_date : '';
        this.windate_date = this.award_info.win_date != '0000-00-00 00:00:00' ? this.$moment(this.award_info.win_date).format('YYYY-MM-DD') : '';
        this.winspecial_date = this.award_info.winspecial_date != '0000-00-00 00:00:00' ? this.award_info.winspecial_date : '';
        this.winspecialdate_date = this.award_info.winspecial_date != '0000-00-00 00:00:00' ? this.$moment(this.award_info.winspecial_date).format('YYYY-MM-DD') : '';
        this.win_status = this.award_info.win_status;
        this.work_price = this.award_info.work_price;
        this.trophy_price = this.award_info.trophy_price;
        this.award_route = this.award_info.award_route;
        this.award_descript = this.award_info.award_descript;
        // this.award_picture = this.award_info.award_picture;
        if (image.path !== '' && image.path !== null) {
          this.images.push(image);
        }
        this.descript_1 = this.award_info.descript_1;
        this.descript_2 = this.award_info.descript_2;
        this.descript_3 = this.award_info.descript_3;
        this.descript_4 = this.award_info.descript_4;
        this.descript_5 = this.award_info.descript_5;
        this.descript_6 = this.award_info.descript_6;
      });
    },
    getDayFormat(isoDate) {
      return this.$moment(isoDate).format('D');
    },
    allowed_award_start(value) {
      if (this.award_end) {
        var start_date = this.$moment(value, 'YYYY-MM-DD');
        var end_date = this.$moment(this.award_end, 'YYYY-MM-DD');
        if (start_date <= end_date) {
          return true
        }
      } else {
        return true
      }
    },
    allowed_award_end(value) {
      if (this.award_start) {
        var start_date = this.$moment(this.award_start, 'YYYY-MM-DD');
        var end_date = this.$moment(value, 'YYYY-MM-DD');
        if (end_date >= start_date) {
          return true
        }
      } else {
        return true
      }
    },
    allowed_judge_start(value) {
      if (this.judge_end) {
        if (value <= this.judge_end) {
          return true
        }
      } else {
        return true
      }
    },
    allowed_judge_end(value) {
      if (this.judge_start) {
        if (value >= this.judge_start) {
          return true
        }
      } else {
        return true
      }
    },
    allowed_reaward_start(value) {
      if (this.reaward_end) {
        if (value <= this.reaward_end) {
          return true
        }
      } else {
        return true
      }
    },
    allowed_reaward_end(value) {
      if (this.reaward_start) {
        if (value >= this.reaward_start) {
          return true
        }
      } else {
        return true
      }
    },
    input_award_start_date() {
      this.award_start = this.$moment(this.award_start_date).format('YYYY-MM-DD')
      this.complete_award_start_date = true
    },
    input_award_start_time() {
      this.award_start = this.$moment(this.award_start_date + ' ' + this.award_start_time).format('YYYY-MM-DD HH:mm:ss')
      this.menu_award_start = false
      this.complete_award_start_date = false
    },
    input_award_end_date() {
      this.award_end = this.$moment(this.award_end_date).format('YYYY-MM-DD')
      this.complete_award_end_date = true
    },
    input_award_end_time() {
      this.award_end = this.$moment(this.award_end_date + ' ' + this.award_end_time).format('YYYY-MM-DD HH:mm:ss')
      this.menu_award_end = false
      this.complete_award_end_date = false
    },
    input_judge_start_date() {
      this.judge_start = this.$moment(this.judge_start_date).format('YYYY-MM-DD')
      this.complete_judge_start_date = true
    },
    input_judge_start_time() {
      this.judge_start = this.$moment(this.judge_start_date + ' ' + this.judge_start_time).format('YYYY-MM-DD HH:mm:ss')
      this.menu_judge_start = false
      this.complete_judge_start_date = false
    },
    input_windate_date() {
      this.win_date = this.$moment(this.windate_date).format('YYYY-MM-DD')
      this.complete_windate_date = true
    },
    input_windate_time() {
      this.win_date = this.$moment(this.windate_date + ' ' + this.windate_time).format('YYYY-MM-DD HH:mm:ss')
      this.menu_win_date = false
      this.complete_windate_date = false
    },
    input_winspecialdate_date() {
      this.winspecial_date = this.$moment(this.winspecialdate_date).format('YYYY-MM-DD')
      this.complete_winspecialdate_date = true
    },
    input_winspecialdate_time() {
      this.winspecial_date = this.$moment(this.winspecialdate_date + ' ' + this.winspecialdate_time).format('YYYY-MM-DD HH:mm:ss')
      this.menu_winspecial_date = false
      this.complete_winspecialdate_date = false
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done()
    },
    editImage(formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      this.uploadDialog = true
      this.uploadText = '최대 5개까지 업로드가 가능합니다'
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    submitForm: function() {
      const formdata = new FormData();
      formdata.append('a_id', this.a_id);
      formdata.append('color_backg', this.color_backg);
      formdata.append('color_text', this.color_text);
      formdata.append('color_btbackg', this.color_btbackg);
      formdata.append('color_btline', this.color_btline);
      formdata.append('color_bttext', this.color_bttext);
      formdata.append('award_start', this.award_start);
      formdata.append('award_end', this.award_end);
      formdata.append('judge_start', this.judge_start);
      formdata.append('judge_end', this.judge_end);
      formdata.append('judge_status', this.judge_status);
      formdata.append('reaward_start', this.reaward_start);
      formdata.append('reaward_end', this.reaward_end);
      formdata.append('win_date', this.win_date);
      formdata.append('winspecial_date', this.winspecial_date);
      formdata.append('win_status', this.win_status);
      formdata.append('work_price', this.work_price);
      formdata.append('trophy_price', this.trophy_price);
      formdata.append('award_route', this.award_route);
      formdata.append('award_descript', this.award_descript);
      // formdata.append('award_picture', this.award_picture);
      formdata.append('descript_subject', this.descript_subject);
      if (this.uploadImages) {
        for (let uploadImage of this.uploadImages) {
          // console.log(uploadImage);
          formdata.append('image', uploadImage);
        }
      }

      this.$axios.post(
        '/api/admin_award/' + this.a_id + '/modify', formdata, {
          headers: { "Content-Type": "multipart/form-data" }, showLoading: true
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    }
  }
}
</script>