<template>

  <div v-if="permission && !$store.state.skeleton" class="content_wrap">

    <div class="filter_wrap">
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="result_selected"
      :headers="headers"
      :items="resultsWithIndex"
      item-key="w_id"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="index"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      @page-count="pageCount = $event"
    >
      <!-- <template v-slot:item.wp_no="{ item }">
        <div class="payment_num">{{ item.wp_no }}</div>
      </template> -->
      <template v-slot:item.w_date="{ item }">
        {{ formatDate(item.w_date) }}
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>
    </div>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/ResultList.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '출품함' },
      permission: false,

      results: [],
      result_selected: [],

      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        // { text: '출품 접수번호', value: 'wp_no', align: 'start td_wpno' },
        { text: '번호', value: 'index', align: 'start td_no' },
        { text: '아이디', value: 'u_id', align: 'start td_id' },
        { text: '기업명', value: 'e_company', align: 'start td_company' },
        { text: '출품명', value: 'w_title' },
        { text: '식별번호', value: 'w_id', align: 'start td_no' },
        { text: '출품 일자', value: 'w_date', align: 'start td_date' },
      ],
    }
  },
  created() {
    this.$emit('setTitle', this.titles);
    this.$store.commit('setSearchFilter', '')
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  computed: {
    resultsWithIndex() {
      return this.results.map(
        (items, index) => ({
          ...items,
          index: index + 1
        }))
    },
    search: {
      get () {
        return this.$store.state.searchFilter
      },
      set (value) {
        this.$store.commit('setSearchFilter', value)
      }
    },
    itemsPerPageValue: {
      get () {
        return this.$store.state.itemsPerPageValue
      },
      set (value) {
        this.$store.commit('setItemsPerPageValue', value)
      }
    }
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$parent.$parent.$emit('setTitle', this.titles);

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      // this.$axios.get('/api/admin_award/' + this.a_id + '/results/' + this.param).then(res => {
      this.$axios.get('/api/admin_award/0/cart').then(res => {
        // this.results = res.data.data;
        const results_data = res.data.data;
        // console.log(results_data);

        this.results = results_data;
        // console.log(this.results);
      });
    },
    formatDate(value) {
      return (value == '0000-00-00 00:00:00' || value == null) ? '-' : this.$moment(value).format('YYYY.MM.DD HH:mm:ss');
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
  }
}
</script>
