<template>
  <div v-if="permission && !$store.state.skeleton">
    <v-btn fab depressed class="btn-type-add-item" @click="add_new">
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>
    <span class="help-btn-add">대 카테고리 등록</span>

    <ul class="list-card col--2 list-card-category">
      <li v-for="category in categories" :key="category.c_id">
        <v-card tile @click="openSubCategory(category.c_id, category.c_title)">
          <v-card-text>
            <div class="atitle text-truncate">{{category.c_title}}</div>
            <div class="action_area">
              <v-btn icon @click.stop="set_category('base', category.c_id)">
                <v-icon>xi-pen</v-icon>
              </v-btn>
              <v-btn icon @click.stop="openModal('delete', category.c_id)">
                <v-icon>xi-trash</v-icon>
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-award dialog-admin"
      max-width="350px"
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid"
        >
          <v-card-title>
            <div>대 카테고리 {{modalAddTitle}}</div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="c_title"
              :rules="[rules.required]"
              label="대 카테고리 이름"
              autocomplete="off"
              hide-details
              solo
              autofocus
              required
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
            <v-textarea
              v-model="c_describe"
              :rules="[rules.required]"
              label="카테고리 상세 내용"
              autocomplete="off"
              rows="5"
              row-height="24"
              auto-grow
              hide-details
              solo
              flat
              required
              class="scdesc"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form('base')">저장하기</v-btn>
            <v-btn depressed icon @click="modalAdd = false" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalAddSub"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-award dialog-admin"
      max-width="350px"
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid2"
        >
          <v-card-title>
            <div>출품 카테고리 {{modalAddTitleSub}}</div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="c_title"
              :rules="[rules.required]"
              label="카테고리 이름"
              autocomplete="off"
              hide-details
              solo
              autofocus
              required
              class="sctitle"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
            <v-text-field
              v-model="c_sector"
              :rules="[rules.required]"
              label="카테고리 설명"
              autocomplete="off"
              hide-details
              solo
              required
              class="scsummary"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
            <v-textarea
              v-model="c_describe"
              :rules="[rules.required]"
              label="카테고리 상세 내용"
              autocomplete="off"
              rows="5"
              row-height="24"
              auto-grow
              hide-details
              solo
              flat
              required
              class="scdesc"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
            <v-textarea
              v-model="c_exemple"
              label="카테고리 예제"
              autocomplete="off"
              rows="3"
              row-height="24"
              auto-grow
              hide-details
              solo
              flat
              class="scdesc"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form('sub')">저장하기</v-btn>
            <v-btn depressed icon @click="modalAddSub = false" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalSubCategory"
      open-on-focus
      scrollable
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-subcategory dialog-admin"
      max-width="1000px"
    >
      <v-card>
        <v-card-title>
          <div class="mtitle">{{modalTitle}}</div>
          <v-divider></v-divider>
          <div class="btn_area">
            <v-btn fab depressed class="btn-type-add-item" @click="add_subcategory">
              <v-icon dark>mdi-plus</v-icon>
            </v-btn>
            <span class="help-btn-add">출품 카테고리 등록</span>
          </div>
        </v-card-title>
        <v-card-text>
          <SlickList
            v-model="sub_categories"
            axis="xy"
            helperClass="dragging"
            appendTo=".list-card-subcategory"
            :lockToContainerEdges="true"
            :distance="5"
            class="list-card col--3 list-card-subcategory"
            @input="reOrder"
          >
            <SlickItem v-for="(sub_category, index) in sub_categories" :index="index" :key="sub_category.c_id" class="list-item">
              <v-card tile>
                <v-card-text>
                  <div class="filed-with-action">
                    <div class="scitem sctitle">{{sub_category.c_title}}</div>
                    <div class="action_area">
                      <v-btn icon @click="set_category('sub', sub_category.c_id)">
                        <v-icon>xi-pen</v-icon>
                      </v-btn>
                      <v-btn icon @click="openModal('delete', sub_category.c_id)">
                        <v-icon>xi-trash</v-icon>
                      </v-btn>
                    </div>
                  </div>
                  <div class="scitem scsummary">{{sub_category.c_sector}}</div>
                  <div class="scitem scdesc pre-formatted">{{sub_category.c_describe}}</div>
                  <div class="scitem scexec pre-formatted">{{sub_category.c_exemple}}</div>
                </v-card-text>
              </v-card>
            </SlickItem>
          </SlickList>
        </v-card-text>
        <div class="btn_wrap">
          <!-- <v-btn depressed tile text x-small class="btn-submit" @click="submit_form('submod')">저장하기</v-btn> -->
          <v-btn depressed icon @click="modalSubCategory = false" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'delete'" v-html="modalContent"></v-card-text>
        <v-card-text v-else></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'delete'" depressed tile text outlined small @click="remove_category()">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Categories.vue';
import { SlickList, SlickItem } from 'vue-slicksort';

export default {
  components: {
    noPermission,
    Skeleton,
    SlickItem,
    SlickList
  },
  data() {
    return {
      titles: { title_1: '세부관리', title_sub_1: '출품 카테고리 설정' },
      permission: false,

      formValid: false,
      formValid2: false,
      formValid3: false,

      modalAdd: false,
      modalAddSub: false,
      modalSubCategory: false,
      modalAddTitle: '',
      modalAddTitleSub: '',

      categories: [],
      sub_categories: [],
      a_id: 0,
      c_start: '',
      c_end: '',
      c_title: '',
      c_sector: '',
      c_describe: '',
      c_exemple: '',
      c_id: 0,
      cp_id: 0,

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '카테고리 삭제', content: '해당 카테고리를 삭제하시겠습니까?' }
      },
      snackbar: {
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/category').then(res => {
        // console.log(res.data.data);
        this.categories = res.data.data;
      });
    },
    add_new() {
      this.c_id = 0;
      this.cp_id = 0;
      this.c_title = '';
      this.c_describe = '';
      this.modalAddTitle = '등록';
      this.modalAdd = true;
    },
    openSubCategory(c_id, c_title) {
      this.get_subcategories(c_id);
      this.modalTitle = c_title;
      this.modalSubCategory = true;
    },
    add_subcategory() {
      this.c_title = '';
      this.c_sector = '';
      this.c_describe = '';
      this.c_exemple = '';
      this.modalAddTitleSub = '등록';
      this.modalAddSub = true;
    },
    reOrder() {
      for (var key in this.sub_categories) {
        // this.sub_categories[key].c_order = Number(key) + 1;
        let new_order = Number(key) + 1;
        const formdata = new FormData();
        formdata.append('a_id', this.sub_categories[key].a_id);
        formdata.append('c_id', this.sub_categories[key].c_id);
        // formdata.append('c_order', this.sub_categories[key].c_order);
        formdata.append('c_order', new_order);

        if (this.sub_categories[key].c_order != new_order) {
          this.sub_categories[key].c_order = new_order;
          this.$axios.post(
            '/api/admin_award/' + this.a_id + '/modify_category_order', formdata, {
              headers: { "Content-Type": "multipart/form-data" }
            }
          ).then(res => {
            this.$store.commit('showSnackbar', this.snackbar.save);
          }).catch(err => {
            this.$store.commit('showSnackbar', this.snackbar.error);
          });
        }
      }
    },
    openModal(type, c_id) {
      this.modalType = type;
      this.c_id = c_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    get_subcategories: function(cp_id) {
      this.sub_categories = [];
      this.cp_id = cp_id;
      this.$axios.get('/api/admin_award/' + this.a_id + '/view_subcategory/' + cp_id).then(res => {
        this.sub_categories = res.data.data;
        // console.log(this.sub_categories);
      });
    },
    set_category: function(type, c_id) {
      this.c_id = c_id;
      this.$axios.get('/api/admin_award/' + this.a_id + '/view_category/' + c_id).then(res => {
        const c_info = res.data.data
        this.a_id = c_info.a_id;
        this.c_start = c_info.c_start;
        this.c_end = c_info.c_end;
        this.c_title = c_info.c_title;
        this.c_sector = c_info.c_sector;
        this.c_describe = c_info.c_describe;
        this.c_exemple = c_info.c_exemple;
        this.c_order = c_info.c_order;
      });
      if (type == 'base') {
        this.modalAddTitle = '수정';
        this.modalAdd = true;
      } else if (type == 'sub') {
        this.modalAddTitleSub = '수정';
        this.modalAddSub = true;
      }
    },
    submit_form: function(type) {
      if ((this.formValid == true && type == 'base') || (this.formValid2 == true && type == 'sub') || (this.formValid3 == true && type == 'submod')) {
        const formdata = new FormData();
        formdata.append('a_id', this.a_id);
        formdata.append('c_id', this.c_id);
        formdata.append('c_start', this.c_start);
        formdata.append('c_end', this.c_end);
        formdata.append('c_title', this.c_title);
        formdata.append('c_sector', this.c_sector);
        formdata.append('c_describe', this.c_describe);
        formdata.append('c_exemple', this.c_exemple);
        formdata.append('c_order', this.c_order);
        var api_url = '/api/admin_award/' + this.a_id + '/create_category/' + this.cp_id;
        if (this.c_id > 0) {
          api_url = '/api/admin_award/' + this.a_id + '/modify_category';
        }
        this.$axios.post(
          api_url, formdata, {
            headers: { "Content-Type": "multipart/form-data" }
          }
        ).then(res => {
          this.$store.commit('showSnackbar', this.snackbar.save);
          if (type == 'base') {
            this.fetchItems();
            this.modalAdd = false;
          } else if (type == 'sub') {
            this.get_subcategories(this.cp_id);
            this.fetchItems();
            this.modalAddSub = false;
          }
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        })
      } else {
        this.$store.commit('showSnackbar', this.snackbar.required);
      }
      this.c_id = 0;
    },
    remove_category: function() {
      this.$axios.post('/api/admin_award/' + this.a_id + '/remove_category', 'c_id=' + this.c_id, {
        headers: { "Content-Type": "multipart/form-data" },
      })
      .then((res) => {
        this.get_subcategories(this.cp_id);
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.delete);
      })
      .catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.c_id = 0;
      this.modalConfirm = false;
    }
  }
}
</script>