<template>
  <div v-if="permission && !$store.state.skeleton">
    <ul class="list-card">
      <li>
        <v-card tile>
          <v-card-title>
            출품주체
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="submitForm" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="descript_1"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            출품대상
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="submitForm" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="descript_2"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            출품방법
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="submitForm" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="descript_3"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            출품비용
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="submitForm" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="descript_4"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            시상내용
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="submitForm" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="descript_5"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            수상인증비용
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="submitForm" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="descript_6"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
    </ul>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Descript.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return{
      titles: { title_1: '전역관리', title_sub_1: '개요 설정' },
      permission: false,

      a_id : '',
      descript_1 : '',
      descript_2 : '',
      descript_3 : '',
      descript_4 : '',
      descript_5 : '',
      descript_6 : '',

    snackbar: {
      complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
      save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
      error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
    },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.$axios.get('/api/admin_award/' + this.a_id + '/view').then(res => {
        const award_info = res.data.data;
        // console.log(award_info);
        this.descript_1 = award_info.descript_1;
        this.descript_2 = award_info.descript_2;
        this.descript_3 = award_info.descript_3;
        this.descript_4 = award_info.descript_4;
        this.descript_5 = award_info.descript_5;
        this.descript_6 = award_info.descript_6;
      });
    },
    submitForm: function() {
      const formdata = new FormData();
      formdata.append('a_id', this.a_id);
      formdata.append('descript_1', this.descript_1);
      formdata.append('descript_2', this.descript_2);
      formdata.append('descript_3', this.descript_3);
      formdata.append('descript_4', this.descript_4);
      formdata.append('descript_5', this.descript_5);
      formdata.append('descript_6', this.descript_6);

      this.$axios.post(
        '/api/admin_award/' + this.a_id + '/descript', formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    }
  }
}
</script>