<template>
  <div v-if="permission && !$store.state.skeleton">
    <v-btn fab depressed class="btn-type-add-item" @click="add_award">
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>

    <ul class="list-card list-card-award col--3">
      <li v-for="award in awards" :key="award.a_id">
        <v-card tile :to="{ name: 'adminAwardMain', params: { a_id: award.a_id }}" :class="award.a_status != '1' || 'active'">
          <v-card-title>
            <div>{{award.a_desc}}</div>
            <v-spacer></v-spacer>
            <v-menu light tile offset-x offset-y nudge-top="10" nudge-left="10" content-class="menu-award-index">
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" @click.native.stop.prevent>
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>
              <v-list>
                <!-- <v-list-item @click="a_year = award.a_id;modalAdd = true;"> -->
                <v-list-item @click="copy_award(award.a_id)">
                  <v-list-item-title>복제하기</v-list-item-title>
                </v-list-item>
                <!-- <v-list-item @click="a_year = award.a_id;delete_award()"> -->
                <v-list-item @click="delete_award(award.a_id)">
                  <v-list-item-title>삭제하기</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-card-title>
          <v-card-text class="d-flex justify-space-between align-center">
            <div class="scon">{{award.a_id}}</div>
            <div class="onair">{{award.a_status | onAir}}</div>
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-award dialog-admin"
      max-width="350px"
    >
      <v-card>
        <v-card-title>
          <div>출품 생성 관리</div>
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="a_desc"
            label="출품 이름"
            autocomplete="off"
            hide-details
            solo
            required
          >
            <template v-slot:message="{message}"><span v-html="message"></span></template>
          </v-text-field>
          <v-text-field
            v-model="a_year"
            label="출품 식별 (연도)"
            autocomplete="off"
            hide-details
            solo
            autofocus
            @input="onlyNum"
            required
          >
            <template v-slot:message="{message}"><span v-html="message"></span></template>
          </v-text-field>
          <div class="slabel">즉시 온에어 처리
            <v-switch
              v-model="a_status"
              true-value="1"
              false-value="0"
              inset
            >
            </v-switch>
          </div>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed tile text x-small class="btn-submit" @click="submit_form()">{{isCopy?'복제하기':'저장하기'}}</v-btn>
          <v-btn depressed icon @click="modalAdd = false" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Index.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '출품관리' },
      permission: false,

      modalAdd: false,
      isCopy: false,

      a_year: '',
      a_copy: 0,
      a_desc: '',
      a_status: '',
      awards: [],

      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        number: { content: '숫자만 입력해 주세요', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$axios.get('/api/admin_award').then(res => {
        this.awards = res.data.data;
        // console.log(this.awards);
      });
    },
    onlyNum(value) {
      const pattern = /^[0-9]*$/;
      if (pattern.test(value)) {
        this.a_year = value;
      } else {
        this.a_year = '';
        this.$store.commit('showSnackbar', this.snackbar.number);
      }
      // this.numberPattern.test(value);
      // this.a_year = value.replace(/\D/g,'');
      // this.$store.commit('showSnackbar', this.snackbar.number);
    },
    submit_form: function() {
      const formdata = new FormData();
      formdata.append('a_year', this.a_year);
      formdata.append('a_copy', this.a_copy);
      formdata.append('a_desc', this.a_desc);
      formdata.append('a_status', this.a_status);
      this.$axios.post(
        '/api/admin_award/create', formdata, {
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.a_year = '';
      this.a_desc = '';
      this.a_status = 0;
      this.modalAdd = false;
    },
    add_award() {
      this.a_year = '';
      this.a_desc = '';
      this.a_copy = 0;
      this.isCopy = false;
      this.modalAdd = true;
    },
    copy_award(a_id) {
      this.a_year = '';
      this.a_desc = '';
      this.a_copy = a_id;
      this.a_status = 0;
      this.isCopy = true;
      this.modalAdd = true;
    },
    delete_award(a_id) {
      const formdata = new FormData();
      formdata.append('a_id', a_id);
      this.$axios.post(
        '/api/admin_award/remove', formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      })
    }
  },
  filters: {
    onAir: function(value) {
      return value == '1' ? 'ON-AIR' : 'ARCHIVE'
    }
  },
}
</script>