<template>
  <div v-if="permission && !$store.state.skeleton">
    <ul class="list-card">
      <li>
        <v-card tile>
          <v-card-title>1차 심사위원단 그룹</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-card-party col--6">
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1.8"
                    v-ripple
                    class="noimg"
                    @click="add_new(1)"
                  >
                    <v-icon>xi-users-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">그룹 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <li v-for="(party_1, index) in judges_party_1" :key="party_1.jp_id">
                <v-card tile flat>
                  <div class="party_member">
                    <ul>
                      <li v-if="party_1.judges" v-for="judge in party_1.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</li>
                    </ul>
                  </div>
                  <v-card-text>
                    <div class="name text-truncate">그룹 {{index + 1}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(1, party_1.jp_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', party_1.jp_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>2차 심사위원단 그룹</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-card-party col--6">
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1.8"
                    v-ripple
                    class="noimg"
                    @click="add_new(2)"
                  >
                    <v-icon>xi-users-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">그룹 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <li v-for="(party_2, index) in judges_party_2" :key="party_2.jp_id">
                <v-card tile flat>
                  <div class="party_member">
                    <ul>
                      <li v-if="party_2.judges" v-for="judge in party_2.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</li>
                    </ul>
                  </div>
                  <v-card-text>
                    <div class="name text-truncate">그룹 {{index + 1}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(2, party_2.jp_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', party_2.jp_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>비공개 심사위원단 그룹</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <ul class="list-card-party col--6">
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1.8"
                    v-ripple
                    class="noimg"
                    @click="add_new(3)"
                  >
                    <v-icon>xi-users-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">그룹 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <li v-for="(party_3, index) in judges_party_3" :key="party_3.jp_id">
                <v-card tile flat>
                  <div class="party_member">
                    <ul>
                      <li v-if="party_3.judges" v-for="judge in party_3.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</li>
                    </ul>
                  </div>
                  <v-card-text>
                    <div class="name text-truncate">그룹 {{index + 1}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(3, party_3.jp_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', party_3.jp_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-judge dialog-admin"
      max-width="1000px"
      persistent
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid"
        >
          <v-card-title>
            <div>심사위원 그룹 등록 및 수정</div>
          </v-card-title>
          <v-card-text>
            <div class="input_area input_area_type2">
              <div class="list-judge">
                <ul>
                  <li v-for="(judge, index) in judges_current" :key="judge.j_id" :class="{ 'disabled': judges_party_all[judges_party_all.findIndex(x => x == judge.j_id)]}">
                    <div
                      v-ripple
                      :data-id="index"
                      :class="{ 'active': selectedItem[selectedItem.findIndex(x => x.index == index)]}"
                      @click="select_judge_list(judge.jg_id, index, judge.j_id, judge.j_name, '', $event.target)"
                      class="box-judge"
                    >
                      {{judge.j_name}}
                    </div>
                  </li>
                  <li v-if="!judges_current.length" class="nodata">
                    <div>이 그룹에 등록된 심사위원이 없습니다</div>
                  </li>
                </ul>
              </div>
              <input class="d-none" />
              <div class="token-judge">
                <ul class="list-field">
                  <li>
                    <div class="slabel">심사위원 토큰 발행
                      <v-switch
                        v-model="jp_token"
                        true-value="1"
                        false-value="0"
                        inset
                        @change="token_change"
                      >
                      </v-switch>
                    </div>
                  </li>
                  <li>
                    <v-text-field
                      v-model="jp_access"
                      label="UID 임의값"
                      autocomplete="off"
                      hide-details
                      solo
                      :disabled="token_off"
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                    <v-tooltip v-model="tooltipCopy.link" top transition="slide-y-reverse-transition">
                      <template v-slot:activator="{ on }">
                        <v-btn depressed tile text outlined small @click="copyClipboard('link')" :disabled="token_off" class="width-input">링크복사</v-btn>
                      </template>
                      <span>복사되었습니다</span>
                    </v-tooltip>
                  </li>
                  <li class="password_wrap">
                    <div v-show="jp_password.length" class="slabel mb-3">심사위원별 패스워드 설정</div>
                    <div v-for="(password, index) in jp_password" :key="password.j_id" class="judge_password">
                      <v-text-field
                        v-model="jp_password[index].j_password"
                        :prefix="password.j_name"
                        label="패스워드 입력"
                        autocomplete="off"
                        hide-details
                        solo
                        :disabled="token_off"
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form()">저장하기</v-btn>
            <v-btn depressed icon @click="close_detail()" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'delete'" v-html="modalContent"></v-card-text>
        <v-card-text v-else></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'delete'" depressed tile text outlined small @click="remove_judge()">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Judges.vue';
import { SlickList, SlickItem } from 'vue-slicksort';

export default {
  components: {
    noPermission,
    Skeleton,
    SlickItem,
    SlickList
  },
  data() {
    return {
      titles: { title_1: '전역관리', title_sub_1: '심사위원 그룹 관리' },
      permission: false,

      formValid: false,
      noimage: '/assets/img/common/noimage_408.png',
      modalAdd: false,
      tooltipCopy: {
        link: false,
      },

      selectedItem: [],
      selectedCount: 0,

      judges: [],
      judges_1: [],
      judges_2: [],
      judges_3: [],
      judges_current: [],
      judges_party: [],
      judges_party_1: [],
      judges_party_2: [],
      judges_party_3: [],
      judges_party_all: [],

      a_id: 0,
      jp_id: 0,
      jg_id: 0,
      j_id: 0,
      j_ids: '',
      j_names: '',
      j_id_all: [],

      jp_token: '',
      jp_access: '',
      jp_password: [],
      token_off: true,

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '심사위원 그룹 삭제', content: '해당 심사위원 그룹을 삭제하시겠습니까?' }
      },
      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        token: { content: '이미 등록된 토큰 UID 입니다', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
        required_password: { content: '심사위원 패스워드를 모두 설정해 주세요', color: 'error', icon: 'xi-error-o' },
        duplicate_password: { content: '심사위원 패스워드를 중복되지 않게 설정해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.get_judge_party();
    },
    get_judge_party() {
      return new Promise(resolve => {
        this.$axios.get('/api/admin_award/' + this.a_id + '/judge').then(res => {
          this.judges = res.data.data;
          // console.log('judges',this.judges);
          this.judges_1 = this.judges.filter(i => i.jg_id == '1');
          this.judges_2 = this.judges.filter(i => i.jg_id == '2');
          this.judges_3 = this.judges.filter(i => i.jg_id == '3');
          resolve('resolved');
        });

        this.$axios.get('/api/admin_award/' + this.a_id + '/judge_party').then(res => {
          this.judges_party = res.data.data;
          // console.log('judges_party',this.judges_party);
          this.judges_party_1 = this.judges_party.filter(i => i.jg_id == '1');
          this.judges_party_2 = this.judges_party.filter(i => i.jg_id == '2');
          this.judges_party_3 = this.judges_party.filter(i => i.jg_id == '3');
        });

        this.$axios.get('/api/admin_award/' + this.a_id + '/judge_party_all').then(res => {
          this.judges_party_all = res.data.data;
          // console.log('judges_party_all',this.judges_party_all);
        });
      });
    },
    add_new(jg_id) {
      this.get_judge_party();

      this.jp_id = '';
      this.jg_id = jg_id;
      this.judges_current = eval('this.judges_'+jg_id);
      this.jp_token = '';
      this.jp_access = '';
      this.jp_password = [];
      this.modalAdd = true;
    },
    close_detail() {
      this.jp_id = '';
      this.jg_id = '';
      this.selectedItem = [];
      this.jp_token = '';
      this.jp_access = '';
      this.jp_password = [];
      this.modalAdd = false;
    },
    select_judge_list(jg, index, j_id, j_name, j_password, target='') {
      if (target != '') {
        target.parentElement.classList.remove('disabled');
      }
      let judges_jg = eval('this.judges_'+jg);
      const newItem = j_id;
      const itemExist = this.selectedItem.some(item => item.j_id == newItem);

      if (itemExist) {
        this.selectedItem.splice(this.selectedItem.findIndex(x => x.j_id == j_id), 1);
        this.jp_password.splice(this.jp_password.findIndex(x => x.j_id == j_id), 1);
      } else {
        this.selectedItem.push({index: index, j_id: j_id, j_name: j_name});
        this.jp_password.push({j_id: j_id, j_name: j_name, j_password: j_password});
      }
      this.selectedCount = this.jp_password.length;
    },
    copyClipboard(type) {
      if (type == 'link') {
        this.$copyText(location.protocol + '//' + location.host + '/judgement/' + this.a_id + '/' + this.jp_access)
        .then((e) => {
          this.tooltipCopy.link = true;
          setTimeout(() => {
            this.tooltipCopy.link = false;
          }, 800)
        }, function (e) {
          // console.log(e)
        })
      }
    },
    openModal(type, jp_id) {
      this.modalType = type;
      this.jp_id = jp_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    token_change(value) {
      if (value == 1) {
        this.token_off = false;
      } else {
        this.token_off = true;
        this.jp_access = '';
        // this.jp_password = [];
        this.jp_password = this.jp_password.map(e => ({ ...e, j_password: "" }));
      }
    },
    get_judge: async function(jg, jp_id) {
      await this.get_judge_party();

      let judges_jg = eval('this.judges_'+jg);
      this.judges_current = judges_jg;
      this.$axios.get('/api/admin_award/' + this.a_id + '/view_judge_party/' + jp_id).then(res => {
        const jp_info = res.data.data;
        // console.log(jp_info);
        this.jg_id = jg;
        this.jp_id = jp_info.jp_id;

        this.j_ids = jp_info.j_ids.split(',');
        this.j_names = jp_info.j_names.split(',');
        let passwords = jp_info.jp_password.split(',');
        for (var i=0; i<this.j_ids.length; i++) {
          let index = judges_jg.findIndex(x => x.j_id == this.j_ids[i]);
          // this.jp_password[i] = {j_id: this.j_ids[i], j_name: this.j_names[i], j_password: passwords[i]};
          this.select_judge_list(jg, index, this.j_ids[i], this.j_names[i], passwords[i]);
        }

        this.jp_token = jp_info.jp_token;
        if (this.jp_token == 1) {
          this.token_off = false;
        } else {
          this.token_off = true;
        }
        this.jp_access = jp_info.jp_access;
      }).finally(() => {
        this.modalAdd = true;
      });
    },
    submit_form: function() {
      this.jp_password.sort(function(a, b) {
          return a.j_id - b.j_id;
      });
      let arr_j_id = this.jp_password.map(i => i.j_id);
      let arr_j_password = this.jp_password.map(i => i.j_password);
      // console.log(this.jp_password);
      // console.log(arr_j_id);
      // console.log(arr_j_password);

      if (this.jp_token == 1 && arr_j_password.indexOf("") != -1) {
          this.$store.commit('showSnackbar', this.snackbar.required_password);
      } else {
        if ((new Set(arr_j_password)).size !== arr_j_password.length && arr_j_password.indexOf("") != 0) {
          this.$store.commit('showSnackbar', this.snackbar.duplicate_password);
        } else {
          if (this.formValid == true) {
            const formdata = new FormData();
            formdata.append('a_id', this.a_id);
            formdata.append('jp_id', this.jp_id);
            formdata.append('j_ids', arr_j_id);
            formdata.append('jg_id', this.jg_id);
            formdata.append('jp_token', this.jp_token);
            formdata.append('jp_access', this.jp_access);
            formdata.append('jp_password', arr_j_password);

            var api_url = '/api/admin_award/' + this.a_id + '/create_judge_party';
            if (this.jp_id > 0) {
              api_url = '/api/admin_award/' + this.a_id + '/modify_judge_party';
            }

            this.$axios.post(
              api_url,formdata,{
                headers: { "Content-Type": "multipart/form-data" }, showLoading: true
              }
            ).then(res => {
              this.$store.commit('showSnackbar', this.snackbar.save);
            }).catch(err => {
              if (err.response.data.data.token == 'duplicate') {
                this.$store.commit('showSnackbar', this.snackbar.token);
              } else {
                this.$store.commit('showSnackbar', this.snackbar.error);
              }
            }).finally(() => {
              this.selectedItem = [];
              this.jp_password = [];
              this.fetchItems();
              this.modalAdd = false;
            });
          } else {
            this.$store.commit('showSnackbar', this.snackbar.required);
          }
        }
      }
    },
    remove_judge: function() {
      this.$axios.post('/api/admin_award/' + this.a_id + '/remove_judge_party/', 'jp_id=' + this.jp_id, {
        headers: { "Content-Type": "multipart/form-data" },
      })
      .then((res) => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.delete);
      })
      .catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.jp_id = 0;
      this.modalConfirm = false;
    }
  }
}
</script>
