<template>
  <div v-if="permission && !$store.state.skeleton">
    <ul class="list-card">
      <li>
        <v-card tile>
          <v-card-title>1차 심사위원단 등록</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <SlickList
              v-model="judges_1"
              axis="xy"
              tag="ul"
              helperClass="dragging"
              appendTo=".list-card-judge-1"
              :lockToContainerEdges="true"
              :distance="5"
              class="list-card-image col--6 list-card-judge-1"
              @input="reOrder(1)"
            >
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1"
                    v-ripple
                    class="noimg"
                    @click="add_new(1)"
                  >
                    <v-icon>xi-user-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">새로 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <SlickItem v-for="(judge, index) in judges_1" :index="index" :key="judge.j_id" v-if="judge.jg_id==1" tag="li" class="list-item">
                <v-card tile flat>
                  <v-img
                    v-if="judge.j_picture"
                    :src="judge.j_picture"
                    aspect-ratio="1"
                    @error="judge.j_picture = null"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-card-text>
                    <div class="name text-truncate">{{judge.j_name}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(1, judge.j_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', judge.j_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </SlickItem>
            </SlickList>

            <!-- <ul class="list-card-image col--6">
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1"
                    v-ripple
                    class="noimg"
                    @click="add_new(1)"
                  >
                    <v-icon>xi-user-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">새로 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <li v-for="judge in judges" :key="judge.j_id" v-if="judge.jg_id==1">
                <v-card tile flat>
                  <v-img
                    v-if="judge.j_picture"
                    :src="judge.j_picture"
                    aspect-ratio="1"
                    @error="judge.j_picture = null"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-card-text>
                    <div class="name text-truncate">{{judge.j_name}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(1, judge.j_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', judge.j_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </li>
            </ul> -->
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>2차 심사위원단 등록</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <SlickList
              v-model="judges_2"
              axis="xy"
              tag="ul"
              helperClass="dragging"
              appendTo=".list-card-judge-2"
              :lockToContainerEdges="true"
              :distance="5"
              class="list-card-image col--6 list-card-judge-2"
              @input="reOrder(2)"
            >
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1"
                    v-ripple
                    class="noimg"
                    @click="add_new(2)"
                  >
                    <v-icon>xi-user-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">새로 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <SlickItem v-for="(judge, index) in judges_2" :index="index" :key="judge.j_id" v-if="judge.jg_id==2" tag="li" class="list-item">
                <v-card tile flat>
                  <v-img
                    v-if="judge.j_picture"
                    :src="judge.j_picture"
                    aspect-ratio="1"
                    @error="judge.j_picture = null"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-card-text>
                    <div class="name text-truncate">{{judge.j_name}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(2, judge.j_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', judge.j_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </SlickItem>
            </SlickList>

            <!-- <ul class="list-card-image col--6">
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1"
                    v-ripple
                    class="noimg"
                    @click="add_new(2)"
                  >
                    <v-icon>xi-user-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">새로 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <li v-for="judge in judges" :key="judge.j_id" v-if="judge.jg_id==2">
                <v-card tile flat>
                  <v-img
                    v-if="judge.j_picture"
                    :src="judge.j_picture"
                    aspect-ratio="1"
                    @error="judge.j_picture = null"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-card-text>
                    <div class="name text-truncate">{{judge.j_name}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(2, judge.j_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', judge.j_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </li>
            </ul> -->
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>비공개 심사위원단 등록</v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <SlickList
              v-model="judges_3"
              axis="xy"
              tag="ul"
              helperClass="dragging"
              appendTo=".list-card-judge-3"
              :lockToContainerEdges="true"
              :distance="5"
              class="list-card-image col--6 list-card-judge-3"
              @input="reOrder(3)"
            >
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1"
                    v-ripple
                    class="noimg"
                    @click="add_new(3)"
                  >
                    <v-icon>xi-user-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">새로 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <SlickItem v-for="(judge, index) in judges_3" :index="index" :key="judge.j_id" v-if="judge.jg_id==3" tag="li" class="list-item">
                <v-card tile flat>
                  <v-img
                    v-if="judge.j_picture"
                    :src="judge.j_picture"
                    aspect-ratio="1"
                    @error="judge.j_picture = null"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-card-text>
                    <div class="name text-truncate">{{judge.j_name}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(3, judge.j_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', judge.j_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </SlickItem>
            </SlickList>

            <!-- <ul class="list-card-image col--6">
              <li class="add_new">
                <v-card tile flat>
                  <v-img
                    :src="noimage"
                    aspect-ratio="1"
                    v-ripple
                    class="noimg"
                    @click="add_new(3)"
                  >
                    <v-icon>xi-user-plus</v-icon>
                  </v-img>
                  <v-card-text>
                    <div class="name w-full text-truncate">새로 등록하기</div>
                  </v-card-text>
                </v-card>
              </li>
              <li v-for="judge in judges" :key="judge.j_id" v-if="judge.jg_id==3">
                <v-card tile flat>
                  <v-img
                    v-if="judge.j_picture"
                    :src="judge.j_picture"
                    aspect-ratio="1"
                    @error="judge.j_picture = null"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-card-text>
                    <div class="name text-truncate">{{judge.j_name}}</div>
                    <div class="action_area">
                      <v-btn icon @click="get_judge(3, judge.j_id)"><v-icon>xi-pen</v-icon></v-btn>
                      <v-btn icon @click="openModal('delete', judge.j_id)"><v-icon>xi-trash</v-icon></v-btn>
                    </div>
                  </v-card-text>
                </v-card>
              </li>
            </ul> -->
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-judge dialog-admin"
      max-width="1000px"
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid"
        >
          <v-card-title>
            <div>심사위원 등록 및 수정</div>
          </v-card-title>
          <v-card-text>
            <div class="img_area">
              <div v-ripple class="preview_wrap">
                <upload-multiple-image
                @upload-success="uploadImageSuccess"
                @before-remove="beforeRemove"
                @edit-image="editImage"
                @data-change="dataChange"
                @limit-exceeded="limitExceeded"
                @size-exceeded="sizeExceeded"
                idUpload="image_upload_key"
                idEdit="image_edit_key"
                containerWidth="100%"
                containerHeight="100%"
                :data-id="'j'+j_id"
                :data-images="images"
                :multiple="false"
                :maxImage="1"
                :maxSize="15728640"
                :showPrimary="false"
                ></upload-multiple-image>
              </div>
              <div class="ihelp">사진을 업로드 하지 않게 된다면<br>텍스트로만 노출됩니다</div>
            </div>
            <div class="input_area">
              <div class="top">
                <div class="tleft">
                  <ul class="list-field">
                    <li>
                      <v-text-field
                        v-model="j_name"
                        :rules="[rules.required]"
                        label="이름"
                        autocomplete="off"
                        hide-details
                        solo
                        required
                        autofocus
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </li>
                    <li>
                      <v-text-field
                        v-model="j_job"
                        label="직급"
                        autocomplete="off"
                        hide-details
                        solo
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </li>
                    <li>
                      <v-text-field
                        v-model="j_company"
                        label="소속"
                        autocomplete="off"
                        hide-details
                        solo
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </li>
                  </ul>
                </div>
                <!-- <div class="tright">
                  <ul class="list-field">
                    <li>
                      <div class="slabel">심사위원 토큰 발행
                        <v-switch
                          v-model="j_token"
                          true-value="1"
                          false-value="0"
                          inset
                          @change="token_change"
                        >
                        </v-switch>
                      </div>
                    </li>
                    <li>
                      <v-text-field
                        v-model="j_access"
                        label="UID 임의값"
                        autocomplete="off"
                        hide-details
                        solo
                        :disabled="token_off"
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                      <v-tooltip v-model="tooltipCopy.link" top transition="slide-y-reverse-transition">
                        <template v-slot:activator="{ on }">
                          <v-btn depressed tile text outlined small @click="copyClipboard('link')" :disabled="token_off" class="width-input">링크복사</v-btn>
                        </template>
                        <span>복사되었습니다</span>
                      </v-tooltip>
                    </li>
                    <li>
                      <v-text-field
                        v-model="j_password"
                        label="패스워드 설정"
                        autocomplete="off"
                        hide-details
                        solo
                        :disabled="token_off"
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </li>
                  </ul>
                </div> -->
              </div>
              <div class="bot">
                <v-textarea
                  v-model="j_descript"
                  label="소개"
                  autocomplete="off"
                  rows="8"
                  row-height="24"
                  auto-grow
                  solo
                  flat
                  hide-details
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-textarea>
              </div>
            </div>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form()">저장하기</v-btn>
            <v-btn depressed icon @click="modalAdd = false" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'delete'" v-html="modalContent"></v-card-text>
        <v-card-text v-else></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'delete'" depressed tile text outlined small @click="remove_judge()">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Judges.vue';
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';
import { SlickList, SlickItem } from 'vue-slicksort';

export default {
  components: {
    noPermission,
    Skeleton,
    UploadMultipleImage,
    SlickItem,
    SlickList
  },
  data() {
    return {
      titles: { title_1: '전역관리', title_sub_1: '심사위원 관리' },
      permission: false,

      formValid: false,
      noimage: '/assets/img/common/noimage_408.png',
      modalAdd: false,
      tooltipCopy: {
        link: false,
      },

      judges: [],
      judges_1: [],
      judges_2: [],
      judges_3: [],
      j_id: 0,
      jg_id: 1,
      j_job: '',
      a_id: 0,
      j_name: '',
      j_picture: {},
      images: [],
      uploadImages: [],
      j_company: '',
      j_token: '',
      j_access: '',
      j_password: '',
      j_descript: '',
      token_off: true,

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '심사위원 삭제', content: '해당 심사위원을 삭제하시겠습니까?' }
      },
      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        token: { content: '이미 등록된 토큰 UID 입니다', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.$axios.get('/api/admin_award/' + this.a_id + '/judge').then(res => {
        this.judges = res.data.data;
        // console.log(this.judges);
        this.judges_1 = this.judges.filter(i => i.jg_id == '1');
        this.judges_2 = this.judges.filter(i => i.jg_id == '2');
        this.judges_3 = this.judges.filter(i => i.jg_id == '3');
        // console.log(this.judges_1);
        // console.log(this.judges_2);
        // console.log(this.judges_3);
      });
    },
    reOrder(jg) {
      let judges_jg = eval('this.judges_'+jg);
      for (var key in judges_jg) {
        // judges_jg[key].j_order = Number(key) + 1;
        let new_order = Number(key) + 1;
        const formdata = new FormData();
        formdata.append('a_id', judges_jg[key].a_id);
        formdata.append('j_id', judges_jg[key].j_id);
        // formdata.append('j_order', judges_jg[key].j_order);
        formdata.append('j_order', new_order);

        if (judges_jg[key].j_order != new_order) {
          judges_jg[key].j_order = new_order;
          this.$axios.post(
            '/api/admin_award/' + this.a_id + '/modify_judge_order', formdata, {
              headers: { "Content-Type": "multipart/form-data" }
            }
          ).then(res => {
            this.$store.commit('showSnackbar', this.snackbar.save);
          }).catch(err => {
            this.$store.commit('showSnackbar', this.snackbar.error);
          });
        }
      }
    },
    add_new(jg_id) {
      this.j_id = '';
      this.j_job = '';
      this.j_descript = '';
      this.jg_id = jg_id;
      this.j_name = '';
      this.j_company = '';
      this.j_token = '';
      this.j_access = '';
      this.j_password = '';
      this.j_picture = '';
      this.images = [];
      this.uploadImages = [];

      this.modalAdd = true;
    },
    copyClipboard(type) {
      if (type == 'link') {
        this.$copyText(location.protocol + '//' + location.host + '/judgement/' + this.a_id + '/' + this.j_access)
        .then((e) => {
          this.tooltipCopy.link = true;
          setTimeout(() => {
            this.tooltipCopy.link = false;
          }, 800)
        }, function (e) {
          // console.log(e)
        })
      }
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done()
    },
    editImage(formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      this.uploadDialog = true
      this.uploadText = '최대 5개까지 업로드가 가능합니다'
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    openModal(type, j_id) {
      this.modalType = type;
      this.j_id = j_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    token_change(value) {
      if (value == 1) {
        this.token_off = false;
      } else {
        this.token_off = true;
        this.j_access = '';
        this.j_password = '';
      }
    },
    get_judge: function(jg_id, j_id) {
      this.images = [];
      this.uploadImages = [];
      this.$axios.get('/api/admin_award/' + this.a_id + '/view_judge/' + j_id).then(res => {
        const j_info = res.data.data;
        let image = {'path': j_info.j_picture};
        this.j_id = j_info.j_id;
        this.j_job = j_info.j_job;
        this.j_descript = j_info.j_descript;
        this.jg_id = jg_id;
        this.j_name = j_info.j_name;
        this.j_company = j_info.j_company;
        this.j_token = j_info.j_token;
        if (this.j_token == 1) {
          this.token_off = false;
        } else {
          this.token_off = true;
        }
        this.j_access = j_info.j_access;
        this.j_password = j_info.j_password;
        // this.j_picture = j_info.j_picture;
        if (image.path !== '' && image.path !== null) {
          this.images.push(image);
        }
      });
      this.modalAdd = true;
    },
    submit_form: function() {
      if (this.formValid == true) {
        const formdata = new FormData();
        formdata.append('a_id', this.a_id);
        formdata.append('j_id', this.j_id);
        formdata.append('jg_id', this.jg_id);
        formdata.append('j_job', this.j_job);
        formdata.append('j_name', this.j_name);
        formdata.append('j_company', this.j_company);
        formdata.append('j_token', this.j_token);
        formdata.append('j_access', this.j_access);
        formdata.append('j_descript', this.j_descript);
        formdata.append('j_password', this.j_password);
        if (this.uploadImages) {
          for (let uploadImage of this.uploadImages) {
            // console.log(uploadImage);
            formdata.append('j_picture', uploadImage);
          }
        }

        var api_url = '/api/admin_award/' + this.a_id + '/create_judge';
        if (this.j_id > 0) {
          api_url = '/api/admin_award/' + this.a_id + '/modify_judge';
        }

        this.$axios.post(
          api_url,formdata,{
            headers: { "Content-Type": "multipart/form-data" }, showLoading: true
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.save);
        }).catch(err => {
          this.fetchItems();
          if (err.response.data.data.token == 'duplicate') {
            this.$store.commit('showSnackbar', this.snackbar.token);
          } else {
            this.$store.commit('showSnackbar', this.snackbar.error);
          }
        });
        this.modalAdd = false;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.required);
      }
    },
    remove_judge: function() {
      this.$axios.post('/api/admin_award/' + this.a_id + '/remove_judge/', 'j_id=' + this.j_id, {
        headers: { "Content-Type": "multipart/form-data" },
      })
      .then((res) => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.delete);
      })
      .catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.pop_id = 0;
      this.modalConfirm = false;
    }
  }
}
</script>
