<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="filter_wrap">
      <div class="filter-category">
        <v-select
          v-model="filter_category"
          :items="categories"
          item-text="c_title"
          item-value="c_id"
          return-object
          label="부문"
          append-icon="xi-angle-down-min"
          hide-details
          flat
          solo
          :menu-props="{ contentClass: 'item_select item_category' }"
          class="items_category"
          @input="active_subcategories($event)"
        >
        </v-select>
      </div>
      <div class="filter-category filter-category-sub open" id="filter-category-sub">
        <v-select
          v-model="filter_subcategory"
          :items="subcategories"
          item-text="c_title"
          item-value="c_id"
          return-object
          label="분야"
          append-icon="xi-angle-down-min"
          hide-details
          flat
          solo
          :menu-props="{ contentClass: 'item_select item_category' }"
          class="items_category"
          :disabled="active_sc"
        >
        </v-select>
      </div>
      <v-btn depressed tile text x-small class="btn-reset-filter btn-type-intable" @click="reset_filter">초기화</v-btn>
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="judgement_selected"
      :headers="headers"
      :items="judgementWithIndex"
      item-key="jm_id"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="index"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
      @click:row="open_judgement"
    >
      <template v-slot:item.jg_id="{ item }">
        {{item.jg_id=='3'?'비공개':item.jg_id+'차'}}
      </template>
      <template v-slot:item.jm_date="{ item }">
        {{ formatDate(item.jm_date) }}
      </template>
      <template v-slot:item.detail="{ item }">
        <v-btn depressed tile text x-small class="btn-type-angle btn-type-intable w60">상세<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>

      <!-- <v-btn depressed tile text outlined x-small @click="openModal('csv')">CSV 추출하기</v-btn> -->
      <v-btn depressed tile text outlined x-small @click="openModal('pdfs')">PDF 추출하기</v-btn>
    </div>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'csv'" v-html="modalContent"></v-card-text>
        <v-card-text v-else-if="modalType == 'pdfs'" v-html="modalContent"></v-card-text>
        <v-card-text v-else>
        </v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">확인</v-btn>
          <v-btn v-if="modalType == 'pdfs'" depressed tile text outlined small @click="get_pdfs()">확인</v-btn>
          <v-btn v-else depressed tile text outlined small @click="">-</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalJudgement"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-judgement"
      max-width="1000px"
      persistent
      eager
    >
      <v-card>
        <v-form
          ref="formJudgement"
          v-model="formJudgementValid"
        >
          <v-card-title>
            <div>심사표</div>
          </v-card-title>
          <v-card-text>
            <div class="inner-content">
              <v-simple-table class="basic">
                <thead>
                  <tr>
                    <th class="text-center">부문</th>
                    <th class="text-center">항목</th>
                    <th>심사기준</th>
                    <th class="text-center">채점</th>
                    <th class="text-center td-score">점수</th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="content in judgement_rule[pindex].contents">
                    <tr
                      v-for="(item, index) in content.sub"
                      :key="item.category"
                    >
                      <td v-if="index == 0" :rowspan="content.sub.length" class="text-center">
                        {{content.part}}
                      </td>
                      <td :class="index+1!=content.sub.length?'td_in':''" class="text-center" v-html="item.clause"></td>
                      <td :class="index+1!=content.sub.length?'td_in':''" v-html="item.guideline"></td>
                      <td :class="index+1!=content.sub.length?'td_in':''">
                        <v-radio-group
                          v-model="scores[item.cindex]"
                          row
                          class="radio-group-score"
                        >
                          <v-radio label="매우 우수" value="5" color="#64DD17" off-icon ="mdi-checkbox-blank-circle-outline" on-icon ="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="우수" value="4" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="보통" value="3" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="미흡" value="2" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                          <v-radio label="매우 미흡" value="1" color="#64DD17" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                        </v-radio-group>
                      </td>
                      <td :class="index+1!=content.sub.length?'td_in':''" class="text-center">
                        <div :class="scores[item.cindex]==0?'zero':''">{{scores[item.cindex]}}</div>
                      </td>
                    </tr>
                  </template>
                  <tr>
                    <td colspan="5" class="text-center">총점 : <span :class="totalScore==0?'zero':''" style="display:inline-block;margin-left:5px;width:30px;">{{totalScore}}</span></td>
                  </tr>
                </tbody>
              </v-simple-table>
            </div>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="make_pdf()">PDF 추출</v-btn>
            <v-btn depressed icon @click="close_judgement()" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>

      <div class="preview_wrap eg-preview" id="eg-preview">
        <!-- <div class="p_title">심사표</div> -->
        <div class="p_top">
          <div class="p_work">
            <div class="w_category">{{j_work.cp_title}} ∷ {{j_work.c_title}} 분야</div>
            <div class="w_title_wrap">
              <span class="w_title">{{j_work.w_title}}</span>
              <span class="w_id">({{j_work.w_id}})</span>
            </div>
            <div class="w_company">{{j_work.e_company}}</div>
          </div>
          <div class="p_judge">
            <div class="j_name">심사위원 {{j_work.j_name}}</div>
            <div class="j_company">{{j_work.j_company}}</div>
            <div class="j_job">{{j_work.j_job}}</div>
          </div>
        </div>
        <v-simple-table class="basic">
          <thead>
            <tr>
              <th class="text-center td-part">부문</th>
              <th class="text-center td-clause">항목</th>
              <th>심사기준</th>
              <th class="text-center td-check">채점</th>
              <th class="text-center td-score">점수</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="content in judgement_rule[pindex].contents">
              <tr
                v-for="(item, index) in content.sub"
                :key="item.category"
              >
                <td v-if="index == 0" :rowspan="content.sub.length" class="text-center">
                  {{content.part}}
                </td>
                <td :class="index+1!=content.sub.length?'td_in':''" class="text-center td-second" v-html="item.clause"></td>
                <td :class="index+1!=content.sub.length?'td_in':''" v-html="item.guideline"></td>
                <td :class="index+1!=content.sub.length?'td_in':''">
                  <v-radio-group
                    v-model="scores[item.cindex]"
                    row
                    class="radio-group-score"
                  >
                    <v-radio label="매우 우수" value="5" color="#00C853" off-icon ="mdi-checkbox-blank-circle-outline" on-icon ="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="우수" value="4" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="보통" value="3" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="미흡" value="2" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="매우 미흡" value="1" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                  </v-radio-group>
                </td>
                <td :class="index+1!=content.sub.length?'td_in':''" class="text-center">
                  <div :class="scores[item.cindex]==0?'zero':''">{{scores[item.cindex]}}</div>
                </td>
              </tr>
            </template>
            <tr>
              <td colspan="5" class="text-center td-total">총점 : <span :class="totalScore==0?'zero':''" style="display:inline-block;margin-left:5px;width:30px;">{{totalScore}}</span></td>
            </tr>
          </tbody>
        </v-simple-table>
      </div>
    </v-dialog>

    <div class="modal-judgement selected-preview_wrap">
      <div v-for="(judgement, index) in selected_preview" :key="judgement.w_id" class="preview_wrap preview_item selected-preview">
        <!-- <div class="p_title">심사표</div> -->
        <div class="p_top">
          <div class="p_work">
            <div class="w_category">{{judgement.cp_title}} ∷ {{judgement.c_title}} 분야</div>
            <div class="w_title_wrap">
              <span class="w_title">{{judgement.w_title}}</span>
              <span class="w_id">({{judgement.w_id}})</span>
            </div>
            <div class="w_company">{{judgement.e_company}}</div>
          </div>
          <div class="p_judge">
            <div class="j_name">심사위원 {{judgement.j_name}}</div>
            <div class="j_company">{{judgement.j_company}}</div>
            <div class="j_job">{{judgement.j_job}}</div>
          </div>
        </div>
        <v-simple-table class="basic">
          <thead>
            <tr>
              <th class="text-center td-part">부문</th>
              <th class="text-center td-clause">항목</th>
              <th>심사기준</th>
              <th class="text-center td-check">채점</th>
              <th class="text-center td-score">점수</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="content in judgement_rule[judgement.pindex].contents">
              <tr
                v-for="(item, index) in content.sub"
                :key="item.category"
              >
                <td v-if="index == 0" :rowspan="content.sub.length" class="text-center">
                  {{content.part}}
                </td>
                <td :class="index+1!=content.sub.length?'td_in':''" class="text-center td-second" v-html="item.clause"></td>
                <td :class="index+1!=content.sub.length?'td_in':''" v-html="item.guideline"></td>
                <td :class="index+1!=content.sub.length?'td_in':''">
                  <v-radio-group
                    v-model="judgement.scores[item.cindex]"
                    row
                    class="radio-group-score"
                  >
                    <v-radio label="매우 우수" value="5" color="#00C853" off-icon ="mdi-checkbox-blank-circle-outline" on-icon ="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="우수" value="4" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="보통" value="3" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="미흡" value="2" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                    <v-radio label="매우 미흡" value="1" color="#00C853" off-icon="mdi-checkbox-blank-circle-outline" on-icon="mdi-check-bold" :ripple="false"></v-radio>
                  </v-radio-group>
                </td>
                <td :class="index+1!=content.sub.length?'td_in':''" class="text-center">
                  <div :class="judgement.scores[item.cindex]==0?'zero':''">{{judgement.scores[item.cindex]}}</div>
                </td>
              </tr>
            </template>
            <tr>
              <td colspan="5" class="text-center td-total">총점 : <span :class="judgement.total==0?'zero':''" style="display:inline-block;margin-left:5px;width:30px;">{{judgement.total}}</span></td>
            </tr>
          </tbody>
        </v-simple-table>
        <div :class="'space_empty_'+judgement.pindex"></div>
      </div>
    </div>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/WinnerList.vue';
import { jsPDF } from 'jspdf';
import JSZip from 'jszip';
import { saveAs } from 'file-saver';
import html2canvas from 'html2canvas';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_1: '후속관리', title_sub_1: '심사 결과' },
      permission: false,

      // search: '',
      // filter_category: '',
      // filter_subcategory: '',
      categories: [],
      subcategories: [],
      active_sc: true,

      // itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        // { text: '출품 접수번호', value: 'wp_no', align: 'start td_wpno' },
        { text: '번호', value: 'index', align: 'start td_no' },
        { text: '부문', value: 'cp_title', align: 'start td_category',
          filter: value => {
            if (this.filter_category) {
              return value == this.filter_category.c_title;
            } else {
              return true;
            }
          }
        },
        { text: '분야', value: 'c_title', align: 'start td_subcategory',
          filter: value => {
            if (this.filter_subcategory) {
              return value == this.filter_subcategory.c_title;
            } else {
              return true;
            }
          }
        },
        { text: '기업명', value: 'e_company', align: 'start td_company' },
        { text: '출품명', value: 'w_title' },
        { text: '차수', value: 'jg_id', align: 'start td_no' },
        { text: '심사위원', value: 'j_name', align: 'start td_judge' },
        { text: '총점', value: 'total_score', align: 'start td_no' },
        { text: '심사 일자', value: 'jm_date', filterable: false, align: 'start td_date' },
        { text: '', value: 'detail', sortable: false, align: 'start view-detail' },
      ],

      a_id:0,
      judgement_result: [],
      judgement_selected: [],
      selected_preview: [],

      modalJudgement: false,
      formJudgementValid: false,
      zip: '',
      j_work: [],
      pindex: 0,
      scores: [],
      totalScore: 0,
      judgement_rule: [
        {
          category: "디지털 미디어 & 서비스",
          contents: [
            {
              part: "목적성",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 목적에 적합하게 제작되었다",
                  cindex: "0"
                },
                {
                  clause: "독창성",
                  guideline: "유사 프로젝트 대비 차별화된 독창성이 높다",
                  cindex: "1"
                },
                {
                  clause: "효율성",
                  guideline: "본 프로젝트는 사업 목적 달성에 효과적으로 기여할 것으로 보인다<br>(목적: 홍보/마케팅/판매촉진/효율증대 등)",
                  cindex: "2"
                },
                {
                  clause: "완성도",
                  guideline: "프로젝트가 전체적으로 구현의 완성도가 높다",
                  cindex: "3"
                },
                {
                  clause: "혁신성",
                  guideline: "프로젝트 목적, 사업 성격, 제작 기법 등으로 보아 시장을 선도할 혁신성이 발견된다",
                  cindex: "4"
                },
              ],
            },
            {
              part: "디자인",
              sub: [
                {
                  clause: "적합성",
                  guideline: "적용된 디자인 컨셉은 해당 프로젝트에 적합하다",
                  cindex: "5"
                },
                {
                  clause: "독창성",
                  guideline: "독자적인 아이덴티티가 분명하며 디자인 요소가 참신하다",
                  cindex: "6"
                },
                {
                  clause: "효율성",
                  guideline: "디자인 요소들이 프로젝트 목적을 방해하지 않으며 효과적으로 적용되었다",
                  cindex: "7"
                },
                {
                  clause: "완성도",
                  guideline: "이미지, 그래픽, 레이아웃 등 디자인 요소의 완성도가 높다",
                  cindex: "8"
                },
                {
                  clause: "혁신성",
                  guideline: "디자인적으로 트렌드를 선도하는 혁신성을 발견할 수 있다",
                  cindex: "9"
                },
              ],
            },
            {
              part: "콘텐츠",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 목적에 부합하는 콘텐츠를 갖추고 있다",
                  cindex: "10"
                },
                {
                  clause: "독창성",
                  guideline: "콘텐츠 구성 및 내용이 참신하다",
                  cindex: "11"
                },
                {
                  clause: "효율성",
                  guideline: "콘텐츠가 이해하기 쉽고 효과적으로 적용되었다",
                  cindex: "12"
                },
                {
                  clause: "완성도",
                  guideline: "콘텐츠 구성요소들(텍스트,이미지,영상 등)이 완성도가 높다",
                  cindex: "13"
                },
                {
                  clause: "혁신성",
                  guideline: "콘텐츠가 트렌드를 선도할만큼 혁신적이다",
                  cindex: "14"
                },
              ],
            },
            {
              part: "UI/UX",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 사용자를 고려한 적합한 UX/UI가 적용되어 있다",
                  cindex: "15"
                },
                {
                  clause: "독창성",
                  guideline: "독창적이고 차별화된 사용자 경험을 제공하고 있다",
                  cindex: "16"
                },
                {
                  clause: "효율성",
                  guideline: "적용된 UX/UI는 사용자에게 긍정적 경험과 감성을 제공하고 있다",
                  cindex: "17"
                },
                {
                  clause: "완성도",
                  guideline: "적용된 UX/UI는 직관적이며 높은 품질을 지니고 있다",
                  cindex: "18"
                },
                {
                  clause: "혁신성",
                  guideline: "트렌드에 맞는 선도적인 혁신적인 UX/UI를 보여주고 있다",
                  cindex: "19"
                },
              ],
            },
            {
              part: "기술",
              sub: [
                {
                  clause: "적합성",
                  guideline: "프로젝트 목적에 부합되는 기술 요소가 적용되었다",
                  cindex: "20"
                },
                {
                  clause: "독창성",
                  guideline: "참신한 기술 요소 및 독창적인 기술 적용 방식을 찾을 수 있다",
                  cindex: "21"
                },
                {
                  clause: "효율성",
                  guideline: "적용된 기술 요소는 프로젝트 목적을 달성하는데 효율적으로 작동하고 있다",
                  cindex: "22"
                },
                {
                  clause: "완성도",
                  guideline: "주요 기능을 수행함에 있어 오류나 불편함이 없다",
                  cindex: "23"
                },
                {
                  clause: "혁신성",
                  guideline: "트렌드를 선도하는 혁신적인 기술을 발견할 수 있다",
                  cindex: "24"
                },
              ],
            },
          ]
        },
        {
          category: "디지털 광고 & 캠페인",
          contents: [
            {
              part: "목적",
              sub: [
                {
                  clause: "적합성",
                  guideline: "본 광고/캠페인은 목적에 적합하게 제작되었다",
                  cindex: "0"
                },
                {
                  clause: "독창성",
                  guideline: "유사 광고/캠페인 대비 차별화된 독창성이 높다",
                  cindex: "1"
                },
                {
                  clause: "효율성",
                  guideline: "본 광고/캠페인은 사업 목적 달성에 효과적으로 기여할 것으로 보인다<br>(목적: 홍보/마케팅/판매촉진/회원증대 등)",
                  cindex: "2"
                },
                {
                  clause: "완성도",
                  guideline: "본 광고/캠페인은 전체적으로 구현의 완성도가 높다",
                  cindex: "3"
                },
              ],
            },
            {
              part: "크리에이티브",
              sub: [
                {
                  clause: "적합성",
                  guideline: "본 광고/캠페인의 크리에이티브 컨셉은 적절하다",
                  cindex: "4"
                },
                {
                  clause: "독창성",
                  guideline: "독자적인 아이덴티티가 분명하며 크리에이티브 요소가 참신하다",
                  cindex: "5"
                },
                {
                  clause: "완성도",
                  guideline: "이미지, 카피, 그래픽, 사운드 등 크리에이티브 요소의 완성도가 높다",
                  cindex: "6"
                },
                {
                  clause: "혁신성",
                  guideline: "본 광고/캠페인의 크리에이티브에서 트렌드를 선도하는 혁신성을 발견할 수 있다",
                  cindex: "7"
                },
              ],
            },
            {
              part: "콘텐츠",
              sub: [
                {
                  clause: "적합성",
                  guideline: "목적에 부합하는 콘텐츠를 갖추고 있으며 메세지가 명확하다",
                  cindex: "8"
                },
                {
                  clause: "독창성",
                  guideline: "콘텐츠 구성 및 내용이 참신하다",
                  cindex: "9"
                },
                {
                  clause: "효율성",
                  guideline: "콘텐츠가 이해하기 쉽고 효과적으로 적용되었다",
                  cindex: "10"
                },
                {
                  clause: "완성도",
                  guideline: "콘텐츠 구성요소들(텍스트,이미지,영상 등)이 완성도가 높다",
                  cindex: "11"
                },
              ],
            },
            {
              part: "기술",
              sub: [
                {
                  clause: "적합성",
                  guideline: "크리에이티브 및 매체에 부합되는 기술 요소가 적용되었다",
                  cindex: "12"
                },
                {
                  clause: "독창성",
                  guideline: "참신한 기술 요소 및 독창적인 기술 적용 방식을 찾을 수 있다",
                  cindex: "13"
                },
                {
                  clause: "혁신성",
                  guideline: "트렌드를 선도하는 혁신적인 기술을 발견할 수 있다",
                  cindex: "14"
                },
              ],
            },
          ]
        },
      ],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        csv: { title: '선택 심사결과 CSV 추출', content: '선택된 NN개의 심사결과를 CSV로 추출 합니다<br><br>데이터가 많을 경우 시간이 소요되며 서버에 영향을 줄 수 있습니다<br>분할 선택하여 추출받는 방법을 권장합니다' },
        pdfs: { title: '선택 심사결과 PDF 추출', content: '선택된 NN개의 심사표를 PDF로 추출 합니다<br><br>데이터가 많을 경우 시간이 소요되며 서버에 영향을 줄 수 있습니다<br>분할 선택하여 추출받는 방법을 권장합니다' },
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        pdf: { content: '추출이 시작됩니다. 잠시만 기다려 주세요', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  created() {
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  computed: {
    judgementWithIndex() {
      return this.judgement_result.map(
        (items, index) => ({
          ...items,
          index: index + 1
        }))
    },
    search: {
      get () {
        return this.$store.state.searchFilter
      },
      set (value) {
        this.$store.commit('setSearchFilter', value)
      }
    },
    filter_category: {
      get () {
        let category = this.$store.state.categoryFilter;
        if (category) {
          this.active_subcategories(category);
        }
        return this.$store.state.categoryFilter
      },
      set (value) {
        this.result_selected = [];
        this.$store.commit('setCategoryFilter', value)
      }
    },
    filter_subcategory: {
      get () {
        let subcategory = this.$store.state.subcategoryFilter;
        var target = document.getElementById('filter-category-sub');
        // if (subcategory) {
        //   target.classList.add('open');
        //   this.active_sc = false;
        // }
        return subcategory
      },
      set (value) {
        this.result_selected = [];
        this.$store.commit('setSubcategoryFilter', value)
      }
    },
    itemsPerPageValue: {
      get () {
        return this.$store.state.itemsPerPageValue
      },
      set (value) {
        this.$store.commit('setItemsPerPageValue', value)
      }
    }
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$parent.$emit('setTitle', this.titles);

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/result_judgement').then(res => {
        const judgement_result_data = res.data.data;
        // console.log(judgement_result_data);

        let c_title = [];
        let judge = [];
        for (var i = 0; i < judgement_result_data.length; i++) {
          c_title[i] = [];
          for (var k = 0; k < judgement_result_data[i].category_data.length; k++) {
            c_title[i].push(judgement_result_data[i].category_data[k].c_title);
          }
          judgement_result_data[i].c_title = c_title[i].join(', ');

        //   judge[i] = [];
        //   for (var h = 0; h < judgement_result_data[i].judge_data.length; h++) {
        //     judge[i].push(judgement_result_data[i].judge_data[h].j_name);
        //   }
        //   judgement_result_data[i].judge = judge[i].join(', ');

          let score_arr = judgement_result_data[i].jm_score.split(',');
          judgement_result_data[i].total_score = score_arr.reduce(function(a, b){return Number(a)+Number(b);});
        }

        this.judgement_result = judgement_result_data;
        // console.log(this.judgement_result);
      });

      this.$axios.get('/api/admin_award/' + this.a_id + '/category').then(res => {
        this.categories = res.data.data;
        // console.log(this.categories);
      });

      // this.filter_category = '';
      // this.filter_subcategory = '';
    },
    formatDate(value) {
      return (value == '0000-00-00 00:00:00' || value == null) ? '-' : this.$moment(value).format('YYYY.MM.DD HH:mm:ss');
    },
    showDetail(row) {
      this.$router.push({ name: 'adminAwardWinnerDetail', params: { zr_id: row.zr_id }});
    },
    active_subcategories(value) {
      var target = document.getElementById('filter-category-sub');
      if (value) {
        this.$axios.get('/api/admin_award/' + this.a_id + '/view_subcategory/' + value.c_id).then(res => {
          this.subcategories = res.data.data;
          // console.log(this.subcategories);
        });
        // target.classList.add('open');
        this.active_sc = false;
      } else {
        // target.classList.remove('open');
        this.active_sc = true;
      }
    },
    reset_filter() {
      var target = document.getElementById('filter-category-sub');
      // target.classList.remove('open');
      this.result_selected = [];
      this.filter_category = '';
      this.filter_subcategory = '';
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    openModal(type) {
      if (this.judgement_selected.length > 0) {
        var num = this.judgement_selected.length;
        this.modalType = type;
        this.modalTitle = eval('this.modal.' + type + '.title');
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);
        this.modalConfirm = true;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    open_judgement(item) {
      this.j_work = item;
      this.pindex = item.c_type == '2' ? '1' : '0';
      this.scores = item.jm_score.split(',');
      this.totalScore = this.scores.reduce(function(a, b){return Number(a)+Number(b);});
      this.modalJudgement = true;
      setTimeout(() => {
        this.$vuetify.goTo(0, {container: '.modal-judgement .inner-content', duration: 0});
      }, 0)
    },
    close_judgement() {
      this.j_work = [];
      this.modalJudgement = false;
    },
    set_status: function(status) {
      var arr = [];
      this.judgement_selected.forEach(element => {
        arr.push(element.zr_id);
      });

      if (arr.length > 0) {
        this.$axios.patch(
          '/api/admin_award/' + this.a_id + '/patch_winner/' + status, 'zr_list=' + arr, {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.complete);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.judgement_selected = [];
      this.modalConfirm = false;
    },
    make_pdf() {
      this.$store.commit('showSnackbar', this.snackbar.pdf);

      let previewItem = document.querySelector('.eg-preview');
      const pdf = new jsPDF('p', 'mm', 'a4');
      let canvas = pdf.canvas;
      const pageWidth = 210; //캔버스 너비 mm
      const pageHeight = 295; //캔버스 높이 mm
      canvas.width = pageWidth;
      let width = previewItem.offsetWidth; // 셀렉트한 요소의 px 너비
      let height = previewItem.offsetHeight; // 셀렉트한 요소의 px 높이
      let imgHeight = (pageWidth * height) / width; // 이미지 높이값 px to mm 변환

      html2canvas(previewItem, {
        onclone: function(clonedDoc) {
          let clonedPreviewItem = clonedDoc.querySelector('.eg-preview');
          clonedPreviewItem.style.display = 'block';
          width = clonedPreviewItem.offsetWidth; // 셀렉트한 요소의 px 너비
          height = clonedPreviewItem.offsetHeight; // 셀렉트한 요소의 px 높이
          imgHeight = (pageWidth * height) / width; // 이미지 높이값 px to mm 변환
        }
      }).then((canvas) => {
        let position = 0;
        const imgData = canvas.toDataURL('image/png');
        pdf.addImage(imgData, 'png', 0, position, pageWidth, imgHeight, undefined, 'slow');

        //Paging 처리
        let heightLeft = imgHeight; //페이징 처리를 위해 남은 페이지 높이 세팅.
        heightLeft -= pageHeight;

        while (heightLeft >= 0) {
          position = heightLeft - imgHeight;
          pdf.addPage();
          pdf.addImage(imgData, 'png', 0, position, pageWidth, imgHeight);
          heightLeft -= pageHeight;
        }

        let work_title;
        let regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\" ]/gi;
        if(regExp.test(this.j_work.w_title)) {
          work_title = this.j_work.w_title.replace(regExp, "");
        } else {
          work_title = this.j_work.w_title;
        }

        let filename = '앤어워드_심사표_' + this.j_work.w_id +'_'+ this.j_work.j_name +'_'+ work_title +'_'+ this.$moment().format('YYMMDD_HHmmss');

        pdf.save(
           filename.normalize('NFC') + '.pdf',
        );
      });
    },
    get_csv: function() {
      var arr = [];
      this.judgement_selected.forEach(element => {
        arr.push("'" + element.w_id + "'");
      });

      if (arr.length > 0) {
        this.$axios.post(
          '/api/admin/export/judgement', 'judgement_list=' + arr
        ).then(res => {
          let now = this.$moment().format('YYMMDD_HHmmss');
          let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' + res.data;
          const data = encodeURI(csvContent);
          const link = document.createElement('a');
          link.setAttribute('href', data);
          link.setAttribute('download', 'judgement_list-'+ now +'.csv');
          link.click();
          this.$store.commit('showSnackbar', this.snackbar.download);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.judgement_selected = [];
      this.modalConfirm = false;
    },
    get_pdfs: function() {
      this.selected_preview = [];
      this.judgement_selected.forEach(element => {
        let scores = element.jm_score.split(',');
        let total = scores.reduce(function(a, b){return Number(a)+Number(b);});
        let pindex = scores.length == 15 ? '1' : '0';
        this.selected_preview.push({
          "cp_title" : element.cp_title,
          "c_title" : element.c_title,
          "w_id" : element.w_id,
          "w_title" : element.w_title,
          "e_company" : element.e_company,
          "j_name" : element.j_name,
          "j_company" : element.j_company,
          "j_job" : element.j_job,
          "pindex" : pindex,
          "scores" : scores,
          "total" : total,
        });
      });
      // console.log(this.selected_preview);

      if (this.selected_preview.length > 0) {
        this.$store.commit('showSnackbar', this.snackbar.pdf);
        this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.$parent.setLoading(true);

        setTimeout(() => {
          let previewItems = document.querySelectorAll('.selected-preview');
          let previewItemsArr = Array.from(previewItems);
          this.zip = new JSZip();

          previewItemsArr.reduce((previous, current, index) => {
            return previous.then(async () => {
              await this.make_pdf_each(previewItemsArr.length, index, current);
            })
          }, Promise.resolve())
        }, 1);
      }
    },
    async make_pdf_each(length, index, previewItem) {
      const pdf = new jsPDF('p', 'mm', 'a4');
      let canvas = pdf.canvas;
      const pageWidth = 210; //캔버스 너비 mm
      const pageHeight = 295; //캔버스 높이 mm
      canvas.width = pageWidth;
      let width = previewItem.offsetWidth; // 셀렉트한 요소의 px 너비
      let height = previewItem.offsetHeight; // 셀렉트한 요소의 px 높이
      let imgHeight = (pageWidth * height) / width; // 이미지 높이값 px to mm 변환

      let w_title = $(previewItem).find('.w_title').text();
      let w_id = $(previewItem).find('.w_id').text();
      let j_name = $(previewItem).find('.j_name').text().replace('심사위원 ', '');

      await html2canvas(previewItem, {
        onclone: function(clonedDoc) {
          let clonedPreviewItems = clonedDoc.querySelectorAll('.selected-preview');
          clonedPreviewItems[index].style.display = 'block';
          width = clonedPreviewItems[index].offsetWidth; // 셀렉트한 요소의 px 너비
          height = clonedPreviewItems[index].offsetHeight; // 셀렉트한 요소의 px 높이
          imgHeight = (pageWidth * height) / width; // 이미지 높이값 px to mm 변환
        }
      }).then((canvas) => {
        let position = 0;
        const imgData = canvas.toDataURL('image/png');
        pdf.addImage(imgData, 'png', 0, position, pageWidth, imgHeight, undefined, 'slow');

        //Paging 처리
        let heightLeft = imgHeight; //페이징 처리를 위해 남은 페이지 높이 세팅.
        heightLeft -= pageHeight;

        while (heightLeft >= 0) {
          position = heightLeft - imgHeight;
          pdf.addPage();
          pdf.addImage(imgData, 'png', 0, position, pageWidth, imgHeight);
          heightLeft -= pageHeight;
        }

        let work_title, work_id;
        let regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\" ]/gi;
        if(regExp.test(w_title)) {
          work_title = w_title.replace(regExp, "");
        } else {
          work_title = w_title;
        }
        work_id = w_id.replace(regExp, "");

        let filename = '앤어워드_심사표_' + work_id +'_'+ j_name +'_'+ work_title +'_'+ this.$moment().format('YYMMDD_HHmmss');

        this.zip.file(filename.normalize('NFC') + '.pdf', pdf.output('blob'));

        if (length-1 == index) {
          let zipname = '앤어워드_심사표_' + length +'개_'+ this.$moment().format('YYMMDD_HHmmss');

          this.zip.generateAsync({type:'blob'}).then(function(content) {
            saveAs(content, zipname.normalize('NFC') + '.zip');
          });

          setTimeout(() => {
            this.$parent.$parent.$parent.$parent.$parent.$parent.$parent.$parent.setLoading(false);
            this.judgement_selected = [];
            this.selected_preview = [];
            this.zip = '';
            this.modalConfirm = false;
          }, 1);
        }
      });
    },
  }
}
</script>