<template>
  <div v-if="permission && !$store.state.skeleton">
    <div class="title-award">{{a_id}}</div>
    <ul class="list-card col--3">
      <li>
        <v-card tile :to="{ name: 'adminAwardCategories' }">
          <v-card-title>대 카테고리<v-icon>xi-angle-right-min</v-icon></v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">{{categories.length}}</div></v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile :to="{ name: 'adminAwardCategories' }">
          <v-card-title>출품 카테고리<v-icon>xi-angle-right-min</v-icon></v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">{{sub_categories.length}}</div></v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile :to="{ name: 'adminAwardPrizes' }">
          <v-card-title>수상 클래스<v-icon>xi-angle-right-min</v-icon></v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">{{prizes.length}}</div></v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile :to="{ name: 'adminAwardResultStatus', params: { status: 'wait' }}">
          <v-card-title>출품<v-icon>xi-angle-right-min</v-icon></v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">{{results_wait.length}}</div></v-card-text>
        </v-card>
      </li>
      <!-- <li>
        <v-card tile :to="{ name: 'adminAwardResultStatus', params: { status: 'process' }}">
          <v-card-title>출품 심사중<v-icon>xi-angle-right-min</v-icon></v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">{{results_process.length}}</div></v-card-text>
        </v-card>
      </li> -->
      <li>
        <v-card tile :to="{ name: 'adminAwardResultStatus', params: { status: 'confirm' }}">
          <v-card-title>수상 확정<v-icon>xi-angle-right-min</v-icon></v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">{{results_confirm.length}}</div></v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>&nbsp;</v-card-title>
          <v-divider></v-divider>
          <v-card-text><div class="scon">&nbsp;</div></v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>전역관리</v-card-title>
          <v-divider></v-divider>
          <v-card-text class="inner_list">
            <ul class="list-arrow">
              <li><router-link v-ripple :to="{ name: 'adminAwardBase' }">기본 설정<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardJudges' }">심사위원 관리<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardJudgesParty' }">심사위원 그룹 관리<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardPopup' }">팝업 설정<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardDescript' }">개요 설정<v-icon>xi-angle-right-min</v-icon></router-link></li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>세부관리</v-card-title>
          <v-divider></v-divider>
          <v-card-text class="inner_list">
            <ul class="list-arrow">
              <li><router-link v-ripple :to="{ name: 'adminAwardCategories' }">출품 카테고리 설정<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardPrizes' }">수상 클래스 설정<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardResultList' }">출품 관리<v-icon>xi-angle-right-min</v-icon></router-link></li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>후속관리</v-card-title>
          <v-divider></v-divider>
          <v-card-text class="inner_list">
            <ul class="list-arrow">
              <li><router-link v-ripple :to="{ name: 'adminAwardJudgement' }">심사 결과<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardWinnerList' }">수상 관리<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardAboardList', params: { ab_type: 'gallery' }}">갤러리 관리<v-icon>xi-angle-right-min</v-icon></router-link></li>
              <li><router-link v-ripple :to="{ name: 'adminAwardAboardList', params: { ab_type: 'speech' }}">강연 관리<v-icon>xi-angle-right-min</v-icon></router-link></li>
            </ul>
          </v-card-text>
        </v-card>
      </li>
    </ul>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Main.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      permission: false,

      a_id: '',
      categories: [],
      sub_categories: [],
      prizes: [],
      results_wait: [],
      results_process: [],
      results_confirm: [],
    }
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/category').then(res => {
        this.categories = res.data.data;
      });
      this.$axios.get('/api/admin_award/' + this.a_id + '/subcategory').then(res => {
        this.sub_categories = res.data.data;
      });
      this.$axios.get('/api/admin_award/' + this.a_id + '/prize').then(res => {
        this.prizes = res.data.data;
      });
      this.$axios.get('/api/admin_award/' + this.a_id + '/results/wait').then(res => {
        this.results_wait = res.data.data;
      });
      this.$axios.get('/api/admin_award/' + this.a_id + '/results/process').then(res => {
        this.results_process = res.data.data;
      });
      this.$axios.get('/api/admin_award/' + this.a_id + '/results/confirm').then(res => {
        this.results_confirm = res.data.data;
      });
    }
  }
}
</script>