<template>
  <div v-if="permission && !$store.state.skeleton">
    <v-btn fab depressed class="btn-type-add-item" @click="add_new">
      <v-icon dark>mdi-plus</v-icon>
    </v-btn>

    <ul class="list-card-image col--3 list-card-popup">
      <li v-for="popup in popups" :key="popup.pop_id" :class="{'active': popup.pop_status == 1}">
        <v-card tile flat>
          <v-img
            v-if="popup.pop_picture"
            :src="popup.pop_picture"
            aspect-ratio="1.4"
            @error="popup.pop_picture = null"
          ></v-img>
          <v-img v-else :src="noimage"
            aspect-ratio="1.4"
            class="noimg"
          ></v-img>
          <v-card-text>
            <div class="name text-truncate">{{popup.pop_title}}</div>
            <div class="action_area">
              <div class="slabel">
                <v-switch
                  v-model="popup.pop_status"
                  true-value="1"
                  false-value="0"
                  inset
                  disabled
                >
                </v-switch>
              </div>
              <v-btn icon @click="get_popup(popup.pop_id)">
                <v-icon>xi-pen</v-icon>
              </v-btn>
              <v-btn icon @click="openModal('delete', popup.pop_id)">
                <v-icon>xi-trash</v-icon>
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-popup dialog-admin"
      max-width="600px"
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid"
        >
          <v-card-title>
            <div>팝업 세부 설정</div>
          </v-card-title>
          <v-card-text>
            <div class="top_area">
              <div class="img_area">
                <div v-ripple class="preview_wrap">
                  <upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    @limit-exceeded="limitExceeded"
                    @size-exceeded="sizeExceeded"
                    idUpload="image_upload_key"
                    idEdit="image_edit_key"
                    containerWidth="100%"
                    containerHeight="100%"
                    :data-id="'p'+pop_id"
                    :data-images="images"
                    :multiple="false"
                    :maxImage="1"
                    :maxSize="15728640"
                    :showPrimary="false"
                  ></upload-multiple-image>
                </div>
                <ul class="list-field">
                  <li>
                    <div class="slabel">모든 페이지에 팝업 노출
                      <v-switch
                        v-model="pop_global"
                        true-value="1"
                        false-value="0"
                        inset
                      >
                      </v-switch>
                    </div>
                  </li>
                  <li>
                    <div class="slabel">팝업 활성화
                      <v-switch
                        v-model="pop_status"
                        true-value="1"
                        false-value="0"
                        inset
                      >
                      </v-switch>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="input_area">
                <ul class="list-field">
                  <li>
                    <div class="alabel">팝업 식별 이름</div>
                    <v-text-field
                      v-model="pop_title"
                      :rules="[rules.required]"
                      label="제목"
                      autocomplete="off"
                      hide-details
                      solo
                      required
                      autofocus
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                  </li>
                  <li>
                    <div class="alabel">게시 기간</div>
                    <v-menu
                      ref="menuDateStart"
                      v-model="menuDateStart"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="pop_start"
                          label="시작일시"
                          autocomplete="off"
                          append-icon="mdi-calendar"
                          hide-details
                          solo
                          flat
                          clearable
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        >
                          <template v-slot:message="{message}"><span v-html="message"></span></template>
                        </v-text-field>
                      </template>

                      <v-date-picker
                        v-if="!completeDateStart"
                        v-model="pop_start_date"
                        locale="ko"
                        :day-format="getDayFormat"
                        :allowed-dates="allowedDatesStart"
                        no-title
                        @input="inputDateStart"
                      >
                      </v-date-picker>
                      <v-time-picker
                        v-else
                        v-model="pop_start_time"
                        locale="ko"
                        format="24hr"
                        no-title
                        @click:minute="inputTimeStart"
                      >
                      </v-time-picker>
                    </v-menu>
                    <v-menu
                      ref="menuDateEnd"
                      v-model="menuDateEnd"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="pop_end"
                          label="종료일시"
                          autocomplete="off"
                          append-icon="mdi-calendar"
                          hide-details
                          solo
                          flat
                          clearable
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        >
                          <template v-slot:message="{message}"><span v-html="message"></span></template>
                        </v-text-field>
                      </template>

                      <v-date-picker
                        v-if="!completeDateEnd"
                        v-model="pop_end_date"
                        locale="ko"
                        :day-format="getDayFormat"
                        :allowed-dates="allowedDatesEnd"
                        no-title
                        @input="inputDateEnd"
                      >
                      </v-date-picker>
                      <v-time-picker
                        v-else
                        v-model="pop_end_time"
                        locale="ko"
                        format="24hr"
                        no-title
                        @click:minute="inputTimeEnd"
                      >
                      </v-time-picker>
                    </v-menu>
                  </li>
                  <li>
                    <div class="alabel">팝업 사이즈</div>
                    <div class="col--2">
                      <v-text-field
                        v-model="pop_width"
                        label="가로길이"
                        autocomplete="off"
                        hide-details
                        solo
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                      <v-text-field
                        v-model="pop_height"
                        label="세로길이"
                        autocomplete="off"
                        hide-details
                        solo
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </div>
                  </li>
                  <li>
                    <div class="alabel">팝업 위치</div>
                    <div class="col--2">
                      <v-text-field
                        v-model="pop_x"
                        label="가로위치"
                        autocomplete="off"
                        hide-details
                        solo
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                      <v-text-field
                        v-model="pop_y"
                        label="세로위치"
                        autocomplete="off"
                        hide-details
                        solo
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="bot_area">
              <v-textarea
                v-model="pop_headline"
                label="헤드라인"
                autocomplete="off"
                rows="3"
                row-height="24"
                auto-grow
                solo
                flat
                hide-details
              >
                <template v-slot:message="{message}">
                  <span v-html="message"></span>
                </template>
              </v-textarea>
            </div>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form()">저장하기</v-btn>
            <v-btn depressed icon @click="modalAdd = false" class="btn-close">
              <v-icon>xi-close</v-icon>
            </v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'delete'" v-html="modalContent"></v-card-text>
        <v-card-text v-else></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'delete'" depressed tile text outlined small @click="remove_popup()">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Popup.vue';
import UploadMultipleImage from "@/components/common/UploadMultipleImage.vue";

export default {
  components: {
    noPermission,
    Skeleton,
    UploadMultipleImage,
  },
  data() {
    return {
      titles: { title_1: "전역관리", title_sub_1: "팝업 설정" },
      permission: false,

      formValid: false,
      noimage: "/assets/img/common/noimage_600.png",
      modalAdd: false,

      menuDateStart: false,
      menuDateEnd: false,
      completeDateStart: false,
      completeDateEnd: false,

      popups: [],
      a_id: 0,
      pop_id: 0,
      pop_title: '',
      pop_start: '',
      pop_start_date: '',
      pop_start_time: '',
      pop_end: '',
      pop_end_date: '',
      pop_end_time: '',
      pop_width: '',
      pop_height: '',
      pop_x: '',
      pop_y: '',
      pop_picture: {},
      images: [],
      uploadImages: [],
      pop_global: '',
      pop_status: '',
      pop_headline: '',

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '팝업 삭제', content: '해당 팝업을 삭제하시겠습니까?' }
      },
      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },
    };
  },
  mounted() {
    this.$parent.$emit("setTitle", this.titles);
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.$axios.get("/api/admin_award/" + this.a_id + "/popup").then((res) => {
        this.popups = res.data.data;
        // console.log(this.popups);
      });
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done();
    },
    editImage(formData, index, fileList) {
      console.log("edit data", formData, index, fileList);
    },
    dataChange(data) {
      console.log(data);
    },
    limitExceeded(amount) {
      this.uploadDialog = true;
      this.uploadText = "최대 5개까지 업로드가 가능합니다";
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    getDayFormat(isoDate) {
      return this.$moment(isoDate).format('D');
    },
    allowedDatesStart(value) {
      if (this.pop_end) {
        var start_date = this.$moment(value, 'YYYY-MM-DD');
        var end_date = this.$moment(this.pop_end, 'YYYY-MM-DD');
        if (start_date <= end_date) {
          return true
        }
      } else {
        return true
      }
    },
    allowedDatesEnd(value) {
      if (this.pop_start) {
        var start_date = this.$moment(this.pop_start, 'YYYY-MM-DD');
        var end_date = this.$moment(value, 'YYYY-MM-DD');
        if (end_date >= start_date) {
          return true
        }
      } else {
        return true
      }
    },
    inputDateStart() {
      this.pop_start = this.$moment(this.pop_start_date).format('YYYY.MM.DD')
      this.completeDateStart = true
    },
    inputDateEnd() {
      this.pop_end = this.$moment(this.pop_end_date).format('YYYY.MM.DD')
      this.completeDateEnd = true
    },
    inputTimeStart() {
      this.pop_start = this.$moment(this.pop_start_date + ' ' + this.pop_start_time).format('YYYY.MM.DD HH:mm:ss')
      this.menuDateStart = false
      this.completeDateStart = false
    },
    inputTimeEnd() {
      this.pop_end = this.$moment(this.pop_end_date + ' ' + this.pop_end_time).format('YYYY.MM.DD HH:mm:ss')
      this.menuDateEnd = false
      this.completeDateEnd = false
    },
    openModal(type, pop_id) {
      this.modalType = type;
      this.pop_id = pop_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    get_popup: function(pop_id) {
      this.images = [];
      this.uploadImages = [];
      this.$axios.get('/api/admin_award/' + this.a_id + '/view_popup/' + pop_id).then((res) => {
        const pop_info = res.data.data;
        let image = {'path': pop_info.pop_picture};
        this.pop_id = pop_info.pop_id;
        this.pop_title = pop_info.pop_title;
        this.pop_start = pop_info.pop_start != '0000-00-00 00:00:00' ? this.$moment(pop_info.pop_start).format('YYYY.MM.DD HH:mm:ss') : '';
        this.pop_start_date = pop_info.pop_start != '0000-00-00 00:00:00' ? this.$moment(pop_info.pop_start).format('YYYY-MM-DD') : '';
        this.pop_end = pop_info.pop_end != '0000-00-00 00:00:00' ? this.$moment(pop_info.pop_end).format('YYYY.MM.DD HH:mm:ss') : '';
        this.pop_end_date = pop_info.pop_end != '0000-00-00 00:00:00' ? this.$moment(pop_info.pop_end).format('YYYY-MM-DD') : '';
        this.pop_width = pop_info.pop_width;
        this.pop_height = pop_info.pop_height;
        this.pop_x = pop_info.pop_x;
        this.pop_y = pop_info.pop_y;
        this.pop_global = pop_info.pop_global;
        this.pop_status = pop_info.pop_status;
        this.pop_headline = pop_info.pop_headline;
        // this.pop_picture = pop_info.pop_picture;
        if (image.path !== '' && image.path !== null) {
          this.images.push(image);
        }
      });
      this.modalAdd = true;
    },
    add_new() {
      this.pop_id = '';
      this.pop_title = '';
      this.pop_start = '';
      this.pop_end = '';
      this.pop_width = '';
      this.pop_height = '';
      this.pop_x = '';
      this.pop_y = '';
      this.pop_global = '';
      this.pop_status = '';
      this.pop_headline = '';
      this.pop_picture = '';
      this.images = [];
      this.uploadImages = [];

      this.modalAdd = true;
    },
    submit_form: function () {
      if (this.formValid == true) {
        const formdata = new FormData();
        formdata.append('a_id', this.a_id);
        formdata.append('pop_id', this.pop_id);
        formdata.append('pop_title', this.pop_title);
        formdata.append('pop_start', this.$moment(this.pop_start).format('YYYY.MM.DD HH:mm:ss'));
        formdata.append('pop_end', this.$moment(this.pop_end).format('YYYY.MM.DD HH:mm:ss'));
        formdata.append('pop_width', this.pop_width);
        formdata.append('pop_height', this.pop_height);
        formdata.append('pop_x', this.pop_x);
        formdata.append('pop_y', this.pop_y);
        formdata.append('pop_global', this.pop_global);
        formdata.append('pop_status', this.pop_status);
        formdata.append('pop_headline', this.pop_headline);
        if (this.uploadImages) {
          for (let uploadImage of this.uploadImages) {
            // console.log(uploadImage);
            formdata.append('pop_picture', uploadImage);
          }
        }

        var api_url = '/api/admin_award/' + this.a_id + '/create_popup';
        if (this.pop_id > 0) {
          api_url = '/api/admin_award/' + this.a_id + '/modify_popup';
        }

        this.$axios.post(api_url, formdata, {
          headers: { "Content-Type": "multipart/form-data" }, showLoading: true
        })
        .then((res) => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.save);
        })
        .catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
        this.pop_id = 0;
        this.modalAdd = false;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.required);
      }
    },
    remove_popup: function() {
      this.$axios.post('/api/admin_award/' + this.a_id + '/remove_popup/' + this.pop_id, {
        headers: { "Content-Type": "multipart/form-data" },
      })
      .then((res) => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.delete);
      })
      .catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.pop_id = 0;
      this.modalConfirm = false;
    }
  }
};
</script>