<template>
  <div v-if="permission && !$store.state.skeleton">
    <div class="top_btn_area">
      <div>
        <v-btn fab depressed class="btn-type-add-item" @click="add_new">
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
        <span class="help-btn-add">수상 클래스 등록</span>
      </div>
      <!-- <v-btn depressed tile text small type="button" @click="submit_form()">저장하기</v-btn> -->
    </div>

    <ul class="list-card col--3 list-card-prize">
      <li v-for="(prize, index) in prizes" :key="prize.z_id">
        <v-card tile>
          <v-card-text>
            <div class="filed-with-action">
              <div class="name">{{prize.z_title}}</div>
              <div class="action_area">
                <v-btn icon @click="get_prize(prize.z_id)">
                  <v-icon>xi-pen</v-icon>
                </v-btn>
                <v-btn icon @click="openModal('delete', prize.z_id)">
                  <v-icon>xi-trash</v-icon>
                </v-btn>
              </div>
            </div>
            <div class="slabel">단일 수상 여부
              <v-switch
                v-model="prize.z_only"
                true-value="Y"
                false-value="N"
                inset
                disabled
              >
              </v-switch>
            </div>
            <v-img
              v-if="prize.z_picture"
              :src="prize.z_picture"
              aspect-ratio="2"
              @error="prize.z_picture = null"
            ></v-img>
            <v-img
              v-else
              :src="noimage"
              aspect-ratio="2"
              class="noimg"
            ></v-img>
          </v-card-text>
        </v-card>
      </li>
    </ul>

    <v-dialog
      v-model="modalAdd"
      open-on-focus
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-add-prize dialog-admin"
      max-width="350px"
    >
      <v-card>
        <v-form
          ref="form"
          v-model="formValid"
        >
          <v-card-title>
            <div>수상 클래스 등록</div>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-model="z_title"
              :rules="[rules.required]"
              label="수상 클래스 이름"
              autocomplete="off"
              hide-details
              solo
              required
              autofocus
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
            <div class="slabel">단일 수상 여부
              <v-switch
                v-model="z_only"
                true-value="Y"
                false-value="N"
                inset
              >
              </v-switch>
            </div>
            <div v-ripple class="preview_wrap">
              <upload-multiple-image
                @upload-success="uploadImageSuccess"
                @before-remove="beforeRemove"
                @edit-image="editImage"
                @data-change="dataChange"
                @limit-exceeded="limitExceeded"
                @size-exceeded="sizeExceeded"
                idUpload="image_upload_key"
                idEdit="image_edit_key"
                containerWidth="100%"
                containerHeight="50%"
                :data-id="'z'+z_id"
                :data-images="images"
                :multiple="false"
                :maxImage="1"
                :maxSize="15728640"
                :showPrimary="false"
              ></upload-multiple-image>
            </div>
          </v-card-text>
          <div class="btn_wrap">
            <v-btn depressed tile text x-small class="btn-submit" @click="submit_form()">저장하기</v-btn>
            <v-btn depressed icon @click="modalAdd = false" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
          </div>
        </v-form>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'delete'" v-html="modalContent"></v-card-text>
        <v-card-text v-else></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'delete'" depressed tile text outlined small @click="remove_prize()">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/Prizes.vue';
import UploadMultipleImage from "@/components/common/UploadMultipleImage.vue";

export default {
  components: {
    noPermission,
    Skeleton,
    UploadMultipleImage,
  },
  data() {
    return {
      titles: { title_1: '세부관리', title_sub_1: '수상 클래스 설정' },
      permission: false,

      formValid: false,
      noimage: '/assets/img/common/noimage_600.png',
      modalAdd: false,

      prizes: [],
      z_id: 0,
      a_id: 0,
      z_title: '',
      z_only: '',
      z_picture: '',
      images: [],
      uploadImages: [],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '수상클래스 삭제', content: '해당 수상클래스를 삭제하시겠습니까?' }
      },
      snackbar: {
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/prize').then(res => {
        this.prizes = res.data.data;
      });
    },
    add_new() {
      this.z_id = 0,
      this.z_title = '',
      this.z_only = '',
      this.z_picture = '',
      this.images = [];
      this.uploadImages = [];

      this.modalAdd = true;
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done();
    },
    editImage(formData, index, fileList) {
      console.log("edit data", formData, index, fileList);
    },
    dataChange(data) {
      console.log(data);
    },
    limitExceeded(amount) {
      this.uploadDialog = true;
      this.uploadText = "최대 5개까지 업로드가 가능합니다";
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    openModal(type, z_id) {
      this.modalType = type;
      this.z_id = z_id;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    get_prize: function(z_id) {
      this.images = [];
      this.uploadImages = [];
      this.z_id = z_id;
      this.$axios.get('/api/admin_award/' + this.a_id + '/view_prize/' + z_id).then(res => {
        const z_info = res.data.data;
        let image = {'path': z_info.z_picture};
        this.z_title = z_info.z_title;
        this.z_only = z_info.z_only;
        // this.z_picture = z_info.z_picture;
        if (image.path !== '' && image.path !== null) {
          this.images.push(image);
        }
      });
      this.modalAdd = true;
    },
    submit_form: function() {
      if (this.formValid == true) {
        const formdata = new FormData();
        formdata.append('z_id', this.z_id);
        formdata.append('a_id', this.a_id);
        formdata.append('z_title', this.z_title);
        formdata.append('z_only', this.z_only);
        // if (this.z_picture) {
        //     formdata.append('z_picture', this.z_picture[0]);
        // }
        if (this.uploadImages) {
          for (let uploadImage of this.uploadImages) {
            // console.log(uploadImage);
            formdata.append('z_picture', uploadImage);
          }
        }

        var api_url = '/api/admin_award/' + this.a_id + '/create_prize';
        if (this.z_id > 0) {
          api_url = '/api/admin_award/' + this.a_id + '/modify_prize';
        }

        this.$axios.post(
          api_url, formdata, {
            headers: { "Content-Type": "multipart/form-data" }, showLoading: true
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.save);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        })
        this.z_id = 0;
        this.modalAdd = false;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.required);
      }
    },
    remove_prize: function() {
      this.$axios.post('/api/admin_award/' + this.a_id + '/remove_prize/', 'z_id=' + this.z_id, {
        headers: { "Content-Type": "multipart/form-data" },
      })
      .then((res) => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.delete);
      })
      .catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.z_id = 0;
      this.modalConfirm = false;
    }
  }
}
</script>