<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top_area d-flex">
      <v-btn depressed tile text outlined @click="$router.go(-1)" class="btn-back"><v-icon>xi-angle-left</v-icon></v-btn>
      <div class="atitle">출품 상세 <span class="num">{{w_info.wp_no}}</span></div>
      <v-spacer></v-spacer>
      <div class="user_state">상태 <span>{{work_status}}</span></div>
    </div>

    <div class="content_area">
      <table class="tb_user">
        <tbody>
          <tr>
            <th rowspan="3" class="stit">계정 정보</th>
            <th>아이디</th>
            <th>마지막 로그인 일자</th>
            <th>담당자명</th>
            <th>담당자 유선 번호 (내선)</th>
            <th>담당자 무선 번호</th>
            <th>담당자 이메일</th>
          </tr>
          <tr>
            <td><div class="holder">{{w_info.u_id}}</div></td>
            <td><div class="holder">{{w_info.u_lastime}}</div></td>
            <td><div class="holder">{{w_info.u_name}}</div></td>
            <td><div class="holder">{{w_info.u_phone1}}</div></td>
            <td><div class="holder">{{w_info.u_phone2}}</div></td>
            <td><div class="holder">{{w_info.u_email}}</div></td>
          </tr>
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="3" class="stit">출품 정보</th>
          </tr>
          <tr>
            <td colspan="3">
              <div class="work_img_area">
                <div class="img_key">
                  <v-img
                    v-if="w_info.w_thumbnail"
                    :src="w_info.w_thumbnail"
                    aspect-ratio="1"
                    @error="w_info.w_thumbnail = null"
                    @click="openCarousel('key', 0)"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-btn fab small color="#ba5151" class="btn-download" @click="downloadImage(w_info.w_thumbnail)">
                    <v-icon>xi-download</v-icon>
                  </v-btn>
                </div>
                <ul class="img_add">
                  <li v-if="w_images.length" v-for="(w_image, index) in w_images" :key="index">
                    <v-img
                      v-if="w_image"
                      :src="w_image.wo_url + w_image.wo_name"
                      aspect-ratio="1"
                      @error="w_image = null"
                      @click="openCarousel('add', index)"
                    ></v-img>
                    <v-img
                      v-else
                      :src="noimage2"
                      aspect-ratio="1"
                      class="noimg"
                    ></v-img>
                    <v-btn fab x-small color="#ba5151" class="btn-download" @click="downloadImage(w_image.wo_url + w_image.wo_name)">
                      <v-icon>xi-download</v-icon>
                    </v-btn>
                  </li>
                  <li v-if="!w_images.length < 5" v-for="index in (5 - w_images.length)">
                    <v-img
                      :src="noimage2"
                      aspect-ratio="1"
                      class="noimg"
                    ></v-img>
                  </li>
                </ul>
              </div>
            </td>
            <td colspan="3">
              <div class="work_dsc_area">
                <table>
                  <tbody>
                    <tr>
                      <th>부문</th>
                      <th>분야</th>
                    </tr>
                    <tr>
                      <td><div class="holder">{{w_info.cp_title}}</div></td>
                      <td><div class="holder">{{w_info.c_title}}</div></td>
                    </tr>
                    <tr>
                      <th>출품명</th>
                      <th>제작기간</th>
                    </tr>
                    <tr>
                      <td><div class="holder" style="height:auto;">{{w_info.w_title}}</div></td>
                      <td><div class="holder">{{formatDate(w_info.w_start)}} ~ {{formatDate(w_info.w_end)}}</div></td>
                    </tr>
                    <tr>
                      <th>업체명</th>
                      <th>고객사</th>
                    </tr>
                    <tr>
                      <td><div class="holder">{{w_info.e_company}}</div></td>
                      <td><div class="holder">{{w_info.w_client}}</div></td>
                    </tr>
                    <tr>
                      <th>공동개발사</th>
                      <th>출품 URL</th>
                    </tr>
                    <tr>
                      <td><div class="holder" style="min-width:200px;">{{w_info.w_coworker | notExist}}</div></td>
                      <td>
                        <div v-if="w_info.w_url" class="holder" style="word-break: break-all;height:auto;"><a :href="w_info.w_url" target="_blank" class="btn-type-link">{{w_info.w_url}} <v-icon>xi-external-link</v-icon></a></div>
                        <div v-else class="holder">-</div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">출품 개요</th>
                    </tr>
                    <tr>
                      <td colspan="2"><div class="holder line-multi pre-formatted" style="word-break: break-all;">{{w_info.w_comment}}</div></td>
                    </tr>
                    <tr>
                      <th colspan="2">출품 내용</th>
                    </tr>
                    <tr>
                      <td colspan="2"><div class="holder line-multi pre-formatted" style="word-break: break-all;">{{w_info.w_descript}}</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="3" class="stit">심사 정보</th>
          </tr>
          <tr>
            <th colspan="6">할당 심사위원</th>
          </tr>
          <tr>
            <td colspan="6">
              <ul class="list-judge list-inline">
                <li v-for="judge in judges_work" :key="judge.j_id">
                  {{judge.j_name}} ({{judge.jg_id=='3'?'비공개':judge.jg_id+'차'}})
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bottom_area d-flex">
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('judge')">심사위원 배정</v-btn> -->
      <v-btn depressed tile text outlined x-small @click="open_assign()">심사위원 배정</v-btn>
      <v-btn depressed tile text outlined x-small :to="{ name: 'adminAwardJudges' }">심사위원 관리</v-btn>
      <v-spacer></v-spacer>
      <v-btn depressed tile text outlined x-small @click="openPreview(w_id)">미리보기</v-btn>
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('wait')">출품 대기</v-btn> -->
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('process')">출품 심사중</v-btn> -->
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('hold')">출품 보류</v-btn> -->
      <v-btn depressed tile text outlined x-small @click="openModal('confirm')">수상 확정</v-btn>
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('finish')">출품 종료</v-btn> -->
      <v-btn depressed tile text outlined x-small @click="openModal('cancel')">삭제</v-btn>
    </div>

    <v-dialog
      v-model="modalCarousel"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-carousel dialog-admin"
      width="unset"
      scrollable
    >
      <v-card>
        <v-card-text>
          <v-carousel
            v-if="carouselType == 'add'"
            v-model="carousel"
            hide-delimiter-background
            show-arrows-on-hover
            height="auto"
          >
            <v-carousel-item v-for="(w_image, index) in w_images" :key="index"
              :src="w_image.wo_url + w_image.wo_name"
              class="image-carousel"
              style="width:auto; height:auto;">
            </v-carousel-item>
          </v-carousel>
          <v-img v-else
            :src="w_info.w_thumbnail"
            style="width:auto; height:auto;">
          </v-img>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalCarousel = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalAssign"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-assign-judge dialog-admin"
      max-width="1000px"
      persistent
    >
      <v-card>
        <v-card-title>
          <div>심사위원 배정</div>
        </v-card-title>
        <v-card-text>
          <div class="input_area">
            <div class="list-judge">
              <div class="tit">1차 심사위원단 그룹</div>
              <ul>
                <li v-for="(party, index) in judge_party_1" :key="party.jp_id" :class="{ 'disabled': judge_party[judge_party.findIndex(x => x == party.jp_id)]}">
                  <div
                    v-ripple
                    :data-id="index"
                    :class="{ 'active': selectedItem_1[selectedItem_1.findIndex(x => x.index == index)]}"
                    @click="select_judge_list(1, index, party.jp_id, $event.target)"
                    class="box-judge"
                  >
                    <!-- <div class="jname">그룹 {{index+1}}</div> -->
                    <div class="jlist">
                      <span v-for="judge in party.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</span>
                    </div>
                  </div>
                </li>
                <li v-if="!judge_party.length" class="nodata">
                  <div>이 그룹에 등록된 심사위원이 없습니다</div>
                </li>
              </ul>
            </div>
            <div class="list-judge">
              <div class="tit">2차 심사위원단 그룹</div>
              <ul>
                <li v-for="(party, index) in judge_party_2" :key="party.jp_id" :class="{ 'disabled': judge_party[judge_party.findIndex(x => x == party.jp_id)]}">
                  <div
                    v-ripple
                    :data-id="index"
                    :class="{ 'active': selectedItem_2[selectedItem_2.findIndex(x => x.index == index)]}"
                    @click="select_judge_list(2, index, party.jp_id, $event.target)"
                    class="box-judge"
                  >
                    <!-- <div class="jname">그룹 {{index+1}}</div> -->
                    <div class="jlist">
                      <span v-for="judge in party.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</span>
                    </div>
                  </div>
                </li>
                <li v-if="!judge_party_2.length" class="nodata">
                  <div>이 그룹에 등록된 심사위원이 없습니다</div>
                </li>
              </ul>
            </div>
            <div class="list-judge">
              <div class="tit">비공개 심사위원단 그룹</div>
              <ul>
                <li v-for="(party, index) in judge_party_3" :key="party.jp_id" :class="{ 'disabled': judge_party[judge_party.findIndex(x => x == party.jp_id)]}">
                  <div
                    v-ripple
                    :data-id="index"
                    :class="{ 'active': selectedItem_3[selectedItem_3.findIndex(x => x.index == index)]}"
                    @click="select_judge_list(3, index, party.jp_id, $event.target)"
                    class="box-judge"
                  >
                    <!-- <div class="jname">그룹 {{index+1}}</div> -->
                    <div class="jlist">
                      <span v-for="judge in party.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</span>
                    </div>
                  </div>
                </li>
                <li v-if="!judge_party_3.length" class="nodata">
                  <div>이 그룹에 등록된 심사위원이 없습니다</div>
                </li>
              </ul>
            </div>
          </div>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed tile text x-small class="btn-submit" @click="set_judge_party_batch()">배정하기</v-btn>
          <v-btn depressed icon @click="close_assign()" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'judge'">
          <v-autocomplete
            v-model="judges_selected"
            :items="judges_all"
            item-text="j_name"
            item-value="j_id"
            search-input="j_name"
            label="심사위원 선택"
            :search-input.sync="searchInput"
            append-icon="xi-angle-down-min"
            multiple
            chips
            hide-details
            flat
            solo
            :menu-props="{ contentClass: 'item_select item_judge' }"
            class="items_judge"
          >
            <template v-slot:selection="data">
              <v-chip
                v-bind="data.attrs"
                :input-value="data.selected"
                close
                @click:close="removeChip(data.item.j_id)"
              >
                {{data.item.j_name}} ({{data.item.jg_id}}차)
              </v-chip>
            </template>
            <template v-slot:item="data">
              <template v-if="typeof data.item !== 'object'">
                <v-list-item-content v-text="data.item"></v-list-item-content>
              </template>
              <template v-else>
                <v-list-item-content>
                  <v-list-item-title>{{data.item.j_name}} ({{data.item.jg_id}}차)</v-list-item-title>
                </v-list-item-content>
              </template>
            </template>
          </v-autocomplete>
        </v-card-text>
        <v-card-text v-else-if="modalType == 'confirm'">
          <div v-html="modalContent"></div>
          <div class="title-width-select mt-12">
            <div class="tit">수상 카테고리 선택</div>
            <v-select
              v-model="selected_work_category"
              :items="work_category"
              item-text="c_title"
              item-value="c_id"
              label="수상 카테고리 선택"
              append-icon="xi-angle-down-min"
              hide-details
              flat
              solo
              :menu-props="{ contentClass: 'item_select' }"
              class="items_status"
            ></v-select>
          </div>
          <div class="title-width-select mt-12">
            <div class="tit">수상 클래스 배정</div>
            <v-select
              v-model="selected_prize"
              :items="prizes"
              item-text="z_title"
              item-value="z_id"
              label="수상 클래스 선택"
              append-icon="xi-angle-down-min"
              hide-details
              flat
              solo
              :menu-props="{ contentClass: 'item_select' }"
              class="items_status"
            ></v-select>
          </div>
        </v-card-text>
        <v-card-text v-else v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">확인</v-btn>
          <v-btn v-else-if="modalType == 'wait'" depressed tile text outlined small @click="set_batch(0)">대기</v-btn>
          <v-btn v-else-if="modalType == 'process'" depressed tile text outlined small @click="set_batch(1)">심사중</v-btn>
          <v-btn v-else-if="modalType == 'confirm'" depressed tile text outlined small @click="set_batch(9)">확정</v-btn>
          <v-btn v-else-if="modalType == 'hold'" depressed tile text outlined small @click="set_batch(3)">보류</v-btn>
          <v-btn v-else-if="modalType == 'finish'" depressed tile text outlined small @click="set_batch(2)">종료</v-btn>
          <v-btn v-else-if="modalType == 'cancel'" depressed tile text outlined small @click="set_batch(-1)">취소</v-btn>
          <v-btn v-else-if="modalType == 'judge'" depressed tile text outlined small @click="set_judge_batch">배정</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/ResultDetail.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_1: '세부관리', title_sub_1: '출품 관리' },
      permission: false,

      noimage: '/assets/img/common/noimage_600.png',
      noimage2: '/assets/img/common/noimage_200.png',
      modalAssign: false,
      modalCarousel: false,
      carousel: '',
      carouselType: '',

      a_id: 0,
      w_id: 0,
      w_info: [],
      w_key_image: '',
      w_images: [],
      judges_all: [],
      judges_work: [],
      judges_out_work: [],
      judges_selected: [],
      work_category: [],
      selected_work_category: '',
      prizes: [],
      selected_prize: '',

      jp_id: 0,
      selectedItem: [],
      selectedItem_1: [],
      selectedItem_2: [],
      selectedItem_3: [],
      j_array: [],
      j_array_1: [],
      j_array_2: [],
      j_array_3: [],
      judge_party: [],
      judge_party_1: [],
      judge_party_2: [],
      judge_party_3: [],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',
      searchInput: '',

      modal: {
        confirm: { title: '수상 확정 처리', content: '수상을 확정합니다<br>해당 확정건은 수상일에 표시됩니다' },
        wait: { title: '출품 대기 처리', content: '출품을 대기로 처리합니다 ' },
        process: { title: '출품 심사중 처리', content: '출품을 심사중으로 처리합니다 ' },
        hold: { title: '출품 보류 처리', content: '출품을 보류로 처리합니다 ' },
        finish: { title: '출품 종료 처리', content: '출품을 종료합니다' },
        cancel: { title: '출품 취소 처리', content: '해당 출품을 취소합니다<br>이 과정은 복원 할 수 없습니다' },
        judge: { title: '심사위원 배정', content: '' },
        csv: { title: '출품 CSV 추출', content: '해당 출품을 CSV로 추출 합니다' }
      },

      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        notfound: { content: '파일이 없습니다', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        prize: { content: '수상 클래스를 선택해 주세요', color: 'error', icon: 'xi-error-o' },
        category: { content: '수상 카테고리를 선택해 주세요', color: 'error', icon: 'xi-error-o' },
        prizeOnly: { content: '단일작품만 수상가능한 클래스 입니다', color: '#ffffff', icon: 'xi-error-o', light: true },
        prizeAlready: { content: '이미 수상한 출품작 입니다', color: '#ffffff', icon: 'xi-error-o', light: true },
      },
    }
  },
  mounted() {
    this.$parent.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  computed: {
    work_status() {
      return this.w_info.w_status == '1' ? '출품 심사중' : this.w_info.w_status == '2' ? '출품 종료' : this.w_info.w_status == '3' ? '출품 보류' : this.w_info.w_status == '9' ? '수상 확정' : this.w_info.w_status == '-1' ? '출품 취소' : '출품 대기';
    }
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.w_id = this.$route.params.w_id ? this.$route.params.w_id : 0;
      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.$axios.get('/api/admin_award/' + this.a_id + '/results_view/' + this.w_id).then(res => {
        // this.w_info = res.data.data;
        // console.log(this.w_info);
        const w_info_data = res.data.data;
        // console.log(w_info_data);
        let c_title = [];
        for (var k = 0; k < w_info_data.category_data.length; k++) {
          c_title.push(w_info_data.category_data[k].c_title);
        }
        w_info_data.c_title = c_title.join(', ');

        this.w_info = w_info_data;
        // console.log(this.w_info);

        this.work_category = this.w_info.category_data;
        // console.log(this.work_category);

        this.w_images = this.w_info.child_data.slice(0, 5);
        // console.log(this.w_images);
      });

      this.$axios.get('/api/admin_award/' + this.a_id + '/results_judges_party/' + this.w_id).then(res => {
        this.judges_work = res.data;
        // console.log(this.judges_work);
      });

      this.$axios.get('/api/admin_award/' + this.a_id + '/prize').then(res => {
        this.prizes = res.data.data;
        // console.log(this.prizes);
      });
    },
    get_judge_party() {
      this.$axios.get('/api/admin_award/' + this.a_id + '/judge_party').then(res => {
        this.judge_party = res.data.data;
        // console.log(this.judge_party);
        this.judge_party_1 = this.judge_party.filter(i => i.jg_id == '1');
        this.judge_party_2 = this.judge_party.filter(i => i.jg_id == '2');
        this.judge_party_3 = this.judge_party.filter(i => i.jg_id == '3');
      });
    },
    formatDate(value) {
      return value == '0000-00-00' ? '0000.00.00' : this.$moment(value).format('YYYY.MM.DD');
    },
    openCarousel(type, index) {
      this.carouselType = type;
      this.carousel = index;
      this.modalCarousel = true;
    },
    openModal(type) {
      this.selected_work_category = '',
      this.selected_prize = '';

      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');

      if (type == 'judge') {
        this.judges_selected = [],
        this.judges_work.forEach(element => {
          this.judges_selected.push(element.j_id);
        });

        this.$axios.get('/api/admin_award/' + this.a_id + '/judge').then(res => {
          let judgesAll = res.data.data;

          this.judges_all.push({header: '1차 심사위원단'});
          for (let item of judgesAll) {
            if (item.jg_id == '1') {
              let obj_g1 = {j_id: item.j_id, jg_id: item.jg_id, j_name: item.j_name};
              this.judges_all.push(obj_g1);
            }
          };
          this.judges_all.push({divider: true});
          this.judges_all.push({header: '2차 심사위원단'});
          for (let item of judgesAll) {
            if (item.jg_id == '2') {
              let obj_g2 = {j_id: item.j_id, jg_id: item.jg_id, j_name: item.j_name};
              this.judges_all.push(obj_g2);
            }
          };
          this.judges_all.push({divider: true});
          this.judges_all.push({header: '비공개 심사위원단'});
          for (let item of judgesAll) {
            if (item.jg_id == '3') {
              let obj_g3 = {j_id: item.j_id, jg_id: item.jg_id, j_name: item.j_name};
              this.judges_all.push(obj_g3);
            }
          };
        });
      }
      this.modalConfirm = true;
    },
    open_assign() {
      this.get_judge_party();

      this.jp_id = '';
      this.modalAssign = true;
    },
    close_assign() {
      this.jp_id = '';
      this.selectedItem = [];
      this.selectedItem_1 = [];
      this.selectedItem_2 = [];
      this.selectedItem_3 = [];
      this.j_array = [];
      this.j_array_1 = [];
      this.j_array_2 = [];
      this.j_array_3 = [];
      this.modalAssign = false;
    },
    select_judge_list(jg, index, jp_id, target='') {
      // if (target != '') {
      //  target.parentElement.classList.remove('disabled');
      // }
      let judge_party_jg = eval('this.judge_party_'+jg);
      let selectedItem_jg = eval('this.selectedItem_'+jg);
      let j_array_jg = eval('this.j_array_'+jg);
      const newItem = jp_id;
      const itemExist = selectedItem_jg.some(item => item.jp_id == newItem);

      if (itemExist) {
        selectedItem_jg.splice(selectedItem_jg.findIndex(x => x.jp_id == jp_id), 1);
        j_array_jg.splice(j_array_jg.findIndex(x => x == jp_id), 1);
      } else {
        selectedItem_jg.push({index: index, jp_id: jp_id});
        j_array_jg.push(judge_party_jg[index]['jp_id']);
      }
      // this.selectedCount = this.j_array_1.length + this.j_array_2.length + this.j_array_3.length;
    },    
    openPreview(w_id) {
      const url = '/admin/preview/' + w_id;
      window.open(url, '_blank')
    },
    removeChip(j_id) {
      this.judges_selected.splice(this.judges_selected.indexOf(j_id), 1)
    },
    set_judge_batch() {
      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/results_judge/' + this.w_id, 'j_list=' + this.judges_selected, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
        this.modalConfirm = false;
      });
    },
    set_judge_party_batch() {
      var arr = [this.w_id];
      this.j_array = this.j_array_1.concat(this.j_array_2, this.j_array_3);
      // console.log(this.j_array);

      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/results_judge_party_onlist', 'w_list='+arr + '&jp_list='+this.j_array, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
        this.close_assign();
      });

    },
    set_batch(status) {
      if (status == 9) {
        if (!this.selected_work_category) {
          this.$store.commit('showSnackbar', this.snackbar.category);
          return false;
        } else {
          console.log(this.selected_work_category);
        }
        if (!this.selected_prize) {
          this.$store.commit('showSnackbar', this.snackbar.prize);
          return false;
        } else {
          console.log(this.selected_prize);
        }
      }

      this.$axios.post(
        '/api/admin_award/' + this.a_id + '/results_patch/' + status, 'a_id='+this.a_id + '&w_id='+this.w_id + '&z_id='+this.selected_prize + '&c_id='+this.selected_work_category, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        if (err.response.statusText == '"prizeOnly"') {
          this.$store.commit('showSnackbar', this.snackbar.prizeOnly);
        } else if (err.response.statusText == '"prizeAlready"') {
          this.$store.commit('showSnackbar', this.snackbar.prizeAlready);
        } else {
          this.$store.commit('showSnackbar', this.snackbar.error);
        }
      }).finally(() => {
        this.fetchItems();
        this.selected_work_category = '',
        this.selected_prize = '';
        this.modalConfirm = false;
      });
    },
    delete_result() {
      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/results_remove/', 'w_id=' + this.w_id
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
      });
    },
    downloadImage(url) {
      let img = new Image();
      img.src = url;
      let extension = url.substr((url.lastIndexOf('.') +1));
      if (img.height != 0 || extension == 'pdf') {
        let file_path = url.substring(0, url.lastIndexOf("/")+ 1);
        let file_name = url.substring(url.lastIndexOf("/")+ 1);
        let download_url = window.location.origin + '/api/storage/download?path=' + file_path + '&filename=' + file_name;
        const link = document.createElement('a');
        link.setAttribute('href', download_url);
        // link.setAttribute('target', '_blank');
        link.click();
        this.$store.commit('showSnackbar', this.snackbar.download);
      } else {
        this.$store.commit('showSnackbar', this.snackbar.notfound);
      }
    }
  },
  filters: {
    notExist: function(value) {
      return value ? value : '-';
    }
  }
}
</script>