<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top-menu-sub">
      <ul>
        <li><router-link v-ripple :to="{ name: 'adminAwardResultList' }">출품</router-link></li>
        <!-- <li><router-link v-ripple :to="{ name: 'adminAwardResultStatus', params: { status: 'wait' }}">출품 대기</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminAwardResultStatus', params: { status: 'process' }}">출품 심사중</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminAwardResultStatus', params: { status: 'hold' }}">출품 보류</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminAwardResultStatus', params: { status: 'finish' }}">출품 종료</router-link></li> -->
        <li><router-link v-ripple :to="{ name: 'adminAwardResultStatus', params: { status: 'confirm' }}">수상 확정</router-link></li>
      </ul>
    </div>

    <div class="filter_wrap">
      <div class="filter-category">
        <v-select
          v-model="filter_category"
          :items="categories"
          item-text="c_title"
          item-value="c_id"
          return-object
          label="부문"
          append-icon="xi-angle-down-min"
          hide-details
          flat
          solo
          :menu-props="{ contentClass: 'item_select item_category' }"
          class="items_category"
          @input="active_subcategories($event)"
        >
        </v-select>
      </div>
      <div class="filter-category filter-category-sub open" id="filter-category-sub">
        <v-select
          v-model="filter_subcategory"
          :items="subcategories"
          item-text="c_title"
          item-value="c_id"
          return-object
          label="분야"
          append-icon="xi-angle-down-min"
          hide-details
          flat
          solo
          :menu-props="{ contentClass: 'item_select item_category' }"
          class="items_category"
          :disabled="active_sc"
        >
        </v-select>
      </div>
      <v-btn depressed tile text x-small class="btn-reset-filter btn-type-intable" @click="reset_filter">초기화</v-btn>
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="result_selected"
      :headers="headers"
      :items="resultsWithIndex"
      item-key="w_id"
      :item-class= "row_class"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="index"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
      @click:row="showDetail"
    >
      <!-- <template v-slot:item.wp_no="{ item }">
        <div class="payment_num">{{ item.wp_no }}</div>
      </template> -->
      <template v-slot:item.p_method="{ item }">
        {{ formatMethod(item.p_method) }}
      </template>
      <template v-slot:item.p_subdate="{ item }">
        {{ formatDate(item.p_subdate) }}
      </template>
      <template v-slot:item.w_status="{ item }">
        <div class="payment_num">{{ formatStatus(item.w_status) }}</div>
      </template>
      <template v-slot:item.detail="{ item }">
        <v-btn depressed tile text x-small class="btn-type-angle btn-type-intable w60" :to="{ name: 'adminAwardResultDetail', params: { w_id: item.w_id }}">관리<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>

      <v-btn depressed tile text outlined x-small @click="openModal('status')">선택 배정처리</v-btn>
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('judge')">심사위원 배정</v-btn> -->
      <v-btn depressed tile text outlined x-small @click="open_assign()">심사위원 배정</v-btn>
      <v-btn depressed tile text outlined x-small @click="openModal('csv')">CSV 추출하기</v-btn>
    </div>

    <v-dialog
      v-model="modalAssign"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-assign-judge dialog-admin"
      max-width="1000px"
      persistent
    >
      <v-card>
        <v-card-title>
          <div>심사위원 배정</div>
        </v-card-title>
        <v-card-text>
          <div class="input_area">
            <div class="list-judge">
              <div class="tit">1차 심사위원단 그룹</div>
              <ul>
                <li v-for="(party, index) in judge_party_1" :key="party.jp_id" :class="{ 'disabled': judge_party[judge_party.findIndex(x => x == party.jp_id)]}">
                  <div
                    v-ripple
                    :data-id="index"
                    :class="{ 'active': selectedItem_1[selectedItem_1.findIndex(x => x.index == index)]}"
                    @click="select_judge_list(1, index, party.jp_id, $event.target)"
                    class="box-judge"
                  >
                    <!-- <div class="jname">그룹 {{index+1}}</div> -->
                    <div class="jlist">
                      <span v-for="judge in party.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</span>
                    </div>
                  </div>
                </li>
                <li v-if="!judge_party.length" class="nodata">
                  <div>이 그룹에 등록된 심사위원이 없습니다</div>
                </li>
              </ul>
            </div>
            <div class="list-judge">
              <div class="tit">2차 심사위원단 그룹</div>
              <ul>
                <li v-for="(party, index) in judge_party_2" :key="party.jp_id" :class="{ 'disabled': judge_party[judge_party.findIndex(x => x == party.jp_id)]}">
                  <div
                    v-ripple
                    :data-id="index"
                    :class="{ 'active': selectedItem_2[selectedItem_2.findIndex(x => x.index == index)]}"
                    @click="select_judge_list(2, index, party.jp_id, $event.target)"
                    class="box-judge"
                  >
                    <!-- <div class="jname">그룹 {{index+1}}</div> -->
                    <div class="jlist">
                      <span v-for="judge in party.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</span>
                    </div>
                  </div>
                </li>
                <li v-if="!judge_party_2.length" class="nodata">
                  <div>이 그룹에 등록된 심사위원이 없습니다</div>
                </li>
              </ul>
            </div>
            <div class="list-judge">
              <div class="tit">비공개 심사위원단 그룹</div>
              <ul>
                <li v-for="(party, index) in judge_party_3" :key="party.jp_id" :class="{ 'disabled': judge_party[judge_party.findIndex(x => x == party.jp_id)]}">
                  <div
                    v-ripple
                    :data-id="index"
                    :class="{ 'active': selectedItem_3[selectedItem_3.findIndex(x => x.index == index)]}"
                    @click="select_judge_list(3, index, party.jp_id, $event.target)"
                    class="box-judge"
                  >
                    <!-- <div class="jname">그룹 {{index+1}}</div> -->
                    <div class="jlist">
                      <span v-for="judge in party.judges.slice(0,6)" :key="judge.j_id">{{judge.j_name}}</span>
                    </div>
                  </div>
                </li>
                <li v-if="!judge_party_3.length" class="nodata">
                  <div>이 그룹에 등록된 심사위원이 없습니다</div>
                </li>
              </ul>
            </div>
          </div>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed tile text x-small class="btn-submit" @click="set_judge_party_batch()">배정하기</v-btn>
          <v-btn depressed icon @click="close_assign()" class="btn-close"><v-icon>xi-close</v-icon></v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'csv'" v-html="modalContent"></v-card-text>
        <v-card-text v-else-if="modalType == 'exist'">
          <div>선택 항목중 이미 심사위원이 배정된 출품이 있습니다</div>
          <ul class="w_name_list list-dot">
            <li v-for="(work, index) in judge_party_exist" :key="work.w_id">{{work.w_title}}</li>
          </ul>
          <div class="mt-10">해당 {{judge_party_exist.length}}개 출품에 배정된 심사위원을 초기화 하시겠습니까?</div>
        </v-card-text>
        <!-- <v-card-text v-else-if="modalType == 'judge'">
          <v-autocomplete
            v-model="judges_selected"
            :items="judges_all"
            item-text="j_name"
            item-value="j_id"
            search-input="j_name"
            label="심사위원 선택"
            :search-input.sync="searchInput"
            append-icon="xi-angle-down-min"
            multiple
            chips
            hide-details
            flat
            solo
            :menu-props="{ contentClass: 'item_select item_judge' }"
            class="items_judge"
          >
            <template v-slot:selection="data">
              <v-chip
                v-bind="data.attrs"
                :input-value="data.selected"
                close
                @click:close="removeChip(data.item.j_id)"
              >
                {{data.item.j_name}} ({{data.item.jg_id}}차)
              </v-chip>
            </template>
            <template v-slot:item="data">
              <template v-if="typeof data.item !== 'object'">
                <v-list-item-content v-text="data.item"></v-list-item-content>
              </template>
              <template v-else>
                <v-list-item-content>
                  <v-list-item-title>{{data.item.j_name}} ({{data.item.jg_id}}차)</v-list-item-title>
                </v-list-item-content>
              </template>
            </template>
          </v-autocomplete>
        </v-card-text> -->
        <v-card-text v-else>
          <div class="text-width-select">
            <span v-html="modalContent"></span>
            <v-select
              v-model="selected_status"
              :items="select_status"
              item-text="name"
              item-value="value"
              label="출품 배정 선택"
              append-icon="xi-angle-down-min"
              hide-details
              flat
              solo
              :menu-props="{ contentClass: 'item_select' }"
              class="items_status"
            ></v-select>
            <span>(으)로 변경</span>
          </div>
          <div v-if="selected_status == 9 && status_confirm_enable" class="title-width-select mt-12">
            <div class="tit">수상 클래스 배정</div>
            <v-select
              v-model="selected_prize"
              :items="prizes"
              item-text="z_title"
              item-value="z_id"
              label="수상 클래스 선택"
              append-icon="xi-angle-down-min"
              hide-details
              flat
              solo
              :menu-props="{ contentClass: 'item_select' }"
              class="items_status"
            ></v-select>
          </div>
          <div v-if="selected_status == 9 && !status_confirm_enable" class="mt-10">
            여러 카테고리로 다중 출품된 항목이 선택되어 있습니다<br><br>다중 카테고리 출품작의 수상확정은<br>각 출품의 개별 관리에서 배정하실 수 있습니다
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">추출</v-btn>
          <v-btn v-else-if="modalType == 'exist'" depressed tile text outlined small @click="reset_judge_party">초기화</v-btn>
          <v-btn v-else-if="modalType == 'judge'" depressed tile text outlined small @click="set_judge_batch">배정</v-btn>
          <v-btn v-else depressed tile text outlined small @click="set_status(selected_status)">배정</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/ResultList.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_1: '세부관리', title_sub_1: '출품 관리' },
      permission: false,

      modalAssign: false,

      selectedItem: [],
      selectedItem_1: [],
      selectedItem_2: [],
      selectedItem_3: [],
      j_array: [],
      j_array_1: [],
      j_array_2: [],
      j_array_3: [],
      judge_party: [],
      judge_party_1: [],
      judge_party_2: [],
      judge_party_3: [],
      judge_party_exist: [],

      a_id: 0,
      jp_id: 0,

      // search: '',
      // filter_category: '',
      // filter_subcategory: '',
      categories: [],
      subcategories: [],
      active_sc: true,

      judges_all: [],
      judges_out_work: [],
      judges_selected: [],

      // itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        // { text: '출품 접수번호', value: 'wp_no', align: 'start td_wpno' },
        { text: '번호', value: 'index', align: 'start td_no' },
        { text: '부문', value: 'cp_title', align: 'start td_category',
          filter: value => {
            if (this.filter_category) {
              return value == this.filter_category.c_title;
            } else {
              return true;
            }
          }
        },
        { text: '분야', value: 'c_title', align: 'start td_subcategory',
          filter: value => {
            if (this.filter_subcategory) {
              return value == this.filter_subcategory.c_title;
            } else {
              return true;
            }
          }
        },
        { text: '기업명', value: 'e_company', align: 'start td_company' },
        { text: '출품명', value: 'w_title' },
        { text: '결제 유형', value: 'p_method', align: 'start td_method' },
        { text: '출품 일자', value: 'p_subdate', align: 'start td_date' },
        { text: '상태', value: 'w_status', align: 'start td_status' },
        { text: '', value: 'detail', sortable: false, align: 'start view-detail' },
      ],

      selected_status: '',
      select_status: [
        { name: '출품', value: '0' },
        // { name: '출품 심사중', value: '1' },
        // { name: '출품 보류', value: '3' },
        // { name: '출품 종료', value: '2' },
        { name: '수상 확정', value: '9' },
      ],

      status: '',
      param: '',
      results: [],
      result_selected: [],
      prizes: [],
      selected_prize: '',
      status_confirm_enable: true,

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',
      searchInput: '',

      modal: {
        status: { title: '선택 배정처리', content: '선택된 NN개의 출품을' },
        exist: { title: '심사위원 배정', content: '' },
        judge: { title: '심사위원 배정', content: '' },
        csv: { title: '선택 출품 CSV 추출', content: '선택된 NN개의 출품을 CSV로 추출 합니다<br><br>데이터가 많을 경우 시간이 소요되며 서버에 영향을 줄 수 있습니다<br>분할 선택하여 추출받는 방법을 권장합니다' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        judgePartyReset: { content: '심사위원 배정이 초기화되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        prize: { content: '수상 클래스를 선택해 주세요', color: 'error', icon: 'xi-error-o' },
        prizeOnly: { content: '단일작품만 수상가능한 클래스 입니다', color: '#ffffff', icon: 'xi-error-o', light: true },
        prizeAlready: { content: '이미 수상한 출품작 입니다', color: '#ffffff', icon: 'xi-error-o', light: true },
      },
    }
  },
  created() {
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  computed: {
    resultsWithIndex() {
      return this.results.map(
        (items, index) => ({
          ...items,
          index: index + 1
        }))
    },
    search: {
      get () {
        return this.$store.state.searchFilter
      },
      set (value) {
        this.$store.commit('setSearchFilter', value)
      }
    },
    filter_category: {
      get () {
        let category = this.$store.state.categoryFilter;
        if (category) {
          this.active_subcategories(category);
        }
        return this.$store.state.categoryFilter
      },
      set (value) {
        this.result_selected = [];
        this.$store.commit('setCategoryFilter', value)
      }
    },
    filter_subcategory: {
      get () {
        let subcategory = this.$store.state.subcategoryFilter;
        var target = document.getElementById('filter-category-sub');
        // if (subcategory) {
        //   target.classList.add('open');
        //   this.active_sc = false;
        // }
        return subcategory
      },
      set (value) {
        this.result_selected = [];
        this.$store.commit('setSubcategoryFilter', value)
      }
    },
    itemsPerPageValue: {
      get () {
        return this.$store.state.itemsPerPageValue
      },
      set (value) {
        this.$store.commit('setItemsPerPageValue', value)
      }
    }
  },
  methods: {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$parent.$parent.$emit('setTitle', this.titles);

      // this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      // this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.status = this.$route.params.status ? this.$route.params.status : '';
      this.param = this.status;
      // console.log(this.status);

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/results/' + this.param).then(res => {
        // this.results = res.data.data;
        const results_data = res.data.data;
        // console.log(results_data);
        let c_title = [];
        for (var i = 0; i < results_data.length; i++) {
          c_title[i] = [];
          for (var k = 0; k < results_data[i].category_data.length; k++) {
            c_title[i].push(results_data[i].category_data[k].c_title);
          }
          results_data[i].c_title = c_title[i].join(', ');
        }
        this.results = results_data;
        // console.log(this.results);
      }).finally(() => {
        this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
        this.$router.push({query: {page: this.pagination}}).catch(()=>{});
        });

      this.$axios.get('/api/admin_award/' + this.a_id + '/prize').then(res => {
        this.prizes = res.data.data;
        // console.log(this.prizes);
      });

      this.$axios.get('/api/admin_award/' + this.a_id + '/category').then(res => {
        this.categories = res.data.data;
        // console.log(this.categories);
      });

      this.get_judge_party();

      // this.filter_category = '';
      // this.filter_subcategory = '';
    },
    get_judge_party() {
      this.$axios.get('/api/admin_award/' + this.a_id + '/judge_party').then(res => {
        this.judge_party = res.data.data;
        // console.log(this.judge_party);
        this.judge_party_1 = this.judge_party.filter(i => i.jg_id == '1');
        this.judge_party_2 = this.judge_party.filter(i => i.jg_id == '2');
        this.judge_party_3 = this.judge_party.filter(i => i.jg_id == '3');
      });
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    formatMethod(value) {
      return value == 'deposit' ? '무통장입금' : '신용카드';
    },
    formatStatus(value) {
      return value == '1' ? '출품 심사중' : value == '2' ? '출품 종료' : value == '3' ? '출품 보류' : value == '9' ? '수상 확정' : value == '-1' ? '출품 취소' : '출품 대기';
    },
    row_class(value) {
      return value.w_status == '1' ? 'process' : value.w_status == '2' ? 'finish' : value.w_status == '3' ? 'hold' : value.w_status == '9' ? 'confirm' : value.w_status == '-1' ? 'cancel' : 'wait';
    },
    showDetail(row) {
      this.$router.push({ name: 'adminAwardResultDetail', params: { w_id: row.w_id }});
    },
    active_subcategories(value) {
      var target = document.getElementById('filter-category-sub');
      if (value) {
        this.$axios.get('/api/admin_award/' + this.a_id + '/view_subcategory/' + value.c_id).then(res => {
          this.subcategories = res.data.data;
          // console.log(this.subcategories);
        });
        // target.classList.add('open');
        this.active_sc = false;
      } else {
        // target.classList.remove('open');
        this.active_sc = true;
      }
    },
    reset_filter() {
      var target = document.getElementById('filter-category-sub');
      // target.classList.remove('open');
      this.result_selected = [];
      this.filter_category = '';
      this.filter_subcategory = '';
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    open_assign() {
      this.get_judge_party();

      if (this.result_selected.length > 0) {
        var arr = [];
        this.result_selected.forEach(element => {
          arr.push(element.w_id);
        });

        this.$axios.post('/api/admin_award/' + this.a_id + '/results_judge_party_exist/', 'w_list='+arr, {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }
        ).then(res => {
          this.judge_party_exist = res.data;
          // console.log(this.judge_party_exist);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        }).finally(() => {
          if (this.judge_party_exist.length) {
            this.judge_party_exist.reverse()
            this.openModal('exist');
          } else {
            this.jp_id = '';
            this.modalAssign = true;
          }
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    close_assign() {
      this.jp_id = '';
      this.selectedItem = [];
      this.selectedItem_1 = [];
      this.selectedItem_2 = [];
      this.selectedItem_3 = [];
      this.j_array = [];
      this.j_array_1 = [];
      this.j_array_2 = [];
      this.j_array_3 = [];
      this.judge_party_exist = [];
      this.modalAssign = false;
    },
    select_judge_list(jg, index, jp_id, target='') {
      // if (target != '') {
      //  target.parentElement.classList.remove('disabled');
      // }
      let judge_party_jg = eval('this.judge_party_'+jg);
      let selectedItem_jg = eval('this.selectedItem_'+jg);
      let j_array_jg = eval('this.j_array_'+jg);
      const newItem = jp_id;
      const itemExist = selectedItem_jg.some(item => item.jp_id == newItem);

      if (itemExist) {
        selectedItem_jg.splice(selectedItem_jg.findIndex(x => x.jp_id == jp_id), 1);
        j_array_jg.splice(j_array_jg.findIndex(x => x == jp_id), 1);
      } else {
        selectedItem_jg.push({index: index, jp_id: jp_id});
        j_array_jg.push(judge_party_jg[index]['jp_id']);
      }
      // this.selectedCount = this.j_array_1.length + this.j_array_2.length + this.j_array_3.length;
    },
    reset_judge_party() {
      var arr = [];
      this.judge_party_exist.forEach(element => {
        arr.push(element.w_id);
      });

      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/results_judge_party_reset', 'w_list='+arr, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.judgePartyReset);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
        this.judge_party_exist = [];
        this.modalConfirm = false;
      });
    },
    openModal(type) {
      this.selected_status = '';
      this.selected_prize = '';
      this.status_confirm_enable = true;

      if (this.result_selected.length > 0) {
        var num = this.result_selected.length;
        this.modalType = type;
        this.modalTitle = eval('this.modal.' + type + '.title');
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);

        if (type == 'judge') {
          this.judges_selected = [],
          // this.judges_work.forEach(element => {
          //   this.judges_selected.push(element.j_id);
          // });

          this.$axios.get('/api/admin_award/' + this.a_id + '/judge').then(res => {
            let judgesAll = res.data.data;

            this.judges_all.push({header: '1차 심사위원단'});
            for (let item of judgesAll) {
              if (item.jg_id == '1') {
                let obj_g1 = {j_id: item.j_id, jg_id: item.jg_id, j_name: item.j_name};
                this.judges_all.push(obj_g1);
              }
            };
            this.judges_all.push({divider: true});
            this.judges_all.push({header: '2차 심사위원단'});
            for (let item of judgesAll) {
              if (item.jg_id == '2') {
                let obj_g2 = {j_id: item.j_id, jg_id: item.jg_id, j_name: item.j_name};
                this.judges_all.push(obj_g2);
              }
            };
            this.judges_all.push({divider: true});
            this.judges_all.push({header: '비공개 심사위원단'});
            for (let item of judgesAll) {
              if (item.jg_id == '3') {
                let obj_g3 = {j_id: item.j_id, jg_id: item.jg_id, j_name: item.j_name};
                this.judges_all.push(obj_g3);
              }
            };
          });
        } else {
          this.result_selected.forEach(element => {
            if (element.c_id.indexOf(',') !== -1) {
              this.status_confirm_enable = false;
            }
          });
        }
        this.modalConfirm = true;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    set_judge_batch() {
      var arr = [];
      this.result_selected.forEach(element => {
        arr.push(element.w_id);
      });

      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/results_judge_onlist', 'w_list='+arr + '&j_list='+this.judges_selected, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
        this.result_selected = [];
        this.modalConfirm = false;
      });
    },
    set_judge_party_batch() {
      var arr = [];
      this.result_selected.forEach(element => {
        arr.push(element.w_id);
      });

      this.j_array = this.j_array_1.concat(this.j_array_2, this.j_array_3);
      // console.log(this.j_array);

      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/results_judge_party_onlist', 'w_list='+arr + '&jp_list='+this.j_array, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      }).finally(() => {
        this.fetchItems();
        this.close_assign();
      });

    },
    set_status: function(status) {
      var arr = [];
      this.result_selected.forEach(element => {
        arr.push(element.w_id);
      });

      if (arr.length > 0) {
        if (status == 9) {
          if (!this.selected_prize) {
            this.$store.commit('showSnackbar', this.snackbar.prize);
            return false;
          } else {
            // console.log(this.selected_prize);
          }
        }

        this.$axios.post(
          '/api/admin_award/' + this.a_id + '/results_patch/' + status, 'w_list='+arr + '&a_id='+this.a_id + '&z_id='+this.selected_prize, {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }
        ).then(res => {
          this.$axios.get('/api/admin_award/' + this.a_id + '/results', {showLoading: true}).then(res => {
            this.results = res.data.data;
            this.$store.commit('showSnackbar', this.snackbar.complete);
          });
        }).catch(err => {
          if (err.response.statusText == '"prizeOnly"') {
            this.$store.commit('showSnackbar', this.snackbar.prizeOnly);
          } else if (err.response.statusText == '"prizeAlready"') {
            this.$store.commit('showSnackbar', this.snackbar.prizeAlready);
          } else {
            this.$store.commit('showSnackbar', this.snackbar.error);
          }
        }).finally(() => {
          this.fetchItems();
          this.selected_status = '';
          this.selected_prize = '';
          this.result_selected = [];
          this.status_confirm_enable = true;
          this.modalConfirm = false;
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    get_csv: function() {
      var arr = [];
      this.result_selected.forEach(element => {
        arr.push("'" + element.w_id + "'");
      });

      if (arr.length > 0) {
        this.$axios.post(
          '/api/admin/export/resultlist', 'result_list=' + arr
        ).then(res => {
          let now = this.$moment().format('YYMMDD_HHmmss');
          let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' + res.data;
          const data = encodeURI(csvContent);
          const link = document.createElement('a');
          link.setAttribute('href', data);
          link.setAttribute('download', 'result_list-'+ now +'.csv');
          link.click();
          this.$store.commit('showSnackbar', this.snackbar.download);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        }).finally(() => {
          this.result_selected = [];
          this.modalConfirm = false;
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    }
  }
}
</script>
