<template>
  <div class="inner-wrap--width-nav-top">
    <div id="nav-top">
      <div class="nav-inner">
        <ul>
          <li class="go-back">
            <v-btn depressed tile text @click="$router.go(-1)"><v-icon>xi-angle-left</v-icon></v-btn>
          </li>
          <li>
            <v-btn depressed tile text :to="{ name: 'adminAward' }" class="btn-index">출품인덱스</v-btn>
          </li>
          <li>
            <v-menu open-on-hover close-on-content-click tile bottom offset-y nudge-top ="-1" transition="slide-y-transition" content-class="nav-top-child">
              <template v-slot:activator="{ on, attrs }">
                <v-btn depressed tile text :to="{ name: 'adminAwardConfigCommon' }" v-bind="attrs" v-on="on">전역관리</v-btn>
              </template>
              <v-list>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardBase' }">기본 설정</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardJudges' }">심사위원 관리</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardJudgesParty' }">심사위원 그룹 관리</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardPopup' }">팝업 설정</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardDescript' }">개요 설정</v-btn>
                </v-list-item>
              </v-list>
            </v-menu>
          </li>
          <li>
            <v-menu open-on-hover close-on-content-click tile bottom offset-y nudge-top ="-1" transition="slide-y-transition" content-class="nav-top-child">
              <template v-slot:activator="{ on, attrs }">
                <v-btn depressed tile text :to="{ name: 'adminAwardConfigDetail' }" v-bind="attrs" v-on="on">세부관리</v-btn>
              </template>
              <v-list flat>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardCategories' }">출품 카테고리 설정</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardPrizes' }">수상 클래스 설정</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardResultList' }">출품 관리</v-btn>
                </v-list-item>
              </v-list>
            </v-menu>
          </li>
          <li>
            <v-menu open-on-hover close-on-content-click tile bottom offset-y nudge-top ="-1" transition="slide-y-transition" content-class="nav-top-child">
              <template v-slot:activator="{ on, attrs }">
                <v-btn depressed tile text :to="{ name: 'adminAwardConfigFollowup' }" v-bind="attrs" v-on="on">후속관리</v-btn>
              </template>
              <v-list flat>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardJudgement' }">심사 결과</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardWinnerList' }">수상 관리</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardAboardList', params: { ab_type: 'gallery' }}">갤러리 관리</v-btn>
                </v-list-item>
                <v-list-item>
                  <v-btn depressed tile text :to="{ name: 'adminAwardAboardList', params: { ab_type: 'speech' }}">강연 관리</v-btn>
                </v-list-item>
              </v-list>
            </v-menu>
          </li>
        </ul>
        <div class="award_status">
          <div class="slabel">ON-AIR
            <v-switch
              v-model="award.a_status"
              true-value="1"
              false-value="0"
              inset
              @change="set_onair"
            >
            </v-switch>
          </div>
          <div class="slabel">ARCHIVE
            <v-switch
              v-model="a_status_sync"
              true-value="0"
              false-value="1"
              inset
              @change="set_archive"
            >
            </v-switch>
          </div>
        </div>
      </div>
    </div>

    <div class="title_area" v-if="titles.title_1 || titles.title_sub_1">
      <div class="title-1" v-if="titles.title_1">{{titles.title_1}}</div>
      <div class="title-sub-1" v-if="titles.title_sub_1">{{titles.title_sub_1}}<span v-if="titles.title_sub_2"> / {{titles.title_sub_2}}</span></div>
    </div>

    <router-view @setTitle="updateTitle"></router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {
      titles: {
        title_1: '',
        title_sub_1: '',
        title_sub_2: '',
      },

      award: '',
      a_id: '',
      a_status_sync: '',

      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        retry: { content: '페이지 로딩이 완료된 후 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        only: { content: '다른 출품년도를 ON-AIR 설정시 자동으로 ARCHIVE 됩니다', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.fetchItems();
  },
  watch: {
    '$route': 'updateTitle'
  },
  methods: {
    fetchItems() {
      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;

      this.$axios.get('/api/admin_award/' + this.a_id + '/view').then(res => {
        this.award = res.data.data;
        this.a_status_sync = this.award.a_status;
      });
    },
    updateTitle(titles) {
      this.titles.title_1 = titles.title_1 || '';
      this.titles.title_sub_1 = titles.title_sub_1 || '';
      this.titles.title_sub_2 = titles.title_sub_2 || '';
    },
    set_onair(value) {
      this.a_status_sync = this.award.a_status;
      const formdata = new FormData();
      formdata.append('a_id', this.award.a_id);
      formdata.append('a_status', this.award.a_status);
      this.$axios.post(
        '/api/admin_award/onair', formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
        setTimeout(function(){
          location.reload();
        },  500);
      }).catch(err => {
        this.fetchItems();
        if (value == 'archive') {
          this.$store.commit('showSnackbar', this.snackbar.only);
        } else {
          this.$store.commit('showSnackbar', this.snackbar.retry);
        }
      })
    },
    set_archive() {
      this.award.a_status = this.a_status_sync;
      this.set_onair('archive');
    }
  }
}
</script>