<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top_area d-flex">
      <v-btn depressed tile text outlined @click="$router.go(-1)" class="btn-back"><v-icon>xi-angle-left</v-icon></v-btn>
      <div class="atitle">출품 상세 <span class="num">{{winners.wp_no}}</span></div>
      <v-spacer></v-spacer>
      <div class="user_state">상태 <span>{{r_status}}</span></div>
    </div>

    <div class="content_area">
      <table class="tb_user">
        <tbody>
          <tr>
            <th rowspan="3" class="stit">계정 정보</th>
            <th>아이디</th>
            <th>마지막 로그인 일자</th>
            <th>담당자명</th>
            <th>담당자 유선 번호 (내선)</th>
            <th>담당자 무선 번호</th>
            <th>담당자 이메일</th>
          </tr>
          <tr>
            <td><div class="holder">{{winners.u_id}}</div></td>
            <td><div class="holder">{{winners.u_lastime}}</div></td>
            <td><div class="holder">{{winners.u_name}}</div></td>
            <td><div class="holder">{{winners.u_phone1}}</div></td>
            <td><div class="holder">{{winners.u_phone2}}</div></td>
            <td><div class="holder">{{winners.u_email}}</div></td>
          </tr>
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="3" class="stit">출품 정보</th>
          </tr>
          <tr>
            <td colspan="3">
              <div class="work_img_area">
                <div class="img_key">
                  <v-img
                    v-if="winners.w_thumbnail"
                    :src="winners.w_thumbnail"
                    aspect-ratio="1"
                    @error="winners.w_thumbnail = null"
                    @click="openCarousel('key', 0)"
                  ></v-img>
                  <v-img
                    v-else
                    :src="noimage"
                    aspect-ratio="1"
                    class="noimg"
                  ></v-img>
                  <v-btn fab small color="#ba5151" class="btn-download" @click="downloadImage(winners.w_thumbnail)">
                    <v-icon>xi-download</v-icon>
                  </v-btn>
                </div>
                <ul class="img_add">
                  <li v-if="w_images.length" v-for="(w_image, index) in w_images" :key="index">
                    <v-img
                      v-if="w_image"
                      :src="w_image.wo_url + w_image.wo_name"
                      aspect-ratio="1"
                      @error="w_image = null"
                      @click="openCarousel('add', index)"
                    ></v-img>
                    <v-img
                      v-else
                      :src="noimage2"
                      aspect-ratio="1"
                      class="noimg"
                    ></v-img>
                    <v-btn fab x-small color="#ba5151" class="btn-download" @click="downloadImage(w_image.wo_url + w_image.wo_name)">
                      <v-icon>xi-download</v-icon>
                    </v-btn>
                  </li>
                  <li v-if="!w_images.length < 5" v-for="index in (5 - w_images.length)">
                    <v-img
                      :src="noimage2"
                      aspect-ratio="1"
                      class="noimg"
                    ></v-img>
                  </li>
                </ul>
              </div>
            </td>
            <td colspan="3">
              <div class="work_dsc_area">
                <table>
                  <tbody>
                    <tr>
                      <th>부문</th>
                      <th>분야</th>
                    </tr>
                    <tr>
                      <td><div class="holder">{{winners.cp_title}}</div></td>
                      <td><div class="holder">{{winners.c_title}}</div></td>
                    </tr>
                    <tr>
                      <th>출품명</th>
                      <th>제작기간</th>
                    </tr>
                    <tr>
                      <td><div class="holder">{{winners.w_title}}</div></td>
                      <td><div class="holder">{{formatDate(winners.w_start)}} ~ {{formatDate(winners.w_end)}}</div></td>
                    </tr>
                    <tr>
                      <th>업체명</th>
                      <th>고객사</th>
                    </tr>
                    <tr>
                      <td><div class="holder">{{winners.e_company}}</div></td>
                      <td><div class="holder">{{winners.w_client}}</div></td>
                    </tr>
                    <tr>
                      <th>공동개발사</th>
                      <th>출품 URL</th>
                    </tr>
                    <tr>
                      <td><div class="holder">{{winners.w_coworker | notExist}}</div></td>
                      <td>
                        <div v-if="winners.w_url" class="holder"><a :href="winners.w_url" target="_blank" class="btn-type-link">{{winners.w_url}} <v-icon>xi-external-link</v-icon></a></div>
                        <div v-else class="holder">-</div>
                      </td>
                    </tr>
                    <tr>
                      <th colspan="2">출품 개요</th>
                    </tr>
                    <tr>
                      <td colspan="2"><div class="holder line-multi pre-formatted" style="word-break: break-all;">{{winners.w_comment}}</div></td>
                    </tr>
                    <tr>
                      <th colspan="2">출품 내용</th>
                    </tr>
                    <tr>
                      <td colspan="2"><div class="holder line-multi pre-formatted" style="word-break: break-all;">{{winners.w_descript}}</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="4" class="stit">심사 정보</th>
          </tr>
          <tr>
            <th colspan="6">할당 심사위원</th>
          </tr>
          <tr>
            <td colspan="6">
              <ul class="list-judge list-inline">
                <li v-for="judge in judges_work" :key="judge.j_id">
                  {{judge.j_name}} ({{judge.jg_id=='3'?'비공개':judge.jg_id+'차'}})
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="3" class="stit">관리 메모</th>
          </tr>
          <tr>
            <td colspan="6">
              <div class="holder line-multi">
                <v-textarea
                  v-model="r_comment"
                  autocomplete="off"
                  rows="3"
                  row-height="30"
                  auto-grow
                  solo
                  flat
                  hide-details
                  class="memo w-max"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-textarea>
              </div>
            </td>
          </tr>
          <!-- <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="3" class="stit">연감 관련</th>
          </tr>
          <tr>
            <th>연감 요청일</th>
            <th colspan="5">연감 다운로드</th>
          </tr>
          <tr>
            <td><div class="holder"></div></td>
            <td colspan="5"></td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div class="bottom_area d-flex">
      <v-btn depressed tile text outlined x-small @click="updateMemo(winners.zr_id)">메모 저장</v-btn>
      <v-spacer></v-spacer>
      <v-btn depressed tile text outlined x-small @click="openSend('sms')">SMS 발송하기</v-btn>
      <v-btn depressed tile text outlined x-small @click="openSend('email')">이메일 발송하기</v-btn>
      <v-btn depressed tile text outlined x-small @click="openPreview(winners.w_id)">미리보기</v-btn>
      <v-btn depressed tile text outlined x-small @click="openModal('announcementComplete')">공고 처리</v-btn>
      <!-- <v-btn depressed tile text outlined x-small @click="openModal('yearbookRequest')">연감 요청</v-btn> -->
      <v-btn depressed tile text outlined x-small @click="openModal('closing')">종결 처리</v-btn>
    </div>

    <v-dialog
      v-model="modalCarousel"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-carousel dialog-admin"
      width="unset"
      scrollable
    >
      <v-card>
        <v-card-text>
          <v-carousel
            v-if="carouselType == 'add'"
            v-model="carousel"
            hide-delimiter-background
            show-arrows-on-hover
            height="auto"
          >
            <v-carousel-item v-for="(w_image, index) in w_images" :key="index"
              :src="w_image.wo_url + w_image.wo_name"
              class="image-carousel"
              style="width:auto; height:auto;">
            </v-carousel-item>
          </v-carousel>
          <v-img v-else
            :src="winners.w_thumbnail"
            style="width:auto; height:auto;">
          </v-img>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalCarousel = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">확인</v-btn>
          <v-btn v-else-if="modalType == 'announcementComplete'" depressed tile text outlined small @click="set_batch(1)">완료</v-btn>
          <v-btn v-else-if="modalType == 'yearbookRequest'" depressed tile text outlined small @click="set_batch(2)">요청</v-btn>
          <v-btn v-else-if="modalType == 'closing'" depressed tile text outlined small @click="set_batch(9)">종결</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <send-email :sendEmail="this.sendEmail" :user_all="this.user_all" @close="closeSend"></send-email>
    <send-sms :sendSms="this.sendSms" :user_all="this.user_all" @close="closeSend"></send-sms>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/WinnerDetail.vue';
import sendEmail from '@/components/admin/sendEmail.vue';
import sendSms from '@/components/admin/sendSms.vue';

export default {
  components: {
    noPermission,
    Skeleton,
    sendEmail,
    sendSms,
  },
  data() {
    return {
      titles: { title_1: '후속관리', title_sub_1: '수상 관리' },
      permission: false,

      noimage: '/assets/img/common/noimage_600.png',
      noimage2: '/assets/img/common/noimage_200.png',
      modalCarousel: false,
      carousel: '',
      carouselType: '',

      a_id: 0,
      zr_id: 0,
      w_id: 0,
      r_comment: '',
      winners: [],
      w_key_image: '',
      w_images: [],
      judges_work: [],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',
      searchInput: '',

      modalSend: '',
      sendType: '',
      sendEmail: false,
      sendSms: false,
      user_all: [],

      modal: {
        announcementComplete: { title: '공고 완료 처리', content: '공고 완료 처리합니다' },
        yearbookRequest: { title: '연감 요청 처리', content: '연감 요청 처리합니다' },
        yearbookComplete: { title: '연감 완료 처리', content: '연감 완료 처리합니다' },
        closing: { title: '출품 종결 처리', content: '해당 출품을 종결합니다' }
      },

      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        notfound: { content: '파일이 없습니다', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  computed: {
    r_status() {
      return this.winners.r_status == 1 ? '공고 완료' : this.winners.r_status == 2 ? '연감 요청' : this.winners.r_status == 3 ? '연감 완료' : this.winners.r_status == 9 ? '종결' : '공고 예정';
    }
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.zr_id = this.$route.params.zr_id ? this.$route.params.zr_id : 0;

      this.$axios.get('/api/admin_award/' + this.a_id + '/winner/' + this.zr_id).then(res => {
        // this.winners = res.data.data;
        // console.log(this.winners);
        const winners_data = res.data.data;
        // console.log(winners_data);
        let c_title = [];
        for (var k = 0; k < winners_data.category_data.length; k++) {
          c_title.push(winners_data.category_data[k].c_title);
        }
        winners_data.c_title = c_title.join(', ');

        this.winners = winners_data;
        // console.log(this.winners);

        this.work_category = this.winners.category_data;
        // console.log(this.work_category);
        this.w_images = this.winners.child_data;
        // console.log(this.w_images);

        this.w_id = this.winners.w_id ? this.winners.w_id : 0;
        this.r_comment = this.winners.r_comment;

        this.$axios.get('/api/admin_award/' + this.a_id + '/results_judges_party/' + this.w_id).then(res => {
          this.judges_work = res.data;
          // console.log(this.judges_work);
        });
      });
    },
    formatDate(value) {
      return value == '0000-00-00' ? '0000.00.00' : this.$moment(value).format('YYYY.MM.DD');
    },
    openCarousel(type, index) {
      this.carouselType = type;
      this.carousel = index;
      this.modalCarousel = true;
    },
    openModal(type) {
      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    openSend(type) {
      this.$axios.get('/api/get/user_all').then(res => {
        this.user_all = res.data.data;
        // console.log(this.user_all);
      });
      if (type == 'email') {
        this.sendEmail = true;
      } else if (type == 'sms') {
        this.sendSms = true;
      }
    },
    closeSend() {
      this.sendEmail = false;
      this.sendSms = false;
    },
    openPreview(w_id) {
      const url = '/admin/preview/' + w_id;
      window.open(url, '_blank')
    },
    updateMemo(zr_id) {
      const formdata = new FormData();
      formdata.append('r_comment', this.r_comment);
      this.$axios.post(
        '/api/admin_award/' + this.a_id + '/update_winner_comment/' + zr_id, formdata, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    },
    set_batch(status) {
      this.$axios.patch(
        '/api/admin_award/' + this.a_id + '/patch_winner/' + status, 'zr_id=' + this.zr_id, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
    },
    downloadImage(url) {
      let img = new Image();
      img.src = url;
      let extension = url.substr((url.lastIndexOf('.') +1));
      if (img.height != 0 || extension == 'pdf') {
        let file_path = url.substring(0, url.lastIndexOf("/")+ 1);
        let file_name = url.substring(url.lastIndexOf("/")+ 1);
        let download_url = window.location.origin + '/api/storage/download?path=' + file_path + '&filename=' + file_name;
        const link = document.createElement('a');
        link.setAttribute('href', download_url);
        // link.setAttribute('target', '_blank');
        link.click();
        this.$store.commit('showSnackbar', this.snackbar.download);
      } else {
        this.$store.commit('showSnackbar', this.snackbar.notfound);
      }
    }
  },
  filters: {
    notExist: function(value) {
      return value ? value : '-';
    }
  }
}
</script>