<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top-menu-sub d-none">
      <ul>
        <li><router-link v-ripple :to="{ name: 'adminAwardWinnerList' }">전체</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminAwardWinnerStatus', params: { status: 'announcement-pre' }}">공고 예정</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminAwardWinnerStatus', params: { status: 'announcement-complete' }}">공고 완료</router-link></li>
        <!-- <li><router-link v-ripple :to="{ name: 'adminAwardWinnerStatus', params: { status: 'yearbook-request' }}">연감 요청</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminAwardWinnerStatus', params: { status: 'yearbook-complete' }}">연감 완료</router-link></li> -->
        <li><router-link v-ripple :to="{ name: 'adminAwardWinnerStatus', params: { status: 'closing' }}">종결</router-link></li>
      </ul>
    </div>

    <div class="filter_wrap">
      <div class="filter-category">
        <v-select
          v-model="filter_category"
          :items="categories"
          item-text="c_title"
          item-value="c_id"
          return-object
          label="부문"
          append-icon="xi-angle-down-min"
          hide-details
          flat
          solo
          :menu-props="{ contentClass: 'item_select item_category' }"
          class="items_category"
          @input="active_subcategories($event)"
        >
        </v-select>
      </div>
      <div class="filter-category filter-category-sub open" id="filter-category-sub">
        <v-select
          v-model="filter_subcategory"
          :items="subcategories"
          item-text="c_title"
          item-value="c_id"
          return-object
          label="분야"
          append-icon="xi-angle-down-min"
          hide-details
          flat
          solo
          :menu-props="{ contentClass: 'item_select item_category' }"
          class="items_category"
          :disabled="active_sc"
        >
        </v-select>
      </div>
      <v-btn depressed tile text x-small class="btn-reset-filter btn-type-intable" @click="reset_filter">초기화</v-btn>
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="winner_selected"
      :headers="headers"
      :items="winnersWithIndex"
      item-key="zr_id"
      :item-class= "row_class"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="index"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
      @click:row="showDetail"
    >
      <!-- <template v-slot:item.wp_no="{ item }">
        <div class="payment_num">{{ item.wp_no }}</div>
      </template> -->
      <template v-slot:item.p_subdate="{ item }">
        {{ formatDate(item.p_subdate) }}
      </template>
      <template v-slot:item.r_status="{ item }">
        {{ formatStatus(item.r_status) }}
      </template>
      <template v-slot:item.detail="{ item }">
        <v-btn depressed tile text x-small class="btn-type-angle btn-type-intable w60" :to="{ name: 'adminAwardWinnerDetail', params: { zr_id: item.zr_id }}">관리<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>

      <v-btn depressed tile text outlined x-small @click="openModal('status')">선택 배정처리</v-btn>
      <v-btn depressed tile text outlined x-small @click="openModal('csv')">CSV 추출하기</v-btn>
    </div>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'csv'" v-html="modalContent"></v-card-text>
        <v-card-text v-else>
          <div class="text-width-select">
            <span v-html="modalContent"></span>
            <v-select
              v-model="selected_status"
              :items="select_status"
              item-text="name"
              item-value="value"
              label="수상 배정 선택"
              append-icon="xi-angle-down-min"
              hide-details
              flat
              solo
              :menu-props="{ contentClass: 'item_select' }"
              class="items_status"
            ></v-select>
            <span>(으)로 변경</span>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">확인</v-btn>
          <v-btn v-else depressed tile text outlined small @click="set_status(selected_status)">배정</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/award/WinnerList.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_1: '후속관리', title_sub_1: '수상 관리' },
      permission: false,

      // search: '',
      // filter_category: '',
      // filter_subcategory: '',
      categories: [],
      subcategories: [],
      active_sc: true,

      // itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        // { text: '출품 접수번호', value: 'wp_no', align: 'start td_wpno' },
        { text: '번호', value: 'index', align: 'start td_no' },
        { text: '부문', value: 'cp_title', align: 'start td_category',
          filter: value => {
            if (this.filter_category) {
              return value == this.filter_category.c_title;
            } else {
              return true;
            }
          }
        },
        { text: '분야', value: 'c_title', align: 'start td_subcategory',
          filter: value => {
            if (this.filter_subcategory) {
              return value == this.filter_subcategory.c_title;
            } else {
              return true;
            }
          }
        },
        { text: '기업명', value: 'e_company', align: 'start td_company' },
        { text: '출품명', value: 'w_title' },
        { text: '수상명', value: 'z_title', align: 'start td_prize' },
        { text: '출품 일자', value: 'p_subdate', filterable: false, align: 'start td_date' },
        { text: '상태', value: 'r_status', align: 'start td_status2' },
        { text: '', value: 'detail', sortable: false, align: 'start view-detail' },
      ],

      selected_status: '',
      select_status: [
        { name: '공고 예정', value: '0' },
        { name: '공고 완료', value: '1' },
        // { name: '연감 요청', value: '2' },
        // { name: '연감 완료', value: '3' },
        { name: '종결', value: '9' },
      ],

      status: '',
      param: '',

      a_id:0,
      winners : [],
      winner_selected:[],
      status : 0, //0:공고예정/1:공고완료/2:연감요청/3:연감완료/9:종결

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        status: { title: '선택 배정처리', content: '선택된 NN개의 출품을' },
        csv: { title: '선택 출품 CSV 추출', content: '선택된 NN개의 출품을 CSV로 추출 합니다<br><br>데이터가 많을 경우 시간이 소요되며 서버에 영향을 줄 수 있습니다<br>분할 선택하여 추출받는 방법을 권장합니다' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  created() {
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  computed: {
    winnersWithIndex() {
      return this.winners.map(
        (items, index) => ({
          ...items,
          index: index + 1
        }))
    },
    search: {
      get () {
        return this.$store.state.searchFilter
      },
      set (value) {
        this.$store.commit('setSearchFilter', value)
      }
    },
    filter_category: {
      get () {
        let category = this.$store.state.categoryFilter;
        if (category) {
          this.active_subcategories(category);
        }
        return this.$store.state.categoryFilter
      },
      set (value) {
        this.result_selected = [];
        this.$store.commit('setCategoryFilter', value)
      }
    },
    filter_subcategory: {
      get () {
        let subcategory = this.$store.state.subcategoryFilter;
        var target = document.getElementById('filter-category-sub');
        // if (subcategory) {
        //   target.classList.add('open');
        //   this.active_sc = false;
        // }
        return subcategory
      },
      set (value) {
        this.result_selected = [];
        this.$store.commit('setSubcategoryFilter', value)
      }
    },
    itemsPerPageValue: {
      get () {
        return this.$store.state.itemsPerPageValue
      },
      set (value) {
        this.$store.commit('setItemsPerPageValue', value)
      }
    }
  },
  methods : {
    fetchItems() {
      this.checkPermission('aw')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$parent.$parent.$emit('setTitle', this.titles);

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.status = this.$route.params.status ? this.$route.params.status : '';
      this.param = this.status;

      this.a_id = this.$route.params.a_id ? this.$route.params.a_id : 0;
      this.$axios.get('/api/admin_award/' + this.a_id + '/winners/' + this.param).then(res => {
        // this.winners = res.data.data;
        const winners_data = res.data.data;
        // console.log(winners_data);
        let c_title = [];
        for (var i = 0; i < winners_data.length; i++) {
          c_title[i] = [];
          for (var k = 0; k < winners_data[i].category_data.length; k++) {
            c_title[i].push(winners_data[i].category_data[k].c_title);
          }
          winners_data[i].c_title = c_title[i].join(', ');
        }
        this.winners = winners_data;
        // console.log(this.winners);
      });

      this.$axios.get('/api/admin_award/' + this.a_id + '/category').then(res => {
        this.categories = res.data.data;
        // console.log(this.categories);
      });

      // this.filter_category = '';
      // this.filter_subcategory = '';
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    formatStatus(value) {
      return value == '1' ? '공고 완료' : value == '2' ? '연감 요청' : value == '3' ? '연감 완료' : value == '9' ? '종결' : '공고 예정';
    },
    row_class(value) {
      return value.r_status == '1' ? 'announcement-complete' : value.r_status == '2' ? 'yearbook-request' : value.r_status == '3' ? 'yearbook-complete' : value.r_status == '9' ? 'closing' : 'announcement-pre';
    },
    showDetail(row) {
      this.$router.push({ name: 'adminAwardWinnerDetail', params: { zr_id: row.zr_id }});
    },
    active_subcategories(value) {
      var target = document.getElementById('filter-category-sub');
      if (value) {
        this.$axios.get('/api/admin_award/' + this.a_id + '/view_subcategory/' + value.c_id).then(res => {
          this.subcategories = res.data.data;
          // console.log(this.subcategories);
        });
        // target.classList.add('open');
        this.active_sc = false;
      } else {
        // target.classList.remove('open');
        this.active_sc = true;
      }
    },
    reset_filter() {
      var target = document.getElementById('filter-category-sub');
      // target.classList.remove('open');
      this.result_selected = [];
      this.filter_category = '';
      this.filter_subcategory = '';
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    openModal(type) {
      if (this.winner_selected.length > 0) {
        var num = this.winner_selected.length;
        this.modalType = type;
        this.modalTitle = eval('this.modal.' + type + '.title');
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);
        this.modalConfirm = true;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    set_status: function(status) {
      var arr = [];
      this.winner_selected.forEach(element => {
        arr.push(element.zr_id);
      });

      if (arr.length > 0) {
        this.$axios.patch(
          '/api/admin_award/' + this.a_id + '/patch_winner/' + status, 'zr_list=' + arr, {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.complete);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.winner_selected = [];
      this.modalConfirm = false;
    },
    get_csv: function() {
      var arr = [];
      this.winner_selected.forEach(element => {
        arr.push("'" + element.zr_id + "'");
      });

      if (arr.length > 0) {
        this.$axios.post(
          '/api/admin/export/winnerlist', 'winner_list=' + arr
        ).then(res => {
          let now = this.$moment().format('YYMMDD_HHmmss');
          let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' + res.data;
          const data = encodeURI(csvContent);
          const link = document.createElement('a');
          link.setAttribute('href', data);
          link.setAttribute('download', 'winner_list-'+ now +'.csv');
          link.click();
          this.$store.commit('showSnackbar', this.snackbar.download);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.winner_selected = [];
      this.modalConfirm = false;
    }
  }
}
</script>