<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top_area d-flex">
      <v-btn depressed tile text outlined @click="$router.go(-1)" class="btn-back"><v-icon>xi-angle-left</v-icon></v-btn>
      <div class="atitle">회원 상세</div>
      <v-spacer></v-spacer>
      <div v-if="isCreate" class="user_date">최초 가입 일자 <span>{{ formatDate(u_datetime) }}</span></div>
      <div v-if="isCreate" class="user_state">상태 <span>{{ user_state }}</span></div>
    </div>

    <v-form
      ref="form"
      v-model="formValid"
    >

      <div class="content_area">

        <table class="tb_user">
          <tbody>
            <tr>
              <th rowspan="3" class="stit">담당자 정보</th>
              <th>아이디</th>
              <th v-if="!isCreate">비밀번호</th>
              <th>담당자명</th>
              <th>담당자 유선 번호 (내선)</th>
              <th>담당자 무선 번호</th>
              <th>담당자 이메일</th>
              <th v-if="isCreate">마지막 로그인 일자</th>
            </tr>
            <tr>
              <td v-if="!isCreate">
                <v-text-field
                  v-model="u_id"
                  :rules="[rules.required]"
                  :error-messages="error_id"
                  :success-messages="success_id"
                  label="아이디"
                  autocomplete="off"
                  hint="5~16자의 영문,숫자"
                  persistent-hint
                  maxlength="16"
                  solo
                  flat
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td v-if="isCreate">
                <div class="holder">{{ u_id }}</div>
              </td>
              <td v-if="!isCreate">
                <v-text-field
                  v-model="u_password"
                  :rules="[rules.required]"
                  :error-messages="error_password"
                  :success-messages="success_password"
                  label="비밀번호"
                  autocomplete="new-password"
                  hint="8~24자의 영문,숫자,특수문자"
                  persistent-hint
                  maxlength="24"
                  solo
                  flat
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="u_name"
                  :rules="[rules.required]"
                  label="담당자명"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="u_phone1"
                  :rules="[rules.phone1]"
                  label="담당자 유선 번호"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="u_phone2"
                  :rules="[rules.required, rules.phone2]"
                  label="담당자 무선 번호"
                  maxlength="13"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td class="td_email">
                <v-text-field
                  v-model="u_email"
                  :rules="[rules.required]"
                  :error-messages="error_email"
                  :success-messages="success_email"
                  label="담당자 이메일"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td v-if="isCreate" class="td_date"><div class="holder">{{ u_lastime }}</div></td>
            </tr>
            <tr>
              <td colspan="6"><v-divider></v-divider></td>
            </tr>
            <tr>
              <th rowspan="3" class="stit">회사 정보</th>
              <th>기업명</th>
              <th>대표자명</th>
              <th colspan="2">회사 대표 이메일</th>
              <th colspan="2">회사 웹사이트 URL</th>
            </tr>
            <tr>
              <td>
                <v-text-field
                  v-model="e_company"
                  :rules="[rules.required]"
                  label="기업명"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="e_name"
                  :rules="[rules.required]"
                  label="대표자명"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td colspan="2">
                <v-text-field
                  v-model="e_email"
                  :rules="[rules.required, rules.email]"
                  label="회사 대표 이메일"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                  class="w-long"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td colspan="2">
                <div class="holder w-xlong text-truncate" style="display:inline-block;margin-bottom: 20px;" v-if="isModified && e_site">
                  {{e_site}}
                </div>
                <a :href="e_site" target="_blank" v-if="isModified && e_site"><v-icon right>xi-external-link</v-icon></a>
                <v-text-field
                  v-else
                  v-model="e_site"
                  label="회사 웹사이트 URL"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                  class="w-xlong"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
            </tr>
            <tr>
              <td colspan="6"><v-divider></v-divider></td>
            </tr>
            <tr>
              <th rowspan="8" class="stit">세금계산서<br>발행 정보</th>
              <th colspan="3">사업장 주소</th>
              <th>사업자등록증 업로드</th>
              <th colspan="2">사업자 등록번호</th>
            </tr>
            <tr>
              <td colspan="3" class="td_address">
                <div v-if="isModified" class="holder">
                  ({{e_zipcode}}) {{e_address1}} {{e_address2}}
                  <v-tooltip v-model="tooltipCopy.address" top transition="slide-y-reverse-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn depressed tile text small @click="copyClipboard('address')" class="btn-type-copy">
                        <v-icon>xi-document</v-icon>
                      </v-btn>
                    </template>
                    <span>복사되었습니다</span>
                  </v-tooltip>
                </div>
                <v-dialog
                  v-else
                  v-model="dialogAddress"
                  overlay-color="rgba(0,0,0)"
                  overlay-opacity="0.6"
                  content-class="dialog-admin"
                  persistent
                  open-on-focus
                  max-width="600px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="e_zipcode"
                      :rules="[rules.required]"
                      label="우편번호"
                      v-bind="attrs"
                      v-on="on"
                      hide-details
                      autocomplete="off"
                      solo
                      flat
                      :disabled="isModified"
                      required
                    >
                      <template v-slot:message="{message}"><span v-html="message"></span></template>
                    </v-text-field>
                    <div class="address_wrap">
                      <v-text-field
                        v-model="e_address1"
                        :rules="[rules.required]"
                        label="주소"
                        v-bind="attrs"
                        v-on="on"
                        hide-details
                        autocomplete="off"
                        solo
                        flat
                        readonly
                        :disabled="isModified"
                        required
                        class="w-xlong"
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                      <v-text-field
                        v-model="e_address2"
                        ref='e_address2'
                        :rules="[rules.required]"
                        label="상세 주소"
                        autocomplete="off"
                        solo
                        flat
                        required
                        :disabled="isModified"
                        class="w-xlong"
                      >
                        <template v-slot:message="{message}"><span v-html="message"></span></template>
                      </v-text-field>
                    </div>
                  </template>

                  <v-card>
                    <v-card-title>
                      <span class="headline">주소 검색</span>
                    </v-card-title>
                    <v-card-text>
                      <vue-daum-postcode
                        :animation="true"
                        :hide-map-btn="true"
                        :hide-eng-btn="true"
                        :theme="{
                          bgColor: '#111111',
                          searchBgColor: '#000000',
                          contentBgColor: '#111111',
                          pageBgColor: '#111111',
                          textColor: '#ffffff',
                          queryTextColor: '#ffffff',
                          postcodeTextColor: '#ffd700',
                          emphTextColor: '#999999',
                          outlineColor: '#333333'
                        }"
                        @complete="inputAddress"
                        overlay-color="rgba(0,0,0)"
                        overlay-opacity="0.6"
                        style="height:444px; overflow:scroll; background-color:#111111;"
                      />
                    </v-card-text>
                    <v-btn depressed icon @click="dialogAddress = false" class="btn-close_top-right">
                      <v-icon>xi-close</v-icon>
                    </v-btn>
                  </v-card>
                </v-dialog>
              </td>
              <td rowspan="4">
                <div v-if="!images.length && isModified" class="holder">없음</div>
                <div v-else v-ripple class="preview_wrap" style="width:134px;">
                  <upload-multiple-image
                    @upload-success="uploadImageSuccess"
                    @before-remove="beforeRemove"
                    @edit-image="editImage"
                    @data-change="dataChange"
                    @limit-exceeded="limitExceeded"
                    @size-exceeded="sizeExceeded"
                    idUpload="image_upload_key"
                    idEdit="image_edit_key"
                    containerWidth="100%"
                    containerHeight="135%"
                    :data-id="'u'+u_id"
                    :data-images="images"
                    :multiple="false"
                    :maxImage="1"
                    :maxSize="15728640"
                    :showPrimary="false"
                  ></upload-multiple-image>
                </div>
              </td>
              <td rowspan="4" colspan="2">
                <div class="holder" v-if="isModified">
                  {{e_number}}
                  <v-tooltip v-model="tooltipCopy.e_number" top transition="slide-y-reverse-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn depressed tile text small @click="copyClipboard('e_number')" class="btn-type-copy">
                        <v-icon>xi-document</v-icon>
                      </v-btn>
                    </template>
                    <span>복사되었습니다</span>
                  </v-tooltip>
                </div>
                <v-text-field
                  v-else
                  v-model="e_number"
                  :rules="[rules.required, rules.bregnum]"
                  label="사업자등록번호"
                  maxlength="12"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
            </tr>
            <tr>
              <td colspan="3" height="20"></td>
            </tr>
            <tr>
              <th>업태</th>
              <th colspan="2">업종</th>
            </tr>
            <tr>
              <td>
                <div class="holder" v-if="isModified">
                  {{e_business}}
                  <v-tooltip v-model="tooltipCopy.e_business" top transition="slide-y-reverse-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn depressed tile text small @click="copyClipboard('e_business')" class="btn-type-copy">
                        <v-icon>xi-document</v-icon>
                      </v-btn>
                    </template>
                    <span>복사되었습니다</span>
                  </v-tooltip>
                </div>
                <v-text-field
                  v-else
                  v-model="e_business"
                  :rules="[rules.required]"
                  label="업태"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                  width="50px"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td colspan="2">
                <div class="holder" v-if="isModified">
                  {{e_sector}}
                  <v-tooltip v-model="tooltipCopy.e_sector" top transition="slide-y-reverse-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn depressed tile text small @click="copyClipboard('e_sector')" class="btn-type-copy">
                        <v-icon>xi-document</v-icon>
                      </v-btn>
                    </template>
                    <span>복사되었습니다</span>
                  </v-tooltip>
                </div>
                <v-text-field
                  v-else
                  v-model="e_sector"
                  :rules="[rules.required]"
                  label="업종"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
            </tr>
            <tr>
              <td colspan="6"><v-divider></v-divider></td>
            </tr>
            <tr>
              <th>출품 이력</th>
              <th colspan="2">수상 이력</th>
              <th colspan="2">약관동의 내역</th>
              <th v-if="u_info.is_auth == 'N' && isCreate">이메일 미인증 회원</th>
              <th v-if="u_info.is_auth == 'Y' && isCreate">이메일 인증 회원</th>
            </tr>
            <tr>
              <td><div class="holder">{{cnt_w}}</div></td>
              <td colspan="2"><div class="holder">{{cnt_pr}}</div></td>
              <td colspan="2">
                <v-radio-group row>
                  <v-checkbox
                    v-model="agree_sms"
                    label="SMS 수신 동의"
                    true-value="1"
                    false-value="0"
                    hide-details
                    off-icon ="mdi-checkbox-blank"
                    on-icon ="mdi-checkbox-marked"
                    :disabled="isModified"
                  >
                  </v-checkbox>
                  <v-checkbox
                    v-model="agree_email"
                    label="이메일 수신 동의"
                    true-value="1"
                    false-value="0"
                    hide-details
                    off-icon ="mdi-checkbox-blank"
                    on-icon ="mdi-checkbox-marked"
                    :disabled="isModified"
                  >
                  </v-checkbox>
                </v-radio-group>
              </td>
              <td v-if="u_info.is_auth == 'N' && isCreate">
                <div class="holder-btn">
                  <v-btn depressed tile text outlined x-small @click="emailAuth">인증하기</v-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div v-if="isCreate" class="bottom_area d-flex">
        <v-btn depressed tile text outlined x-small @click="downloadImage(u_info.e_registration)">사업자등록증 다운받기</v-btn>
        <v-btn v-if="isModified" depressed tile text outlined x-small @click="modifyForm()">수정하기</v-btn>
        <v-btn v-else depressed tile text outlined x-small @click="submitForm()">입력완료</v-btn>
        <v-spacer></v-spacer>
        <v-btn depressed tile text outlined x-small @click="openModal('password')">비밀번호 재설정</v-btn>
        <v-btn v-if="is_rest == 'Y'" depressed tile text outlined x-small @click="openModal('active')">회원 활성처리</v-btn>
        <v-btn v-else depressed tile text outlined x-small @click="openModal('rest')">회원 휴면처리</v-btn>
        <v-btn depressed tile text outlined x-small @click="openModal('csv')">CSV 추출하기</v-btn>
        <v-btn depressed tile text outlined x-small @click="openSend('sms')">SMS 발송하기</v-btn>
        <v-btn depressed tile text outlined x-small @click="openSend('email')">이메일 발송하기</v-btn>
      </div>
      <div v-else class="bottom_area d-flex">
        <v-spacer></v-spacer>
        <v-btn depressed tile text outlined x-small @click="submitForm()">신규회원 등록</v-btn>
      </div>

    </v-form>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
      eager
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-if="modalType == 'password'">
          <div v-html="modalContent"></div>
          <div class="modal-text-field mt-3">
            <v-text-field
              v-model="new_password"
              :error-messages="error_password"
              :success-messages="success_password"
              label="새 비밀번호"
              autocomplete="off"
              hint="8~24자의 영문,숫자,특수문자"
              persistent-hint
              maxlength="24"
              solo
              flat
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </div>
        </v-card-text>
        <v-card-text v-else v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">추출</v-btn>
          <v-btn v-else-if="modalType == 'active'" depressed tile text outlined small @click="set_userstate()">활성</v-btn>
          <v-btn v-else-if="modalType == 'password'" depressed tile text outlined small :disabled="!new_password_valid" @click="forcePassword()">재설정</v-btn>
          <v-btn v-else depressed tile text outlined small @click="set_userstate()">휴면</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <send-email :sendEmail="this.sendEmail" :user_all="this.user_all" @close="closeSend"></send-email>
    <send-sms :sendSms="this.sendSms" :user_all="this.user_all" @close="closeSend"></send-sms>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/user/UserDetail.vue';
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';
import { VueDaumPostcode } from 'vue-daum-postcode';
import sendEmail from '@/components/admin/sendEmail.vue';
import sendSms from '@/components/admin/sendSms.vue';

export default {
  components: {
    noPermission,
    Skeleton,
    UploadMultipleImage,
    VueDaumPostcode,
    sendEmail,
    sendSms,
  },
  data() {
    return {
      titles: { title_sub_1: '회원관리', title_sub_2: '회원 목록' },
      permission: false,

      formValid: false,
      dialogAddress: false,
      tooltipCopy: {
        address: false,
        e_number: false,
        e_business: false,
        e_sector: false,
      },

      error_id: [],
      success_id: [],
      error_password: [],
      success_password: [],
      error_email: [],
      success_email: [],
      isModified: false,
      isCreate: false,

      u_info: '',
      u_no: '',
      u_id: '',
      u_password: '',
      u_datetime: '',
      u_lastime: '',
      u_name: '',
      u_phone1: '',
      u_phone2: '',
      u_email: '',
      e_id: '',
      images: [],
      uploadImages: [],
      e_company: '',
      e_name: '',
      e_email: '',
      e_site: '',
      e_zipcode: '',
      e_address1: '',
      e_address2: '',
      e_phone: '',
      e_number: '',
      e_business: '',
      e_sector: '',
      e_taxemail: '',
      cnt_w:0,
      cnt_pr:0,
      files: {},
      e_registration: {},
      agree_sms: '1',
      agree_email: '1',
      is_rest: '',
      new_password: '',
      new_password_valid: false,

      rules: {
        required: value => !!value || '필수 입력',
        password: value => {
          const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/
          return pattern.test(value) || '8~24자의 영문,숫자,특수문자'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '올바른 이메일을 입력'
        },
        url: value => {
          const pattern = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
          return pattern.test(value) || 'http:// 를 포함한 형식으로 입력'
        },
        phone1: value => {
          return this.chk_tel(value) || '올바른 유선 번호를 입력'
        },
        phone2: value => {
          return this.chk_phone(value) || '올바른 휴대폰 번호를 입력'
        },
        bregnum: value => {
          return this.chk_bregnum(value) || '올바른 사업자번호를 입력'
        },
      },

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modalSend: '',
      sendType: '',
      sendEmail: false,
      sendSms: false,
      user_all: [],

      modal: {
        rest: { title: '회원 휴면 처리', content: '해당 회원을 휴면 처리 합니다' },
        active: { title: '회원 활성 처리', content: '해당 회원을 활성 처리 합니다' },
        password: { title: '회원 비밀번호 재설정', content: '해당 회원의 비밀번호를 변경 합니다<br>이 과정은 복원 할 수 없습니다<br><br>새 비밀번호를 입력해 주세요' },
        csv: { title: '회원 CSV 추출', content: '해당 회원을 CSV로 추출 합니다' }
      },
      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        notchange: { content: '다른 비밀번호를 입력해 주세요', color: 'error', icon: 'xi-error-o' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        notfound: { content: '파일이 없습니다', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  computed: {
    user_state() {
      return this.is_rest == 'Y' ? '휴면 회원' : '정상 회원';
    }
  },
  watch: {
    async u_id(value) {
      this.error_id = this.error_id;
      const pattern = /^[A-Za-z0-9+]{5,16}$/;
      const checkLoginForm = new FormData();
      checkLoginForm.append('u_id', value);

      const res = this.$axios.post('/api/find_user_id', checkLoginForm, {
        headers: { "Content-Type": "multipart/form-data" }
      }).then(res => {
        if (!pattern.test(value)) {
          this.error_id = ['5~16자의 영문,숫자'];
        } else {
          if (res.status == '200') {
            this.error_id = [];
            this.success_id = ['사용 가능한 아이디'];
          } else {
            this.error_id = ['이미 사용중인 아이디'];
          }
        }
      }).catch(err =>{
        this.error_id = ['이미 사용중인 아이디'];
      });
    },
    async u_password(value) {
      this.error_password = this.error_password;
      const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/;

      if (!pattern.test(value)) {
        this.error_password = ['8~24자의 영문,숫자,특수문자'];
      } else {
        this.error_password = [];
        this.success_password = ['사용 가능한 비밀번호'];
      }
    },
    async new_password(value) {
      this.error_password = this.error_password;
      const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/;

      if (!pattern.test(value)) {
        this.error_password = ['8~24자의 영문,숫자,특수문자'];
        this.new_password_valid = false;
      } else {
        this.error_password = [];
        this.success_password = ['사용 가능한 비밀번호'];
        this.new_password_valid = true;
      }
    },
    async u_email(value) {
      this.error_email = this.error_email;
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const checkEmailForm = new FormData();
      checkEmailForm.append('u_email', value);

      const res = this.$axios.post('/api/find_user_email', checkEmailForm,{
        headers: { "Content-Type": "multipart/form-data" }
      }).then(res => {
        if (!pattern.test(value)) {
          this.error_email = ['올바른 이메일을 입력'];
        } else {
          if (res.status == '200') {
            this.error_email = [];
            this.success_email = ['사용 가능한 이메일'];
          } else {
            if (value == this.u_info.u_email) {
              this.success_email = ['현재 회원 이메일'];
            } else {
              this.error_email = ['이미 가입된 이메일'];
            }
          }
        }
      }).catch(err =>{
        // alert(JSON.parse(err.response.statusText));
        if (value == this.u_info.u_email) {
          this.success_email = ['현재 회원 이메일'];
        } else {
          this.error_email = ['이미 가입된 이메일'];
        }
      });
    }
  },
  methods: {
    fetchItems() {
      this.checkPermission('us')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      const u_no = this.$route.params.u_no ? this.$route.params.u_no : 0;

      if (u_no > 0) {
        this.isModified = true;
        this.isCreate = true;

        this.$axios.get('/api/admin/user/view/' + u_no).then(res => {
          this.u_info = res.data.data;
          // console.log(this.u_info);
          let image = {'path': this.u_info.e_registration};
          this.u_no = this.u_info.u_no;
          this.u_id = this.u_info.u_id;
          this.u_datetime = this.u_info.u_datetime;
          this.u_lastime = this.u_info.u_lastime;
          this.u_name = this.u_info.u_name;
          this.u_phone1 = this.u_info.u_phone1;
          this.u_phone2 = this.u_info.u_phone2;
          this.u_email = this.u_info.u_email;
          this.e_id = this.u_info.e_id;
          this.e_company = this.u_info.e_company;
          this.e_number = this.u_info.e_number;
          this.e_name = this.u_info.e_name;
          this.e_email = this.u_info.e_email;
          this.e_site = this.u_info.e_site;
          this.e_zipcode = this.u_info.e_zipcode;
          this.e_address1 = this.u_info.e_address1;
          this.e_address2 = this.u_info.e_address2;
          this.e_phone = this.u_info.e_phone;
          this.e_business = this.u_info.e_business;
          this.e_sector = this.u_info.e_sector;
          this.e_taxemail = this.u_info.e_taxemail;
          this.agree_sms = this.u_info.agree_sms;
          this.agree_email = this.u_info.agree_email;
          this.is_rest = this.u_info.is_rest;
          this.cnt_w = this.u_info.cnt_w;
          this.cnt_pr = this.u_info.cnt_pr;
          // this.e_registration = this.u_info.e_registration;
          if (image.path !== '' && image.path !== null) {
            this.images.push(image);
          }
        });
      }
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    inputAddress(data) {
      this.e_zipcode = data.zonecode;
      this.e_address1 = data.address;
      this.dialogAddress = false;
      this.$nextTick(() => {
        this.$refs.e_address2.focus();
      });
    },
    chk_tel(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      const pattern8 = /^([0-9]{4})-?([0-9]{4})$/
      const pattern9 = /^02-?([0-9]{3})-?([0-9]{4})$/
      const pattern10a = /^02-?([0-9]{4})-?([0-9]{4})$/
      const pattern10b = /^([0-9]{3})-?([0-9]{3})-?([0-9]{4})$/
      const pattern11 = /^([0-9]{3})-?([0-9]{4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return true;
      }
      else if (len == 3) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        this.u_phone1 = this.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 8) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        this.u_phone1 = this.u_phone1.replace(/([0-9]{4})([0-9]{4})/, "$1-$2");
        return pattern8.test(this.u_phone1) || false;
      }
      else if (len == 9) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern9.test(this.u_phone1) || false;
        } else {
          return false;
        }
      }
      else if (len == 10) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern10a.test(this.u_phone1) || false;
        } else {
          this.u_phone1 = this.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
          return pattern10b.test(this.u_phone1) || false;
        }
      }
      else if (len == 11) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          return false;
        } else {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern11.test(this.u_phone1) || false;
        }
      }
      else {
        return false;
      }
    },
    chk_phone(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        this.u_phone2 = this.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 10) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        this.u_phone2 = this.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.u_phone2) || false;
      }
      else if (len == 11) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        this.u_phone2 = this.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{4})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.u_phone2) || false;
      }
      else {
        return false;
      }
    },
    chk_bregnum(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /([0-9]{3})-?([0-9]{2})-?([0-9]{5})/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.e_number = this.e_number.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 5) {
        this.e_number = this.e_number.replace(/\-/g,'');
        this.e_number = this.e_number.replace(/([0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 6) {
        this.e_number = this.e_number.replace(/\-/g,'');
        this.e_number = this.e_number.replace(/([0-9]{3})([0-9]{2})([0-9]+)/, "$1-$2-$3");
        return false;
      }
      else if (len == 10) {
        return pattern.test(this.e_number) || false;
      }
      else {
        return false;
      }
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done()
    },
    editImage(formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      this.uploadDialog = true
      this.uploadText = '최대 5개까지 업로드가 가능합니다'
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    modifyForm() {
      this.isModified = false;
    },
    emailAuth() {
      this.$axios.get('/api/admin/email/auth/' + this.u_no)
      .then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      })
    },
    forcePassword() {
      const formdata = new FormData();
      formdata.append('u_no', this.u_no);
      formdata.append('u_password', this.new_password);
      
      this.$axios.post(
        '/api/admin/reset/password',formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.notchange);
      }).finally(() => {
        this.modalConfirm = false;
      })
    },
    copyClipboard(type) {
      if (type == 'address') {
        this.$copyText('(' + this.e_zipcode + ')' + ' ' + this.e_address1 + ' ' + this.e_address2)
        .then((e) => {
          this.tooltipCopy.address = true;
          setTimeout(() => {
            this.tooltipCopy.address = false;
          }, 800)
        }, function (e) {
          // console.log(e)
        })
      } else {
        this.$copyText(eval('this.' + type))
        .then((e) => {
          this.tooltipCopyView(type, 'true')
          setTimeout(() => {
            this.tooltipCopyView(type, 'false')
          }, 800)
        }, function (e) {
          // console.log(e)
        })
      }
    },
    tooltipCopyView(type, value) {
      eval('this.tooltipCopy.' + type + ' = ' + value);
    },
    openModal(type) {
      this.modalType = type;
      this.new_password = '';
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    openSend(type) {
      this.$axios.get('/api/get/user_all').then(res => {
        this.user_all = res.data.data;
        // console.log(this.user_all);
      });
      if (type == 'email') {
        this.sendEmail = true;
      } else if (type == 'sms') {
        this.sendSms = true;
      }
    },
    closeSend() {
      this.sendEmail = false;
      this.sendSms = false;
    },
    submitForm() {
      const formdata = new FormData();
      formdata.append('u_no', this.u_no);
      formdata.append('u_id', this.u_id);
      if (!this.isCreate) {
        formdata.append('u_password', this.u_password);
      }
      formdata.append('u_name', this.u_name);
      formdata.append('u_phone1', this.u_phone1);
      formdata.append('u_phone2', this.u_phone2);
      formdata.append('u_email', this.u_email);
      formdata.append('e_id', this.e_id);
      formdata.append('e_company', this.e_company);
      formdata.append('e_name', this.e_name);
      formdata.append('e_email', this.e_email);
      if (this.e_site) {
        if (!this.e_site.match(/^https?:\/\//)) {
            this.e_site = 'http://' + this.e_site;
        }
      }
      formdata.append('e_site', this.e_site);
      formdata.append('e_zipcode', this.e_zipcode);
      formdata.append('e_address1', this.e_address1);
      formdata.append('e_address2', this.e_address2);
      formdata.append('e_number', this.e_number);
      if (!this.e_business) {
        this.e_business = '-';
      }
      formdata.append('e_business', this.e_business);
      if (!this.e_sector) {
        this.e_sector = '-';
      }
      formdata.append('e_sector', this.e_sector);
      formdata.append('e_taxemail', this.e_taxemail);
      formdata.append('agree_sms', this.agree_sms);
      formdata.append('agree_email', this.agree_email);
      if (!this.isCreate) {
        formdata.append('is_auth', 'Y');
      }
      if (this.uploadImages) {
        for (let uploadImage of this.uploadImages) {
          // console.log(uploadImage);
          formdata.append('e_registration', uploadImage);
        }
      }

      var api_user_update = '/api/admin/user/create';
      if(this.u_no > 0) {
        api_user_update = '/api/admin/user/modify';
      }

      this.$axios.post(
        api_user_update, formdata,{
          headers: { "Content-Type": "multipart/form-data" }, showLoading: true
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      })
      this.isModified = true;
    },
    set_userstate: function() {
      var url = this.is_rest == 'Y' ? 'patch_active' : 'patch_rest';

      this.$axios.patch(
        '/api/admin/user/' + url, 'u_no=' + this.u_no, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
    },
    get_csv: function() {
      this.$axios.post(
        '/api/admin/export/userlist', 'u_no=' + this.u_no
      ).then(res => {
        let now = this.$moment().format('YYMMDD_HHmmss');
        let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' + res.data;
        const data = encodeURI(csvContent);
        const link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', 'user_list-'+ now +'.csv');
        link.click();
        this.$store.commit('showSnackbar', this.snackbar.download);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
    },
    downloadImage(url) {
      let img = new Image();
      img.src = url;
      let extension = url.substr((url.lastIndexOf('.') +1));
      if (img.height != 0 || extension == 'pdf') {
        let file_path = url.substring(0, url.lastIndexOf("/")+ 1);
        let file_name = url.substring(url.lastIndexOf("/")+ 1);
        let download_url = window.location.origin + '/api/storage/download?path=' + file_path + '&filename=' + file_name;
        const link = document.createElement('a');
        link.setAttribute('href', download_url);
        // link.setAttribute('target', '_blank');
        link.click();
        this.$store.commit('showSnackbar', this.snackbar.download);
      } else {
        this.$store.commit('showSnackbar', this.snackbar.notfound);
      }
    }
  }
}
</script>
