<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top-menu-sub">
      <ul>
        <li><router-link v-ripple :to="{ name: 'adminUserListStatus', params: { status: 'active' }}">활성 회원 목록</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminUserListStatus', params: { status: 'rest' }}">휴면 회원 목록</router-link></li>
      </ul>
    </div>

    <div class="filter_wrap">
      <div class="filter-date">
        <v-menu
          ref="menuDateStart"
          v-model="menuDateStart"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="u_date_start"
              label="시작일"
              autocomplete="off"
              append-icon="mdi-calendar"
              hide-details
              solo
              flat
              clearable
              readonly
              v-bind="attrs"
              v-on="on"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </template>

          <v-date-picker
            v-model="u_date_start"
            locale="ko"
            :day-format="getDayFormat"
            :allowed-dates="allowedDatesStart"
            no-title
            @input="menuDateStart = false"
          >
          </v-date-picker>
        </v-menu>
        <div class="sep">~</div>
        <v-menu
          ref="menuDateEnd"
          v-model="menuDateEnd"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="u_date_end"
              label="종료일"
              autocomplete="off"
              append-icon="mdi-calendar"
              hide-details
              solo
              flat
              clearable
              readonly
              v-bind="attrs"
              v-on="on"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </template>

          <v-date-picker
            v-model="u_date_end"
            locale="ko"
            :day-format="getDayFormat"
            :allowed-dates="allowedDatesEnd"
            no-title
            @input="menuDateEnd = false"
          >
          </v-date-picker>
        </v-menu>
      </div>
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="user_selected"
      :headers="headers"
      :items="users"
      item-key="u_no"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      :sort-by="sortByOn"
      :sort-desc="sortDescOn"
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
      @update:sort-by="updateSort('by', $event)"
      @update:sort-desc="updateSort('desc', $event)"
      @click:row="showDetail"
    >
      <template v-slot:item.u_lastime="{ item }">
        {{ formatDate(item.u_lastime) }}
      </template>
      <template v-slot:item.u_datetime="{ item }">
        {{ formatDate(item.u_datetime) }}
      </template>
      <template v-slot:item.detail="{ item }">
        <v-btn depressed tile text x-small class="btn-type-angle btn-type-intable w60" :to="{ name: 'adminUserDetail', params: { u_no: item.u_no }}">관리<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>

      <v-btn depressed tile text outlined x-small :to="{ name: 'adminUserCreate' }">신규회원 등록</v-btn>
      <v-btn v-if="status == 'active'" depressed tile text outlined x-small @click="openModal('rest')">선택 휴면처리</v-btn>
      <v-btn v-else depressed tile text outlined x-small @click="openModal('active')">선택 활성처리</v-btn>
      <v-btn depressed tile text outlined x-small @click="openModal('csv')">CSV 추출하기</v-btn>
    </div>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
      eager
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">추출</v-btn>
          <v-btn v-else-if="modalType == 'active'" depressed tile text outlined small @click="set_userstate()">활성</v-btn>
          <v-btn v-else depressed tile text outlined small @click="set_userstate()">휴면</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/user/UserList.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '회원관리', title_sub_2: '회원 목록' },
      permission: false,

      search: '',
      menuDateStart: false,
      menuDateEnd: false,
      u_date_start: '',
      u_date_end: '',
      itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,
      sortBy: '',
      sortDesc: true,

      headers: [
        { text: '아이디', value: 'u_id' },
        { text: '회사명', value: 'e_company' },
        { text: '담당자', value: 'u_name' },
        { text: '담당자 유선번호 (내선)', value: 'u_phone1' },
        { text: '담당자 이메일', value: 'u_email' },
        { text: '마지막 로그인 일자', value: 'u_lastime', align: 'start td_date',
          filter: value => {
            if (this.u_date_start && this.u_date_start) {
              return value >= this.u_date_start && value <= this.$moment(this.u_date_end).add(1, 'day').format('YYYY-MM-DD');
            } else if (this.u_date_start && !this.u_date_end) {
              return value >= this.u_date_start;
            } else if (this.u_date_end && !this.u_date_start) {
              return value <= this.$moment(this.u_date_end).add(1, 'day').format('YYYY-MM-DD');
            } else {
              return true;
            }
          },
        },
        { text: '가입 일자', value: 'u_datetime', align: 'start td_date d-none' },
        { text: '', value: 'detail', sortable: false, align: 'start view-detail' },
      ],

      users: [],
      user_selected: [],
      status: '',
      param: '',

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        rest: { title: '선택 회원 휴면 처리', content: '선택된 NN명의 회원을 휴면 처리 합니다' },
        active: { title: '선택 회원 활성 처리', content: '선택된 NN명의 회원을 활성 처리 합니다' },
        csv: { title: '선택 회원 CSV 추출', content: '선택된 NN명의 회원을 CSV로 추출 합니다<br><br>데이터가 많을 경우 시간이 소요되며 서버에 영향을 줄 수 있습니다<br>분할 선택하여 추출받는 방법을 권장합니다' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  created() {
    this.$store.commit('setSortBy', 'u_no')
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  computed: {
    sortByOn: {
      get () {
        return this.$store.state.sortBy
      },
      set (value) {
        this.$store.commit('setSortBy', value)
      }
    },
    sortDescOn: {
      get () {
        return this.$store.state.sortDesc
      },
      set (value) {
        this.$store.commit('setSortDesc', value)
      }
    },
  },
  methods: {
    fetchItems() {
      this.checkPermission('us')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$parent.$emit('setTitle', this.titles);

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.status = this.$route.params.status ? this.$route.params.status : '';
      this.param = this.status == 'rest' ? '/Y' : (this.status == 'active' ? '/N' : '');
      this.user_selected = [];

      this.$axios.get('/api/admin/user/main' + this.param).then(res => {
        this.users = res.data.data;
        // console.log(this.users );
      });
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    getDayFormat(isoDate) {
      return this.$moment(isoDate).format('D');
    },
    allowedDatesStart(value) {
      if (this.u_date_end) {
        if (value <= this.u_date_end) {
          return true
        }
      } else {
        return true
      }
    },
    allowedDatesEnd(value) {
      if (this.u_date_start) {
        if (value >= this.u_date_start) {
          return true
        }
      } else {
        return true
      }
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    updateSort(byDesc, event){
      if(byDesc == 'by'){
        this.sortBy = event;
        this.$store.commit('setSortBy', event)
      }else if(byDesc == 'desc'){
        this.sortDesc = event;
        this.$store.commit('setSortDesc', event)
      }
    },
    showDetail(row) {
      this.$router.push({ name: 'adminUserDetail', params: { u_no: row.u_no }});
    },
    openModal(type) {
      if (this.user_selected.length > 0) {
        var num = this.user_selected.length;
        this.modalType = type;
        this.modalTitle = eval('this.modal.' + type + '.title');
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);
        this.modalConfirm = true;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    set_userstate: function() {
      var url = this.status == 'rest' ? 'patch_active' : 'patch_rest';

      var arr = [];
      this.user_selected.forEach(element => {
        arr.push(element.u_no);
      });

      if (arr.length > 0) {
        this.$axios.patch(
          '/api/admin/user/' + url, 'u_list=' + arr, {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.complete);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.user_selected = [];
      this.modalConfirm = false;
    },
    get_csv: function() {
      var arr = [];
      this.user_selected.forEach(element => {
        arr.push(element.u_no);
      });

      if (arr.length > 0) {
        this.$axios.post(
          '/api/admin/export/userlist', 'u_list=' + arr
        ).then(res => {
          let now = this.$moment().format('YYMMDD_HHmmss');
          let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' + res.data;
          const data = encodeURI(csvContent);
          const link = document.createElement('a');
          link.setAttribute('href', data);
          link.setAttribute('download', 'user_list-'+ now +'.csv');
          link.click();
          this.$store.commit('showSnackbar', this.snackbar.download);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.user_selected = [];
      this.modalConfirm = false;
    }
  }
}
</script>
