<template>
  <div v-if="permission && !$store.state.skeleton">
    <ul class="list-card">
      <li>
        <v-card tile>
          <v-card-title>회원 관련</v-card-title>
          <v-divider></v-divider>
          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('usn') >= 0 }">
            <div class="ctitle" @click="toggleItem('usn')">
              신규 가입 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.us.new.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                value="1"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.us.new.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                value="1"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('us','new')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('us','new','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.us.new.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.us.new.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('us','new','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.us.new.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.us.new.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('usr') >= 0 }">
            <div class="ctitle" @click="toggleItem('usr')">
              회원 휴면 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.us.rest.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                value="1"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.us.rest.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                value="1"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('us','rest')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('us','rest','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.us.rest.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.us.rest.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('us','rest','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.us.rest.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.us.rest.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>결제 관련</v-card-title>

          <v-divider></v-divider>

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('par') >= 0 }">
            <div class="ctitle" @click="toggleItem('par')">
              결제 요청 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.pa.request.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.pa.request.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('pa','request')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','request','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.request.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.request.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','request','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.request.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.request.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('paf') >= 0 }">
            <div class="ctitle" @click="toggleItem('paf')">
              결제 완료 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.pa.finish.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.pa.finish.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('pa','finish')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','finish','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.finish.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.finish.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','finish','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.finish.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.finish.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <!-- <v-card-text :class="{ 'is-open': toggleOpen.indexOf('pao') >= 0 }">
            <div class="ctitle" @click="toggleItem('pao')">
              결제 만료 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.pa.over.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.pa.over.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('pa','over')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','over','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.over.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.over.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','over','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.over.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.over.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text> -->

          <!-- <v-divider></v-divider> -->

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('pat') >= 0 }">
            <div class="ctitle" @click="toggleItem('pat')">
              세금계산서 발행 완료 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.pa.tax.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.pa.tax.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('pa','tax')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','tax','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.tax.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.tax.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('pa','tax','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.pa.tax.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.pa.tax.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>출품 관련</v-card-title>

          <v-divider></v-divider>

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('awn') >= 0 }">
            <div class="ctitle" @click="toggleItem('awn')">
              출품 행사 알림 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.aw.notice.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.aw.notice.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('aw','notice')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','notice','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.notice.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.notice.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','notice','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.notice.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.notice.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('awd') >= 0 }">
            <div class="ctitle" @click="toggleItem('awd')">
              출품 마감 알림 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.aw.deadline.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.aw.deadline.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('aw','deadline')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','deadline','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.deadline.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.deadline.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','deadline','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.deadline.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.deadline.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>

          <v-divider></v-divider>

          <!-- <v-card-text :class="{ 'is-open': toggleOpen.indexOf('awf') >= 0 }">
            <div class="ctitle" @click="toggleItem('awf')">
              출품 완료 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.aw.finish.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.aw.finish.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('aw','finish')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','finish','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.finish.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.finish.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','finish','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.finish.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.finish.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text> -->

          <!-- <v-divider></v-divider> -->

          <v-card-text :class="{ 'is-open': toggleOpen.indexOf('awp') >= 0 }">
            <div class="ctitle" @click="toggleItem('awp')">
              수상 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.aw.prize.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.aw.prize.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('aw','prize')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','prize','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.prize.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.prize.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','prize','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.prize.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.prize.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text>

          <!-- <v-divider></v-divider> -->

          <!-- <v-card-text :class="{ 'is-open': toggleOpen.indexOf('awr') >= 0 }">
            <div class="ctitle" @click="toggleItem('awr')">
              연감 요청 안내
              <v-spacer></v-spacer>
              <v-icon>xi-angle-down</v-icon>
            </div>
            <v-radio-group row>
              <v-checkbox
                v-model="config.aw.request.mail"
                label="이메일 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-checkbox
                v-model="config.aw.request.sms"
                label="sms 알림"
                true-value="1"
                false-value="0"
                hide-details
                off-icon ="mdi-square"
                on-icon ="mdi-square"
              >
              </v-checkbox>
              <v-spacer></v-spacer>
              <v-btn depressed tile text x-small class="btn-submit" @click="setNotification('aw','request')">저장하기</v-btn>
            </v-radio-group>
            <div class="toggle_wrap">
              <dl class="list-templete">
                <dt>
                  이메일 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','request','mail')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.request.mail.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.request.mail.contents"
                    label="내용"
                    autocomplete="off"
                    rows="20"
                    row-height="24"
                    solo
                    flat
                    hide-details
                    class="editors"
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
              <dl class="list-templete templete-sms">
                <dt>
                  SMS 알림 템플릿
                  <v-spacer></v-spacer>
                  <v-btn depressed tile text x-small @click="setNotificationContents('aw','request','sms')">저장하기</v-btn>
                </dt>
                <dd>
                  <v-text-field
                    v-model="content.aw.request.sms.subject"
                    label="제목"
                    autocomplete="off"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-text-field>
                </dd>
                <dd>
                  <v-textarea
                    v-model="content.aw.request.sms.contents"
                    label="내용"
                    autocomplete="off"
                    rows="8"
                    row-height="24"
                    solo
                    flat
                    hide-details
                  >
                    <template v-slot:message="{message}"><span v-html="message"></span></template>
                  </v-textarea>
                </dd>
              </dl>
            </div>
          </v-card-text> -->
        </v-card>
      </li>
    </ul>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/config/Notification.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },  
  data() {
    return{
      titles: { title_sub_1: '기본설정', title_sub_2: '알림 설정' },
      permission: false,

      toggleOpen: [],

      notifications_config: [],
      notifications_content: [],

      config: {
        us: {
          new: { mail: 0, sms: 0 },
          rest: { mail: 0, sms: 0 }
        },
        pa: {
          request: { mail: 0, sms: 0 },
          finish: { mail: 0, sms: 0 },
          over: { mail: 0, sms: 0 },
          tax: { mail: 0, sms: 0 }
        },
        aw: {
          notice: { mail: 0, sms: 0 },
          deadline: { mail: 0, sms: 0 },
          finish: { mail: 0, sms: 0 },
          prize: { mail: 0, sms: 0 },
          request: { mail: 0, sms: 0 }
        },
        ex: {
          join: { mail: 0, sms: 0 },
          password: { mail: 0, sms: 0 }
        }
      },
      content: {
        us: {
          new: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          rest: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } }
        },
        pa: {
          request: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          finish: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          over: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          tax: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } }
        },
        aw: {
          notice: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          deadline: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          finish: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          prize: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          request: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } }
        },
        ex: {
          join: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } },
          password: { mail: { subject: '', contents: '' }, sms: { subject: '', contents: '' } }
        }
      },

      snackbar: {
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  watch: {
    deep: true,
    config: function(value){
      // console.log('val', value);
    }
  },
  methods: {
    fetchItems() {
      this.checkPermission('ba')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$axios.get('/api/admin/notification').then(res => {
        this.notifications_config = res.data.data;
        // console.log(this.notifications_config);
        for (let item of this.notifications_config) {
          this.config[item.n_group][item.n_type]['mail'] = item.n_mail;
          this.config[item.n_group][item.n_type]['sms'] = item.n_sms;
        }
      });
      this.$axios.get('/api/admin/notification/contents').then(res => {
        this.notifications_content = res.data.data;
        // console.log(this.notifications_content);
        for (let item of this.notifications_content) {
          this.content[item.n_group][item.n_type]['mail']['subject'] = item.n_mail_subject;
          this.content[item.n_group][item.n_type]['mail']['contents'] = item.n_mail_contents;
          this.content[item.n_group][item.n_type]['sms']['subject'] = item.n_sms_subject;
          this.content[item.n_group][item.n_type]['sms']['contents'] = item.n_sms_contents;
        }
      });
    },
    toggleItem: function(key) {
      var i = this.toggleOpen.indexOf(key)
      if (i < 0) {
        this.toggleOpen.push(key)
      } else {
        this.toggleOpen.splice(i, 1)
      }
    },
    setNotification: function(id, type) {
      const formdata = new FormData();
      const mail_value = eval('this.config.' + id + '.' + type + '.mail');
      const sms_value = eval('this.config.' + id + '.' + type + '.sms');
      // console.log('value : ', mail_value, sms_value);
      formdata.append('n_group', id);
      formdata.append('n_type', type);
      formdata.append('n_mail', mail_value);
      formdata.append('n_sms', sms_value);

      this.$axios.post('/api/admin/notification/update', formdata
      ).then(res => {
        this.notifications = res.data.data;
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    },
    setNotificationContents: function(id, type, method) {
      const formdata = new FormData();
      const subject_value = eval('this.content.' + id + '.' + type + '.' + method + '.subject');
      const contents_value = eval('this.content.' + id + '.' + type + '.' + method + '.contents');
      formdata.append('n_group', id);
      formdata.append('n_type', type);
      formdata.append('n_subject', subject_value);
      formdata.append('n_contents', contents_value);
      formdata.append('method', method);

      this.$axios.post('/api/admin/notification/contents_update', formdata
      ).then(res => {
        this.notifications_contents = res.data.data;
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    }
  },
  // filters: {
  //   displayGroup: function(value) {
  //     return value == 'us' ? '회원' : value == 'pa' ? '결제' : '출품';
  //   },
  //   displayType: function(value) {
  //     return value == 'new' ? '신규 가입' : value == 'rest' ? '회원 휴면' : value == 'request' ? '결제 요청' : value == 'finish' ? '결제 완료' : value == 'over' ? '결제 만료' : value == 'tax' ? '세금계산서 발행 완료' : value == 'notice' ? '출품 행사 알림' : value == 'deadline' ? '출품 마감 알림' : value == 'finish' ? '출품 완료' : value == 'prize' ? '수상' : '연감 요청';
  //   }
  // }
}
</script>