<template>
  <div v-if="permission && !$store.state.skeleton">
    <ul class="list-card">
      <li>
        <v-card tile>
          <v-card-title>
            이용 약관
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="setEditor(1)" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="term1_dsc"
              label="부가설명"
              autocomplete="off"
              rows="3"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors mb-2"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
            <v-textarea
              v-model="term1"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            개인정보 취급방침
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="setEditor(2)" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="term2_dsc"
              label="부가설명"
              autocomplete="off"
              rows="3"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors mb-2"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
            <v-textarea
              v-model="term2"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            출품 약관
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="setEditor(3)" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="term3"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            선택사항 약관
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="setEditor(4)" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="term4"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
      <li>
        <v-card tile>
          <v-card-title>
            법적 고지
            <v-spacer></v-spacer>
            <v-btn depressed tile text small @click="setEditor(5)" class="btnSetTerm btn-type-link">저장하기</v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-textarea
              v-model="term5_dsc"
              label="부가설명"
              autocomplete="off"
              rows="3"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors mb-2"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
            <v-textarea
              v-model="term5"
              label="내용"
              autocomplete="off"
              rows="8"
              row-height="30"
              auto-grow
              solo
              flat
              hide-details
              class="editors"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-textarea>
          </v-card-text>
        </v-card>
      </li>
    </ul>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/config/Terms.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '기본설정', title_sub_2: '약관 설정' },
      permission: false,

      term1: '',
      term2: '',
      term3: '',
      term4: '',
      term5: '',

      term1_dsc: '',
      term2_dsc: '',
      term5_dsc: '',

      snackbar: {
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  methods: {
    fetchItems() {
      this.checkPermission('ba')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.$axios.get('/api/admin/terms').then(res => {
        // console.log(res.data.data);
        this.term1 = res.data.data[0].contents;
        this.term2 = res.data.data[1].contents;
        this.term3 = res.data.data[2].contents;
        this.term4 = res.data.data[3].contents;
        this.term5 = res.data.data[4].contents;
        this.term1_dsc = res.data.data[0].description;
        this.term2_dsc = res.data.data[1].description;
        this.term5_dsc = res.data.data[4].description;
      });
    },
    setEditor: function(id) {
      const contents = eval('this.term' + id);
      const description = eval('this.term' + id + '_dsc') ? eval('this.term' + id + '_dsc') : '';
      const formdata = new FormData();
      formdata.append('id', id);
      formdata.append('contents', contents);
      formdata.append('description', description);

      this.$axios.post('/api/admin/terms/update', formdata).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    }
  }
}
</script>