<template>
  <v-container fluid class="fill-height pa-0">

    <section class="section section-find full d-flex justify-end">
      <v-img
        v-if="$vuetify.breakpoint.mdAndUp"
        src="https://picsum.photos/id/299/3000/1688?grayscale"
        lazy-src="https://picsum.photos/id/299/30/17?grayscale"
        height="100vh"
      >
        <template v-slot:placeholder>
          <v-row class="loading-image">
            <v-progress-circular indeterminate></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      <div class="half half-40 d-flex justify-center align-center">

        <div v-if="!$store.state.skeleton" class="inner">
          <div class="title_area">
            <h1 class="title-2">회원정보 찾기</h1>
          </div>

          <div v-if="idFound" class="find_result">
            <div class="con ">아이디 찾기가 완료되었습니다<br>회원님의 아이디는 <span>{{idFound}}</span> 입니다</div>
            <v-btn depressed tile text outlined large :to="{name: 'userLogin', query: { redirect: '/main'}}" class="btn-login">로그인 하기</v-btn>
          </div>

          <div v-else-if="pwFound" class="find_result">
            <div class="con ">담당자 이메일로 비밀번호 변경 메일이 발송되었습니다</div>
            <v-btn depressed tile text outlined large :to="{name: 'userLogin', query: { redirect: '/main'}}" class="btn-login">로그인 하기</v-btn>
          </div>

          <v-form
            v-else
            ref="form"
            v-model="formValid"
          >

            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="u_email"
                  :rules="[rules.required, rules.email]"
                  label="이메일"
                  placeholder="담당자 이메일 주소 입력"
                  autocomplete="off"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>

            <div class="btn_area">
              <v-tooltip bottom :disabled="formValid" content-class="clear warn">
                <template v-slot:activator="{ on }">
                  <div v-on="on">
                    <v-btn depressed tile text outlined default @click="find_id" class="btn-type-angle" :disabled="!formValid">아이디 찾기
                      <v-icon right>xi-angle-right</v-icon>
                    </v-btn>
                  </div>
                </template>
                <span>이메일을 입력해 주세요</span>
              </v-tooltip>
              <v-tooltip bottom :disabled="formValid" content-class="clear warn">
                <template v-slot:activator="{ on }">
                  <div v-on="on">
                    <v-btn depressed tile text outlined default @click="find_pw" class="btn-type-angle" :disabled="!formValid">비밀번호 찾기
                      <v-icon right>xi-angle-right</v-icon>
                    </v-btn>
                  </div>
                </template>
                <span>이메일을 입력해 주세요</span>
              </v-tooltip>
            </div>

          </v-form>
        </div>

        <skeleton v-else></skeleton>

      </div>
    </section>

  </v-container>
</template>

<script>
import Skeleton from '@/components/skeleton/user/member/Login.vue';

export default {
  components: {
    Skeleton: Skeleton,
  },
  data() {
    return {
      formValid: false,

      u_email: '',
      idFound: '',
      pwFound: '',

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        idLength: value => {
          const pattern = /^[A-Za-z0-9+]{5,16}$/
          return pattern.test(value) || '<i class="xi xi-close"></i>5~16자의 영문,숫자로 입력해주세요'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '<i class="xi xi-close"></i>올바른 이메일 형식으로 입력해 주세요'
        },
      },

      snackbar: {
        notfound: { content: '회원정보를 확인할 수 없습니다. 가입한 이메일을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    };
  },
  mounted() {
      this.idFound = '';
      this.pwFound = '';
  },
  methods: {
    find_id() {
      const formdata = new FormData();
      formdata.append('u_email', this.u_email);
      
      this.$axios.post(
        '/api/auth/find_userid',formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.idFound = res.statusText.replace(/\"/gi, "");
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.notfound);
      });
    },
    find_pw() {
      const formdata = new FormData();
      formdata.append('u_email', this.u_email);

      this.$axios.post(
        '/api/auth/find_userpassword',formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.pwFound = res.statusText.replace(/\"/gi, "");
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.notfound);
      });
    }
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/login.scss";
</style>
