<template>
  <!-- <div v-if="!$store.state.skeleton" class="container container-full-width"> -->
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">회원가입</h1>
      </div>

      <v-stepper v-model="stepJoin" alt-labels class="step-join">
        <v-stepper-header>
          <v-stepper-step :complete="stepJoin > 1" step="1">약관 및 <br>개인정보 처리 동의</v-stepper-step>
          <v-icon>xi-angle-right</v-icon>
          <v-stepper-step :complete="stepJoin > 2" step="2">회원 <br>정보 입력</v-stepper-step>
          <v-icon>xi-angle-right</v-icon>
          <v-stepper-step step="3">회원 <br>가입 완료</v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <join-term @termValid="termValid"></join-term>
            <div class="btn-area-bottom text-right">
              <v-tooltip top :disabled="step1Valid" content-class="clear warn">
                <template v-slot:activator="{ on }">
                    <div v-on="on" class="d-inline-flex">
                      <v-btn depressed tile text outlined large @click="nextStep" :disabled="!step1Valid" class="btn-type-angle">다음 단계로
                        <v-icon right>xi-angle-right</v-icon>
                      </v-btn>
                    </div>
                </template>
                <span>필수 항목에 동의해 주세요</span>
              </v-tooltip>
            </div>
          </v-stepper-content>

          <v-stepper-content step="2">
            <join-form @formValid="formValid" @join_info="set_join_info" @formComplete="nextStep"></join-form>
            <div class="btn-area-bottom text-right">
              <div class="d-inline-flex">
                <!-- <v-btn depressed tile text outlined large @click="nextStep" class="btn-type-angle">완료 임시 버튼
                  <v-icon right>xi-angle-right</v-icon>
                </v-btn> -->
              </div>
            </div>
          </v-stepper-content>

          <v-stepper-content step="3">
            <join-complete :join_info="join_info"></join-complete>
            <div class="btn-area-bottom bt2 text-center">
              <v-btn depressed tile text outlined default to="/login" class="btn-type-angle">로그인 하기
                <v-icon right>xi-angle-right</v-icon>
              </v-btn>
              <v-btn depressed tile text outlined default to="/main" class="btn-type-angle ml-5">첫 화면 이동
                <v-icon right>xi-angle-right</v-icon>
              </v-btn>
            </div>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </div>
  </div>

  <!-- <skeleton v-else></skeleton> -->
</template>

<script>
  // import Skeleton from '@/components/skeleton/user/member/Join.vue';
  import JoinTerm from '@/components/user/member/JoinTerm.vue';
  import JoinForm from '@/components/user/member/JoinForm.vue';
  import JoinComplete from '@/components/user/member/JoinComplete.vue';

  export default {
    components: {
      // Skeleton: Skeleton,
      JoinTerm: JoinTerm,
      JoinForm: JoinForm,
      JoinComplete: JoinComplete,
    },
    data () {
      return {
        stepJoin: 1,
        step1Valid: false,
        step2Valid: false,
        join_info: {},
      }
    },
    methods: {
      nextStep () {
        this.$vuetify.goTo(0, {duration: 500, offset: -300, easing: 'easeInOutCubic'})
        setTimeout(() => {
          this.stepJoin = this.stepJoin + 1;
          setTimeout(() => {
            this.$store.commit('setOffsetBottom');
          }, 0);
        }, 500);
      },
      termValid(value) {
        this.step1Valid = value;
      },
      formValid(value) {
        this.step2Valid = value;
      },
      set_join_info(value) {
        this.join_info = value;
      }
    }
  }
</script>

<style lang="scss">
@import "@/../../assets/sass/join.scss";
</style>