<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">회원가입</h1>
        <div class="title-sub-1">회원가입 전 반드시 주의사항 내용을 충분히 숙지하신 후 가입하여 주시기 바랍니다.</div>
      </div>
    </div>

    <section class="section section-items section-join-guide cols-2">
      <div class="container container-inner container-basic">
        <div class="con-left">
          <div class="title-3">회원가입 시 주의사항</div>
        </div>
        <div class="con-right">
          앤어워드의 출품은 반드시 개발사(공동개발사 포함)와 고객사의 사전 합의하에 진행해야 하며 합의되지 않은 출품으로 인한 문제에 대해서 본 위원회는 책임지지 않습니다.<br><br>
          앤어워드는 영리를 목적으로 하지 않습니다.<br>
          수상인증 비용은 최소한의 실비만을 받고 있으며, 이는 업계 발전을 위한 앤어워드의 운영,제작,홍보 등의 각종 제반소요 비용에 필요한 금액임으로 출품 시 해당 사항을 반드시 숙지하시어, 제작사와 고객사의 합의 하에 출품을 해 주시기 바랍니다.<br><br>
          수상 시 트로피는 하나의 수상작에 한해 개발사와 고객사에 공동 수여하지만, 제작 지원금은 각기 납부함을 원칙으로 합니다.<br>
          (양사의 합의 하에 한 회사에서 일괄처리 가능)<br><br>
          수상 시 해당 수상인증비용은 공문 및 개별연락을 통해 납부안내를 드리고 있습니다.<br>
          수상인증비용 미납 시 수상이 취소되며, 수상사에게 제공하는 모든 인증 및 절차는 진행되지 않음을 원칙으로 합니다.
        </div>
      </div>
    </section>

    <section class="section section-items section-join-guide">
      <div class="container container-inner container-basic">
        <v-divider></v-divider>
      </div>
    </section>

    <section class="section section-items section-join-guide cols-2">
      <div class="container container-inner container-basic">
        <div class="con-left">
          <div class="title-3">수상인증비용</div>
        </div>
        <div class="con-right">
          전 분야 공히 수상트로피 제작 비용 납부 필요<br>
          개발사/고객사 각 55만원(부가세 별도)<br><br>
          * 납부방법 안내는 수상작 발표 후 개별 공지드립니다.<br><br>
          유의사항<br><br>
          <ul class="list-num">
            <li>트로피 제작 전 수상사는 정확한 작품명 및 회사명 등의 확인•전달이 필수이며 기재 오류로 인한 트로피 재 제작 시 그 책임은 수상사에 있습니다.</li>
            <li>수상사(개발사 혹은 제작사)의 기재오류로 인한 트로피 재 제작 요청 시 추가 제작으로 간주하며 제작비용 납부가 필요합니다. (각 55만원/부가세 별도)</li>
            <li>추가 트로피 제작을 원할 경우 개별 연락 바랍니다.</li>
            <li>단독출품 및 공동제작 또는 복수의 고객사일 경우 수상 확정 후 반드시 필요 트로피 수량을 알려주십시오.</li>
            <li>공동제작 또는 복수의 고객사일 경우 수상 확정 후 필요 트로피 수량을 알려주셔야 합니다.</li>
            <li>출품사 및 고객사가 트로피를 제작하지 않을 경우, 수상은 자동 취소되며 수상에 대한 대외 홍보 또한 진행 할 수 없습니다.</li>
            <li>고객사에서 트로피 제작을 원치 않으시는 경우에는 개발사만 트로피 제작 및 수령이 가능하나, 고객사로부터의 트로피 제작을 원치 않는다는 공문을 요청드릴 수 있습니다. </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- <section class="section section-items section-join-guide">
      <div class="container container-inner container-basic">
        <v-divider></v-divider>
      </div>
    </section> -->

    <!-- <section class="section section-items section-join-guide cols-2">
      <div class="container container-inner container-basic">
        <div class="con-left">
          <div class="title-3">홍보지원 안내</div>
        </div>
        <div class="con-right">
          앤어워드의 출품은 반드시 제작사(공동제작사 포함)와 고객사의 사전 합의하에 진행해야 하며 합의되지 않은 출품으로 인한 문제에 대해서 본 위원회는 책임지지 않습니다.<br><br>
          앤어워드는 영리를 목적으로 하지 않습니다.<br>
          수상인증 비용은 최소한의 실비만을 받고 있으며, 이는 업계 발전을 위한 앤어워드의 운영,제작,홍보 등의 각종 제반소요 비용에 필요한 금액임으로 출품 시 해당 사항을 반드시 숙지하시어, 제작사와 고객사의 합의 하에 출품을 해 주시기 바랍니다.<br><br>
          수상 시 트로피는 하나의 수상작에 한해 제작사와 고객사에 공동 수여하지만, 제작 지원금은 각기 납부함을 원칙으로 합니다.<br>
          (양사의 합의 하에 한 회사에서 일괄처리 가능)<br><br>
          수상 시 해당 수상인증비용은 공문 및 개별연락을 통해 납부안내를 드리고 있습니다.
          수상인증비용 미납 시 수상이 취소되며, 수상사에게 제공하는 모든 인증 및 절차는 진행되지 않음을 원칙으로 합니다.
        </div>
      </div>
    </section> -->

    <div class="btn-area-bottom text-right">
      <div class="container container-inner container-basic">
        <v-btn depressed tile text outlined large href="/join" class="btn-type-angle">회원가입
          <v-icon right>xi-angle-right</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
      }
    },
    methods: {
    }
  }
</script>

<style lang="scss">
@import "@/../../assets/sass/join.scss";
</style>