<template>
  <div class="content">
    <v-card class="join-complete">
      <v-card-title>메일 인증 완료 시 <br class="hidden-md-and-up">회원 가입이 <br class="hidden-md-and-up">완료 됩니다</v-card-title>
      <v-card-text>
        <div class="con">회원님의 아이디는 <span>{{join_info.u_id}}</span> 입니다<br><span>{{join_info.u_email}}</span> 로 전송된 <br class="hidden-md-and-up">인증 메일을 확인해 주시기 바랍니다.<br>회원가입 해주셔서 감사합니다</div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'join-form',
  props: {
    join_info: {
      type: Object,
      default: () => {
        return []
      }
    },
  },
  data () {
    return {
      u_id: '',
      u_email: '',
    }
  },
  methods: {
  },
}
</script>