<template>
  <div class="content">
    <v-form
      ref="form"
      v-model="formValid"
    >

      <section class="section section-items section-join cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">이용 약관 동의</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <div class="scrollable user_terms pre-formatted" v-html="terms_of_service"></div>
              </li>
              <li>
                <v-checkbox
                  v-model="agree_terms"
                  label="이용 약관에 동의합니다"
                  :rules="[rules.required]"
                  off-icon ="mdi-square"
                  on-icon ="mdi-square"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section section-items section-join cols-2">
        <div class="container container-inner container-basic">
          <div class="con-left">
            <span class="title-3">개인정보 취급방침 동의</span>
          </div>
          <div class="con-right">
            <ul class="list-input">
              <li>
                <div class="scrollable user_terms pre-formatted" v-html="privacy_policy"></div>
              </li>
              <li>
                <v-checkbox
                  v-model="agree_privacy"
                  label="개인정보 취급방침에 동의합니다"
                  :rules="[rules.required]"
                  off-icon ="mdi-square"
                  on-icon ="mdi-square"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-checkbox>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </v-form>
  </div>
</template>

<script>
  export default {
    name: 'join-term',
    data () {
      return {
        formValid: false,

        terms_of_service: '',
        privacy_policy: '',

        agree_terms: false,
        agree_privacy: false,

        rules: {
          required: value => !!value || '<i class="xi xi-close"></i>필수 동의 항목입니다',
        },
      }
    },
    mounted() {
      this.$axios.get('/api/service/terms/1'
      ).then(res => {
        this.terms_of_service = res.data.data.contents;
        // console.log(this.terms_of_service);
      });

      this.$axios.get('/api/service/terms/2'
      ).then(res => {
        this.privacy_policy = res.data.data.contents;
        // console.log(this.privacy_policy);
      });
    },
    created() {
      this.terms_of_service = `<p>나는 내일 다하지 멀리 지나가는 까닭입니다. 걱정도 청춘이 이름자를 노새, 나는 듯합니다. 옥 하나에 별 헤일 이름과, 새워 듯합니다. 이 것은 아이들의 청춘이 했던 책상을 위에도 봅니다. 말 쓸쓸함과 내일 가난한 이런 무성할 둘 있습니다. 이름자를 남은 비둘기, 별 것은 슬퍼하는 풀이 토끼, 까닭입니다. 별 이제 없이 내 언덕 이름과, 이네들은 봅니다. 아름다운 지나가는 걱정도 별 이제 부끄러운 이름자를 까닭입니다. 쓸쓸함과 하나에 하나 무성할 하나에 거외다. 한 오면 하나에 써 계십니다. 아름다운 까닭이요, 이네들은 까닭입니다.</p>아무 걱정도 동경과 다하지 패, 하늘에는 가난한 지나고 있습니다. 별 별이 나는 걱정도 같이 피어나듯이 거외다. 위에도 멀리 헤일 별 위에 둘 지나고 하나에 듯합니다. 하나 봄이 별 소학교 무덤 봅니다. 추억과 같이 이웃 까닭입니다. 밤을 위에도 없이 같이 거외다. 가을로 동경과 시와 애기 다 슬퍼하는 이네들은 어머님, 무엇인지 봅니다. 당신은 하나에 북간도에 계집애들의 비둘기, 이네들은 토끼, 별빛이 봅니다. 북간도에 헤일 아이들의 계집애들의 별 버리었습니다. 위에도 나는 다하지 까닭입니다. 슬퍼하는 하나의 노루, 동경과 풀이 하나에 언덕 있습니다.<p>이 불러 나의 나는 슬퍼하는 걱정도 이름과 패, 있습니다. 오면 봄이 남은 된 까닭입니다. 오면 하나에 마디씩 어머님, 까닭입니다. 써 릴케 나는 벌써 이런 청춘이 까닭입니다. 불러 별을 써 풀이 계십니다. 하늘에는 아직 자랑처럼 사랑과 까닭입니다. 벌써 잔디가 소학교 계절이 말 내 계십니다. 애기 묻힌 가을로 남은 가슴속에 있습니다. 했던 릴케 아직 하늘에는 까닭이요, 그리고 계절이 애기 어머니, 듯합니다. 풀이 피어나듯이 패, 토끼, 이제 하나에 이름과, 계십니다.</p><p>라이너 하늘에는 마리아 둘 내 까닭입니다. 하나에 아직 소녀들의 별이 하나의 아침이 아스라히 아무 내 듯합니다. 시와 패, 이런 어머니, 있습니다. 이름을 풀이 보고, 책상을 이름과 잔디가 별들을 옥 있습니다. 별 옥 나의 봅니다. 그리워 이름과, 이름과 이런 봅니다. 아침이 어머니 어머님, 아이들의 그리워 옥 봅니다. 이름을 노새, 같이 마디씩 가을 아직 다 이런 프랑시스 있습니다. 이런 벌써 밤이 부끄러운 별이 책상을 너무나 봅니다. 것은 청춘이 소녀들의 하나에 듯합니다. 헤는 무엇인지 것은 까닭입니다.</p><p>아름다운 보고, 가을 것은 거외다. 이런 어머님, 북간도에 아스라히 까닭입니다. 어머니, 쓸쓸함과 걱정도 언덕 소녀들의 있습니다. 별에도 불러 청춘이 어머님, 않은 이름을 노새, 새워 가슴속에 듯합니다. 많은 계집애들의 까닭이요, 어머니 다 있습니다. 가득 차 벌써 흙으로 지나고 잔디가 봅니다. 내린 별 것은 어머님, 별 헤일 당신은 하나의 별 있습니다. 나는 시와 아이들의 같이 하나에 않은 내일 있습니다. 나의 새워 위에 별 듯합니다.</p><p>둘 하늘에는 불러 이름자를 어머니, 애기 잠, 까닭입니다. 잠, 풀이 가난한 당신은 부끄러운 별이 하늘에는 무성할 까닭입니다. 소녀들의 별이 무성할 쉬이 풀이 우는 하늘에는 한 자랑처럼 듯합니다. 헤일 때 이름과, 우는 별들을 패, 나는 된 까닭입니다. 사랑과 소녀들의 계집애들의 까닭이요, 별 라이너 내일 까닭입니다. 나의 청춘이 추억과 봅니다. 파란 하나에 이름과, 봄이 계절이 이름과 애기 있습니다. 별 겨울이 어머님, 무엇인지 위에 듯합니다. 어머님, 사람들의 청춘이 계집애들의 듯합니다. 불러 시와 하나의 하나에 이름과, 새워 딴은 아스라히 무엇인지 있습니다. 다하지 별 계집애들의 차 별 나의 멀리 그러나 이웃 듯합니다.</p>`;

      this.privacy_policy = `앤어워드 조직위원회(이하 ‘앤어워드’라 합니다)는 개인정보 보호법, 정보통신망 이용촉진 및정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법규상의 개인정보보호 규정을 준수하며, 관련법령에 의거한 개인정보처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. 앤어워드의 개인정보처리방침은 다음과 같은 내용을 담고 있습니다.

1. 개인정보의 처리 목적

앤어워드는 회원관리, 서비스 개발·제공 및 향상 등 아래의 목적으로만 개인정보를 처리합니다. 처리하고 있는 개인정보는 아래의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.

가. 홈페이지 회원 가입 및 관리 회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별∙인증, 회원자격 유지∙관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리시 법정대리인의 동의여부 확인, 각종 고지∙통지, 서비스 이용 문의 응대, 고충처리 등을 목적으로 개인정보를 처리합니다.

나. 재화 또는 서비스 제공 물품배송, 서비스 제공, 계약서∙청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증, 성인 컨텐츠 접근 가능 여부 확인, 출품료 등 요금결제∙정산, 채권추심 등을 목적으로 개인정보를 처리합니다.

다. 고충처리 이용자의 신원 확인, 요청사항 확인, 사실조사를 위한 연락∙통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.

라. 기타 그 외에 이용 현황 파악을 위한 통계 데이터 축적, 캠페인 이벤트 참여,중요 공지사항의 전달, 이벤트 및 광고 전달, 새로운 컨텐츠 추천 등의 목적으로 개인정보를 처리합니다.

2. 개인정보의 처리 및 보유 기간

앤어워드는 법령에 따른 개인정보 보유∙이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유∙이용기간 내에서 개인정보를 처리∙보유합니다. 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.

가. 홈페이지 회원 가입 및 관리 : 앤어워드 회원 탈퇴시까지 다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료시까지 1) 관계 법령 위반에 따른 수사․조사 등이 진행 중인 경우에는 해당 수사∙조사 종료시까지 2) 홈페이지 이용에 따른 채권∙채무관계 잔존시에는 해당 채권∙채무관계 정산시까지 3) 부정가입 및 징계기록 등의 부정이용기록은 부정 가입 및 이용 방지를 위하여 수집 시점으로부터 6개월까지

나. 재화 또는 서비스 제공 : 재화∙서비스 공급완료 및 출품료 등 결제∙정산완료시까지. 다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료시까지 1) 「전자상거래 등에서의 소비자 보호에 관한 법률」에 따른 표시․광고, 계약내용 및 이행 등 거래에 관한 기록 - 표시∙광고에 관한 기록 : 6월 - 계약 또는 청약철회, 대금결제, 재화 등의 공급기록 : 5년 - 소비자 불만 또는 분쟁처리에 관한 기록 : 3년 2)「통신비밀보호법」제41조에 따른 통신사실확인자료 보관 - 가입자 전기통신일시, 개시∙종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년 - 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월 3) 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」시행령 제29조에 따른 본인확인정보 보관 : 게시판에 정보 게시가 종료된 후 6개월

다. 고충처리 및 기타 : 이용목적 달성 또는 회원 탈퇴 등 동의 철회시까지

3. 개인정보의 제3자 제공

앤어워드는 정보주체의 개인정보를 개인정보의 처리 목적에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.

4. 개인정보처리의 위탁

앤어워드는 고객의 동의 없이 고객의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 고객에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.

5. 이용자와 법정대리인의 권리·의무 및 행사방법

가. 이용자는 앤어워드에 대해 언제든지 개인정보 열람∙정정∙삭제∙처리정지요구 등의 권리를 행사할 수 있습니다.

나. 위 권리 행사는 앤어워드에 대해 개인정보보호법 시행령 제41조제1항에 따라 서면, 전화, 전자우편, 팩스 등을 통하여 하실 수 있으며, 앤어워드는 이에 대해 지체 없이 조치하겠습니다.

다. 위 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.

라. 개인정보 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.

마. 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.

바. 앤어워드는 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인 인지를 확인합니다.

6. 처리하는 개인정보 항목

앤어워드는 다음의 개인정보 항목을 처리하고 있습니다.

가. 회원 가입 및 관리 필수항목 : 기업명, 대표자명, 회사대표 이메일, 회사 웹사이트 URL, 회사 주소, 사업자등록증 사본, 담당자 정보

나. 재화 또는 서비스 제공 모바일 결제 정보(성공한 결제 내역 정보), 웹 결제 정보(계약된 PG사에 전달된 결제 정보, 성인인증정보(실명과생년월일 등 대한민국 정부에서 공인한 기관에서 요청한 정보)

다. 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다. IP주소, 쿠키, MAC주소, 디바이스 또는 브라우저 정보, 조회된 도메인, 서비스 이용기록, 이용통신사 구분, 방문기록, 불량 이용기록 등 (특히 로그 데이터는 일부 통계 정보 가공을 위해 개인정보보호법의 개인 식별 정보를 제외하고 가공될 수 있습니다.)

7. 개인정보 수집방법

앤어워드는 아래의 방법을 통해 개인정보를 수집합니다. 홈페이지나 모바일앱을 통한 회원가입 및 출품신청, 기타 서비스를 이용하는 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우 해당 개인정보를 수집합니다. 고객센터 등 앤어워드의 담당자를 통한 상담과정에서 웹페이지, 메일, 팩스,전화 등을 통해 이용자의 개인정보가 수집될 수 있습니다. 오프라인에서 진행되는 이벤트, 세미나 등에서 서면을 통해 개인정보가 수집될 수 있습니다.

앤어워드와 제휴한 외부 기업이나 단체로부터 개인정보를 제공받을 수 있으며, 이러한 경우에는 정통망법에 따라 제휴사에서 이용자에게 개인정보 제공동의 등을 받은 후에 &Award에 제공합니다. 기기정보와 같은 생성정보는 PC웹, 모바일 웹/앱 이용과정에서 자동으로 생성되어 수집될 수 있습니다.

8. 개인정보의 파기

앤어워드는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다. 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다. 개인정보 파기의 절차 및 방법은 다음과 같습니다.

가. 파기절차 앤어워드는 파기 사유가 발생한 개인정보를 선정하고, 앤어워드의 개인정보보호책임자의 승인을 받아 개인정보를 파기합니다.

나. 파기방법 앤어워드는 전자적 파일 형태로 기록∙저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.

9. 개인정보의 안전성 확보조치

앤어워드는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.

가. 관리적 조치 : 내부관리계획 수립∙시행, 정기적 직원 교육 등

나. 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템설치, 고유식별정보 등의 암호화, 보안프로그램 설치

다. 물리적 조치 : 전산실, 자료보관실 등의 접근통제

10. 개인정보 자동 수집 장치의 설치·운영 및 그 거부에 관한 사항

앤어워드는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.

가. 쿠키의 사용목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.

나. 쿠키의 설치·운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다.

다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.

11. 개인정보 보호책임자 앤어워드는 이용자의 개인정보 관련 문의사항 및 불만 처리 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.

개인정보 보호책임자 이름 : 허지웅 소속 : 앤어워드 조직위원회 직위 : 국장 전화 : 02-3462-5627 이메일 : heo4@dea.or.kr

개인정보 보호담당부서 담당부서 : 앤어워드 조직위원회 사무국 전화 : 02-3462-5627 이메일 : master@dea.or.kr

이용자께서는 앤어워드의 서비스를 이용하시면서 발생한 모든 개인정보 보호관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자에게 문의하실 수 있습니다. 앤어워드는 정보주체의 문의에 대해 지체 없이 답변 및 처리를 해드릴 것입니다.

기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.

개인정보침해신고센터(http://privacy.kisa.or.kr / 국번없이 118) 개인정보분쟁조정위원회(http://www.kopico.go,kr / 국번없이 1833-6972) 대검찰청 사이버수사과(http://www.spo.go.kr / 국번없이 1301) 경찰청 사이버안전국(http://cyberbureau.police.go.kr / 국번없이 182)

12. 개정 전 고지의무

현 개인정보처리방침의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일전에 홈페이지 ‘공지사항’을 통해 고지 할 것입니다. 다만, 수집하는 개인정보의 항목, 제3자 제공, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 고지하며, 필요 시 이용자 동의를 다시 받을 수도 있습니다.

13. 개인정보처리방침의 변경

본 개인정보 처리방침은 2018. 10. 19부터 적용됩니다.

이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다. 2011. 10. 10 ~ 2019. 10. 18 적용`;
    },
    watch: {
      formValid(value) {
        this.$emit('termValid', value);
      }
    },
    methods: {
    },
  }
</script>

<style lang="scss" scoped>
  .list-input li {
    margin-bottom: 20px;
  }
</style>
