<template>
  <v-container fluid class="fill-height fill-login pa-0">

    <section class="section section-login full d-flex justify-end">
      <v-img
        v-if="$vuetify.breakpoint.mdAndUp"
        src="/assets/img/member/bg-login.png"
        height="100vh"
      >
        <template v-slot:placeholder>
          <v-row class="loading-image">
            <v-progress-circular indeterminate></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      <div class="half half-40 d-flex justify-center align-center">

        <!-- <div v-if="!$store.state.skeleton" class="inner"> -->
        <div class="inner">
          <div v-if="!$vuetify.breakpoint.mdAndUp || minHeight" class="title_area">
            <h1 class="title-5">앤어워드 방문을 환영합니다</h1>
          </div>
          <!-- <div class="help-login">
            <v-icon>mdi-information</v-icon>
            <div>홈페이지 리뉴얼로 인하여 기존 가입해 주신 기업들도 <br class="hidden-xs-only">새롭게 재가입해 주셔야 함을 양해 바랍니다.</div>
          </div> -->

          <v-form
            ref="form"
            v-model="formValid"
          >

            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="u_id"
                  :rules="[rules.idLength]"
                  label="아이디"
                  placeholder="아이디를 입력해주세요"
                  hint="5~16자의 영문,숫자로 입력해주세요"
                  maxlength="16"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
              <li>
                <v-text-field
                  v-model="u_password"
                  :rules="[rules.password]"
                  :type="showPassword1 ? 'text' : 'password'"
                  label="비밀번호"
                  placeholder="비밀번호를 입력해주세요"
                  hint="8~24자의 영문,숫자,특수문자 조합으로 입력해주세요"
                  maxlength="24"
                  :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword1 = !showPassword1"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>

            <v-tooltip bottom :disabled="formValid" content-class="clear warn">
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <v-btn depressed tile text outlined large @click="submitJoin" class="btn-login" :disabled="!formValid">로그인 하기</v-btn>
                </div>
              </template>
              <span>아이디와 비밀번호를 입력해 주세요</span>
            </v-tooltip>

            <div class="utill_area">
              <v-btn href="/join-guide" depressed tile text small class="btn-type-link btn-join">회원가입 하기</v-btn>
              <v-btn href="/find_userinfo" depressed tile text small>혹시 계정을 잊으셨나요?</v-btn>
            </div>

          </v-form>
        </div>

        <!-- <skeleton v-else></skeleton> -->
        
      </div>
    </section>

  </v-container>
</template>

<script>
import Skeleton from '@/components/skeleton/user/member/Login.vue';

export default {
  components: {
    Skeleton: Skeleton,
  },
  data() {
    return {
      formValid: false,
      showPassword1: false,

      u_id: '',
      u_password: '',

      pageheight: 0,
      minHeight: true,

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        idLength: value => {
          const pattern = /^[A-Za-z0-9+]{5,16}$/
          return pattern.test(value) || '<i class="xi xi-close"></i>5~16자의 영문,숫자로 입력해주세요'
        },
        password: value => {
          const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/
          return pattern.test(value) || '<i class="xi xi-close"></i>8~24자의 영문,숫자,특수문자 조합으로 입력해주세요'
        },
      },

      snackbar: {
        notuser: { content: '회원정보를 찾을 수 없습니다. 아이디를 확인해 주세요', color: 'error', icon: 'xi-error-o' },
        notpass: { content: '비밀번호가 일치하지 않습니다', color: 'error', icon: 'xi-error-o' },
        notauth: { content: '메일인증 후 로그인하실 수 있습니다', color: '#ffffff', icon: 'xi-error-o', light: true },
        isdel: { content: '삭제 또는 휴면 처리된 회원입니다. 관리자에게 문의해 주세요', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    };
  },
  mounted() {
    this.onResize();
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },
  methods: {
    onResize(e) {
      this.pageheight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
      if (this.pageheight < 800) {
        this.minHeight = false;
      } else {
        this.minHeight = true;
      }
    },
    submitJoin () {
      const formdata = new FormData();
      formdata.append('u_id', this.u_id);
      formdata.append('u_password', this.u_password);
      
      this.$axios.post(
        '/api/auth/login',formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        // console.log(res);
        if (res.status == '200') {
            const login_state = res.data.data.u_no>0?true:false;
            const admin_state = res.data.data.ua_id>0?true:false;
            this.$store.commit('setAuthUser', login_state);
            this.$store.commit('setAuthAdmin', admin_state);

            if (this.$route.query.redirect) {
              if (this.$route.query.redirect == '/login') {
                location.href = '/main';
              } else {
                location.href = this.$route.query.redirect;
              }
            } else {
              location.href = '/main';
            }
        } else {
          this.$store.commit('showSnackbar', this.snackbar.notuser);
        }
      }).catch(err => {
        if (err.response.status == 404) {
          if (!err.response.data.data.is_exist_id) {
            this.$store.commit('showSnackbar', this.snackbar.notuser);
          } else if (err.response.data.data.is_exist_id || !err.response.data.data.is_right_pw) {
            this.$store.commit('showSnackbar', this.snackbar.notpass);
          }
        } else if (err.response.status == 401) {
          this.$store.commit('showSnackbar', this.snackbar.notauth);
        } else if (err.response.status == 403) {
          this.$store.commit('showSnackbar', this.snackbar.isdel);
        }
        // location.href = '/login';
      })
    },
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/login.scss";
</style>
