<template>
  <form action="/olduser" method="POST">
    <dl>
      <dt>아이디</dt>
      <dd><input type="text" name="old_id" id=""></dd>
      <dt>비밀번호</dt>
      <dd><input type="password" name="old_password" id=""></dd>
    </dl>
    <input type="submit" value="기존정보 찾기">
  </form>
  
</template>

<script>
  export default {

  }
</script>

<style>

</style>
