<template>
  <v-container fluid class="fill-height pa-0">

    <section class="section section-password full d-flex justify-end">
      <v-img
        v-if="$vuetify.breakpoint.mdAndUp"
        src="https://picsum.photos/id/299/3000/1688?grayscale"
        lazy-src="https://picsum.photos/id/299/30/17?grayscale"
        height="100vh"
      >
        <template v-slot:placeholder>
          <v-row class="loading-image">
            <v-progress-circular indeterminate></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      <div class="half half-40 d-flex justify-center align-center">

        <div v-if="!$store.state.skeleton" class="inner">
          <div class="title_area">
            <h1 class="title-2">비밀번호를<br>입력해주세요</h1>
          </div>

          <v-form
            ref="form"
            v-model="formValid"
          >

            <ul class="list-input">
              <li>
                <v-text-field
                  v-model="u_password"
                  :rules="[rules.password]"
                  :type="showPassword1 ? 'text' : 'password'"
                  label="비밀번호"
                  placeholder="비밀번호를 입력해주세요"
                  hint="8~24자의 영문,숫자,특수문자 조합으로 입력해주세요"
                  maxlength="24"
                  :append-icon="showPassword1 ? 'mdi-eye' : 'mdi-eye-off'"
                  @click:append="showPassword1 = !showPassword1"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </li>
            </ul>

            <v-tooltip bottom :disabled="formValid" content-class="clear warn">
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <v-btn depressed tile text outlined large @click="submitJoin" class="btn-login" :disabled="!formValid">비밀번호 변경</v-btn>
                </div>
              </template>
              <span>비밀번호를 입력해 주세요</span>
            </v-tooltip>

          </v-form>
        </div>

        <skeleton v-else></skeleton>
        
      </div>
    </section>

  </v-container>
</template>

<script>
import Skeleton from '@/components/skeleton/user/member/Login.vue';

export default {
  components: {
    Skeleton: Skeleton,
  },
  data() {
    return {
      formValid: false,
      showPassword1: false,

      auth_code : '',
      u_password : '',

      rules: {
        required: value => !!value || '<i class="xi xi-close"></i>필수 입력입니다',
        idLength: value => {
          const pattern = /^[A-Za-z0-9+]{5,16}$/
          return pattern.test(value) || '<i class="xi xi-close"></i>5~16자의 영문,숫자로 입력해주세요'
        },
        password: value => {
          const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/
          return pattern.test(value) || '<i class="xi xi-close"></i>8~24자의 영문,숫자,특수문자 조합으로 입력해주세요'
        },
      },

      snackbar: {
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        notchange: { content: '다른 비밀번호를 입력해 주세요', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    };
  },
  mounted() {
    this.auth_code = this.$route.query.code ? this.$route.query.code : '0';
  },
  methods: {
    submitJoin () {
      const formdata = new FormData();
      formdata.append('auth_code', this.auth_code);
      formdata.append('u_password', this.u_password);
      
      this.$axios.post(
        '/api/auth/update_userpassword',formdata,{
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        // console.log(res);
        this.$store.commit('showSnackbar', this.snackbar.complete);
        location.href = '/login';
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.notchange);
      }).finally(() => {
      })
    },
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/login.scss";
</style>
