<template>
  <v-skeleton-loader
    type="heading-xlarge, space@9, stepper-3"
    :types="{ 'stepper': 'stepper-title, stepper-box', 'stepper-3': 'stepper@3' }"
    tile
    class="container container-basic"
  >
  </v-skeleton-loader>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>