<template>
  <v-skeleton-loader
    type="heading-large-2, space@4, field-set-2, space@4, button-large"
    :types="{ 'heading-large-2': 'heading-large@2', 'field-set': 'label, field', 'field-set-2': 'field-set@2' }"
    tile
    class="inner"
  >
  </v-skeleton-loader>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>