<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top_area d-flex">
      <v-btn depressed tile text outlined @click="$router.go(-1)" class="btn-back"><v-icon>xi-angle-left</v-icon></v-btn>
      <div class="atitle">결제 상세 <span class="num">{{pay_info.p_no}}</span></div>
    </div>

    <div class="content_area">
      <table class="tb_user">
        <tbody>
          <tr>
            <th rowspan="3" class="stit">계정 정보</th>
            <th>아이디</th>
            <th>마지막 로그인 일자</th>
            <th>담당자명</th>
            <th>담당자 유선 번호 (내선)</th>
            <th>담당자 무선 번호</th>
            <th>담당자 이메일</th>
          </tr>
          <tr>
            <td><div class="holder">{{pay_info.u_id}}</div></td>
            <td><div class="holder">{{formatDate(pay_info.u_lastime)}}</div></td>
            <td><div class="holder">{{pay_info.u_name}}</div></td>
            <td><div class="holder">{{pay_info.u_phone1}}</div></td>
            <td><div class="holder">{{pay_info.u_phone2}}</div></td>
            <td><div class="holder">{{pay_info.u_email}}</div></td>
          </tr>
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <tr>
            <th rowspan="3" class="stit">접수 정보</th>
          </tr>
          <tr>
            <td colspan="6">
              <div class="tb_payment_detail_wrap">
                <v-data-table
                  v-model="work_selected"
                  :headers="headers"
                  :items="works"
                  item-key="wp_no"
                  :items-per-page="999"
                  hide-default-footer
                  sort-by="wp_no"
                  no-data-text="데이터가 없습니다"
                  no-results-text="일치하는 데이터가 없습니다"
                  :header-props="{'sort-icon': 'xi-sort-asc'}"
                  show-select
                >
                </v-data-table>
              </div>
            </td>
          </tr>
          <!-- <tr v-if="pay_info.p_taxrequest != 1"> -->
          <tr>
            <td colspan="6">
              <div class="btn_area">
                <v-spacer></v-spacer>
                <v-btn depressed tile text outlined x-small @click="openModal('cancel')">선택 삭제</v-btn>
                <!-- <v-btn depressed tile text outlined x-small @click="openModal('fin')" :disabled="pay_info.p_status==9">출품 확정</v-btn> -->
                <!-- <v-spacer></v-spacer> -->
                <v-btn depressed tile text outlined x-small @click="openModal('cancel_total')">전체 삭제</v-btn>
                <v-btn depressed tile text outlined x-small @click="openModal('fin_total')" :disabled="pay_info.p_status==9">전체 확정</v-btn>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="6" height="40"></td>
          </tr>
          <tr>
            <th rowspan="5" class="stit">결제 정보</th>
            <th>총 결제 금액</th>
            <th>접수 일시</th>
            <!-- <th>확정 일시</th> -->
            <!-- <th>출품 취소</th> -->
          </tr>
          <tr>
            <td><div class="holder">{{pay_info.p_totalprice | addComma}} 원</div></td>
            <td><div class="holder">{{formatDate(pay_info.p_wdate)}}</div></td>
            <!-- <td><div class="holder">{{formatDate(pay_info.p_findate)}}</div></td> -->
            <!-- <td><div class="holder">{{pay_info.u_id}}</div></td> -->
          </tr>
          <tr>
            <th>결제 유형</th>
            <th colspan="2">결제 일시</th>
            <!-- <th>{{pay_info.p_method == 'deposit' ? '입금 계좌번호' : '결제 승인번호'}}</th> -->
            <th>세금계산서 발행 요청</th>
            <th>사업자등록증 확인</th>
          </tr>
          <tr>
            <td><div class="holder">{{formatMethod(pay_info.p_method)}}</div></td>
            <td colspan="2"><div class="holder">{{formatDate(pay_info.p_subdate)}}</div></td>
            <!-- <td>
              <div class="holder">
                <span v-if="pay_info.p_method == 'deposit'">{{bank_name}} {{pay_info.p_account}}</span>
                <span v-else>{{pay_info.p_result}}</span>
                <v-tooltip v-model="tooltipCopy.p_result" top transition="slide-y-reverse-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn depressed tile text small @click="copyClipboard('p_result')" class="btn-type-copy">
                      <v-icon>xi-document</v-icon>
                    </v-btn>
                  </template>
                  <span>복사되었습니다</span>
                </v-tooltip>
              </div>
            </td> -->
            <td><div class="holder">{{ request_tax }}</div></td>
            <!-- <td><div class="holder"><a :href="pay_info.e_registration" target="_blank">확인하기</a></div></td> -->
            <td>
              <div class="holder">
                <a href="#" @click.prevent="openCarousel">확인하기</a>
              </div>
            </td>
          </tr>
          <!-- <tr v-if="pay_info.p_taxrequest == 1"> -->
          <tr>
            <td colspan="6"><v-divider></v-divider></td>
          </tr>
          <!-- <tr v-if="pay_info.p_taxrequest == 1"> -->
          <tr>
            <th rowspan="4" class="stit">세금계산서<br>발행 정보</th>
            <th colspan="3">사업장 주소</th>
            <th>사업자 등록번호</th>
            <th colspan="2">사업자등록증 업로드</th>
          </tr>
          <!-- <tr v-if="pay_info.p_taxrequest == 1"> -->
          <tr>
            <td colspan="3">
              <div class="holder">
                ({{pay_info.e_zipcode}}) {{pay_info.e_address1}} {{pay_info.e_address2}}
                <v-tooltip v-model="tooltipCopy.address" top transition="slide-y-reverse-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn depressed tile text small @click="copyClipboard('address')" class="btn-type-copy">
                      <v-icon>xi-document</v-icon>
                    </v-btn>
                  </template>
                  <span>복사되었습니다</span>
                </v-tooltip>
              </div>
            </td>
            <td><div class="holder">{{pay_info.e_number}}</div></td>
            <td colspan="2">
              <div v-if="pay_info.e_registration.length" class="holder">업로드됨</div>
              <div v-else class="holder">없음</div>
            </td>
          </tr>
          <!-- <tr v-if="pay_info.p_taxrequest == 1"> -->
          <tr>
            <th>업태</th>
            <th colspan="2">업종</th>
            <th colspan="2">세금계산서 발행 이메일</th>
          </tr>
          <!-- <tr v-if="pay_info.p_taxrequest == 1"> -->
          <tr>
            <td><div class="holder">{{pay_info.e_business}}</div></td>
            <td colspan="2"><div class="holder">{{pay_info.e_sector}}</div></td>
            <td colspan="2">
              <div class="holder" v-if="pay_info.enrollee_taxmail">
                {{pay_info.enrollee_taxmail}}
                <v-tooltip v-model="tooltipCopy.enrollee_taxmail" top transition="slide-y-reverse-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn depressed tile text small @click="copyClipboard('enrollee_taxmail')" class="btn-type-copy">
                      <v-icon>xi-document</v-icon>
                    </v-btn>
                  </template>
                  <span>복사되었습니다</span>
                </v-tooltip>
              </div>
              <div class="holder" v-else>
                  -
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- <div v-if="pay_info.p_taxrequest == 1" class="bottom_area d-flex"> -->
    <div class="bottom_area d-flex">
      <v-btn depressed tile text outlined x-small @click="downloadImage(pay_info.e_registration)">사업자등록증 다운받기</v-btn>
      <v-spacer></v-spacer>
      <v-btn depressed tile text outlined x-small @click="openModal('taxbill')" :disabled="pay_info.p_taxrequest!=1">세금계산서 발행</v-btn>
      <v-btn depressed tile text outlined x-small @click="openSend('sms')">SMS 발송하기</v-btn>
      <v-btn depressed tile text outlined x-small @click="openSend('email')">이메일 발송하기</v-btn>
    </div>

    <v-dialog
      v-model="modalCarousel"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-carousel dialog-admin"
      width="unset"
      scrollable
    >
      <v-card>
        <v-card-text>
          <v-img
            :src="pay_info.e_registration"
            style="width:auto; height:auto;">
          </v-img>
        </v-card-text>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalCarousel = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">확인</v-btn>
          <v-btn v-else-if="modalType == 'taxbill'" depressed tile text outlined small @click="set_request_tax()">발행</v-btn>
          <v-btn v-else-if="modalType == 'fin'" depressed tile text outlined small @click="set_work_status(2)">확정</v-btn>
          <v-btn v-else-if="modalType == 'cancel'" depressed tile text outlined small @click="set_cancel()">취소</v-btn>
          <v-btn v-else-if="modalType == 'fin_total'" depressed tile text outlined small @click="set_total_finish()">확정</v-btn>
          <v-btn v-else-if="modalType == 'cancel_total'" depressed tile text outlined small @click="set_total_cancel()">취소</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <send-email :sendEmail="this.sendEmail" :user_all="this.user_all" @close="closeSend"></send-email>
    <send-sms :sendSms="this.sendSms" :user_all="this.user_all" @close="closeSend"></send-sms>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/payment/PaymentDetail.vue';
import sendEmail from '@/components/admin/sendEmail.vue';
import sendSms from '@/components/admin/sendSms.vue';

export default {
  components: {
    noPermission,
    Skeleton,
    sendEmail,
    sendSms,
  },
  data() {
    return {
      titles: { title_sub_1: '결제관리', title_sub_2: '결제 현황' },
      permission: false,

      headers: [
        { text: '순번', value: 'wp_no', sortable: false, align: 'start td_wpno' },
        { text: '부문', value: 'cp_title', sortable: false },
        { text: '분야', value: 'c_title', sortable: false },
        { text: '출품명', value: 'w_title', sortable: false },
        { text: '출품 가액', value: 'total_price', sortable: false },
        // { text: '상태', value: 'status', sortable: false },
      ],

      pay_info: [],
      works: [],
      work_selected: [],
      p_no: '',
      method: '',

      modalCarousel: false,
      tooltipCopy: {
        address: false,
        enrollee_taxmail: false,
        p_result: false,
      },

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modalSend: '',
      sendType: '',
      sendEmail: false,
      sendSms: false,
      user_all: [],

      bank_name: '',
      bank_code: [
        {code: '01', name: '한국은행'},
        {code: '02', name: '산업은행'},
        {code: '03', name: '기업은행'},
        {code: '04', name: '국민은행'},
        {code: '05', name: '외환은행'},
        {code: '06', name: '주택은행'},
        {code: '07', name: '수협은행'},
        {code: '08', name: '수출입'},
        {code: '09', name: '장기신용'},
        {code: '10', name: '신농협중앙'},
        {code: '11', name: '농협중앙'},
        {code: '12', name: '농협회원'},
        {code: '13', name: '농협회원'},
        {code: '14', name: '농협회원'},
        {code: '15', name: '농협회원'},
        {code: '16', name: '축협중앙'},
        {code: '20', name: '우리은행'},
        {code: '21', name: '조흥은행'},
        {code: '22', name: '상업은행'},
        {code: '23', name: '제일은행'},
        {code: '24', name: '한일은행'},
        {code: '25', name: '서울은행'},
        {code: '26', name: '신한은행'},
        {code: '27', name: '한미/시티은행'},
        {code: '28', name: '동화은행'},
        {code: '29', name: '동남은행'},
        {code: '30', name: '대동은행'},
        {code: '31', name: '대구은행'},
        {code: '32', name: '부산은행'},
        {code: '33', name: '충청은행'},
        {code: '34', name: '광주은행'},
        {code: '35', name: '제주은행'},
        {code: '36', name: '경기은행'},
        {code: '37', name: '전북은행'},
        {code: '38', name: '강원은행'},
        {code: '39', name: '경남은행'},
        {code: '40', name: '충북은행'},
        {code: '45', name: '새마을금고'},
        {code: '53', name: '씨티은행'},
        {code: '71', name: '우체국'},
        {code: '76', name: '신용보증'},
        {code: '81', name: '하나은행'},
        {code: '82', name: '보람은행'},
        {code: '83', name: '평화은행'},
        {code: '88', name: '신한은행'},
        {code: '89', name: '케이뱅크'},
        {code: '90', name: '카카오뱅크'},
      ],
      modal: {
        cancel: { title: '출품 취소 처리', content: '선택된 NN개의 출품을 취소 처리 합니다<br>이 과정은 복원 할 수 없습니다' },
        fin: { title: '출품 확정 처리', content: '선택된 NN개의 출품을 출품 관리 항목으로 이관됩니다.' },
        cancel_total: { title: '출품 취소 처리', content: '전체 항목을 출품 취소 처리를 합니다<br>이 과정은 복원 할 수 없습니다' },
        fin_total: { title: '출품 확정 처리', content: '전체 항목을 현재 개시되어 있는 출품 관리 항목으로 이관됩니다.' },
        taxbill: { title: '세금계산서 발행 처리', content: '해당 출품의 세금계산서를 출품자에게 발행 처리 합니다<br><br>이 처리는 취소할 수 없으며,<br>국세청 또는 토스트 빌에서 취소 및 수정 발급해야 합니다' },
        csv: { title: '출품 CSV 추출', content: '해당 출품을 CSV로 추출 합니다' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        notfound: { content: '파일이 없습니다', color: 'error', icon: 'xi-error-o' },
        notpay: { content: '입금 처리되지 않은 결제 건입니다', color: 'error', icon: 'xi-error-o' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  computed: {
    request_tax() {
      return this.pay_info.p_taxrequest == '1' ? '요청됨' : this.pay_info.p_taxrequest == '2' ? '발행됨' : '-';
    }
  },
  methods: {
    fetchItems() {
      this.checkPermission('pa')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      const p_no = this.$route.params.p_no ? this.$route.params.p_no : '';
      if (p_no) {
        this.$axios.get('/api/admin/payment/view/' + p_no).then(res => {
          this.pay_info = res.data.data;
        //   console.log(this.pay_info);

          this.method = this.pay_info.p_method;

          if (this.method == 'credit') {
            // let item_card = this.card_code.find(o => o.code === this.pay_info.p_account.trim());
            // this.card_name = item_card.name;
          } else if (this.method == 'deposit') {
            let item_bank = this.bank_code.find(o => o.code === this.pay_info.p_result.trim());
            this.bank_name = item_bank.name;
          }
        });
        this.$axios.get('/api/admin/payment/work/' + p_no).then(res => {
          // this.works = res.data.data;
          // console.log(this.works);
          const works_data = res.data.data;
          // console.log(works_data);
          let c_title = [];
          for (var i = 0; i < works_data.length; i++) {
            c_title[i] = [];
            for (var k = 0; k < works_data[i].category_data.length; k++) {
              c_title[i].push(works_data[i].category_data[k].c_title);
            }
            works_data[i].c_title = c_title[i].join(', ');
          }
          this.works = works_data;
          // console.log(this.works);
        });
      }
    },
    formatMethod(value) {
      return value == 'deposit' ? '무통장입금' : '신용카드';
    },
    formatDate(value) {
      return value == '0000-00-00 00:00:00' ? '-' : this.$moment(value).format('YYYY.MM.DD HH:mm:ss');
    },
    openCarousel() {
      this.modalCarousel = true;
    },
    copyClipboard(type) {
      if (type == 'address') {
        this.$copyText('(' + this.pay_info.e_zipcode + ')' + ' ' + this.pay_info.e_address1 + ' ' + this.pay_info.e_address2)
        .then((e) => {
          this.tooltipCopy.address = true;
          setTimeout(() => {
            this.tooltipCopy.address = false;
          }, 800)
        }, function (e) {
          // console.log(e)
        })
      } else {
        let typeb = 'pay_info.' + type;
        this.$copyText(eval('this.' + typeb))
        .then((e) => {
          this.tooltipCopyView(typeb, 'true')
          setTimeout(() => {
            this.tooltipCopyView(typeb, 'false')
          }, 800)
        }, function (e) {
          // console.log(e)
        })
      }
    },
    tooltipCopyView(type, value) {
      eval('this.tooltipCopy.' + type + ' = ' + value);
    },
    openModal(type) {
      if (type =='fin' || type =='cancel') {
        var num = this.work_selected.length;
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);
        if (this.work_selected.length <= 0) {
          this.$store.commit('showSnackbar', this.snackbar.check);
          return false;
        }
      } else {
        this.modalContent = eval('this.modal.' + type + '.content');
      }

      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalConfirm = true;
    },
    openSend(type) {
      this.$axios.get('/api/get/user_all').then(res => {
        this.user_all = res.data.data;
        // console.log(this.user_all);
      });
      if (type == 'email') {
        this.sendEmail = true;
      } else if (type == 'sms') {
        this.sendSms = true;
      }
    },
    closeSend() {
      this.sendEmail = false;
      this.sendSms = false;
    },
    get_array: function() {
      var arr = [];
      this.work_selected.forEach(element => {
        arr.push(element.wp_no);
      });
      return arr;
    },
    get_total_array: function() {
      var arr = [];
      this.works.forEach(element => {
        arr.push(element.wp_no);
      });
      return arr;
    },
    set_work_status: function($status) {
      var arr = this.get_array();
      this.$axios.patch(
        '/api/admin/payment/work_batch/' + this.pay_info.p_no +'/' + $status, 'w_list=' + arr, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.work_selected = [];
      this.modalConfirm = false;
    },
    set_cancel: function() {
      var arr = this.get_array();
      this.$axios.patch(
        '/api/admin/payment/cancels/' + this.pay_info.p_no, 'w_list=' + arr, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.$axios.patch(
        '/api/admin/payment/patch/-2', 'pa_list=' + this.pay_info.p_no, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.work_selected = [];
      this.modalConfirm = false;
    },
    set_total_cancel: function() {
      var arr = this.get_total_array();
      this.$axios.patch(
        '/api/admin/payment/cancels/' + this.pay_info.p_no, 'w_list=' + arr, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        // this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.$axios.patch(
        '/api/admin/payment/patch/-1', 'pa_list=' + this.pay_info.p_no, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        // this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
    },
    set_total_finish: function() {
    //   var arr = this.get_total_array();
    //   this.$axios.patch(
    //     '/api/admin/payment/work_batch/'+ this.pay_info.p_no +'/2', 'w_list=' + arr, {
    //       headers: { "Content-Type": "application/x-www-form-urlencoded" }
    //     }
    //   ).then(res => {
    //     this.fetchItems();
    //     this.$store.commit('showSnackbar', this.snackbar.complete);
    //   }).catch(err => {
    //     this.fetchItems();
    //     this.$store.commit('showSnackbar', this.snackbar.error);
    //   });
      this.$axios.patch(
        '/api/admin/payment/patch/9', 'pa_list=' + this.pay_info.p_no, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.fetchItems();
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
    },
    set_request_tax: function() {
      if (this.pay_info.p_status != 9) {
        this.$store.commit('showSnackbar', this.snackbar.notpay);
      } else {
      this.$axios.patch(
        '/api/admin/payment/process_request/' + this.pay_info.p_no, {
          headers: { "Content-Type": "application/x-www-form-urlencoded" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.complete);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
      }
    },
    downloadImage(url) {
      let img = new Image();
      img.src = url;
      if (img.height != 0) {
        let file_path = url.substring(0, url.lastIndexOf("/")+ 1);
        let file_name = url.substring(url.lastIndexOf("/")+ 1);
        let download_url = window.location.origin + '/api/storage/download?path=' + file_path + '&filename=' + file_name;
        const link = document.createElement('a');
        link.setAttribute('href', download_url);
        // link.setAttribute('target', '_blank');
        link.click();
        this.$store.commit('showSnackbar', this.snackbar.download);
      } else {
        this.$store.commit('showSnackbar', this.snackbar.notfound);
      }
    }
  },
  filters: {
    addComma: function(value) {
      var num = new Number(value);
      return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
    },
  }
}
</script>