<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top-menu-sub">
      <ul>
        <li><router-link v-ripple :to="{ name: 'adminPaymentList' }">전체</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminPaymentStatus', params: { status: 'rest' }}">결제 대기</router-link></li>
        <li><router-link v-ripple :to="{ name: 'adminPaymentStatus', params: { status: 'fin' }}">결제 완료</router-link></li>
      </ul>
    </div>

    <div class="filter_wrap">
      <div class="filter-date">
        <v-menu
          ref="menuDateStart"
          v-model="menuDateStart"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="p_date_start"
              label="시작일"
              autocomplete="off"
              append-icon="mdi-calendar"
              hide-details
              solo
              flat
              clearable
              readonly
              v-bind="attrs"
              v-on="on"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </template>

          <v-date-picker
            v-model="p_date_start"
            locale="ko"
            :day-format="getDayFormat"
            :allowed-dates="allowedDatesStart"
            no-title
            @input="menuDateStart = false"
          >
          </v-date-picker>
        </v-menu>
        <div class="sep">~</div>
        <v-menu
          ref="menuDateEnd"
          v-model="menuDateEnd"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="p_date_end"
              label="종료일"
              autocomplete="off"
              append-icon="mdi-calendar"
              hide-details
              solo
              flat
              clearable
              readonly
              v-bind="attrs"
              v-on="on"
            >
              <template v-slot:message="{message}"><span v-html="message"></span></template>
            </v-text-field>
          </template>

          <v-date-picker
            v-model="p_date_end"
            locale="ko"
            :day-format="getDayFormat"
            :allowed-dates="allowedDatesEnd"
            no-title
            @input="menuDateEnd = false"
          >
          </v-date-picker>
        </v-menu>
      </div>
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="payment_selected"
      :headers="headers"
      :items="payments"
      item-key="p_no"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="p_subdate"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
      @click:row="showDetail"
    >
      <template v-slot:item.p_no="{ item }">
        <div class="payment_num" :class="item.p_status == 9 ? 'active' : ''">{{ item.p_no }}</div>
      </template>
      <template v-slot:item.p_subdate="{ item }">
        {{ formatDate(item.p_subdate) }}
      </template>
      <template v-slot:item.p_method="{ item }">
        {{ formatMethod(item.p_method) }}
      </template>
      <template v-slot:item.p_findate="{ item }">
        {{ formatDate(item.p_findate) }}
      </template>
      <template v-slot:item.set_fin="{ item }">
        <v-btn depressed tile text x-small v-if="item.p_status == 1" @click.stop="set_finish(item.p_no)" class="btn-type-angle btn-type-intable w60">확정<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
      <template v-slot:item.detail="{ item }">
        <v-btn depressed tile text x-small class="btn-type-angle btn-type-intable w60" :to="{ name: 'adminPaymentDetail', params: { p_no: item.p_no }}">관리<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>

      <v-btn v-if="status != 'request'" depressed tile text outlined x-small @click="openModal('fin')">선택 확정처리</v-btn>
      <v-btn v-else depressed tile text outlined x-small @click="openModal('taxbill')">선택 발행처리</v-btn>
      <v-btn depressed tile text outlined x-small @click="openModal('csv')">CSV 추출하기</v-btn>
    </div>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text v-html="modalContent"></v-card-text>
        <v-card-actions>
          <v-btn v-if="modalType == 'csv'" depressed tile text outlined small @click="get_csv()">추출</v-btn>
          <v-btn v-else-if="modalType == 'taxbill'" depressed tile text outlined small @click="set_request_tax()">발행</v-btn>
          <v-btn v-else depressed tile text outlined small @click="set_finish()">확정</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/payment/PaymentList.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '결제관리', title_sub_2: '결제 현황' },
      permission: false,

      search: '',
      menuDateStart: false,
      menuDateEnd: false,
      p_date_start: '',
      p_date_end: '',
      itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        { text: '출품 접수번호', value: 'p_no', align: 'start td_pno', align: 'start td_pno' },
        { text: '접수 일자', value: 'p_subdate', align: 'start td_date',
          filter: value => {
            if (this.p_date_start && this.p_date_start) {
              return value >= this.p_date_start && value <= this.$moment(this.p_date_end).add(1, 'day').format('YYYY-MM-DD');
            } else if (this.p_date_start && !this.p_date_end) {
              return value >= this.p_date_start;
            } else if (this.p_date_end && !this.p_date_start) {
              return value <= this.$moment(this.p_date_end).add(1, 'day').format('YYYY-MM-DD');
            } else {
              return true;
            }
          },
        },
        { text: '기업명', value: 'e_company', align: 'start td_company' },
        { text: '출품 상세', value: 'p_title', sortable: false },
        { text: '총 결제 건수', value: 'p_paidcount', sortable: false, align: 'center td_count' },
        { text: '결제 유형', value: 'p_method', align: 'start td_method' },
        // { text: '결제 확인 일자', value: 'p_findate', align: 'start td_date' },
        { text: '확정 처리', value: 'set_fin', sortable: false, align: 'start view-detail' },
        { text: '', value: 'detail', sortable: false, align: 'start view-detail' },
      ],

      payments: [],
      payment_selected: [],
      status: '',
      param: '',

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        fin: { title: '출품 확정 처리', content: '선택된 NN개의 출품을 출품 관리 항목으로 이관합니다' },
        taxbill: { title: '세금계산서 발행 처리', content: '선택된 NN개 출품의 세금계산서를 출품자에게 발행 처리 합니다<br><br>이 처리는 취소할 수 없으며,<br>국세청 또는 토스트 빌에서 취소 및 수정 발급해야 합니다' },
        csv: { title: '선택 출품 CSV 추출', content: '선택된 NN개의 출품을 CSV로 추출 합니다<br><br>데이터가 많을 경우 시간이 소요되며 서버에 영향을 줄 수 있습니다<br>분할 선택하여 추출받는 방법을 권장합니다' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        download: { content: '다운로드가 시작되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  created() {
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  methods: {
    fetchItems() {
      this.checkPermission('pa')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.status = this.$route.params.status ? this.$route.params.status : '';
      this.param = this.status == 'rest' ? '/1' : this.status == 'fin' ? '/9' : this.status == 'request' ? '/3' : '';

      this.titles.title_sub_2 = this.status == 'request' ? '계산서 요청' : '결제 현황';
      this.$parent.$emit('setTitle', this.titles);

      this.$axios.get('/api/admin/payment/main/' + this.param).then(res => {
        this.payments = res.data.data;
        // console.log(this.payments);
      });
    },
    formatDate(value) {
      return (value == '0000-00-00 00:00:00' || value == null) ? '-' : this.$moment(value).format('YYYY.MM.DD HH:mm:ss');
    },
    formatMethod(value) {
      return value == 'deposit' ? '무통장입금' : '신용카드';
    },
    getDayFormat(isoDate) {
      return this.$moment(isoDate).format('D');
    },
    allowedDatesStart(value) {
      if (this.p_date_end) {
        if (value <= this.p_date_end) {
          return true
        }
      } else {
        return true
      }
    },
    allowedDatesEnd(value) {
      if (this.p_date_start) {
        if (value >= this.p_date_start) {
          return true
        }
      } else {
        return true
      }
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    showDetail(row) {
      this.$router.push({ name: 'adminPaymentDetail', params: { p_no: row.p_no }});
    },
    openModal(type) {
      if (this.payment_selected.length > 0) {
        var num = this.payment_selected.length;
        this.modalType = type;
        this.modalTitle = eval('this.modal.' + type + '.title');
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);
        this.modalConfirm = true;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    set_finish: function(p_no) {
      var arr = [];
      if (p_no) {
        arr.push(p_no);
      } else {
        this.payment_selected.forEach(element => {
          arr.push(element.p_no);
        });
      }

      if (arr.length > 0) {
        this.$axios.patch(
          '/api/admin/payment/patch/9', 'pa_list=' + arr, {
            headers: { "Content-Type": "application/x-www-form-urlencoded" }
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.complete);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.payment_selected = [];
      this.modalConfirm = false;
    },
    get_csv: function() {
      var arr = [];
      this.payment_selected.forEach(element => {
        arr.push("'" + element.p_no + "'");
      });

      if (arr.length > 0) {
        this.$axios.post(
          '/api/admin/export/paylist', 'pay_list=' + arr
        ).then(res => {
          let now = this.$moment().format('YYMMDD_HHmmss');
          let csvContent = 'data:text/csv;charset=utf-8,' + '\uFEFF' + res.data;
          const data = encodeURI(csvContent);
          const link = document.createElement('a');
          link.setAttribute('href', data);
          link.setAttribute('download', 'pay_list-'+ now +'.csv');
          link.click();
          this.$store.commit('showSnackbar', this.snackbar.download);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.payment_selected = [];
      this.modalConfirm = false;
    }
  }
}
</script>