<template>
	<div>
		<h5>어워드 심사위원</h5>
		<div>
			<dl
					v-for="judge in judges"
					:key="judge.j_id"
			>
				<dt>{{judge.j_name}}</dt>
				<dd>{{judge.j_name}}</dd>
			</dl>
		</div>
	</div>
</template>

<script>
export default {
	data(){		
		return{
			judges : []
		};
	},
	methods: {
	},
  mounted() {

    this.$axios.get(
        '/route/judge?api=1'
    ).then(res => {
				this.judges = res.data.judges;
		})
  }

}
</script>

<style>

</style>
