<template>
  <div>
    <div id="nav-lnb">
      <ul>
        <li><router-link :to="{ name: 'userAwardWinnerList', params: { award: a_id }}">수상작</router-link></li>
        <li><router-link :to="{ name: 'userAboardList', params: { award: a_id }}">토크샤워</router-link></li>
      </ul>
    </div>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {
      a_id: 0,
    }
  },
  mounted() {
    this.a_id = this.$route.params.award ? this.$route.params.award : 0;
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/winner.scss";
</style>