<template>
  <div class="container container-full-width">
    <div class="container container-basic container-first">
      <div class="title_area">
        <h1 class="title-1">자주 묻는 질문</h1>
        <div class="title-sub-1">찾는 내용이 없다면 유선 또는 메일로<br>문의해주시기 바랍니다<br>앤어워드 위원회 : <br class="hidden-md-and-up">master@dea.or.kr / 02-3462-5627</div>
      </div>
    </div>

    <section class="section section-items section-faq">
      <div class="container container-inner container-basic">
        <v-expansion-panels accordion class="list-faq">
          <v-expansion-panel v-for="(faq, index) in faqs" :key="index">
            <v-expansion-panel-header expand-icon="xi-angle-down">
              {{faq.title}}
            </v-expansion-panel-header>
            <v-expansion-panel-content v-html="faq.content">
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return{
      toggleOpen: -1,
      faqs: [
        {
          title: '출품은 어떻게 해야하나요?',
          content: '출품 안내 페이지에서 확인 바랍니다.<br><div><a href="/enroll" target="_blank" class="btn-type-angle">바로가기 <i class="xi xi-link"></i></a></div>'
        },
        {
          title: '출품비용은 얼마인가요?',
          content: '전 분야 공히 출품작당 15만원(부가세 포함), 세금계산서 발행 가능<br />출품작이 7개 이상일 시 8번째 출품작부터 추가등록비 면제<br />출품 마감일까지 출품료 미결제 작품에 대해서는 심사가 진행되지 않음을 원칙으로 합니다.<br />한국디지털기업협회의 협회사는 1작품 무료 출품이 가능하며, 8번째 출품작부터는 동일하게 출품 등록비가 면제됩니다.'
        },
        {
          title: '출품분야는 어떻게 되나요?',
          content: '카테고리 안내 페이지에서 확인 바랍니다.<br><div><a href="/enroll/category" target="_blank" class="btn-type-angle">바로가기 <i class="xi xi-link"></i></a></div>'
        },
        {
          title: '예전 앤어워드와 출품분야가 어떻게 바뀌었나요?',
          content: '디지털산업의 흐름 및 트렌드에 맞춰 디바이스간의 장벽을 허물고자 전 출품 카테고리 개편하였습니다.<br />기존 Website, Mobile Web, Smart Media, UX/UI, Digital Contents는 디지털 미디어 & 서비스로 기존 Digital Film, Digital AD 는 디지털 광고 & 캠페인으로 개편 되었습니다.'
        },
        {
          title: '출품을 희망하는 작품이 2개 이상의 출품 분야와 연관성이 있을 경우는 어떻게 해야하나요?',
          content: '출품사의 자의적인 판단에 의해 연관성 있는 분야 모두 출품 혹은 더 연관성 있는 한 분야를 선택해서 출품하시면 됩니다.'
        },
        {
          title: '출품분야에 자사의 출품작에 해당하는 명확한 카테고리가 없거나, 등록이 불가한 경우는 어떻게 하나요?',
          content: '유사부문 및 분야로 출품해 주시면 됩니다.'
        },
        {
          title: '출품시 이미지 제출 사이즈는 어떻게 되나요?',
          content: '대표이미지 : 가로*세로 1470*882 pixel 이상의 JPG, GIF, PNG 파일 가능<br />추가이미지 : 가로*세로 1470*827 pixel 이상의 JPG, GIF, PNG 파일 가능 (총 5개까지 등록 가능)<br />각 이미지 용량은 최대 15MB 미만으로 제출 허용됩니다.'
        },
        {
          title: '출품시 첨부 이미지는 어떻게 사용되나요?',
          content: '심사와 수사확정 후 홈페이지 내 알림(게시용)으로 사용합니다.'
        },
        {
          title: '심사는 어떻게 진행되나요?',
          content: '앤어워드 출품작은 공정한 심사를 위해 총 3차 단계의 심사를 거치게 됩니다.<br />1차 심사(산업계 CEO)를 통해 총 출품작의 40%를 선별하고 이후 통과 작품을 2차 심사(외부 전문위원)를 진행하여 각 분야별 수상작을 선정, 이후 Grand Prix 수상작을 대상으로 3차 심사(외부 전문위원)를 통해 각 기관장상 수상작이 최종 선정됩니다.'
        },
        {
          title: '수상 후 수상인증비용은 얼마인가요?',
          content: '수상작 모두 "개발사,고객사 55만원(부가세 별도)"의 수상인증비용이 발생합니다.<br />원칙적으로는 모든 작품은 수상 후 개발사 1개,고객사 1개, 총 2개의 트로피를 제작하셔야 하며, 추가 트로피 제작을 원할 경우 개별 연락을 해 주셔야 하고 단독출품의 경우나 혹은 공동제작, 또는 복수의 고객사일 경우에도 수상확정 후 반드시 사전 연락을 통해 트로피 수량을 알려주셔야 합니다.<br />다만, 고객사에서 트로피 제작을 원치 않으시는 경우에는 개발사만 트로피 제작 및 수령이 가능하나, 고객사로부터의 트로피 제작을 원치 않는다는 공문을 요청드릴 수 있습니다.<br /><br />수상인증비용은 최소한의 실비만을 받고 있으며, 이는 업계 발전을 위한 앤어워드의 운영,제작,홍보등의 각종 제반소요 비용에 필요한 금액임으로 출품 시 해당 사항을 반드시 숙지하시어 제작사와 고객사의 합의 하에 출품을 해주시길 바랍니다.<br /><br />해당 금액을 미납 시, 수상 시 기본 제공사항과 그 외 부여되는 각종 인증 및 제작절차는 진행되지 않음을 원칙으로 합니다.'
        },
        {
          title: '수상 후 트로피를 제작하지 않으면 수상 무효가 되나요?',
          content: '네. 더불어 대내외 홍보를 진행 할 수 없습니다.'
        },
        {
          title: '수상 시 제공되는 사항은 무엇인가요?',
          content: '인증 label : 수상작품에 부착.<br>online exhibition : 앤어워드 공식 홈페이지에 수상작이 게재됩니다.<br>present for annual book : 수상사에 한해 수상 작품집(발매용 2부)이 무상으로 증정됩니다.<br>모든 수상작품 소개는 수상 작품집으로 제작되어 배포됩니다.'
        },
        {
          title: '수상 인증 비용에 대한 영수처리는 어떻게 진행되나요?',
          content: '출품 시 또는 마이페이지에서 세금계산서 요청하시면 됩니다.<br>(단, 카드결제시에는 카드대금영수증이 발급됩니다.)'
        },
      ],
    }
  },
  mounted() {},
  methods: {
    toggleItem: function(key) {
      this.toggleOpen = key;
    },
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/faq.scss";
</style>