<template>
  <v-container fluid id="container-scroll" class="container-full-width">
    <!-- <section id="section-award" class="section full section-award" :style="{ 'background-image': 'url(' + bgimgUrl(0) + ')' }"> -->
    <section id="section-award" class="section full section-award section-ts">
      <v-img
        :src="bgimgUrl(0)"
        lazy-src="/assets/img/main/bg_award-100n.png"
        height="100vh"
      >
        <!-- <template v-slot:placeholder>
          <v-row class="loading-image">
            <v-progress-circular indeterminate></v-progress-circular>
          </v-row>
        </template> -->
      </v-img>
      <div class="video_wrap">
        <div class="video_vm" id="video_vm_0" :data-url="configVideoUrl[0]"></div>
      </div>
      <div id="section-award-content" class="content_wrap">
        <ckeditor
          v-model="editorData[0]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="stit inline-editor"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'1')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[1]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="tit inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'2')"
        >
        </ckeditor>
        <v-btn depressed tile text outlined large :to="configButtonUrl[0]" class="btn-type-angle">{{configButtonText[0]}}
          <v-icon right>xi-angle-right</v-icon>
        </v-btn>
        <ckeditor
          v-model="editorData[14]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="dsc inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'27')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[15]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="dsc2 inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'28')"
        >
        </ckeditor>
      </div>

      <div v-if="$store.state.admin" class="config_admin in-section">
        <v-speed-dial v-model="config_admin_1" direction="left" transition="slide-x-reverse-transition">
          <template v-slot:activator>
            <v-btn v-model="config_admin_1" class="btn-main">
              <v-icon v-if="config_admin_1">xi-close-min</v-icon>
              <v-icon v-else>xi-cog</v-icon>
            </v-btn>
          </template>
          <v-btn class="btn-child" @click="openConfig('image', '0', '4')">
            <v-icon>xi-image-o</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('video', '0', '29')">
            <v-icon>xi-youtube-play</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('button', '0', '3')">
            <v-icon>xi-link-insert</v-icon>
          </v-btn>
        </v-speed-dial>
      </div>
    </section>

    <section id="section-enroll" class="section full section-enroll section-ts" :style="{ 'background-image': 'url(' + bgimgUrl(1) + ')', 'height': '0', 'opacity': '0', 'pointer-events': 'none' }">
      <div class="video_wrap">
        <div class="video_vm" id="video_vm_1" :data-url="configVideoUrl[1]"></div>
      </div>
      <a :href="configButtonUrl[1]" class="link-effect" v-html="configButtonText[1]"></a>

      <div v-if="$store.state.admin" class="config_admin in-section">
        <v-speed-dial v-model="config_admin_2" direction="left" transition="slide-x-reverse-transition">
          <template v-slot:activator>
            <v-btn v-model="config_admin_2" class="btn-main">
              <v-icon v-if="config_admin_2">xi-close-min</v-icon>
              <v-icon v-else>xi-cog</v-icon>
            </v-btn>
          </template>
          <v-btn class="btn-child" @click="openConfig('image', '1', '6')">
            <v-icon>xi-image-o</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('video', '1', '30')">
            <v-icon>xi-youtube-play</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('button', '1', '5')">
            <v-icon>xi-link-insert</v-icon>
          </v-btn>
        </v-speed-dial>
      </div>
    </section>

    <section id="section-notice" class="section full section-notice section-ts" :style="{ 'background-image': 'url(' + bgimgUrl(2) + ')', 'height': '0', 'opacity': '0', 'pointer-events': 'none' }">
      <div class="video_wrap">
        <div class="video_vm" id="video_vm_2" :data-url="configVideoUrl[2]"></div>
      </div>
      <div id="section-notice-content" class="content_wrap">
        <ckeditor
          v-model="editorData[2]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="stit inline-editor"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'7')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[3]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="tit inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'8')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[4]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="dsc inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'9')"
        >
        </ckeditor>
      </div>

      <div v-if="$store.state.admin" class="config_admin in-section">
        <v-speed-dial v-model="config_admin_3" direction="left" transition="slide-x-reverse-transition">
          <template v-slot:activator>
            <v-btn v-model="config_admin_3" class="btn-main">
              <v-icon v-if="config_admin_3">xi-close-min</v-icon>
              <v-icon v-else>xi-cog</v-icon>
            </v-btn>
          </template>
          <v-btn class="btn-child" @click="openConfig('image', '2', '10')">
            <v-icon>xi-image-o</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('video', '2', '31')">
            <v-icon>xi-youtube-play</v-icon>
          </v-btn>
        </v-speed-dial>
      </div>
    </section>

    <section id="section-category" class="section full section-category section-ts" :style="{ 'background-image': 'url(' + bgimgUrl(3) + ')' }">
      <div class="video_wrap">
        <div class="video_vm" id="video_vm_3" :data-url="configVideoUrl[3]"></div>
      </div>
      <div class="half-right">
        <div id="section-category-content" class="content_wrap">
          <ckeditor
            v-model="editorData[5]"
            :config="editorConfig"
            type="inline"
            :read-only="readonly"
            class="stit inline-editor"
            :class="{isadmin: $store.state.admin}"
            @blur="updateLiveText($event,'11')"
          >
          </ckeditor>
          <ckeditor
            v-model="editorData[6]"
            :config="editorConfig"
            type="inline"
            :read-only="readonly"
            class="tit inline-editor pre-formatted"
            :class="{isadmin: $store.state.admin}"
            @blur="updateLiveText($event,'12')"
          >
          </ckeditor>
          <v-btn depressed tile text outlined large :to="configButtonUrl[2]" class="btn-type-angle">{{configButtonText[2]}}
            <v-icon right>xi-angle-right</v-icon>
          </v-btn>
          <ckeditor
            v-model="editorData[7]"
            :config="editorConfig"
            type="inline"
            :read-only="readonly"
            class="dsc inline-editor pre-formatted"
            :class="{isadmin: $store.state.admin}"
            @blur="updateLiveText($event,'13')"
          >
          </ckeditor>
        </div>
      </div>

      <div v-if="$store.state.admin" class="config_admin in-section">
        <v-speed-dial v-model="config_admin_4" direction="left" transition="slide-x-reverse-transition">
          <template v-slot:activator>
            <v-btn v-model="config_admin_4" class="btn-main">
              <v-icon v-if="config_admin_4">xi-close-min</v-icon>
              <v-icon v-else>xi-cog</v-icon>
            </v-btn>
          </template>
          <v-btn class="btn-child" @click="openConfig('image', '3', '15')">
            <v-icon>xi-image-o</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('video', '3', '32')">
            <v-icon>xi-youtube-play</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('button', '2', '14')">
            <v-icon>xi-link-insert</v-icon>
          </v-btn>
        </v-speed-dial>
      </div>
    </section>

    <section id="section-winner" class="section full section-winner section-ts" :style="{ 'background-image': 'url(' + bgimgUrl(4) + ')' }">
      <div class="video_wrap">
        <div class="video_vm" id="video_vm_4" :data-url="configVideoUrl[4]"></div>
      </div>
      <div id="section-winner-content" class="content_wrap">
        <ckeditor
          v-model="editorData[8]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="stit inline-editor"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'16')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[9]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="tit inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'17')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[10]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="dsc inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'18')"
        >
        </ckeditor>
      </div>

      <div v-if="$store.state.admin" class="config_admin in-section">
        <v-speed-dial v-model="config_admin_5" direction="left" transition="slide-x-reverse-transition">
          <template v-slot:activator>
            <v-btn v-model="config_admin_5" class="btn-main">
              <v-icon v-if="config_admin_5">xi-close-min</v-icon>
              <v-icon v-else>xi-cog</v-icon>
            </v-btn>
          </template>
          <v-btn class="btn-child" @click="openConfig('image', '4', '19')">
            <v-icon>xi-image-o</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('video', '4', '33')">
            <v-icon>xi-youtube-play</v-icon>
          </v-btn>
        </v-speed-dial>
      </div>
    </section>

    <section id="section-winner-item" class="section full section-winner-item section-ts">
      <ul id="section-winner-item-content" class="list-winner">
        <li v-for="(winner, index) in winner_top" :key="winner.w_id" :class="'item_'+index">
          <div class="holder-img">
            <v-img v-if="winner.w_thumbnail" :src="winner.w_thumbnail" @error="winner.w_thumbnail = null" :aspect-ratio="518/640"></v-img>
            <v-img v-else :src="noimage" :aspect-ratio="518/640" class="noimg"></v-img>
          </div>
          <div class="con">
            <div class="prize">{{prizeName(winner.z_title)}}</div>
            <div class="dsc">{{winner.c_title}}</div>
          </div>
          <div class="name">{{winner.w_title}}</div>
        </li>
      </ul>
    </section>

    <section id="section-spotlight" class="section full section-spotlight section-ts" :style="{ 'background-image': 'url(' + bgimgUrl(5) + ')' }">
      <div class="video_wrap">
        <div class="video_vm" id="video_vm_5" :data-url="configVideoUrl[5]"></div>
      </div>
      <div id="section-spotlight-content" class="content_wrap">
        <ckeditor
          v-model="editorData[11]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="stit inline-editor"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'20')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[12]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="tit inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'21')"
        >
        </ckeditor>
        <ckeditor
          v-model="editorData[13]"
          :config="editorConfig"
          type="inline"
          :read-only="readonly"
          class="dsc inline-editor pre-formatted"
          :class="{isadmin: $store.state.admin}"
          @blur="updateLiveText($event,'22')"
        >
        </ckeditor>
      </div>

      <div v-if="$store.state.admin" class="config_admin in-section">
        <v-speed-dial v-model="config_admin_6" direction="left" transition="slide-x-reverse-transition">
          <template v-slot:activator>
            <v-btn v-model="config_admin_6" class="btn-main">
              <v-icon v-if="config_admin_6">xi-close-min</v-icon>
              <v-icon v-else>xi-cog</v-icon>
            </v-btn>
          </template>
          <v-btn class="btn-child" @click="openConfig('image', '5', '23')">
            <v-icon>xi-image-o</v-icon>
          </v-btn>
          <v-btn class="btn-child" @click="openConfig('video', '5', '34')">
            <v-icon>xi-youtube-play</v-icon>
          </v-btn>
        </v-speed-dial>
      </div>
    </section>

    <section id="section-speech" class="section section-speech section-ts">
      <div class="inner-section">
        <v-img src="/assets/img/main/speech2n.png" class="img-1"></v-img>
        <v-img src="/assets/img/main/speech1n.png" class="img-2"></v-img>
        <v-img src="/assets/img/main/speech3n.png" class="img-3"></v-img>
        <div class="content_wrap">
          <div class="tit">A.N.D. AWARD<br>TALK SHOWER</div>
            <v-btn depressed tile text outlined large :to="{ name: 'userAboardList', params: { award: '2019' }}" class="btn-type-angle wide">강연듣기
              <v-icon right>xi-angle-right</v-icon>
            </v-btn>
        </div>
      </div>
    </section>

    <section id="section-sponsors" class="section full section-sponsors section-ts" :class="{'theme--light': onScroll }">
      <div id="section-sponsors-content" class="content_wrap">
        <div class="stit">SPONSORS</div>
        <div class="tit">앤어워드는<br>아래의 후원사(기관)<br>와 함께 합니다</div>
        <div class="list-sponsor">
          <ul>
            <li>
              <div class="plabel">공식후원사</div>
              <div class="plogo">
                <div class="change_wrap img-1">
                  <v-img src="/assets/img/main/sponsors_1.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_1c.png" class="colored"></v-img>
                </div>
                <!-- <div class="change_wrap img-22">
                  <v-img src="/assets/img/main/sponsors_22.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_22c.png" class="colored"></v-img>
                </div> -->
                <div class="change_wrap img-2">
                  <v-img src="/assets/img/main/sponsors_2.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_2c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-3">
                  <v-img src="/assets/img/main/sponsors_3.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_3c.png" class="colored"></v-img>
                </div>
                <!-- <div class="change_wrap img-44">
                  <v-img src="/assets/img/main/sponsors_44.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_44c.png" class="colored"></v-img>
                </div> -->
              </div>
            </li>
            <li>
              <div class="plabel">후원사</div>
              <div class="plogo">
                <div class="change_wrap img-9">
                  <v-img src="/assets/img/main/sponsors_9.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_9c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-10">
                  <v-img src="/assets/img/main/sponsors_10.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_10c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-11">
                  <v-img src="/assets/img/main/sponsors_11n.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_11nc.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-6">
                  <v-img src="/assets/img/main/sponsors_66.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_66c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-20">
                  <v-img src="/assets/img/main/sponsors_20.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_20c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-17">
                  <v-img src="/assets/img/main/sponsors_17.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_17c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-23">
                  <v-img src="/assets/img/main/sponsors_23.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_23c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-14">
                  <v-img src="/assets/img/main/sponsors_14.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_14c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-7">
                  <v-img src="/assets/img/main/sponsors_7.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_7c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-8">
                  <v-img src="/assets/img/main/sponsors_8.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_8c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-21">
                  <v-img src="/assets/img/main/sponsors_21.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_21c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-12">
                  <v-img src="/assets/img/main/sponsors_12.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_12c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-19">
                  <v-img src="/assets/img/main/sponsors_19.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_19c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-24">
                  <v-img src="/assets/img/main/sponsors_24.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_24c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-25">
                  <v-img src="/assets/img/main/sponsors_25.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_25c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-13">
                  <v-img src="/assets/img/main/sponsors_13.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_13c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-15">
                  <v-img src="/assets/img/main/sponsors_15.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_15c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-16">
                  <v-img src="/assets/img/main/sponsors_16.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_16c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-26">
                  <v-img src="/assets/img/main/sponsors_26.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_26c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-27">
                  <v-img src="/assets/img/main/sponsors_27.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_27c.png" class="colored"></v-img>
                </div>
                <div class="change_wrap img-28">
                  <v-img src="/assets/img/main/sponsors_28.png"></v-img>
                  <v-img src="/assets/img/main/sponsors_28c.png" class="colored"></v-img>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <v-dialog
      v-model="modalConfig"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-config"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalConfigTitle}}</v-card-title>
        <v-card-text v-if="modalConfigType == 'image'">
          <div v-ripple class="preview_wrap">
            <upload-multiple-image
              @upload-success="uploadImageSuccess"
              @before-remove="beforeRemove"
              @edit-image="editImage"
              @data-change="dataChange"
              @limit-exceeded="limitExceeded"
              @size-exceeded="sizeExceeded"
              :idUpload="'image_upload_'+modalConfigIndex"
              :idEdit="'image_edit_'+modalConfigIndex"
              containerWidth="100%"
              containerHeight="52%"
              :data-id="modalConfigId"
              :data-images="images"
              :multiple="false"
              :maxImage="1"
              :maxSize="15728640"
              :showPrimary="false"
            ></upload-multiple-image>
          </div>
        </v-card-text>
        <v-card-text v-if="modalConfigType == 'video'">
          <v-text-field
            v-model="configVideoUrl[modalConfigIndex]"
            label="Vimeo URL"
            autocomplete="off"
            solo flat
          >
          </v-text-field>
        </v-card-text>
        <v-card-text v-if="modalConfigType == 'button'">
          <v-text-field
            v-model="configButtonText[modalConfigIndex]"
            label="버튼 텍스트"
            autocomplete="off"
            solo flat
          >
          </v-text-field>
          <v-text-field
            v-model="configButtonUrl[modalConfigIndex]"
            label="버튼 URL"
            autocomplete="off"
            solo flat
          >
          </v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn depressed tile text outlined small @click="saveConfig(modalConfigType, modalConfigIndex, modalConfigId)">저장</v-btn>
          <v-btn depressed tile text outlined small @click="closeConfig">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="closeConfig" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { TweenMax, TimelineMax } from 'gsap';
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';

export default {
  components: {
    UploadMultipleImage,
  },
  data() {
    return {
      noimage: '/assets/img/common/noimage_600.png',

      current_award: [],
      current_year: 0,
      winner_top: [],

      editorData: [],
      editorConfig: {
        enterMode: 2,
        title: false,
        entities: false
      },
      config_admin_1: false,
      config_admin_2: false,
      config_admin_3: false,
      config_admin_4: false,
      config_admin_5: false,
      config_admin_6: false,
      modalConfig: false,
      modalConfigType: '',
      modalConfigTitle: '',
      modalConfigIndedx: '',
      modalConfigId: '',
      modalConfigSubmit: '',

      // configButton: { text: '', url: '' },
      configButtonText: [],
      configButtonUrl: [],
      configImageUrl: [],
      configVideoUrl: [],
      images: [],
      uploadImages: [],
      player: [],

      modal: {
        image: { title: '이미지 설정' },
        video: { title: '비메오 설정' },
        button: { title: '버튼 설정' },
      },
      snackbar: {
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    var tag = document.createElement('script');
    tag.src = "https://player.vimeo.com/api/player.js";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    this.$axios.get('/api/get/current_award').then(res => {
      this.current_award = res.data;

      let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
      if (this.current_award.winspecial_date) {
        if (now >= this.current_award.winspecial_date) {
          this.current_year = this.current_award.a_id;
        } else {
          this.current_year = Number(this.current_award.a_id) - 1;
        }
      } else {
        this.current_year = Number(this.current_award.a_id) - 1;
      }

      this.fetchItems();
    });
  },
  computed: {
    readonly() {
      return this.$store.state.admin ? false : true;
    },
    onScroll(e) {
      let offsetTop = this.$store.state.offsetTop;
      let offsetBottom = this.$store.state.offsetBottom;
      if (offsetBottom != 0) {
        if (this.$vuetify.breakpoint.mdAndUp == true) {
          return offsetTop + 50 >= offsetBottom ? true : false;
        } else {
          return offsetTop + 380 >= offsetBottom ? true : false;
        }
      }
    }
  },
  methods: {
    fetchItems() {
      this.$axios.get('/api/service/winner_received/' + this.current_year).then(res => {
        const winner_top_result = res.data.data;
        // console.log('winner_top_result', winner_top_result);

        if (Number(this.current_year) < 2020) {
          winner_top_result.forEach(element => {
            if (element.z_title == 'M') {
              if (element.cp_id == '25') {
                this.winner_top[0] = element;
              } else if (element.cp_id == '26') {
                this.winner_top[1] = element;
              }
            } else if (element.z_title == 'K') {
              this.winner_top[2] = element;
            } else if (element.z_title == 'S') {
              this.winner_top[3] = element;
            }
          });
          // console.log('winner_top', this.winner_top);
        } else {
          winner_top_result.forEach(element => {
            if (element.z_title == '과학기술정보통신부장관상') {
              // if (element.cp_id == '419') {
              if (element.c_type == '1') {
                this.winner_top[0] = element;
              // } else if (element.cp_id == '420') {
              } else if (element.c_type == '2') {
                this.winner_top[1] = element;
              }
            } else if (element.z_title == '문화체육관광부장관상') {
              this.winner_top[2] = element;
            } else if (element.z_title == '한국콘텐츠진흥원장상') {
              this.winner_top[3] = element;
            } else if (element.z_title == '한국방송광고진흥공사장상') {
              this.winner_top[4] = element;
            } else if (element.z_title == '한국인터넷진흥원장상') {
              this.winner_top[5] = element;
            }
          });
          // console.log('winner_top', this.winner_top);
          this.winner_top = this.winner_top.filter(Boolean);
          // console.log('winner_top', this.winner_top);
        }
      }).finally(() => {
        if (!this.winner_top.length) {
          $('#section-winner-item').addClass('d-none');
        }
      });

      this.$axios.get(
        '/api/get/live_contents/main/text/'
      ).then(res => {
        let data = res.data.data;
        data.forEach(element => {
          this.editorData.push(element.l_contents);
        });
        // console.log(this.editorData);
      }).finally(() => {
        setTimeout(() => {
          setTimeout(() => {
            this.$store.commit('setOffsetBottom');
          }, 1);
          // setTimeout(() => {
            this.transition();
          // }, 2);
          setTimeout(() => {
            this.vimeoPlayer();
            this.loaded();
          }, 3);
        }, 2500);
      });

      this.$axios.get(
        '/api/get/live_contents/main/button/'
      ).then(res => {
        let data = res.data.data;
        data.forEach(element => {
          this.configButtonText.push(element.l_contents);
          this.configButtonUrl.push(element.l_url);
        });
        // console.log(this.configButtonText);
      });

      this.$axios.get(
        '/api/get/live_contents/main/video/'
      ).then(res => {
        let data = res.data.data;
        data.forEach(element => {
          this.configVideoUrl.push(element.l_url);
        });
        // console.log(this.configVideoUrl);
        // setTimeout(() => {
        //   this.vimeoPlayer();
        // }, 0);
      });

      this.$axios.get(
        '/api/get/live_contents/main/image/'
      ).then(res => {
        let data = res.data.data;
        data.forEach(element => {
          this.configImageUrl.push(element.l_url);
        });
        // console.log(this.configButtonText);
      });
    },
    loaded() {
      document.body.style.overflow = 'auto';
      document.body.style.height = 'auto';
    },
    transition() {
      // section-award
      let scene_award_content_height = document.getElementById('section-award-content').offsetHeight;
      // console.log(scene_award_content_height);
      const scene_award_tl = new TimelineMax ()
          .add([
            TweenMax.to($('#section-award-content'), 1, {transform: 'translate(-50%, -' + (scene_award_content_height/1.2) + 'px)', delay:0})
          ]);
      const scene_award = this.$scrollmagic.scene({
        triggerElement: '#section-award',
        triggerHook: 'onLeave',
        duration: scene_award_content_height * 3
      })
        .setPin('#section-award')
        .setTween(scene_award_tl)
        // .addIndicators({ name: 'scene_award' })
      this.$scrollmagic.addScene(scene_award);

      // section-enroll
      // const scene_enroll_tl = new TimelineMax ()
      //     .add([
      //       TweenMax.fromTo('#section-enroll', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
      //     ]);
      // const scene_enroll = this.$scrollmagic.scene({
      //   triggerElement: '#section-enroll',
      //   triggerHook: '0.7'
      // })
      //   .on('enter', (e) => {
      //     if (this.player[1]) {
      //       this.player[1].play();
      //     }
      //   })
      //   .setTween(scene_enroll_tl);
      //   // .addIndicators({ name: 'scene_enroll' })
      // this.$scrollmagic.addScene(scene_enroll);

      // section-notice
      // const scene_notice_tl = new TimelineMax ()
      //     .add([
      //       TweenMax.fromTo('#section-notice', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
      //     ]);
      // const scene_notice = this.$scrollmagic.scene({
      //   triggerElement: '#section-notice',
      //   triggerHook: '0.7'
      // })
      //   .on('enter', (e) => {
      //     if (this.player[2]) {
      //       this.player[2].play();
      //     }
      //   })
      //   .setTween(scene_notice_tl);
      //   // .addIndicators({ name: 'scene_notice' })
      // this.$scrollmagic.addScene(scene_notice);

      // let scene_notice_content_height = document.getElementById('section-notice-content').offsetHeight;
      // // console.log(scene_notice_content_height);
      // const scene_notice_tl_2 = new TimelineMax ()
      //     .add([
      //       TweenMax.to($('#section-notice-content'), 1, {transform: 'translate(-50%, -' + (scene_notice_content_height/1.2) + 'px)', delay:0.5})
      //     ]);
      // const scene_notice_2 = this.$scrollmagic.scene({
      //   triggerElement: '#section-notice',
      //   triggerHook: 'onLeave',
      //   duration: scene_notice_content_height * 3
      // })
      //   .setPin('#section-notice')
      //   .setTween(scene_notice_tl_2)
      //   // .addIndicators({ name: 'scene_notice' })
      // this.$scrollmagic.addScene(scene_notice_2);

      // section-category
      const scene_category_tl = new TimelineMax ()
          .add([
            TweenMax.fromTo('#section-category', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
          ]);
      const scene_category = this.$scrollmagic.scene({
        triggerElement: '#section-category',
        triggerHook: '0.7'
      })
        .on('enter', (e) => {
          if (this.player[3]) {
            this.player[3].play();
          }
        })
        .setTween(scene_category_tl);
        // .addIndicators({ name: 'scene_category' })
      this.$scrollmagic.addScene(scene_category);

      let scene_category_content_height = document.getElementById('section-category-content').offsetHeight;
      // console.log(scene_category_content_height);
      const scene_category_tl_2 = new TimelineMax ()
          .add([
            TweenMax.to($('#section-category-content'), 1, {transform: 'translateY(-' + (scene_category_content_height/1.2) + 'px)', delay:0.5})
          ]);
      const scene_category_2 = this.$scrollmagic.scene({
        triggerElement: '#section-category',
        triggerHook: 'onLeave',
        duration: scene_category_content_height * 3
      })
        .setPin('#section-category')
        .setTween(scene_category_tl_2)
        // .addIndicators({ name: 'scene_category' })
      this.$scrollmagic.addScene(scene_category_2);

      // section-winner
      const scene_winner_tl = new TimelineMax ()
          .add([
            TweenMax.fromTo('#section-winner', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
          ]);
      const scene_winner = this.$scrollmagic.scene({
        triggerElement: '#section-winner',
        triggerHook: '0.7'
      })
        .on('enter', (e) => {
          if (this.player[4]) {
            this.player[4].play();
          }
        })
        .setTween(scene_winner_tl);
        // .addIndicators({ name: 'scene_winner' })
      this.$scrollmagic.addScene(scene_winner);

      let scene_winner_content_height = document.getElementById('section-winner-content').offsetHeight;
      // console.log(scene_winner_content_height);
      const scene_winner_tl_2 = new TimelineMax ()
          .add([
            TweenMax.to($('#section-winner-content'), 1, {transform: 'translate(-50%, -' + (scene_winner_content_height/1.2) + 'px)', delay:0.5})
          ]);
      const scene_winner_2 = this.$scrollmagic.scene({
        triggerElement: '#section-winner',
        triggerHook: 'onLeave',
        duration: scene_winner_content_height * 3
      })
        .setPin('#section-winner')
        .setTween(scene_winner_tl_2)
        // .addIndicators({ name: 'scene_winner' })
      this.$scrollmagic.addScene(scene_winner_2);

      // section-winner-item
      setTimeout(() => {
        if (this.winner_top.length) {
          const scene_winner_item_tl = new TimelineMax ()
              .add([
                TweenMax.fromTo('#section-winner-item', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
              ]);
          const scene_winner_item = this.$scrollmagic.scene({
            triggerElement: '#section-winner-item',
            triggerHook: '0.7'
          })
            .setTween(scene_winner_item_tl)
            // .addIndicators({ name: 'scene_winner_item' })
          this.$scrollmagic.addScene(scene_winner_item);

          // let scene_winner_item_content_height;
          // let scene_winner_item_tl_2;
          let scene_winner_item_content_height = document.getElementById('section-winner-item').offsetHeight * 4;
          // console.log(scene_winner_item_content_height);
          const scene_winner_item_tl_a = new TimelineMax ()
              .add([
                TweenMax.to($('#section-winner-item-content .item_0'), 1, {transform: 'translate(-50%, -' + (scene_winner_item_content_height/8) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_0 .holder-img'), 1, {transform: 'rotate(20deg)'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_0'), 0.7, {transform: 'translate(-45%, -' + (scene_winner_item_content_height/4*0.7) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_0 .holder-img'), 0.7, {transform: 'rotate(34deg)'}),
                TweenMax.to($('#section-winner-item-content .item_0 .con'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_0 .name'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_1 .con'), 0.7, {opacity: '1'}),
                TweenMax.to($('#section-winner-item-content .item_1 .name'), 0.7, {opacity: '1'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_0'), 0.3, {transform: 'translate(-40%, -' + (scene_winner_item_content_height/4) + 'px)', opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_0 .holder-img'), 0.3, {transform: 'rotate(50deg)'}),
              ])
          const scene_winner_item_tl_b = new TimelineMax ()
              .add([
                TweenMax.to($('#section-winner-item-content .item_1'), 1, {transform: 'translate(-50%, -' + (scene_winner_item_content_height/8) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_1 .holder-img'), 1, {transform: 'rotate(-20deg)'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_1'), 0.7, {transform: 'translate(-55%, -' + (scene_winner_item_content_height/4*0.7) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_1 .holder-img'), 0.7, {transform: 'rotate(-34deg)'}),
                TweenMax.to($('#section-winner-item-content .item_1 .con'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_1 .name'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_2 .con'), 0.7, {opacity: '1'}),
                TweenMax.to($('#section-winner-item-content .item_2 .name'), 0.7, {opacity: '1'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_1'), 0.3, {transform: 'translate(-60%, -' + (scene_winner_item_content_height/4) + 'px)', opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_1 .holder-img'), 0.3, {transform: 'rotate(-50deg)'}),
              ])
          const scene_winner_item_tl_c = new TimelineMax ()
              .add([
                TweenMax.to($('#section-winner-item-content .item_2'), 1, {transform: 'translate(-50%, -' + (scene_winner_item_content_height/8) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_2 .holder-img'), 1, {transform: 'rotate(20deg)'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_2'), 0.7, {transform: 'translate(-45%, -' + (scene_winner_item_content_height/4*0.7) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_2 .holder-img'), 0.7, {transform: 'rotate(34deg)'}),
                TweenMax.to($('#section-winner-item-content .item_2 .con'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_2 .name'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_3 .con'), 0.7, {opacity: '1'}),
                TweenMax.to($('#section-winner-item-content .item_3 .name'), 0.7, {opacity: '1'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_2'), 0.3, {transform: 'translate(-40%, -' + (scene_winner_item_content_height/4) + 'px)', opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_2 .holder-img'), 0.3, {transform: 'rotate(50deg)'}),
              ])
          const scene_winner_item_tl_d = new TimelineMax ()
              .add([
                TweenMax.to($('#section-winner-item-content .item_3'), 1, {transform: 'translate(-50%, -' + (scene_winner_item_content_height/8) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_3 .holder-img'), 1, {transform: 'rotate(-20deg)'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_3'), 0.7, {transform: 'translate(-55%, -' + (scene_winner_item_content_height/4*0.7) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_3 .holder-img'), 0.7, {transform: 'rotate(-34deg)'}),
                TweenMax.to($('#section-winner-item-content .item_3 .con'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_3 .name'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_4 .con'), 0.7, {opacity: '1'}),
                TweenMax.to($('#section-winner-item-content .item_4 .name'), 0.7, {opacity: '1'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_3'), 0.3, {transform: 'translate(-60%, -' + (scene_winner_item_content_height/4) + 'px)', opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_3 .holder-img'), 0.3, {transform: 'rotate(-50deg)'}),
              ])
          const scene_winner_item_tl_e = new TimelineMax ()
              .add([
                TweenMax.to($('#section-winner-item-content .item_4'), 1, {transform: 'translate(-50%, -' + (scene_winner_item_content_height/8) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_4 .holder-img'), 1, {transform: 'rotate(20deg)'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_4'), 0.7, {transform: 'translate(-45%, -' + (scene_winner_item_content_height/4*0.7) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_4 .holder-img'), 0.7, {transform: 'rotate(34deg)'}),
                TweenMax.to($('#section-winner-item-content .item_4 .con'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_4 .name'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_5 .con'), 0.7, {opacity: '1'}),
                TweenMax.to($('#section-winner-item-content .item_5 .name'), 0.7, {opacity: '1'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_4'), 0.3, {transform: 'translate(-40%, -' + (scene_winner_item_content_height/4) + 'px)', opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_4 .holder-img'), 0.3, {transform: 'rotate(50deg)'}),
              ])
          const scene_winner_item_tl_f = new TimelineMax ()
              .add([
                TweenMax.to($('#section-winner-item-content .item_5'), 1, {transform: 'translate(-50%, -' + (scene_winner_item_content_height/8) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_5 .holder-img'), 1, {transform: 'rotate(-20deg)'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_5'), 0.7, {transform: 'translate(-55%, -' + (scene_winner_item_content_height/4*0.7) + 'px)'}),
                TweenMax.to($('#section-winner-item-content .item_5 .holder-img'), 0.7, {transform: 'rotate(-34deg)'}),
                TweenMax.to($('#section-winner-item-content .item_5 .con'), 0.7, {opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_5 .name'), 0.7, {opacity: '0'}),
              ])
              .add([
                TweenMax.to($('#section-winner-item-content .item_5'), 0.3, {transform: 'translate(-60%, -' + (scene_winner_item_content_height/4) + 'px)', opacity: '0'}),
                TweenMax.to($('#section-winner-item-content .item_5 .holder-img'), 0.3, {transform: 'rotate(-50deg)'}),
              ])
          const scene_winner_item_tl_2 = new TimelineMax ()
              .add(scene_winner_item_tl_a)
              .add(scene_winner_item_tl_b)
              .add(scene_winner_item_tl_c)
              .add(scene_winner_item_tl_d)
              .add(scene_winner_item_tl_e)
              .add(scene_winner_item_tl_f)

          setTimeout(() => {
            const scene_winner_item_2 = this.$scrollmagic.scene({
              triggerElement: '#section-winner-item',
              triggerHook: 'onLeave',
              duration: scene_winner_item_content_height
            })
              .setPin('#section-winner-item')
              .setTween(scene_winner_item_tl_2)
              // .addIndicators({ name: 'scene_winner_item' })
            this.$scrollmagic.addScene(scene_winner_item_2);
          }, 20);
        }
      }, 10);

      // scene_spotlight
      setTimeout(() => {
        const scene_spotlight_tl = new TimelineMax ()
            .add([
              TweenMax.fromTo('#section-spotlight', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
            ]);
        const scene_spotlight = this.$scrollmagic.scene({
          triggerElement: '#section-spotlight',
          triggerHook: '0.7'
        })
          .on('enter', (e) => {
            if (this.player[5]) {
              this.player[5].play();
            }
          })
          .setTween(scene_spotlight_tl);
          // .addIndicators({ name: 'scene_spotlight' })
        this.$scrollmagic.addScene(scene_spotlight);

        let scene_spotlight_content_height = document.getElementById('section-spotlight-content').offsetHeight;
        // console.log(scene_spotlight_content_height);
        const scene_spotlight_tl_2 = new TimelineMax ()
            .add([
              TweenMax.to($('#section-spotlight-content'), 1, {transform: 'translate(-50%, -' + (scene_spotlight_content_height/1.2) + 'px)', delay:0.5})
            ]);
        const scene_spotlight_2 = this.$scrollmagic.scene({
          triggerElement: '#section-spotlight',
          triggerHook: 'onLeave',
          duration: scene_spotlight_content_height * 3
        })
          .setPin('#section-spotlight')
          .setTween(scene_spotlight_tl_2)
          // .addIndicators({ name: 'scene_spotlight' })
        this.$scrollmagic.addScene(scene_spotlight_2);
      }, 140);

      // scene_speech
      setTimeout(() => {
        const scene_speech_tl = new TimelineMax ()
            .add([
              TweenMax.fromTo('#section-speech', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
            ]);
        const scene_speech = this.$scrollmagic.scene({
          triggerElement: '#section-speech',
          triggerHook: '0.7'
        })
          .setTween(scene_speech_tl)
          // .addIndicators({ name: 'scene_speech' })
        this.$scrollmagic.addScene(scene_speech);

        // section-sponsors
        const scene_sponsors_tl = new TimelineMax ()
            .add([
              TweenMax.fromTo('#section-sponsors', 1, {y: '300', opacity: '0'}, {y: '0', opacity: '1', ease: Power2.easeOut}),
            ]);
        const scene_sponsors = this.$scrollmagic.scene({
          triggerElement: '#section-sponsors',
          triggerHook: '0.7'
        })
          .setTween(scene_sponsors_tl)
          // .addIndicators({ name: 'scene_sponsors' })
        this.$scrollmagic.addScene(scene_sponsors);

        let scene_sponsors_content_height = document.getElementById('section-sponsors-content').offsetHeight + 500;
        // console.log(scene_sponsors_content_height);
        const scene_sponsors_tl_2 = new TimelineMax ()
            .add([
              TweenMax.to($('#section-sponsors-content'), 1, {transform: 'translate(-50%, -' + (scene_sponsors_content_height/2) + 'px)', delay:0.5})
            ]);
        const scene_sponsors_2 = this.$scrollmagic.scene({
          triggerElement: '#section-sponsors',
          triggerHook: 'onLeave',
          duration: scene_sponsors_content_height * 3
        })
          .setPin('#section-sponsors')
          .setTween(scene_sponsors_tl_2)
          // .addIndicators({ name: 'scene_sponsors' })
        this.$scrollmagic.addScene(scene_sponsors_2);
      }, 150);
    },
    updateLiveText(event, id) {
      // console.log(event.editor._.data);
      if (this.$store.state.admin) {
        let content = event.editor._.data;
        this.$axios.post(
          '/api/update/live_contents/main/text/' + id, 'contents=' + content
        ).then(res => {
          this.$store.commit('showSnackbar', this.snackbar.save);
        }).catch(err => {
          this.$store.commit('showSnackbar', this.snackbar.error);
        });
      }
    },
    updateLiveButton(content, id) {
      this.$axios.post(
        '/api/update/live_contents/main/button/' + id, 'contents=' + JSON.stringify(content)
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
    },
    updateLiveVideo(content, id) {
      this.$axios.post(
        '/api/update/live_contents/main/video/' + id, 'contents=' + JSON.stringify(content)
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.save);
        setTimeout(function() {
          location.reload();
        }, 0);
      }).catch(err => {
      });
    },
    updateLiveImage(id) {
      const formdata = new FormData();
      if (this.uploadImages) {
        for (let uploadImage of this.uploadImages) {
          formdata.append('image', uploadImage);
        }
      }
      this.$axios.post(
        '/api/upload/live_contents/main/image/' + id, formdata, {showLoading: true}
      ).then(res => {
        let data = res.data.data;
        data.forEach(element => {
          this.configImageUrl.push(element.l_url);
          this.uploadImage = '';
          this.images = [];
          setTimeout(function() {
            location.reload();
          }, 0);
        });
      }).catch(err => {
      });
    },
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      done()
    },
    editImage(formData, index, fileList, id) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      this.uploadDialog = true
      this.uploadText = '최대 5개까지 업로드가 가능합니다'
    },
    sizeExceeded(filesize){
      alert('해당 이미지가 업로드 용량을 초과 하였습니다. \n15MB 이하로 용량을 조절해 주시기 바랍니다.');
    },
    bgimgUrl(index) {
      return this.configImageUrl[index] ? this.configImageUrl[index] : '';
    },
    videoParse(url) {
      var arr = /^(http|https):\/\/[w]{0,3}[\.]{0,1}(vimeo\.com|youtube\.com|youtu\.be)\/(.+)/.exec(url);
      var v = {
        'type': '',
        'vid': ''
      };
      if (!arr || arr.length < 4)
        return false;
      v.type = arr[2];
      v.vid = arr[3];

      switch (v.type) {
      case 'youtube.com':
      case 'youtu.be':
        v.type = 'youtube';
        break;
      case 'vimeo.com':
        v.type = 'vimeo';
        break;
      }
      if (v.type == 'youtube') {
        arr = /^watch\?v=([a-zA-Z0-9_-]+)/.exec(v.vid);
        if (!arr || arr.length < 2)
          return v;
        v.vid = arr[1];
      }
      return v;
    },
    vimeoPlayer() {
      var target = document.querySelectorAll('.video_wrap .video_vm');
      target.forEach((element, index) => {
        var url = element.getAttribute('data-url');

        if (url) {
          var vinfo = this.videoParse(url);
          var options = {
              id: vinfo.vid,
              // width: 640,
              // autoplay: true,
              // background: true,
              title: false,
              byline: false,
              portrait: false,
              transparent: false,
              controls: false,
              autopause: false,
              loop: true,
              muted: true,
          };
          if (index == 0) {
            options.autoplay = true;
            options.background = true;
          } else {
            options.autoplay = false;
          }
          this.player[index] = new Vimeo.Player('video_vm_'+index, options);
          this.player[index].setVolume(0);
          // this.player[index].on('play', function() {
          //     console.log('played the video!');
          // });
        }
      });
    },
    openConfig(type, index, id) {
      this.modalConfigType = type;
      this.modalConfigIndex = index;
      this.modalConfigId = id;
      this.modalConfigTitle = eval('this.modal.' + type + '.title');
      if (type == 'image') {
        let image_ori = [
          { path: this.configImageUrl[index] }
        ];
        this.images = image_ori;
      }
      this.modalConfig = true;
    },
    closeConfig() {
      this.modalConfigType = '';
      this.modalConfigIndex = '';
      this.modalConfigId = '';
      this.modalConfigTitle = '';
      this.uploadImage = '';
      this.images = [];
      this.modalConfig = false;
    },
    saveConfig(type, index, id) {
      // console.log(type, index, id);
      if (type == 'image') {
        this.updateLiveImage(id);
      } else if (type == 'video') {
        let contents = {
          url: this.configVideoUrl[index]
        }
        this.updateLiveVideo(contents, id);
      } else if (type == 'button') {
        let contents = {
          text: this.configButtonText[index],
          url: this.configButtonUrl[index]
        }
        this.updateLiveButton(contents, id);
      }
      this.modalConfig = false;
    },
    prizeName(value) {
      if (Number(this.current_year) < 2020) {
        return value == 'M' ? 'MINISTER PRIX' : value == 'K' ? 'KOBACO PRIX' : value == 'S' ? 'KISA PRIX' : value == 'G' ? 'GRAND PRIX' : 'WINNER';
      } else {
        return value;
      }
    },
  },
  filters: {
    prizeName: function(value) {
      return value == 'M' ? 'MINISTER PRIX' : value == 'K' ? 'KOBACO PRIX' : value == 'S' ? 'KISA PRIX' : value == 'G' ? 'GRAND PRIX' : 'WINNER';
    },
  }
}
</script>

<style lang="scss">
@import "@/../../assets/sass/main.scss";
</style>