<template>
  <div class="content_wrap skeleton">
    <v-skeleton-loader
      type="filter-wrap, space@2, table-admin"
      :types="{ 'filter-wrap': 'filter-date, filter-search', 'table-admin': 'table-thead, table-tbody, table-footer', 'table-footer': 'button, button, button, button' }"
      tile
      class="inner"
    >
    </v-skeleton-loader>
  </div>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>