<template>
  <div class="content" style="width:500px;margin:100px auto;">

    <v-text-field
      v-model="u_id"
      label="아이디"
      placeholder="사용할 아이디를 입력"
      autocomplete="off"
      hint="5~16자의 영문,숫자 조합으로 입력해주세요"
      persistent-hint
      maxlength="16"
      required
    >
      <template v-slot:message="{message}"><span v-html="message"></span></template>
    </v-text-field>

    <input type="file" name="file_2" @change="selectedFile($event)">

    <div v-ripple class="preview_wrap">
      <upload-multiple-image
        @upload-success="uploadImageSuccess"
        @before-remove="beforeRemove"
        @edit-image="editImage"
        @data-change="dataChange"
        @limit-exceeded="limitExceeded"
        idUpload="image_upload_key"
        idEdit="image_edit_key"
        containerWidth="100%"
        containerHeight="50%"
        data-id="t0"
        :data-images="images"
        :multiple="true"
        :maxImage="3"
        :showPrimary="false"
      ></upload-multiple-image>
    </div>

    <div class="btn-area-bottom text-right">
      <v-btn depressed tile text outlined large @click="submitTest" class="btn-type-angle">SUBMIT
        <v-icon right>xi-angle-right</v-icon>
      </v-btn>
    </div>

    </v-form>
  </div>
</template>

<script>
import UploadMultipleImage from '@/components/common/UploadMultipleImage.vue';

export default {
  name: 'join-form',
  components: {
    UploadMultipleImage,
  },
  data () {
    return {
      images: [],
      uploadImages: [],
      // file_2: [],

      u_id: '',
      e_registration: '',

    }
  },
  methods: {
    uploadImageSuccess(formData, index, fileList, files, id) {
      console.log('data', formData, index, fileList, files, id)
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
      for (let uploadImage of files) {
        this.uploadImages[index] = uploadImage;
      }
    },
    beforeRemove(index, length, done, fileList, id) {
      console.log('index', index, fileList, length, id)
      // var r = confirm("삭제 하시겠습니까?")
      // if (r == true) {
      //   done()
      // } else {
      // }
      this.uploadDialog = true;
      this.uploadText = '삭제 되었습니다';
      done()
    },
    editImage(formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange(data) {
      console.log(data)
    },
    limitExceeded(amount) {
      this.uploadDialog = true
      this.uploadText = '최대 5개까지 업로드가 가능합니다'
    },
    selectedFile(event) {
      this.file_2 = event.target.files[0];
    },
    submitTest() {
      const formdata = new FormData();
      formdata.append('u_id', this.u_id);
      if (this.uploadImages) {
        for (let uploadImage of this.uploadImages) {
          // console.log(uploadImage);
          formdata.append('images[]', uploadImage);
        }
      }
      // if (this.file_2) {
      //   formdata.append('images[]', this.file_2);
      // }

      for (var key of formdata.keys()) {
        console.log(key);
      }
      for (var value of formdata.values()) {
        console.log(value);
      }



      this.$axios.post('/api/test/image', formdata, {
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        console.log(res);
      }).catch(err => {
        // alert(JSON.parse(err.response.statusText));
      })
    }
  },
}
</script>
