
.text-small[data-v-4032ed76] {
  font-size: 11px;
}
.position-relative[data-v-4032ed76] {
  position: relative;
}
.position-absolute[data-v-4032ed76] {
  position: absolute;
}
.text-center[data-v-4032ed76] {
  text-align: center;
}
.text-primary[data-v-4032ed76] {
  color: #2fa3e6;
}
.display-flex[data-v-4032ed76] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-column[data-v-4032ed76] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-wrap[data-v-4032ed76] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.justify-content-center[data-v-4032ed76] {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify-content-between[data-v-4032ed76] {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.justify-content-end[data-v-4032ed76] {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.align-items-center[data-v-4032ed76] {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.full-width[data-v-4032ed76] {
  width: 100%;
}
.full-height[data-v-4032ed76] {
  height: 100%;
}
.cursor-pointer[data-v-4032ed76] {
  cursor: pointer;
}
.centered[data-v-4032ed76] {
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  top: 50%;
  position: absolute;
  display: block;
}
.image-container[data-v-4032ed76] {
  /* width: 300px; */
  /* height: 300px; */
  width: var(--container-width);
  height: auto;
  background-color: #1a1a1a;
}
.image-container[data-v-4032ed76]:before {
  content: "";
  float: left;
  width:100%;
  padding-bottom: var(--container-height);
}
.image-container[data-v-4032ed76]:after {
  content: "";
  display: table;
  clear: both;
}
.image-center[data-v-4032ed76] {
  width: 100%;
  height: 100%;
}
.image-icon-loading[data-v-4032ed76] {
  width:40px;
  height:40px;
  fill: #fff;
  -webkit-animation: spin-data-v-4032ed76 3s infinite linear;
          animation: spin-data-v-4032ed76 3s infinite linear;
}
.image-icon-drag-wrap[data-v-4032ed76] {
  margin-bottom:24px;
}
.image-icon-drag[data-v-4032ed76] {
  fill: #fff;
  height: 40px;
  width: 40px;
}
.drag-text[data-v-4032ed76] {
  padding-top: 5px;
  color: #777;
  font-weight: 400;
  line-height: 1.5;
}
.browse-text[data-v-4032ed76] {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width:128px;
  height:48px;
  border:2px solid #c2c2c2;
  /* font-size: 86%; */
  font-size: 1.125rem;
  font-weight: 700;
  text-indent: unset;
  text-transform: none;
  color: #c2c2c2;
  text-decoration: none;
}
.image-input[data-v-4032ed76] {
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.image-input label[data-v-4032ed76] {
  display: block;
}
.drag-upload-cover[data-v-4032ed76] {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FCFEFF;
  opacity: .9;
  z-index: 1;
  margin: 5px;
  border: 2px dashed #268DDD;
}
.drag-upload-cover[data-v-4032ed76] {
  font-weight: 400;
  font-size: 20px;
}
.icon-drag-drop[data-v-4032ed76] {
  height: 50px;
  width: 50px;
  fill: #2fa3e6;
}
.drop-text-here[data-v-4032ed76] {
  margin: 0;
  line-height: 1.5;
}
.display-none[data-v-4032ed76] {
  display: none;
}

/* list images*/
.image-list[data-v-4032ed76] {
}
.preview-image[data-v-4032ed76] {
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  /* height: 140px; */
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.img-responsive[data-v-4032ed76] {
  display: block;
  max-width: 100%;
  height: auto;
}
/* .show-img {
  max-height: 100px;
  max-width: 140px;
  display: block;
  vertical-align: middle;
} */
/*image bottom*/
.image-bottom[data-v-4032ed76] {
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.image-primary[data-v-4032ed76] {
  border-radius: 4px;
  background-color: #e3edf7;
  padding: 3px 7px;
  font-size: 11px;
  margin-right: 5px;
}
.image-icon-primary[data-v-4032ed76] {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
.image-delete[data-v-4032ed76] {
  display:flex-inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:24px;
  height:24px;
  background:rgba(0,0,0,0.2);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.image-icon-delete[data-v-4032ed76] {
  height: 14px;
  width: 14px;
  fill: #fff;
}
.image-edit[data-v-4032ed76] {
  margin-right: 10px;
  display:flex-inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width:24px;
  height:24px;
  background:rgba(0,0,0,0.2);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}
.image-icon-edit[data-v-4032ed76] {
  height: 14px;
  width: 14px;
  fill: #fff;
}
.image-delete[data-v-4032ed76]:hover,
.image-edit[data-v-4032ed76]:hover {
  background:rgba(0,0,0,1);
}
.image-list-container[data-v-4032ed76] {
  /* max-width: 190px; */
  min-height: 50px;
  margin-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.image-list-container .image-list-item[data-v-4032ed76] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* height: 32px;
  width: 32px; */
  padding-top:11%;
  /* border-radius: 4px; */
  /* border: 1px solid #D6D6D6; */
  background-color:#232323;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.image-list-container .image-list-item[data-v-4032ed76]:not(:last-child) {
  margin-right: 12px;
  /* margin-bottom: 5px; */
}
.image-list-container .image-list-item .show-img[data-v-4032ed76] {
  max-width: 25px;
  max-height: 17px;
}
.image-list-container .image-highlight[data-v-4032ed76] {
  /* border: 1px solid #2fa3e7; */
}
.image-list-container .image-highlight[data-v-4032ed76]:after {
  content: '';
  display:block;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  border:3px solid #fff;
  background-color:rgba(0,0,0,0.3);
}
.add-image-svg[data-v-4032ed76] {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  width: 66px;
  height: 66px;
  /* fill: #222; */
}
.input-add-image[data-v-4032ed76] {
  overflow: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
}
.input-add-image label[data-v-4032ed76] {
  display: block;
}
.image-icon-info[data-v-4032ed76] {
  width: 14px;
  height: 14px;
  fill: #222;
}
.mark-text-primary[data-v-4032ed76] {
  color: #034694;
}
@-webkit-keyframes spin-data-v-4032ed76{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes spin-data-v-4032ed76{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}

