<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="top_area d-flex">
      <v-btn depressed tile text outlined @click="$router.go(-1)" class="btn-back"><v-icon>xi-angle-left</v-icon></v-btn>
      <div class="atitle">관리자 상세</div>
    </div>

    <v-form
      ref="form"
      v-model="formValid"
    >

      <div class="content_area">

        <table class="tb_user">
          <tbody>
            <tr>
              <th rowspan="3" class="stit">계정 정보</th>
              <th>아이디</th>
              <th v-if="isCreate">비밀번호</th>
              <th>담당자명</th>
              <th>담당자 유선 번호 (내선)</th>
              <th>담당자 무선 번호</th>
              <th>담당자 이메일</th>
              <th v-if="!isCreate">마지막 로그인 일자</th>
            </tr>
            <tr>
              <td v-if="isCreate">
                <v-text-field
                  v-model="u_id"
                  :rules="[rules.required]"
                  :error-messages="error_id"
                  :success-messages="success_id"
                  label="아이디"
                  autocomplete="off"
                  hint="5~16자의 영문,숫자"
                  persistent-hint
                  maxlength="16"
                  solo
                  flat
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td v-if="!isCreate">
                <div class="holder">{{ u_id }}</div>
              </td>
              <td v-if="isCreate">
                <v-text-field
                  v-model="u_password"
                  :rules="[rules.required, rules.password]"
                  label="비밀번호"
                  autocomplete="new-password"
                  hint="8~24자의 영문,숫자,특수문자"
                  persistent-hint
                  maxlength="24"
                  solo
                  flat
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="u_name"
                  :rules="[rules.required]"
                  label="담당자명"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="u_phone1"
                  :rules="[rules.phone1]"
                  label="담당자 유선 번호"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="u_phone2"
                  :rules="[rules.required, rules.phone2]"
                  label="담당자 무선 번호"
                  maxlength="13"
                  autocomplete="off"
                  solo
                  flat
                  :disabled="isModified"
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td v-if="isCreate">
                <v-text-field
                  v-model="u_email"
                  :rules="[rules.required]"
                  :error-messages="error_email"
                  :success-messages="success_email"
                  label="담당자 이메일"
                  autocomplete="off"
                  solo
                  flat
                  required
                >
                  <template v-slot:message="{message}"><span v-html="message"></span></template>
                </v-text-field>
              </td>
              <td v-if="!isCreate">
                <div class="holder">{{ u_email }}</div>
              </td>
              <td v-if="!isCreate"><div class="holder">{{ u_lastime }}</div></td>
            </tr>
            <tr>
              <td colspan="6"><v-divider></v-divider></td>
            </tr>
            <tr>
              <th rowspan="3" class="stit">할당 권한</th>
            </tr>
            <tr>
              <td colspan="6">
                <div class="box_auth">
                  <v-list class="list_auth" :class="!isModified ? 'active' : ''">
                    <v-list-item-group v-model="auth_list_group" multiple>
                      <v-list-item
                        v-for="(item, index) in auth_list"
                        :key="index"
                        :value="item.value"
                        @click="select_auth(item.value)"
                      >
                        <v-list-item-content>
                          {{item.text}}
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                  <div class="sep">
                    <v-icon>xi-angle-right</v-icon>
                    <v-icon>xi-angle-left</v-icon>
                  </div>
                  <v-list class="list_auth" :class="!isModified ? 'active' : ''">
                    <v-list-item-group v-model="auth_selected_group" multiple>
                      <v-list-item
                        v-for="(item, index) in auth_list"
                        :key="index"
                        :value="item.value"
                        @click="deselect_auth(item.value)"
                      >
                        <v-list-item-content>
                          {{item.text}}
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </div>
                <v-checkbox
                  v-model="is_super"
                  label="슈퍼관리자 입니다"
                  true-value="Y"
                  false-value="N"
                  hide-details
                  off-icon ="mdi-checkbox-blank-outline"
                  on-icon ="mdi-checkbox-marked"
                  @change="setSuper($event)"
                  :disabled="isModified"
                >
                </v-checkbox>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="bottom_area d-flex">
        <v-spacer></v-spacer>
        <v-btn v-if="isModified" depressed tile text outlined x-small @click="modifyForm">수정하기</v-btn>
        <v-btn v-else depressed tile text outlined x-small @click="submitForm">저장하기</v-btn>
        <v-btn depressed tile text outlined x-small @click="openModal('delete')">삭제하기</v-btn>
      </div>
    </v-form>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text>
          <div class="text-width-select-multline">
            <div v-html="modalContent"></div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn depressed tile text outlined small @click="removeAdmin">삭제</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/administrator/AdministratorDetail.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '관리자설정', title_sub_2: '관리자 목록' },
      permission: false,

      formValid: false,
      isModified: false,
      isCreate: false,

      error_id: [],
      success_id: [],
      error_email: [],
      success_email: [],

      ua_id: 0,
      ua_uath: [],
      auth_list: [],
      ua_info: [],
      u_id: '',
      u_password: '',
      u_name: '',
      u_phone1: '',
      u_phone2: '',
      u_email: '',
      u_lastime: '',
      is_super: 'N',

      auth_list: [
        { text: '대시보드', value: 'da' },
        { text: '회원설정', value: 'us' },
        { text: '결제관리', value: 'pa' },
        { text: '기본설정', value: 'ba' },
        { text: '출품관리', value: 'aw' },
        { text: '관리자설정', value: 'ua' },
      ],
      auth_list_group: ['da', 'us', 'pa', 'ba', 'aw', 'ua'],
      auth_selected_group: [],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        delete: { title: '관리자 삭제', content: '해당 관리자를 삭제하시겠습니까?' }
      },

      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        delete: { content: '삭제되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
        required: { content: '필수값을 입력해 주세요', color: 'error', icon: 'xi-error-o' },
      },

      rules: {
        required: value => !!value || '필수 입력',
        password: value => {
          const pattern = /^.*(?=^.{8,24}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&\+\=\*\(\)\-\_\/\?\<\>\[\]\{\}\:\;\'\"\‘\“\`\~\|\.\,\₩\\]).*$/
          return pattern.test(value) || '8~24자의 영문,숫자,특수문자'
        },
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || '올바른 이메일을 입력'
        },
        phone1: value => {
          return this.chk_tel(value) || '올바른 유선 번호를 입력'
        },
        phone2: value => {
          return this.chk_phone(value) || '올바른 휴대폰 번호를 입력'
        },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  watch: {
    async u_id(value) {
      this.error_id = this.error_id;
      const pattern = /^[A-Za-z0-9+]{5,16}$/;
      const checkLoginForm = new FormData();
      checkLoginForm.append('u_id', value);

      const res = this.$axios.post('/api/find_user_id', checkLoginForm, {
        headers: { "Content-Type": "multipart/form-data" }
      }).then(res => {
        if (!pattern.test(value)) {
          this.error_id = ['5~16자의 영문,숫자'];
        } else {
          if (res.status == '200') {
            this.error_id = [];
            this.success_id = ['사용 가능한 아이디'];
          } else {
            this.error_id = ['이미 사용중인 아이디'];
          }
        }
      }).catch(err =>{
        this.error_id = ['이미 사용중인 아이디'];
      });
    },
    async u_email(value) {
      this.error_email = this.error_email;
      const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const checkEmailForm = new FormData();
      checkEmailForm.append('u_email', value);

      const res = this.$axios.post('/api/find_user_email', checkEmailForm,{
        headers: { "Content-Type": "multipart/form-data" }
      }).then(res => {
        if (!pattern.test(value)) {
          this.error_email = ['올바른 이메일을 입력'];
        } else {
          if (res.status == '200') {
            this.error_email = [];
            this.success_email = ['사용 가능한 이메일'];
          } else {
            this.error_email = ['이미 가입된 이메일'];
          }
        }
      }).catch(err =>{
        // alert(JSON.parse(err.response.statusText));
        this.error_email = ['이미 가입된 이메일'];
      });
    }
  },
  methods: {
    fetchItems() {
      this.checkPermission('ua')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.ua_id = this.$route.params.ua_id ? this.$route.params.ua_id : 0;
      if (this.ua_id > 0) {
        this.isModified = true;

        this.$axios.get('/api/admin/admin/view/' + this.ua_id).then(res => {
          this.ua_info = res.data.data;
          // console.log('ua_info', this.ua_info);

          this.u_id = this.ua_info.u_id;
          this.u_datetime = this.ua_info.u_datetime;
          this.u_lastime = this.ua_info.u_lastime;
          this.u_name = this.ua_info.u_name;
          this.u_phone1 = this.ua_info.u_phone1;
          this.u_phone2 = this.ua_info.u_phone2;
          this.u_email = this.ua_info.u_email;
          this.ua_auth = this.ua_info.ua_auth ? this.ua_info.ua_auth.split(',') : '';
          this.is_super = this.ua_info.is_super;

          if (this.ua_auth) {
            let ua_auth = this.ua_auth;
            this.auth_list_group = this.auth_list_group.filter(function(item) {
              return !ua_auth.includes(item);
            })
            this.auth_selected_group = [];
            this.auth_selected_group.push.apply(this.auth_selected_group, this.ua_auth)
          }
        });
      } else {
        this.isCreate = true;
      }
    },
    modifyForm() {
      this.isModified = false;
    },
    chk_tel(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      const pattern8 = /^([0-9]{4})-?([0-9]{4})$/
      const pattern9 = /^02-?([0-9]{3})-?([0-9]{4})$/
      const pattern10a = /^02-?([0-9]{4})-?([0-9]{4})$/
      const pattern10b = /^([0-9]{3})-?([0-9]{3})-?([0-9]{4})$/
      const pattern11 = /^([0-9]{3})-?([0-9]{4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return true;
      }
      else if (len == 3) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        this.u_phone1 = this.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 8) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        this.u_phone1 = this.u_phone1.replace(/([0-9]{4})([0-9]{4})/, "$1-$2");
        return pattern8.test(this.u_phone1) || false;
      }
      else if (len == 9) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern9.test(this.u_phone1) || false;
        } else {
          return false;
        }
      }
      else if (len == 10) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{2})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern10a.test(this.u_phone1) || false;
        } else {
          this.u_phone1 = this.u_phone1.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
          return pattern10b.test(this.u_phone1) || false;
        }
      }
      else if (len == 11) {
        this.u_phone1 = this.u_phone1.replace(/\-/g,'');
        if (this.u_phone1.substring(0, 2) == '02') {
          return false;
        } else {
          this.u_phone1 = this.u_phone1.replace(/([0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
          return pattern11.test(this.u_phone1) || false;
        }
      }
      else {
        return false;
      }
    },
    chk_phone(str) {
      const count_hyphen = str ? (str.split('-').length - 1) : 0;
      const len = str ? Number(str.length - count_hyphen) : 0;
      const count = len - 1;
      const pattern = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/
      let ret = 0;
      let value = str;

      if (count >= 0) {
        ret = str.charCodeAt(count);
        for (var i = 0; i < str.length; i++) {
          if (!((ret > 47) && (ret < 58))) {
            return false;
          }
        }
      }

      if (!len) {
        return false;
      }
      else if (len == 3) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        return false;
      }
      else if (len == 4 || len == 6) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        this.u_phone2 = this.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]+)/, "$1-$2");
        return false;
      }
      else if (len == 10) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        this.u_phone2 = this.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{3})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.u_phone2) || false;
      }
      else if (len == 11) {
        this.u_phone2 = this.u_phone2.replace(/\-/g,'');
        this.u_phone2 = this.u_phone2.replace(/(^01.{1}|[0-9]{3})([0-9]{4})([0-9]+)/, "$1-$2-$3");
        return pattern.test(this.u_phone2) || false;
      }
      else {
        return false;
      }
    },
    select_auth(value) {
      this.auth_selected_group.push(value);
    },
    deselect_auth(value) {
      this.auth_list_group.push(value);
    },
    setSuper(value) {
      if (value == 'Y') {
        this.auth_selected_group = ['da', 'us', 'pa', 'ba', 'aw', 'ua'];
        this.auth_list_group = [];
      } else {
        this.auth_selected_group = [];
        this.auth_list_group = ['da', 'us', 'pa', 'ba', 'aw', 'ua'];
      }
    },
    openModal(type) {
      this.modalType = type;
      this.modalTitle = eval('this.modal.' + type + '.title');
      this.modalContent = eval('this.modal.' + type + '.content');
      this.modalConfirm = true;
    },
    submitForm: function() {
      if (this.formValid == true) {
        this.ua_auth = this.auth_selected_group;
        const formdata = new FormData();
        formdata.append('u_id', this.u_id);
        formdata.append('u_password', this.u_password);
        formdata.append('u_name', this.u_name);
        formdata.append('u_phone1', this.u_phone1);
        formdata.append('u_phone2', this.u_phone2);
        formdata.append('u_email', this.u_email);
        formdata.append('ua_auth', this.ua_auth);
        formdata.append('is_super', this.is_super);

        var api_user_update = '/api/admin/admin/create';
        if (this.ua_info.ua_id > 0) {
          formdata.append('ua_id', this.ua_info.ua_id);
          formdata.append('u_no', this.ua_info.u_no);
          api_user_update = '/api/admin/admin/modify';
        }

        this.$axios.post(
          api_user_update,formdata,{
            headers: { "Content-Type": "multipart/form-data" }
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.save);
          if (this.isCreate) {
            this.$router.go(-1);
          }
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        })
      } else {
        this.$store.commit('showSnackbar', this.snackbar.required);
      }
    },
    removeAdmin() {
      const formdata = new FormData();
      formdata.append('u_no', this.ua_info.u_no);
      formdata.append('ua_id', this.ua_info.ua_id);

      this.$axios.post('/api/admin/admin/remove', formdata,
        {
          headers: { "Content-Type": "multipart/form-data" }
        }
      ).then(res => {
        this.$store.commit('showSnackbar', this.snackbar.delete);
        this.$router.go(-1);
      }).catch(err => {
        this.$store.commit('showSnackbar', this.snackbar.error);
      });
      this.modalConfirm = false;
    }
  }
}
</script>
