<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="filter_wrap">
      <v-btn depressed tile text outlined x-small :to="{ name: 'adminAdministratorCreate' }">신규 관리자 등록</v-btn>
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="admin_selected"
      :headers="headers"
      :items="admins"
      item-key="ua_id"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="u_lastime"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
    >
      <template v-slot:item.u_lastime="{ item }">
        {{ formatDate(item.u_lastime) }}
      </template>
      <template v-slot:item.is_super="{ item }">
        {{ formatSuper(item.is_super) }}
      </template>
      <template v-slot:item.ua_auth="{ item }">
        {{ formatAuth(item.ua_auth) }}
      </template>
      <template v-slot:item.detail="{ item }">
        <v-btn depressed tile text x-small class="btn-type-angle btn-type-intable w60" :to="{ name: 'adminAdministratorDetail', params: { ua_id: item.ua_id }}">관리<v-icon>xi-angle-right</v-icon></v-btn>
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>

      <v-btn depressed tile text outlined x-small @click="openModal('status')">선택 할당처리</v-btn>
    </div>

    <v-dialog
      v-model="modalConfirm"
      overlay-color="rgba(0,0,0)"
      overlay-opacity="0.6"
      content-class="modal-confirm dialog-admin"
      max-width="500px"
      persistent
    >
      <v-card>
        <v-card-title>{{modalTitle}}</v-card-title>
        <v-card-text>
          <div class="text-width-select-multline">
            <div v-html="modalContent"></div>
            <v-select
              v-model="selected_auth"
              :items="select_auth"
              item-text="name"
              item-value="value"
              label="할당 권한 선택"
              append-icon="xi-angle-down-min"
              multiple
              hide-details
              flat
              solo
              :menu-props="{ contentClass: 'item_select' }"
              class="items_auth"
            ></v-select>
            <div>(으)로 변경</div>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn depressed tile text outlined small @click="set_auth(selected_auth)">할당</v-btn>
          <v-btn depressed tile text outlined small @click="modalConfirm = false">닫기</v-btn>
        </v-card-actions>
        <div class="btn_wrap">
          <v-btn depressed icon @click="modalConfirm = false" class="btn-close">
            <v-icon>xi-close</v-icon>
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/administrator/AdministratorList.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },
  data() {
    return {
      titles: { title_sub_1: '관리자설정', title_sub_2: '관리자 목록' },
      permission: false,

      search: '',
      itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        { text: '아이디', value: 'u_id', align: 'start td_id' },
        { text: '담당자', value: 'u_name', align: 'start td_id' },
        { text: '담당자 이메일', value: 'u_email' },
        { text: '마지막 로그인 일자', value: 'u_lastime', align: 'start td_date' },
        { text: '관리자 유형', value: 'is_super', align: 'start td_super' },
        { text: '할당 권한', value: 'ua_auth' },
        { text: '', value: 'detail', sortable: false, align: 'start view-detail' },
      ],

      selected_auth: '',
      select_auth: [
        { name: '대시보드', value: 'da' },
        { name: '회원설정', value: 'us' },
        { name: '결제관리', value: 'pa' },
        { name: '기본설정', value: 'ba' },
        { name: '출품관리', value: 'aw' },
        { name: '관리자설정', value: 'ua' },
      ],

      admins: [],
      admin_selected: [],

      modalConfirm: '',
      modalType: '',
      modalTitle: '',
      modalContent: '',

      modal: {
        status: { title: '선택 할당처리', content: '선택된 NN개 관리자의 권한을' }
      },
      snackbar: {
        check: { content: '선택된 항목이 없습니다', color: 'error', icon: 'xi-error-o' },
        complete: { content: '완료되었습니다', color: 'success', icon: 'xi-check' },
        save: { content: '저장되었습니다', color: 'success', icon: 'xi-check' },
        error: { content: '일시적인 오류가 발생하였습니다. 다시 시도해 주세요', color: 'error', icon: 'xi-error-o' },
      },
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  methods: {
    fetchItems() {
      this.checkPermission('ua')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.$axios.get('/api/admin/admin/main').then(res => {
        this.admins = res.data.data;
        // console.log(this.admins);
      });
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
    formatSuper(value) {
      let type = value;
      return value == 'Y' ? '슈퍼관리자' : '일반관리자';
    },
    formatAuth(value) {
      let auths = value ? value.split(',') : '';
      let arr = [], type = [];
      if (auths.length == 0) {
        return '권한없음';
      } else if (auths.length == 6) {
        return '모든권한';
      } else {
        for (let auth of auths) {
          if (auth == 'da') {
            type = '대시보드';
          } else if (auth == 'us') {
            type = '회원설정';
          } else if (auth == 'pa') {
            type = '결제관리';
          } else if (auth == 'ba') {
            type = '기본설정';
          } else if (auth == 'aw') {
            type = '출품관리';
          } else if (auth == 'ua') {
            type = '관리자설정';
          }
          arr.push(type);
        };
        return arr.join(' / ');
      }
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    openModal(type) {
      if (this.admin_selected.length > 0) {
        var num = this.admin_selected.length;
        this.modalType = type;
        this.modalTitle = eval('this.modal.' + type + '.title');
        this.modalContent = eval('this.modal.' + type + '.content').replace('NN', num);
        this.modalConfirm = true;
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
    },
    set_auth: function(auth) {
      var arr = [];
      this.admin_selected.forEach(element => {
        arr.push(element.ua_id);
      });

      if (arr.length > 0) {
        const formdata = new FormData();
        formdata.append('ua_list', arr);
        formdata.append('auth_list', auth);

        this.$axios.post('/api/admin/admin/patch', formdata, {
            headers: { "Content-Type": "multipart/form-data" }
          }
        ).then(res => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.save);
        }).catch(err => {
          this.fetchItems();
          this.$store.commit('showSnackbar', this.snackbar.error);
        })
      } else {
        this.$store.commit('showSnackbar', this.snackbar.check);
      }
      this.admin_selected = [];
      this.selected_auth = [];
      this.modalConfirm = false;
    }
  }
}
</script>