<template>
  <div v-if="permission && !$store.state.skeleton" class="content_wrap">
    <div class="filter_wrap">
      <v-spacer></v-spacer>
      <div class="filter-keyword">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="검색하기"
          autocomplete="off"
          single-line
          hide-details
          solo
          flat
        ></v-text-field>
      </div>
    </div>

    <v-data-table
      v-model="log_selected"
      :headers="headers"
      :items="logs"
      item-key="ual_id"
      :items-per-page="itemsPerPageValue"
      :page.sync="pagination"
      hide-default-footer
      sort-by="wdate"
      sort-desc
      :search="search"
      no-data-text="데이터가 없습니다"
      no-results-text="일치하는 데이터가 없습니다"
      :header-props="{'sort-icon': 'xi-sort-asc'}"
      show-select
      @page-count="pageCount = $event"
    >
      <template v-slot:item.wdate="{ item }">
        {{ formatDate(item.wdate) }}
      </template>
    </v-data-table>

    <div class="bot_util_wrap">
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-first" :to="{query: {page: 1}}"><v-icon>mdi-page-first</v-icon></v-btn>
      <v-pagination
        v-model="pagination"
        :length="pageCount"
        total-visible="10"
        class="pagination-admin"
        @input="updateUrl"
      >
      </v-pagination>
      <v-btn depressed tile text x-small exact-active-class="router-link-exact-active" class="btn-type-pagination btn-page-last" :to="{query: {page: pageCount}}"><v-icon>mdi-page-last</v-icon></v-btn>
      <v-spacer></v-spacer>
      <v-select
        v-model="itemsPerPageValue"
        :items="itemsPerPage"
        label="페이지당 표시 개수"
        append-icon="xi-angle-down-min"
        hide-details
        flat
        solo
        :menu-props="{ contentClass: 'item_select item_per_page' }"
        class="items_per_page"
      ></v-select>
    </div>
  </div>

  <skeleton v-else-if="$store.state.skeleton"></skeleton>
  <no-permission v-else></no-permission>
</template>

<script>
import noPermission from '@/components/admin/NoPermission.vue';
import Skeleton from '@/components/skeleton/admin/administrator/Logs.vue';

export default {
  components: {
    noPermission,
    Skeleton,
  },  
  data() {
    return {
      titles: { title_sub_1: '관리자설정', title_sub_2: '관리자 로그' },
      permission: false,

      search: '',
      itemsPerPageValue: 10,
      itemsPerPage: [
        { text: '10개씩 보기', value: 10 },
        { text: '20개씩 보기', value: 20 },
        { text: '30개씩 보기', value: 30 },
        { text: '50개씩 보기', value: 50 },
        { text: '100개씩 보기', value: 100 },
        { text: '500개씩 보기', value: 500 },
        { text: '1000개씩 보기', value: 1000 },
      ],
      pagination: 1,
      pageCount: 0,

      headers: [
        { text: '로그 일시', value: 'wdate', align: 'start td_date' },
        { text: '아이디', value: 'u_id', align: 'start td_id' },
        { text: '담당자', value: 'u_name' },
        { text: '담당자 이메일', value: 'u_email' },
        { text: '로그 내용', value: 'log_text' }
      ],

      logs: [],
      log_selected: [],
    }
  },
  mounted() {
    this.$parent.$emit('setTitle', this.titles);
    this.fetchItems();
  },
  watch: {
    '$route': 'fetchItems'
  },
  methods: {
    fetchItems() {
      this.checkPermission('ua')
        .then(response => {
          this.permission = response>0 ? true : false;
          // console.log('permission', this.permission);
        })
        .catch(error => {
          console.log(error);
        });

      this.pagination = this.$route.query.page ? Number(this.$route.query.page) : 1;
      this.$router.push({query: {page: this.pagination}}).catch(()=>{});

      this.$axios.get('/api/admin/admin/logs').then(res => {
        this.logs = res.data.data;
        // console.log(this.logs);
      });
    },
    updateUrl() {
      this.$router.push({query: {page: this.pagination}})
    },
    formatDate(value) {
      return value ? this.$moment(value).format('YYYY.MM.DD HH:mm:ss') : '-';
    },
  }
}
</script>