<template>
<svg xmlns="http://www.w3.org/2000/svg" width="22" height="15" viewBox="0 0 22 15">
  <defs>
    <filter id="yon39olyqa">
      <feColorMatrix in="SourceGraphic" values="0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0"/>
    </filter>
  </defs>
  <g fill="none" fill-rule="evenodd">
    <g>
      <g>
        <g>
          <g filter="url(#yon39olyqa)" transform="translate(-1700 -871) translate(332 29) translate(1328 818) translate(40 18)">
            <g>
              <path fill="#D8D8D8" stroke="#979797" d="M5.5 13H21.5V14H5.5zM5.5 7H21.5V8H5.5zM5.5 1H21.5V2H5.5zM.5.5H2.5V2.5H.5zM.5 6.5H2.5V8.5H.5zM.5 12.5H2.5V14.5H.5z" transform="translate(0 6)"/>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
</template>