<template>
  <div>
    <div @click="launchFilePicker()">
      <slot name="activator"></slot>
    </div>
    <input type="file"
      ref="file"
      :name="uploadFieldName"
      @change="onFileChange(
        $event.target.name, $event.target.files)"
      style="display:none"
    >
    <v-dialog max-width="400" v-model="errorDialog">
      <v-card class="d-flex flex-column justify-center align-center">
        <v-card-title><v-icon>xi-info</v-icon></v-card-title>
        <v-card-text v-html="errorText" class="text-center"></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed @click="errorDialog = false">확인</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  export default {
    name: 'image-input',
    data: ()=> ({
      errorDialog: null,
      errorText: '',
      uploadFieldName: 'image_upload',
      maxSize: 5120
    }),
    props: {
      value: Object,
    },
    methods: {
      launchFilePicker(){
        this.$refs.file.click();
      },
      onFileChange(fieldName, file) {
        const { maxSize } = this
        let imageFile = file[0]

        if (file.length > 0) {
          let size = imageFile.size / (maxSize * 1024)
          if (!imageFile.type.match('image.*')) {
            this.errorDialog = true
            this.errorText = '이미지 파일을 선택해주세요'
          } else if (size > 1) {
            this.errorDialog = true
            this.errorText = '이미지 용량이 너무 큽니다<br>5MB 미만의 이미지를 사용해주세요'
          } else {
            let formData = new FormData()
            let imageURL = URL.createObjectURL(imageFile)
            formData.append(fieldName, imageFile)

            this.$emit('input', { formData, imageURL })
          }
        }
      }
    }
  }
</script>

<style>

</style>