<template>
  <div class="popup_wrap">
    <div v-for="(popup, index) in popups" :key="popup.pop_id" class="popup_item"
      :style="'width:'+popup.pop_width+'px;height:'+popup.pop_height+'px;left:'+popup.pop_x+'px;top:'+popup.pop_y+'px;'"
    >
      <div class="popup_content">
        <div class="popup_img">
          <v-img
            v-if="popup.pop_picture"
            :src="popup.pop_picture"
          ></v-img>
        </div>
        <div v-if="popup.pop_headline" class="popup_headline" v-html="popup.pop_headline"></div>
      </div>
      <div class="popup_close" @click.self="close_popup"><v-icon>mdi-close</v-icon></div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      current_award: '',
      a_id: '',
      popups: [],
    }
  },
  mounted() {
    this.$axios.get('/api/get/current_award').then(res => {
      this.current_award = res.data;
      this.a_id = res.data.a_id
      // console.log(this.current_award);
      this.$axios.get('/api/service/popup/' + this.a_id).then(res => {
        let popups_all = res.data.data;
        // console.log(popups_all);
        for (let popup of popups_all) {
          if (popup.pop_status == 1) {
            let now = this.$moment().format('YYYY-MM-DD HH:mm:ss');
            if ((popup.pop_start == "0000-00-00 00:00:00" && popup.pop_end == "0000-00-00 00:00:00") || (popup.pop_start == "0000-00-00 00:00:00" && now <= popup.pop_end) || (now >= popup.pop_start && popup.pop_end == "0000-00-00 00:00:00") || (now >= popup.pop_start && now <= popup.pop_end)) {
              if ((this.$route.name == "userMain") || (this.$route.name != "userMain" && popup.pop_global == "1")) {
                popup.pop_headline = popup.pop_headline.replace(/(?:\r\n|\r|\n)/g, '<br>');
                setTimeout(() => {
                  this.popups.push(popup);
                }, 0);
              }
            }
          }
        }
        setTimeout(() => {
          this.popups.reverse()
          // console.log(this.popups);
        }, 0);
      });
    });
  },
  methods: {
    close_popup(event) {
      event.target.parentElement.remove();
    }
  },
}
</script>