<template>
  <v-dialog
    v-model="show"
    overlay-color="rgba(0,0,0)"
    overlay-opacity="0.6"
    content-class="modal-user"
    max-width="640px"
  >
    <v-card>
      <v-card-title>{{title}}</v-card-title>
      <v-card-text v-html="content"></v-card-text>
      <v-card-actions>
        <v-btn depressed tile text outlined small @click="show = false">확인</v-btn>
      </v-card-actions>
      <div class="btn_wrap">
        <v-btn depressed icon @click="show = false" class="btn-close">
          <v-icon>xi-close</v-icon>
        </v-btn>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      title: '',
      content: '',
    }
  },
  created () {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'showReady') {
        this.title = state.modalReadyTitle
        this.content = state.modalReadyContent
        this.show = true
      }
    })
  }
}
</script>