<template>
  <v-snackbar
    v-model="show"
    :color="color"
    :light="light"
    timeout="3000"
    bottom
    class="snackbar-global"
    transition="slide-y-reverse-transition"
  >
    <v-icon>{{ icon }}</v-icon><div class="pre-formatted">{{ message }}</div>
  </v-snackbar>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      message: '',
      color: '',
      light: false,
      icon: ''
    }
  },

  created () {
    this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'showSnackbar') {
        this.message = state.snackbarContent
        this.color = state.snackbarColor
        this.icon = state.snackbarIcon
        this.light = state.snackbarLight
        this.show = true
      }
    })
  }
}
</script>