<template>
  <div class="content_wrap skeleton">
    <v-skeleton-loader
      type="detail-top, space@4, detail-con, space@2, divider-c, space@2, detail-con, space@2, divider-c, space@2, detail-con2, space@4, detail-con3, space@2, divider-c, space@2, detail-con3, space@8, table-footer"
      :types="{ 'detail-top': 'avatar', 'detail-con': 'heading, label-con, label-con, label-con, label-con, label-con, label-con', 'detail-con2': 'heading, label-con, label-con, label-con, label-con', 'detail-con3': 'space, label-con, label-con, label-con, label-con', 'label-con': 'text@2', 'divider-c': 'divider', 'table-footer': 'button, button, button, button, button' }"
      tile
      class="inner"
    >
    </v-skeleton-loader>
  </div>
</template>

<script>
  export default {
    name: 'skeleton',
  }
</script>